<?php

$programmId = $data['programm-id'];
$ugs = $data['ugs'];
$organization = $data['organization'];
$application = $data['application'];
$expert_id = $data['expert_id'];
?>



    <div class="container" style="height: 100%; ">
        <div class="head_pop">
            <h2 id="title_pop">Отчёт об аккредитационной экспертизе</h2>

            <div class="cboxClose_end"></div>
        </div>
        <div class="box-popup">
            <iframe id="my_iframe" style="display:none;">qqq</iframe>

            <form style="position: relative;"  class="form-app">
                <input type="hidden" name="orgName" value="<?= $data['orgName'] ?>">
                <input type="hidden" name="idUser" value="<?= $data['userId'] ?>">

                <table class="intable">

                    <tr>
                        <td>Полное наименование ОО</td>
                        <td><?=$organization->getField('FullName')?>
                            <input type="hidden" value="<?=$organization->getField('FullName')?>" name="fullNameOO">
                        </td>

                    </tr>

                    <tr>
                        <td>Адрес ОО</td>
                        <td><?=$organization->getField('LawAddress');?>
                            <input type="hidden" value="<?=$organization->getField('LawAddress');?>" name="adressOOV">
                        </td>
                    </tr>

                    <tr>
                        <td>Уровень образования</td>
                        <td><?=$data['eduLevel']?></td>
                        <input type="hidden" value="<? echo $data['eduLevel']?>" name="educationLevel">
                    </tr>

                    <tr>
                        <td>Наименование ООП</td>
                        <td>
                            <?php echo $data['licensedProgram']['Name']?>
                            <input type="hidden" value="<? echo $data['licensedProgram']['Name']?>" name="nameOOP">
                        </td>
                    </tr>

                    <tr>
                        <td>Код УГС</td>
                        <td><?=$ugs?$ugs->getField('Code'):'-'?>
                            <input type="hidden" value="<?=$ugs?$ugs->getField('Code'):'-'?>" name="codeUgsValue">
                        </td>
                    </tr>

                    <tr>
                        <td>Название УГС</td>
                        <td>
                            <?=$ugs?$ugs->getField('Name'):'-'?>
                            <input type="hidden" value="<?=$ugs?$ugs->getField('Name'):'-'?>" name="cnameUgs">
                        </td>
                    </tr>

                    <tr>
                        <td>Код специальности</td>
                        <td>
                            <? echo $data['licensedProgram']['QualificationCode']?>
                            <input type="hidden" value="<?=$data['licensedProgram']['QualificationCode']?>" name="qualificationCode">
                        </td>
                    </tr>

                    <tr>
                        <td>Название специальности</td>
                        <td>
                            <?php echo $data['licensedProgram']['QualificationName']?>
                            <input type="hidden" value="<?=$data['licensedProgram']['QualificationName']?>" name="qName">
                        </td>
                    </tr>

                    <tr>
                        <td>Адрес реализации ООП</td>
                        <td>
                            <?=$data['implAdress']?>
                            <input type="hidden" value="<?=$data['implAdress']?>" name="adressRealizaciiOOP">
                        </td>
                    </tr>

                    <tr>
                        <td>ФИО эксперта</td>
                        <td>
                            <?=$data['fullName']?>
                            <input type="hidden" value="<?=$data['fullName']?>" name="fullName">
                        </td>
                    </tr>

                    <tr>
                        <td>Дата распоряжения</td>
                        <td><?php echo $data['documentData']['DateSign'] ? $data['documentData']['DateSign'] : 1 ?></td>
                        <input type="hidden" value="<?=$data['documentData']['DateSign']?>" name="dateRasporyazheniya">
                    </tr>

                    <tr>
                        <td>Номер распоряжения</td>
                        <td>
                            <?php echo $data['documentData']['Number'] ?  $data['documentData']['Number']: 1?>
                            <input type="hidden" value="<?php echo $data['documentData']['Number']?>" name="numberRasporyazheniya">
                        </td>
                    </tr>

                    <tr>
                        <td>Состав расмотренных документов</td>
                        <td>
                            <textarea name="documentsSostav" cols="120" rows="10" required></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>Код специальности по ФГОС</td>
                        <td><?php echo $data['eduProgram']['QualificationCode']?></td>
                        <input type="hidden" value="<?php echo $data['eduProgram']['QualificationCode']?>" name="qualificationCodeFgos">
                    </tr>
                    <tr>
                        <td>Название специальности по ФГОС</td>
                        <td><?php echo $data['eduProgram']['QualificationName']?></td>
                        <input type="hidden" value="<?php echo $data['eduProgram']['QualificationName']?>" name="qualificationNameFgos">
                    </tr>

                    <tr>
                        <td>Направление подготовки по ФГОС</td>
                        <td><?php echo$data['nameDirectory']['ShortName']?></td>
                        <input type="hidden" value="<?php echo $data['nameDirectory']['ShortName']?>" name="waySpecialnostiFgos">
                    </tr>

                    <tr>
                        <td>Уровень образования по ФГОС</td>
                        <td><?=$data['eduLevel']?></td>
                        <input type="hidden" value="<?php echo $data['eduLevel']?>" name="levelEducationFgos">
                    </tr>

                    <tr>
                        <td>Дата приказа об утверждении ФГОС</td>
                        <td>

                            <input type="date" name="calendarDateFgos" value="2017-01-01" max="2020-06-04" min="2017-05-29" required>
                        </td>
                    </tr>

                    <tr>
                        <td>Номер приказа об утверждении ФГОС</td>
                        <td>
                            <input type="text" name="numberFgos"  required>
                        </td>
                    </tr>

                    <tr>
                        <td>Наличие несоответствий содержания и качества подготовки учащихся по ООП приятому ФГОС</td>
                        <td>
                            <select name="sootvetsvieFgos">
                                <option selected value="не выявлены">Не выявлены</option>
                                <option  value="выявлены">Выявлены</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Факты несоответствий (с подтверждающими документами)</td>
                        <td>
                            <textarea name="facts" cols="120" rows="10" required></textarea>
                            <!--<input type="text" size="50" name="facts" required>-->
                        </td>
                    </tr>

                    <tr>
                        <td>Соответствие ООП требованиям ФГОС</td>
                        <td>
                            <select class="form-control form-control-lg" name="document">

                                <option selected value="Otchet_pozitiv.docx">Соответсвие</option>
                                <option  value="Otchet_negativ.docx">Несоответсвие</option>

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Дата составления отчёта</td>
                        <td>
                            <input type="date" name="calendarCreateReport" value="2017-01-01"
                                   max="2020-06-04" min="2017-05-29" required>
                        </td>
                    </tr>

                </table>
                <input  style="position: absolute;  right: 1px; bottom: -60px;" type="submit" name="phpForm" value="Сформировать отчет" class="btn-pop-up-document-generate js-phpFile">
            </form>




            <div style="padding: 100px 0px;">
                <hr>
                <h3>Подписанный отчет:</h3><br>
                <input type="hidden" name="expertiseId" value="<?php echo $programmId; ?>">

                <!--id="uploadExpertise29"-->
                <a  class="uploadExpertise29-<?=$expert_id?>" document-type="29" programm-id="<?php echo $programmId; ?>" onclick="getUploadDialog(this, 2);">Загрузить</a>
                <div class="fileLoaded29 js-fileLoaded"></div>


            </div>



        </div>
    </div>

<script>
    var answer;
    var infoCertificate;
</script>


