<?php
//
//$programmId = $data['programm-id'];
//$ugs = $data['ugs'];
//$organization = $data['organization'];
$application = $data['application'];
//$chairman = $data['chairman'];

//?>
<!--<script src="/js/generateDocumentAjaxPhp.js"></script>-->
<div class="container" style="height: 100%;">
    <div class="head_pop">
        <h2 id="title_pop">Перечень фактов недостоверности</h2>

        <div class="cboxClose_end"></div>
    </div>
    <div class="box-popup">


        <form id="extraDocumentFormButtom" enctype="multipart/form-data">
            <div style="padding: 30px 0px;">
                <hr>

                <input type="hidden" name="AppId" value="<?php echo $application->getId()?>">
<!--                <input type="hidden" name="expertiseId" value="--><?php //echo $data['expertise_id'] ?><!--">-->
<!--                <input type="hidden" name="expertId" value="--><?php //echo $chairman->getId() ?><!--">-->
                <input type="hidden" name="documentType" value="100"><br \>


                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Описание факта недостоверности:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="corruptText" rows="6""></textarea>
                </div>
                <input onchange="doChangeFile($(this));" accept="application/pdf,  application/zip, .sig, .zNN, .rNN" multiple  name="file" type="file">
                <input type="button" name="sendToAjax" class="extraDocumentFormButtom" value="Записать в бд">
            </div>

        </form>

    </div>
</div>


<script>
    $(".js-btn-popup-expertise-conclusion").on("click", function (event) {
        //console.dir(event.target.attributes['document-type'].value);
        var id2 = event.target.attributes['document-type'].value;
        $(".popup-expertise-conclusion").show();
        $(".popup-expertise-conclusion .btn-pop-up-document-generate").attr("data-x", id2);
        $(".popup-expertise-conclusion form").attr("id", "form-pop-up-document-" + id2);
    });


    $(".popup-expertise-conclusion").delegate(".cboxClose_end", "click", function () {

        $(".popup-expertise-conclusion").hide();

    });

    function doChangeFile(el){
        var  url = '<?=$this->url('ron/default',['controller'=>"expertise","action"=>"saveTempReport"])?>';
        //console.log(url);
        var data = new FormData();

        //console.log("el = ", el);
        if(el[0].files[0] != 'undefined') {
            data.append('file', el[0].files[0]);
            $(".loading-overlay").show();
            $.ajax({
                url: url,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                type: 'POST',
                success: function (data) {
                    var obj = JSON.parse(JSON.stringify(data));
                    console.log(obj);
                    $(".loading-overlay").hide();
                    if (obj['answer'] == "error") {
                        useTopHoverTitleError(obj['status']);

                        var nameFile = obj['name'];
                        var isError = $('span').hasClass("error-alert");
                        if (!isError) {
                            //$(".info-file").html("<span class='error-alert'></span>");
                            $(".info-file").html("<span class='error-alert'></span>");
                        }
                        /*GOTO Удалить строку*/
                        //$(".commission-button.order-include-dialog-ok").removeClass("notActive");

                    } else {
                        if(obj['answer'] == "ok"){
                            //obj['tmp']
                            $(".commission-button.order-include-dialog-ok").removeClass("notActive");
                            $(".order-include-dialog-form").find("ok-greene").remove();

                            var nameFile = obj['name'];
                            if (!$('span').hasClass("MultiFile-remove")) {
                                $(".file-loaded").html("<span class='MultiFile-remove'></span> " + nameFile);
                            }
                            if (!$('span').hasClass("ok-greene")) {
                                $(".file-loaded").html(nameFile);
                            }
                            $(".info-file").html("<span class='ok-green'></span>");
                            answer = obj;
                        }else{
                            console.log("Not ok");
                        }
                    }
                }
            });
        }
    }

    $(function () {

        $("body").on("click",'.ok-green', function () {
            //GoTo загрузить инфу о проверке подписи
            console.log("GoTo");
            console.log($(this).attr("fileid"));
            var url='<?=$this->url('ron/default',['controller'=>"expertise","action"=>"getExpertiseDocumentFileCertificates"])?>';;
            $.ajax({
                url: url,
                data: {
                    fileId:$(this).attr("fileid"),
                },
                cache: false,
                type: 'POST',
                success: function (data) {
                    var obj = JSON.parse(JSON.stringify(data));
                    console.log(obj);
                    var $NotAfter,
                        $NotBefore,
                        $cn_work,
                        $email,
                        $g_name,
                        $local_signing_time,
                        $sn_name,
                        $street
                    $valid= "Не валидна";


                    if(obj['answer']=='ok'){
                        $valid="Подпись валидна";
                        $NotAfter = obj['result'][0]['NotAfter'];
                        $NotBefore= obj['result'][0]['NotBefore'];
                        $cn_work= obj['result'][0]['cn_work'];
                        $email= obj['result'][0]['email'];
                        $g_name= obj['result'][0]['g_name'];
                        $local_signing_time= obj['result'][0]['verification_date']=="null"?"":obj['result'][0]['verification_date'];
                        $sn_name= obj['result'][0]['sn_name'];
                        $street= obj['result'][0]['street'];
                    }

                    var html = "";

                    html += "<div class='viewzone'><div class='section-title'>Результат проверки</div>";
                    html += "<table id='fields_form'>";
                    html += "<tr><td class='title_form'>Дата проверки:</td>";
                    html += "<td>"+$local_signing_time+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td class='title_form'>Результат</td>";
                    html += "<td>"+$valid+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td colspan=\"2\"><div class=\"section-title\">Данные владельца сертификата подписи</div></td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td class=\"title_form\">ФИО</td>";
                    html += "<td>"+$sn_name+" "+$g_name+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td class=\"title_form\">Место работы</td>";
                    html += "<td>"+$cn_work+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td class=\"title_form\">Email</td>";
                    html += "<td>"+$email+"</td>";
                    html += "</tr>";
                    html += "<tr>";
                    html += "<td class=\"title_form\">Срок действия сертификата</td>";
                    html += "<td>"+$NotBefore+" - "+$NotAfter+"</td>";
                    html += "</tr>";
                    html += "</table></div>";


                    $('.dialog_sign_info').remove();
                    $("<div class='dialog_sign_info'></div>").html(html)
                        .dialog({
                            autoOpen: false,
                            title: "Информация о проверке подписи файла",
                            modal: true,
                            width: 800,
                            buttons: {
                                "Закрыть": function () {
                                    $(this).dialog("close");
                                }
                            }
                        }).dialog("open")


                }
            });




        });



    });

</script>