<?php

$programmId = $data['programm-id'];
$ugs = $data['ugs'];
$organization = $data['organization'];
$application = $data['application'];
$chairman = $data['chairman'];
?>
<!--<script src="/js/generateDocumentAjaxPhp.js"></script>-->
<div class="container" style="height: 100%;">
    <div class="head_pop">
        <h2 id="title_pop">Запрос дополнительных материалов</h2>

        <div class="cboxClose_end"></div>
    </div>
    <div class="box-popup">

        <form class="form-app" id="<?php echo $application->getId() ?>" method="post">
            <input type="hidden" name="appId" value="<?php echo $application->getId() ?>">
            <table class="intable">

                <tr>
                    <td>Полное наименование ОО</td>
                    <td>
                        <?= $organization->getField('FullName') ?>
                        <input type="hidden" value="<?= $organization->getField('FullName') ?>" name="ogrValue">
                        <input type="hidden" value="<?= $chairman->getId()?>" name="idUser">
                    </td>

                </tr>
                <tr>
                    <td>ФИО уполномоченного лица</td>
                    <td>
                        <?=$data['organization']->getField('ContactSecondName')." ".$data['organization']->getField('ContactFirstName')." ".$data['organization']->getField('ContactLastName')?>

                        <input type="hidden" value="Полное наименование ОО" name="adressOOName">
                    </td>

                </tr>
                <tr>
                    <td>Вид ООП</td>
                    <td>
                        <select name="document">
                            <option  value="midle.docx">Основная образовательная программа – образовательная программа начального общего образования</option>
                            <option  value="midle2.docx">Основная образовательная программа – образовательная программа основного общего образования</option>
                            <option  value="midle3.docx">Основная образовательная программа – образовательная программа среднего общего образования</option>
                            <option  value="midle4.docx">Основная образовательная программа – образовательная программа среднего профессионального образования</option>
                            <option  value="bak-mag.docx">Основная образовательная программа высшего образования – программа бакалавриата</option>
                            <option  value="bak-mag2.docx">Основная образовательная программа высшего образования – программа специалитета</option>
                            <option  value="bak-mag3.docx">Основная образовательная программа высшего образования – программа магистратуры</option>
                            <option  value="nauxh.docx">Основная образовательная программа высшего образования – программа подготовки научно-педагогических кадров в аспирантуре</option>
                            <option  value="nauxh2.docx">Основная образовательная программа высшего образования – программа подготовки научно-педагогических кадров в адъюнктуре</option>
                            <option  value="nauxh3.docx">Основная образовательная программа высшего образования – программа ординатуры</option>
                        </select>
                        <input type="hidden" value="Основная образовательная программа высшего образования – программа специалитета" name="eduProgram">
                    </td>

                </tr>
                <tr>
                    <td>Способ проведения экспертизы</td>
                    <td>
                        с выездом<input type="hidden" name="expertiseExecutionType" value="с выездом"/>
                    </td>
                </tr>
               <tr>
                    <td>Дата распоряжения</td>
                    <td>
<!--                        <input value="" type="date">-->
                        <?= $application->getField('DateReg') ?>

                        <input type="hidden" value="DateReg" name="codeUgsName">
                    </td>
                </tr>
                <tr>
                    <td>Номер распоряжения</td>
                    <td>
                        <?= $application->getField('RegNumber') ?>
                        <input type="hidden" value="RegNumber" name="UgsName">
                    </td>
                </tr>
                <tr>
                    <td>Наименование ООП</td>
                    <td><?= $data['oop']->getName() ?></td>
                    <td><input hidden value="<?= $data['oop']->getName() ?>" name="programmName"></td>
                </tr>
                <tr>
                    <td>Час предоставления документов и материалов</td>
                    <td>
                        <input  name="time" type="input" required>
                    </td>
                </tr>
                <tr>
                    <td>Дата предоставления документов и материалов</td>
                    <td>
                        <input  name="date" type="input" required >
                    </td>
                </tr>
                <tr>
                    <td>Руководитель экспертной группы</td>
                    <td>
                        <?php echo $chairman->getField('last_name') . ' '.
                                    $chairman->getField('name') . ' '.
                                    $chairman->getField('middle_name')?>

                    </td>
                </tr>
                <tr>
                    <td>Дата составления запроса</td>
                    <td>
                        <input value="<?php echo date("Y-m-d"); ?>" type="date">

                    </td>

            </table>
            <input type='hidden' name='email-to' value="<?= $organization->getField('Mails')?>"/>
            <input id="dop" style="float: right" type="submit" class="btn-pop-up-document-generate js-phpFile" name="phpForm" value="Сформировать" >
        </form>

        <form id="extraDocumentForm" enctype="multipart/form-data">
            <div style="padding: 30px 0px;">
                <hr>
                Подписанный отчет:<br>
                <input type="hidden" name="AppId" value="<?php echo $application->getId()?>">
                <input type="hidden" name="expertiseId" value="<?php echo $data['expertise_id'] ?>">
                <input type="hidden" name="expertId" value="<?php echo $chairman->getId() ?>">
                <input type="hidden" name="documentType" value="100">
                <div style="float: left" class="info-file-dop info-file hide"><span class="ok-green"></span></div>
                <div style="float: left" class="error-file-dop error-file hide"><span class="error-alert"></span></div>
                <input onchange="doChangeFileDop($(this));" type="file" name="extraDocument" accept=".sig">

                <!--id="uploadExpertise29"-->

                <input style="float: right"  type="button" id="close-pop-up-button" name="sendToAjax" class="extraDocumentFormButtom" value="Сохранить">
            </div>


        </form>

    </div>
</div>
<script>
    function hide() {
        $(".popup").hide();
    }
//    $(".popup-extra-doc-request").delegate("click", "#close-pop-up-button", function () {

//    });
</script>


<script>
    function doChangeFileDop(el){
        var  url = '<?=$this->url('ron/default',['controller'=>"expertise","action"=>"saveTempReport"])?>';
        //console.log(url);
        var data = new FormData();

        //console.log("el = ", el);
        if(el[0].files[0] != 'undefined') {
            data.append('file', el[0].files[0]);
            $(".loading-overlay").show();
            $.ajax({
                url: url,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                type: 'POST',
                beforeSend: function () {
                    console.log("doChangeFileDop loading-overlay");
                    $(".loading-overlay").show();
                },
                success: function (data) {
                    $(".loading-overlay").hide();
                    console.log('data', data);
                    var obj = JSON.parse(JSON.stringify(data));
                    console.log(obj);
                    if(obj['answer']=="error"){
                        $(".error-file-dop").removeClass("hide");
                        $(".info-file-dop").addClass("hide");
                    }else{
                        $(".info-file-dop").removeClass("hide");
                        $(".error-file-dop").addClass("hide");
                    }

//                    $(".info-file-dop").removeClass("hide");
//                    var obj = JSON.parse(JSON.stringify(data));
//                    console.log(obj);
//                    $(".loading-overlay").hide();
//                    if (obj['answer'] == "error") {
//                        useTopHoverTitleError(obj['status']);
//
//                        var nameFile = obj['name'];
//                        var isError = $('span').hasClass("error-alert");
//                        if (!isError) {
//                            //$(".info-file").html("<span class='error-alert'></span>");
//                            $(".info-file").html("<span class='error-alert'></span>");
//                        }
//                        /*GOTO Удалить строку*/
//                        //$(".commission-button.order-include-dialog-ok").removeClass("notActive");
//
//                    } else {
//                        if(obj['answer'] == "ok"){
//                            //obj['tmp']
//                            $(".commission-button.order-include-dialog-ok").removeClass("notActive");
//                            $(".order-include-dialog-form").find("ok-greene").remove();
//
//                            var nameFile = obj['name'];
//                            if (!$('span').hasClass("MultiFile-remove")) {
//                                $(".file-loaded").html("<span class='MultiFile-remove'></span> " + nameFile);
//                            }
//                            if (!$('span').hasClass("ok-greene")) {
//                                $(".file-loaded").html(nameFile);
//                            }
//                            $(".info-file").html("<span class='ok-green'></span>");
//                            answer = obj;
//                        }else{
//                            console.log("Not ok");
//                        }
//                    }
                }
            });
        }
    }
</script>