<div style="width:300px;margin-left: auto;margin-right: auto;text-align: center">
    <div style="font-size: 16px">
        <b>Ваша учетная запись неактивна</b>
    </div>
    <div>
        Обратитесь к администратору.
    </div>
</div>