<?php $this->headLink()->appendStylesheet('/css/auth.css'); ?>

<div class="auth">
<div class="p"><h3>Авторизация</h3><a href="/auth/registration">Регистрация</a> <?php if($this->isEsia){?><a href="https://isga.obrnadzor.gov.ru/auth/saml/esia-login">Вход через ЕСИА</a> <?php } ?></div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('auth/default', array('controller' => 'authorization', 'action' => 'index')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('login'));
echo $this->formRow($form->get('password'));
?>
    <div class="auth-messages">
        <?= $this->messages; ?>
    </div>
<?php
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>
    <!--div class="register_link">
        
    </div-->
</div>

<div class="docs_link" style="margin-bottom: 0px;">
    <a href="/docs/user_guide.rar" download="Руководство пользователя.rar" target="_blank">Скачать руководство пользователя</a>
</div>

<p style="font-size: 15px;margin-bottom: 70px;">Техническая поддержка <a href="tel:+7 (495) 134-68-86">+7 (495) 134-68-86 доб. 199</a></p>