<?php $this->headLink()->appendStylesheet('/css/auth.css'); ?>

<div class="auth">
    <div style="width:300px;margin-left: auto;margin-right: auto;text-align: center">
        <div style="font-size: 26px">
            <b>Извините за неудобства, ведутся технические работы</b>
        </div>
    </div>

</div>

<div class="docs_link" style="margin-bottom: 0px;">
    <a href="/docs/user_guide.rar" download="Руководство пользователя.rar" target="_blank">Скачать руководство пользователя</a>
</div>

<p style="font-size: 15px;margin-bottom: 70px;">Техническая поддержка <a href="tel:+7 (499) 638-25-15">+7 (499) 638-25-15</a></p>