<div style="text-align: center">
<div style="display: inline-block;padding: 20px; text-align: center;margin-top: 60px">
    <div class="main-title">
        СЕРВИС КОМПЛЕКСНОЙ ИНФОРМАЦИОННОЙ СИСТЕМЫ ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ (КИС ГА)
        <br><br>
        Состояние Сервиса: <span style="font-weight: bold; color:#006600">Работает</span>
    </div>

</div>
</div>