<?php /**
 * url:  /eo/requests/add
 * path: /module/Eo/view/eo/requests/add.phtml
 */ ?>
<div class="dialog-request-add">
    <div class="content-block request" style="overflow:auto">
        <table class="fields-table" id="fields_form" style="width: 100%">
            <?php if($isEdit){ ?>
                <input 
                    type="hidden" 
                    class="dataField" 
                    name="id" 
                    value="<?=$request->getId()?>" 
                    fType="val"
                    <?php echo empty($isEdit)?'':'disabled="disabled"'; ?>
                />
            <?php } ?>
                        <?php
                            if(isset($dealId) && isset($startOrg)){
                                $org = $startOrg;
                                echo $startOrg->getField("FullName");?>
                                <input type="hidden"  class="dataField" fType="val"  name="organizationId" id="Id_organization" value="<?=$startOrg->getId()?>">
                            <?php } else {?>
                        <?php
                            $isOrg = false;
                            if($isEdit || isset($startOrg)){
                                $isOrg = true;
                                if($isEdit)
                                    $org = $request->getEducationalOrganization();
                                if(isset($startOrg))
                                    $org = $startOrg;
                            }
                        ?>
                        <input type="hidden"  class="dataField" fType="val"  name="organizationId" id="Id_organization" value="<?=(($isOrg)?$org->getId():"")?>">
                        <?php } ?>                
            <?php if( empty($isEdit) ): ?>
                <tr>
                    <td>Дата создания заявления</td>
                    <td class="right">
                        <div class="right-value relative_block" style="width: 100%;">
                            
                            <?php if(isset($dealId)){ ?>
                                <input type="hidden" class="dataField" name="dealId" value="<?=$dealId?>" fType="val"/>
                            <?php } ?>
                            <input
                                type="text" 
                                class="dataField date-field error-back" 
                                name="creationDate"  
                                fType="date" 
                                value="<?=(($isEdit)?$request->getDate("creationDate"):"")?>" 
                                <?php echo empty($isEdit)?'':'disabled="disabled"'; ?>
                            />
                            <span class="date-icon"></span>
                        </div>
                        <div class="error-text">
                            Дата должна быть задана
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Выбор организации</td>
                    <td>
                        <?php
                            if(isset($dealId) && isset($startOrg)){
                                $org = $startOrg;
                                echo $startOrg->getField("FullName");?>
                                <?php /*<input type="hidden"  class="dataField" fType="val"  name="organizationId" id="Id_organization" value="<?=$startOrg->getId()?>"> */ ?>
                            <?php } else {?>
                        <?php
                            $isOrg = false;
                            if($isEdit || isset($startOrg)){
                                $isOrg = true;
                                if($isEdit)
                                    $org = $request->getEducationalOrganization();
                                if(isset($startOrg))
                                    $org = $startOrg;
                            }
                        ?>
                        <?php /*<input type="hidden"  class="dataField" fType="val"  name="organizationId" id="Id_organization" value="<?=(($isOrg)?$org->getId():"")?>"> */?>
                        <textarea 
                            class="error-back" 
                            id="nameOrganization"  
                            onclick="request.selectOrgDialog();" 
                            disabled="disabled" 
                            style="width:96%"
                        ><?php
                            if($isOrg){
                                echo $org->getField("FullName");
                            }
                            ?></textarea>
                        <?php //<input type="button" id="org_butt" onclick="request.selectOrgDialog()" value="+"> ?>
                        <div class="error-text">
                            Организация должна быть выбрана
                        </div>
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td>Предписание</td>
                    <td>
                        <div id="prescriptions-container">
                            <?php if(!isset($prescriptions)){ ?>
                                Не выбрана организация
                            <?php } else { ?>
                                <?php if($prescriptions == 0){ ?>
                                    <div>
                                        <img src="/img/ok-green.png"> Неснятые с контроля предписания отсутствуют
                                    </div>
                                <?php } else { ?>
                                    <div>
                                        <img src="/img/alert-red.png"> По данным ИС АКНД ОУ организация имеет <?=$prescriptions?> неснятых предписания.
                                        <div class="btIn btShowPrescriptions" onclick="javascript: dialog_showPrescriptions('<?=((isset($org))?$org->getId():"")?>');">Посмотреть</div>
                                    </div>
                                <?php } ?>
                            <?php } ?>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Тип поступления</td>
                    <td>
                        <select 
                            class="dataField" 
                            fType="val" 
                            name="admissionType" 
                            id="admissionType"
                            <?php echo empty($isEdit)?'':'disabled="disabled"'; ?>
                        >
                        <?php foreach($propertiesData["admissionTypes"] as $aType) {?>
                            <option value="<?=$aType->getId()?>" <?=(($isEdit && $request->getField("admissionType")==$aType->getId())?"selected":"") ?> ><?=$aType->getField("title")?></option>
                        <?php } ?>
                        </select>
                    </td>
                </tr>
                <tbody class="requestReprezentator" <?=(($isEdit && $request->getField("admissionType")!="feb3633090b54d709c7a476f0982c3d6")?"style='display:none'":"")?>>
                    <tr>
                        <td>Фамилия представителя</td>
                        <td>
                            <input type="text"  class="dataField" fType="val"  name="requestRepresentativeLastName" value="<?php
                                if($isEdit)
                                    echo $request->getFieldHtml("requestRepresentativeLastName");
                                else if(isset($propertiesData["requestRepresentativeLastName"]))
                                    echo $propertiesData["requestRepresentativeLastName"];
                            ?>">
                        </td>
                    </tr>

                    <tr>
                        <td>Имя представителя</td>
                        <td>
                            <input type="text"  class="dataField" fType="val"  name="requestRepresentativeFirstName" value="<?php
                            if ($isEdit)
                                echo $request->getFieldHtml("requestRepresentativeFirstName");
                            else if(isset($propertiesData["requestRepresentativeFirstName"]))
                                echo $propertiesData["requestRepresentativeFirstName"];
                            ?>">
                        </td>
                    </tr>

                    <tr>
                        <td>Отчество представителя</td>
                        <td>
                            <input type="text"  class="dataField" fType="val"  name="requestRepresentativeMiddleName" value="<?php
                            if($isEdit)
                                echo $request->getFieldHtml("requestRepresentativeMiddleName");
                            else if(isset($propertiesData["requestRepresentativeMiddleName"]))
                                echo $propertiesData["requestRepresentativeMiddleName"];
                            ?>">
                        </td>
                    </tr>

                    <tr>
                        <td>Мобильный телефон</td>
                        <td>
                            <input type="text"  class="dataField" fType="val"  name="mobilePhoneNumber" value="<?php
                            if($isEdit)
                                echo $request->getFieldHtml("mobilePhoneNumber");
                            else if(isset($propertiesData["mobilePhoneNumber"]))
                                echo $propertiesData["mobilePhoneNumber"];
                            ?>">
                        </td>
                    </tr>

                    <tr>
                        <td>Электронная почта</td>
                        <td>
                            <input type="text"  class="dataField" fType="val"  name="eMail" value="<?php
                            if($isEdit)
                                echo $request->getFieldHtml("eMail");
                            else if(isset($propertiesData["eMail"]))
                                echo $propertiesData["eMail"];
                            ?>">
                        </td>
                    </tr>

                </tbody>
            <?php endif; ?>   
            <tr>
                <td>Тип процедуры</td>
                <td>
                    <?php if(isset($dealId) && isset($dealLicensingProcedureId)){ ?>
                        <input type="hidden" class="dataField" name="licensingProcedureId" value="<?=$dealLicensingProcedureId?>" fType="val"/>
                        <?=$licensingProcedureName?>
                    <?php } else { ?>
                    <select 
                        class="dataField" 
                        fType="val" 
                        name="licensingProcedureId" 
                        id="licensingProcedure"
                        <?php echo empty($isEdit)?'':'disabled="disabled"'; ?>
                    >
                        <?php foreach($propertiesData["LicensingProcedures"] as $lProc) {
                            ?>
                            <option value="<?=$lProc->getId()?>" <?=(($isEdit && $request->getField("licensingProcedureId")==$lProc->getId())?"selected":"") ?> ><?=$lProc->getField("title")?></option>
                        <?php } ?>
                    </select>
                    <?php } ?>
                </td>
            </tr>            
            <tr>
                <td>Причина обращения</td>
                <td>
                    <div class="reasons-container dataField error-back" fType="reasons">
                    <?php foreach($propertiesData["reasonsByProcedure"] as $procedureId => $reasonsList ){?>
                        <div class="reasons-block" id="lp_<?=$procedureId?>" <?php
                            if(isset($dealLicensingProcedureId)){
                                if($procedureId !== $dealLicensingProcedureId)
                                    echo "style='display:none'";
                            } else {
                                if(!$isEdit && $procedureId!=$propertiesData["firstProcedure"]->getId())
                                    echo "style='display:none'";
                                else if($isEdit && $procedureId != $request->getField("licensingProcedureId"))
                                    echo "style='display:none'";
                            }
                            ?>>
                            <?php
                                if($isEdit) {
                                    $requestReasons = $request->getLicenseReasons();
                                    $reasonsIdList = [];
                                    foreach ($requestReasons as $reason) {
                                        $reasonsIdList[] = $reason->getId();
                                    }
                                }
                                foreach($reasonsList as $reason){
                            ?>
                                <div class="reason-block">
                                    <input type="checkbox" class="cbField" value="<?=$reason->getId()?>" id="rcb_<?=$reason->getId()?>" <?=(($isEdit && in_array($reason->getId(), $reasonsIdList))?"checked":"")?>>
                                    <label for="rcb_<?=$reason->getId()?>"><?=$reason->getField("title")?></label>
                                </div>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    </div>
                    <div class="error-text">
                        Причина должна быть выбрана
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="buttons-container">
        <div class="buttons-block" style="text-align: right;">
            <div class="btButton btAdd"><?=((!$isEdit)?"Добавить":"Сохранить")?></div>
            <div class="btButton btCancel">Отмена</div>
        </div>
    </div>
</div>

<script>
    //пространство имен
    var licRequest = {
        container: ".dialog-request-add"
    };

    //фкнкция что вешает обработчики
    licRequest.initHandlers = function(){
        //Обработчик селекта смены типа процедуры
        $("#licensingProcedure",licRequest.container).change(function(){
            console.log("Обработчик селекта смены типа процедуры");
            var licProcedureId = $(this).val();
            $(".reasons-container .reasons-block", licRequest.container).hide();
            $(".reasons-container .reasons-block[id=lp_"+licProcedureId+"]", licRequest.container).show();
        });

        //Обработчик селекта смены типа поступления
        $("#admissionType",licRequest.container).change(function(){
            if($(this).val()=="feb3633090b54d709c7a476f0982c3d6"){
                $(".requestReprezentator", licRequest.container).show();
                request.getFioFromEqueue($('#Id_organization[name="organizationId"]').val());
            } else {
                $(".requestReprezentator", licRequest.container).hide();
            }
        });

        console.log('вешаем обработчик - закрыть тык 2');
        //Обработчик по кнопке закрытия
        $(".buttons-container .btCancel", licRequest.container).click(function(){
            console.log('закрыть тык 2');
            var parent = jQuery(this).parents('.dialog-request-edit').first();
            jQuery( parent ).dialog('close');
            //$(".dialog-request-edit").remove();
        });

        //Обработчик по кнопке Сохранить
        $(".buttons-container .btAdd", licRequest.container).click(function(){
            $(".loading-overlay").show();

            console.log("Обработчик добавления 2");
            //Проверяем заполнены ли все необходимые поля
            $(".isError", licRequest.container).removeClass("isError");
            var isError = false;
            //дата
            var dField = $("input[name=creationDate]", licRequest.container);
            if($(dField).val()==""){
                dField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            //организация
            var oField = $("input[name=organizationId]", licRequest.container);
            if($(oField).val()==""){
                oField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            //причины
            var rField = $(".reasons-container", licRequest.container);
            if($("input[type=checkbox]:visible:checked", rField).length == 0){
                rField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            if(isError) {
                $(".loading-overlay").hide();
                return;
            }


            //Собираем объект с данными для добавления
            var fd = new FormData();
            var test = [];
            $(".dataField", licRequest.container).each(function(i, item){
                var iName = $(item).attr("name");
                var fType = $(item).attr("fType");
                switch(fType){
                    case "val":
                        var iValue = $(item).val();
                        fd.append(iName,iValue);
                        test.push({name:iName,val:iValue});
                        break;
                    case "reasons":
                        var rContainer = $(".reasons-container .reasons-block:visible", licRequest.container);
                        var reasons = [];
                        $(".cbField:checked",rContainer).each(function(i, item){
                            var rId = $(item).attr("id").split("_")[1];
                            reasons.push(rId);
                        });
                        fd.append("reasons",reasons);
                        test.push({name:"reasons",val:reasons});
                        break;
                    case "date":
                        var iValue = $(item).val();
                        var date = moment(iValue,"DD.MM.YYYY").format("YYYY-MM-DD");
                        fd.append(iName,date);
                        break;
                }

            });
            console.log(test);


            $.ajax({
                type: 'POST',
                dataType: "json",
                data: fd,
                processData: false,
                contentType: false,
                url: "/eo/requests/add-request",
                success: function(answer) {
                    $(".loading-overlay").hide();
                    //Проверяем если ошибка
                    if(answer.result && answer.result=="error"){
                        useTopHoverTitleError(answer.error);
                        return;
                    }
                    //Если все хорошо
                    if(answer.result && answer.result=="success"){
                        var reqId = answer.id;
                        $(licRequest.container).parents(".ui-dialog").remove();
                        request.openEdit(reqId);
                    }
                }
            });
        });

        $(".date-field", licRequest.container).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy"
        });


        //задаем начальную дату если поле пустое
        if($("input[name=creationDate]", licRequest.container).val() == "") {
            var today = new Date();
            if (today.getDay() == 5) {
                var d = new Date();
                d.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);
                d = moment(d).format("DD.MM.YYYY");
                $("input[name=creationDate]", licRequest.container).val(d);
            }
        }

        if($("input[name=creationDate]", licRequest.container).val() == "") {
            $(".date-field", licRequest.container).datepicker("setDate", new Date());
        }
    };

    $(document).ready(function(){
        console.log("document ready");
        //Устанавливаем высоту блока с контентом
        $(".content-block", licRequest.container).height($(".dialog-request-edit.ui-dialog-content").height()-60);
        //инициализация обработчиков
        licRequest.initHandlers();
    });
    
        <?php if( $isEdit ){ ?>
            //есл иокно не под редакт, то уменьшим их размеры
            setTimeout(function(){    
                console.log('изменение размера окошки');
                var height = jQuery('.dialog-request-add .fields-table').outerHeight(); 
                jQuery('.dialog-request-add .fields-table').parent().innerHeight(height);
                var heightP = jQuery('.dialog-request-add ').outerHeight()+20; 
                //jQuery('.dialog-request-add ').parent().innerHeight(heightP);
                //если так, то центрует
                heightP += 50;
                jQuery('.dialog-request-add ').parent().dialog('option','height',heightP);
                var width = Math.round((screen.width / 100) * 50);
                jQuery('.dialog-request-add ').parent().dialog('option','width',width);
            },10);
        <?php } ?>        
    
    
</script>

<script>
    // Добавим условие, дергаем имя из очереди только если это первое заявление дела
    // Для всех последующих, инфо будет вытягиваться из первого заявления дела
    var firstRequest = <?=$isFirstRequest?>;
    if(!firstRequest)
        dialogRequestAddGetFioFromEqueue();

    /**
     * делаем запрос на есть ли чего в очереди и заполняем поля если там чегото залежалось
     * выдернуто из
     * /trunk/public/js/islod/namespace/request.js
     * request.getFioFromEqueue 
     * 
     * @returns {undefined}
     */
    function dialogRequestAddGetFioFromEqueue(){
        //дергать очередь не надо
        return 0;
        console.log('загрузим сведения из очереди');
        var id = jQuery('.dialog-request-add input#Id_organization').val();
        console.log(id);
        if( 'string' == typeof (id) && '' != id ){
            $.ajax({
                url: '/islod/requests/get-fio-from-equeue/' + id,
                dataType: 'json',
                type: 'POST',
                success: function (answer) {                    
                    var doResult = function(i){
                        //answer = jQuery.parseJSON(answer);
                        if ( 'undefined' != typeof (answer['data']) ){
                            if ( "feb3633090b54d709c7a476f0982c3d6" == jQuery('#admissionType.dataField[name="admissionType"]').val() ){
                                if ( 'undefined' != typeof (answer['data'][i]) ){
                                    if ( 'undefined' != typeof (answer['data'][i]['lastName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeLastName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeLastName"]').val(answer['data'][i]['lastName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['firstName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeFirstName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeFirstName"]').val(answer['data'][i]['firstName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['middleName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeMiddleName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeMiddleName"]').val(answer['data'][i]['middleName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['phone'])
                                        &&
                                        '' == jQuery('.dataField[name="mobilePhoneNumber"]').val()
                                        ){
                                        jQuery('.dataField[name="mobilePhoneNumber"]').val(answer['data'][i]['phone']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['email'])
                                        &&
                                        '' == jQuery('.dataField[name="eMail"]').val()
                                        ){
                                        jQuery('.dataField[name="eMail"]').val(answer['data'][i]['email']);
                                    }
                                }
                            }
                        
                            // если из очереди приехала процедура, по выберем ее
                            if ( 'undefined' != typeof (answer['data'][i])){
                                if ( 'undefined' != typeof (answer['data'][i]['lisensingProcedureId'])){
                                        //проставим галочки по причинам, если есть
                                        if ( 'undefined' != typeof (answer['data'][i]['licenseReasonAllId']) ){
                                            for (var i in answer['data'][i]['licenseReasonAllId']){
                                                if( jQuery('.cbField[type="checkbox"][value="'+answer['data'][i]['licenseReasonAllId'][i]+'"]').length){
                                                    jQuery('.cbField[type="checkbox"][value="'+answer['data'][i]['licenseReasonAllId'][i]+'"]').prop('checked','checked');
                                                }
                                            }
                                        }
                                }
                            }
                        }
                    }
                    request.getFioFromEqueueParse(answer, doResult);
                     
                }
            });
        }
    }

</script>
