<?php /*
 * url:  /eo/requests/dialog-select-supplement
 * path: /module/Eo/view/eo/requests/dialog-select-supplement.phtml
 * 
 */ ?>
<div class="select-filial-dialog">
    <div class="search-block">
        <input placeholder="Поиск по № приложения и наименованию организации" class="search-input">
    </div>
    <div class="filials_container" style="height:360px;overflow-y: auto;">
        <table id="filteredTable" style="width:100%; height: initial;">
            <thead>
                <tr>
                    <th width="40"></th>
                    <th width="40">№</th>
                    <th>Организация</th>
                    <th width="250">Распорядительный документ</th>
                </tr>
            </thead>
            <tbody class="tbody-container content">
            <?php
                if(count($supplements)>0){
                    foreach ($supplements as $supplement) {
                        //Проверяем может уже выбран
                        if(in_array($supplement->getId(), $reqSuppIdList))
                            continue;
                        //
                        $org = $supplement->getEducationalOrganization() ?>
                        <tr>
                            <td width="40" >
                                <input style="cursor:pointer" class="selected_supp" type="checkbox" value="<?=$supplement->getId()?>" rowTitle="Приложение №<?=$supplement->getField("Number") ?> <?=($org != null)?$org->getField("RegularName"):""?> (от <?=$supplement->getDate("DateLicDoc")?> № <?=$supplement->getField("NumLicDoc")?>)" >
                            </td>
                            <td width="40" class="search_td" onclick="onDialogSelectSupplementClicktoRow(this)">
                                <?=$supplement->getField("Number") ?>
                            </td>
                            <td class="search_td" onclick="onDialogSelectSupplementClicktoRow(this)">
                                <?=($org != null)?$org->getField("RegularName"):"" ?>
                            </td>
                            <td style="width:250px;text-align: left;"  onclick="onDialogSelectSupplementClicktoRow(this)">
                                <div>
                                    <?=$supplement->getField("basisForLicensing")?>
                                </div>
                            </td>
                        </tr>
                <?php  }
                } else {
                    $numCols = 4;
                    echo '<tr class="level"><td colspan="'.$numCols.'">Приложений не найдено</td></tr>';
                }
            ?>
            </tbody>
        </table>
    </div>
    <div class="buttons-container" style="width: 100%;">
        <div class="buttons-block">
                <div class="selectall_block">
                    <input type="checkbox" class="select_all" id="select_all">
                    <label for="select_all">Выбрать все</label>
                </div>
            
            <div class="btButton btCancel">Отмена</div>
	    <div class="btButton btAdd">Выбрать</div>
        </div>
    </div>
</div>
<style>
.search-input {width: 100%;margin-left: 0;margin-bottom: 5px;padding-left: 5px;background: url(/img/lupa.png) #f8f8fa no-repeat 100% 50%;}
.selectall_block label {margin-top: 3px}
#select_all {float: left;margin-top: 0;}
.btButton {float: right;margin-left: 5px;}
</style>
<script>
    function onDialogSelectSupplementClicktoRow(element){
        jQuery(element).parents('tr:first').find('input.selected_supp').click();
    }
</script>