<div class="dialog-request-edit">
    <div class="content-block request">
        <table class="fields-table" id="fields_form">
            <tr>
                <td class="left"><div class="left-title">Дата создания заявления</div></td>
                <td class="right">
                    <div class="right-value relative_block" style="width: 100%;">
                        <input type="text" value="" class="dataField" name="creationDate"  fType="val" />
			<span class="date-icon"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Выбор организации</td>
                <td>

                    <?php
                    if(isset($application)){ ?>
                        <input type="hidden" class="dataField" fType="val"  name="organizationId" id="Id_organization" value="<?=$idorg?>">
                        <textarea id="nameOrganization" ><?=($nameOrg)? $nameOrg->getField('FullName'):'';?></textarea>
                        <?php
                    }elseif(isset($application) && $idorg == FALSE){?>
                        <textarea id="nameOrganization" disabled="disabled">Старый тип заявки, организация не указана!</textarea>
                        <?php
                    }else{
                        ?>
                        <input type="hidden"  class="dataField" fType="val"  name="organizationId" id="Id_organization" value="">
                        <textarea id="nameOrganization"  onclick="showPop('/eo/requests/get-organizations-select/0');" readonly="readonly"></textarea>
                        <input type="button" id="org_butt" onclick="showPop('/eo/requests/get-organizations-select/0')" value="+">
                        <?php
                    }
                    ?>

                </td>
            </tr>
            <tr>
                <td>Предписание</td>
                <td>
                    <div id="prescriptions-container">
                        <?php if(!isset($prescriptions)){ ?>
                            Не выбрана организация
                        <?php } else { ?>
                            <?php if($prescriptions == 0){ ?>
                                <div>
                                    <img src="/img/ok-green.png"> Неснятые с контроля предписания отсутствуют
                                    <a
                                        target="_blank"
                                        class="bt btPrintPrescription"
                                        href="<?=
                                                $this->url('eo/default',[
                                                    'controller' => 'index',
                                                    'action'     => 'print-no-prescription',
                                                    'id' => $idorg
                                                  ]);
                                            ?>"
                                        style="float: right"
                                    >
                                        Печать
                                    </a>
                                </div>
                            <?php } else { ?>
                                <div>
                                    <img src="/img/alert-red.png"> По данным ИС АКНД ОУ организация имеет <?=$prescriptions?> неснятых предписания.
                                    <div class="btIn btShowPrescriptions" style="float: right" onclick="javascript:dialog_showPrescriptions('<?=$idorg?>');">Посмотреть</div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Тип поступления</td>
                <td>
                    <select class="dataField" fType="val" name="admissionType">
                    <?php foreach($propertiesData["admissionTypes"] as $aType) {?>
                        <option value="<?=$aType->getId()?>"><?=$aType->getField("title")?></option>
                    <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Тип процедуры</td>
                <td>
                    <select class="dataField" fType="val" name="licensingProcedureId" id="slicensingProcedure">
                        <?php foreach($propertiesData["LicensingProcedures"] as $lProc) {?>
                            <option value="<?=$lProc->getId()?>"><?=$lProc->getField("title")?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Причина обращения</td>
                <td>
                    <div class="reasons-container dataField" fType="reasons">
                    <?php foreach($propertiesData["reasonsByProcedure"] as $procedureId => $reasonsList ){?>
                        <div class="reasons-block" id="lp_<?=$procedureId?>" <?php if($procedureId!=$propertiesData["firstProcedure"]->getId()) echo "style='display:none'" ?>>
                            <?php foreach($reasonsList as $reason){ ?>
                                <div class="reason-block">
                                    <input type="checkbox" class="cbField" value="<?=$reason->getId()?>" id="rcb_<?=$reason->getId()?>">
                                    <label for="rcb_<?=$reason->getId()?>"><?=$reason->getField("title")?></label>
                                </div>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="buttons-container">
        <div class="buttons-block" style="">
            <div class="btButton btAdd">Добавить</div>
            <div class="btButton btCancel">Отмена</div>
        </div>
    </div>
</div>

<script>
    //пространство имен
    var licRequest = {
        container: $(".dialog-request-edit")
    };

    //фкнкция что вешает обработчики
    licRequest.initHandlers = function(){
        //Обработчик селекта смены типа процедуры
        $("#slicensingProcedure",licRequest.container).change(function(){
            console.log("Обработчик селекта смены типа процедуры");
            var licProcedureId = $(this).val();
            $(".reasons-container .reasons-block", licRequest.container).hide();
            $(".reasons-container .reasons-block[id=lp_"+licProcedureId+"]", licRequest.container).show();
        });

        //Обработчик по кнопке закрытия
        $(".buttons-container .btCancel", licRequest.container).click(function(){
            console.log('закрыть тык 3');
            $(licRequest.container).remove();
        });

        //Обработчик по кнопке Сохранить
        $(".buttons-container .btAdd", licRequest.container).click(function(){
            console.log("Обработчик добавления 3");
            var fd = new FormData();
            var test = [];
            $(".dataField", licRequest.container).each(function(i, item){
                var iName = $(item).attr("name");
                var fType = $(item).attr("fType");
                switch(fType){
                    case "val":
                        var iValue = $(item).val();
                        fd.append(iName,iValue);
                        test.push({name:iName,val:iValue});
                        break;
                    case "reasons":
                        var rContainer = $(".reasons-container .reasons-block:visible", licRequest.container);
                        var reasons = [];
                        $(".cbField:checked",rContainer).each(function(i, item){
                            var rId = $(item).attr("id").split("_")[1];
                            reasons.push(rId);
                        });
                        fd.append("reasons",reasons);
                        test.push({name:"reasons",val:reasons});
                        break;
                }

            });
            console.log(test);
            return;

            $.ajax({
                type: 'POST',
                dataType: "json",
                data: fd,
                processData: false,
                contentType: false,
                url: "/islod/requests/add-request",
                success: function(answer) {
                    //Проверяем если ошибка
                    if(answer.result && answer.result=="error"){
                        useTopHoverTitleError(answer.error);
                        return;
                    }
                    //Если все хорошо
                    if(answer.result && answer.result=="success"){

                    }
                }
            });
        });
    };

    $(document).ready(function(){
        console.log("document ready");
        //Устанавливаем высоту блока с контентом
        $(".content-block", licRequest.container).height($(".dialog-request-edit.ui-dialog-content").height()-60);
        //инициализация обработчиков
        licRequest.initHandlers();
    });
</script>