<?php
/**
 * url:  /eo/requests/get-address-select
 * path: /module/Eo/view/eo/requests/get-address-select.phtml
 */
?>

<div class="select-adress-dialog">
    <input type="text" id="filt_fillials" class="search-input" placeholder="Введите адрес для поиска" >
    <div class="adresses_container" style="height: 380px;overflow-y: auto;">
        <table id="filteredTable" style="width: 100%;height: auto;">
	    <tr>
                <th></th>
                <th>Адрес</th>
            </tr>
            <?php
                if(count($addresses)>0){
                    foreach ($addresses as $addr) {
                        $uniqId = uniqid('uniq-id-');
                        echo '<tr class="reorg_string" >'
                            . '<td>'
                            .'<input id="'.$uniqId.'" style="cursor:pointer" class="selected_adr" type="checkbox" value=' . $addr->getId() . ' >'
                            .'</td>';
                            echo '<td style="text-align: left" id="addr_' . $addr->getId() . '">'
                                    .'<div class="adr_title">' 
                                        . '<label for="'.$uniqId.'" >'
                                            . $addr->getField('postcode') . ' '.$addr->getField('address')
                                        . '</label>'
                                    .'</div>'
                                .'</td>';                                
                        echo '</tr>';
                    }
                } else {
                    $numCols = 2;
                    echo '<tr class="level"><td style="text-align:center" colspan="'.$numCols.'">Адресов не найдено</td></tr>';
                }
            ?>
        </table>
    </div>
    <div class="buttons-container" style="width: 100%">
        <div class="buttons-block" style="padding-right: 0;">
            <div class="selectall_block">
                <input type="checkbox" class="select_all" id="select_all" style="height: auto!important;margin-top: 2px;">
                <label for="select_all">Выбрать все</label>
            </div>
            
            <div class="btButton btCancel">Отмена</div>
	    <div class="btButton btAdd">Выбрать</div>
        </div>
    </div>
</div>
<style>
#filt_fillials {width: 100%;margin-left: 0;padding-left: 5px;margin-bottom: 5px;}
.select-adress-dialog .btButton {float: right;margin-left: 4px;}
</style>