<div class="op-dialog-list">
    <div class="fields-container">
        <input type="hidden" value="<?=$orgId?>" class="dataField" name="orgId"  fType="val">
        <input type="hidden" value="<?=$requestId?>" class="dataField" name="requestId"  fType="val">
        <table class="fields-table">
            <!--tr>
                <td class="left">
                    <div class="left-title">
                        Уровень образования
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <select class="dataField" name="educationLevelId" fType="val">
                            <?php /*
                                $firstLevelId = false;
                                foreach($typesByLevelsList as $id => $level){
                                    if(!$firstLevelId) $firstLevelId= $id;
                                    if(!isset($level["item"])) continue;
                                    echo '<option value="'.$id.'">'.$level["item"]["Name"].'</option>';
                                }*/
                            ?>
                        </select>
                    </div>
                </td>
            </tr-->
            <tr>
                <td class="left">
                    <div class="left-title">
                        Вид ОП
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <select class="searchField" name="EPTypeId" fType="val">
                            <option value="0">Не выбрано</option>
                            <?php
                            /*
                                foreach($typesByLevelsList[$firstLevelId]["types"] as $type){
                                    echo '<option value="'.$type["Id"].'">'.$type["Name"].'</option>';
                                }*/
                            foreach($types as $type){
                                echo '<option value="'.$type->getId().'">'.$type->getField("Name").'</option>';
                            }
                            ?>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="left-title">
                        Образовательные программы
                    </div>
		    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Поиск по образовательным программам" />
                    </div>
                    <div class="op-container">
                        <div class="text">Тип не выбран</div>
                    </div>
                    
                </td>
            </tr>
        </table>
    </div>
    <div class="buttons-container">
        <div class="buttons-block" style="">
            <div class="btButton btAdd">Добавить</div>
        </div>
    </div>
</div>
<?php /*
<script>
    RequestFrames.setOPDialogData(<?=json_encode($typesByLevelsList)?>);
</script>
*/ ?>