<div>
    <div class="container" style="height:480px;overflow-y: auto">
        <?php foreach($prescriptions as $prescription){ ?>
            <div class="prescription-block">
                <table class="fields-table">
                    <tr>
                        <td class="left level-title" colspan="2"><a>Предписание №<?=$prescription->getField("PrescriptionNumber")?></a></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Наименование ОУ:</div></td>
                        <td class="right">
                            <div class="right-value">
                                <?= $prescription->getEOName() ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Номер предписания:</div></td>
                        <td class="right">
                            <div class="right-value">
                                <?= $prescription->getField("PrescriptionNumber") ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Дата предписания:</div></td>
                        <td class="right">
                            <div class="right-value">
                                <?= $prescription->getDate("DatePrescription") ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Срок исполнения:</div></td>
                        <td class="right">
                            <div class="right-value">
                                <?= $prescription->getDateExecution() ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Статус:</div></td>
                        <td class="right">
                            <div class="right-value">
                                <?= $prescription->getField("PrescriptionStatus") ?>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </div>
        <?php } ?>
    </div>
    <div class="btContainer" style="margin-top:10px;text-align: right">
        <div class="btButton btPrint"><a style="color: #fff;" href="/ron/index/get-org-prescriptions/<?php echo $orgId;?>/print" target='_blank'>Печатать</a></div>
        <div class="btButton btClose">Отмена</div>
    </div>
</div>