<?php if(count($programs)>0) foreach($programs as $program){
    ?>
    <div class="program-row" id="op_<?=$program->getId()?>" level-id="<?=$program->getField("fk_eiisEduLevels")?>">
        <?=$program->getField("Code"). " ". $program->getField("Name")?>
    </div>
<?php } else { ?>
    <div class="text">Программ не найдено</div>
<?php } ?>
