<?php
/*
 * /eo/requests/get-organizations-select/0
 */
if($nextPage==1){ ?>
    <div id="wrapReorg2">
        <input type="text" id="filt_fillials" class="searchOrganization" placeholder="Введите название или ИНН для поиска организации" <?=($search!==' ')?'value="'.$search.'"' : ''?>>
        <input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
        <input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>">
        <div class="wrap_filteredTable">
            <form>
                <table id ="filteredTable">
		   <tr>
                <th>№</th>
                <th>Наименование организации</th>
                <th></th>
            </tr>
                    <?php
                    $i = 1;
                    if(count($orgs)>0){
                        foreach ($orgs as $key => $org) {
                            $uniqId = uniqid('selected-id-');
                            echo '<tr class="reorg_string"><td>' . $i . '</td>'
                                . '<td id="reorg_' . $i . '">' 
                                    . '<label for="'.$uniqId.'">'
                                        . htmlentities($org['FullName']) 
                                    . '</label>'
                                . '</td>'
                                . '<td>'
                                    .'<input class="selected_org" '
                                        .'lawaddress="'.htmlentities($org['LawAddress']).'"  '
                                        .'name="organ" '
                                        .'org_name="'.htmlentities($org['FullName']).'" '
                                        .'type="radio" '
                                        .'value="' . htmlentities($org['Id']).'" '
                                        .'id="'.$uniqId.'"'
                                    . '  >'
                                . '</td></tr>';
                            echo "\n";
                            $i++;
                        }
                    }else{
                        echo '<tr class="level"><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
                    }
                    if($nextPage<$maxPage){?>
                        <tr class="reorg_get_next_row">
                            <td colspan="3">
                                <a id="getNextResult" href="javascript:;">Загрузить еще результаты</a>
                            </td>
                        </tr>
                    <?php } ?>
                </table>
            </form>
        </div>

        <input class="send_edu_program btClose" type="button" value="Закрыть"/><input id="add_org" class="send_edu_program" type="button" value="Сохранить"/>
    </div>

<?php } else { ?>
    <?php  /*
    <script>
        jQuetry("#nextPage").val(<?php echo $nextPage; ?>);
        jQuetry("#maxPage").val(<?php echo $maxPage; ?>);
    </script>
    */?>
    <tr style="display:none;">
        <td><input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
            <input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>">
        </td>
    </tr>

    <?php $i =($nextPage-1)*20 + 1;
    if(count($orgs)>0){
        foreach ($orgs as $key => $org) {
            $uniqId = uniqid('selected-id-');
            echo '<tr class="reorg_string"> '
                    .'<td>' . $i . '</td> '
                    . '<td id="reorg_' . $i . '">' 
                        . '<label for="'.$uniqId.'">'
                            . htmlentities($org['FullName']) 
                        . '</label>'
                    . '</td>'
                    . '<td>'
                        .'<input class="selected_org" '
                            .'lawaddress="'.htmlentities($org['LawAddress']).'"  '
                            .'name="organ" '
                            .'org_name="'.htmlentities($org['FullName']).'" '
                            .'type="radio" '
                            .'value="' . htmlentities($org['Id']).'" '
                            .'id="'.$uniqId.'"'
                        . '  >'
                . '</td>'
                . '</tr>';
            echo "\n";
            $i++;
        }
    }else{
        echo '<tr class="level"><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
    }
    if($nextPage<$maxPage){?>
        <tr class="reorg_get_next_row">
            <td colspan="3">
                <a id="getNextResult" href="javascript:;">Загрузить еще результаты</a>
            </td>
        </tr>
    <?php }
}?>