<div class="op-level-dialog">
    <div class="levels-container">
        <?php
            foreach($levelsTree as $level){
                if(count($level["children"])==0){ ?>
                    <div class="level-row" data-parent="<?=$level["item"]->getId()?>">
                        <input type="checkbox" id="lvl_<?=$level["item"]->getId()?>" data-id="<?=$level["item"]->getId()?>" data-noForm="<?=(($level["item"]->isEmptyField("fk_eiisEduProgram"))?"false":"true")?>"
                            <?=((isset($eProgramsByLevel[$level["item"]->getId()]) && $eProgramsByLevel[$level["item"]->getId()])?"checked disabled":"")?>
                            />
                        <label class="level-name" for="lvl_<?=$level["item"]->getId()?>"><?=$level["item"]->getField("Name")?></label>
                    </div>
            <?php } else {
                    if(!isset($level["item"]) || $level["item"]==null)
                        continue;
                    ?>
                    <div class="level-row" data-parent="<?=$level["item"]->getId()?>">
                        <div class="level-name"><?=$level["item"]->getField("Name")?></div>
                <?php foreach($level["children"] as $sublevel){ ?>
                    <div class="sublevel-row"><input id="lvl_<?=$sublevel->getId()?>" type="checkbox" data-id="<?=$sublevel->getId()?>" data-noForm="<?=(($sublevel->isEmptyField("fk_eiisEduProgram"))?"false":"true")?>" <?=((isset($eProgramsByLevel[$sublevel->getId()]) && $eProgramsByLevel[$sublevel->getId()])?"checked disabled":"")?>/><label for="lvl_<?=$sublevel->getId()?>"><?=$sublevel->getField("Name")?></label></div>
                <?php } ?>
                    </div>
            <?php } ?>
        <?php } ?>
    </div>
    <div class="buttons-container">
        <div class="buttons-block" style="padding-right: 0;">
            
            <div class="btButton btCancel">Отмена</div>
	    <div class="btButton btAdd">Добавить</div>
        </div>
    </div>
</div>
<style>
.op-level-dialog .btButton {float: right;margin-left: 4px;}
</style>