<?php
/**
 * url:  /eo/requests/edit/ид_заявления
 * url:  /eo/requests/get-filial-places-od/"requestOrganizationInfoId"
 * path: /module/Eo/view/eo/requests/get-filial-places-od.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>


<div>
    <div class="search-block">
        <input placeholder="Поиск" class="search-input" style="width: 100%;margin-bottom: 5px;" />
    </div>
    <table class="intable" style="width:100%">

        <tr>
            <th style="width:10%">№</th>
            <th style="width:20%">Индекс</th>
            <th style="width:65%">Адрес</th>
            <th style="width:5%"></th>
        </tr>

        <tbody class="filial-odplaces-content tbody-content">
        <?php
        $num = 1;
        foreach($addresses as $adr){
            ?>
            <tr class="form-block" >
                <td class="num" style="width:10%;">
                    <?=$num++?>
                </td>
                <td style="width:20%;">
                    <?php if($type=="close"){ ?>
                    <?php /*спан нуже чтоб поиск ожил */ ?>
                    <span class="dataField" name="postcode"><?=$adr->getFieldHtml("postcode")?></span>
                    <?php } 
                          else { ?>
                        <input 
                            type="hidden" 
                            class="dataField" 
                            fType="val"                             
                            value="<?=$adr->getId()?>"
                            <?php echo $isSended?' disabled="disabled" ':' name="id" '; ?>
                        >
                        <input 
                            type="hidden" 
                            class="dataField" 
                            fType="val"                             
                            value="<?=$adr->getFieldHtml("requestOrganizationInfoId")?>"
                            <?php echo $isSended?' disabled="disabled" ':' name="requestOrganizationInfoId"  '; ?>
                        >
                        <input 
                            type="text" 
                            class="dataField" 
                            fType="val"                             
                            placeholder="Введите индекс" 
                            value="<?=$adr->getFieldHtml("postcode")?>"
                            name="postcode"                            
                            <?php echo $isSended?' disabled="disabled" ':'   '; ?>
                        >
                    <?php } ?>
                </td>
                <td style="width:65%;text-align: left;">
                    <?php if($type=="close"){ ?>
                        <?php /*спан нуже чтоб поиск ожил */ ?>
                        <span class="dataField" name="address"><?=$adr->getFieldHtml("address")?></span>
                    <?php } 
                          else { ?>
                        <input 
                            style="width: 100%;" 
                            type="text" 
                            class="dataField" 
                            fType="val"                             
                            placeholder="Введите адрес" 
                            value="<?=$adr->getFieldHtml("address")?>"
                            name="address"
                            <?php echo $isSended?' disabled="disabled" ':'   '; ?>
                        >
                    <?php } ?>
                </td>
                <?php if( !$isSended ){ ?>
                    <td style="width:5%;text-align: center;"><span class="btRemove minus-icon" id="a_<?=$adr->getId()?>"><span>-</span></span></td>
                <?php } ?>   
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
<style>
.filial-odplaces-content.tbody-content input[type="text"] {padding-left: 5px;}
</style>