<ul class="level-list" style="display:block">
    <?php
        $isFirst = true;
        foreach ($eduLevels as $eduLevel) {
        ?>
        <li class="level-elem <?php if($isFirst){ echo 'active-level'; $isFirst = false;} ?>" id-level="<?=$eduLevel['id']?>"><a class="level-name">-<?= $eduLevel['title'] ?> </a>(<span class="level-programs-counter"><?=($eduLevel["count"]>0)? ''.$eduLevel["count"].'':'' ?></span>)</li>
        <?php } ?>
</ul>