<?php
/**
     * Метод возвращает список оп по уровню и филиалу
     *
     * path: /module/Eo/view/eo/requests/get-level-op.phtml
     * url:  /eo/requests/get-level-op
     */
    //уже отправлено
    $isSended = $request->isSended( true );
?>

<div class="search-container">
    <input class="search-field" style="width: 100%;margin-bottom: 5px;" placeholder=" Поиск по коду и наименованию программы" />
</div>
<div class="table-container">
    <table class="intable" style="width:100%">
        <tr rownum="11">
            <th colnum="1" style="text-align: left;width:70px">№ п/п</th>
            <th colnum="2" width="150">Код</th>
            <th colnum="3" width="29%" style="text-align: left;">Образовательная программа</th>
	    <th colnum="4" width="29%" style="text-align: left;">Вид программы</th>
            <th colnum="5">Квалификация</th>
            <?php if( !$isSended ){ ?>
                <th colnum="6" style="width:50px"></th>
            <?php } ?>
        </tr>
        <tbody class="level-op-content tbody-content">
        <?php
        $i = 1;
        foreach($eProgramsByLevel as $levelData){
                $level = $levelData["level"];
                ?>
                <tr rownum="1">
                    <!--td width = "35" ></td--><?php //№ п/п ?>
                    <td style="text-align: center;" colspan="6" class="level-row" data-id="<?=$levelData["level"]->getId()?>"><?=$levelData["level"]->getField("Name")?></td>
                </tr>

                <?php
                foreach($levelData["programs"] as $program){ ?>
                    <tr rownum="2" class="op-row">
                        <td colnum="1" width="70" class="td_num"><?=$i++ ?></td>   <?php //№ п/п ?>
                        <td colnum="2" style="text-align: center;" width="150"><?=$program->getProgram()->getField("Code")?></td>
                        <td colnum="3" style="text-align: left;" width="29%"><?=$program->getProgram()->getField("Name")?></td>
                        <td colnum="4" style="text-align: left;" width="29%"><?=$program->getProgramTypeName()?></td>
                        <td colnum="5"><?=$program->getQualifictionsNames()?></td>
                        <?php if( !$isSended ){ ?>
                            <td colnum="6" style="width:50px">
                                <span data-id="<?=$program->getId()?>" class="btRemoveOP" ><span>-</span></span>
                            </td>
                        <?php } ?>
                    </tr>
                <?php }
                if(($type == "new-op" || $type=="change-op") && $levelData["level"]->isEmptyField("fk_eiisEduProgram")){
                ?>
                    <tr rownum="3" class="formData">
                        <td colnum="1" width="70"></td> <?php //№ п/п ?>
                        <td colnum="2" width="150">
                            <input type="hidden" name="educationLevelId" class="dataField" fType="val"  value="<?=$level->getId()?>" />
                            <select
                                name="eduProgramTypeId"
                                class="dataField pType"
                                fType="val"
                                <?php echo $isSended ? 'disabled="disabled"':''; ?>
                            >
                                <?php
                                $epts = $level->getEduProgramTypes();
                                $firstEpt = null;
                                foreach($epts as $ept){
                                    if($firstEpt == null)
                                        $firstEpt = $ept;
                                    ?>
                                    <option value="<?=$ept->getId()?>"><?=$ept->getField("Name")?></option>
                                <?php } ?>
                            </select></td>
                        <td colnum="3-4" colspan="2"  width="58%" style="padding:5px 9px 5px 10px!important;">
                            <select
                                name="educationProgramCatalogItemId"
                                class="dataField ePrograms"
                                fType="val"
                                <?php echo $isSended ? 'disabled="disabled"':''; ?>
                            >
                                <?php
                                if( empty($firstEpt) ){
                                    $programs = array();
                                }
                                else{
                                    $programs = $firstEpt->getEduProgramsList();
                                }
                                $firstProgram = null;
                                foreach($programs as $program){
                                    if($firstProgram == null)
                                        $firstProgram = $program;
                                    ?>
                                    <option 
                                        value="<?=$program->getId()?>" 
                                        data-code="<?=$program->getFieldHtml("Code")?>" 
                                        data-name="<?=$program->getFieldHtml("Name")?>"
                                    >
                                            <?=$program->getFieldHtml("Code")." ".$program->getFieldHtml("Name")?>
                                    </option>
                                <?php } ?>
                            </select>
                        </td>
                        <td colnum="5">
                            <select
                                name="qualificationId"
                                class="dataField Qualifications"
                                fType="val"
                                <?php echo $isSended ? 'disabled="disabled"':''; ?>
                            >
                                <?php
                                if( empty($firstProgram) ){
                                    $qualifications = array();
                                }
                                else{
                                    $qualifications = $firstProgram->getLodQualifications();
                                }
                                foreach($qualifications as $q){?>
                                    <option value="<?=$q->getId()?>"><?=$q->getField("Name")?></option>
                                <?php } ?>
                            </select>
                        </td>
                        <?php if( !$isSended ){ ?>
                            <td colnum="6" colnum="1" style="width:50px"><span class="btAddOP plus-icon" ><span>+</span></span></td>
                        <?php } ?>
                    </tr>
                <?php } ?>
            <?php if(0){
                if($type=="new-op"){
                ?>
                    <tr rownum="4" class="edit-title"  id="ep_<?=$eduProgramId?>">
                        <td colnum="1"></td> <?php //№ п/п ?>
                        <td colnum="2-4" colspan="3">
                            <?=$programs["edit_from"]->getField("Name")?>
                        </td>
                        <td colnum="5" style="width:50px;text-align: center"><span class="btRemove minus-icon" id="p_<?=$eduProgramId?>"><span>-</span></span></td>
                    </tr>
                    <tr rownum="5" >
                        <td colnum="1"></td> <?php //№ п/п ?>
                        <td colnum="2">
                            <span class="grey-span exclude">Исключить</span>
                        </td>
                        <td colnum="3"><?=($eiisEduProgram!=null)?$eiisEduProgram->getField("Code"):"Программа не найдена"?></td>
                        <td colnum="4" style="text-align: left"><?=($eiisEduProgram!=null)?$eiisEduProgram->getField("Name"):"Программа не найдена"?></td>
                        <td colnum="5" style="width:50px;text-align: center"></td>
                    </tr>
                    <tr rownum="6" class="form-block">
                        <td colnum="1"><?=$i++ ?></td> <?php //№ п/п ?>
                        <td colnum="2">
                            <span class="grey-span change-to">Заменить на</span>
                            <input class="dataField" name="id" value="<?=$programs["edit_to"]->getId()?>" fType="val" type="hidden" />
                            <input class="dataField" name="requestOrganizationInfoId" value="<?=$programs["edit_to"]->getField("requestOrganizationInfoId")?>" fType="val" type="hidden" />
                            <input class="dataField" name="typeOfActivity" value="<?=$programs["edit_to"]->getField("typeOfActivity")?>" fType="val" type="hidden" />
                            <input class="dataField" name="educationProgramCatalogItemId" value="<?=$programs["edit_to"]->getField("educationProgramCatalogItemId")?>" fType="val" type="hidden" />
                            <input class="dataField" name="educationProgramCatalogItemId" value="<?=$programs["edit_to"]->getField("educationProgramCatalogItemId")?>" fType="val" type="hidden" />
                            <input class="dataField" name="educationLevelId" value="<?=$programs["edit_to"]->getField("educationLevelId")?>" fType="val" type="hidden" />
                            <input class="dataField" name="additionalInfo" value="<?=$programs["edit_to"]->getField("additionalInfo")?>" fType="val" type="hidden" />
                        </td>

                        <td colnum="3"><input class="dataField" name="changeCode" type="text" value="<?=$programs["edit_to"]->getField("changeCode")?>" fType="val"/></td>
                        <td colnum="4"><input class="dataField" name="changeName" type="text" value="<?=$programs["edit_to"]->getField("changeName")?>" fType="val"/></td>
                        <td colnum="5" style="width:50px;text-align: center"></td>
                    </tr>
                <?php }
                 else
                    {
                    foreach($eduPrograms as $program){
                        $epCatalogItem = $program->getEduProgram();
                        if($epCatalogItem==null)
                            continue;
                        ?>
                        <tr rownum="7" id="ep_<?=$program->getId()?>">
                            <td colnum="1"><?=$i++ ?></td> <?php //№ п/п ?>
                            <td colnum="2"><?=$epCatalogItem->getField("Code")?></td>
                            <td colnum="3"><?=$epCatalogItem->getField("Name")?></td>
                            <td colnum="4" style="width:50px;text-align: center"><span class="btRemove minus-icon" id="p_<?=$program->getId()?>"><span>-</span></span></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            <?php } ?>
        <?php } ?>
        </tbody>
    </table>
</div>
<style>
.level-op-content.tbody-content .level-row {border-radius: 5px!important;}
</style>