<?php /*
    url:  /eo/requests/get-filials-select
    path: /module/Eo/view/eo/requests/get-filials-select.phtml
*/ ?>

<div class="select-filial-dialog">
    <input type="text" id="filt_fillials" class="search-input" placeholder="Введите название для поиска организации" >
    <div class="filials_container" style="height: 380px;overflow-y: auto;">
        <table id="filteredTable" style="width: 100%">
	    <tr>
                <th>№</th>
                <th>Наименование филиала</th>
                <th></th>
            </tr>
            <?php
                $i = 1;
                $counter = 0;
                
                if(count($filials)>0){
                    //кривосортираем
                    uasort(
                       $filials,
                       function($a, $b){
                           $af = $a->getFieldSafe('FullName');
                           $bf = $b->getFieldSafe('FullName');
                           $af = mb_strtolower($af);
                           $bf = mb_strtolower($bf);
                           return strcmp($af, $bf);
                       }
                    );                    
                    foreach ($filials as $org) {
                        $uniqId = uniqid('uniq-id-input-');
                        //Если этот филиал уже добавлен, то не выводим для выбора
                        if(($type=="choise" || $type=="edit") && isset($reqFilialsList[$org->getId()])) continue;
                        
                        $counter++;
                        echo '<tr class="reorg_string" ><td>' . $i . '</td>'
                            . '<td style="text-align: left;width: 545px;" id="reorg_' . $i . '"><div class="org_title"><label for="'.$uniqId.'" >' . $org->getFieldSafe('FullName') . '</label></div></td>';
                        if($type != "new"){
                            echo '<td><input id="'.$uniqId.'" style="cursor:pointer" class="selected_org" org_name="'.$org->getFieldSafe('FullName').'" name="organ" type="'.(($type=="choise")?"checkbox":"radio").'" value=' . $org->getId() . ' >'
                                . '</td>';
                        }
                        echo '</tr>';
                        $i++;
                    }
                } else {
                    $numCols = 3;
                    if($type=="new")
                        $numCols = 2;
                    echo '<tr class="level"><td style="text-align: center;" colspan="'.$numCols.'">Филиалов не найдено</td></tr>';
                }
                
                if($counter==0){
                    echo '<tr class="level"><td style="text-align: center;" colspan="3">Филиалов не найдено</td></tr>';
                }
            ?>
        </table>
    </div>
    <div class="buttons-container">
        <div class="buttons-block" style="padding-right: 0;">
            <?php if($type != "new"){ ?>
                <div class="selectall_block">
                    <input type="checkbox" class="select_all" id="select_all" style="float:left;margin-top: 0px;height: auto!important;">
                    <label for="select_all" style="float: left;line-height: 13px;">Выбрать все</label>
                </div>
            <?php } ?>
            <div class="btButton btCancel">Отмена</div>
            <?php if($type != "new"){ ?><div class="btButton btAdd">Выбрать</div> <?php } ?>
            <!--
	    <?php if($type != "edit"){ ?><div class="btButton btCreate">Создать</div> <?php } ?>
            -->
        </div>
    </div>
</div>
<style>
#filteredTable tbody {
   width: 100%;
   display: table;
  }
#filt_fillials {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  }
.search-input {
  margin-bottom: 5px;
  padding-left: 5px;
  }
.select-filial-dialog .btButton {float: right;margin-left: 4px;}
</style>