<div class="select-filial-create-dialog">
    <div class="fields-container">
        <input type="hidden" value="<?=$data["orgId"]?>" class="dataField" name="orgId"  fType="val">
        <input type="hidden" value="<?=$data["requestId"]?>" class="dataField" name="requestId"  fType="val">
        <table class="fields-table">
            <tr>
                <td class="left">
                    <div class="left-title">
                        Полное название <span style="color:red">*</span>
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField error-back required" name="fullTitle"  fType="val" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        Короткое название <span style="color:red">*</span>
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField error-back required" name="shortTitle"  fType="val" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        КПП <span style="color:red">*</span>
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField error-back required" name="kpp"  fType="val" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        Телефон
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField" name="licenseePhone"  fType="val" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        Email
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField" name="licenseeEmail"  fType="val" />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        Адрес
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input type="text" value="" class="dataField" name="address"  fType="val" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="buttons-container">
        <div class="buttons-block" style="">
            <div class="btButton btCreate">Создать</div>
            <div class="btButton btCancel">Отмена</div>
        </div>
    </div>
</div>