<?php /**
 *  диалог добавлления / редктирования записи об оплате
 * 
 *  url:   /eo/requests/get-payment-dialog
 *  path:  /module/Eo/view/eo/requests/get-payment-dialog.phtml
 */ ?>
<div class="dialog-add-payment">
<?php
                if(!empty($payment)){
?>                  <input type="hidden"  value="<?= $payment->getFieldOrSpace('LicenseRequestId')?>" class="dataField" name="LicenseRequestId" fType="val" />
                    <input type="hidden"  value="<?= $payment->getFieldOrSpace('Comment') ?>" class="hidden-comment" />
                    <input type="hidden"  value="<?= $payment->getFieldOrSpace('id') ?>" class="dataField" fType="val" name="id" />
<?php
                }else{
?>
                   <input type="hidden"  value="<?=$requestId?>" class="dataField" name="LicenseRequestId" fType="val" />
<?php
                }
?>
    <table class="fields-table data-form" style="width: 100%;">    
        <?php /*
        <tr>
            <td class="left">
                <div class="left-title">
                    Необходимая сумма госпошлины
                </div>
            </td>
            <td class="right">
                <div class="right-value">
                    
<?php
                if(!empty($payment)){
?>                  <input type="hidden"  value="<?=$payment->getFieldOrSpace('LicenseRequestId')?>" class="dataField" name="LicenseRequestId" fType="val" />
                    <input type="hidden"  value="<?= $payment->getFieldOrSpace('Comment') ?>" class="hidden-comment" />
                    <input type="hidden"  value="<?= $payment->getFieldOrSpace('id') ?>" class="dataField" fType="val" name="id" />
<?php
                }else{
?>
                   <input type="hidden"  value="<?=$requestId?>" class="dataField" name="LicenseRequestId" fType="val" />
<?php
                }
?>
                    <input type="text" value="<?= (!empty($payment)) ? $payment->getFieldOrSpace('SumNeeded') :  '' ?>" class="dataField" name="SumNeeded"  fType="val" />
                </div>
            </td>
        </tr>
        */ ?>

        <tr>
            <td class="left">
                <div class="left-title">
                    № документа
                </div>
            </td>
            <td class="right">
                <div class="right-value">
                    <input type="text" value="<?= (!empty($payment)) ? $payment->getFieldOrSpace('NumDoc') :  '' ?>" class="dataField" name="NumDoc"  fType="val" />
                </div>
            </td>
        </tr>

        <tr>
            <td class="left">
                <div class="left-title">
                    Дата
                </div>
            </td>
            <td class="right">
                <div class="right-value relative_block">
                    <input type="text" value="<?= (!empty($payment)) ? $payment->getDate('Date') :  '' ?>" class="dataField date-field" name="Date"  fType="date" />
		    <span class="date-icon"></span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="left">
                <div class="left-title">
                    Сумма
                </div>
            </td>
            <td class="right">
                <div class="right-value">
                    <input 
                        type="text" 
                        value="<?= (!empty($payment)) ? $payment->getFieldOrSpace('Sum') :  '' ?>" 
                        class="dataField" 
                        name="Sum"  
                        fType="val" 
                        onkeyup="fieldKeyType(this)"
                    />
                </div>
            </td>
        </tr>

        <tr>
            <td class="left">
                <div class="left-title">
                    Скан копия
                </div>
            </td>
            <td class="right">
                <div class="right-value">
                    <?php if( !empty($payment) ){?>
                        <?php $file = $payment->getScanFile(); ?>
                    <?php } ?>
                    <?php $fileName = ''; ?>
                    <?php $fileUrl = ''; ?>
                    <?php if( !empty($file) ){?>
                        <?php $fileName = $file->getFileName(); ?>
                        <?php $fileUrl = $file->getUrl(); ?>
                    <?php } ?>
                    <a href="<?php echo $fileUrl; ?>" target="_blan" download="<?php echo $fileName; ?>"><?php echo $fileName; ?></a>
                    <img 
                        onmouseover="this.src='/img/islod/pencil_color.png';" 
                        onmouseout="this.src='/img/islod/pencil.png';" 
                        class=" iconFile newFileType" 
                        type-file="printFormId" 
                        document-id="<?php   ?>" 
                        real-type-name="PrintForm"  
                        src="/img/islod/pencil.png"
                        onclick="paymentAddFileClickAction(this);"
                    >
                    <input 
                        style="display:none"
                        type="file"                       
                        class="dataField" 
                        name="scanFile"  
                        fType="file" 
                        onchange="paymentFileChangeAction(this);"
                    />
                </div>
            </td>
        </tr>
        
    </table>
    <div class="buttons-container" style="text-align: right">
        <div class="btButton btSave">Сохранить</div>
        <div class="btButton btCancel">Отмена</div>
    </div>
</div>
<script>
    $('document').ready(function(){
        <?php   if(!empty($payment) && !empty($payment->getFieldOrSpace('Comment'))){   ?>
            var comment = $('.hidden-comment').val();
            $('select.dataField[name="Comment"]').val( comment );
        <?php } ?>
//        $('body').off('change','.dialog-add-payment input[name="SumNeeded"], .dialog-add-payment input[name="Sum"]');
//        $('body').on('change','.dialog-add-payment input[name="SumNeeded"], .dialog-add-payment input[name="Sum"]',function(){
//            inputCurrencyValidator( this );
//        });
    });
        
    /**
     * проверяем на только числа и точка или  запятая
     * @param {type} element
     * @returns {undefined}
     */
    function fieldKeyType(element){
        console.log('тык в поле');        
        var data = element.value;
        var numStr="0123456789,.";
        var k = 0;
        var result = '';        
        for (var i=0;i<data.length;i++) {
           var thisChar = data.substring(i, i+1);
           if (numStr.indexOf(thisChar) != -1){
               k++;
               result += thisChar;
           }
        }
        element.value = result;                
    }

    function paymentAddFileClickAction( element ){
        jQuery( element ).parent().find( 'input' ).click();
    }
        
    function paymentFileChangeAction( element ){
        var name = element.files[0].name;
        jQuery( element ).parent().find( 'a' ).text( name );
        jQuery( element ).parent().find( 'a' ).attr( 'href', 'javascript:;' );
    }

</script>
<style>
.fields-table .right {padding: 0 0;}
</style>
