<?php
$i = 1;
foreach($reorgs as $reorg){
    $reOrg = $reorg->getReorganizedOrganization();

    $license = null;
    if($reOrg != null)
        $license = $reOrg->getLicense();
    ?>
    <tr class="form-block">
        <td style="width:50px;">
            <?=$i++?>
            <input type="hidden" name="id" value="<?=$reorg->getId()?>" class="dataField" fType="val" />
            <input type="hidden" name="organizationId" value="<?=$reorg->getField("organizationId")?>" class="dataField" fType="val" />
            <input type="hidden" name="dealId" value="<?=$reorg->getField("dealId")?>" class="dataField" fType="val" />
            <input type="hidden" name="reorganizedOrganizationId" value="<?=$reorg->getField("reorganizedOrganizationId")?>" class="dataField" fType="val" />
        </td>
        <td><?=(($reOrg != null)?$reOrg->getField("FullName"):"")?></td>
        <td>
            <?= $reOrg->getSettlementLocations() ?>
        </td>
        <td>
            <?php if($license!=null){ ?>
                <div class="right-value" onclick="javascript:license._get_license_info('<?=$license->getId()?>');">
                <span class="license_link" id="l_<?=$license->getId()?>">
                    № <?=$license->getField("LicenseRegNum") ?> от <?=$license->getDate("DateReg") ?>г. серия <?=$license->getField("SerDoc")?> № <?=$license->getField("NumDoc")?>
                </span>
                </div>
            <?php } else {?>
                Данные по лицензии не найдены
            <?php } ?>
        </td>
        <td style="width:50px;text-align:center">
            <span class="btRemove minus-icon" id="r_<?=$reorg->getId()?>"><span>-</span></span>
        </td>
    </tr>
<?php } ?>