<?php /**
 * url:  /eo/requests/select-current-op-dialog
 * path: /module/Eo/view/eo/requests/select-current-op-dialog.phtml
 */ ?>
<div class="op-dialog-list"
     style="top: 0;bottom: 0;left: 0;right: 0;"
>
    <div class="fields-container"
       style=""
    >
        <input type="hidden" value="<?=$orgId?>" class="dataField" name="orgId"  fType="val">
        <input type="hidden" value="<?=$requestId?>" class="dataField" name="requestId"  fType="val">
        <input type="hidden" value="<?=$type?>" class="dataField" name="type"  fType="val">
        <div class="content">
            <div>
                <table class="" width="100%">
                    <tr>
		        <td>
			    <div class="search-container">
                                <input type="text" class="search-input" placeholder="Поиск по образовательным программам" style="width: 99%;margin-bottom: 5px;padding-left: 5px" />
                            </div>
			</td>
                        <td width="170">
                            <div class="left-title">
                                Фильтр по уровням ОП
                            </div>
                        </td>
                        <td width="300">
                            <div class="right-value">
                                <select class="levelsList">
                                    <option value="0">Все уровни</option>
                                    <?php
                                    foreach($levels as $level){
                                        echo '<option value="'.$level->getId().'">'.$level->getField("Name").'</option>';
                                    }
                                    ?>
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <?php /*
            <div class="op-container" style="width: 100%">
                <?php foreach($programs as $program){?>
                    <div class="program-row" data-level="<?=$program->getField("fk_eiisEduLevel")?>">
                        <input type="checkbox" id="cb_<?=$program->getId()?>" />
                        <label for="cb_<?=$program->getId()?>"><?=$program->getField("Code")." ".$program->getField("Name") ?></label>
                    </div>
                <?php } ?>
            </div>
            */ ?>
            <div class="container viewzone"  data-heightdelta="-10">
                <table  class="op-container intable">
                    <thead>
                        <tr>
                            <th width="40"></th>
                            <th width="60">№ п/п</th>
                            <th width="100">Код</th>
                            <th>Наименование</th>
                            <th>Уровень образования</th>
                            <th>Вид программы</th>
                            <th>Квалификация</th>
                            <th width="35%">Приложение</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                        <?php
                        $i = 1;
                        foreach($lodEduPogram as $programLod){
                            //общая часть
                            $eduLevel = $programLod->getEduProgramLevel();
                            $eduLevelName = '';
                            $eduLevelId = '';
                            if (!empty($eduLevel)) {
                                $eduLevelName = $eduLevel->getFieldSafe('Name');
                                $eduLevelId = $eduLevel->getId();
                            }

                            $eduType = $programLod->getEduProgramType();
                            $eduTypeName = '';
                            if (!empty($eduType)) {
                                $eduTypeName = $eduType->getFieldSafe('Name');
                            }

                            $qualificationName = implode(' ,', $programLod->getQualificationsName());
                            $supl = $programLod->gelLicenseSupplement();
                            $suplStr = '';
                            if (!empty($supl)) {
                                $suplStr = 'Приложение ' . $supl->getFieldSafe('Number') . ' ' . $supl->getFieldSafe('EOName') . ' (от ' . $supl->getDate('DateLicDoc') . ' № ' . $supl->getFieldSafe('NumLicDoc') . ')';
                            }

                            //Программа из еиис
                            $program = $programLod->getEduProgram();
                            //Поля
                            $code = $program->getFieldSafe("Code");
                            $name = $program->getFieldSafe("Name");

                            //Проверяем выбрана ли программа
                            $licReqEduProg = new \Model\LodEntities\LicenseRequestEducationProgram();
                            $licReqEduProg = $licReqEduProg->getByWhere(array(
                                'requestOrganizationInfoId' => $orgInfoId,
                                //'educationProgramCatalogItemId' => $program->getId()
                                'fk_EducationProgram' => $programLod->getId()
                            ));
                            $isSelect = false;
                            if (!empty($licReqEduProg)) {
                                continue;
                                $isSelect = true;
                            }
                        ?>
                            <tr 
                                class="program-row"
                                data-level="<?=$eduLevelId?>"
                            >
                                <td width="40"><?php //  чекбокс?>
                                    <input 
                                        type="checkbox" 
                                        id="cb_<?=$programLod->getId()?>"
                                        <?php 
                                        if($isSelect){
                                        ?>
                                        checked="checked"
                                        <?php 
                                        }
                                        ?>
                                    />
                                </td>
                                <td width="60"><?php //  № п/п?>
                                    <?= $i++ ?>
                                </td>
                                <td width="100"><?php // Код?>
                                    <label for="cb_<?=$programLod->getId()?>"><?=$code?></label>
                                </td>
                                <td><?php // Наименование?>
                                   <?=$name?>
                                </td>
                                <td><?php // Уровень образования?>
                                   <?=$eduLevelName?>
                                </td>
                                <td><?php // Вид программы?>
                                   <?=$eduTypeName?>
                                </td>
                                <td><?php // Квалификация?>
                                    <?=$qualificationName?>
                                </td>
                                <td width="35%"><?php // Приложение?>
                                      <?= $suplStr ?>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="buttons-container"
         style="position: absolute;bottom: 10px;right: 10px;"
    >
        <div class="buttons-block" style="">
            <div class="btButton btAdd">Выбрать</div>
        </div>
    </div>
</div>
