.search-input{
    margin: 10px 0 10px 12px;
    width: 96%;
    border-radius: 3px;
    padding: 5px 25px 5px 5px;
    height: 26px;
    background: url(/img/lupa.png) #f8f8fa no-repeat 100% 50%;
    border: 1px solid #cecedc;
}
span.minus-icon{
    background-color: #3A3A3A;
    display: inline-block;
    width:20px;
    height: 20px;
    cursor:pointer;
    color: white;
    border-radius: 3px;
    overflow: hidden;
}
span.minus-icon span{
    margin-top: -18px;
    display: inline-block;
    font-size: 33px;
}
.edit-title{
    background-color: rgba(103, 184, 233, 0.7) !important;
}
 .grey-span{
    display: inline-block;
    width:100px;
    text-align: center;
    padding: 5px;
    background-color: silver;
    border: 1px solid grey;
}
 .grey-span.exclude{
    background-color: #e4ac9d;
}
.filials-content .grey-span.change-to{
    background-color: #c1e4b9;
}
.frame-container .leftSideBar .filial{
    cursor: pointer;
}
.frame-container .leftSideBar .active{
    font-weight: bold;
    text-decoration: underline;
}
.tabs-container .tab.active {
    background: #364556;
    color: white;
}
.container .intable td input{
    width: 100%
}
#filteredTable .adr_title{
    width: 550px;
}
.dialog-add-op{
    overflow: hidden !important;
}
.op-dialog-list select{
    width: 350px;
}
.op-dialog-list .op-container{
    height: 250px;
    overflow: auto;
    width: 584px;
}
.op-dialog-list .op-container .text{
    color:silver;
}
.op-dialog-list .op-container .program-row{
    cursor: pointer;
    padding: 5px;
}
.op-dialog-list .op-container .program-row:hover{
    background-color: silver;
}
.op-dialog-list .op-container .program-row.selected{
    background-color: #364556;
    color:white;
}
#edit_declaration2  tr:nth-child(2n) td, #filteredTable tr:nth-child(2n) td, #fillials_table_list tr:nth-child(2n) td, .rightSideBar tr:nth-child(2n) td{
    background-color: transparent;
}
.dialog-org-select{
    overflow: hidden !important;
}
#filt_fillials, .search-block .search, .supplement .filter{
    margin: 10px 0 10px 12px;
    width: 96%;
    background: url(/img/lupa.png) #f8f8fa no-repeat 100% 50%;
    border: 1px solid #cecedc;
    border-radius: 3px;
    padding: 5px;
    height: 26px;    
    width: 96%;
}
#filt_fillials {padding-right: 25px;}
#getNextResult{
    color: #428bca;
    text-decoration: none;
}
.add-payment{
    cursor:pointer;
    color:#428bca;
}
.add-payment:hover{
    text-decoration: underline;
}
tbody.payments-list span.minus-icon{
    text-align: center;
    float: right;
}
.select-filial-dialog .selectall_block{
    display: inline-block;
    float: left;
    margin-left: 7px;
    margin-top: 4px;
}
.select-filial-dialog .selectall_block  input{
    margin-top: -1px;
}

.select-filial-dialog .selectall_block  input, .select-filial-dialog .selectall_block  label{
    cursor:pointer;
	font-weight: normal;
}
#filteredTable tbody{
    width:100%;
	display: table;
}
#choise-supp-frame .license_link, .reorg-lic .license_link{
    cursor:pointer;
    color: #01AAAF;
	text-decoration: none;
}
#choise-supp-frame .license_link:hover, .reorg-lic .license_link:hover, .reorg .license_link:hover{
    text-decoration: underline;
}
#choise-supp-frame .supp-row, .reorg .supp-row, .reorg-lic .supp-row{
    color: #01AAAF;
	cursor: pointer;
    min-height: 24px;
}
#choise-supp-frame .supp-row .title, .reorg .supp-row .title, .reorg-lic .supp-row .title{
    margin-left:22px;
}
#choise-supp-frame .license_link:hover,
#choise-supp-frame .supp-row:hover,
.reorg-lic .license_link:hover, .reorg .license_link:hover{
    text-decoration: underline;
}
#choise-supp-frame .supp-row .remove-supp, .reorg .supp-row .remove-supp, .reorg-lic .supp-row .remove-supp{
    display: inline-block;
    width: 10px;
    float: left;
    position: relative;
    margin: 3px;
    height: 10px;
    background: url('/public/img/islod/delete.png');
    cursor: pointer;
}
#choise-supp-frame .supp-row .remove-supp:hover, .reorg .supp-row .remove-supp:hover, .reorg-lic .supp-row .remove-supp:hover{
   background: url('/public/img/islod/delete_color.png');
}
.license_link{
    cursor:pointer;
/*    text-decoration: underline;*/
	color: #969696;
}
.license_link:hover{
  color: #01aaaf;
  text-decoration: none!important;
}
.op-level-dialog .levels-container{
    height: 410px;
    overflow: auto;
    border-left: 5px solid #01aaaf;
}
.op-level-dialog .levels-container .level-row{
    padding-left: 10px;
}
.op-level-dialog .levels-container .sublevel-row{
    padding-left: 40px;
}
.op-level-dialog .levels-container input[type=checkbox]{
    margin-right: 5px;
    margin-top: -1px;
    cursor:pointer;
}
.op-level-dialog .levels-container label{
    cursor:pointer;
    font-weight: normal;
    display: inline;
	line-height: 19px;
}
.level-op-content .level-row{
    background-color: #01aaaf !important;
    color: white !important;
}
.level-op-content .btAddOP, .level-op-content .btRemoveOP{
    cursor: pointer;
    background-color: #3A3A3A;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 7px;
}
.level-op-content .btRemoveOP{
    width: 29px;
    text-align: center;
}
.leftSideBar .level-list .level-elem,
.leftSideBar .level-list .level-elem a{
    color:silver;
}
.leftSideBar .level-list .level-elem.active-level,
.leftSideBar .level-list .level-elem.active-level a{
    color: #01aaaf;
}
.level-op-content td{
    text-align: left;
}
.leftSideBar .change_fill{
    cursor:pointer;
}
.content-block .search-field{
    width: 100%;
    margin: 5px 0px;
    padding: 0 4px;
	height: 26px;
	background: url(/img/lupa.png) #f8f8fa no-repeat 100% 50%;
}
.op-dialog-list .op-container .program-row input{
    margin-top: -3px;
    cursor:pointer;
}
.op-dialog-list .op-container .program-row label{
    display: inline;
    cursor:pointer;
    font-weight: normal;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid silver;
    color: black;
    background:white;
}
.pq-select-item.ui-corner-all.ui-state-default{
    border:none;
}
.frame-container .search-block .search-input{
    width: 97%;
    border: 1px solid silver;
}