body.icons {background-position: -170px 0!important;}
.intable tbody {
    display:block;
    overflow-y:scroll;
}
.intable thead,.intable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}
.intable thead {
    width: calc( 100% - 26px )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.content .intable thead th, .tab-history-application .intable thead th,
.fix-left-border.intable thead th {
    background: #3a3a3a;
	color: #fff;
	font-weight: 400;
}
.container .intable th, #edit_declaration2 th, #fillials_table_list th, #filteredTable th, .rightSideBar table th {
    background-color: #3a3a3a;
}
.intable thead th.sort_both{
    cursor:pointer;
    /*  background: url('/img/sort_both.png')  no-repeat center right;*/
    background: #3a3a3a;
    padding-right:20px;
}
.intable thead th.sort_asc{
    cursor:pointer;
    /*    background: url('/img/sort_asc.png')  no-repeat center right;*/
    background: #3a3a3a;
    padding-right:20px;
}
.intable thead th.sort_desc{
    cursor:pointer;
    /*    background: url('/img/sort_desc.png')  no-repeat center right;  */
    background: #3a3a3a;
    padding-right:20px;
}
#filter .date-field {width: 100%!important;}
#filter .bt{
    padding:7px 10px;
	font-size: 14px!important;
	border-radius: 5px;
}

#head {
    height: 105px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-left: 256px;
    transition: 0.3s;
}
#head .nav {margin-top: 0;}
#head .title2 {margin-bottom: 10px;}
#head.icons {padding-left: 76px;}
body {
    background: #e7e7e7 url("/img/islod/bgbody.gif") repeat-y scroll 0 0 !important;
	font-size: 14px;
}
#filter td, .ui-dialog .tabs-container .tab,
#head .nav li a,
#content .steps_td .nav li a,
.leftSideBar ul li ul.level-list li.level-elem,
#list_tabs li a.show_tab, .tabs-container .tab,
.nav_footer li a .text,
.users-filter-block table td .search, .users-filter-block table td .reset-filter{
  font-size: 14px;
  }
.nav_footer li a, .spec_but, .butsave, .nav_footer li #help_button {
  font-size: 14px!important;
  }
.programRow td, #edu_programs thead th,
.commission-button, .nav li a,
.ui-button-text-only .ui-button-text{
  font-size: 15px;
  }
#content .nav li a span.doc_count_container {
  font-size: 13px;
  }
.content {
    background: #fff;
}
tbody.content {
    background: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.ron-branch-orgs tbody.content {
  width: 99.4%;
  }
.content .content {
    padding: 0;
    margin: 0;
    background: none;
}
.steps_td .nav li {
    height: auto;
}
#content .steps_td .nav li a {
    width: 214px;
    padding: 7px 25px 7px 50px;
    border-bottom: 0;
    color: #cecedc;
    line-height: 16px;
    transition:0.3s;
}
#content .steps_td .nav li a.icons {width: 34px;}
.steps_td .nav li div {
    display: none;
}
.steps_td .nav li {
    border-left: 6px solid #3a3a3a;
    width: 220px;
    transition:0.3s;
}
.steps_td .nav li.icons {width:40px;overflow: hidden;}
.steps_td .nav li.btn-lg {
    border-left: 6px solid #01aaaf;	
}
#content .steps_td li.btn-lg a {
    background: #01aaaf;
    color: #e7e7e7;
}
#content .nav li:hover, li.btn-lg {
    border-left: 6px solid #01aaaf;
}								  
#content .nav li:hover a, li.btn-lg a {
    background: #01aaaf;
    color: #e7e7e7;
}
#head .nav li a {
    background: #fff;
    color: #3a3a3a;
    border: 1px solid #bbb;
}
#head .nav li.active a, #head .nav li.active a:hover {
    background: #fff;
    color: #3a3a3a;
    border: 1px solid #01aaaf;
}
.logout a {
    background: url("/img/islod/but_exit.png") no-repeat 0 0;
    height: 22px;
    width: 22px;
}
#head .title2, h2.title2 {
    color: #3a3a3a;
}
.credentials {
  min-width: auto;
  }
.credentials .name {
    color: #01aaaf;
}
.admin.credentials .name {
    color: #7080b3;
}
#head .title1, #head .title1 a {
    color: #3a3a3a;
}
.intable .tbody-content{
    height: 70%;
}
.dialog-request-edit{
    overflow: hidden !important;
}
.dialog-request-edit .frames-buttons{
    display: inline-block;
    float: left;
}
.dialog-request-edit .dialog-buttons{
    display: inline-block;
    float: right;
}

.bt{
    background: #01aaaf;
    color: #fff!important;
    font-size: 15px!important;
    border-radius: 5px;
    min-width: 100px;
    padding: 3px 10px 5px;
    display: inline-block;
	text-decoration: none!important;
    margin-right: 1px;
    text-align: center;
    cursor: pointer;

}
.deal-filter-block div.bt {
  padding: 1px 10px 4px;
  }
.ui-dialog-content .bt {
  color: #fff!important;
  }
/*.bt:hover{
    background: #637890;
    color: #fff;
    font-size: 14px;
    font-family: Tahoma;
    border-radius: 2px;
    min-width: 100px;
    padding: 3px 10px 5px;
    display: inline-block;

    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: -1px -1px -3px black, 0 0 -1px blue;

}*/

.x-button{
    font-size: 17px;
    color: #DD1010;
    font-family: "Comic Sans MS", cursive;
    cursor: pointer;
    text-shadow: 1px 1px 3px black, 0 0 1px red;
}

.x-button:hover{
    font-size: 17px;
    color: #ff0000;
    font-family: "Comic Sans MS", cursive;
    cursor: pointer;
    text-shadow: 4px 4px 5px red, 2 2 3px red;
}

.active{
    color: #D8D8E0;
}
.error-text{
    display: none;
}
.isError .error-text{
    display: block;
    color: red;
}
.isError .error-back{

}
#filter .bt, .search-founders-button,
button#equeue_prev, button#equeue_next,
button#equeue_today, .equeue-container .equeue-print, .equeue-container .equeue-print:hover{
    background: #01aaaf;
    color: #fff;
    box-shadow: none;
    font-size: 13px;
    line-height: 11px;
	text-decoration: none;
}
.equeue-container .equeue-print {padding-top: 0;padding-bottom:0;text-decoration: none;}
.equeue-container .equeue-print:hover {text-decoration: none;}
button#equeue_prev, button#equeue_next,
button#equeue_today, .equeue-print {
  border: 0;
  height: 30px;
  border-radius: 5px;
  }
.equeue-container .equeue-print, .equeue-container .equeue-print:hover {
    float: right;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
	line-height: 30px;
}
#appSearchInput, .Search {
    border-radius: 2px;
    border: 1px solid #ddd;
	font-size: 14px;
}
#filter .date-field {
    border: 0!important;
    border-bottom: 1px solid #ddd!important;
    border-radius: 0;
}
#filter select.Search {
    width:24%!important;
    float:left;
	margin-right: 5px;
}
#filter select {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
#filter td {
    border-top: 1px solid #ddd;
}
#filter td:first-child {
    padding-left: 10px;
}
.container .intable tr:first-child th:first-child, #edit_declaration2 tr:first-child th:first-child, #fillials_table_list tr:first-child th:first-child, #filteredTable tr:first-child th:first-child, .rightSideBar table th:first-child, .rightSideBar table td:first-child, .intable .declaration_history_table_header td:first-child,
.tab-history-application .intable thead th:first-child, .fix-left-border.intable thead th:first-child {
    border-radius: 2px 0 0 2px;
}
.container .intable tr:first-child th:last-child, #edit_declaration2 tr:first-child th:last-child, #fillials_table_list tr:first-child th:last-child, #filteredTable tr:first-child th:last-child, .rightSideBar table th:last-child, .rightSideBar table td:last-child,
.tab-history-application .intable thead th:last-child, .fix-left-border.intable thead th:last-child {
    border-radius: 0 2px 2px 0;
}
.licenseOpenBut:hover {
  border-radius: 5px!important;
  }

.intable tr:last-child
.add-new-organization{
    margin-top:  15px;
    background: #01aaaf;
    box-shadow: none;
}
.bt.custom-button{
    margin-top:  20px;
    background: #01aaaf;
    box-shadow: none;
}

.level-title, #fields_form .level-title, .dialog-select-op-level .level-name{
    color: #3a3a3a!important;
    font-size: 24px!important;
    width: 100%;
	text-align: left!important;
}
.dialog-select-op-level .level-name {
  font-size: 20px;
  line-height: 24px;
  }
.exaggeratedly{
    text-decoration: underline;	
	color: #969696;
	cursor: pointer;
}
.month th {
  font-size: 13px;
  }
.selectable {
  color: #3A3A3A!important;
  font-size: 13px;
  }

.selectable:hover{
    cursor: pointer;
	color: #01aaaf;
}
.selectable.add-founders {
	color: #969696!important;
	font-size: 15px;
  }
.selectable.add-founders:hover {
	color: #01aaaf!important;
  }
.selectable {
    text-align: center;
}
.selectable.red, .day-data .red {
  color: #e03636!important;
  }
.ui-dialog-buttonset .ui-button,
.ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .saveButExpert,
.ui-dialog-buttonset .closeDialogRecall,
.expert_password_generate_action,
.btCancel,
.right-value input[type="button"],
.send_edu_program {
    background: #01aaaf!important;
    color: #fff!important;
}
.ui-dialog-buttonset .saveButExpert,
.ui-dialog-buttonset .saveButLicense,
.ui-dialog-buttonset .saveLicenseSupplement,
.ui-dialog-buttonset .dialog-button,
.btAdd, .buttons-block div.bt,
.ui-button.active-button,
#add_org, #filter .btCancel,
.bt.refresh-founders-filter {
    background: #01aaaf!important;
    color: #fff;
}
.ui-dialog-buttonset .full-left-button{
    float:left;
}
.bt.refresh-founders-filter {
    padding: 3px 0 4px!important;
    box-shadow: none;
    float: left;
    font-size: 14px!important;
}
#head_pop, .ui-dialog .ui-dialog-titlebar {
    background: #3a3a3a;
}
#list_tabs li a.show_tab, .tabs-container .tab {
    background: #fff;
    color: #333;
    border: 1px solid #c2c2c2;
    font-weight: 600!important;
}
#list_tabs li a.active, .tabs-container .active {
    background: #fff;
    border: 1px solid #01aaaf;
}

.ui-dialog.ui-widget-content {
    background: #f5f5f5;
    border: 2px solid #fff;
    border-radius: 2px;
}
.ui-dialog-buttonpane.ui-widget-content {
    background: #fff;
}
#fields_form td:first-child, .fields-table td:first-child {
    padding-left: 10px;
    border-left: 4px solid #01aaaf;
}
.tab-certificate-supplement-info.viewzone .intable.fields-table td.left {
  border-left: 4px solid #01aaaf!important;
}
#fields_form td, .fields-table td,
.viewzone table.fields-table tr td {
    padding: 5px 5px;
}
.fields-table td {
  vertical-align: top;
  }
#fields_form tr:nth-child(2n-1) td, .fields-table tr:nth-child(2n+2) td {
    background: none;
}
input, textarea {
    border: 1px solid #c2c2c2;
/*    border-radius: 3px;*/
    background: #fff;
}
.container input[type="text"], .container input[type="file"], .filter_wraper input {
/*    border: 1px solid #c2c2c2;*/
}
.container .intable tr, .tab-history-application .intable tr, .fix-left-border.intable tr, .route-table .content .document-row:nth-child(2n) {
    background: #fcfcfc;
}
.container .intable tr:nth-child(2n), #direct_form .list_of_direct li:nth-child(2n),
.tab-history-application .intable tr:nth-child(2n), .fix-left-border.intable tr:nth-child(2n){
    background: #fff;
}
.container .intable tr:hover, 
.container .intable tr:nth-child(2n):hover, #direct_form .list_of_direct li:nth-child(2n):hover,
.tab-history-application .intable tr:hover, .tab-history-application .intable tr:nth-child(2n):hover
.fix-left-border.intable tr:hover, .fix-left-border.intable tr:nth-child(2n):hover{
    background: #999 !important;
}


.container .intable .license-rows:nth-child(2n):hover {
    background: #fff none repeat scroll 0 0!important;
}

.container .intable .license-rows:hover td, .container .intable .license-rows:nth-child(2n):hover td{
    color:#000 !important;
}

.container .intable .license-rows:nth-child(2n+1):hover {
    background: #fcfcfc none repeat scroll 0 0!important;
}


.container .intable tr:hover td, 
.container .intable tr:nth-child(2n):hover td, #direct_form .list_of_direct li:nth-child(2n):hover td,
.fix-left-border.intable tr:hover td, .fix-left-border.intable tr:nth-child(2n):hover td {
    color: #fff!important;
}
.container .intable td, .container .intable th, #edit_declaration2 td, #edit_declaration2 th, #fillials_table_list th, #filteredTable th, #filteredTable td, #fillials_table_list td, .rightSideBar table th, .rightSideBar table td,
.fix-left-border.intable td{
    border: 0;
}
#cboxClose, #cboxClosePop, .ui-dialog .ui-dialog-titlebar-close {
    background: url("/img/islod/close.png") no-repeat 50% 50%!important;
}
#pagination .page,
.pagination .page {
    background: #fff;
    border: 1px solid #bbb;
    color: #333;
}
#pagination .current-page,
.pagination .unactive-page{
    background: #3a3a3a;
    color: #fff;
    border: 1px solid #3a3a3a;
}
.organiztion-list-count {
    float: left;
    margin-top: 20px;
}
.button-block {
    float:  left;
}
.choosen-super-level{
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}
.fields-table.intable tr.document-unselected-row{
    background: #fff !important;
    color: black !important;
}
.fields-table.intable tr.document-unselected-row:hover{
    background: #fff !important;
    color: black !important;
}

table.crud tbody tr.active_row td,tr.active_deal td , .row_expert.active_expert td, .row_appl.active_appl td, .tr_programm.active_appl td, .certificatesList .active_appl td, .select-user-row,
.intable .active, .intable .active td {
    background: #01AAAF!important;
    color: #fff!important;
}

.intable .active td {
  color: #fff!important;
  }
.nav_footer li a, .spec_but, .butsave, .nav_footer li #help_button {
    background: #01aaaf;
}
.requestrow{
    color:white;
    margin-left:5px;
    min-height:20px;
    text-align: left;
    vertical-align: middle;
    background:#01AAAF;
    border-radius: 2px;
    cursor:pointer;
    padding: 3px 10px 7px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}
.hideTbody{
    display: none;
}

.founders-search {
    width: 99%;
	height: 26px;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
	border: 1px solid #D9D9E0!important;
}
.search-founders-button {
    float: left;
    padding: 6px 0 8px;
    clear: right;
}
.founders-table {
    clear: left;
}
.supplLiElem{
    cursor:pointer;
}
.supplLiElem:hover{
    background: #01aaaf;
    border-radius: 5px;
    color:white;
}
.colorblue .supplLiElem, .colorblue a {
    color: #969696;
    cursor: pointer;
}
.colorblue .supplLiElem:hover {
    background: none;
    text-decoration: underline;
    color: #01aaaf;
}
.left-education-programs-level-menu {
    float: left;
    width: 257px;
    margin-right: 15px;
}

.left-education-programs-level-menu li {
    border-bottom: 1px solid #fff;
    border-left: 4px solid #01aaaf;
    padding: 4px 0 7px 12px;
}

.left-education-programs-level-menu li:first-child {
    border-top: 1px solid #fff;
}

.right-education-programs-level-menu {
    overflow: hidden;
}
.program-title-block td {
    background: #01aaaf;
    color: #fff!important;
    padding: 7px 0 0 18px!important;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px!important;
	text-align: center;
}
.serach-edu-program {
    float: right;
    clear: left;
    margin: -30px 20px 0 0;
    min-width: 300px;
}
.separator_td a, .separator_td a:hover, .findRes {
    color: #01aaaf !important;
    font-size: 14px!important;
    text-transform: uppercase;
}
.fullnameOrg {
    background: #ebebeb;
    border: 1px solid #c2c2c2;
    padding: 0 10px 3px;
}
.hideTbody table {
    width: 100%;
}

/* Диалог выбора свидетельств для отправки в реестр */
.dialog-filter{
    width: 100%;
}
.dialog-filter-row{
    width: 100%;
    margin: 15px 0;
	padding-left: 5px;
}
.dialog-table thead{
    width:100%;
}
.dialog-table th{
    text-align: left !important;
}

.link{
    font-size: 1.5em;
}
.centered{
    width: 100%;
    text-align: center;
    margin-top: 35%;
}

/* Пагинатор для диалога */
.dialog-paginator{
    padding: 15px 0 0 0;
    text-align: right;
    float: right;
}
.dialog-paginator span{
    display: inline-block;
    padding: 2px 5px;
    margin-left: 5px;
}
.dialog-paginator .page{
    background: #fff;
    border: 1px solid #bbb;
    color: #333;
    cursor: pointer;
}
.dialog-paginator .current-page{
    background: #3a3a3a;
    color: #fff;
    border: 1px solid #3a3a3a;
}
.dialog-content tbody.content > tr{
    cursor: pointer;
}
.dialog-content thead > tr > th{
    background: #3a3a3a !important;
}
/* Диалог выбора свидетельств для отправки в реестр */
/* Страница лицензий фикс интерфейса*/

.license-table-content > thead{
    width: 100% !important;
}
.license-table-content > tbody > tr{
    cursor: pointer;
}
/* Страница лицензий */
.license_supplement_table tbody.content {
    width: 99.4%

}
.footer {
    position: relative;
    height: auto;
    margin-top: -23px;
}
.ron-certificates tr:hover, .ron-orgs tr:hover, .supplement_row:hover, .ron-userrequests tr:hover, .ron-errors tr:hover, .ron-orgs tr.active {
    background-color: #01AAAF!important;
}
.ron-orgs tr.active td{
  color: #fff!important;
}
select[name="lod_stateCode"],
.founders-type-filter,
select.choose-license {
    height: 26px;
    padding: 0;
}
select.choose-license {width: 99%}
.founders-type-filter {width: 99%;}
input.nationalUnivesity, input.federalUnivesity,
input.isReligion, input.isStrong{
    float: left;
    margin-right: 5px!important;
}
.founders-place .founders-row {
  float: left;
  width: 100%;
  clear: left;
  }
.founders-place .founders-name {
    width: 90%;
    float: left;
}
.founders-place .x-button {
  float: right;
  }
.add-founders {
    float: right;
}
.openRequestButt,.moveRequestButt,.outRequestButt{
    cursor:pointer;
}
option.currentDealOpt{
    background: #01aaaf;
    color:white;
}
#notification-info-form .intable .level td,#listOfDocumentWrapper .intable .level td,#listOfHistoryReestrWrapper .intable .level td,
.deals-from-org .level td, .education-location-container .level td, #filteredTable .level td,
.founders-table .level td, #filteredTable .level td {
  background: #01AAAF!important;
  color: #fff!important;
  text-align: center;
  }

.toLicense, .element-link {  
  color: #969696!important;
  }
.toLicense:hover, .element-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #01aaaf!important;
  }
.search-reg-number, .serach-filter-block input[name="search"] {
  background: url(/img/lupa.png) #fff no-repeat 100% 50%;
  width: 96%;
  }
#content .steps_td .nav li a span.num {
  margin-right: 10px;
  color: #cecedc;
  transition:0.3s;
  opacity:1;
  }
#content .steps_td .nav li a span.num.icons {opacity:0;}
.tabs-container .tab.active {
    background: #fff!important;
    color: #000!important;
}
.dialog-request-edit .frame-container .fields-table td.right {
    padding-left: 5px;
}
.btIn.btShowPrescriptions,
.btButton, .buttons-block div.bt{
    background: #01aaaf;
	margin-right: 0px;
	font-size: 14px!important;
}

.btShowPrescriptions{
    color: #fff;
}

.btShowPrescriptions:hover{
    color: #fff;
    text-decoration: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #01aaaf;background:#01aaaf;font-weight:bold;color:#fff}	
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {border:1px solid #01aaaf;background:#01aaaf;font-weight:bold;color:#fff;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {color: #01aaaf;background:#eee;}

.fields-table .right-value {width: 100%;}
#fields_form td input, #fields_form td textarea, #fields_form td select {width: 100%;}
.active_fil {color: #01aaaf!important;}
#fields_form .level-title a, .general .fields-table .level-title a,
.fields-table .level-title a {color:#3a3a3a !important;text-decoration: none;}

.users-filter-block, .users {background: rgb(255, 255, 255) none repeat scroll 0% 0%;}
.users-filter-block table td {padding:10px; vertical-align:middle!important;}
.users-filter-block table td select {height: 26px; padding: 3px 10px;}
.users-filter-block table td input[name="fio"] {padding: 3px 10px;}
.users-filter-block table td .search , .users-filter-block table td .reset-filter {border-radius: 5px;font-size: 13px;}
.users-data-container .add-user, .users-data-container #pagination {margin-top:65px;}
.dialog-button-wrapper{
    height:40px;
    float:right;
}
.dialog-button-wrapper a.buttonAffais,.container .intable .document-unselected-row td  a.buttonDocument,.container .intable .document-unselected-row td  a.buttonReestr,
.container .document-unselected-row a.buttonReestr, #notification-info-form .document-unselected-row .buttonDocument_2 {
    color: #fff;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    margin:auto;
    background-color: #b7b7b7;
    background-repeat: no-repeat;
    margin-left:4px;
	margin-bottom:4px;
    width: auto;
}
a.buttonReestr.left {
    background-image:url(../../img/islod/prev.png);
    background-position: 3% 50%;
    padding-left: 26px!important;

}
a.buttonReestr.right,.viewzone tr:nth-child(2n) .right.import {
    background-image:url(../../img/islod/next.png);
    background-position:  97% 50%;
    padding-right: 26px!important;
    background-repeat:no-repeat;
}

.dialog-button-wrapper a.buttonAffais.nextButtonAffairs,.container .intable .document-unselected-row td a.buttonDocument.nextButtonDocument,
#notification-info-form .document-unselected-row .buttonDocument_2.nextButtonDocument{
    background-image:url(../../img/islod/next.png);
    background-position: 97% 50%;
    padding-right: 26px;

}
.dialog-button-wrapper a.buttonAffais.prevButtonAffairs,.container .intable .document-unselected-row td a.buttonDocument.prevButtonDocument,
#notification-info-form .document-unselected-row .buttonDocument_2.prevButtonDocument{
    background-image:url(../../img/islod/prev.png);
    background-position:  3% 50%;
    padding-left: 26px;
}
.dialog-button-wrapper a.buttonAffais.otherButtonAffairs,.container .intable .document-unselected-row td a.buttonDocument.otherButtonDocument{
    background-image:url(../../img/islod/other.png);
    background-position:  100% 50%;
    padding-right: 26px;
}

.dialog-butt-right{
    display: inline-flex;
    float:right;
}
#filter.requests input{
    width: 100%;
    padding: 4px;
}
/*#filter.requests select{
    border: 1px solid #d9d9e0 !important;
} */
/*Иконки для меню слева*/
/*иконка*/
.steps_td .toggleButton {height:16px;cursor:pointer;background:url("/img/icons/left.png") no-repeat scroll 100% 50%;transition:0.3s;margin-top: -80px;margin-right: 37px;background-size: contain;position: relative;}
.steps_td .toggleButton.icons {background:url("/img/icons/right.png") no-repeat scroll 100% 50%;background-size: contain; margin-right: 26px;}
/*index*/
.steps_div .certificates {background:url("/img/icons/index/certificates.png") no-repeat scroll 0 50%!important;}
.steps_div .licenses {background:url("/img/icons/index/licenses.png") no-repeat scroll 9px 50%!important;}
.steps_div .orgs {background:url("/img/icons/index/orgs2.png") no-repeat scroll 6px 50%!important;}
.steps_div .programs {background:rgba(0, 0, 0, 0) url("/img/icons/index/programs.png") no-repeat scroll 10px 50%}
.steps_div .orders {background:url("/img/icons/index/orders.png") no-repeat scroll 0 50%!important;}
.steps_div .errors {background:url("/img/icons/index/errors.png") no-repeat scroll 0 50%!important;}
.steps_div .users {background:url("/img/icons/index/user-requests2.png") no-repeat scroll 9px 50%!important;}
.steps_div .reports {background:url("/img/icons/index/reports.png") no-repeat scroll 9px 50%!important;}
.steps_div .equeue {background:url("/img/icons/index/equeue.png") no-repeat scroll 9px 50%!important;}
.steps_div .calendar {background:url("/img/icons/index/calendar.png") no-repeat scroll 9px 50%!important;}
.steps_div .user-list-requests {background:url("/img/icons/index/user-list-requests.png") no-repeat scroll 0 50%!important;}
.steps_div .documents {background:url("/img/icons/index/documents.png") no-repeat scroll 9px 50%!important;}
/*declaration*/
.steps_div .step_11, .steps_div .affairs-all_1 {background:url("/img/icons/declaration/step_11.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_1, .steps_div .step_2 {background:url("/img/icons/declaration/step_1.png") no-repeat scroll 10px 50%!important;}
.steps_div .affairs-all_3 {background:url("/img/icons/declaration/step_2.png") no-repeat scroll 10px 50%!important;}
.steps_div .affairs-all_3_1 {background:url("/img/icons/declaration/step_2_1.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_3, .steps_div .affairs-all_4 {background:url("/img/icons/declaration/step_3.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_7, .steps_div .affairs-all_5 {background:url("/img/icons/declaration/step_7.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_4, .steps_div .affairs-all_6 {background:url("/img/icons/declaration/step_4.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_5, .steps_div .affairs-all_7 {background:url("/img/icons/declaration/step_5.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_6, .steps_div .affairs-all_8 {background:url("/img/icons/declaration/step_6.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_8, .steps_div .affairs-all_9 {background:url("/img/icons/declaration/step_8.png") no-repeat scroll 10px 50%!important;}
.steps_div .declaration_review {background:url("/img/icons/declaration/declaration_review.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_10, .steps_div .affairs-all_11 {background:url("/img/icons/declaration/step_10.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_9, .steps_div .affairs-all_10 {background:url("/img/icons/declaration/step_9.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_14 {background:url("/img/icons/declaration/step_14.png") no-repeat scroll 10px 50%!important;}
/*expertise*/
.steps_div .expertise {background:url("/img/icons/expertise/expertise.png") no-repeat scroll 0 50%!important;}
.steps_div .document-accept {background:url("/img/icons/expertise/document-accept.png") no-repeat scroll 0 50%!important;}
.steps_div .analitics {background:url("/img/icons/expertise/analitics.png") no-repeat scroll 0 50%!important;}
.steps_div .experts {background:url("/img/icons/expertise/experts.png") no-repeat scroll 0 50%!important;}
.steps_div .experts-org {background:url("/img/icons/expertise/experts-org.png") no-repeat scroll 0 50%!important;}
.steps_div .experts-new {background:url("/img/icons/expertise/experts-new.png") no-repeat scroll 0 50%!important;}
.steps_div .die-experts {background:url("/img/icons/expertise/die-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .fail-experts {background:url("/img/icons/expertise/fail-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .agreements-experts {background:url("/img/icons/expertise/agreements-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .agreements-organisations {background:url("/img/icons/expertise/agreements-organisations.png") no-repeat scroll 0 50%!important;}
.steps_div .settings {background:url("/img/icons/expertise/settings.png") no-repeat scroll 0 50%!important;}
/*reports*/
.steps_div .unloading {background:url("/img/icons/reports/unloading.png") no-repeat scroll 0 50%!important;}
.steps_div .application-status {background:url("/img/icons/reports/application-status.png") no-repeat scroll 0 50%!important;}
.dialog-deal-edit .tab-block { display: none;}
.dialog-deal-edit .tab-block.active-tab{ display: block;width: 100%}
#listOfDocumentTypeWrapper,#listOfHistoryReestrTypeWrapper{
   width:23%;
   float:left;
   margin-right: 2%;
   height:100%;
}
#listOfDocumentWrapper,#listOfHistoryReestrWrapper{
   width:75%;
   float:right;
}
#listOfDocumentTypeWrapper .docType.active,#listOfDocumentTypeWrapper .docType:hover,#listOfHistoryReestrTypeWrapper .reestrType.active,#listOfHistoryReestrTypeWrapper .reestrType:hover{
   font-weight: bold;
}
#listOfDocumentTypeWrapper .docType:first-child,#listOfHistoryReestrTypeWrapper .reestrType:first-child  {
    border-top: 1px solid #fff;
}
#listOfDocumentTypeWrapper .docType,#listOfHistoryReestrTypeWrapper .reestrType{
    height: 46px;
    text-align: left;
    padding-left: 10px;
    color: #333;
    cursor:pointer;
	border-bottom: 1px solid #fff;
    border-left: 6px solid #01aaaf;
}
#listOfDocumentTypeWrapper .docType span,#listOfHistoryReestrTypeWrapper .reestrType span{
    height: 46px;
    vertical-align: middle;
    display: table-cell;
}
#listOfDocumentTypeWrapper ul{

}
#fields_form span.date-icon {
    right: 10px;
}
#getNextResult, .add-payment {
    color: #969696!important;
}
#getNextResult:hover, .add-payment:hover {
  color: #01aaaf!important;
  }
#commentInput {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  }
.relative_block span.date-icon {
    background-image: url("/js/jquery.ui/images/ui-icons_222222_256x240.png");
    background-position: -112px -112px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 15px;
}
select.searchField {
  height: 26px;
  padding: 0;
  }
.reason-block label {
  font-weight: normal;
}
.iconFile{
    cursor:pointer;
    margin-left: 15px;
}
.document-unselected-row .iconFile {
  margin-left: 0;
  }
.ui-dialog .tabs-container {
  margin-bottom: 0;
  }
.ui-dialog .tabs-container .tab {
  margin-bottom: 5px;
  }
.dialog-request-change {
  height: auto!important;
  }
  #documentReasonId option{
      display:none;
  }
.btAddDocument, .btRechangeReestr{
    bottom: 9px;
    position: absolute;
}
.btAddDocument {
    bottom: 16px;
    position: absolute;
}
.supplement-print-remake.element-link,
.supplement-print-link.element-link {
  color: #969696;
  }
#listOfDocumentWrapper .newFileType,#listOfHistoryReestrWrapper .newFileType,
#notification-info-form .newFileType{
  color: #969696;
  }
#listOfDocumentWrapper .newFileType:hover,#listOfHistoryReestrWrapper .newFileType:hover,
#notification-info-form .newFileType:hover {
  color: #01aaaf;
  cursor: pointer;
  }
a[name="dealNumber"] {
  color: #969696;
  }
a[name="dealNumber"]:hover {
  cursor: pointer;
  color: #01aaaf;
  }
.steps_div li {
    overflow: hidden;
}
#choise-supp-frame .license_link { 
  font-size: 15px!important;
  color: #969696!important;

}
#choise-supp-frame .license_link:hover {
  color: #01AAAF!important
  }
.btRemoveDoc.minus-icon span {
      padding-left: 3px;
}
#listOfDocumentWrapper .document-unselected-row td ,#listOfHistoryReestrWrapper .document-unselected-row td{
  border-bottom: 1px solid #000!important;
}
.newFileType_color {
  background: url(/img/islod/pencil.png) no-repeat 100% 6px;
  padding-right: 12px;
  }
.newFileType_color:hover {
  background: url(/img/islod/pencil_color.png) no-repeat 100% 6px;
  padding-right: 12px;
  }
.container #notification-info-form .intable tr.document-unselected-row td, 
.container #notification-info-form .intable tr.document-unselected-row:nth-child(2n) td,
.container .administrative-document-table tr td, 
.container .administrative-document-table tr:nth-child(2n) td,
.container .role-matrix tr td,
.container .role-matrix tr:nth-child(2n) td{
  border-bottom: 1px solid #000;
  }
.container #notification-info-form .intable tr:hover, 
.container #notification-info-form .intable tr:nth-child(2n):hover, 
.container #notification-info-form .intable tr:hover td, 
.container #notification-info-form .intable tr:nth-child(2n):hover td,
.container .administrative-document-table tr:hover td, 
.container .administrative-document-table tr:nth-child(2n):hover td,
.container .role-matrix tr:hover td,
.container .role-matrix tr:nth-child(2n):hover td {
    background: #fff!important;
    color: #333!important;
	border-radius: 0;
}
.container #notification-info-form .intable tr.level:hover td {
  background: #01AAAF!important;
  color: #fff!important;
  }
.frames-buttons .buttons-block .btButton {
    margin-right: 4px;
}
.ui-dialog .prescriptions-dialog.ui-dialog-content,
/*.ui-dialog .organization-info-dialog.ui-dialog-content {overflow: hidden!important;}*/
.listOfField div{
    display: inline-block;
    width:40%;   
}
.listOfField input,.listOfField select{
    display: inline-block;
    width:58%;   
}
.listOfField{
    margin-top:10px;
}
.listOfField input.empty_field{
    border-color:red;
}
.btPrintPrescription {color: #fff!important;}
.centered-col{
    text-align: center;
}
.license-state, .supplementStatus {
    border-radius: 15px;
    padding: 4px 5px;
    white-space: nowrap;
    text-align: center;    
    display: inline-block;
    min-width: 80px;
}
.supplementStatus {
  padding-top: 2px;
  }
.state-project {
  background: #ffa726;
	color: #fff;
  }
.state-active{
    background: #4DB6AC;
    color: #fff;
}
.state-inactive{
    background: #EF9A9A;
    color: #fff;
}
.state-annuled{
    background: #F44336;
    color: #fff;
}
.state-suspended{
    background: #BDBDBD;
    color: #fff;
}
.state-suspended-partial{
    background: #795548;
    color: #fff;
	white-space: normal;
	display: block;
	margin: 0 auto;
	width: 120px;
	line-height: 12px;
}
.state-not-appointed{
    background: #FFA726;
    color: #fff;
}
span.minus-icon{
    background-color: #364556;
    display: inline-block;
    width:20px;
    height: 20px;
    cursor:pointer;
    color: white;
    border-radius: 3px;
    overflow: hidden;
}
span.minus-icon span{
    margin-top: -18px;
    display: inline-block;
    font-size: 33px;
}
span.minus-icon-gr {
  background-color: #01AAAF!important;
  width: 24px!important;
  height: 24px!important;
  border-radius: 50%!important;
  margin-top: 4px;
  }
span.minus-icon-gr span{
    margin-top: -16px!important;
	}
.leftSideBar ul li:nth-child(2n) {
    background: none;
}
#filter .LicenseRegNum,
#filter .EONameAndEoInn, 
.serach-edu-program{
  height: 26px;
  }
.license-print-remake.element-link {
    background: url("/img/islod/update_grey.png") no-repeat 0 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
   }
.license-print-remake.element-link:hover {
    background: url("/img/islod/update.png") no-repeat 0 0;
	}
.ui-dialog-content a {
  color: #969696;
  }
.ui-dialog-content a:hover {
  color: #01aaaf;
  text-decoration: none!important;
  }

  .content-block.supplements{
      overflow-y: hidden;
  }
.remove-founders.x-button,
.right-education-programs-level-menu.viewzone .intable .remove-program.x-button,
.remove-education-location.x-button{
    background: url(/img/islod/delete.png) no-repeat 0 0;
    font-size: 0;
    width: 10px;
    height: 10px;
    margin-top: 5px;
	display: block;
}
.remove-founders.x-button:hover, .right-education-programs-level-menu.viewzone .intable tr:hover .remove-program.x-button:hover,
.intable tr:hover .remove-education-location.x-button:hover {
    background: url(/img/islod/delete_color.png) no-repeat 0 0;
    font-size: 0;
}
.right-education-programs-level-menu.viewzone .intable .remove-program.x-button img,
.remove-education-location.x-button img {
  display: none;
  }
.right-education-programs-level-menu.viewzone .intable tr:hover .remove-program.x-button,
.intable tr:hover .remove-education-location.x-button {
  background: url(/img/islod/delete_wh.png) no-repeat 0 0;
  }
.selectall_block {
    float: left;
}
.selectall_block input {
    float: left;
    margin-right: 5px!important;
}
.selectall_block label {
    font-weight: normal;
}
.op-level-dialog .levels-container {
    border-left: 5px solid #01aaaf;
    height: 410px;
    overflow: auto;
}
.op-level-dialog .levels-container .level-row {
    padding-left: 10px;
}
.op-level-dialog .levels-container .sublevel-row {
    padding-left: 40px;
}
.op-level-dialog .levels-container input[type="checkbox"] {
    cursor: pointer;
    margin-right: 5px;
    margin-top: -1px;
}
.op-level-dialog .levels-container label {
    cursor: pointer;
    display: inline;
    font-weight: normal;
}
.level-op-content .level-row {
    background-color: #01aaaf !important;
    color: white !important;
}
.level-op-content .btAddOP, .level-op-content .btRemoveOP {
    background-color: #364556;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}
.level-op-content .btRemoveOP {
    text-align: center;
    width: 29px;
}
.fix-left-border td{
    border-left: none !important;
}
#current-notification-info-form input[name="registrationNumber"] {
    padding-left: 5px;
}
.filial-odplaces-content.tbody-content input {
    padding: 0;
    height: 26px;
}
.listOfField .date {
  background: url("/img/icons/calendar.png") #fff no-repeat 97% 50%;
  }
.listOfField .require, .listOfField .date {
  padding-left: 5px;
  height: 26px;
  }
#fields_form h3, .supps-container .title {
  color: #969696;
  }
.supps-container .title:hover {
  color: #01aaaf;
 }
.levelsList, .listOfField .select {padding: 0;height: 26px;}
.higlight-crossed{
    background: #99ff99 !important;
}
.equeue-container .footer {
    background: #e7e7e7;
}
.equeue-container .footer A {
    background: #fff !important;
    color: #3a3a3a !important;
    border: 1px solid #bbb !important;
}
.ui-datepicker-calendar .ui-datepicker-current-day .ui-state-active,
.ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
    background: #01AAAF;
    color: #fff;
}
#licenseForm input:disabled {
    border: 0;
    padding: 0;
}
.intable.application-orgs thead, .op-container.intable thead, .education-location-container.viewzone .intable thead,
.right-education-programs-level-menu .intable thead {
  min-width: 100%;
  }
.equeue-form form table input {
    padding-left: 5px;
}
#filteredTable {
  height: 350px;
  }
.wrap_filteredTable {
  height: 290px;
  }
.container .administrative-document-table tr.level td,
.container .administrative-document-table tr.level:hover td,
.application-orgs tr.level td, #filteredTable .level td{
    background: #01AAAF!important;
    color: #fff!important;
	border-bottom: 0;
	text-align: center;
}
.fields-table .right-value textarea {
    padding-left: 10px;
}
.fields-table .right-value select {
    height: 29px;
    padding-top: 0;
    padding-left: 5px;
}
.fields-table .right-nopadding textarea {
  height: 118px;
  }
.add-role-dialog input[name="role-name"] {
  width: 100%;
  }
.no-data-in-table {
    background: #01AAAF;
    color: #fff!important;
}
.left.openOrganizationButton {
  float: left;
  }
.deal-main-block .buttons-container{
    position:absolute;
    bottom:3%;
}
.btCreateRequest {
    float: left;
}
#filterForm.dealFilterWrap .Search{
    width:32.5%;
}
.generate-report {
   color: #969696;
  }
.generate-report:hover {
   color: #01AAAF;
   cursor: pointer;
  }
.intable tr:hover .filial-item.focus-show span {
  background: none!important;
  }

.generate-report-diaog .report-generate-body div {
  margin-top: 0px!important;
  }
.add_report {
    background: #01AAAF;
    padding: 3px 10px 4px;
    border-radius: 4px;
    position: absolute;
    bottom: -49px;
    right: 115px;
    color: #fff!important;
	text-decoration: none!important;
}
.add_report:hover {
  text-decoration: none;
  }
.generate-report-diaog.ui-dialog-content {
  overflow: visible;
  }
.report-pre-finish {
    text-align: center;
}
.report-generate-count, .report-pre-finish, .report-generate-processed {
    font-size: 21px;
    margin-bottom: 20px;
}
.generate-report-diaog h2 {
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
	margin-bottom: 30px;
}
.report-generate-count, .report-generate-processed {
    padding: 0 0 0 45px;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #01AAAF;
  }
.dialog-request-move {
    min-height: 100px!important;
}
.searchOrganization {
    width: 100%;
    margin-bottom: 5px;
}
#wrapReorg2 .send_edu_program {
  margin-bottom: 0;
  }
#fields_form h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  }
.create-founders input {
    padding-left: 5px;
}
.generate-report-diaog div {
    font-size: 16px;
}
.dialog-reestr-change input[name="date-attached-to-action"] {
  width: 100%;
  }
td.bk-grd-grey {
  background: #999!important;
  color: #fff!important;
  }
.calendar-block {
  padding-left: 10px;
  }
.month-block {
  overflow: hidden;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin-right: 10px;
  }
.month-block .month-block {
  padding-top: 0;
  border-top: 0;
  margin-right: 0;
  }
.month-block span {
    display: inline-block;
}
.month-block .col-md-2 {
  min-height: 185px;
  }
.month-block .col-md-2:nth-child(7n) {
    clear: left;
}
.route-table .content .month-block .title {
  display: block;
  max-width: 170px;
  }
.equeue-calendar.equeue-week thead td p {
  margin: 0;
  text-align: center;
  }

.equeue-calendar.equeue-week thead td p:first-letter {
  text-transform: uppercase;
  }
.month-block .month-name {
    margin: 0 10px 0 0!important;
	text-align: right!important;
}
.selectable.day.active {
  background: #e7e7e7;
  }

.route-table .content .title-big {
    width: 100%!important;
    padding-top: 10px;
}
span.previosYear, span.nextYear {
    box-shadow: none;
    color: #333!important;
    font-size: 0px;
    line-height: 11px;
}
span.previosYear, span.nextYear {
    border: 1px solid #ccc;
    height: 25px!important;
	width: 25px;
	position: relative;
    display: inline-block;
    line-height: 25px;
    padding: 0 4px;
    font-weight: normal;
	top: -7px;
}
span.previosYear:after {
  content: ''; 
  position: absolute;
  left: 4px; bottom: 6px;
  border: 5px solid transparent; 
  border-right: 5px solid #333;
  }
span.nextYear:after {
  content: ''; 
  position: absolute;
  left: 9px; bottom: 6px;
  border: 5px solid transparent; 
  border-left: 5px solid #333;
  }
.calendar-block .year-value {
    color: #01aaaf;
	font-size: 24px;
	margin: 0 100px;
}
.day-data input[type="radio"] {
	margin: -3px 3px 0 10px;
}
.day-data {
    text-align: right;
	margin-right: 10px;
	font-size: 13px;
	float: right;
	margin-top: -39px;
}
.is-duplicate {
    font-weight: bold;
    text-align: right;
}
.container .intable .level-op-content .chosen-container .chosen-results {
  text-align: left;
  }
.copy-of-payment-item.form-control {
  color: #969696;
  }
.tab-education-program .intable .title td{
  color: #fff!important;
  background: #01AAAF;
  }
.intable.documents_table.document-table-content a {
  color: #969696;
  word-break: break-all;
  }
.intable.documents_table.document-table-content tr:hover td a,
.intable.documents_table.document-table-content a:hover {
  color: #fff;
  }
.buttons-block {
  padding-right: 10px;
  }
.tab-certificate-supplement-info .intable.fields-table tr:hover td {
  background: #fcfcfc;
  color: #333!important;
  }
.tab-certificate-supplement-info .intable.fields-table tr:nth-child(2n):hover td {
  background: #fff;
  color: #333!important;
  }
.fields-table .right-nopadding textarea[name="EOName"] {
  height: 70px;
  }
.relative_block .hasDatepicker {padding-left: 10px;}
.select-filial-dialog .selectall_block label {margin-top: 0;line-height: 12px;float: left;}
.select-filial-dialog .selectall_block input {margin-top: 0;float: left;}
.deleteSupplement{
    display: inline-block;
    width: 10px;
    float: right;
    position: relative;
    margin: 3px;
    height: 10px;
    background: url(/public/img/islod/delete.png);
    cursor: pointer;
}
.input-error-text {
color:#f00;
font-size:12px;
}
#filt_fillials,
input[name="search-license-supplement-from-org"],
input[name="search-certificate-supplement-from-org"],
.search-supplement-from-organization,
.serach-edu-program,
.dialog-filter-row,
.search-from-ugs {background: url(/img/lupa.png) #fff no-repeat 100% 50%}
.deal-filter-block td {
  vertical-align: top;
  }
#licenseForm .fields-table input[type="text"],
#licenseForm .fields-table textarea {
  padding-left: 5px;
  }
.intable.-license_table.-license-table-content tr:hover td {
  background: #fff;
  color: #333!important;
  }
.plitka-border{
    border-width: 1px!important;
	border-radius: 3px;
}
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.right,
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.left {
  display: block!important;
  margin-right: 4px;
  background-color: #959595;
  }
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.right:hover,
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.left:hover {
  color: #01AAAF;
  }
.plitka-link-scan,
.plitka-link-document,
.plitka-zagolovok {
  padding: 0 4px;
  }
.plitka-name {
  padding: 4px;
  }

.plitka-link {
  color: #7080b3;
  text-decoration: underline!important;
  background: url(/img/islod/link.png) no-repeat 7px 0;
  padding: 0px 0 0px 34px;
  color: #7080b3!important;
  margin-bottom: 4px;
  }
.plitka-link:hover {
  text-decoration: none!important;
  }
.intable.-license_table.-license-table-content thead th {
    font-size: 14px;
    text-align: center;
  }
.plitka-link-scan img {margin: 0 2px;}
.plitka-link-scan img.license-maket-maket-send,
.plitka-link-scan img.supplement-maket-send {margin-right: 6px}
.plitka-zagolovok {
    line-height: 28px;
    text-align: center;
}
.generate-doc-report.doc_link {
  color: #969696;
  background: url("/img/doc_link.png") no-repeat scroll 0 50%;
  display: inline-block;
  line-height: 49px;
  padding-left: 35px;
  }
.generate-doc-report.doc_link:hover {
   color: #01AAAF;
   cursor: pointer;
  }
#filter .EONameAndEoInn {
  background: #fff url("/img/lupa.png") no-repeat 100% 50%!important;
  padding-right: 25px;
  }
.plitka-link-scan .plitka-link {
    display: inline-block;
    word-break: break-all;
}

.bt.add-new-organization {
    margin-right: 5px;
    margin-top: 15px;
}
.error.error-block {color: #f00;}
.reorgs-content.tbody-content {
  height: auto!important;
  }
.reorgs-content.tbody-content td {
  height: 30px!important;
  padding-bottom: 5px;
  }

.intable.-license_table.-license-table-content td a {
  color: #969696;
  }
.intable.-license_table.-license-table-content td a.buttonReestr,
.intable.-license_table.-license-table-content td a.buttonReestr:hover {
  color: #fff!important;
  text-decoration: none;
  }
.documents_table.document-table-content td a {
  display: inline-block;
  word-break: break-all;
  }

#filter input[type="text"].excert-search {
  width: 100%;
  padding-right: 25px;
  height: 26px;
  padding: 0px 10px;
  background: url(/img/lupa.png) #fff no-repeat 100% 50%;
  }
.license-document-link.element-link {
  display: inline-block;
  word-break: break-all;
  }

.excerpt-content .row-excerpt:hover td a.element-link {color: #fff!important;}
.excerpt-content .maket-sign-link {margin: 0 5px;background: #01AAAF;
padding: 7px;
border-radius: 3px;
text-decoration: none;
color: #fff!important;
}
.makettop {margin-top: 5px;display: inline-block;}
.makettop:hover {text-decoration: none!important;}
.excerpt-content .license-maket-maket-send {margin-right: 5px;background: #01AAAF;
padding: 7px;
border-radius: 3px;}
