.plitka-zagolovok{
    background-color: #01aaaf;
    color: white;
}

.plitka-name{
    background-color: black;
    color: white;
}

.plitka-link-scan a{
    -background-color: black;
    color: blue;    
}

.plitka-link-document{
    
}

.plitka-delo-number{
    color: grey;
    text-align: right;
}

a.hiden {display:none;}

.plitka-border{
    border-color: #01aaaf;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 10px;
	border-radius: 3px;
}
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.right,
.intable.-license_table.-license-table-content .plitka-butons .buttonReestr.left {
  display: block!important;
  }