<div class="viewzone">
<div class="section-title">Результат проверки</div>
<?$certificate_info = json_decode($data[0]['certificate_info'], true);
$array_default_certificate_info = array("SN" => "-", "G" => "", "E"=>"","CN" => "", "OU"=>"", "INN"=>"");
$certificate_info['SubjectName'] = array_merge($array_default_certificate_info, $certificate_info['SubjectName'] );
?>
    <table id="fields_form">
        <tr>
            <td class="title_form">Дата проверки:</td>
            <td><?=Date("d.m.Y H:i", strtotime($data[0]['date_verify']))?></td>
        </tr>
        <tr>
            <td class="title_form">Результат</td>
            <td><?=($data[0]['valid'] == 1)? "Подпись валидна" : "Подпись невалидна"?></td>
        </tr>
        <?if($data[0]['valid'] == 0):?>
        <tr>
            <td class="title_form">Ответ сервера проверки подписи</td>
            <td><?=$data[0]['message']?></td>
        </tr>
        <?endif?>
        <tr>
            <td colspan="2"><div class="section-title">Данные владельца сертификата подписи</div></td>
        </tr>
        <tr>
            <td class="title_form">ФИО</td>
            <td><?=$certificate_info['SubjectName']['SN'].' '.$certificate_info['SubjectName']['G']?></td>
        </tr>
        <tr>
            <td class="title_form">Место работы</td>
            <td><?=$certificate_info['SubjectName']['CN'].' '.$certificate_info['SubjectName']['OU']?></td>
        </tr>
        <tr>
            <td class="title_form">Email</td>
            <td><?=$certificate_info['SubjectName']['E']?></td>
        </tr>
        <tr>
            <td class="title_form">Срок действия сертификата</td>
            <td><?=Date("d.m.Y", strtotime($certificate_info['NotBefore'])).' - '.Date("d.m.Y", strtotime($certificate_info['NotAfter']))?></td>
        </tr>

    </table>
</div>