Уважаемый(ая)
<?php echo  $this->escapeHtml( $fio) ; ?>
, для подтвержения
Вашего согласия принять участие в аккредитационной экспертизе, которая будет проходить в период с <?php echo  $this->escapeHtml( $expertiseBegin ) ; ?> по <?php echo  $this->escapeHtml( $expertiseEnd ); ?>,
скачайте, пожалуйста, формуляр согласия нажатием кнопки «Формуляр согласия», заполните его, сделайте скан документа и приложите его по кнопке «Выбрать файлы».
<br>
<br>
<form method="post" action="/confirm/expert/formular/<?php echo  $this->escapeHtml( $contactingUniq ); ?>" >
    <input type="hidden" name="formSession" value="<?php echo  $this->escapeHtml( $formSession ); ?>" >
    <input class="but" type="submit"  value="Формуляр согласия" style="width: 142px">
</form>
<br>
<form  action="/confirm/expert/confirm/<?php echo  $this->escapeHtml( $contactingUniq ); ?>"  enctype="multipart/form-data" method="post" >
    <input type="hidden"  name="formSession" value="<?php echo  $this->escapeHtml( $formSession ); ?>" >
    <input type="file"    name="confirmFile" required="required"  multiple>
    <input class="but" type="submit"  name="answer" value="Отправить" >
</form>

<style>
.but {
  color: #fff;
  background: #2f5ca5;
  border: 0;
  width: 100px;
  height: 28px;
  }

</style>
