Уважаемый(ая)
<?php echo  $this->escapeHtml( $fio ); ?>
, для подтвержения
Вашего отказа принять участие в аккредитационной экспертизе, которая будет проходить в период с <?php echo  $this->escapeHtml( $expertiseBegin ); ?> по <?php echo  $this->escapeHtml( $expertiseEnd ); ?><br>
<!--Образовательная организация: <?php echo  $this->escapeHtml( $vuzName ); ?><br>
Адрес местонахождения ОО: <?php echo  $this->escapeHtml( $vuzAdres ); ?>-->

<br>
Укажите, пожалуйста, причины отказа и нажмите кнопку «Отправить»
<br>
<br>
Причины отказа
<br>
<form  action="/confirm/expert/refusing/<?php echo  $this->escapeHtml( $contactingUniq ); ?>"  enctype="multipart/form-data" method="post" >
    <input type="hidden"  name="formSession" value="<?php echo  $this->escapeHtml( $formSession ); ?>" >
    <textarea name="reason" rows="5" required="required" style="width: 100% "></textarea>
    <br>
    <input class="but" type="submit"  name="answer" value="Отправить" >
</form>
<style>
.but {
  color: #fff;
  background: #2f5ca5;
  border: 0;
  width: 100px;
  height: 28px;
  }
</style>


