<?php //роль
    $rolName = '';
    if( !empty( $programAll ) && !empty( $chairMain ) ){
        $rolName = 'руководителя и эксперта';
    }
    if( !empty( $programAll ) && empty( $chairMain ) ){
        $rolName = 'эксперта';
    }
    if( empty( $programAll ) && !empty( $chairMain ) ){
        $rolName = 'руководителя экспертной группы';
    }
?>

Уважаемый(ая) <?php echo  $this->escapeHtml( $fio ); ?>
, Национальное аккредитационное агентство в сфере
образования, приглашает Вас принять участие в аккредитационной экспертизе в качестве <?php echo  $rolName ; ?>, которая будет проходить в период с <?php echo  $this->escapeHtml( $expertiseBegin ); ?> по <?php echo  $this->escapeHtml( $expertiseEnd ); ?>
<br>
<br>
Образовательная организация: <?php echo $this->escapeHtml( $vuzName ); ?>
<br>
<br>
Адрес местонахождения ОО: <?php echo  $this->escapeHtml( $vuzAdres ); ?> 
<br>
<br>
    <?php if( !empty($programAll) ){ ?>
        <?php if( 1 == count($programAll) ){ ?>
            Образовательная программа:
        <?php }
        else{ ?>
             Образовательные программы:
        <?php } ?>        
        <br>
        <?php  foreach( $programAll as $programmOne ){ 
             echo $programmOne->getCode() ;
             echo $programmOne->getName() ;
             echo '<br>';
        } ?>
        <br>
    <?php } ?>
В случае Вашего согласия необходимо нажать кнопку «Согласие», в случае отказа «Отказ»
<br>
В случае отсутствия 
возможности отправки заполненного формуляра согласия в течение 24 часов, 
с момента получения сообщения с предложением участия в аккредитационной 
экспертизе, либо при возникновении других вопросов, Вы можете обращаться 
в куратору аккредитационной экспертизы
<br>
<br>
<form method="post" action="/confirm/expert/confirm/<?php echo  $this->escapeHtml( $contactingUniq ); ?>" >
    <input type="hidden" name="formSession" value="<?php echo  $this->escapeHtml( $formSession ); ?>" >
    <input class="but" type="submit" name="answer" value="Согласие" >
</form>

<form method="post" action="/confirm/expert/refusing/<?php echo  $this->escapeHtml( $contactingUniq ); ?>" >
    <input type="hidden" name="formSession" value="<?php echo  $this->escapeHtml( $formSession ); ?>" >
    <input class="but" type="submit" name="answer" value="Отказ" >
</form>
<style>
form input[type="submit"] {
  float: left;
  margin: 10px 5px;
  }
.but {
  color: #fff;
  background: #2f5ca5;
  border: 0;
  width: 100px;
  height: 28px;
  }

</style>