<?php
$formLabel = $this->plugin('formLabel');

$serviceType = $this->genericForm->get('service_type');
$appealType = $this->genericForm->get('appeal_type');
$serviceReason = $this->genericForm->get('service_reason');
$appealReason = $this->genericForm->get('appeal_reason');
$ooInn = $this->genericForm->get('oo_inn');
$ooName = $this->genericForm->get('oo_name');
$branchNumber = $this->genericForm->get('branches_number');
$checkBranchesOnly = $this->genericForm->get('check_branches_only');
$programsNumber = $this->genericForm->get('programs_number');
$issueDocumentsNumber = $this->genericForm->get('issue_documents_number');
$checkNeeded = $this->genericForm->get('check_needed');
$documentsNumber = $this->genericForm->get('documents_number');

$this->plugin('basePath')->setBasePath('/equeue_res');

if ($this->isTest) {
    echo '<!-- TEST -->';
}

?>
<h1 class="form-title"><?=$this->translate('generic_form.title')?></h1>
<form class="form-horizontal dynamic" method="POST" action="/equeue/checkStep1">
    <div class="form-group<?php if (count($serviceType->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$serviceType->getOption('label')?></label>
        <div class="col-sm-8 field-service-type">
            <?=$this->formRadio($serviceType)?>
        </div>
    </div>
    <div class="form-group<?php if (count($appealType->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$appealType->getOption('label')?></label>
        <div class="col-sm-8 field-appeal-type">
            <?=$this->formSelect($appealType)?>
        </div>
    </div>
    <div class="form-group<?php if (count($serviceReason->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$serviceReason->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formSelect($serviceReason)?>
        </div>
    </div>
    <div class="appeal-reason-row form-group only-reception<?php if (count($appealReason->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$appealReason->getOption('label')?></label>
        <div class="col-sm-8 field-appeal-reason">
            <?php
            $options = $appealReason->getValueOptions();
            $selectedOptions = (array)$appealReason->getValue();
            $invisibles = ['a382cea16f1c4cf9a729d4f8d0d8a8a0', '24e060cb-6384-4009-b9ce-93a775678732'];
            foreach ($options as $o) {
                $selected = in_array($o['value'], $selectedOptions);
                $selectedAttr = ($selected ? ' checked="checked"' : '');
                //hide option
                $invisible = in_array($o['value'], $invisibles);
                $invisibleAttr = ($invisible ? ' style="display: none"' : '');
                ?>
                <div class="checkbox" data-code="<?=$o['attributes']['data-code']?>" data-reason-code="<?=$o['attributes']['data-reason-code']?>"<?=$invisibleAttr?>>
                    <label>
                        <input type="checkbox" name="<?=$appealReason->getName()?>[]" value="<?=$o['value']?>"<?=$selectedAttr?> />
                        <?=$o['label']?>
                    </label>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
    <div class="form-group<?php if (count($ooInn->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$ooInn->getOption('label')?></label>
        <div class="col-sm-8 field-oo-inn">
            <?=$this->formText($ooInn)?>
        </div>
    </div>
    <div class="form-group<?php if (count($ooName->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$ooName->getOption('label')?></label>
        <div class="col-sm-8 field-oo-name">
            <?=$this->formText($ooName)?>
        </div>
    </div>
    <div class="form-group only-reception<?php if (count($branchNumber->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$branchNumber->getOption('label')?></label>
        <div class="col-sm-8 field-branches-number">
            <?=$this->formNumber($branchNumber)?>
        </div>
    </div>
    <div class="form-group only-reception group-check-branches-only hidden-by-option">
        <label class="control-label col-sm-4"><?=$checkBranchesOnly->getOption('label')?></label>
        <div class="col-sm-8 field-check-branches-only">
            <?php
            $options = $checkBranchesOnly->getValueOptions();
            $selectedOptions = (array)$checkBranchesOnly->getValue();
            foreach ($options as $o) {
                $selected = in_array($o['value'], $selectedOptions);
                ?>
                <div class="checkbox <?=$o['attributes']['class']?>">
                    <label>
                        <input type="checkbox" name="<?=$checkBranchesOnly->getName()?>" value="<?=$o['value']?>"<?php if($selected) echo ' checked="checked"'; ?> />
                        <?=$o['label']?>
                    </label>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
    <div class="form-group only-reception<?php if (count($programsNumber->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$programsNumber->getOption('label')?></label>
        <div class="col-sm-8 field-programs-number">
            <?=$this->formSelect($programsNumber)?>
        </div>
    </div>
    <div class="form-group only-delivery<?php if (count($issueDocumentsNumber->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$issueDocumentsNumber->getOption('label')?></label>
        <div class="col-sm-8 field-issue-documents-number">
            <?=$this->formSelect($issueDocumentsNumber)?>
        </div>
    </div>
    <div class="form-group only-reception<?php if (count($checkNeeded->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$checkNeeded->getOption('label')?></label>
        <div class="col-sm-8 field-check-needed">
            <?php
            $options = $checkNeeded->getValueOptions();
            $selectedOptions = (array)$checkNeeded->getValue();
            foreach ($options as $o) {
                $selected = in_array($o['value'], $selectedOptions);
                ?>
                <div class="checkbox <?=$o['attributes']['class']?>">
                    <label>
                        <input type="checkbox" name="<?=$checkNeeded->getName()?>" value="<?=$o['value']?>"<?php if($selected) echo ' checked="checked"'; ?> />
                        <?=$o['label']?>
                    </label>
                </div>
                <?php
            }
            ?>
        </div>
    </div>
    <div class="form-group group-documents-number only-reception<?php if (count($documentsNumber->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$documentsNumber->getOption('label')?></label>
        <div class="col-sm-8 field-documents-number">
            <?=$this->formSelect($documentsNumber)?>
        </div>
    </div>
    <div class="form-group toolbar">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-success"><?=$this->translate('continue')?></button>
        </div>
    </div>
</form>
<div class="form-next"></div>
<script type="text/javascript" src="<?=$this->basePath() . '/js/step1.js'?>"></script>