<?php
if ($this->removed) {
    ?>
    <div>Отмененные записи:</div>
    <?php
    foreach($this->ids as $id) {
        echo $id . '<br/>';
    }
}
?>
<div>Отменить записи с ID (один в строку):</div>
<form action="" method="POST">
    <div><textarea name="ids" cols="32" rows="5"></textarea></div>
    <div><input type="submit" value="Отменить" /></div>
</form>
