<div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 20px">
    <?php if ($this->commit_failed): ?>
        <p>При записи произошла ошибка - возможно, выбранное время уже занято. Попробуйте <button class="btn btn-default btn-step-back">выбрать другое</button></p>
    <?php else: ?>
        <p>Запись успешно осуществлена.</p>
        <p>Запись на прием <?=$this->date_day?> в <?=$this->date_time?> (кабинет №<?=$this->room?>)</p>
        <p>Продолжительность приема составит приблизительно <?=$this->audience_length?> минут.</p>
        <p>Тип услуги: <?=$this->service_type?></p>
        <p>Причина обращения:<br/> <?php
            foreach ($this->appeal_reasons as $reason) {
                echo $reason . '<br/>';
            }
            ?></p>
        <p>Дата осуществления записи: <?=$this->appeal_date?></p>
        <p></p>
        <p class="achtung">Внимание! Для потверждения регистрации Вам необходимо пройти по ссылке, указанной в письме.</p>
        <p class="achtung">При отсутствии подтверждения Ваша запись будет отменена в течение 1 дня.</p>
        <?php if($this->link):?>
            <a class="btn btn-success" href="<?=$this->link?>">Сформировать платежное поручение</a>
        <?php endif; ?>

    <?php endif; ?>
</div>