<?php

$dateDay = $this->form->get('date_day');
$dateTime = $this->form->get('date_time');
$firstName = $this->form->get('first_name');
$lastName = $this->form->get('last_name');
$middleName = $this->form->get('middle_name');
$phone = $this->form->get('phone');
$cellPhone = $this->form->get('cell_phone');
$email = $this->form->get('email');

$this->plugin('basePath')->setBasePath('/equeue_res');

?>
<form class="form-horizontal dynamic" method="POST" action="/equeue/checkStep2">
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$this->translate('date_time')?></label>
        <div class="col-sm-8">
            <div class="form-group row">
                <div class="col-sm-4">
                    <div class="input-group date field-date-day">
                        <?=$this->formText($dateDay)?>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 field-date-time">
                    <?=$this->formSelect($dateTime)?>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group<?php if (count($lastName->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$lastName->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($lastName)?>
        </div>
    </div>
    <div class="form-group<?php if (count($firstName->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$firstName->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($firstName)?>
        </div>
    </div>
    <div class="form-group<?php if (count($middleName->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$middleName->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($middleName)?>
        </div>
    </div>
    <div class="form-group<?php if (count($phone->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$phone->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($phone)?>
        </div>
    </div>
    <div class="form-group field-cell-phone<?php if (count($cellPhone->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$cellPhone->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($cellPhone)?>
        </div>
    </div>
    <div class="form-group<?php if (count($email->getMessages())) echo ' has-error' ?>">
        <label class="control-label col-sm-4"><?=$email->getOption('label')?></label>
        <div class="col-sm-8">
            <?=$this->formText($email)?>
        </div>
    </div>
    <button type="submit" style="display:block;width:0!important;height:0!important;overflow:hidden;opacity:0!important;margin:0;padding:0;"></button>
    <div class="form-group toolbar">
        <div class="col-sm-4">
            <button class="btn btn-default btn-step-back">Назад</button>
        </div>
        <div class="col-sm-8">
            <button type="submit" class="btn btn-success"><?=$this->translate('continue')?></button>
        </div>
    </div>
</form>
<div class="form-next"></div>
<script type="text/javascript">
    var dateDayData = {
        <?php foreach($this->dates as $date => $times): ?>
        "<?=$date?>": [
            <?php foreach($times as $time): ?>
            "<?=$time?>",
            <?php endforeach; ?>
        ],
        <?php endforeach; ?>
    };
    $('.field-cell-phone INPUT').mask('+7 (999) 999-99-99'/*, {placeholder: ''}*/);
</script>
<script type="text/javascript" src="<?=$this->basePath() . '/js/step2.js'?>"></script>