.ui-dialog {/*width:1018px!important;*/}

     .dialog-parent{
        -background-color: red;
        background: transparent;
        position: absolute;
        bottom: 5px;
        top: 5px;
        left: 5px;
        right: 5px;
        overflow: hidden;
    }

    .dialog-block-button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .documented-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline;
        min-width: 100px;
        padding: 5px 10px;
        margin-left: 5px;
/*        margin-right: 5px;*/
	font-size: 13px;
	ont-family: Tahoma;
    }

    .active-tab{
        display: block;
    }

    .dialog-full-area{
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
    }

    .dialog-input-view{
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 40px;
    }

    .dialog-tab-content{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 40px;
        bottom: 5px;
    }

    .dialog-tab-content-item{
        -display: none;
        -background-color: yellowgreen;
        background: transparent;

        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        overflow: none;
    }

    .dialog-table{
        width: 100%;
        background-color: transparent;
    }
    .dialog-table td{
        padding: 10px 5px;
    }

    .dialog-table  tr:nth-child(2n-1) td{
            -background: #fff;
    }

    .dialog-full-area .intable th{
        font-size: 95%;
    }
    .dialog-full-area .intable td{
        font-size:95%;
    }    
.ui-dropdownchecklist-text {
	color: #000;
}
.ui-dropdownchecklist-item.ui-state-default:hover {
  background: #555;
}
.ui-dropdownchecklist-item.ui-state-default:hover .ui-dropdownchecklist-text { 
  color: #fff;
  }