body {
  background: url(/img/fon.gif) repeat 0 0;
  }

#wrapper {
    background: url(/img/top-block.png) no-repeat 0 0;
    width: 100%;
    position: relative;
}
#wrapper {
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    font-size: 100%;
    line-height: initial;
    text-align: center; 
	overflow: hidden;
}
.bg {
  background: url(/img/bgtop.gif) repeat 0 0;
  position: absolute;
  width: 100%;
  height: 50%;
  }
html {
    height: 100%;
}
body {
    font: 12px/14px "Segoe UI", Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin: 0;
}
.top-block{
    color: #676767;
	text-align: center;
	padding-top: 25px;
	width: 100%;
	position: absolute;
	bottom: 50%;
}
.top-block .text{
    margin-bottom: 10px;
}
.top-block .icon{
    display: inline-block;
    width: 100%;
    background: url(../img/logo.png) no-repeat 50% 50%;
    height: 139px;	  
	clear: both;
}
.main-title{
    display: inline-block;
	clear: left;
    font-size: 3.4vh;
	line-height: 1.2em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
	font-weight: 700;
	border-bottom: 2px solid #333;
    color: #333;
    padding-bottom: 20px;
}
.sub_title{
    font-size: 20px;
}
.footer{
    bottom: 0px;
    width:100%;
    text-align: center;
	overflow: hidden;
}
.bottom-block{
    background: url(/img/bottom-block.png) no-repeat 0 0;
    width: 204px;
    display: block;
    height: 204px;
	position: absolute;
	right: 0;
	bottom: 0;
}
/* ======== */
.container{
    font-size: 100%;
    line-height: initial;
    text-align: center;
    position: relative;
    height: 100%;
	position: absolute;
	top: 50%;
	width: 100%;
}
.title{
    width: 50%;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.auth, .register{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 90px;
    min-width: 300px;
}
.register{
    text-align: left;
}
.auth ul{
    text-align: left;
    color:red;
}
.auth .auth-messages{
    color:red;
    margin-top: 15px;
    margin-bottom: 5px;
}
.auth .input-error{
    background-color: pink;
}
.auth input{
    border: 0;
	background: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 100%;
    padding: 6px 0px;
    margin-top: 10px;
	color: #aaa;
	font-size: 14px;
}
.register input[type=file]{
    border:0px;
}
.register input{
    border: 1px solid #008dd2;
    width: 100%;
    padding: 6px 0px;
    margin-bottom: 10px;
}
.register label{
    text-align: left;
}
.register label span{
    font-size: 16px;
}
.auth input[type=submit], .register input[type=submit]{
    background: url(../img/but.png) no-repeat 0 0;
    color: white;
    cursor: pointer;
	width: 44px;
	height: 44px;
	cursor: pointer;
	border: 0;
	font-size: 0;

}
.auth .register_link{
    font-size: 16px;
    color: #008dd2;
    margin-top: 5px;
}
.auth .register_link a, #content p a{
    color: #008dd2;
}
/* ======== */
.auth h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: #30babe;
  display: inline-block;
  margin: 0 0 0 0px;
  text-align: center;
  }

.auth a {
  font-size: 14px;
  text-transform: uppercase;
  color: #9c9c9c;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin: 0 36px 0 0;
  }

.auth div.p {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 25px;
  }