    #tab-commision{
        height: 100%;
        position: relative;
    }

    #tab-commision .leftSideBar .branch-tab{
        color: #428bca;
        text-align: center;
        margin-bottom: 10px;
    }

    #tab-commision .leftSideBar .branch-tab:hover{
        color: #428bca;
        text-decoration: underline;
    }

    #tab-commision .leftSideBar .branch-tab.selected {
        color: #2a6496 !important;
        font-weight: bold;
        text-decoration: underline !important;
    }
    #tab-commision .leftSideBar .branch-tab:hover {
      cursor: pointer;
    }
    #tab-commision .rightSideBar tbody{
       /* -overflow-y: auto;*/
    }

    #tab-commision .rightSideBar{
        height: inherit;
    }

    #tab-commision .commission-viewzone{
        height: inherit;
        padding-bottom: 60px;
    }

    #tab-commision .table-container{
        overflow: auto;
        height: 99%;
    }
    .tab-no-overflow {
        overflow-y: visible !important;
    }

    .commission-filter table tbody tr td{
        border-width: 0px;
        border-collapse: collapse;
        order-style: none;
        boder: 0;
    }

    .commission-filter-left{
        text-align: left !important;
        padding-left: 0px !important;
    }

    .commission-filter-right{
        text-align: right !important;
        padding-right: 0px !important;
    }

    .commission-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline;
        min-width: 100px;
        padding: 5px 10px;    
        margin-left: 5px;
        margin-right: 0px;
		font-size: 13px;
		font-family: Tahoma;
		border: 0;
    }

    .commission-table-comment-cell{
        position: relative;
    }

    .commission-table-comment-button{
        float: right;
        color: white;
        background-color: #2f5ca5 !important;
        position: absolute;
        right: 0px;
        cursor:pointer;
        vertical-align: super;
        font-size: 100%;
        bottom: 0px;
        opacity: 0.5;
        height: 15px;
        padding: 0 3px;
        padding-top: 2px;
    }
    .commission-comment-dialog input{
        width: 100%;
        margin-top: 10px;
    }

    .commission-comment-dialog-button-block{
            margin-top: 20px;
            float: right;
    }

    .commission-comment-dialog-button-block .commission-button{
        display: inline;
        margin: 3px 0 3px 5px;
    }
    #tab-commision .intable td, #tab-commision .intable th {
        font-size: 13px;
    }

    .commission-one-record.select td{
        background-color: #DBE1F0 !important;
    }
    
    .commission-block-button{
        position: absolute;
        bottom: -40px;
    }

    .commission-consent-dialog-form:hover{
       text-decoration: underline; 
    }

    .commission-link{
        color: #2f5ca5;
    }
    .commission-link:hover{
        text-decoration:underline;                
    }    
    
    .commission-table-agreement-action.commission-link {
	  text-align: center;
	 }