    .documented-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        min-width: 100px;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 0px;
	font-size: 13px;
	font-family: Tahoma;
    }

    
    .docdialog-block-button-right{
        position: absolute;
        bottom: 5px;
        right: 0;
    }
	.documented-button a:hover {
	  text-decoration: none;
	  }