.equeue-container {
    .header {
        padding: 10px 10px 0 10px;

        TABLE {
            width: 100%;
        }

        .filter {
            TD {
                //padding: 5px 5px 0 5px;
                vertical-align: middle;
            }

            TR TD {
                padding: 10px 0 0 0;
            }

            TR:first-child TD {
                padding-top: 0;
                padding-bottom: 0;
            }

            TR:last-child TD {
                height: 45px;
                vertical-align: middle;
            }

            TR TD:first-child {
                padding-right: 10px;
                text-align: right;
                width: 100px;
            }
        }

        .date {
            text-align: center;
            font-size: 12pt;
        }

        .toolbar {
            vertical-align: middle;

            .pull-right LABEL {
                margin-bottom: 0;
                margin-top: 5px;
                vertical-align: middle;
            }
        }

        .equeue-calendar {
            margin-top: 10px;
        }
    }

    .equeue-calendar {
        width: 100%;

        TR:first-child TD {
            text-align: center;
        }

        TR TD:first-child {
            color: #777 !important;
            text-align: right;
            padding-right: 5px;
        }

        TBODY TD {
            padding: 5px;
            border-left: 1px solid #d9d9e0;

            &.confirmed {
                background: lightblue;
            }

            &.appeared {
                background: lightgreen !important;
            }

            &.notappeared {
                background: lightpink !important;
            }

            &.delivery {
                background: greenyellow;
            }
        }

        TBODY TR TD:first-child {
            padding-top: 0;
            border-left: 0;
        }

        .equeue-entry {
            cursor: pointer;
        }
    }

    .viewzone {
        border-top: 1px solid #d9d9e0;
    }

    .footer {
        padding-left: 0;
        width: auto;
        height: auto;
        position: relative;
        margin: 0;
        padding-top: 5px;
        background: #f1f1f9;

        .equeue-print {
            display: inline-block;
            padding: 5px 10px;
            color: white;
            background: #3f6bb3;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.equeue-form {
    overflow-x: hidden;
    overflow-y: auto;

    TABLE {
        width: 100%;

        TD {
            padding: 5px;

            &:first-child {
                width: 35%;
            }

            INPUT[type="text"] {
                width: 100%;
            }
        }

        TR:nth-child(even) {
            background: #ddd;
        }
    }

    LABEL {
        font-weight: normal;
        vertical-align: middle;
        margin-bottom: 0;
        display: inline;
    }
}