.equeue-container .header {
  padding: 10px 10px 0 0; }
  .equeue-container .header TABLE {
    width: 100%; }
  .equeue-container .header .filter TD {
    vertical-align: middle; }
  .equeue-container .header .filter TR TD {
    padding: 10px 0 0 0; }
  .equeue-container .header .filter TR:first-child TD {
    padding-top: 0;
    padding-bottom: 0; }
  .equeue-container .header .filter TR:last-child TD {
    height: 45px;
    vertical-align: middle; }
  .equeue-container .header .filter TR TD:first-child {
    padding-right: 10px;
    text-align: right;
    width: 100px; }
  .equeue-container .header .date {
    text-align: center;
    font-size: 12pt; }
  .equeue-container .header .toolbar {
    vertical-align: middle; }
    .equeue-container .header .toolbar .pull-right LABEL {
      margin-bottom: 0;
      margin-top: 5px;
      vertical-align: middle; }
  .equeue-container .header .equeue-calendar {
    margin-top: 10px; }
.equeue-container .equeue-calendar {
  width: 100%; }
  .equeue-container .equeue-calendar TR:first-child TD {
     }
  .equeue-container .equeue-calendar TR TD:first-child {
    color: #777 !important;
    text-align: right;
    padding-right: 5px; 
	width: 70px;
	}
  .equeue-container .equeue-calendar TBODY TD {
    padding: 5px;
    border-left: 1px solid #d9d9e0; }
    .equeue-container .equeue-calendar TBODY TD.confirmed {
      background: lightblue; }
    .equeue-container .equeue-calendar TBODY TD.appeared {
      background: lightgreen !important; }
    .equeue-container .equeue-calendar TBODY TD.notappeared {
      background: lightpink !important; }
    .equeue-container .equeue-calendar TBODY TD.delivery {
      background: greenyellow; }
  .equeue-container .equeue-calendar TBODY TR TD:first-child {
    padding-top: 0;
    border-left: 0; }
  .equeue-container .equeue-calendar .equeue-entry {
    cursor: pointer; }
.equeue-container .viewzone {
  border-top: 1px solid #d9d9e0; }
.equeue-container .footer {
  padding-left: 0;
  width: auto;
  height: auto;
  position: relative;
  margin: 0;
  padding-top: 5px;
  background: #f1f1f9; }
  .equeue-container .equeue-print  {
    float: right;
    display: inline-block;
    padding: 5px 10px 4px;
    color: white;
    background: #3f6bb3; 
	text-decoration: none;}
  #equeue_prev, #equeue_next, #equeue_today {
    background: #3f6bb3 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    padding: 5px 10px 4px;
	border: 0;
	}
    .equeue-container .equeue-print:hover {
      text-decoration: none; }

.equeue-form {
  overflow-x: hidden;
  overflow-y: auto; 
  max-height: 530px!important;
  }
  .equeue-form TABLE {
    width: 100%; }
    .equeue-form TABLE TD {
      padding: 5px; }
      .equeue-form TABLE TD:first-child {
        width: 35%; }
      .equeue-form TABLE TD INPUT[type="text"] {
        width: 100%; }
    .equeue-form TABLE TR:nth-child(even) {
       }
  .equeue-form LABEL {
    font-weight: normal;
    vertical-align: middle;
    margin-bottom: 0;
    display: inline; }

/*# sourceMappingURL=equeue.css.map */
.equeue-form table input[type="text"] {
    padding-left: 5px;
    height: 26px;
}