#headcutoff {
    border-left: 1px solid #FFFFFF;
    left: 0;
    position: absolute;
	z-index: 99;
}

.cutoffheader_item {
    background: #e5f3fa;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    display:flex;
    
}

.headcutoff_item_html_wrap {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin:0;
    padding:0;
    width: 100%;
    color:#000;
    font-size: 12px;
		padding-right: 14px;
		display:table-cell;
		
}

.headcutoff_item_border_wrap {
    border-left: 2px solid #fff;
    display: table;
		
}	

div.cutoffheader_item.headerSortDown .headcutoff_item_border_wrap .headcutoff_item_html_wrap {
	background: url(../img/desc.gif) right no-repeat;
}
div.cutoffheader_item.headerSortUp .headcutoff_item_border_wrap .headcutoff_item_html_wrap {
	background: url(../img/asc.gif) right no-repeat;
}