/* новый css для страниц */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0!important;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}
html { height: 100%;}
body { font: 12px/14px "Segoe UI", Arial, Tahoma, Verdana, sans-serif; width: 100%; height: 100%; position:relative;background: url(/img/bgbody.gif) #f1f1f9 repeat-y 0 0!important;}
a { color: blue; outline: none; text-decoration: underline;}
a:hover { text-decoration: none;}
img { border: none;}
input { vertical-align: middle;}
.clear {clear:both;}
#wrapper { margin: 0 auto; min-height: 100%; height: auto !important; height: 100%; min-width:980px;padding-left:0px;padding-right: 0px}
#head {height:90px; overflow:hidden; width:100%; position: relative;padding-left: 256px;}
.bghead {background: url(/img/bghead.gif) repeat-x 0 0;margin: -10px 0 0 -19px; padding: 10px 10px 20px 20px;}
#head .title1 {font-size:14px;font-family: Tahoma; color: #3c3c40;text-transform: uppercase; margin:8px 0;}
#head .title2, h2.title2 {color: #ef5f48;
    font-size: 16px;
    line-height: 15px;
    margin: 5px 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Tahoma, sans-serif;}
#head .nav {overflow:hidden;float: left;margin-top: 10px;}
#head .nav li {float:left;}
.nav li a.first{line-height: 30px !important ;}
.nav li { padding-left:0px; margin-right:5px;}

.steps_td .nav li {height:42px;background: none;width: 236px;border-left: 6px solid #3c3c40; }
#head .nav li a {width:100px; text-align:center; padding: 1px 0;line-height: 15px;background: #cecedc;border-radius: 2px;color: #5c5c5e;}
.nav li a.it_1 {line-height:30px;}
.nav li a {overflow: hidden;text-decoration:none;display:block; height:100%; color:#000; float:left;  font-size:12px;position:relative;}
#content .steps_td .nav li a {font-size: 12px;color: #cecedc;border-bottom: 1px solid #5c5c5e;padding: 4px 25px 0 50px;width: 220px;}
#content .steps_td .nav li a span.num {margin-right: 7px;color: #fff;margin-top: 4px;}
.nav li div {width:11px; height:100%; float:left;}
.steps_td .nav li div {background: #3c3c40;}
.nav li:hover div, li.btn-lg div {cursor:pointer;background: #5c5c5e}
#head .nav li div {display: none;}
.steps_td li.btn-lg div {background: #5c5c5e}
#content .nav li:hover, li.btn-lg {cursor:pointer;border-left: 6px solid #ef5f48;}
#head .nav li.active {background: none;}
.steps_td li.btn-lg {border-left: 6px solid #ef5f48;}
#content .nav li:hover a, li.btn-lg a {background: #5c5c5e;border-bottom: 0;}
#head .nav li.active a, #head .nav li.active a:hover {color: #fff; background: #ef5f48;border-left: 0;}
#content .steps_td li.btn-lg a {background: #5c5c5e;border-bottom: 0;}
#head .nav li a {height:auto;}
.leftSideBar,.leftSideBarDeprivation{
    width:18%;
    float:left;
}
.leftSideBar ul li,.leftSideBarDeprivation ul li {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 10px;
}
.leftSideBar ul li ul.level-list li.level-elem:hover,.leftSideBarDeprivation ul li ul.level-list li.level-elem-deprivation:hover{
    cursor: pointer;
    font-weight: 600;
}
.leftSideBar ul li ul.level-list li.level-elem,.leftSideBarDeprivation ul li ul.level-list li.level-elem-level-elem-deprivation {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 10px;
    font-size:12px;
}
.leftSideBar ul li ul.level-list,.leftSideBarDeprivation ul li ul.level-list-deprivation{
    display: none;
}
.leftSideBar ul li ul.level-list li.level-elem.active-level a,.leftSideBarDeprivation ul li ul.level-list li.level-elem-deprivation.active-level-deprivation a {
    font-weight: 600;
}

.right-close{
    background: #435870;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: Tahoma;
    border-radius: 2px;
    min-width: 100px;
    padding: 3px 10px 5px;
    display: inline-block;
    position: absolute;
    right:10px;
    bottom:0px;
}
.right-close .text{
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 13px;
    color:white;
    text-align: center;
}
.rightSideBar,.rightSideBarDeprivation{
    height:100%;
    width:80%;
    float:right;
}
.add_direct_butt{
    background-image: url("/img/add_butt.png");
    width: 22px;
    height: 22px;
    border: none;
}
.delete_direct_butt{
    background-image: url("/js/jquery.ui/images/ui-icons_ffffff_256x240.png") !important;
    background-position: -64px -128px;
    background-color: #4b77be;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    border: none;
}
.ugs_row{
    color: black;
    font-weight: 600;
    cursor: pointer;
}
.ugs_row:hover{
    text-decoration: none;
}
.active_ugs_row{
    color: #2a6496;
}
.ugs_block{
    display:none;
}
.active_ugs_block{
    display:table-row-group;
}
#edu_programs tr td input{
    max-width: 100px;
}
#edu_programs tr td input.numberinp{
    max-width: 50px;
}
#edu_programs tr td input[type="checkbox"]{
    margin: -4px 0 0;
}
.button_blue{
    background: #435870;
    color: #fff;
    font-size: 14px;
    font-family: Tahoma;
    border-radius: 2px;
    min-width: 100px;
    padding: 3px 10px 5px;
    display: inline-block;
    border: none;
}
.rightSideWrap{
    float:right;
}
.list_of_direct input[type="checkbox"]{
    margin: 0px 10px 0px 0px;

}
.list_of_direct label{
    width: 90%;
    margin-bottom: 0px;
    font-weight: 100;
}
.allhidden{display:none;}
.active_fil,.active_fill_deprivation{
    text-decoration:underline!important;
    font-weight:bold;
    color: #2a6496!important;

}
.change_fill,.change_fill_deprivation {
    color:black;
    text-decoration: none;
}

#popup_win{
    display:none;
    position:absolute;
    width:99%;
    height:99%;
    left:0.5%;
    top:0.5%;
    padding:0% 0 1%;
    border: 2px solid #dcdce8;
    z-index:100;
    overflow-y: auto;
    background-color:white;
}
#head_pop, .ui-dialog .ui-dialog-titlebar{
    height:50px;
    background: url(/img/bghead.gif) repeat-x 0 100%;
    border: 0;
    border-radius: 0;
}
#title_pop, .ui-dialog-titlebar .ui-dialog-title{
    margin:0!important;
    font-size: 18px;
    font-weight: bold;
    font-family: Tahoma;
    text-transform: uppercase;
    color: #5c5c5e;
    padding: 13px 30px 0 1%!important;
}
.ui-dialog-titlebar .ui-dialog-title {
    padding-top: 10px;
    line-height: 18px;
}
#list_tabs{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#list_tabs li{
    display:inline-block;
    margin-right: 0.2%;
    text-align: center;
}
#list_tabs li a.show_tab {
    background: #b9bdbc;
    font-size: 14px;
    font-family: Tahoma;
    color: #fff;
    min-width: 100px;
    padding: 3px 10px 6px;
    border-radius: 2px;
    display: inline-block;
}
#list_tabs li a.active {
    background: #ef5f48;
}
#but_wrap_child_right,#but_back_child_right{
    right: 10px;
    bottom: 0px;
    position: absolute;
}
#but_wrap_child_left{
    left: 10px;
    bottom: 0px;
    position: absolute;
}
#popupWindow{padding: 0; display:none; position:absolute; top:10%; background: white; border: 2px solid #dcdce8; z-index: 100001; left: 50%; width: 650px; height:520px; margin-left:-325px;}
#eduProgramForm #ugs_app_table {overflow-y: auto; height: 420px; display: block; margin-bottom: 10px;}
#popupWindow #filt_fillials {
    margin: 10px 0 10px 12px;
    width: 96%;
    background: url(../img/lupa.png) #f8f8fa no-repeat 100% 50%;
    border: 1px solid #cecedc;
    border-radius: 3px;
    padding: 5px;
}
#popupWindow #org_fillials {
    padding: 0 10px 10px;
}
#but_wrap_child_right .nav_footer li,#but_back_child_right .nav_footer li{
    float: right;
}
.but_wrap_child_left{
    position: absolute;
    left: 10px;
    bottom: 0px;
    display:none;
}
.but_wrap_child_left.but_1{
    display:block;
}
#popup_win .viewzone{
    padding: 0 1%;
}
.tabs-panel{display:none;}
.tabs-panel.show-panel {display:block; height:88%; overflow-y: auto;}
#fields_form td, .dialog-request-edit .fields-table td {
    padding: 5px 5px;
    vertical-align: middle;
}
#fields_form tr:nth-child(2n-1) td{
    background: #f8f8fa;
}
#fields_form td input,#fields_form td textarea,#fields_form td select{width:100%;}
#reorg_butt{
    width: 20px !important;
    height: 20px;
    display: inline-block;
    background: url("../js/jquery.ui/images/ui-icons_cccccc_256x240.png") no-repeat -32px -128px;
    font-size: 0;
    border: 0;
}
#nameOfReorg{
    width: 94% !important;
    margin-right: 1%;
    min-height:100px;
}
#fields_form td input {padding: 4px 5px;}
#full_name_reor{display:none;}
#fields_form td.title_form{
    width:25%;
}
.steps_div li {
    padding-right: 11px;
    margin-bottom: 5px;
}
.steps_div li a {
    overflow: visible;
}
.steps_div li a .num{
    top:9px;
    right: 1px;
    position: absolute;
}
.steps_div li div {position: absolute;top:0;right:-11px}
.hid_a{
    display:none;
}
.h3_shifr{
    padding-left:20px;
}
.main_div_shifr{

    max-height:500px;
    min-height:100px;
    max-width:590px;
    overflow-y: scroll;
}
.table_shifr{
    margin:0 auto;
}
.table_shifr th{
    background:#e5f3fa;
    text-align: center;
}
.table_shifr td{
    min-width:150px;
    background:white;
    border-left: 2px solid #fff;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
#colorbox{
    overflow:hidden;
    z-index:999;
}
#cboxWrapper{
    overflow: hidden;
}
#cboxLoadedContent{
    overflow: hidden;
}
.footer {height:50px; width:97%; margin-top:10px;position:absolute;bottom: 0px;padding-left: 256px;}
.nav_footer {overflow:hidden;}
.nav_footer li {display: inline-block; margin-right:5px; text-align:center; cursor:pointer;margin: 0 5px 0 0;vertical-align: bottom;}
.nav_footer li a {background: #435870;color: #fff;font-size: 14px; font-family: Tahoma;border-radius: 2px;min-width: 100px;padding: 3px 10px 5px;display: inline-block;text-decoration: none;}
/*.nav_footer li#sendform1 a {background: #ef5f48;}
.nav_footer li#back_send a {background: #ef5f48;}
.nav_footer li.ic_sent a {background: #a8bea1;}*/
.nav_footer li a div {display: none;}
.nav_footer li.right{float:right; display:none;}
.nav_footer li.add a div {background:url(../img/add.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.filter_but a div {background:url(../img/filter_but.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.filter_but_ok a div {background:url(../img/filter_but_ok.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.export a div {background:url(../img/add.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.filelink a div {background:url(../img/add.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.button a.ca div {background:url("../img/CA_N.png") no-repeat 0px 0px; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.button a.fcpro div {background:url("../img/FCPRO_N.png") no-repeat 0px 0px; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.button a.ca.curent-type div {background:url("../img/icons.png") no-repeat 0px -349px;; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
.nav_footer li.button a.fcpro.curent-type div {background:url("../img/icons.png") no-repeat -140px -315px; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}

.nav_footer li a .text{
    display: inline-block;
    max-width: 90px;
    font-size: 13px;
    line-height: 13px;
}
/*.nav_footer li a .text:hover{
    text-decoration: underline;
} */

.container input,
.filter_wraper input{
    border: 1px solid #d9d9e0;
    vertical-align: middle;
    padding: 0 5px;
}
.filter_wraper input {
    padding: 3px 5px;
}
.wrap_count{
    display:none;
    height:30px;
    width:100px;
    position:absolute;
    right:240px;
    padding: 5px;
}
@media (max-width: 1000px) {
    .wrap_count {
        top: 50px;
        right: 115px;
    }
}
/*region registrationForm */
#registration label{
    display: block;
    font-weight: normal;
}
#registration ul{
}
#registration input{
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #a6caf0;
}
/* endregion */
/*region loginForm */
.auth{

    height:auto;
    margin:0 auto;
    position: absolute;
    left: 50%;
    top: 50%;

}

.auth_title{
    width: 800px;
    margin: 0 auto;
}
#login label{
    display: block;
    font-weight: normal;
}
#login label span {
    display: none;
}
#login input{
    display: block;
    width: 100%;
    border: 1px solid #a6caf0;
    border: 0;
    font-family: "times new roman";
}
#login input[type=text],
#login input[type=password] {
    border: 0;
    background: #fff;
    color: #7F7F7F;
    text-align: left;
    border: 2px solid #428BCA;
}
#login input[type=text]:-webkit-autofill,
#login input[type=password]:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #7F7F7F;
}

/* endregion */


.filter_wraper{
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}
.filter_wraper input{
    float:right;
}
.document-fields-table{
    table-layout: fixed;
    min-width: 100%;
}
.document-fields-table th, .document-fields-table td {
    padding-top: 4px;
    padding-bottom: 4px;
}
.bot_menu .btn.btn-success{
    float:left !important;
    height:30px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    background-color: #a6caf0;
    background-image: -moz-linear-gradient(top, #a6caf0, #428bca);
    background-image: -ms-linear-gradient(top, #a6caf0, #428bca);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6caf0), to(#428bca));
    background-image: -webkit-linear-gradient(top, #a6caf0, #428bca);
    background-image: -o-linear-gradient(top, #a6caf0, #428bca);
    background-image: linear-gradient(top, #a6caf0, #428bca);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6caf0', endColorstr='#428bca', GradientType=0);
    border: 1px solid #428bca;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px;;
}
.bot_menu .btn.btn-success:hover{
    background:#428bca;
    border: 1px solid #428bca;
}

.bot_menu .btn.btn-success.btHelp{
    float: right !important;
}

#content .nav li a {
    width: 200px;
    line-height: 17px;
}
#content .nav li a .step_name{
    width: 167px;
}
#content .nav li a span{
    vertical-align: middle;
    display: table-cell;
    height: 34px;}
#content .nav li.btnsent a {
    padding-right: 30px;
}
#content .nav li a span.doc_count_container{
    margin-right: -4px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 1;
    font-size: 11px;
}
#content .nav li a span.doc_count{
    color:white;
}
#content .nav li a span.doc_burn_count{
    color: #e10000;
    padding-left: 3px;
    padding-top: 1px;
}

.credentials{
    display: inline-block;
    padding: 14px 20px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    vertical-align: middle;
    min-width: 209px;
    max-width: 80%;
}

.credentials .logout {
    float: left;
    margin-top: 5px;
}
.credentials .name{
    color: #ef5f48;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 18px;
    margin-top: 8px;
}
.credentials .logout {
    float: left;
}
.admin.credentials .name{
    color: #a6caf0;
    text-align: right !important;
    float: none !important;
}
.admin.credentials .logout {
    text-align: right !important;
    float: none !important;
}
.navbar-inverse .navbar-nav > li > a{
    display: inline-block;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}
.navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li.active > a:hover{
    display: inline-block;
    width: 150px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}
.nav > li{
    line-height: 5;
}
.nav > li.active{
    height: 34px;
    background-color: black;
}
.navbar > .container .navbar-brand {
    line-height: 2;
}
#cboxContent{
    background: white;
    border: 1px solid #ccc;
}

#cboxLoadedContent .container{
    width:600px;
}
#cboxLoadedContent nav{
    display:none;
}
#cboxLoadedContent .bot_menu{
    display:none;
}
#cboxLoadedContent .btn {
    height: auto;
    padding: 40px 0 0 0;
    background-position: 50% 5px;
}
#cboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7!important;
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 997;
}
#cboxClose,#cboxClosePop, .ui-dialog .ui-dialog-titlebar-close,#back_close{
    background: url(../img/close.png) no-repeat 50% 50%!important;
    border: 0 none;
    position:absolute;
    top:0;
    right:0;
    bottom: 20px;
    cursor: pointer;
    float: right;
    height: 50px;
    padding-top: 10px;
    width: 40px;
    margin-right: 7px;
    /* align-items: flex-start;*/
    text-align: center;
    /*    color: buttontext;*/
}
.ui-dialog-titlebar-close span {
    background: none!important;
}
.ui-dialog-titlebar-close {
    border: 0!important;
}

#botClose{
    background: url(../img/cancel.png) no-repeat 50% 4px!important;
    border: 0 none;
    bottom: 20px;
    cursor: pointer;
    float: right;
    height: 70px;
    padding-top: 50px;
    width: 60px;
    margin-right: 0px;
    /*    align-items: flex-start;*/
    text-align: center;
    color: buttontext;
    font-size: 13px;
    margin-bottom: 10px;
    font-family: Arial;
}
#option_form #botClose{
    background: url(../img/cancel.png) no-repeat 50% 18px!important;
}
.bot_menu{
    background-color: #222222;
    bottom: 0;
    height: 54px;
    padding: 10px;
    position: fixed;
    width: 100%;
}


/*.route{
    margin-top: 20px;
}
.route .route-table{
    width:100%;
}*/
.route .content_tr{
    height: 80% !important;
}
.route .route-table td{
    vertical-align: top;
}
.separator_sub_event{
    background:#EAEAEA;
}
.document-separator td{
    text-align:center;
    color:#0066CC;

}
.document-row:hover,.document-row.selected{
    /*background: #017fbd !important;*/
    cursor: pointer;
    /*color: #fff;*/
}
.route-table .content .document-row.user{
    cursor: pointer;
}

.route-table .content .document-row.soon:nth-child(2n+1){
    background-color: rgba(128, 0, 0, 0.22);
}
.route-table .content .document-row.soon:nth-child(2n){
    background-color: rgba(128, 0, 0, 0.32);
}
.route-table .content .document-row.today:nth-child(2n+1){
    background-color: rgba(255, 0, 0, 0.22);
}
.route-table .content .document-row.today:nth-child(2n){
    background-color: rgba(255, 0, 0, 0.32);
}
.route-table .content .document-row.past:nth-child(2n+1){
    background-color: rgba(128, 0, 128, 0.22);
}
.route-table .content .document-row.past:nth-child(2n){
    background-color: rgba(128, 0, 128, 0.32);
}
.document-row td div{
    max-height: 85px !important;
    overflow: hidden;
}
.route .steps_td{
    width:256px;
}
.route .steps_td .steps_div{
    margin-top: -50px;
}
.route .content_td{
    vertical-align: top;
    height: 80% !important;
    padding-right: 20px;
}

/*.route .btn.btn-success{
    width: 100%;
    margin-bottom: 5px;
    text-align: right;
}*/
/*.route .btn.btn-warning{
    width: 100%;
    margin-bottom: 5px;
    text-align: right;
    background-color: #ED9C28;
}
.steps_td .btn-lg {
    border-radius: 6px;
    font-size: 14px;
    height: 50px;
    line-height: 2;
    padding: 10px 16px;
}*/
.route-table{
    width: 100%;
}
.route-table .content .title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.route-table .content .loading-img{
    text-align: center;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.route-table .content .document-row:nth-child(2n+1){
    background: #fff;
}
.route-table .content .document-row:nth-child(2n){
    background: #f2f9fc;
}
.route-table .content .document-row-oth:nth-child(2n+1){
    background: #fff;
}
.route-table .content .document-row-oth:nth-child(2n){
    background: #f2f9fc;
}
.route-table .content .header-row{
    background: #e5f3fa;
}
.route-table .content .header-row th{
    border-left: 2px solid #fff;
    padding-right: 14px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.roles .route-table .content .header-row th{
    padding-right: 0px;
}
.route-table .content .header-row th.headerSortDown{
    background: url(../img/desc.gif) right no-repeat;
}
.route-table .content .header-row th.headerSortUp{
    background: url(../img/asc.gif) right no-repeat;
}
.route-table .content .document-row{
    position: relative;
}
.roles .route-table .content .document-row td{
    font-size:12px;
    padding:2px;
}
.roles .route-table .content .document-row.selected{
    background-color: #005599;
    color: #ffffff;
}
.route-table .container-docs{
    overflow-y: auto;

    font-size: 12px;
    padding-right:1px;
    position:relative;


}
.route-table .document-row .doc-name{
    display: inline-block;
    width:59%;
}
.route-table .document-row .doc-type{
    display: inline-block;
    width:19%;
}
.route-table .document-row .doc-more{
    display: inline-block;
    width:20%;
    text-align: center;
}
.route-table .document-row .doc-more .get-more{
    cursor: pointer;
    text-decoration: underline;
}
.route-table .f-value{
    padding: 3px 10px;
}
.route-table .doc-fields{
    width:70%;
    margin-right: auto;
    margin-left: auto;
    border-top:1px solid black;
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.route-table .document-fields-table td,.rep_wrap #search tr.document-row td{
    border: 2px solid #fff;
    padding-left: 5px;
    vertical-align: middle;
}
#fixed_head{
    width:900px;
    position:fixed;
    height:86px;
    overflow: hidden;
}
/* region document-forms */
.colorbox{
    border: 1px solid #ccc;
}
/*.form {padding: 0px 20px 20px 20px;position:absolute; top:50%; left:50%; width:800px; max-height: 560px;overflow: auto;  margin-left:-400px; margin-top:-150px; z-index:100; background:#fff; border:1px solid #ccc; display:none;}
.form ul{margin-top: 20px;}*/
.document_form{
    min-width: 800px;
    max-height: 530px;
//overflow: auto;
    padding: 0 10px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
//margin-bottom: 30px;
}
.cont_option{
    max-width: 450px;
    min-width: 450px;
    overflow: hidden;
    padding: 0px 15px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    z-index: 9999;
}
.wrap_option {
    max-height: 410px;
    overflow: auto;
    padding-right: 10px;
}
.cont_option{display:none;left:40%;position: absolute;top:10%;background:#fff;border: 1px solid #ccc;}
.cont_option table {width: 100%;}
.cont_option table td{text-align: left;padding-bottom: 10px;}
.cont_option table tbody tr{margin-bottom: 10px;}
.cont_option table td input{text-align: left; background: #EAEAEA;padding: 0 5px;margin-right:20px;margin-top: 0;}
.document_form h4,.form h4{
    text-align: left;
}
#document h4 {
    margin-top: 0;
}
.form .left_li{
    width: 44%;
    float: left;
    vertical-align: middle;
    line-height: 12px;
    font-size: 14px;
    font-weight: normal;
    min-height: 25px;
}
.form .left_li span {
    height: 25px;
    display: table-cell;
    float:right;
    vertical-align: middle;
}
.form .right_li{
    width: 55%;
    float: right;
    line-height: 14px;
    font-size: 14px;
    font-weight: normal;
    background: #EAEAEA;
    padding:5px;
    min-height: 25px;
}
.document_form label {
    display: block;
    line-height: 1;
    padding: 5px 0;
    position: relative;
}
.document_form label span {
    float: left;
    text-align: right;
    width: 34%;
    line-height: 12px;
    font-size: 14px;
    font-weight: normal;
}
.document_form ul li,.form ul li {
    margin-bottom: 5px;
    overflow: hidden;
    min-height: 25px;
}
.document_form ul li ul,.form ul li ul{
    text-align: right;
}
.document_form ul li ul li,.form ul li ul li{
    margin-bottom: 5px;
    margin-right: 20px;
    margin-top: 23px;
    overflow: hidden;
    text-align: right;
    width: 50%;
    padding-right: 10px;
    display: inline-block;
}
.document_form input{
    border: 0 none;
    background: #EAEAEA;
    padding: 0 5px;
    float: right;
    width: 65%;
    height: 25px;
}
.cont_option .up{
    height:20px;
    width:20px;
    margin-left:5px;
    border:none;
    background: url(../img/Up.png) center no-repeat;
}
.cont_option .down{
    height: 20px;
    width:20px;
    margin-left:5px;
    border:none;
    background: url(../img/Down.png) center no-repeat;

}
.document_form input[type="submit"],.form input[type="submit"],.cont_option input[type="submit"],
.buttons-container #btSubmit {
    background-color: none;
    background: url(../img/ok.png) no-repeat 50% 50%!important;
    float: right;
    margin-right: 20px;
    border: 0 none;
    width: 80px;
    height: 70px;
    padding-top: 50px;
    cursor: pointer;
    /*	align-items: flex-start;*/
    text-align: center;
    font-size: 13px;
    color: buttontext;
    font-family: Arial;
}
.buttons-container #btSubmit {
    padding-top: 27px;
    background: url(../img/ok.png) no-repeat 50% 4px!important;

}
.buttons-container #btGeneratePass{
    background: url("../img/add.png") no-repeat scroll 50% 4px rgba(0, 0, 0, 0) !important;
    border: 0 none;
    bottom: 20px;
    color: buttontext;
    cursor: pointer;
    float: right;
    font-family: Arial;
    font-size: 13px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 0;
    padding-top: 27px;
    text-align: center;
    width: 92px;
}
.cont_option input[type="submit"] {
    margin-right: 0;
}
.document_form select,.form select{
    border: 0 none;
    background: #EAEAEA;
    padding: 0 0 0 5px;
    float: right;
    width: 65%;
    height: 25px;
}
.document_form textarea,.form textarea{
    width: 300px;
    border: 1px solid #80DC09;
    vertical-align: middle;
    padding: 5px;
}
#fields_form .error_input{
    border-color: red;
}

.document_form input.input-error,
.document_form select.input-error,
.document_form textarea.input-error{
    background: #FFABAB;
}
.input-error{
    background: #FFABAB;
}

/* endregion */
.success-info{
    width:600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.success-info .link{
    display: inline-block;
    width: 260px;
    padding: 20px;
}
.success-info span{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.document_form .doc-type,.form .doc-type,
#option_form .doc-type{
    color: #a6caf0 ;
}
#option_form h4 {
    text-align: left;
}
#option_form td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 2px;
}
#option_form td label {
    font-weight: normal;
    cursor: pointer;
}
#option_form input[type="checkbox"] {
    margin-right: 5px;
    float: left;
    margin-top: 3px;
}
#option_form td button {
    float: left;
}
/* region Admin Actions */
.admin_navbar{
    margin-top: 20px;
}
.admin_button{
    float:left;
    height:30px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    background-color: #a6caf0;
    background-image: -moz-linear-gradient(top, #a6caf0, #428bca);
    background-image: -ms-linear-gradient(top, #a6caf0, #428bca);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6caf0), to(#428bca));
    background-image: -webkit-linear-gradient(top, #a6caf0, #428bca);
    background-image: -o-linear-gradient(top, #a6caf0, #428bca);
    background-image: linear-gradient(top, #a6caf0, #428bca);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6caf0', endColorstr='#428bca', GradientType=0);
    border: 1px solid #428bca;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.admin_button:hover{
    background:#428bca;
    border: 1px solid #428bca;

}
.admin_button a{
    vertical-align: middle;
    display: table-cell;
    height: 30px;
    color:#fff;
    text-decoration: none !important;
}
.admin_button a:hover{
    color:#fff;
}
.admin_container{
    margin-top: 65px;
    padding: 0px 10px;
}
.admin_content{

}
.admin_content .left_bl{
    position: fixed;
    width: 370px;
}

.admin_content.users .left_bl{
    width:100%;
}
.admin_content .tree{
    border: 1px solid #000000;
    display: inline-block;
    width: 370px;
    overflow-y: auto;
    height: 500px;
}
.admin_content .route-table .content .document-row.selected{
    background-color: #005599;
    color: #ffffff;
}
.admin_content .tree.users{
    width: 800px;
    margin-left: auto;
    margin-right:auto ;
    display: block;
}
.admin_content .tree.users .content{
    width:100%;
}
.admin_content .tree.users .content td{
    padding: 2px;
}
.admin_content .form_content .options{
    display: none;
}
.admin_content .form_content{
    margin-left: 380px;
    padding-top: 30px;
    margin-bottom: 60px;
    text-align: center;
}
.admin_content.users .form_content{
    margin-left: 0px;
}
.admin_content label{
    display: block;
    line-height: 1;
    padding: 5px;
    position: relative;
}
.admin_content label span{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
.admin_content input{
    width: 500px;
    height: 30px;
    border: 1px solid #a6caf0;
    vertical-align: middle;
    padding: 0 5px;
}
.admin_content fieldset input[type=checkbox]{
    width:30px;
}
.admin_content fieldset label{
    font-weight: normal;
    height: 25px;
    margin: 1px;
    padding-bottom: 2px;
    padding-left: 23px;
    padding-right: 2px;
    text-align: left;
}
.admin_content fieldset legend{
    margin-bottom: 0px;
}
.admin_content fieldset{
    margin-bottom: 15px;
}
.admin_content select{
    border: 1px solid #a6caf0;
    cursor: pointer;
    height: 30px;
    padding: 5px 0 5px 5px;
    vertical-align: middle;
    width: 500px;
}
.admin_content textarea{
    width: 500px;
    border: 1px solid #a6caf0;
    vertical-align: middle;
    padding: 5px;
    height: 200px;
}
.admin_content .btn-success, .admin_content .btn-danger{
    width: 150px;
    margin: 10px;
}
.admin_content .btn-danger{
    height: 30px;
    padding: 0;
}
/*.btn-success{
	color:white;
background-color: #a6caf0;
background-image: -moz-linear-gradient(top, #a6caf0, #428bca);
background-image: -ms-linear-gradient(top, #a6caf0, #428bca);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6caf0), to(#428bca));
background-image: -webkit-linear-gradient(top, #a6caf0, #428bca);
background-image: -o-linear-gradient(top, #a6caf0, #428bca);
background-image: linear-gradient(top, #a6caf0, #428bca);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6caf0', endColorstr='#428bca', GradientType=0);

	border-radius: 5px;
}
.btn-success:hover{
background:#428bca;
}*/


/* endregion */
#submitbutton, .admin_content #btSubmit {
    color:white;
    background-color: #a6caf0!important;
    background-image: -moz-linear-gradient(top, #a6caf0, #428bca)!important;
    background-image: -ms-linear-gradient(top, #a6caf0, #428bca)!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6caf0), to(#428bca))!important;
    background-image: -webkit-linear-gradient(top, #a6caf0, #428bca)!important;
    background-image: -o-linear-gradient(top, #a6caf0, #428bca)!important;
    background-image: linear-gradient(top, #a6caf0, #428bca)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6caf0', endColorstr='#428bca', GradientType=0)!important;
    border-radius: 5px;
}

.admin_content #btSubmit {
    float: none;
    height: 30px!important;
    width: 150px;
    padding-top: 0;
    margin-top: 7px;
    font-size: 14px;
    font-family: Arial;
}

#create_doc label.title span{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
#create_doc fieldset legend{
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    text-align: right;
    width: 44%;
    border: 0px;
}

#create_doc fieldset label{
    float: right;
    font-weight: normal;
    line-height: 1;
    padding: 0;
    text-align: right;
    vertical-align: middle;
    width: 55%;
}
#create_doc fieldset label input{
    margin: 0;
    position: relative;
    top: -5px;
}
.message {
    display:none;
    width: 400px;
    background: #fff;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -200px;
    margin-top: -50px;
    border: 1px solid #ccc;
}
.message div{
    margin-top: 45px
}
/* region action_dialog */
.action_dialog{
    width:100%;
}
.action_dialog label{
    display: inline-block;
}

.action_dialog .title{
    margin:10px 0;
    font-weight: bold;
    font-size: 16px;
}
.action_dialog .description{
    font-size: 14px;
    margin: 10px 0;
}
.action_dialog textarea{
    width:100%;
    border: 1px solid #c0c0c0;
    height: 150px;
}
.action_dialog textarea.idle{

}
.action_dialog #btSubmit{
    /*align-items: flex-start;*/
    background: url(../img/ok.png) no-repeat 50% 50%!important;
    border: 0;
    color: buttontext;
    cursor: pointer;
    float: right;
    font-size: 13px;
    height: 70px;
    margin-right: 10px;
    padding-top: 50px;
    text-align: center;
    width: 40px;
    margin-bottom: 10px;
}
.action_dialog .action_email_send{
    vertical-align: top
}
.action_dialog .action_email_send input{
    margin: 5px 5px 5px 0;
    float: left;
    width: 20px;
    height: 20px;
}
.action_dialog .action_email_send input, .action_dialog .action_email_send label{
    font-size: 12px;
    font-weight: normal;
    cursor: pointer;
}
.action_dialog input[type=text]{
    width:100%;
}
.action_dialog .descr{
    font-size: 10px;
    color: #c0c0c0;
}
/* endregion */

.nav_footer li.ic_to_check a div {
    background: url("../img/icons.png") no-repeat 0 0;
}

.nav_footer li.ic_to_check2 a div {
    background: url("../img/icons.png") no-repeat 0 0;
}

.nav_footer li.ic_to_check2 .text {
    min-width: 104px;

}

.nav_footer li.ic_add a div {
    background: url("../img/icons.png") no-repeat -35px 0;
}

.nav_footer li.ic_on_completion a div {
    background: url("../img/icons.png") no-repeat -70px 0;
}

.nav_footer li.ic_on_completion2 a div {
    background: url("../img/icons.png") no-repeat -70px 0;
}

.nav_footer li.ic_on_completion2 .text {
    min-width: 110px;
}

.nav_footer li.ic_working_group a div {
    background: url("../img/icons.png") no-repeat -105px 0;
}

.nav_footer li.ic_take a div {
    background: url("../img/icons.png") no-repeat -140px 0;
}

.nav_footer li.ic_reject a div,
.nav_footer li.ic_reject2 a div {
    background: url("../img/icons.png") no-repeat 0 -35px;
}

.nav_footer li.ic_reject2 .text {
    min-width: 100px;
}

.nav_footer li.ic_held a div {
    background: url("../img/icons.png") no-repeat -35px -35px;
}

.nav_footer li.ic_change a div {
    background: url("../img/icons.png") no-repeat -70px -35px;
}

.nav_footer li.ic_add_wg a div {
    background: url("../img/icons.png") no-repeat -105px -35px;
}

.nav_footer li.ic_accord a div {
    background: url("../img/icons.png") no-repeat -140px -35px;
}

.nav_footer li.ic_change_pg a div {
    background: url("../img/icons.png") no-repeat 0px -70px;
}

.nav_footer li.ic_published a div {
    background: url("../img/icons.png") no-repeat -35px -70px;
}

.nav_footer li.ic_approved a div {
    background: url("../img/icons.png") no-repeat -70px -70px;
}

.nav_footer li.ic_change_plzk a div {
    background: url("../img/icons.png") no-repeat -105px -70px;
}

.nav_footer li.ic_add_pg a div,
.nav_footer a#dictionary_add div,
.nav_footer a#comission_add div,
.nav_footer a#user_add div
{
    background: url("../img/icons.png") no-repeat -140px -70px;
}

.nav_footer li.ic_for_approval a div {
    background: url("../img/icons.png") no-repeat 0px -105px;
}

.nav_footer li.ic_change_doc a div {
    background: url("../img/icons.png") no-repeat -35px -105px;
}

.nav_footer li.ic_for_approval .text {
    min-width: 98px;
}

.nav_footer li.ic_accord_doc a div {
    background: url("../img/icons.png") no-repeat -70px -105px;
}

.nav_footer li.ic_published_g a div {
    background: url("../img/icons.png") no-repeat -105px -105px;
}

.nav_footer li.ic_canceled a div {
    background: url("../img/icons.png") no-repeat -140px -105px;
}

.nav_footer li.ic_explanation a div {
    background: url("../img/icons.png") no-repeat 0px -140px;
}

.nav_footer li#option a div {
    background: url("../img/icons.png") no-repeat -35px -140px;
}

.nav_footer li.ic_regulations a div {
    background: url("../img/icons.png") no-repeat -70px -140px;
}

.nav_footer li.ic_steps a div {
    background: url("../img/icons.png") no-repeat -105px -140px;
}

.nav_footer li.ic_change_r a div {
    background: url("../img/icons.png") no-repeat -140px -140px;
}

.nav_footer li.ic_held_kk a div {
    background: url("../img/icons.png") no-repeat 0px -175px;
}

.nav_footer li.ic_protocol a div {
    background: url("../img/icons.png") no-repeat -35px -175px;
}

.nav_footer li.ic_protocol_kv a div {
    background: url("../img/icons.png") no-repeat -70px -175px;
}

.nav_footer li.ic_prevent a div {
    background: url("../img/icons.png") no-repeat -105px -175px;
}

.nav_footer li.ic_reject_z a div {
    background: url("../img/icons.png") no-repeat -140px -175px;
}

.nav_footer li.ic_contract a div {
    background: url("../img/icons.png") no-repeat 0px -210px;
}

.nav_footer li.ic_transferred a div {
    background: url("../img/icons.png") no-repeat -35px -210px;
}

.nav_footer li.ic_returned a div {
    background: url("../img/icons.png") no-repeat -70px -210px;
}

.nav_footer li.ic_approval a div {
    background: url("../img/icons.png") no-repeat -105px -210px;
}

.nav_footer li.ic_approval .text {
    min-width: 102px;
}

.nav_footer li.ic_on_completion_sz a div {
    background: url("../img/icons.png") no-repeat -140px -210px;
}

.nav_footer li.ic_transmitted a div {
    background: url("../img/icons.png") no-repeat 0px -245px;
}

.nav_footer li.ic_obtained a div {
    background: url("../img/icons.png") no-repeat -35px -245px;
}

.nav_footer li.ic_verified a div {
    background: url("../img/icons.png") no-repeat -70px -245px;
}

.nav_footer li#export_xls a div {
    background: url("../img/icons.png") no-repeat -70px -315px;
}

.nav_footer li#export_doc a div {
    background: url("../img/icons.png") no-repeat -105px -315px;
}

.nav_footer li.ic_signed_isp a div {
    background: url("../img/icons.png") no-repeat -140px -245px;
}

.nav_footer li.ic_signed_zak a div {
    background: url("../img/icons.png") no-repeat 0px -280px;
}

.nav_footer li.ic_sent a div {
    background: url("../img/icons.png") no-repeat -35px -280px;
}

.nav_footer li.ic_sent a#help_button div {
    background: url("../img/icons.png") no-repeat -35px -350px;
}

.nav_footer li.ic_for_examination a div {
    background: url("../img/icons.png") no-repeat -70px -280px;
}

.nav_footer li.ic_on_commission a div {
    background: url("../img/icons.png") no-repeat -105px -280px;
}

.nav_footer li.ic_acts_passed a div {
    background: url("../img/icons.png") no-repeat -140px -280px;
}

/* region info dialog*/
#showInfo {
    background: none;
    border: 0;
}
#showInfo .tabContent{
    background: #ffffff;
    height: 335px;
    overflow: auto;
    font-size: 14px;
}
#showInfo .left_td{
    padding-right: 10px;
    padding-top: 7px;
    text-align: right;
    vertical-align: top;
    width: 250px;
}
#showInfo .fieldValue{
    background-color: #EAEAEA;
    display: block;
    margin: 5px;
    min-height: 25px;
    padding: 3px;
    width: 100%;
}
#showInfo h4{
    height: 22px;
    overflow: hidden;
    margin-left: 20px;
}
#showInfo .doc-type{
    color: #A6CAF0;

}
#showInfo #history table,
#showInfo #fields table,
#showInfo #document table,
#showInfo #links table{
    width: 100%;
}
#showInfo #history td, #showInfo #history th,
#showInfo #fields td, #showInfo #fields th,
#showInfo #links td, #showInfo #links th
{
    background-color: #fff;
    padding: 4px;
    border: 1px solid #ffffff;
}
#showInfo #fields .title-div{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-top: 10px;
}
#showInfo #fields table td{
    min-height: 25px;
}
#showInfo #fields tbody td b {
    font-weight: normal;
}
#showInfo #fields .left-td{
    text-align: right;
    padding-right: 10px;
    width:150px;
}
#showInfo #history th, #showInfo #fields th, #showInfo #links th{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background: #F2F2F2;
}
#showInfo #history tr.row_2 td{
    background-color: #F2F2F2;
}
#showInfo #fields td.row_2{
    background-color: #F2F2F2;
}
#showInfoActions {
    padding-right: 15px;
}

#showInfoActions li {
    cursor: pointer;
    float: right;
    margin: 0 10px;
    text-align: center;
}
#showInfoActions li a div {background:url(../img/add.png) top center no-repeat; padding-top:35px;height:35px;width: 35px;margin: 0 auto;}
#showInfoActions li a .text{
    display: inline-block;
    max-width: 90px;
    font-size: 13px;
    line-height: 13px;
}
#showInfoActions li.left{
    float:left;
}
#showInfoActions li a .text:hover{
    text-decoration: underline;
}
#showInfoActions li.ic_steps a div {
    background: url("../img/icons.png") no-repeat scroll -105px -140px rgba(0, 0, 0, 0);
}

#showInfoActions li.ic_to_check a div {
    background: url("../img/icons.png") no-repeat 0 0;
}

#showInfoActions li.ic_to_check2 a div {
    background: url("../img/icons.png") no-repeat 0 0;
}
#showInfoActions li.ic_to_check2 {
    width: 105px;
}
#showInfoActions li.ic_to_check2 .text {
    min-width: 104px;
}

#showInfoActions li.ic_add a div {
    background: url("../img/icons.png") no-repeat -35px 0;
}

#showInfoActions li.ic_on_completion a div {
    background: url("../img/icons.png") no-repeat -70px 0;
}

#showInfoActions li.ic_on_completion2 a div {
    background: url("../img/icons.png") no-repeat -70px 0;
}

#showInfoActions li.ic_on_completion2 .text {
    min-width: 110px;
}

#showInfoActions li.ic_working_group a div {
    background: url("../img/icons.png") no-repeat -105px 0;
}

#showInfoActions li.ic_take a div {
    background: url("../img/icons.png") no-repeat -140px 0;
}

#showInfoActions li.ic_reject a div,
#showInfoActions li.ic_reject2 a div {
    background: url("../img/icons.png") no-repeat 0 -35px;
}

#showInfoActions li.a_edit a div {
    background: url("../img/icons.png") no-repeat 0 -314px;
}

#showInfoActions li.a_delete a div {
    background: url("../img/icons.png") no-repeat -35px -314px;
}

#showInfoActions li.ic_reject2 .text {
    min-width: 100px;
}

#showInfoActions li.ic_held a div {
    background: url("../img/icons.png") no-repeat -35px -35px;
}

#showInfoActions li.ic_change a div {
    background: url("../img/icons.png") no-repeat -70px -35px;
}

#showInfoActions li.ic_add_wg a div {
    background: url("../img/icons.png") no-repeat -105px -35px;
}

#showInfoActions li.ic_accord a div {
    background: url("../img/icons.png") no-repeat -140px -35px;
}

#showInfoActions li.ic_change_pg a div {
    background: url("../img/icons.png") no-repeat 0px -70px;
}

#showInfoActions li.ic_published a div {
    background: url("../img/icons.png") no-repeat -35px -70px;
}

#showInfoActions li.ic_approved a div {
    background: url("../img/icons.png") no-repeat -70px -70px;
}

#showInfoActions li.ic_change_plzk a div {
    background: url("../img/icons.png") no-repeat -105px -70px;
}

#showInfoActions li.ic_add_pg a div {
    background: url("../img/icons.png") no-repeat -140px -70px;
}

#showInfoActions li.ic_for_approval a div {
    background: url("../img/icons.png") no-repeat 0px -105px;
}

#showInfoActions li.ic_change_doc a div {
    background: url("../img/icons.png") no-repeat -35px -105px;
}

#showInfoActions li.ic_for_approval .text {
    min-width: 98px;
}

#showInfoActions li.ic_accord_doc a div {
    background: url("../img/icons.png") no-repeat -70px -105px;
}

#showInfoActions li.ic_published_g a div {
    background: url("../img/icons.png") no-repeat -105px -105px;
}

#showInfoActions li.ic_canceled a div {
    background: url("../img/icons.png") no-repeat -140px -105px;
}

#showInfoActions li.ic_explanation a div {
    background: url("../img/icons.png") no-repeat 0px -140px;
}

#showInfoActions li#option a div {
    background: url("../img/icons.png") no-repeat -35px -140px;
}

#showInfoActions li.ic_regulations a div {
    background: url("../img/icons.png") no-repeat -70px -140px;
}

#showInfoActions li.ic_steps a div {
    background: url("../img/icons.png") no-repeat -105px -140px;
}

#showInfoActions li.ic_change_r a div,
#showInfoActions .right .editor div {
    background: url("../img/icons.png") no-repeat -140px -140px;
}

#showInfoActions li.ic_held_kk a div {
    background: url("../img/icons.png") no-repeat 0px -175px;
}

#showInfoActions li.ic_protocol a div {
    background: url("../img/icons.png") no-repeat -35px -175px;
}

#showInfoActions li.ic_protocol_kv a div {
    background: url("../img/icons.png") no-repeat -70px -175px;
}

#showInfoActions li.ic_prevent a div {
    background: url("../img/icons.png") no-repeat -105px -175px;
}

#showInfoActions li.ic_reject_z a div {
    background: url("../img/icons.png") no-repeat -140px -175px;
}

#showInfoActions li.ic_contract a div {
    background: url("../img/icons.png") no-repeat 0px -210px;
}

#showInfoActions li.ic_transferred a div {
    background: url("../img/icons.png") no-repeat -35px -210px;
}

#showInfoActions li.ic_returned a div {
    background: url("../img/icons.png") no-repeat -70px -210px;
}

#showInfoActions li.ic_approval a div {
    background: url("../img/icons.png") no-repeat -105px -210px;
}

#showInfoActions li.ic_approval .text {
    min-width: 102px;
}

#showInfoActions li.ic_on_completion_sz a div {
    background: url("../img/icons.png") no-repeat -140px -210px;
}

#showInfoActions li.ic_transmitted a div {
    background: url("../img/icons.png") no-repeat 0px -245px;
}

#showInfoActions li.ic_obtained a div {
    background: url("../img/icons.png") no-repeat -35px -245px;
}

#showInfoActions li.ic_verified a div {
    background: url("../img/icons.png") no-repeat -70px -245px;
}

#showInfoActions li#export_xls a div {
    background: url("../img/icons.png") no-repeat -105px -245px;
}

#showInfoActions li.ic_signed_isp a div {
    background: url("../img/icons.png") no-repeat -140px -245px;
}

#showInfoActions li.ic_signed_zak a div {
    background: url("../img/icons.png") no-repeat 0px -280px;
}

#showInfoActions li.ic_sent a div {
    background: url("../img/icons.png") no-repeat -35px -280px;
}

#showInfoActions li.ic_for_examination a div {
    background: url("../img/icons.png") no-repeat -70px -280px;
}

#showInfoActions li.ic_on_commission a div {
    background: url("../img/icons.png") no-repeat -105px -280px;
}

#showInfoActions li.ic_acts_passed a div {
    background: url("../img/icons.png") no-repeat -140px -280px;
}

/* endregion */
/*
.ui-widget-header {
  background: #fff;
  padding: 0 0 0 5px!important;
  margin-top: -8px!important;
  border-radius: 0!important;
  }
	a.ui-state-default,.ui-timepicker-div,.ui-datepicker-buttonpane button{
		font-size: 12px !important;
	}
	
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  text-decoration: underline!important;
  }
*/
.action_form .content_fields{
    overflow: auto;
    padding-right: 20px;
    width: 763px;
    min-height: 160px;
}
.date_select .hide_select{
// height:35px;
// width:100%;
    display:none;
}
.custom_selector_wrap_middle{
    padding: 5px;
    border: 1px solid #A0A0A0;
    width:28%;
    display:none;
    float:left;
}
.custom_selector_wrap_small{
    padding: 5px;
    border: 1px solid #A0A0A0;
    width:14%;
    display:none;
    float:left;
}
#custom_selector_wrap {

    padding: 5px;
    border: 1px solid #A0A0A0;
    width:72%;
    float:left;

}
#big-wrap{
    width: 100%;
    height: 45px;
}

#dictionary_selector_container {
    margin-bottom:10px;
}

.dictionay-table, .comission-table{
    width:100%;
}

#dictionary_selector{
    border:none;
}
#reportType,#type_report,#date_report,.selector_inf{
    border:none;
}

#btActions-block li {
    list-style: none;
}
/*
.ui-datepicker .ui-datepicker-prev {
  background: url(../img/c_prev.png) no-repeat 50% 50%;
  }
.ui-datepicker .ui-datepicker-next {
  background: url(../img/c_next.png) no-repeat 50% 50%;
  }
.ui-datepicker .ui-datepicker-prev .ui-icon,
.ui-datepicker .ui-datepicker-next .ui-icon {
    background: none;
}*/
#create_doc .content_fields span {
    margin-top: 7px;
}
#footer_button .liright {
    float: right;
}

.dictionay-table td, .dictionay-table thead th,
.comission-table td, .comission-table thead th {
    padding: 4px 6px;
    font-size: 12px;
}
#create_doc #action_isEmail {
    float: left;
    margin-top: 2px;
}
#create_doc .action_email_send label {
    font-size: 14px;
}
#create_doc .action_email_send div {
    float: right;
    padding-right: 7px;
}

#create_doc .block_textarea textarea {
    width:482px;
    float: right;
    background-color: #EAEAEA;
    border:0px;
    resize: none;
}

#create_doc .block_textarea label {
    float: left;
    width: 35%;
    margin-top: 0;
    margin-left:0;
    margin-right: 0px;
    padding: 3px 0 0 0;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    #create_doc .block_textarea label {
        width: 258px;
    }
    #create_doc .block_textarea textarea {
        width: 483px;
    }
}

#create_doc .block_textarea label span {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}


.container-dictionary{
    position:relative;
    overflow:auto;
}

#help-content{
    padding: 0 30px;
    min-height: 450px;
    overflow: hidden;
    overflow-y: auto;
}
#help-content td{
    padding: 5px 10px;
}
.video_title {
    display: block;
    margin-top: 5px;
}

#jplayer_item {

}
.jplayer_item {
    cursor: pointer;
}

input.combo-text {

}

.combo-arrow {
    background: url(../img/asc.gif) no-repeat 50% 50% transparent;
}

.noline,
.noline:hover,
.noline span,
.noline:hover span{
    text-decoration: none;
    color: #000
}
@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
    .cont_option {
        height: 540px!important;
    }
}
@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
    .cont_option {
        height: 500px!important;
    }
}
#fields_form tr:nth-child(2n-1) td.separator_td {
    background: none;
}
.separator_td a,
.separator_td a:hover {
    font-size: 18px;
    font-family: Tahoma;
    color: #3c3c40;
    text-decoration: none;
}
#edit_declaration1 input[type="checkbox"] {
    float: left;
    width: auto;
}
#save_fillials_but,
#cancel_fillials_but,
.send_edu_program {
    border: 0;
    background: #ef5f48;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
    font-family: Tahoma;
    cursor: pointer;
    min-width: 100px;
    padding: 3px 10px 5px;
    float: right;
    margin-bottom: 20px;
    margin-right: 10px;
}
.send_edu_program.left{
    position:absolute;
    bottom:0;
    left:10px;
}
.send_edu_program.right{
    position:absolute;
    bottom:0;
    right:10px;
}
#ugs_app_table tr td {
    padding: 5px 12px;
    border-top: 1px solid #d7d7de;
    background: #f8f8fa;
}

#ugs_app_table tr td:first-child {
    width: 250px;
    color: #939393;
}
#ugs_app_table tr td:last-child {
    width: 380px;
}
#ugs_app_table tr:nth-child(2n) td {
    background: #fff;
}

#ugs_app_table input[type="text"], #ugs_app_table input[type="number"], #ugs_app_table select {
    width: 100%;
    background: #f8f8fa;
    border: 1px solid #cecedc;
    height: 30px;
    padding: 0 10px;
}

#ugs_app_table input[type="text"]:disabled, #ugs_app_table select:disabled {
    background: #e8e8f0;
}

.separator_td a {
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    color: #3c3c40;
}

#ugs_app_table label {
    font-weight: normal;
    float: left;
    width: 350px;
    vertical-align: middle;
    clear: left;
}

#ugs_app_table input[type="checkbox"] {
    float: left;
}

table.crud tbody tr.active_row td,.row_appl.active_appl td {
    background: #DBE1F0 !important;
	color: #333;
}
.row_appl.active_appl td {
  text-align: left;
  }
#nameOfReorg:disabled {
    background: #fff;
    border: 1px solid #D9D9E0;
}

.ui-dialog.ui-widget-content {
    background: #fff;
    border: 2px solid #DCDCE8;
    border-radius: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.tabs-container div {
    background: #cecedc;
    border-radius: 2px;
    color: #5c5c5e;
    line-height: 15px;
    padding: 1px 0;
    text-align: center;
    min-width: 100px;
    float: left!important;
    display: block!important;
    font-weight: normal!important;
    margin: 0 5px 0 0!important;
    line-height: 30px;
    padding: 0 10px 0 10px!important;
    font-size: 13px;
}
.tabs-container div.active {
    background: #ef5f48;
    border-left: 0;
    color: #fff;
    text-decoration: none!important;
}
.content-container {
    clear: left;
}
.show_tab_help {
  padding: 2px 5px 5px 3px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: Tahoma, sans-serif;
  border-radius: 3px;
  }
  
 /*
 красивая выезжалка - сообщалка
*/ 
#hover-title{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background: #555555;
    opacity: 0.9;
    z-index: 100003;
    color: white;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    display:none;
}

/*
 красивая выезжалка-сообщалка ошибки
*/
#hover-title-error{
    width: 100%;
    /*height: 70px; Попов: убрал чтобы высота подстраивалась под содержимое, если ломает что верните*/
    position: fixed;
    top: 0;
    background: red;
    opacity: 0.7;
    z-index: 9999999;
    color: white;
    text-align: center;
    font-size: 20px;
    display:none;
    padding: 30px;
}

.bgcolor {
  background: #4B77BE;
  color: #fff;
  text-align: center;
  padding: 8px 0 5px;
  }

.steps_div .step_1 {
    background: url("/img/icons/declaration/step_1.png") no-repeat scroll 10px 50% !important;
}
.steps_div .errors {
    background: url("/img/icons/index/errors.png") no-repeat scroll 10px 50% !important;
}
.steps_div .step_3 {
    background: url("/img/icons/declaration/step_3.png") no-repeat scroll 10px 50% !important;
}
.steps_div .step_7 {
    background: url("/img/icons/declaration/step_7.png") no-repeat scroll 10px 50% !important;
}
/*Иконки для меню слева*/
/*иконка*/
.steps_td .toggleButton {height:16px;cursor:pointer;background:url("/img/icons/left_ga.png") no-repeat scroll 100% 50%;transition:0.3s;margin-top: -80px;margin-right: 37px;background-size: contain;position: relative;}
.steps_td .toggleButton.icons {background:url("/img/icons/right_ga.png") no-repeat scroll 100% 50%;background-size: contain; margin-right: 26px;}
/*index*/
.steps_div .certificates, .steps_div .accreditation {background:url("/img/icons/index/certificates.png") no-repeat scroll 10px 50%!important;}
.steps_div .licenses {background:url("/img/icons/index/licenses.png") no-repeat scroll 9px 50%!important;}
.steps_div .orgs {background:url("/img/icons/index/orgs2.png") no-repeat scroll 6px 50%!important;}
.steps_div .programs {background:url("/img/icons/index/programs2.png") no-repeat scroll 9px 50%!important;}
.steps_div .orders, .steps_div .tasks {background:url("/img/icons/index/orders.png") no-repeat scroll 10px 50%!important;}
.steps_div .errors {background:url("/img/icons/index/errors.png") no-repeat scroll 10px 50%!important;}
.steps_div .users {background:url("/img/icons/index/user-requests2.png") no-repeat scroll 9px 50%!important;}
.steps_div .reports {background:url("/img/icons/index/reports.png") no-repeat scroll 9px 50%!important;}
.steps_div .equeue {background:url("/img/icons/index/equeue.png") no-repeat scroll 9px 50%!important;}
.steps_div .calendar {background:url("/img/icons/index/calendar.png") no-repeat scroll 9px 50%!important;}
.steps_div .user-list-requests {background:url("/img/icons/index/user-list-requests.png") no-repeat scroll 0 50%!important;}
.steps_div .documents {background:url("/img/icons/index/documents.png") no-repeat scroll 9px 50%!important;}
/*declaration*/
.steps_div .step_11, .steps_div .affairs-all_1 {background:url("/img/icons/declaration/step_11.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_1, .steps_div .step_2 {background:url("/img/icons/declaration/step_1.png") no-repeat scroll 10px 50%!important;}
 .steps_div .affairs-all_3 {background:url("/img/icons/declaration/step_2.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_3, .steps_div .affairs-all_4 {background:url("/img/icons/declaration/step_3.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_7, .steps_div .affairs-all_5 {background:url("/img/icons/declaration/step_7.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_4, .steps_div .affairs-all_6 {background:url("/img/icons/declaration/step_4.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_5, .steps_div .affairs-all_7 {background:url("/img/icons/declaration/step_5.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_6, .steps_div .affairs-all_8 {background:url("/img/icons/declaration/step_6.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_8, .steps_div .affairs-all_9 {background:url("/img/icons/declaration/step_8.png") no-repeat scroll 10px 50%!important;}
.steps_div .declaration_review {background:url("/img/icons/declaration/declaration_review.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_10, .steps_div .affairs-all_11 {background:url("/img/icons/declaration/step_10.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_9, .steps_div .affairs-all_10 {background:url("/img/icons/declaration/step_9.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_13 {background:url("/img/icons/index/step_13.png") no-repeat scroll 10px 50%!important;}
.steps_div .step_14 {background:url("/img/icons/declaration/step_14.png") no-repeat scroll 10px 50%!important;}
/*expertise*/
.steps_div .expertise {background:url("/img/icons/expertise/expertise.png") no-repeat scroll 0 50%!important;}
.steps_div .document-accept {background:url("/img/icons/expertise/document-accept.png") no-repeat scroll 0 50%!important;}
.steps_div .analitics {background:url("/img/icons/expertise/analitics.png") no-repeat scroll 0 50%!important;}
.steps_div .experts {background:url("/img/icons/expertise/experts.png") no-repeat scroll 0 50%!important;}
.steps_div .experts-org {background:url("/img/icons/expertise/experts-org.png") no-repeat scroll 0 50%!important;}
.steps_div .experts-new {background:url("/img/icons/expertise/experts-new.png") no-repeat scroll 0 50%!important;}
.steps_div .die-experts {background:url("/img/icons/expertise/die-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .fail-experts {background:url("/img/icons/expertise/fail-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .agreements-experts {background:url("/img/icons/expertise/agreements-experts.png") no-repeat scroll 0 50%!important;}
.steps_div .agreements-organisations {background:url("/img/icons/expertise/agreements-organisations.png") no-repeat scroll 0 50%!important;}
.steps_div .settings {background:url("/img/icons/expertise/settings.png") no-repeat scroll 0 50%!important;}
/*reports*/
.steps_div .unloading {background:url("/img/icons/reports/unloading.png") no-repeat scroll 0 50%!important;}
.steps_div .application-status {background:url("/img/icons/reports/application-status.png") no-repeat scroll 0 50%!important;}
.steps_div .user-requests, .steps_div .overview {
    background: url("/img/icons/index/user-requests.png") no-repeat scroll 10px 50% !important;
}
.steps_div .branches {
    background: url("/img/icons/index/branches.png") no-repeat scroll 10px 50% !important;
}  
.steps_div .calculator {
    background: url("/img/icons/index/calculator.png") no-repeat scroll 10px 50% !important;
}
.steps_div .equeue {
    background: url("/img/icons/index/equeue.png") no-repeat scroll 10px 50% !important;
}

body.icons {background-position: -170px 0!important;}
#head.icons {padding-left: 76px;}
#content .steps_td .nav li a.icons {width: 34px;}
.steps_td .nav li.icons {width:56px;overflow: hidden;}
#content .steps_td .nav li a span.num.icons {opacity:0;}
.ugs_row_deprivation {color: #333;font-weight: bold;}
.ugs_row_deprivation:hover {text-decoration: none;cursor: pointer;}
.td_level, .active_appl {background: #4a76bd!important;color: #fff;text-align: center;border-top: 1px solid #d8d8e0;border-bottom: 1px solid #d8d8e0;}
.separator_td .section-title, 
.dialog-request-edit .license_title .separator_td a {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    color: #3c3c40;
    display: inline-block;
    font-weight: normal;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ui-state-active, .ui-widget-content .ui-state-active {border: 0!important;font-weight: normal;}
.ui-widget-content .add_link,
.request-send-to-ron-dialog.ui-widget-content a,
.request-send-to-ron-dialog.ui-widget-content .dialog-ref .request-scan-link.element-link {color: #2A6496!important;text-decoration: underline}
.ui-widget-content .add_link:hover,
.request-send-to-ron-dialog.ui-widget-content a:hover,
.request-send-to-ron-dialog.ui-widget-content .dialog-ref .request-scan-link:hover {text-decoration: none;color: #2A6496!important;}
.request-send-to-ron-dialog.ui-widget-content .dialog-ref .request-scan-link {margin-right: 5px;}