body {
    /*padding-top: 60px;
    padding-bottom: 40px;*/
}

.zf-green {
    color: #68b604;
}

/*.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}*/

/*.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}*/

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.report_type {
  margin-bottom: 15px;
  }
  
 .xls_link{
	background: url(/img/microsoftoffice2007excel_5830.png) no-repeat 0 50%;padding-left: 35px;display: inline-block;line-height:49px;
}
.list-download-reports{margin-top:25px;}
.copy, .copy-inn{float:right;display:block;cursor:pointer;margin-right:0px;padding-right: 23px;background:url("../img/copy_icon.png") no-repeat 100% center; line-height:26px}
.span_error_number_doc{color:red; font-size:12px;}

/* popup */
.cboxClose_end{
    background: url(../img/blue/close.png) no-repeat 50% 50%!important;
}



.head_pop{
    background: #4b77be;
    position: relative;
    height: 50px;
    border: 0;
    border-radius: 0;
}
.cboxClose_end{
    border: 0 none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    cursor: pointer;
    float: right;
    height: 50px;
    padding-top: 10px;
    width: 40px;
    margin-right: 7px;
    /* align-items: flex-start; */
    text-align: center;
    /* color: buttontext; */
}
.popup,.popup-expertise-conclusion{
    display: none;
    height: 95%;
    top: 2%;
    position: fixed;
    width: 96%;
    left: 2%;
    padding: 0;
    border: 2px solid #dcdce8;
    z-index: 100;
    background-color: #f1f1f9;
}
.box-popup{
    padding: 10px 20px;
    overflow: auto;
    height: calc(100% - 50px);
}
.box-popup td:first-child{
    width: 50%;
}
.notActive{
    display: none !important;
}

.error-alert {
    font-weight: bold;
    background: url("/img/reestr/red-icon-sm.png") no-repeat 0 0;
    font-size: 0;
    height: 23px;
    width: 23px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.ok-green{
    font-weight: bold;
    background: url("/img/ok-green.png") no-repeat 0 0;
    font-size: 0;
    height: 23px;
    width: 23px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.info-file{
    padding: 0;
    width: 16px;
}
.file-loaded{
    word-break: break-all;margin-left: 10px;display: inline-block;
}
 .MultiFile-remove{
    margin-top: 5px;
}
.expertise-box{
    height: calc(100% + 20px);
    padding: 0 20px;
    position: relative;
    overflow: auto;
}
#zakluchenie div{
    display: inline;
}