<!--div class="main-title">
    КОМПЛЕКСНАЯ ИНФОРМАЦИОННАЯ СИСТЕМА ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ (КИС ГА)
</div-->
<div class="register">
<div class="p"><h3>
    Регистрация
</h3></div>
    <form id="registration" enctype="multipart/form-data" action="/auth/registration/save" method="POST" target="hiddenframe">
        <label>
            <input type="text" value="" name="name" placeholder="Полное наименование ОО">
            <span class="error error_name"></span>
        </label>
	<label>
            <!--span>Специфика организации</span-->
            <select name="spec">
                <?php foreach($specs as $spec){?>
                    <option value="<?=$spec->getField('Id')?>"><?=$spec->getField('Name')?></option>
                <?php }?>
            </select>
            <span class="error error_spec"></span>
        </label>
        <label>
            <input type="text" value="" name="inn" placeholder="ИНН">
            <span class="error error_inn"></span>
        </label>
        
        <label>
            <input type="text" value="" name="email" placeholder="E-mail">
            <span class="error error_email"></span>
        </label>
        <label>
            <input type="text" value="" name="phone" placeholder="Контактный телефон">
            <span class="error error_phone"></span>
        </label>
        <label>
            <span></span>
            <input type="text" value="" name="fio" placeholder="ФИО контактного лица">
            <span class="error error_fio"></span>
        </label>
        <label style="margin-left: -70px;width: 81%;margin-top: 10px;margin-right: 0;">
            <span style="float: left;width: 210px;margin-top: 9px;color: #aaa;">Заявление на получение логина и пароля для доступа в КИС ГА</span>
            <input type="file" name="file" style="width: auto">
            <span class="error error_file" style="display: block;margin-left: 210px;"></span>
        </label>
        <input type="submit" value="Зарегистрироваться" class="btn btn-success" id="submitbutton">
    </form>
    <iframe id="hiddenframe" style="width:0px; height:0px; border:0px" name="hiddenframe"></iframe>
</div>
<script>
    function handleResponse(error,mes) {
        $('.error').text('');
        if(mes.file === 'Недопустимое расширение файла'){
            $('.error').text();
            for(var i in mes){
                $('.error_'+i).text(mes[i]);
                $('.error_'+i).show();
            }
            useTopHoverTitleError('Загрузите, пожалуйста, заявление для доступа в КИС ГА в формате .pdf');
        } else if (error == 'error') {
            $('.error').text();
            for(var i in mes){
                $('.error_'+i).text(mes[i]);
                $('.error_'+i).show();
            }
            var counter = 0;
            for(var key in mes){
                counter++;
            }
            if(counter === 1 && mes.file === 'Прикрепите копию заявления'){
                useTopHoverTitleError('Загрузите заявление на получение доступа для КИС ГА');
            }else {
                useTopHoverTitleError('Заполните, пожалуйста, обязательные поля');
            }
        } else {
            $(".register").html('<div style="font-size:18px"><span style="color:red">Благодарим за регистрацию!</span> Данные учетной записи будут направлены на электронный адрес организации после проверки сведений.</div>');
        }
    }
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/islod/main.js"></script>
<style>
.bg {
  height: 40%;
  }
.top-block {bottom: 60%;}  
.container {top: 40%;}
.register h3 {
  float: none;
  text-align: center;
  margin: 0;
  display: block;
  }
/*.register div.p {border: 0;}
@media (max-width: 1370px) {
   .top-block {height: 30%;}
   .top-block .icon {
    background: url(/img/logo.png) no-repeat 50% 50%;
    height: 89px;
    background-size: auto 100%;
}
.main-title {padding-bottom: 5px;margin-top: 0px;}
.container {top: 30%;}
.register {margin-bottom: 0;}
.register div.p {padding-bottom: 0px;}
.main-title{
    font-size: 3vh;
    }
 .register input,.register select{
   padding: 0;
 }
}*/
</style>