<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <title>Система государственной аккредитации</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" content ="ru">
    <!-- Le styles -->
    <?php

    echo $this->headLink()

    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()

    ?>
    <style>
        /*
        красивая выезжалка-сообщалка ошибки
        */
        #hover-title-error{
            width: 100%;
            /*height: 70px; Попов: убрал чтобы высота подстраивалась под содержимое, если ломает что верните*/
            position: fixed;
            top: 0;
            background: red;
            opacity: 0.7;
            z-index: 9999999;
            color: white;
            text-align: center;
            font-size: 20px;
            display:none;
            padding: 30px;
        }
    </style>
</head>
<body>
<div class="bg"></div>
<div id="wrapper">
    <div class="top-block">
        <div class="text">
            ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ<br> В СФЕРЕ ОБРАЗОВАНИЯ И НАУКИ
        </div>
        <div class="icon">

        </div>
	<div class="main-title">
		КОМПЛЕКСНАЯ ИНФОРМАЦИОННАЯ СИСТЕМА ЛИЦЕНЗИРОВАНИЯ<br> И ГОСУДАРСТВЕННОЙ АККРЕДИТАЦИИ. ЛИЧНЫЙ КАБИНЕТ
	</div>
    </div>
    <div class="container" id="content">
        <?php echo $this->content; ?>
    </div>
    <div class="footer">
        <div class="bottom-block"></div>
    </div>
</div>
</body>
</html>
