<?php

$type = $this->form->get('type');
$basisTreatment = $this->form->get('basis_treatment');
$cause = $this->form->get('cause');
$organization = $this->form->get('organization');
$checkboxSpo = $this->form->get('checkbox_spo');
$checkboxVo = $this->form->get('checkbox_vo');
$checkboxBasisProgram = $this->form->get('checkbox_basis_general');
$checkboxPrimaryProgram = $this->form->get('checkbox_primary_general');
$checkboxSecondaryProgram = $this->form->get('checkbox_secondary_general');
$numberSpecialties = $this->form->get('number_specialties');
$numberDirections = $this->form->get('number_directions');
$sum = $this->form->get('sum');
$checkingAccount = $this->form->get('checking_account');
$nameBank = $this->form->get('name_bank');
$BICBank = $this->form->get('BIK_bank');
$corrAccount = $this->form->get('corr_account');

$this->plugin('basePath')->setBasePath('/equeue_res');
$this->headLink()->prependStylesheet($this->basePath() . '/css/payment-notification/create.css');
?>
<div id="slidebox">
    <p class="message">Ошибка</p>
</div>
<div class="form-group">
    <div class="col-md-offset-4 col-sm-8 field-service-reason">
        <h1 class="form-title">Калькулятор госпошлины</h1>
    </div>
</div>

<form class="form-horizontal dynamic" method="POST" action="/equeue/create-payment-order">

    <!--    Тип услуги-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$type->getOption('label')?></label>
        <div class="col-sm-8 field-service-type">
            <?=$this->formText($type)?>
        </div>
    </div>

    <!--    Основание обращения-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$basisTreatment->getOption('label')?></label>
        <div class="col-sm-8 field-appeal-type">
            <?=$this->formText($basisTreatment)?>
        </div>
    </div>


        <!--    Причина обраш=щения-->
        <div class="form-group">
            <label class="control-label col-sm-4"><?=$cause->getOption('label')?></label>
                <div class="col-sm-8 field-service-reason">
                    <?=$this->formTextarea($cause)?>
                </div>
        </div>

    <!--    Организация (филиал)-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$organization->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formTextarea($organization)?>
        </div>
    </div>

    <?php if($additionalBlock){?>
        <div class="form-group">
            <div class="col-md-offset-4 col-sm-8 field-service-reason">
                <h1 class="form-title">Перечень укрупненных групп специальностей</h1>
            </div>
        </div>



        <!--    СПО-->
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4 field-service-reason">
                <div class="col-md-1 checkbox-block">
                    <?=$this->formCheckBox($checkboxSpo)?>
                </div>
                <div class="col-md-11 label-block">
                    <div class="col-md-7 label-block">
                        <label><?=$checkboxSpo->getOption('label')?></label>
                    </div>
                    <div class="col-md-5 right-block">
                        <div class="col-md-9 input-block">
                            <?=$this->formText($numberSpecialties)?>
                        </div>
                        <div class="col-md-3 button-block">
                            <div class="col-md-6">
                                <button type="button" class="btn-plus-spo"></button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn-minus-spo"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--    ВО-->
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4 field-service-reason">
                <div class="col-md-1 checkbox-block">
                    <?=$this->formCheckBox($checkboxVo)?>
                </div>
                <div class="col-md-11 label-block">
                    <div class="col-md-7  label-block">
                        <label> <?=$checkboxVo->getOption('label')?> </label>
                    </div>
                    <div class="col-md-5 right-block">
                        <div class="col-md-9 input-block">
                            <?=$this->formText($numberDirections)?>
                        </div>
                        <div class="col-md-3 button-block">
                            <div class="col-md-6">
                                <button type="button" class="btn-plus-vo"></button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn-minus-vo"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-specialties">

            <!--  Основные программы основного образования-->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 field-service-reason">
                    <div class="col-md-1 checkbox-block">
                        <?=$this->formCheckBox($checkboxBasisProgram)?>
                    </div>
                    <div class="col-md-11 label-block">
                        <label><?=$checkboxBasisProgram->getOption('label')?></label>
                    </div>
                </div>
            </div>

            <!--    Основные программы начального образования-->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 field-service-reason">
                    <div class="col-md-1 checkbox-block">
                        <?=$this->formCheckBox($checkboxPrimaryProgram)?>
                    </div>
                    <div class="col-md-11 label-block">
                        <label><?=$checkboxPrimaryProgram->getOption('label')?></label>
                    </div>
                </div>
            </div>

            <!--    Основные программы среднего образования-->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 field-service-reason">
                    <div class="col-md-1 checkbox-block">
                        <?=$this->formCheckBox($checkboxSecondaryProgram)?>
                    </div>
                    <div class="col-md-11 label-block">
                        <label><?=$checkboxSecondaryProgram->getOption('label')?></label>
                    </div>
                </div>
            </div>

            <!--    Кнопка Расчитать-->
            <div class="form-group">
                <div class="col-md-1 col-md-offset-11 field-service-reason">
                    <button type="button" class="btn-calculate btn btn-success">Рассчитать</button>
                </div>
            </div>

            <!--    Итоговая таблица с суммами-->
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4 field-service-reason">
                    <div  class="table-block">
                        <table class="table table-hover table-focus">
                            <thead>
                                <tr class="head-table">
                                    <th>№</th>
                                    <th>Образовательная организация (филиал)</th>
                                    <th>Промежуточная сумма</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="totals-sum">
                                    <td></td>
                                    <td>Итоговая сумма</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-6 col-md-offset-6 button-block">
                        <button type="button" id="btn-save" class="btn btn-success">Сохранить</button>
                        <button type="button" id="btn-clear" class="btn btn-success">Очистить</button>
                        <button type="button" id="btn-edit" class="btn btn-success">Редактировать</button>
                    </div>
                </div>
            </div>
        </div>
    <?php }else{?>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-10 field-service-reason">
                <button type="button" class="btn-calculate btn btn-success">Рассчитать</button>
            </div>
        </div>
    <?php }?>


    <!--    Сумма-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$sum->getOption('label')?></label>
        <div class="col-sm-8 field-service-type">
            <?=$this->formText($sum)?>
        </div>
    </div>

    <!--    Расчётный счёт-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$checkingAccount->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formText($checkingAccount)?>
        </div>
    </div>

    <!--   БИК плательщика-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$nameBank->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formText($nameBank)?>
        </div>
    </div>

    <!--    БИК банка-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$BICBank->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formText($BICBank)?>
        </div>
    </div>

    <!--    Корр. счёт №-->
    <div class="form-group">
        <label class="control-label col-sm-4"><?=$corrAccount->getOption('label')?></label>
        <div class="col-sm-8 field-service-reason">
            <?=$this->formText($corrAccount)?>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-4">
        <button type="button" id="create-payment-notification" class="btn btn-success">Сформировать платежное поручение</button>
    </div>

    <div class="col-md-1 col-md-offset-1">
        <a href="/public/docs/Instructions.docx">Инструкция</a>
    </div>
</form>
<script type="text/javascript" src="<?=$this->basePath() . '/js/payment-notification/create.js'?>"></script>
<script>
    var paymentOrderId          = "<?= (isset($paymentOrderId)) ? $paymentOrderId : ''?>";
    var sum                     = "<?= (isset($summ)) ? $summ : ''?>";
    var paymentNotificationId   = "<?= (isset($paymentNotificationId)) ? $paymentNotificationId : ''?>";
    var additionalBlock         = "<?= $additionalBlock?>";
    var entryId                 = "<?= $entryId?>";
    var countOrg                = "<?= $countOrg?>";
    var paymentsAmount          = "<?= $paymentsAmount?>";
    var orgName                 = "<?= $orgName?>";
</script>