<?php
$this->plugin('basePath')->setBasePath('/equeue_res');
$this->headLink()->prependStylesheet($this->basePath() . '/css/document/payment.css');
?>
<div class="row">
    <div class="head">
        <div class="col-md-6">
            <h2>Платёжное поручение</h2>
        </div>
        <div class="col-md-1 col-md-offset-4">
            <button id="btn-download" type="button" class="btn btn-success">Скачать</button>
        </div>
    </div>
</div>
<div class="payment" >
    <table>
        <tr>
            <td width="110"><div class="bordbot">&nbsp;</div></td>
            <td width="105"><div class="bordbot">&nbsp;</div></td>
            <td></td>
            <td width="50" class="bord">0401060</td>
        </tr>
        <tr>
            <td>Поступл.в банк плат.</td>
            <td>Списано со сч.плат.</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="300" class="vmiddle">ПЛАТЕЖНОЕ ПОРУЧЕНИЕ №</td>
            <td class="relative h30 bordbot"></td>
            <td width="10"></td>
            <td class="relative h30 bordbot"></td>
            <td></td>
            <td class="bord" height="30" width="20"></td>
        </tr>
        <tr>
            <td></td>
            <td class="center">Дата</td>
            <td></td>
            <td class="center">Вид платежа</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="bordbot bordright" width="80">Сумма прописью</td>
            <td class="bordbot bordtop"><?= $data['fieldSumLeter']?></td>
        </tr>
    </table>
    <table class="bordtab">
        <tr>
            <td width="100" class="bordright"><?= $data['fieldInn']?></td>
            <td width="100" class="bordright"><?= $data['fieldKpp']?></td>
            <td width="60" class="bordright">Сумма</td>
            <td colspan="3" colspan="3"><?= $data['fieldSumNumber']?></td>
        </tr>
        <tr>
            <td colspan="2" class="bordright tdpayer"><?= $data['fieldPayment']?><span>Плательщик</span></td>
            <td class="bordright">Сч. №</td>
            <td colspan="3"><?= $data['fieldBankAccount']?></td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2" class="bordright tdpayer"><?= $data['fieldBankName']?><span>Банк плательщика</span></td>
            <td class="bordright">БИК</td>
            <td colspan="3" class="nobordbot"><?= $data['fieldBankBik']?></td>
        </tr>
        <tr>
            <td class="bordright">Сч. №</td>
            <td colspan="3"><?= $data['fieldBankNumber']?></td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2" class="bordright tdpayer">ОПЕРАЦИОННЫЙ ДЕПАРТАМЕНТ БАНКА РОССИИ Г. МОСКВА 701<span>Банк получателя</span></td>
            <td class="bordright">БИК</td>
            <td colspan="3" class="nobordbot">044501002</td>
        </tr>
        <tr>
            <td class="bordright">Сч. №</td>
            <td colspan="3" class="nobordbot"></td>
        </tr>
        <tr>
            <td class="nobordbot">ИНН 7701537808</td>
            <td class="bordright nobordbot">КПП 770201001</td>
            <td class="bordright">Сч. №</td>
            <td colspan="3">401018105000000001901</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="3" class="bordright tdpayer">Межрегиональное операционное УФК (Федеральная служба по надзору в сфере образования и науки, л/сч 04951000770)<span>Получатель</span></td>
            <td class="bordright">Вид оп.</td>
            <td class="bordright">01</td>
            <td class="bordright">Срок плат.</td>
            <td rowspan="3" class="vmiddle">3</td>
        </tr>
        <tr>
            <td class="bordright">Наз.пл.</td>
            <td class="bordright"><?= $data['fieldUin']?></td>
            <td class="bordright">Очер.плат</td>
        </tr>
        <tr>
            <td class="bordright">Код</td>
            <td class="bordright"></td>
            <td class="bordright">Рез.поле</td>
        </tr>
        <tr>
            <td class="bordright">07710807200010039110</td>
            <td class="bordright">4537900</td>
            <td class="bordright">0</td>
            <td class="bordright">0</td>
            <td class="bordright">0</td>
            <td>0</td>
        </tr>
        <tr>
            <td class="tdpayer" colspan="6">УИН <?= $data['fieldUinDubl']?> <?= $data['fieldComment']?>  07710807200010039110 <span>Назначение платежа</span></td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="height: 60px;" class="center vbottom">М.П.</td>
            <td class="center">Подписи <div class="bordbot h30"></div></td>
            <td class="center">Отметки банка</td>
        </tr>
    </table>
</div>
<script>
    $(document).ready(function(){
        var dataJson = '<?= json_encode((isset($data)) ? $data : '')?>';
        var data = JSON.parse(dataJson);
        console.log(data);
        $('#btn-download').click(function() {
            openUrl("/equeue/document/download", data);
        });

        /**
         * Открыти в новой вкладке.
         *
         * @param url
         * @param post
         */
        function openUrl(url, post)
        {
            var form = $('<form/>', {
                action: url,
                method: 'POST',
                target: '_blank',
                style: {
                    display: 'none'
                }
            });

            for(var key in post) {
                form.append($('<input/>',{
                    type: 'hidden',
                    name: key,
                    value: post[key]
                }));
            }

            form.appendTo(document.body); // Необходимо для некоторых браузеров
            form.submit();
        }
    });
</script>