.payment-notification{
    color: #4b77be;
    cursor: pointer;
}
.payment-notification-supplement{
    color: #4b77be;
    cursor: pointer;
}
.payment-notification-dialog table tbody tr td{
    padding-left: 10px;
}
.tr-payment-notification, .tr-payment-notification-supplement{
    display: none;
}