<div class="saml-container">
    <div class="saml-title">
        Выберите организацию для создания учетной записи в системе:
    </div>

    <?php if(count($this->ourOrgs)>0){ ?>
    <div class="saml-subtitle">Организации которые есть в системе:</div>
        <?php foreach($this->ourOrgs as $org){ ?>
            <div class="org ourOrg" data-id="<?=$org->ourOrgId?>">
                <?= $org->fullName ?>
            </div>
        <?php } ?>
    <?php } ?>

    <?php if(count($this->noOrgs)>0){ ?>
    <div class="saml-subtitle">Организации, которых нет в системе. Для работы с этими организациями потребуется обработка заявления.</div>
        <?php foreach($this->noOrgs as $org){ ?>
            <div class="org noOrg" data-id="<?= $org->ogrn ?>">
                <?= $org->fullName ?>
            </div>
        <?php } ?>
    <?php } ?>
    <div class="error_file" style="display: <?=($this->fileError==null)?"none":"display:block"?>;background: rgba(255, 192, 203, 0.38);border: 1px solid red;padding: 7px;margin: 10px 50px;margin-bottom: 0px;">
            <b>При загрузке файла возникла проблема.</b> <br><?=$this->fileError ?>
    </div>
    <form enctype="multipart/form-data" class="data-form" method="post">

        <label class="file-block" style="display:none;margin-left: 21px; width: 100%; margin-top: 10px; margin-right: 0; padding-top: 10px;  line-height: 14px;">
            <span style="float: left;width: 210px;color: #aaa; margin-top:-3px">Заявление на получение логина и пароля для доступа в КИС ГА</span>
            <input class="file" type="file" name="file" style="width: auto">
        </label>
        <input type="hidden" name="isform" value="true">
        <input class="org_type" type="hidden" name="org_type" value="">
        <input class="org_id" type="hidden" name="org_id" value="">
    </form>
    <div class="saml-btn">Выбрать</div> <a href="/auth/saml/logout" style="margin-top: 20px;color:white;padding: 10px 20px;background-color: #344354; display: inline-block; text-decoration: none">Выход из учетной записи ЕСИА</a>
</div>
<script>
    $(document).ready(function(){
        $("#wrapper").css("overflow","auto");
        $(".top-block").css("position","unset").css("margin-top", "24px");
        $(".container").css("position","unset");
        $(".footer").css("position","unset");

        //обработчик выбора пункта
        $(".org", ".saml-container").click(function(){
            var form = $(".data-form", ".saml-container");

            //тип организации
            var type = "ourOrg";
            if($(this).hasClass("noOrg"))
                type = "noOrg";
            $(".org_type",form).val(type);
            //id организации
            $(".org_id",form).val($(this).attr("data-id"));

            $(".org", ".saml-container").removeClass("selected");
            if(type == "noOrg")
                $(".file-block").css("display","inline-block");
            else
                $(".file-block").css("display","none");

            $(this).addClass("selected");
        });

        //обработчик кнопки выбора пункта
        $(".saml-btn", ".saml-container").click(function(){
            if($(".org.selected",".saml-container").length==0){
                alert("Организация не выбрана");
                return;
            }
            var form = $(".data-form", ".saml-container");
            var type = $(".org_type",form).val();
            if(type=="noOrg" && $("input.file",form).get(0).files.length === 0){
                alert("При подаче заявления на подключение к системе необходимо загрузить файл заявления");
                return;
            }
            $(".data-form", ".saml-container").submit();
        });
    });
</script>