<div style="width:400px;margin-left:auto;margin-right: auto;margin-top: 20px;font-size: 16px;">
    Ваша учетная запись не подтверждена. <br>В доступе к системе отказано.
    <br><br>
    Техническая поддержка:  7 (495) 134-68-86 доб. 199
    <a href="/auth/saml/logout" style="margin-top: 20px;color:white;padding: 10px 20px;background-color: #344354; display: inline-block; text-decoration: none">Выход из учетной записи ЕСИА</a>
</div>