<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <title>Система государственной аккредитации</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" content ="ru">
    <!-- Le styles -->

    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))

        ->appendStylesheet($this->basePath() . '/css/style.css')

        //->prependStylesheet($this->basePath() . '/css/jquery-ui-1.10.4.custom.min.css')


        ->appendStylesheet($this->basePath() . '/css/headcutoff.css')
        ->appendStylesheet($this->basePath() . '/css/general.css')
	    ->appendStylesheet($this->basePath() . '/css/windows8load.css')
	    ->appendStylesheet($this->basePath() . '/css/jquery.formstyler.css')
        ->appendStylesheet($this->basePath() . '/css/our.css')
        ->appendStylesheet($this->basePath() . '/js/jquery.ui/jquery-ui.min.css')
        ->appendStylesheet($this->basePath() . '/js/jquery.ui/jquery.ui.combobox.css')
        ->appendStylesheet($this->basePath() . '/css/bootstrap.css')
        ->appendStylesheet($this->basePath() . '/css/color_blue.css')
        ->prependStylesheet($this->basePath() . '/js/chosen/chosen.css')
        //->prependStylesheet($this->basePath() . '/js/jquery.ui/jquery-ui.structure.min.css')
        //->prependStylesheet($this->basePath() . '/js/jquery.ui/jquery-ui.theme.min.css')


    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/sessiondrop/sessiondrop.js')
	->prependFile($this->basePath() . '/js/eo/main.js')
        //->prependFile($this->basePath() . '/js/jquery.colorbox-min.js')
        //->prependFile($this->basePath() . '/js/jquery-ui-timepicker-addon.js')
        //->prependFile($this->basePath() . '/js/jquery-ui-1.10.4.custom.min.js')

        ->prependFile($this->basePath() . '/js/jquery.min.js')
       // ->appendFile($this->basePath() . '/js/resize/resize.js')

	 ->appendFile($this->basePath() . '/js/jquery.formstyler.min.js')
        ->appendFile($this->basePath() . '/js/jquery.ui/jquery-ui.min.js')
        ->appendFile($this->basePath() . '/js/jquery.ui/ru.jquery-ui.js')
        ->appendFile($this->basePath() . '/js/jquery.ui/jquery.ui.combobox.js')
        ->appendFile($this->basePath() . '/js/chosen/chosen.jquery.js')
    ?>
<script type="text/javascript" src="/js/jquery.MultiFile.js"></script>
<script type="text/javascript" src="/js/FileUploadHelper.js"></script>

<script>
     $(document).ready(function(){$('select').styler();})
</script>
</head>
<body>
<div id="hover-title"></div>
<div id="wrapper">
    <div id="head">
        <!--div class="bghead"-->
            <div class="title1">КИС ГА <!--?=(isset($educationOrganization) ? $educationOrganization->getField("ShortName") : "") ?--></div>
            <!--div class="title2" >Сведения об организации</div-->
            <input type="hidden" id="sort_field">
            <ul class="nav" style="z-index:20;">
                <li <?=($this->controllerName()=="Eo\Controller\Index")?"class='active'":"" ?>>
                    <a class='first'  href="<?=$this->url('eo') ?>">Главная</a>
                    <div></div>
                </li>
                <li <?=($this->controllerName()=="Eo\Controller\License")?"class='active'":"" ?>>
                    <a
                        class='first'
                        href="/eo/license"
                        style="width: 120px"
                    >Лицензирование</a>
                    <div></div>
                </li>
                <li <?=($this->controllerName()=="Eo\Controller\Declaration")?"class='active'":"" ?>>
                    <a class='first' href="/eo/declaration">Аккредитация</a>
                    <div></div>
                </li>
            </ul>
	 <!--/div-->


            <div class="credentials">
                 <div class="name"><?=( isset( $identityUser ) ? $identityUser->getField("Name"):"") ?></div>
                <div class="logout" style="color:white;position:fixed;right:10px;">
                    <a href="<?php echo $this->url('auth/default', array('controller' => 'authorization', 'action' => 'logout'));?>"><img src="/img/but_exit.png" width="30" height="30" alt="Выход" title="Выход" /></a>
                </div>
            </div>

    </div>
    <div class="container" id="content">
        <?php echo $this->content; ?>
    </div>
    <div id="popupWindow">

    </div>
</div>
</body>
</html>
