<div class="container">
    <div class="viewzone">
        <form id="certForm">
            <input type="hidden" value="<?=$id?>" name="expert_id">
            <table class="intable">
                <tr>
                    <td>Тип распоряжения</td>
                    <td>
                        <select class="order_type requisite-field" onchange="changeType()" name="ordertype_id">
                            <option value="">Не выбрано</option>
                            <?foreach($types as $type){?>
                                <option value="<?=$type->getField('id')?>"><?=$type->getField('name')?></option>
                            <?}?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Номер распоряжения</td>
                    <td><input class="requisite-field" type="text" name="doc_number"></td>
                </tr>
                <tr>
                    <td>Приложение</td>
                    <td><input class="requisite-field" type="text" name="doc_suplement"></td>
                </tr>
                <tr>
                    <td>Дата распоряжения</td>
                    <td><input class="date-field requisite-field" type="text" name="date_begin" onchange="changeDate($(this))"></td>
                </tr>
                <tr>
                    <td>Окончание полномочий</td>
                    <td><input class="date-field requisite-field orders" type="text" name="date_end"></td>
                </tr>
                <tr>
                    <td>Уровень образования</td>
                    <td>
                        <select class="lvl orders" onchange="changeSel()">
                            <option value="">Не выбрано</option>
                            <?foreach($educLevels as $educLevel){?>
                                <option value="<?=$educLevel['Id']?>"><?=$educLevel['Name']?></option>
                            <?}?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>УГСН</td>
                    <td>
                        <select class="ugs orders" <!-- onchange="changeSel2()"--> >
                            <option value="">Не выбрано</option>
                        </select>
                    </td>
                </tr>
                <!--tr>
                    <td>Программы в распоряжении</td>
                    <td class="tdselect">
                        <select class="programm orders">
                            <option value="">Не выбрано</option>
                        </select>
                    </td>
                </tr-->
            </table>
            <button class="spec_but" onclick="addSpeciality();return false;">Добавить</button>
            <div class="dictionary">
                <table class="intable">
                    <thead>
                    <tr>
                        <th>Код УГСН</th>
                        <th>УГСН</th>
                        <th>Уровень образования</th>
                        <!--th>Программы в распоряжении</th-->
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script>
     var counter = 0;
    $(document).ready(function () {
        $(".date-field").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy"
        });
    })
</script>

<style>
    #certForm .intable td{padding: 7px 5px;border-left: 0}
    #certForm tr td:first-child {
      min-width: 215px;
    }
    #certForm .intable td input[type="text"] {
      width: 99%;
      padding-bottom: 6px;
      }
    .dictionary {
/*        min-height: 80px;*/
        overflow: hidden;
        overflow-y: auto;
	clear: both;
    }
    .spec_but {
      float: right;
      }
    #certForm .select2,
    #certForm .chosen-container {
    width: 730px!important;
     }
</style>