<div class="container">
    <div class="viewzone">
        <table class="intable">
            <tr>
                <th>Номер распоряжения</th>
                <th>Тип документа</th>
                <th>Дата документа</th>
                <th>Окончание полномочий</th>
            </tr>
            <?php
            if(count($certificates)>0){
                foreach($certificates as $oneCertificate){
                    $doc_date = date('d.m.Y',strtotime($oneCertificate['doc_date']));
                    $date_end = (!empty($oneCertificate['date_end']))?date('d.m.Y',strtotime($oneCertificate['date_end'])):'';
                    ?>
                    <tr>
                        <td><?=$oneCertificate['doc_number']?></td>
                        <td><?=$types[$oneCertificate['ordertype_id']]?></td>
                        <td><?=$doc_date?></td>
                        <td><?=$date_end?></td>
                    </tr>
                <?php
                }
            }else{
                ?>
                <tr><td colspan="4" style="text-align: center;">Нет аккредитации</td></tr>
            <?php
            }
            ?>
        </table>
    </div>
</div>