<table>
    <tr>
        <td colspan="2">
            <div class="section-title">
                Личные данные
            </div>
        </td>
    </tr>
    <?php if($expert->getField('parent_id')==NULL){ ?><tr>
        <td class="left"><div class="left-title">Регистрационный номер</div></td>
        <td class="right-nopadding">
            <div class="right-value">
                <input disabled type="text" name="Expert[code]" value="<?= $expert->getField('code') ?>" />
            </div>
        </td>
        </tr>
    <?php }else{?>
        <input disabled type="hidden" name="Expert[parent_id]" value="<?= $expert->getField('parent_id') ?>">
    <?php } ?>
    <?php if($expert->getField('is_organization')==1){ ?>

        <tr>
            <td class="left"><div class="left-title">Наименование организации</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[last_name]" value="<?=$expert->getField('last_name')?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Краткое наименование организации</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[short]" value="<?=$expert->getField('short')?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Руководитель</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[director]" value="<?=$expert->getField('director')?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">ИНН</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[inn]" value="<?= $expert->getField('inn') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">КПП</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[kpp]" value="<?= $expert->getField('kpp') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">ОГРН</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[ogrn]" value="<?=$expert->getField('ogrn')?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Федеральный округ</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" value="<?=$regions?$regions->getFedOkrName():''?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Регион</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" value="<?=$regions?$regions->getField('Name'):''?>" />
                </div></td>
        </tr>

    <?php }else{?>


        <tr>
            <td class="left"><div class="left-title">Фамилия</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[last_name]" value="<?= $expert->getField('last_name') ?>" />
                    <input disabled type="hidden" name="Expert[id]" value="<?= $expert->getField('id') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Имя</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[name]" value="<?=$expert->getField('name')?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Отчество</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[middle_name]" value="<?= $expert->getField('middle_name') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">ИНН</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[inn]" value="<?= $expert->getField('inn') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Пол</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" value="<?= $expert->getField('gender') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Дата рождения</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" class="date-field" name="Expert[birth_date]" value="<?php
                    $birth_date = $expert->getField('birth_date');
                    echo (empty($birth_date) || $birth_date == '0000-00-00' || $birth_date == '1970-01-01')? "" : Date("d.m.Y", strtotime($birth_date)) ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Основное (текущее) место работы</div></td>
            <td class="right-nopadding">
                <div class="right-value org-do-to-add">
                    <table class="org-do-to-add-items">

                        <?php if(!empty($personWorkNow)){?>
                            <?php
                            $nameOrg = $personWorkNow->getFieldSpec('text');
                            $idOrg = $personWorkNow->getField('organization_id');
                            if(!empty($idOrg)){
                                $eduOrg=$personWorkNow->getEducationalOrganization();
                                $nameOrg = $eduOrg->getFieldSpec('FullName').$nameOrg;
                            }
                            $end = '';
                            if(!$personWorkNow->isEmptyField('period')){
                                $end = ' с '.$personWorkNow->getField('period').'г.';
                                if(!$personWorkNow->isEmptyField('period_end')){
                                    $end .= ' по '.$personWorkNow->getField('period_end').'г.';
                                }else{
                                    $end .= ' по н.в.';
                                }
                            }
                            $nameOrg2 = $nameOrg.', '.$end;
                            ?>
                            <tr class="org-do-to-add-item-one  ">
                                <td class="org-do-to-add-item-one-title">
                                    <?= $nameOrg2; ?>
                                </td>
                            </tr>
                        <?php }?>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Дополнительное место работы</div></td>
            <td class="right-nopadding">
                <div class="right-value org-do-to-add">
                    <table class="org-do-to-add-items">

                        <?php if(!empty($personWork)):?>
                            <?php foreach ($personWork as $personWorkOne) { ?>
                                <?php
                                $nameOrg = $personWorkOne->getFieldSpec('text');
                                $idOrg = $personWorkOne->getField('organization_id');
                                if(!empty($idOrg)){
                                    $eduOrg=$personWorkOne->getEducationalOrganization();
                                    $nameOrg = $eduOrg->getFieldSpec('FullName').$nameOrg;
                                }
                                $end = '';
                                if(!$personWorkOne->isEmptyField('period')){
                                    $end = ' с '.$personWorkOne->getField('period').'г.';
                                    if(!$personWorkOne->isEmptyField('period_end')){
                                        $end .= ' по '.$personWorkOne->getField('period_end').'г.';
                                    }else{
                                        $end .= ' по н.в.';
                                    }
                                }
                                $nameOrg2 = $nameOrg.', '.$end;
                                ?>
                                <tr class="org-do-to-add-item-one  ">
                                    <td class="org-do-to-add-item-one-title">
                                        <?= $nameOrg2; ?>
                                    </td>
                                </tr>
                            <?php  } ?>
                        <?php endif; ?>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Предыдущее место работы</div></td>
            <td class="right-nopadding">
                <div class="right-value org-do-to-add">
                    <table class="org-do-to-add-items">
                        <?php if(!empty($oldWork)){?>
                            <?php foreach ($oldWork as $oldWorkOne) { ?>
                                <?php
                                $nameOrg = $oldWorkOne->getFieldSpec('text');
                                $idOrg = $oldWorkOne->getField('organization_id');
                                if(!empty($idOrg)){
                                    $eduOrg=$oldWorkOne->getEducationalOrganization();
                                    $nameOrg = $eduOrg->getFieldSpec('FullName').$nameOrg;
                                }
                                $end = '';
                                if(!$oldWorkOne->isEmptyField('period')){
                                    $end = ' с '.$oldWorkOne->getField('period').'г.';
                                    if(!$oldWorkOne->isEmptyField('period_end')){
                                        $end .= ' по '.$oldWorkOne->getField('period_end').'г.';
                                    }else{
                                        $end .= ' по н.в.';
                                    }
                                }
                                $nameOrg2 = $nameOrg.', '.$end;
                                    ?>
                                <tr class="org-do-to-add-item-one">
                                    <td class="org-do-to-add-item-one-title">
                                        <?= $nameOrg2; ?>
                                    </td>
                                </tr>
                            <?php }?>
                        <?php } ?>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Сведения об образовании</div></td>
            <td class="right-nopadding">
                <div class="right-value org-do-to-add">
                    <table class="org-do-to-add-items">
                        <?php if(!empty($personEduc)):?>
                            <?php foreach ($personEduc as $personEducOne) { ?>
                                <?php
                                $nameOrg = $personEducOne->getField('text');
                                $idOrg = 'text';
                                if(empty($nameOrg)){
                                    $eduOrg=$personEducOne->getEducationalOrganization();
                                    if($eduOrg){
                                        $nameOrg = $eduOrg->getField('FullName');
                                        $idOrg = $eduOrg->getId();
                                    }
                                }
                                ?>
                                <tr class="org-do-to-add-item-one  ">
                                    <td class="org-do-to-add-item-one-title">
                                        <?= $nameOrg; ?>
                                    </td>
                                </tr>
                            <?php  } ?>
                        <?php endif; ?>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Ученая степень</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <textarea disabled><?php $arr_deg = explode(',',$expert->getField('academic_degree_id'));
                    $i = 0;
                    foreach($arr_deg as $degree){
                        if(isset($degrees[$degree])){
                            if($i>0) echo ', ';
                            echo $degrees[$degree];
                            $i++;
                        }
                    } ?>
                    </textarea>
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Ученое звание</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <textarea disabled><?php $arr_rank = explode(',',$expert->getField('academic_rank_id'));
                        $i = 0;
                        foreach($arr_rank as $rank){
                            if(isset($ranks[$rank])){
                                if($i>0) echo ', ';
                                echo $ranks[$rank];
                                $i++;
                            }
                        } ?>
                    </textarea>
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Должность</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[post]" value="<?= $expert->getField('post') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Федеральный округ</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" value="<?=$regions?$regions->getFedOkrName():''?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Регион</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" value="<?=$regions?$regions->getField('Name'):''?>" />
                </div></td>
        </tr>
    <?php }?>

    <tr>
        <td class="left"><div class="left-title">Адрес местонахождения</div></td>
        <td class="right-nopadding"><div class="right-value">
                <input disabled type="text" name="Expert[address]" value="<?=$expert->getField('address')?>" />
            </div></td>
    </tr>
    <?php if($expert->getField('is_organization')==1){ ?>
        <tr>
            <td class="left"><div class="left-title">Фактический адрес</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[fact_address]" value="<?=$expert->getField('fact_address')?>" />
                </div></td>
        </tr>
    <?php }?>

    <tr>
        <td class="left"><div class="left-title">Допуск к гос. тайне</div></td>
        <td class="right-nopadding"><div class="right-value" style="text-align: center">
                <input style="width: auto;" disabled type="checkbox" name="Expert[is_gos_secret]" value="1" <?=($expert->getField('is_gos_secret')==1?'checked':'')?> onchange="if($(this).is(':checked')){$('.lvl_access').show()}else{$('.lvl_access').hide();$('.lvl_access select').val('')}">
            </div></td>
    </tr>
    <tr class="lvl_access" style="<?=($expert->getField('is_gos_secret')==1?'':'display:none;')?>">
        <td class="left"><div class="left-title">Уровень доступа</div></td>
        <td class="right-nopadding"><div class="right-value">
                <input disabled type="text" value="<?=$expert->getField('level_access')!='0'?$expert->getField('level_access').'-й уровень':''?>" />
            </div></td>
    </tr>
    <tr>
        <td class="left"><div class="left-title">Из религиозной организации</div></td>
        <td class="right-nopadding"><div class="right-value" style="text-align: center">
                <input style="width: auto;" disabled type="checkbox" name="Expert[institution_type_id]" value="25" <?=($expert->getField('institution_type_id')==25||$expert->getField('institution_type_id')==49)?'checked':''?>>
            </div></td>
    </tr>


    <?php if($expert->getField('is_organization')==1){ ?>
        <tr>
            <td colspan="2">
                <div class="section-title">
                    Банковские реквизиты
                </div>
            </td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">Расчетный счет</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[invoice]" value="<?= $expert->getField('invoice') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">БИК</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[bik]" value="<?= $expert->getField('bik') ?>" />
                </div></td>
        </tr>
        <tr>
            <td class="left"><div class="left-title">ОКПО</div></td>
            <td class="right-nopadding"><div class="right-value">
                    <input disabled type="text" name="Expert[okpo]" value="<?= $expert->getField('okpo') ?>" />
                </div></td>
        </tr>
    <?php }?>


    <tr>
        <td colspan="2">
            <div class="section-title">
                Контактная информация
            </div>
        </td>
    </tr>
    <tr>
        <td class="left"><div class="left-title">Электронная почта</div></td>
        <td class="right-nopadding"><div class="right-value">
                <input disabled type="text" name="Contact[email]" value="<?= $Contact->getField('email') ?>" />
                <input disabled type="hidden" name="Contact[id]" value="<?= $Contact->getField('id') ?>" />
            </div></td>
    </tr>
    <tr>
        <td class="left"><div class="left-title">Факс</div></td>
        <td class="right-nopadding"><div class="right-value">
                <input disabled type="text" name="Contact[fax]" value="<?= $Contact->getField('fax') ?>" />
            </div></td>
    </tr>
    <tr>
        <td class="left"><div class="left-title">Телефон</div></td>
        <td class="right-nopadding"><div class="right-value">
                <input disabled type="text" name="Contact[phone]" value="<?= $Contact->getField('phone') ?>" />
            </div></td>
    </tr>

    <?php if(is_null($parent_id)) {?>
    <tr>
        <td colspan="2">
            <div class="section-title">
                Текущие полномочия
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <table class="intable">
                <tr>
                    <th>Код УГС</th>
                    <th>УГС</th>
                    <th>Уровень образования</th>
                    <!--th>Программы в распоряжении</th-->
                    <th>Срок полномочий</th>
                </tr>
                <?php if(count($programs) > 0):?>
                <?php
                $i       = 1;
                $j = count($programs)-1;
                foreach ($programs as $key => $value) {
                    $name = $SpecDict->getNameProgram($value['speciality_id']);
                    $name = $name->toArray();
                    $name_code = '';
                    $name_name = '';
                    if(!empty($name)){
                        $name_code = $name[0]['Code'];
                        $name_name = $name[0]['Name'];
                    }
                    $cert = $expertCert->getEntityById($value['certificate_id']);
                    $eduLevel  = $EduLevelClass->getEntityById($value['education_level_id']);
                    $groupSpec = $GroupSpec->getEntityById($value['speciality_group_id']);
                    $date_cert = $cert?date('d.m.Y',strtotime($cert->getField('date_end'))):'-';
                    $color = '';

                    if(!empty($expProg)){
                        if(isset($expProg[$groupSpec->getFieldSpec('Id')])){
                            $color = 'background:#68F999;';
                        }
                    }

                    echo '<tr><td style="'.$color.'">' . ((!empty($groupSpec)&& @$groupSpec->getFieldSpec('Code')!='Void')?$groupSpec->getFieldSpec('Code'):'') . '</td>
                                    <td style="'.$color.'">' . (!empty($groupSpec)?$groupSpec->getFieldSpec('Name'):'') . '</td>
                                    <td style="'.$color.'">' . (!empty($eduLevel)?$eduLevel->getFieldSpec('Name'):'') . '</td>';
                    echo '<td style="'.$color.'">' . $date_cert.'</td></tr>';
                }
                ?>
                <?php endif?>
            </table>
        </td>
    </tr>
    <? }?>
</table>