<div class="container">
    <!--div class="viewzone" data-heightdelta="80"-->
        <table class="intable">
            <tr>
                <th>№ п/п</th>
                <th>№ экспертизы</th>
                <th>Дата проведения аккред. экспертизы</th>
                <?php if($org){ ?>
                    <th>ФИО эксперта</th>
                <?php } ?>
                <th>Наименование образовательной организации</th>
                <th>Уровень образования</th>
                <th>УГСН</th>
                <th>Наименование ООП</th>
                <th>Результат (отрицательный/положительный)</th>
            </tr>
            <?php
            $i = 1;
            if(!empty($items)){
                foreach($items as $key => $expertise){
                    foreach($expertise as $key => $exp){
                        foreach($exp as $key => $item){
                            $row = count($item['arr']);
                            $cur = array_shift($item['arr']);
                            ?>
                            <tr>
                            <td rowspan="<?=$row?>"><?=$i?></td>
                            <td rowspan="<?=$row?>"><?=$item['number']?></td>
                            <td rowspan="<?=$row?>"><?=$item['date']?></td>
                            <?php if($org){ ?>
                                <td rowspan="<?=$row?>"><?=$item['fio']?></td>
                            <?php } ?>
                            <td rowspan="<?=$row?>"><?=$item['name']?></td>

                            <td><?=$cur['level']?></td>
                            <td><?=$cur['ugs']?></td>
                            <td><?=$cur['programm']?></td>
                            <td><?=$cur['res']?></td>

                            <?php if($row>1){?>
                                <?php foreach($item['arr'] as $k => $v){?>
                                    </tr>
                                    <tr prog="<?=$v['id']?>">
                                    <td><?=$v['level']?></td>
                                    <td><?=$v['ugs']?></td>
                                    <td><?=$v['programm']?></td>
                                    <td><?=$v['res']?></td>
                                <?php }?>
                            <?php }?>
                            </tr>
                            <?php $i++;
                        }
                    }
                }
            }else{?>
                <tr><td class="active_appl" colspan="<?php  echo ($org)?'9':'8'; ?>" style="text-align: center;">Нет связанных заданий в базе</td></tr>
            <?php }?>
        </table>
    <!--/div-->
</div>