<?php
$type = 'checkbox';
if($now == '1'){$type = 'radio';}?>
<?php if($now != '3'){?>
<?php if($now && $nextPage==1){?>
<ul id="list_tabs">
    <li><a href="javascript:;" onclick="changeTabOrg($(this))" tab="obr_org" class="active show_tab">Обр. организации</a></li>
    <li><a href="javascript:;" onclick="changeTabOrg($(this))" tab="else_org" class="show_tab">Другая организация</a></li>
</ul>
<?php }?>
<?php }?>
<?php if($nextPage==1){ ?>
    <?php if($now != '3'){?>
    <div id="wrapReorg" class="obr_org wrapReorg">
        <?php /*
    <div id="head_pop"><h2 id="title_pop">Выбор организаций</h2>
        <div id="cboxClosePop" onclick="$('#popupWindow').hide()"></div>
    </div>
        */ ?>
	<div class="search-block">
        <input
            id="filt_fillials"
            class="searchOrganization search"
            placeholder="Введите название или ИНН для поиска организации"
            <?=($search!==' ')?'value="'.$search.'"' : ''?>
            autofocus="autofocus"
            >
	</div>
        <input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
        <input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>">
        <div class="wrap_filteredTable">
        <table id ="filteredTable">
            <?php
            $i = 1;
            if(count($orgs)>0){
                foreach ($orgs as $key => $org) {
                    echo '<tr class="reorg_string"><td>' . $i . '</td><td id="reorg_' . $i . '">' . $org['FullName'] . '</td><td><input class="selected_reorg" name="reorg_' . ($now?'':$i) . '" type="'. $type .'" value=' . $org['Id'] . '></td></tr>';
                    $i++;
                }
            }else{
                echo '<tr><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
            }
            if($nextPage<$maxPage){?>
            <tr>
                <td colspan="3">
                    <a id="getNextResult" href="javascript:;">Загрузить еще результаты</a>
                </td>
            </tr>
            <?php } ?>
        </table>
        </div>
            <input class="send_edu_program" onclick="$('.dialog, .dialog-add-edu-org').remove();" type="button" value="Закрыть"/>
            <input id="add-org-to-who-it" class="send_edu_program" type="button" value="Сохранить"/>
    </div>
    <?php } ?>
<?php } else { ?>
    <tr style="display:none;"><td><input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
    <input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>"></td></tr>
    <?php $i =($nextPage-1)*20 + 1;
    if(count($orgs)>0){
        foreach ($orgs as $key => $org) {
            echo '<tr class="reorg_string"><td>' . $i . '</td><td id="reorg_' . $i . '">' . $org['FullName'] . '</td><td><input class="selected_reorg" name="reorg_' . ($now?'':$i) . '" type="'. $type .'" value=' . $org['Id'] . '></td></tr>';
            $i++;
        }
    }else{
        echo '<tr><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
    }
    if($nextPage<$maxPage){?>
    <tr>
        <td colspan="3">
            <a id="getNextResult" href="javascript:;">Загрузить еще результаты</a>
        </td>
    </tr>
    <?php }
}?>
<?php if($now){?>
    <div id="wrapReorg" class="else_org wrapReorg" <?php if($now != '3'){?> style="display: none;"<?php } ?>>
        <textarea class="myorg" rows="14"></textarea>
        <input class="send_edu_program" onclick="$('.dialog, .dialog-add-edu-org').remove();" type="button" value="Закрыть"/>
        <input class="send_edu_program" onclick="handEnter()" type="button" value="Сохранить"/>
    </div>
<?php } ?>


    <script>
        $(document).ready(function(){
            $("#wrapReorg").undelegate("#getNextResult","click");
            $("#wrapReorg").delegate("#getNextResult","click",function(){
                console.log("Хотим добавить в список еще вузов");
                var nextPage=$("#nextPage").val();
                nextPage=parseInt(nextPage);
                var maxPage=$("#maxPage").val();
                maxPage=parseInt(maxPage);
                if( /*$("#filteredTable tbody").height()-$("#filteredTable").scrollTop() == 359
                        &&  */nextPage<= maxPage ){
                    if($(".searchOrganization").val()==''){
                            var url='/ron/index/get-edu-org/'+$("#nextPage").val()+'/0/<?=$now?>';
                    }else{
                        var url='/ron/index/get-edu-org/'+$("#nextPage").val()+'/'+$(".searchOrganization").val()+'/<?=$now?>';
                    }
                    console.log(url);
                    $.ajax({
                        url: url,
                        beforeSend: function (xhr) {
                         //$(".loading-overlay").show();
                           $("#getNextResult").parent('td').parent('tr').remove();
                           $("#nextPage").remove();
                           $("#maxPage").remove();
                        },
                        success: function(answer){
                            console.log('Данные получены');
                            //$(".loading-overlay").fadeOut(250, function(){
                                 console.log('Оновляем данные');
                                $("#filteredTable tbody").append(answer);
                            //})
                        },
                        error:function(e){
                            console.log("ошибка связи");
                            console.log(e);
                        }
                    });
                }
            });
            $("#wrapReorg").undelegate(".searchOrganization","change");
            $("#wrapReorg").delegate(".searchOrganization","change",function(){
                console.log("хотим найти организации, добавляемые во припереименование");
                console.log($(".searchOrganization").val());
               //if($("#add_reorg_struct").hasClass('clicked')){
                    showPop('/ron/index/get-edu-org/0/'+$(".searchOrganization").val()+'/<?=$now?>');
               // }else{
                    //showPop('/ron/declaration/get-edu-org/'+$(".searchOrganization").val());
                //}
            });
        })

        function changeTabOrg(el){
            $('.wrapReorg').hide();
            $('.'+el.attr('tab')).show();
            el.parent().parent().find('.show_tab').removeClass('active');
            $(el).addClass('active');
        }

        function handEnter(){
            console.log('1')
            var hasNew=false;
            //дергаем шаблон
            var template=jQuery('.itOrgInDo .org-do-to-add-template').clone();
            //заполняем текст
            jQuery('.org-do-to-add-item-one-title',template).text(jQuery('.else_org .myorg').val());
            //заполняем инпут, на отсылку
            var name=jQuery('input',template).attr('nametemplate')+'[text][]';
            jQuery('input',template).attr('name',name);
            jQuery('input',template).val(jQuery('.else_org .myorg').val());
            <?php if($now == '1'){?>
                jQuery('.mywork',template).attr('name','mywork');
            <?php }?>
            //убираем класс шаблона
            jQuery(template).removeClass('org-do-to-add-template');
            console.log(template);
            jQuery('.itOrgInDo').append(template);

            $(template).undelegate(".org-do-to-add-item-one-delete-button",'click');
            $(".org-do-to-add-item-one-delete-button").unbind('click');
            hasNew=true;
            <?php if($now == '1'){?>
                $('.hide_add').hide();
            <?php }?>
            if(hasNew){
                useTopHoverTitle('Организации добавлены',2000);
                <?php if($now){?>
                    $('.dialog, .dialog-add-edu-org').remove();
                <?php } ?>
            }
        }
    </script>
    
    
<script>
     $(/*"#popupWindow"*/"#wrapReorg").undelegate("#add-org-to-who-it","click");
     $(/*"#popupWindow"*/"#wrapReorg").delegate("#add-org-to-who-it","click",function(){
         console.log('добавляем организации в експерта');
         console.log(jQuery('.itOrgInDo input').val());
         $(".selected_reorg:<?=$type?>:checked").each(function(indx, element){
                console.log(indx);
                console.log(element);
                var idOrg = jQuery(element).val();
                console.log(idOrg);
                //если уже есть прохдим мимо
                console.log("отлавливаем");
                var isAlredy = jQuery('.itOrgInDo input[name*="'+idOrg+'"]').length
                console.log(isAlredy);
                if(!isAlredy){
                    //дергаем шаблон
                    var template=jQuery('.itOrgInDo .org-do-to-add-template').clone();
                    //заполняем текст
                    var trIt=jQuery(element).parent().parent();
                    var td=jQuery('td',trIt);
                    var td2=td[1];
                    console.log(jQuery(td2).text());
                    jQuery('.org-do-to-add-item-one-title',template).text(jQuery(td2).text());
                    //заполняем инпут, на отсылку
                    var name=jQuery('input',template).attr('nametemplate')+'['+idOrg+']';
                    jQuery('input',template).attr('name',name);
                    jQuery('input',template).val(idOrg);
                    jQuery('input',template).attr('idOrg',idOrg);
                    <?php if($now == '1'){?>
                        jQuery('.mywork',template).attr('name','mywork');
                    <?php } ?>
                    //убираем класс шаблона
                    jQuery(template).removeClass('org-do-to-add-template');
                    console.log(template);
                    jQuery('.itOrgInDo').append(template);

                        $(template).undelegate(".org-do-to-add-item-one-delete-button",'click');
                        $(".org-do-to-add-item-one-delete-button").unbind('click');
                    hasNew=true;
                    <?php if($now == '1'){?>
                        $('.hide_add').hide();
                    <?php } ?>
                }
         });
         if(hasNew){
             useTopHoverTitle('Организации добавлены',2000);
             <?php if($now){?>
             $('.dialog, .dialog-add-edu-org').remove();
             <?php } ?>
         }
    })
</script>

<script>
    //jQuery("#reorg_butt").attr("onclick","showPop('/ron/declaration/get-edu-org/0')"/*"$('#popupWindow').show()"*/)
</script>
<script>
    jQuery("#wrapReorg #filteredTable .reorg_string").off("click");
    jQuery("#wrapReorg #filteredTable .reorg_string").on("click",function(){
        var val= jQuery(".selected_reorg",this).prop("checked");
        jQuery(".selected_reorg",this).prop("checked",!val);
    });
    jQuery("#wrapReorg #filteredTable .reorg_string input").off("click");
    jQuery("#wrapReorg #filteredTable .reorg_string input").on("click",function(){
        var val= jQuery(this).prop("checked");
        jQuery(this).prop("checked",!val);
    });
</script>

<?php if($now != '3'){?>
<script>
    $(document).ready(function(){
        var el=document.getElementById('filt_fillials');
        el.focus();
        el.setSelectionRange(el.value.length,el.value.length);
        //setTimeout(function() { $('#filt_fillials"]').focus() }, 3000);
    });
    setTimeout(function() { $('#filt_fillials').focus() }, 100);
</script>
<?php } ?>
<style>
    .searchOrganization{
        width: 96%;
    }
    .myorg{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    #wrapReorg {overflow: hidden;clear: left;padding-top: 10px;}
</style>