<select class="programm orders">
    <option value="">Не выбрано</option>
    <?if(!empty($items)){?>
        <?foreach($items as $item){?>
            <option value="<?=$item->getField('Id')?>" code="<?=$item->getField('Code')?>">
                <?=($item->getField('Code').' - ')?><?=$item->getField('Name')?>
            </option>
        <?}?>
    <?}?>
</select>