<select class="ugs orders" onchange="changeSel2()">
    <option value="">Не выбрано</option>
    <?if(!empty($items)){?>
        <?foreach($items as $item){?>
            <option value="<?=$item['Id']?>" code="<?=($item['Code']=='Void'||$item['Code']=='Unknown')?'':$item['Code']?>">
                <?=($item['Code']=='Void'||$item['Code']=='Unknown')?'':($item['Code'].' - ')?><?=$item['Name']?>
            </option>
        <?}?>
    <?}?>
</select>