<?php
    $id = "";
    $number ="";
    $date = "";
    $fileName="";
    $fileHash = "";
    $fileId ='';
    $file=null;
    $comment = '';    
    if(!empty($expertiseDocument)){
        $id = $expertiseDocument->getId();
        $number = $expertiseDocument->getFieldOrSpace('document_number');
        $date = $expertiseDocument->getDate('open_date');
        $file = $expertiseDocument->getDocumentFile();
        $comment = $expertiseDocument->getFieldOrSpace('comments');
    }
    if(!empty($file)){
        $fileName = $file->getFieldOrSpace('RealName');
        $fileHash = $file->getFieldOrSpace('HashName');
        $fileId = $file->getId();
    }
?>
<div style="position: relative;" class="order-include-dialog-parent">
    <form class="order-include-dialog-form" 
          method="post" 
          target="hiddenframe"
          enctype="multipart/form-data"
          action="/ron/index/save-expertise-order-document"
          >
        <table>
            <tr>
                <td>
                    Номер документа
                </td>
                <td>
                    <input style="display:none;" name="id" type="text" value ="<?= $id ?>">
                    <input style="display:none;" name="expertise_id" type="text" value ="<?= $expertiseId ?>">
                    <input style="display:none;" name="document_type_id" type="text" value ="<?= $documentTypeId ?>">                    
                    <input required="required" name="document_number" type="text" value="<?= $number ?>">
                    <input style="display:none;" class ="order-include-dialog-form-submit" type="submit" >                    
                </td>
            </tr>
            <tr>
                <td>
                     дата
                </td>
                <td style="position:relative;">
                    <input class="field-date" required="required"  name="open_date" type="text" value="<?= $date ?>" >
                    <span class="date-icon "></span>
                </td>
            </tr>
            <tr>
                <td>
                     Примечание
                </td>
                <td>
                    <input  name="comments" type="text" value="<?= $comment ?>" >
                </td>
            </tr>
            <tr>
                <td>
                    Файл
                </td>
                <td>
                    <input  name="file" type="file"  <?php if(empty($file)){echo 'required="required"';} ?> >
                    <?php  if(!empty($file)){?>
                        <a href="/uploads/<?= $fileHash ?>" download="<?= $fileName ?>" target="_blank"><?= $fileName ?></a>
                    <?php } ?>
                </td>
            </tr>
        </table>
    </form>
    <div style="float: right;">
        <div  class="commission-button order-include-dialog-ok">
            Сохранить
        </div>
        <div  class="commission-button order-include-dialog-cancel">
            Отмена
        </div>
    </div>
</div>

<script>

    jQuery(".order-include-dialog-cancel").click(function(){
        jQuery(".order-include-dialog-parent").parent().remove();
    });

    jQuery(".order-include-dialog-ok").click(function(){
        //var expertiseId;
        jQuery(".order-include-dialog-form-submit").click();
    });

    //Вешаем обработчики на календари
    $(".field-date", ".order-include-dialog-parent").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd.mm.yy",
    });
    $(".date-icon", ".order-include-dialog-parent").click(function () {
        $(this).parent().find("input").focus();
    })

    function expertiseOrderDocumentSaveOk(){
        console.log('распорядителный документ создан, проверимка доп файлы');
        var expertiseId = jQuery('.order-include-dialog-form input[name="expertise_id"]').val();
        //дергаем досоздание нужных документов экспертов
                        $.ajax({
                            type: 'POST',
                            url: "/ron/index/expertise-document-check-on-create/"+expertiseId,
                            success: function(answer) {
                                if(answer=='Ok'){
                                    useTopHoverTitle("Данные записаны",2000);
                                    jQuery(".order-include-dialog-cancel").click();
                                    jQuery('.tab-expertise-for-document').show();                                    
                                }else{
                                    useTopHoverTitleError("ошибка при записи");
                                    console.log(answer);
                                }

                            },
                            error:function(e){
                                console.log('ошибка при загрузке панели добавления  документа');
                                console.log(e);
                                useTopHoverTitleError('Ошибка связи');
                            }

                        });
        
    }        

</script>

<style>

.order-include-dialog-parent span.date-icon {
    background-image: url("/js/jquery.ui/images/ui-icons_ef5f48_256x240.png");
    background-position: -112px -112px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: 10px;
    cursor: pointer;
}

.order-include-dialog-parent input{
    width: 100%;
    margin-left: 10px;
}
.order-include-dialog-parent td{
    padding-bottom:  5px;
    padding-top:   5px;
}
</style>