<form id="form_expert_comment">
    <textarea id='comment-expert' name = "comment" placeholder='Введите текст примечания' style='width:560px;height: 270px;resize:none'></textarea>
    <input type="hidden" name="expert_id" value="<?=$id?>" />
</form>

<ul class="nav_footer" id="footer_button" style="float:right; margin-top:20px;">

        <li class="filelink" id="filelink">
            <a id="help_button" onclick="$('.dialog-add-comment').dialog('close');;" href="javascript:;">
                <div></div>
                <span class="text">Отменить</span>
            </a>
        </li>
        <li class="filelink" id="filelink">
            <a id="help_button" onclick="save_expert_comment()" href="javascript:;">
                <div></div>
                <span class="text">Сохранить</span>
            </a>
        </li>

</ul>
<script>
    $(function(){
        $("#comment-expert").keydown(function(){$(this).removeClass("color_pink")})
    })
</script>