<?php
    $id = "";
    $number ="";
    $date = "";
    $fileName="";
    $fileHash = "";
    $fileId ='';
    $file=null;
    $comment = '';  
    $fileDate = date('d.m.Y');
    $docTypeId = '';
    if(!empty($expertiseDocument)){
        $id = $expertiseDocument->getId();
        $number = $expertiseDocument->getFieldOrSpace('document_number');
        $date = $expertiseDocument->getDate('open_date');
        $file = $expertiseDocument->getDocumentFile();
        $comment = $expertiseDocument->getFieldOrSpace('comments');
        $expertiseId = $expertiseDocument->getFieldOrSpace('expertise_id');
        $expertId = $expertiseDocument->getFieldOrSpace('expert_id');
        $docTypeId = $expertiseDocument->getFieldOrSpace('document_type_id');
    }
    if(!empty($file)){
        $fileName = $file->getFieldOrSpace('RealName');
        $fileHash = $file->getFieldOrSpace('HashName');
        $fileDate = $file->getDate('date_create');
        $fileId = $file->getId();
    }
                //ищем какие типы низя выбирать
                $isSelectType = false;
                $expTypeNotString = \Model\ExpertEntities\options::getOption('expertise_documents_type_not_free');
                $expTypeNotArray = explode(',', $expTypeNotString);
                $expTypeNotArray = array_filter($expTypeNotArray);
                $expTypeArray = array();
                if(  !in_array($docTypeId, $expTypeNotArray)){
                    $docType = new \Model\ExpertEntities\documenttype();
                    $docTypeAll = $docType->getAllBywhere(array(
                        new \Zend\Db\Sql\Predicate\NotIn('id', $expTypeNotArray),
                        ));
                    //if(!empty($docTypeAll)){
                    //    foreach ( $docTypeAll as $docTypeOne ) {
                    //        $expTypeArray[] = 
                    //    }
                    // }
                }
                
    if(empty($id)){    
                //надо создать новый документ
                
    }
    
?>
<div style="position: relative;" class="order-include-dialog-parent">
    <form class="order-include-dialog-form" 
          method="post" 
          target="hiddenframe"
          enctype="multipart/form-data"
          action="/ron/index/save-expertise-order-document"
          >
        <table>
            <tr>
                <td>
                    Номер документа
                </td>
                <td>
                    <?php if(!empty($id)){ ?>
                        <input style="display:none;" name="id" type="text" value ="<?= $id ?>">                                        
                    <?php } ?>
                    <?php if(!empty($expertiseId)){ ?>
                        <input style="display:none;" name="expertise_id" type="text" value ="<?= $expertiseId ?>">                    
                    <?php } ?>
                    <?php if(!empty($expertId)){ ?>
                        <input style="display:none;" name="expert_id" type="text" value ="<?= $expertId ?>">                    
                    <?php } ?>
                    <?php if(!empty($docTypeId) && empty($docTypeAll)){ ?>
                        <input style="display:none;" name="document_type_id" type="text" value ="<?= $docTypeId ?>">                    
                    <?php } ?>
                    <input name="document_number" type="text" value="<?= $number ?>">
                    <input style="display:none;" class ="order-include-dialog-form-submit" type="submit" >                    
                </td>
            </tr>          
            <tr>
                <td>
                     Тип документа
                </td>
                <td style="position:relative;">
                    <select
                        
                        <?php   if(empty($docTypeAll) ){ ?>
                            disabled="disabled"                                  
                        <?php } ?>                                
                        required="required"
                        name="document_type_id"
                        >
                        <?php if (empty($docTypeAll) && !empty($docTypeId) ){ 
                            $expTypeOne= new \Model\ExpertEntities\documenttype($docTypeId);
                            ?>
                            <option ><?php echo $expTypeOne->getFieldOrSpace('name');?></option>                                                   
                        <?php } else {?> 
                        <option value="">выберите тип</option>
                        <?php } ?> 
                        <?php if(!empty($docTypeAll)){
                            foreach ( $docTypeAll as $expTypeOne ) {?>
                                <option 
                                    value="<?php echo $expTypeOne->getId();?>"
                                    <?php   if(!empty($docTypeId) && $docTypeId==$expTypeOne->getId()){ ?>
                                              selected="selected"                                    
                                    <?php } ?>                                
                                    >
                                    <?php echo $expTypeOne->getFieldOrSpace('name');?>
                                </option>
                            <?php }?>
                        <?php }?>
                    </select>
                </td>
            </tr>              
            <tr>
                <td>
                     Дата загрузки
                </td>
                <td style="position:relative;">
                    <input class="field-date" required="required"  name="file_date" type="text" value="<?= $fileDate ?>" >
                    <span class="date-icon "></span>
                </td>
            </tr>
            <tr>
                <td>
                     Примечание
                </td>
                <td>
                    <input  name="comments" type="text" value="<?= $comment ?>" >
                </td>
            </tr>
            <tr>
                <td>
                    Файл
                </td>
                <td>
                    <input  name="file" type="file"  <?php if(empty($file)){echo 'required="required"';} ?> >
                    <?php  if(!empty($file)){?>
                        <a href="/uploads/<?= $fileHash ?>" download="<?= $fileName ?>" target="_blank"><?= $fileName ?></a>
                    <?php } ?>
                </td>
            </tr>
        </table>
    </form>
    <div style="float: right;">
        <div  class="documented-button order-include-dialog-ok">
            Сохранить
        </div>
        <div  class="documented-button order-include-dialog-cancel">
            Отмена
        </div>
    </div>
</div>

<script>

    jQuery(".order-include-dialog-cancel").click(function(){
        jQuery(".order-include-dialog-parent").parent().remove();
    });

    jQuery(".order-include-dialog-ok").click(function(){
        jQuery(".order-include-dialog-form-submit").click();
    });

    //Вешаем обработчики на календари
    $(".field-date", ".order-include-dialog-parent").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd.mm.yy",
    });
    $(".date-icon", ".order-include-dialog-parent").click(function () {
        $(this).parent().find("input").focus();
    })

    function expertiseOrderDocumentSaveOk(){
        var document_type_id = jQuery('form.order-include-dialog-form input[name="document_type_id"]').val();
        useTopHoverTitle("Данные записаны",2000);
        var dContent =jQuery('.docdialog');
        jQuery(dContent).html('');        
        expertContractEditDialogLoad(dContent);        
        jQuery(".order-include-dialog-cancel").click();
        //jQuery('.tab-expertise-for-document').show();
        //обновить вкладку Документы для эксперт, если изменен договор с экспертом
        if((document_type_id == "9" || document_type_id == 9) && jQuery('#list_tabs .tab-expertise-for-document').is('.active')){
            jQuery('#list_tabs .tab-expertise-for-document').click();
        }
    }

</script>

<style>

.order-include-dialog-parent span.date-icon {
    background-image: url("/js/jquery.ui/images/ui-icons_ef5f48_256x240.png");
    background-position: -112px -112px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: 10px;
    cursor: pointer;
}

.order-include-dialog-parent input{
    width: 100%;
    margin-left: 10px;
}
.order-include-dialog-parent td{
    padding-bottom:  5px;
    padding-top:   5px;
}
</style>
