<div class="commission-find-expert-parent">
    <form class="commission-find-expert-form">
        <input type="hidden" name ="expertise_id" value="<?= $expertiseId ?>" >
        <input type="hidden" name ="expert_old_id" value="<?= $expertId ?>" >
        <input type="hidden" name ="parent_id" value="<?= $parentId ?>" >
        <input type="hidden" name ="expertise_program_id" value="<?= $programId ?>" >
        <input type="hidden" name ="institution_id" value="<?= $branchId ?>" >
        <div style="width: 100%" class="commission-find-expert-find search-block">
            <input type="text" style="width: 100%" class="search" >            
        </div>
        <div class="commission-find-expert-view-zone">

                <table style="width: 100%">
                    <?php
                        if(!empty($experts)):;
                    ?>
                        <?php
                            foreach ( $experts as $key=>$expertOne ) :
                        ?>
                            <tr class="commission-find-expert-one-row">
                                <td style="text-align:right;width:25px;"> <?php echo $key+1; ?>. </td>
                                <td class="commission-find-expert-table-name" style="padding-left: 5px;"> <?php  echo $expertOne->getFio(); ?> </td>
                                <td style="width:15px">
                                    <input 
                                        type="radio" 
                                        name="expert_id" 
                                        value="<?=$expertOne->getId();?>"
                                    >
                                </td>
                            </tr>
                        <?php
                            endforeach;
                        ?>
                    <?php
                        else :
                    ?>
                            <tr> <td colspan="3"> </td> </tr>
                            <tr> <td colspan="3">  не найдено </td> </tr>
                            <tr> <td colspan="3"> </td> </tr>
                    <?php
                        endif;
                    ?>

                </table>

        </div>
        <div class="commission-find-expert-is-chairman">
            <input 
                type="checkbox" 
                name="isChairman" 
                style="margin-top: -4px;" 
                <?php if(empty($programId)){ ?>
                    checked="checked"    
                <?php } ?>
                >
            Назначить руководителем
        </div>
    </form>
    <div class="commission-block-button-rigth">
        <div class="commission-button commission-find-expert-ok" >
            Назначить        
        </div>
        <div class="commission-button commission-find-expert-cancel" >
            Отмена
        </div>
    </div>
</div>

<style>
    .commission-block-button-rigth{
        position: absolute;
        bottom: 10px;
        right: 5px;
    }

    .commission-find-expert-is-chairman{
        position: absolute;
        bottom: 10px;
    }

    .commission-find-expert-view-zone{
        height: 100%;
        width: 100%;
        padding-bottom: 70px;
        overflow: auto;
    }

    .commission-find-expert-parent{
        width: 100%;
        overflow: hidden;
        height: 100%;
    }
    tr.commission-find-expert-one-row td {
      padding-bottom: 5px;
      }
    tr.commission-find-expert-one-row:nth-child(2n) td {
      background: #fff;
    }
</style>

<script>
    
    /**
     * тык по отмена
     * 
     * @returns {Number}
     */
    jQuery('.commission-find-expert-cancel').click(function(){
        $(".dialog, .commission-find-expert-dialog").remove();
    });
</script>

<script>    
    /**
     * тык по строке с экспертом
     * 
     * @returns {Number}
     */
    jQuery('.commission-find-expert-one-row td').click(function(){
        console.log(jQuery(this));
        jQuery(this).parent().find('input').prop('checked',true);
        console.log( jQuery(this).parent().find('input'));
    }); 
 
    
    /**
     * набираем в строке поиска
     * 
     * @returns {Number}
     */
    jQuery('.commission-find-expert-find input').keyup(function(e){
        jQuery('.commission-find-expert-table-name').parent().removeClass('hide');
        var searchIt = jQuery(this).val();
        if(searchIt ==''){
            return 1;
        }        
        searchIt = searchIt.toLowerCase();
        jQuery('.commission-find-expert-table-name').each(function(index,element){            
            var rowValue = jQuery(element).text();
            rowValue = rowValue.toLowerCase();
            var searchResul = rowValue.indexOf(searchIt);
            if (searchResul<0){
                jQuery(element).parent().addClass('hide');
            }
        });
        
    });
    
    /**
     * тык по кнопке Назначить
     * 
     * @returns {Number}
     */
    jQuery('.commission-find-expert-ok').click(function(){
        //проверочка а ВЫбран ли
        if(!jQuery('.commission-find-expert-one-row input:checked').length){
            useTopHoverTitleError("Не выбран эксперт");
            return 0;
        };
        //собираем данные
        var data = jQuery('.commission-find-expert-form').serialize();                                
        var expertiseId=jQuery('.commission-find-expert-form input[name="expertise_id"]').val();
        var parentId=jQuery('.commission-find-expert-form input[name="parent_id"]').val();
        var expertiseProgramId=jQuery('.commission-find-expert-form input[name="expertise_program_id"]').val();
        var branchId=jQuery('.commission-find-expert-form input[name="institution_id"]').val();
        var expertName =jQuery('.commission-find-expert-one-row input:checked').parents('.commission-find-expert-one-row')
                .find('.commission-find-expert-table-name').text();                
        var expertId =jQuery('.commission-find-expert-one-row input:checked').val();
        var isChairman = jQuery('.commission-find-expert-is-chairman input').is(':checked');        
        var expertOldId =jQuery('.commission-find-expert-form input[name="expert_old_id"]').val();

        console.log(data);
        //отслам на сервер
                    $.ajax({
                        type: 'POST',
                        //timeout: 5000,
                        //dataType: "html",
                        data: data,
                        url: "/ron/index/save-expertise-convert-org-expert",
                        success: function(answer) {
                            if(answer=='Ok'){
                                /*
                                //все путым, кромсаем табличку
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId +'"][expert_id="'+expertOldId+'"] .commission-table-expert-name .start-block').text(expertName);
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId +'"][expert_id="'+expertOldId+'"] .commission-button-find-expert').remove();
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId +'"][expert_id="'+expertOldId+'"] .commission-button-comment').removeClass('hide');
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId +'"][expert_id="'+expertOldId+'"] .commission-table-agreement-action ').removeClass('hide');                               
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId +'"][expert_id="'+expertOldId+'"]').attr('contacting-code','ExpertDefined');
                                if(isChairman){
                                    jQuery('div.head .headName.b_'+branchId+' .head-name').text(expertName);
                                    jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="0"][expert_id="'+expertOldId+'"]').remove();
                                }
                                jQuery('tbody.tab-tbody.tabcontent-'+branchId+' tr[pogram_id="'+expertiseProgramId+'"][expert_id="'+expertOldId+'"]').attr('expert_id',expertId);
                                */
                                useTopHoverTitle('Записано',2000);
                                jQuery('.commission-find-expert-cancel').click();
                                //перегрузим табку
                                jQuery('.show_tab.active[tab="26"]').click();
                            }else{
                                useTopHoverTitleError('Возникла ошибка при записи');
                            }
                        },
                        error:function(e){
                            console.log('ошибка при загрузке панели добавления  документа');
                            console.log(e);
                            useTopHoverTitleError('Ошибка связи');
                        }

                    });
    });
    

</script>