<?php //<link href="/css/documented-tab.css" rel="stylesheet"> ?>
<div id = 'tab-documented'>
    <div class="documented-viewzone">
        <div class="table-container">
                <table class="intable" width="100%">
                    <thead>
                        <tr>
                            <th>Эксперт</th>
                            <th>Организация</th>
                            <th>Номер договора</th>
                            <th>Куратор</th>
                            <?php // <th>Примечание</th> ?>
                            <th>Статус</th>
                        </tr>
                    </thead>

                    <tbody>
                        <?php $parentArray = array();
                            if (!empty($experts)):?>
                            <?php  
                            //отсортируем по имени
                            usort($experts, function($a_obj, $b_obj){
                                $a = $a_obj->getFio();
                                $b = $b_obj->getFio();
                                if ($a == $b) {
                                    return 0;
                                }
                                return ($a < $b) ? -1 : 1;
                            });
                            

                            ?>
                            <?php foreach ($experts as $expert): ?>
                                <?php
                                    $filial = null;
                                    $fio = '';
                                    $expertId = null;
                                    $commissionMember =null;
                                    $curatorName = '';
                                    $curatorId = null;
                                    $comment = '';
                                    $expertiseDocument = null;
                                    $statusName = '';
                                    $parentId = null;
                                    if(!empty($expert)){
                                        $expertId = $expert->getId();
                                        $fio = $expert->getFieldOrSpace('last_name')
                                                .' '.$expert->getFieldOrSpace('name')
                                                .' '.$expert->getFieldOrSpace('middle_name');
                                        $commissionMember = $commissions[$expertId];
                                        if(!empty($expertId)&&!empty($commissions[$expertId])){
                                            $institutionId = $commissionMember->getField('institution_id');
                                        }
                                        if(!empty($institutionId) && !empty($filials[$institutionId])){
                                            $filial = $filials[$institutionId];
                                        }
                                        $curatorId = $commissionMember->getField('user_id');
                                        $parentId = $expert->getField('parent_id');
                                        if(!empty($expertId)&& !empty($expertiseDocuments[$expertId])){                                            
                                                $expertiseDocument = $expertiseDocuments[$expertId];
                                        }
                                        if(!empty($parentId)&& !empty($expertiseDocuments[$parentId])){                                            
                                                $expertiseDocument = $expertiseDocuments[$parentId];
                                        }                                        
                                    }

                                    $filialName = '';
                                    if(!empty($filial)){
                                       $filialName  =  $filial->getFieldOrSpace('FullName');
                                    }

                                    $expertiseDocumentNumber = '';
                                    if(!empty($expertiseDocument)){
                                        $expertiseDocumentNumber = $expertiseDocument->getFieldOrSpace('document_number');
                                    }

                                    if(!empty($curatorId) && !empty($curratorById[$curatorId])){
                                        $curatorName = $curratorById[$curatorId]->getFieldOrSpace('Name');
                                    }

                                    if(!empty($expertiseDocument)){
                                        $comment = $expertiseDocument->getFieldOrSpace('comments');
                                    }
                                ?>

                                <tr class="documented-one-record" 
                                    expert_id="<?php echo $expert->getId();?>">
                                    <td class="documented-one-record-name">
                                        <?php echo $fio; ?>
                                    </td>
                                    <td>
                                        <?php echo $filialName; ?>
                                    </td>
                                    <td>
                                        <?php echo $expertiseDocumentNumber; ?>
                                    </td>
                                    <td>
                                        <?php echo $curatorName; ?>
                                    </td>
                                    <?php /*
                                    <td>
                                        echo $comment; 
                                    </td>
                                    */ ?>
                                    <td>
                                        <?php echo $statusName; ?>
                                    </td>
                                </tr>

                            <?php endforeach;?>
                        <?php else : ?>
                            <tr>
                                <td colspan="6">
                                    Нет данных
                                </td>
                            </tr>
                        <?php endif; ?>
                    </tbody>
                </table>
        </div>
    </div>

    <div class="documented-block-button">
        <div class="documented-button documented-select-open">
            Открыть
        </div>
    </div>
</div>

<style>
    #tab28{
        overflow: visible;
    }

    #tab-documented{
        height: 100%;
        position: relative;
        overflow: none;
    }

    #tab-documented .documented-viewzone{
        height: inherit;
        padding-bottom: 0px;
        overflow-y: auto;
    }
    .documented-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline;
        min-width: 100px;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 0px;
	font-size: 13px;
	ont-family: Tahoma;
    }

    .documented-block-button{
        position: absolute;
        bottom: -40px;
    }

    .documented-one-record.select td{
        background-color: #DBE1F0 !important;
    }
</style>

<script>

    /**
     * обработчик тык по табличке
     * @returns {undefined}
     */
    function documentedOneRecordAction(){
        jQuery('tr.documented-one-record td').click(function(){
            jQuery('tr.documented-one-record.select').removeClass('select');
            console.log(jQuery(this).parent());
            jQuery(this).parent().addClass('select');
        });
    }


    jQuery('.documented-select-open').click(function(){
        var isSelect = jQuery('tr.documented-one-record.select').length;
        console.log(isSelect);
        if(!isSelect ){
            useTopHoverTitleError("Выберите эксперта");
            return 0;
        }
        showExpertDocumentedDialog();
    });

    function showExpertDocumentedDialog(){

        var dContent = $(
                '<div class="documented-expert-contract-dialog">'
                + '</div>'
            );
        var title = jQuery('tr.documented-one-record.select .documented-one-record-name').text();

        $(dContent).dialog({
                title: title,
                width: 1000,
                height: 600,
                modal: true,
                close: function() {
                    $(".dialog, .documented-expert-contract-dialog").remove();
                },
                open: function() {
                    showExpertDocumentedDialogLoad(dContent);
                    /*
                    //Вешаем обработчики на календари
                    $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: "dd.mm.yy",
                    });
                    $(".date-icon", ".dialog-certificate-edit").click(function () {
                        $(this).parent().find("input").focus()
                    })
                    jQuery('.commission-comment-dialog .cancel').click(function(){
                        $(".dialog, .commission-comment-dialog").remove();
                    });
                    jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                        var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                        var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                        saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                    });
                    
                    */
                }
        });        
    }

    function showExpertDocumentedDialogLoad(dContent){
        var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
        var expertId = jQuery('tr.documented-one-record.select').attr('expert_id');

                    $.ajax({
                        type: 'POST',
                        //timeout: 5000,
                        //dataType: "html",
                        //data: data,
                        url: "/ron/index/get-expertise-expert-documented-dialog/"+expertiseId+'/'+expertId,
                        success: function(answer) {
                            jQuery(dContent).html('');
                            jQuery(dContent).append(answer);
                            //jQuery('',answer)
                        },
                        error:function(e){
                            console.log('ошибка при загрузке панели добавления  документа');
                            console.log(e);
                            useTopHoverTitleError('Ошибка связи');
                        }
                    });
    }


    function documentedInit(){
       documentedOneRecordAction();
    }

    documentedInit();


</script>


