<div>
    <div style="overflow-x: hidden">
        <table class="intable ron-certificates">
            <tr>
                <th>ФИО</th>
                <th>Ученая степень</th>
                <th>Ученое звание</th>
                <th>Должность</th>
                <th>Телефон</th>
            </tr>
            <tbody class="content">
                <?php if(empty($experts)){ ?>
                    <tr class="td_level">
                        <td colspan="7" style="text-align: center;">
                            Записи не найдены
                        </td>
                    </tr>
                <?php                 
                }else{                                
                    foreach($experts as $expert){
                        $contact = $expert->getContact();                        
                ?>
                        <tr id="cert_<?=$expert->getField("id")?>" class="row_expert">
                            <td><?= $expert->getField('last_name') ?> <?= $expert->getField('name') ?> <?= $expert->getField('middle_name') ?></td>
                            <td><?= $expert->get_academic_degree() ?></td>
                            <td><?= $expert->get_academic_rank() ?></td>
                            <td><?= $expert->getField("post") ?></td>
                            <td><?= empty($contact)?'':$contact->getField('phone')?></td>
                        </tr>
                    <?php } ?>
                <?php } ?>
            </tbody>
        </table>       
    </div>
    <div id="pagination_exp">
        <?= $this->pages($pages, $currentPage); ?>
    </div>    
</div>


