<div class="expert-contract-edit-parent">
    <div class="expert-contract-edit-content">
        <div class="expert-contract-edit-viewzone">
                <div class="container">
                    <div class="table-container">
                        <input type="hidden" name="expertise_id" value="<?= $expertise->getId() ?>">
                        <input type="hidden" name="expert_id" value="<?= $expert->getId() ?>">
                        <table   class="expert-contract-edit-table" width="100%">                            
                                <tr>
                                    <td colspan="2">
                                        Информация по договору
                                    </td>
                                </tr>
                                <tr class="expert-contract-edit-table1" >
                                    <td style="width:50%;padding-right: 10px;">
                                        <table width="100%"><tr><td class="expert-contract-edit-table1-label"><div>№ Договора</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $expertiseDocument->getFieldOrSpace('document_number');?>"  ></td></tr></table>
                                        <table width="100%"><tr><td class="expert-contract-edit-table1-label"><div>Регион, договор</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $eductionOrganization->getRegionName();?>" ></td></tr></table>
                                        <table width="100%"><tr><td class="expert-contract-edit-table1-label"><div>Наименование ОУ/филиала</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $eductionOrganization->getFieldOrSpace('FullName');?>" ></td></tr></table>
                                        <table width="100%"><tr><td class="expert-contract-edit-table1-label"><div>Дата начала экспертизы</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $expertise->getDate('create_timestamp');?>" ></td></tr></table>
                                        <table width="100%"><tr><td class="expert-contract-edit-table1-label"><div>Дата окончание экспертизы</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $expertise->getDate('end_timestamp');?>" ></td></tr></table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="expert-contract-edit-table1-label" style="line-height: 37px;">
                                                    <div>Уведомление №</div>
                                                </td>
                                                <td class="expert-contract-edit-table1-value">
                                                    <?php if(empty($notifyFile)){?>
                                                        <input disabled="disabled" value="<?php echo $notify->getField('Number') ?> от <?php echo $notify->getDate('DateCreation');?>">
                                                    <?php }else{ ?>
                                                        <a href="/uploads/<?php echo $notifyFile->getField('HashName');?>" download="<?php echo $notifyFile->getField('RealName');?>" target="_blank"><?php echo $notify->getField('Number') ?> от <?php echo $notify->getDate('DateCreation');?></a>
                                                    <?php } ?>
                                                </td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td class="expert-contract-edit-table1-label" style="line-height: 37px;">
                                                    <div>Распоряжение №</div>
                                                </td>
                                                <td class="expert-contract-edit-table1-value">
                                                    <?php if(!empty($expertiseDocumenOrderFile)){ ?>
                                                        <a href="/uploads/<?php
                                                                echo $expertiseDocumenOrderFile->getField('HashName');
                                                            ?>"
                                                            download="<?php
                                                                echo $expertiseDocumenOrderFile->getField('RealName');
                                                            ?>"
                                                            target="_blank"
                                                        ><?php }else{?>
                                                        <input disabled="disabled" value="<?php
                                                            }
                                                                echo $expertiseDocumenOrder->getFieldOrSpace('document_number');
                                                                echo ' от ';
                                                                echo $expertiseDocumenOrder->getDate('open_date');
                                                        if(!empty($expertiseDocumenOrderFile)){ ?>
                                                        </a>
                                                    <?php }else{?>
                                                        ">
                                                    <?php }?>
                                                </td>
                                            </tr>
                                        </table>
                                        <table><tr><td class="expert-contract-edit-table1-label"><div>Тип процедуры</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo $applicationType->getField('ShortName')?>"></td></tr></table>
                                        <table><tr><td class="expert-contract-edit-table1-label"><div>Куратор по подбору эксперта</div></td><td class="expert-contract-edit-table1-value"><input disabled="disabled" value="<?php echo empty($currator)?'': $currator->getFieldOrSpace('Name') ;?>"></td></tr></table>
                                    </td>
                                </tr>
                                <tr >
                                    <td colspan="2">
                                        Информация об опате
                                    </td>
                                </tr>
                                <tr class="expert-contract-edit-table2" >
                                    
                                        <td style="width:50%;padding-right: 10px;">
                                            <?php ?>                                           
                                            <input type="hidden" form="expert-contract-edit-payment-form"  name="expertise_document_id" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('expertise_document_id'); ?>">
                                            <div><div class="expert-contract-edit-table2-label">Сумма договора начальная</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^(0|[1-9][0-9]+)$" name="amount_begin" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_begin'); ?>"></div></div>
                                            <div><div class="expert-contract-edit-table2-label">Сумма вознаграждения</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_award" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_award'); ?>"></div></div>
                                            <div><div class="expert-contract-edit-table2-label">Сумма за оформление по договорам</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_registration_contract" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_registration_contract'); ?>"></div></div>
                                            <div><div class="expert-contract-edit-table2-label">Сумма за оформление к оплате</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_registration_payment" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_registration_payment'); ?>"></div></div>
                                        </td>
                                        <td>
                                            <div><div class="expert-contract-edit-table2-label">Итоговая сумма возмещения по договорам</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_compensation_contract" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_compensation_contract'); ?>"></div></div>
                                            <div><div class="expert-contract-edit-table2-label">Итоговая сумма возмещения к оплате</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_compensation_payment" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_compensation_payment'); ?>"></div></div>
                                            <div><div class="expert-contract-edit-table2-label">Итоговая сумма контракта</div><div class="expert-contract-edit-table2-value"><input type="number" form="expert-contract-edit-payment-form" pattern="^[0-9]+$" name="amount_contract_result" value="<?php echo $expertiseDocumentPayment->getFieldOrSpace('amount_contract_result'); ?>"></div></div>
                                </tr>                                
                        </table>
                        <form id="expert-contract-edit-payment-form">                            
                        </form>
                    </div>
                </div>
        </div>
    </div>



        <div class="docdialog-block-button-right">
            <input type="hidden" name="expertise_document_act_id" value="<?php echo $expertiseDocumentAct->getFieldOrSpace('id'); ?>">
            <div class="documented-button  expert-contract-edit-act-print">
                Печать акта
            </div>
            <input type="hidden" name="expertise_document_contract_id" value="<?php echo $expertiseDocument->getFieldOrSpace('id'); ?>">
            <div class="documented-button  expert-contract-edit-print">
                Печать договора
            </div>
            <div class="documented-button expert-contract-edit-save">
                Сохранить
            </div>
            <div class="documented-button expert-contract-edit-cancel">
                Закрыть
            </div>
        </div>


</div>

<script>

        jQuery('.expert-contract-edit-cancel').click(function(){
            jQuery('.expert-contract-edit-parent').parent().remove();
        });
        
        jQuery('.expert-contract-edit-save').click(function(){
            var data = jQuery('#expert-contract-edit-payment-form').serialize();
            console.log(jQuery('#expert-contract-edit-payment-form'));
            console.log(jQuery('#expert-contract-edit-payment-form input'));
            console.log(data);
            //сохранить стоимости
                        $.ajax({
                            type: 'POST',
                            //timeout: 5000,
                            //dataType: "html",
                            data: data,                            
                            url: "/ron/index/get-expert-contract-save-payment",
                            success: function(answer) {
                                if(answer==='Ok'){
                                    useTopHoverTitle('Cохраненено');
                                }else{
                                    useTopHoverTitleError('Ошибка при сохранении',2000);
                                }
                                //jQuery('',answer)
                            },
                            error:function(e){
                                console.log('ошибка при сщхранении договора с экспертом');
                                console.log(e);
                                useTopHoverTitleError('Ошибка связи');
                            }

                        });
            
        });            
        
        
        jQuery('.expert-contract-edit-act-print').click(function(){
            var expertiseDocumentId = jQuery('.expert-contract-edit-parent input[name="expertise_document_act_id"]').val();
            console.log(expertiseDocumentId);            
            window.open('/ron/index/expertise-document-contract/'+expertiseDocumentId, '_blank');
        });

        jQuery('.expert-contract-edit-print').click(function(){
            var expertiseDocumentId = jQuery('.expert-contract-edit-parent input[name="expertise_document_contract_id"]').val();
            console.log(expertiseDocumentId);            
            window.open('/ron/index/expertise-document-contract/'+expertiseDocumentId, '_blank');
        });        
        
        
</script>

<style>
    .expert-contract-edit-dialog{

    }

    .expert-contract-edit-viewzone{
        height: inherit;
        padding-bottom: 0px;
        overflow-y: auto;
    }

    .expert-contract-edit-parent{
        position: relative;
        height: 100%;
        overflow: visible;
    }

    .expert-contract-edit-content{
        position: relative;
        -margin-bottom: 100%;
        overflow: visible;
        padding-bottom: 50px;
        height: 100%;
    }

    .expert-contract-edit-table1-label{
        -float: left;
        -max-width: 30%;
        -display: table-cell;
	width: 44%;
	line-height: 15px;
	padding: 0;
	height: 20px!important;
        vertical-align: middle;

    }

    .expert-contract-edit-table1-label div{
        -float: left;
        max-width: 160px;
        -display: table-cell;
    }

    .expert-contract-edit-table1-value{
        -float: left;
        -max-width: 30%;
        -display: table-cell;
        vertical-align: middle;
	width: 60%;
    }

    .expert-contract-edit-table1 input{
        -float: right;
        width: 100%;
	margin: 5px 0;
    }

    .expert-contract-edit-table1 table{
        -float: inherit;
        width: 100%;
        -height: 30px;
        -display: table;
    }

    .expert-contract-edit-table2 td > div{
        display: table;
        vertical-align: middle;
        width: 100%;
    }

    .expert-contract-edit-table2-label{
        width: 44%;
        display: table-cell;
	padding: 0;
	vertical-align: middle;
	height: 20px;
	line-height: 15px;
    }
    .expert-contract-edit-table2-value{
        display: table-cell;
        vertical-align: middle;
	width: 60%;
    }
    .expert-contract-edit-table2 input{
        width: 100%;
	margin: 5px 0;
    }
    .expert-contract-edit-table1-value a {
      text-decoration: underline;
      color: #2A6496;
      }
    .expert-contract-edit-table1-value a:hover {
      text-decoration: none;
      }
</style>