<?php
    $dateSend = $contacting->getDate('date_send');
    $dateAnswer = $contacting->getDate('date_answer');
    $result = $contacting->getField('contacting_result');
?>

<form enctype="multipart/form-data" method="post">
    <table >
         <tr>
             <td width="380">
                Формуляр письменного согласия
             </td>
             <td>
                 <div class="commission-consent-dialog-form commission-link" >
                     Скачать
                 </div>
                 <input type="hidden" class="commission-consent-dialog-default" name="institution_id" value="<?php echo $contacting->getFieldOrSpace('institution_id');?>">
                 <input type="hidden" class="commission-consent-dialog-default" name="expertise_id" value="<?php echo $contacting->getFieldOrSpace('expertise_id');?>">
                 <input type="hidden" class="commission-consent-dialog-default" name="expert_id" value="<?php echo $contacting->getFieldOrSpace('expert_id');?>">
             </td>
         </tr>
         <tr>
             <td>

             </td>
         </tr>
         <tr>
             <td>
                <input
                    type="checkbox"
                    class="commission-consent-dialog-is-date-send"
                    <?php echo empty($dateSend)?'':'checked="checked"' ; ?>
                >
                 Отправлено письменное согласие
             </td>
             <td>
                <input
                    disabled="disabled"
                    class="commission-consent-dialog-date-send date-field"
                    <?php echo empty($dateSend)?'':'value="'.$dateSend.'"'  ?>
                >
                <span class="date-icon"></span>
             </td>
         </tr>
         <tr>
             <td>                 
                <input
                    class="commission-consent-dialog-is-date-answer"
                    disabled="disabled"
                    type="checkbox"
                    <?php echo empty($dateAnswer)?'':'checked="checked"' ; ?>
                >                
                Получено
                <input
                    class="commission-consent-dialog-result-is"
                    disabled="disabled"
                    checked="checked"
                    checked="checked"
                    name="result"
                    value="СonsentConfirm"
                    type="radio"
                >
                согласие
                <input
                    class="commission-consent-dialog-result-is"
                    disabled="disabled"
                    name="result"
                    value="СonsentRefused"
                    type="radio"
                    <?php if($result=='СonsentRefused'){ ?>
                        checked="checked"
                    <?php } ?>
                >
                отказ
             </td>
             <td>
                <input
                    disabled="disabled"
                    class="commission-consent-dialog-date-answer date-field"
                    <?php echo empty($dateAnswer)?'':'value="'.$dateAnswer.'"'  ?>
                >
                <span class="date-icon "></span>
             </td>
         </tr>
         <tr>
             <td>
                Скан согласия
             </td>
             <td>
                 <input disabled="disabled" type="file" class="commission-consent-dialog-scan" value="curScan">

                 <?php if(!$contacting->isEmptyField('RealName') && !$contacting->isEmptyField('RealName')){?>
                     <a
                         href="<?= '/public/uploads/' .$contacting->getField('HashName')?>"
                         target="_blank"
                         download="<?=  $contacting->getField('RealName') ?>"
                         >
                         <?= $contacting->getField('RealName') ?>
                     </a>

                 <?php } ?>
             </td>
         </tr>
     </table >
</form>
     <div class="commission-consent-dialog-button-block">
         <div class="commission-button commission-consent-ok-save">Ок</div>
         <div class="commission-button cancel commission-consent-dialog-cancel">Отмена</div>
     </div>


<script>
    //кнопка отмена
    $(".commission-consent-dialog-cancel").click(function(){
        $(".dialog, .commission-consent-dialog").remove();
    });

    //клик по Отправлено письменое согласие
    $(".commission-consent-dialog-is-date-send").click(function(){
        commissionConsentDialogIsDateSend();
    });

    //проверочка флажка  даты отправки
    function commissionConsentDialogIsDateSend(){
        console.log('тык');
        var isCheched = jQuery('.commission-consent-dialog-is-date-send').is(':checked');
        console.log(isCheched);
        var disabled = false;
        if (!isCheched){
            disabled = 'disabled'
        }
        jQuery('.commission-consent-dialog-date-send').prop('disabled',disabled);
        jQuery('.commission-consent-dialog-is-date-answer').prop('disabled',disabled);
        if (!isCheched){
            jQuery('.commission-consent-dialog-is-date-answer').prop('checked',false);
        }
        commissionConsentDialogDateAnswer()
        if (!isCheched){
            jQuery('.commission-consent-dialog-date-answer').prop('disabled',disabled);
            jQuery('.commission-consent-dialog-scan').prop('disabled',disabled);
        }
        //впихиваем дату
        if(isCheched){
            var curDatePrint = jQuery('.commission-consent-dialog-date-send').val();
            console.log("'"+curDatePrint+"'");
            if (curDatePrint==''){
                curDatePrint = currentDateString();
                console.log("'"+curDatePrint+"'");
                jQuery('.commission-consent-dialog-date-send').val(curDatePrint);
            }
        }
    }

    function currentDateString(){
        var date = new Date();
        var day = date.getDate();
        if (day<10){
            day = '0'+day;
        }
        var mount=(date.getMonth()+1);
        if (mount<10){
            mount = '0'+mount;
        }
        var curDatePrint = day +'.'+mount+'.'+date.getFullYear();
        return curDatePrint;

    }

    // тык по флажку ответ
    $(".commission-consent-dialog-is-date-answer").click(function(){
        commissionConsentDialogDateAnswer();
    });

    // проверям состояние флажка Получен ответ
    function commissionConsentDialogDateAnswer(){
        console.log('тык2');
        var isCheched = jQuery('.commission-consent-dialog-is-date-answer').is(':checked');
        console.log(isCheched);
        var disabled = false;
        if (!isCheched){
            disabled = 'disabled'
        }
        jQuery('.commission-consent-dialog-date-answer').prop('disabled',disabled);
        jQuery('.commission-consent-dialog-scan').prop('disabled',disabled);
        jQuery('.commission-consent-dialog-result-is').prop('disabled',disabled);
        //впихиваем дату
        if(isCheched){
            var curDatePrint = jQuery('.commission-consent-dialog-date-answer').val();
            console.log("'"+curDatePrint+"'");
            if (curDatePrint==''){
                curDatePrint = currentDateString();
                console.log("'"+curDatePrint+"'");
                jQuery('.commission-consent-dialog-date-answer').val(curDatePrint);
            }
            commissionConsentDialogresultIs();
        }

    }

    //тык по хочу получить форму согласия
    $(".commission-consent-dialog-form").click(function(){
        var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
        var expertId = jQuery('.commission-one-record.select').attr('expert_id');
        var orgId = jQuery('.leftSideBar .branch-tab.selected').attr('branch-id');
         console.log(expertiseId);
         console.log(expertId);
         console.log(orgId);
        window.open('/ron/index/expertise-expert-consent-document/'+expertiseId+'/'+expertId+'/'+orgId, '_blank');
    });

/**
 * тык по кнопке ага
 *
 * @returns {undefined}
 */
    jQuery('.commission-consent-ok-save').click(function(){
        var orgId = jQuery('.commission-consent-dialog-default[name="institution_id"]').val();
        var expertiseId = jQuery('.commission-consent-dialog-default[name="expertise_id"]').val();
        var expertId = jQuery('.commission-consent-dialog-default[name="expert_id"]').val();

         console.log('Сохраняем комментарии об результаты эксперта');
         console.log(expertiseId);
         console.log(expertId);
         //console.log(comment);
         //console.log(afterFunction);
         //console.log();
         //return 0;
        var data = new FormData();

        data.append('expertise_id',  expertiseId);
        data.append('expert_id', expertId);

        var hasDateSendCheck = jQuery('.commission-consent-dialog-is-date-send').is(':checked');
        var hasDateSend = hasDateSendCheck && (jQuery('.commission-consent-dialog-date-send').val()!=='');
        if ( hasDateSend ){
            var dateSend = jQuery('.commission-consent-dialog-date-send').val();
            data.append('date_send', dateSend);
        } else {
            data.append('date_send', '');
        }
        console.log(hasDateSendCheck);
        console.log(hasDateSend);
        console.log(data);

        var hasDateAnswerCheck = jQuery('.commission-consent-dialog-is-date-answer').is(':checked');
        var hasDateAnswer = hasDateAnswerCheck && (jQuery('.commission-consent-dialog-date-answer').val()!=='');
        if ( hasDateAnswer ){
            var dateAnswer = jQuery('.commission-consent-dialog-date-answer').val();
            data.append('date_answer', dateAnswer);
            var result = jQuery('.commission-consent-dialog-result-is:checked').val();
            data.append('contacting_result', result);
        } else {
            data.append('date_answer', '');            
        }                
        
        console.log(hasDateAnswerCheck);
        console.log(hasDateAnswer);
        console.log(data);

        var hasFile = hasDateSendCheck && jQuery('.commission-consent-dialog-scan').val()!=='';
        if ( hasFile ){
            var file = jQuery('.commission-consent-dialog-scan').val();
            var fileData = jQuery(".commission-consent-dialog-scan")[0].files[0];
            data.append(file, fileData);
        }
        //if(comment !== undefined){
        //    data['description'] = comment;
        //}
        //if(contactDate !== undefined){
        //    data['contact_timestamp'] = contactDate;
        //}
        //return 0;
                $.ajax({
                    type: 'POST',
                    //timeout: 5000,
                    //dataType: "html",
                    data: data,
                    url: "/ron/index/save-contacting",
                    processData: false,
                    contentType: false,
                    success: function(answer) {
                        if(answer == 'Ok'){
                            useTopHoverTitle('Данные записаны',2000);
                            /*
                            //if(typeof(afterFunction) == 'string'){
                            //    eval(afterFunction);
                            //}
                            //if(typeof(afterFunction) == 'function'){
                            //    afterFunction();
                            //}
                            if ( hasDateSend ){
                                jQuery('.tab-tbody.tabcontent-'+orgId+' tr[expert_id="'+expertId+'"] ').attr('contacting-code','AgreementSend');
                                jQuery('.tab-tbody.tabcontent-'+orgId+' tr[expert_id="'+expertId+'"] .commission-table-agreement-action').text('Оправлено');
                            }
                            if ( hasDateAnswer ){
                                jQuery('.tab-tbody.tabcontent-'+orgId+' tr[expert_id="'+expertId+'"] ').attr('contacting-code','СonsentConfirm');
                                jQuery('.tab-tbody.tabcontent-'+orgId+' tr[expert_id="'+expertId+'"] .commission-table-agreement-action').text('Получено');
                            }
                            */
                           //перегружаем табку
                            jQuery('#list_tabs .show_tab.active[tab="26"]').click();
                            //красим кнопки во все согласны
                            checkAllConfirm();
                            //закрываем окошко
                            $(".commission-consent-dialog-cancel").click();
                        }else{
                            console.log('Ошибка при записи добавлении коментария');
                            console.log(answer);
                            useTopHoverTitleError('Ошибка при записи');
                        }
                       // console.log(answer);
                       //  $(".loading-img", dContent).fadeOut(500, function() {
                       //      dContent.html("").append($(answer));
                       //      $(".date-calendar").html('Дата документа');
                       //      //$("#noticie_button-add a").attr('onclick','addNewOrderDocumentFromDeclaration()');
                       //  });

                    },
                    error:function(e){
                        console.log('ошибка при загрузке панели добавления распорядительного документа');
                        console.log(e);
                        useTopHoverTitleError('Ошибка связи');
                    }
                });

    });

    //инициируем
    commissionConsentDialogIsDateSend();

    $(document).ready(function () {
        $(".date-field").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy"
        });
        $(".date-icon").click(function(){
            $(this).parent().find("input").focus();
        })
    });
    
    jQuery('.commission-consent-dialog-result-is').click(function(){
        commissionConsentDialogresultIs()
    });
    
    function commissionConsentDialogresultIs(){
        if(jQuery('.commission-consent-dialog-result-is:checked').val()=='СonsentRefused'){
            jQuery('.commission-consent-dialog-scan').prop('disabled','disabled');
            jQuery('.commission-consent-dialog-scan').parent().find('a').hide();
        }
        if(jQuery('.commission-consent-dialog-result-is:checked').val()=='СonsentConfirm'){
            jQuery('.commission-consent-dialog-scan').prop('disabled',false);
            jQuery('.commission-consent-dialog-scan').parent().find('a').show();
        }        
    }

</script>

<style>

    .commission-consent-dialog-button-block{
        float: right;
    }

    .commission-consent-dialog table tr td{
        padding-top: 10px;
    }

    .commission-consent-dialog table{
        margin-bottom: 15px;
    }

    span.date-icon    {
    background-image: url('/js/jquery.ui/images/ui-icons_ef5f48_256x240.png');
    background-position: -112px -112px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    right: 10px;
    top: 3px;
    cursor: pointer;
    left: -23px;
    }
    .commission-consent-dialog-scan {
      width: 215px;
      }
    .commission-consent-ok-save {
      padding: 5px 25px;
      }
    .commission-consent-dialog-is-date-send,
    .commission-consent-dialog-is-date-answer {
	vertical-align: top;
	}
</style>

