<div class="route">
    <table class="route-table">
        <tr class="content_tr">
            <td class="steps_td">
	        <div class="toggleButton "></div>
                <ul class="steps_div nav">
                    <li class="btn btn-warning btn-lg" controller="index" event="experts">
                        <a href="#experts" class="overview">
                            <span>Общие сведения</span>
                            <div></div>
                           
                        </a>
                    </li>
                    <?if(!$org){?>
                        <li class="btn btn-warning" controller="index" event="agreements">
                            <a href="#agreements" class="accreditation">
                                <span>Аккредитации</span>
                                <div></div>

                            </a>
                        </li>
                    <?}?>

                    <li class="btn btn-warning" controller="index" event="expertise">
                        <a href="#expertise" class="tasks">
                            <span>Задания</span>
                            <div></div>

                        </a>
                    </li>
                </ul>
            </td>
            <td class="content_td">
                <div class="content viewzone" data-heightdelta="50">

                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    //bindIndexEvents();
    /*засуну еще сюда, на всякий случай
    * */
    $(document).ready(function(){
        $(".steps_td").on('click','.toggleButton',function(){
            $('body').toggleClass('icons');
            $('#head').toggleClass('icons');
            $('.route .steps_td').toggleClass('icons');
            $('.steps_td .nav li').toggleClass('icons');
            $('.steps_td .nav li a').toggleClass('icons');
            $('.steps_td .nav li a span.num').toggleClass('icons');
            $(this).toggleClass('icons');
            if($(this).hasClass('icons')){
                setCookie('menu','icons');
            }else{
                setCookie('menu','');
            }
        });
    })
</script>
<style>
    .route .steps_td .steps_div {
        margin-top: 76px; 
    }
    .route .steps_td.icons{
        width: 76px;
    }
    

</style>