<div class="container" style="height: 99%;">
    <?php  $orgShortName = $org->getField("ShortName");    ?>
    <?php  $orgShortName = empty($orgShortName)?$org->getField("RegularName"):$orgShortName;?>
    <?php  $orgShortName = explode(',',$orgShortName);?>
    <?php  $orgShortName = current($orgShortName);?>
    <div id="head_pop">
        <h2 id="title_pop">Аккредитация №<?=$expertise->getField('accreditation_number')?> <?=$orgShortName?>.</h2>
        <div id="cboxClose"></div>
    </div>
    <div style="/*height:470px;padding:10px;*/
            height: 100%;
            padding: 20px;
            position: relative;
         ">
        <ul id="list_tabs">
            <li><a class="active show_tab" tab="1" href="javascript:;" >Свойства заявления</a></li>
            <li><a class="show_tab" tab="26" href="javascript:;">Состав группы</a></li>
            <li><a <?php if(empty($expertiseDocumentOrder)){echo 'style="display:none;"';} ?>class="show_tab tab-expertise-for-document" tab="28" href="javascript:;">Документы для экспертов</a></li>
            <li><a class="show_tab" tab="4" href="javascript:;">Документы заявления</a></li>
        </ul>
        <div class="idApplicationWrap"></div>
        <!--<div class="tabs-panel-view">-->
            <div id="tab1" class="tabs-panel show-panel tab-no-overflow">
                <form id="edit_declaration1" method="POST" target="hiddenframe" action="/ron/index/save-expertise-declaration" class="tab-content-overflow">
                    <input type="hidden" value='<?=$expertise->getField('id')?>' name='id'>
                    <table id="fields_form">
                        <tr>
                            <td class="title_form">Экспертиза №</td>
                            <td><input type="text" name="accreditation_number" value="<?=$expertise->getField('accreditation_number')?>"></td>
                        </tr>
                        <tr>
                            <td>Организация</td>
                            <td>
                                <?php
                                if(isset($org)){ ?>
                                    <textarea class="disabled" id="nameOrganization" disabled="disabled"><?php echo $org->getField('FullName');?></textarea>
                                <?php
                                }else{?>
                                    <textarea class="disabled" id="nameOrganization" disabled="disabled">Старый тип заявки, организация не указана!</textarea>
                                <?php
                                }?>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form">Экспертиза без выезда</td>
                            <td style="text-align: left;"><input style="width: auto" type="checkbox" name="no_leav" value="1" <?=$expertise->getField('no_leav')=='1'?'checked':''?> /></td>
                        </tr>
                        <tr>
                            <td class="title_form">Дата начала экспертизы</td>
                            <td><div style="position: relative;"><input required="required" name="create_timestamp" class="input-date" type="text" value="<?=date('d.m.Y',strtotime($expertise->getField('create_timestamp')))?>"><span class="date-icon"></span></div></td>
                        </tr>
                        <tr>
                            <td class="title_form">Дата окончания экспертизы</td>
                            <td><div style="position: relative;"><input required="required" name="end_timestamp" class="input-date" type="text" value="<?=date('d.m.Y',strtotime($expertise->getField('end_timestamp')))?>"><span class="date-icon"></span></div></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div class="section-title">Содержание заявления</div></td>
                        </tr>
                        <tr>
                            <td class="title_form">Номер заявления</td>
                            <td>
                                <?php if (!Empty($application)){ ?>
                                  <input class="disabled" type="text" value="<?=$application->getField("RegNumber")?> от <?=$application->getDate("DateReg")?>" disabled="disabled">
                                <?php }?>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form"> Копия заявления</td>
                            <td>
                                <?php if (isset($copyApplicationDoc)&&!empty($copyApplicationDoc))
                                { ?>
                                    <a href="<?=$copyApplicationDoc['FtpDirectoryUrl']?>"   target="_blank" download="<?=$copyApplicationDoc['RealFileName']?>"><?=$copyApplicationDoc['RealFileName']?></a>
                                <?php }?>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form"> Копия уведомления</td>
                            <td>
                                <?php
                                $appFile=$application->getFileByApplicationAndOrderType('4DC63BC53-52DC-A436-7ACD-5435ACDE3452CC864');
                                if(!empty($appFile)){ ?>
                                    <a
                                        href="/uploads/<?=$appFile->getField('HashName')?>"
                                        target="_blank"
                                        download="<?=$appFile->getField('RealName')?>"
                                    >
                                        <?=$appFile->getField('RealName')?>
                                    </a>
                                <?php } ?>
                            </td>
                        </tr>

                        <tr>
                            <td class="title_form">Тип заявления</td>
                            <td>
                                <?php if( isset($application) && !empty($currentType) ) { ?>
                                    <input type="hidden" id="type_declaration" value="<?=$currentType->getField("Id")?>">
                                    <input class="disabled" type="text" value="<?=$currentType->getField("Name")?>" disabled="disabled">
                                    <input type="hidden" id="id_application_val" value="<?= $application->getId() ?>">
                                <?php } ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form">Основание заявления</td>
                            <?php if( isset($application) && isset($currentReason) ) { ?>
                                <td>
                                    <?php if(is_array($currentReason)){ ?>
                                        <?php foreach($currentReason as $oneReason){?>
                                            <input class="disabled" type="text" value="<?=$oneReason?>" disabled="disabled">
                                        <?php } ?>
                                    <?php }else{ ?>
                                        <input class="disabled" type="text" value="<?=$currentReason?>" disabled="disabled">
                                    <?php }?>
                                </td>
                            <?php } ?>
                        </tr>
                        <tr>
                            <td class="title_form">Предыдущее свидетельство</td>
                            <td id="cetificateWrap">
                                <?php if(!isset($application) && !isset($currentCert) ) { } else {
                                    if ($currentCert) {?>
                                        <span style="display:none;" idcert="<?=$currentCert->getField('Id')?>" id="CertificateValue"></span>
                                        <?php if ($currentCert->getField('fk_isgaCertificateStatus') == 'cba8e890-429a-4d6a-b81c-0f530a7970cc' || $currentCert->getField('fk_isgaCertificateStatus') == 'CBA8E890-429A-4D6A-B81C-0F530A7970CC') { ?>
                                            <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Действующее) ">
                                        <?php } else { ?>
                                            <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Недействующее) ">
                                        <?php }
                                    }else{?>
                                        <input class="disabled" type="text" disabled="disabled" value=" ">
                                    <?php }
                                } ?>
                            </td>
                        </tr>
                        <tr>
                            <td class="title_form">Действующая лицензия</td>
                            <td id="licensedWrap">
                                <?php if( !isset($application) && !isset($currentLicense) ) {} else {
                                    $licensedStatus = $currentLicense->getLinkedItem('eiis_LicenseStates', array("Id" => $currentLicense->getField('fk_eiisLicenseState')));
                                    if ($licensedStatus->getField('IsValid') == 1) { ?>
                                        <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateReg'))) ?> (Действующая) ">
                                    <?php } else { ?>
                                        <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateReg'))) ?> (Не действующая) ">
                                    <?php }
                                } ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><div class="section-title">Контактные данные</div></td>
                        </tr>
                        <tr>
                            <td class="title_form">Место нахождения</td>
                            <td><input class="disabled" disabled="disabled" value="<?php
                                if ( isset($org) && $org != NULL ) {
                                    echo $org->getLAddress();
                                }
                                ?>" type="text"></td>
                        </tr>
                        <tr>
                            <td class="title_form">Телефон</td>
                            <td><input class="disabled" disabled="disabled" value="<?php
                                if ( isset($org) && $org != NULL ) {
                                    echo $org->getField('Phones');
                                }
                                ?>" type="text"></td>
                        </tr>
                        <tr>
                            <td class="title_form">Факс(ы)</td>
                            <td><input class="disabled" disabled="disabled" value="<?php
                                if ( isset($org) && $org != NULL ) {
                                    echo $org->getField('Faxes');
                                }
                                ?>" type="text"></td>
                        </tr>
                        <tr>
                            <td class="title_form">E-mail</td>
                            <td><input class="disabled" disabled="disabled" value="<?php
                                if ( isset($org) && $org != NULL ) {
                                    echo $org->getField('Mails');
                                }
                                ?>" type="text"></td>
                        </tr>
                        <tr>
                            <td class="title_form">Сайт</td>
                            <td><input class="disabled" disabled="disabled" value="<?php
                                if ( isset($org) && $org != NULL ) {
                                    echo $org->getField('Www');
                                }
                                ?>" type="text"></td>
                        </tr>

                        <?php /*
                        <tr>
                            <td class="title_form">Руководитель</td>
                            <td><input disabled="disabled" value="<?=
                                empty($org)  ?'':
                                    $org->getField('ChargePosition').' '.$org->getField('ChargeFio');
                                ?>" type="text"></td>
                        </tr>
                        */ ?>

                    <tr>
                        <td colspan="2">
                            <div class="section-title" >
                                Руководитель организации
                            </div>
                        </td>
                    </tr>

                    <?php $orgData=$org->getEducationalOrganizationData();
                        if(empty($orgData)){
                            $orgData=new \Model\Entities\isgaEducationalOrganizationData();
                        }
                        $orgData=$orgData->getFields();

                        if(!empty($org)){
                            $foi      = explode(' ', $org->getField('ChargeFio'));
                            $famaly   = empty($foi[0])?'':$foi[0];
                            $name     = empty($foi[1])?'':$foi[1];
                            $father   = empty($foi[2])?'':$foi[2];
                            $position = $org->getField('ChargePosition');
                        }
                        $famaly   = empty($orgData['ChiefSurname'])   ?$famaly  :$orgData['ChiefSurname'];
                        $name     = empty($orgData['ChiefName'])      ?$name    :$orgData['ChiefName'];
                        $father   = empty($orgData['ChiefPatronymic'])?$father  :$orgData['ChiefPatronymic'];
                        $position = empty($orgData['ChiefPosition'])  ?$position:$orgData['ChiefPosition'];
                    ?>
                    <tr>
                        <td class="left"><div class="left-title">Фамилия</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefSurname" value="<?=$famaly?>">
                                </div>
                            </td>

                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Имя</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefName" value="<?=$name?>">
                                </div>
                            </td>
                    </tr>

                    <tr>
                        <td class="left"><div class="left-title">Отчество</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPatronymic" value="<?=$father?>">
                                </div>
                            </td>
                    </tr>

                    <tr>
                        <td class="left"><div class="left-title">Должность</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPosition" value="<?=$orgData['ChiefPosition']?>">
                                </div>
                            </td>
                    </tr>

                    <tr>
                        <td class="left"><div class="left-title">Тел. руководителя</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPhones" value="<?=$orgData['ChiefPhones']?>">
                                </div>
                            </td>
                    </tr>

                    <tr>
                        <td class="left"><div class="left-title">Факс руководителя</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefFax" value="<?=$orgData['ChiefFax']?>">
                                </div>
                            </td>
                    </tr>

                    <tr>
                        <td class="left"><div class="left-title">E-mail руководителя</div></td>
                            <td class="right-nopadding">
                                <div class="right-value">
                                    <input class="disabled" disabled="disabled" class="orgInfo" name="orgData.ChiefEmail" value="<?=$orgData['ChiefEmail']?>">
                                </div>
                            </td>
                    </tr>

                    </table>
                    <input style="display:none;" id="submitFirstForm" type="submit">
                </form>
            </div>
            <div id="tab4" class="tabs-panel show-panel tab-no-overflow">

            </div>
            <div id="tab26" class="tabs-panel show-panel tab-no-overflow">

            </div>
            <div id="tab28" class="tabs-panel show-panel tab-no-overflow">

            </div>
        </div>
    <!--</div>-->
</div>
<iframe id="hiddenframe" style="width:0px; height:0px; border:0px" name="hiddenframe"></iframe>

<div id="but_wrap_child_right">
    <ul class="nav_footer" id="footer_button">
        <div id="btActions-block">
            <!--li class="filelink" numb="1" id="sendform2">
                <a href="javascript:;">
                    <div></div>
                    <span class="text">Сохранить</span>
                </a>
            </li-->
            <li class="filelink ic_sent"  id="filelink">

                <a id="save_button" href="javascript:;" onclick="$('#edit_declaration1').submit()">
                    <div></div>
                    <span class="text">Сохранить</span>
                </a>

                <?php if (!Empty($application)){ ?>
                    <a id="bt_add_expert" app_id="<?=$application->getId()?>" style="display:none" href="javascript:;" >
                        <div></div>
                        <span class="text">Подбор экспертов</span>
                    </a>
                <?php }?>

                <a id="help_button" href="javascript:;" onclick="$('#popup_win #cboxClose').click();">
                    <div></div>
                    <span class="text">Отмена</span>
                </a>
            </li>
        </div>
    </ul>
</div>

<script>
function handleResponse(status,id){
    if(status == 'ok'){
        /*_serverQuery(1,id);*/
        useTopHoverTitle('Данные успешно сохранены!',2000);
    }
}

    function showHideTabs(show) {
        console.log('перекрасим вклаадки');
        //var hide=$('#list_tabs li a.active').attr('tab');
        console.log(show);
        //console.log(hide);
        //$(".show_tab[tab='" + hide + "']").removeClass('active');
        $(".show_tab.active").removeClass('active');
        $(".show_tab[tab='" + show + "']").addClass("active");
        $(".tabs-panel").removeClass("show-panel");
        $("#tab" + show + "").addClass('show-panel');
        $("#sendform1").attr('numb', show);
        if(show == 1){$('#save_button').show();}
        else{$('#save_button').hide();}
        if(show != 4){$("#button_load_dop_docs").remove(); }
        if(show == 26) $("#bt_add_expert").show()
        else $("#bt_add_expert").hide()

    }

    /**
     * Метод отображает диалог подбора
     */
    function showExpertDialog(){
        var idAppl = $("#bt_add_expert").attr("app_id");
        var dContent = $(
            '<div class="dialog-selectexperts-info">' +
            "<div style='text-align: center;margin-top:100px'><div class='loading-img'><img src='/img/loading.gif' /></div></div>"+
            '</div>');
        $(dContent).dialog({
            title: "Подбор эксперта",
            width: $(window).width()-200,
            height: $(window).height()-50,
            modal: true,
            close: function() {
                $(".dialog, .dialog-selectexperts-info").remove();
            },
            open: function() {
                //Отсылаем запрос на получение инфо по заявлению
                $.ajax({
                    type: 'POST',
                    dataType: "html",
                    url: "/ron/declaration/expert-select-dialog/"+idAppl,
                    success: function(answer) {
                        $(".loading-img", dContent).fadeOut(500, function() {
                            dContent.html("").append($(answer));
                            //Устанавливаем высоту
                            $(".dialog-content",dContent).height($(dContent).height()-20);
                            //============== Вешаем обработчики на оверлей выбора программ
                            $(".btSelectPrograms",dContent).click(function(e){
                                $(".programsBlock", dContent).show();
                                if(e.stopPropagation) e.stopPropagation();
                                if(e.preventDefault) e.preventDefault();
                            });
                            $(".programsBlock", dContent).click(function(e){
                                if(e.stopPropagation) e.stopPropagation();
                            });
                            $("body").click(function(){
                                $(".programsBlock", dContent).hide();
                            });
                            //Выделить все
                            $(".programsBlock .selectAll", dContent).click(function(){
                                $(".programsBlock input", dContent).prop("checked",true);
                                var count = $(".programsBlock input", dContent).length;
                                $(".selNum, .totalNum", dContent).text(count);
                            });

                            //Снять выделение со всех
                            $(".programsBlock .unselectAll", dContent).click(function(){
                                $(".programsBlock input", dContent).prop("checked",false);
                                $(".selNum", dContent).text("0");
                            });

                            //При выборе/не выборе оп
                            $(".programsBlock", dContent).delegate("input","change", function(){
                                var count = $(".programsBlock input:checked", dContent).length;
                                $(".selNum", dContent).text(count);
                            });

                            //============== Вешаем обработчики на смену селектов
                            //Ссылки на поля
                            var sOrg = $(".sOrg",dContent);
                            var sLevel = $(".sEduLevel",dContent);
                            var sUGS = $(".sEGS",dContent);
                            var progBlock = $(".programsBlock .programsContainer",dContent);
                            var sFedRegion = $(".sFedRegion",dContent);
                            var sRegion = $(".sRegion",dContent);

                            //Обработчик на переключение филиала
                            sOrg.change(function(){
                                sLevel.html("");
                                sUGS.html("");
                                progBlock.html("");

                                var branchId = $(this).val();
                                var branch = appExpertData[branchId];

                                if(!branch)
                                    return;
                                var levels = branch["levels"];

                                for(var id in levels){
                                    var level = levels[id];
                                    sLevel.append($("<option>",{value:id, eduLevelId: level.fields.EduLevelId}).text(level.fields.Name));
                                }
                                //меняем выбранные элементы в регионах

                                var regionId = branch.fields.fk_eiisLawRegion;
                                var fedOkrId = sRegion.find("option[value="+regionId+"]").attr("parent_id")

                                //sRegion.val(regionId);

                                sFedRegion.val(fedOkrId);
                                sFedRegion.change();

                                //Обработчик смены уровня
                                sLevel.change();

                            });

                            //Обработчик переключения уровней
                            sLevel.change(function(){
                                sUGS.html("");
                                progBlock.html("");

                                var branchId = sOrg.val();
                                var levelId = $(this).val();

                                var branch = appExpertData[branchId];
                                if(!branch) return;

                                var level = branch.levels[levelId];
                                if(!level) return;

                                for(var id in level.ugs){
                                    var ugs = level.ugs[id];
                                    sUGS.append($("<option>",{value:id}).text(ugs.fields.Code + " - " + ugs.fields.Name));
                                }

                                //Обработчик смены УГС
                                sUGS.change();
                            });

                            sUGS.change(function(){
                                progBlock.html("");

                                var branchId = sOrg.val();
                                var levelId = sLevel.val();
                                var ugsId = $(this).val();

                                var branch = appExpertData[branchId];
                                if(!branch) return;

                                var level = branch.levels[levelId];
                                if(!level) return;

                                var ugs = level.ugs[ugsId];
                                if(!ugs) return;

                                var prCount = 0;
                                for(var id in ugs.programs){
                                    var program = ugs.programs[id];
                                    prCount++;

                                    progBlock.append($(
                                        '<div class="programRow">'+
                                        '<input type="checkbox" eduProgramId="'+program["EduProgramId"]+'" id="p_'+program["Id"]+'" >'+
                                        '<label for="p_'+program["Id"]+'">'+program["Code"]+' - '+program["Name"]+'</label>'+
                                        '</div>'));
                                }
                                $(".totalNum", dContent).text(prCount);
                                $(".programsBlock .unselectAll", dContent).click()
                            });

                            //Обработка смены субъекта
                            sFedRegion.change(function(){
                                var frId = sFedRegion.val();
                                $("option", sRegion).hide();
                                $(".always-visible", sRegion).show();
                                sRegion.find("option[parent_id="+frId+"]").show();
                                sRegion.val(0);
                            });

                            //Обработка выбоа в результатах поиска
                            $(".results-content", dContent).delegate("tr", "click", function(){
                                $(".results-content tr", dContent).removeClass("selected");
                                $(this).addClass("selected");
                            });

                            //Обработка диалога контактинга
                            $(".results-content", dContent).delegate(".addContacting", "click", function(){
                                var expId = $(this).attr("id").split("_")[1];

                                var conDialog = '<div class="dialog-contacting">'+
                                    '<table class="fields-table">'+
                                    '<tr>'+
                                    '<td class="left"><div class="left-title" >Результат контакта</div></td>'+
                                    '<td class="right-nopadding">'+
                                    '<div>'+
                                    '<select style="width:100%" class="contacting_result">'+
                                    '<option value="Отказ">Отказ</option>'+
                                    '<option value="Согласие">Согласие</option>'+
                                    '</select>'+
                                    '</div>'+
                                    '</td>'+
                                    '</tr>'+
                                    '<tr>'+
                                    '<td class="left"><div class="left-title" >Комментарий</div></td>'+
                                    '<td class="right-nopadding">'+
                                    '<div>'+
                                    '<textarea style="width:100%; height:125px" class="description" rows="8"></textarea>'+
                                    '</div>'+
                                    '</td>'+
                                    '</tr>'+
                                    '<tr>'+
                                    '<td class="left" style="text-align:right" colspan="2">' +
                                    '<div class="bt btSave" >Сохранить</div>' +
                                    '<div class="bt btCancel" >Отмена</div>' +
                                    '</td>'+
                                    '</tr>'+
                                    '</table>'+
                                    '</div>';
                                conDialog = $(conDialog);

                                conDialog.dialog({
                                    title: "Результат контакта",
                                    modal: true,
                                    width: 500,
                                    close: function() {
                                        $(".dialog-contacting").remove();
                                    },
                                    open: function() {
                                        //Кнопка сохранить
                                        $(".btSave",conDialog).click(function(){
                                            $.ajax({
                                                type: 'POST',
                                                dataType: "json",
                                                data: {
                                                    description: $(".description", conDialog).val(),
                                                    contacting_result: $(".contacting_result", conDialog).val(),
                                                    appId: idAppl,
                                                    expId: $('.results-content tr.selected', ".dialog-selectexperts-info").attr("id").split("_")[1]
                                                },
                                                url: "/ron/declaration/expert-add-contacting",
                                                success: function (answer) {
                                                    if(answer.result == "error"){
                                                        useTopHoverTitleError(answer.msg,2000);
                                                        return;
                                                    }
                                                    if(answer.result == "success"){
                                                        useTopHoverTitle(answer.msg,2000);
                                                        $(".dialog-contacting").remove();
                                                    }
                                                }
                                            });
                                        });
                                        //Кнопка отмена
                                        $(".btCancel",conDialog).click(function(){
                                            console.log('закрыть тык 5');
                                            $(".dialog-contacting").remove();
                                        });
                                    }
                                });
                            });


                            //Обработка кнопки отмена
                            $(".btCancel", dContent).click(function(){
                                console.log('закрыть тык 6');
                                $(".dialog, .dialog-selectexperts-info").remove();
                            });
                            //============= обработка поиска
                            $(".btFind", dContent).click(function(){
                                //проверяем если не слишком много программ
                                if($(".selNum", dContent).text() == "0" && $(".totalNum", dContent).text()>7){
                                    useTopHoverTitleError("Выберите ОП. Эксперт не может проверять больше 7 программ.",2000);
                                    return;
                                }

                                //Объект с параметрами поиска
                                var searchData = {
                                    eduLevel: null,
                                    EGS: null,
                                    //programs: [],
                                    experience: 0,
                                    fedOkr: null,
                                    region: null,
                                    //city: "",
                                    position: "",
                                    acDegree: 0,
                                    acStatus: 0,
                                    fio: "",
                                    stateSecretAccess: 0,
                                    fromReligiousOrg: 0,
                                    fromStateOrg: 0
                                };

                                //Заполняем данными
                                searchData.eduLevel = $(".sEduLevel",dContent).find("option[value="+$(".sEduLevel",dContent).val()+"]").attr("eduLevelId");
                                searchData.EGS = $(".sEGS",dContent).val();
                                /*
                                 $(".programsContainer input:checked", dContent).each(function(i, item){
                                 var idOP = $(item).attr("eduProgramId");
                                 searchData.programs.push(idOP);
                                 });
                                 */
                                searchData.experience = $(".sExperience", dContent).val();
                                searchData.fedOkr = $(".sFedRegion", dContent).val();
                                searchData.region = $(".sRegion", dContent).val();
                                //searchData.city = $(".tCity", dContent).val();
                                searchData.position = $(".tPosition", dContent).val();
                                searchData.acDegree = $(".sAcademicDegree", dContent).val();
                                searchData.acStatus = $(".sAcademicStatus", dContent).val();
                                searchData.fio = $(".tFIO", dContent).val();
                                searchData.stateSecretAccess = $(".cbHasStateSecretAccess", dContent).is(":checked")?1:0;
                                searchData.fromReligiousOrg = $(".cbFromReligiousOrg", dContent).is(":checked")?1:0;
                                searchData.fromStateOrg = $(".cbFromStateOrg", dContent).is(":checked")?1:0;

                                //отправка запроса на сервер
                                $(".results-content", dContent).html("<tr><td colspan='7'><div class='loading-img' style='padding-top:10px'><img src='/img/loading.gif' /></div></td></tr>");
                                $.ajax({
                                    type: 'POST',
                                    dataType: "html",
                                    data: searchData,
                                    url: "/ron/declaration/experts-search",
                                    success: function (answer) {
                                        //Проверяем если ошибка
                                        if (answer == "error") {
                                            useTopHoverTitleError("Произошла ошибка");
                                            return;
                                        }
                                        $(".results-content .loading-img", dContent).fadeOut(500, function() {
                                            $(".results-content", dContent).html($(answer).find("tbody").html());
                                        });
                                    }
                                });
                            });


                            //Открытие карточки эксперта
                            $(".btExpert", dContent).click(function(){
                                if ($('.results-content tr.selected', dContent).length == 0) {
                                    useTopHoverTitleError("Не выбрано эксперта в результатах поиска");
                                    return;
                                }
                                var exContent = $(
                                    '<div class="dialog-view-card">' +
                                    "<div style='text-align: center;'><div class='loading-img'><img src='/img/loading.gif' /></div><div class='leftSideBar'></div><div class='rightSideBar'></div></div>"+
                                    '</div>');

                                $(exContent).dialog({
                                    title: "Информация об эксперте",
                                    width: 1000,
                                    height: 600,
                                    modal: true,
                                    close: function() {
                                        $(".dialog, .dialog-view-card").remove();
                                    },
                                    open: function() {
                                        $.ajax({
                                            type: 'POST',
                                            dataType: "html",
                                            url: "/ron/index/get-card-expert/"+ $('.results-content tr.selected', dContent).attr("id").split("_")[1],
                                            success: function(answer) {

                                                $(".loading-img", exContent).fadeOut(500, function() {
                                                    $(exContent).html(answer);
                                                    $(exContent).delegate(".show_tab", "click", function(){
                                                        var elem = $(this);
                                                        $('.tab_exp').hide();
                                                        $('.show_tab').removeClass('active');
                                                        $(elem).addClass('active');
                                                        var idExp = $('.results-content tr.selected', dContent).attr("id").split("_")[1];
                                                        if($(elem).attr('tab')=='wrap_accreditation'){

                                                            $.ajax({
                                                                url: "/ron/index/get-certificate-expert/"+idExp,
                                                                success: function(data){
                                                                    $("#wrap_accreditation").html(data);
                                                                    $("#wrap_accreditation").show();
                                                                }
                                                            });
                                                        }else if($(elem).attr('tab')=='wrap_expertise'){
                                                            $.ajax({
                                                                url: "/ron/index/get-expertise-expert/"+idExp,
                                                                success: function(data){
                                                                    $("#wrap_expertise").html(data);
                                                                    $("#wrap_expertise").show();
                                                                }
                                                            });
                                                        }else{
                                                            $("#information-form").show();
                                                        }
                                                    });
                                                });

                                            },
                                            error:function(e){
                                                console.log('ошибка при загрузке карточки эксперта');
                                                console.log(e);
                                            }

                                        });
                                    }
                                });
                            });

                            //Отображение менюшки всплывающей
                            $('.btSet', dContent).tipsy({
                                html: true,
                                trigger: "manual",
                                gravity: "sw",
                                title: function() {
                                    return ""+
                                        '<div class="menu-block">'+
                                        '<div class="menu-item" onclick="addExpertDialog(\'headWithoutP\')" data-type="addHeadWithOP">Руководитель группы без ОП</div>'+
                                        '<div class="menu-item" onclick="addExpertDialog(\'headWithP\')" data-type="addHeadWithoutOP">Руководитель группы с ОП</div>'+
                                        '<div class="menu-item" onclick="addExpertDialog(\'expert\')" data-type="addExpert">Эксперт</div>'+
                                        '</div>'
                                }
                            });

                            $('.btSet', dContent).click(function(e) {
                                $('.btSet', dContent).tipsy("show");
                                if(e.stopPropagation) e.stopPropagation();
                                if(e.preventDefault) e.preventDefault();
                            });
                            $("body").click(function(){
                                $('.btSet', dContent).tipsy("hide");
                            })
                        });
                    }
                });
            }
        });
    }
    /**
     * Метод отображает диалог с назначением экспертов
     */
    function addExpertDialog(type){
        var idAppl = $("#bt_add_expert").attr("app_id");
        if ($('.results-content tr.selected', ".dialog-selectexperts-info").length == 0) {
            useTopHoverTitleError("Не выбрано эксперта в результатах поиска");
            return;
        }

        var applId = idAppl;
        var expId = $('.results-content tr.selected', ".dialog-selectexperts-info").attr("id").split("_")[1];
        var orgId = $('.sOrg', ".dialog-selectexperts-info").val();

        var eContent = $('<div class="dialog-add-expert">'+
            '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
            +'</div>');

        eContent.dialog({
            title: "Назначение эксперта",
            width: $(window).width()-200,
            height: $(window).height()-50,
            modal: true,
            close: function() {
                $(".dialog-add-expert").remove();
            },
            open: function() {
                //Отсылаем запрос на получение диалога
                $.ajax({
                    type: 'POST',
                    dataType: "html",
                    data: {
                        applId: applId,
                        expId: expId,
                        type: type,
                        orgId: orgId
                    },
                    url: "/ron/declaration/add-expert-dialog",
                    success: function (answer) {

                        $(".content-block",eContent).html(answer);

                        //Выставляем высоту
                        $(".leftTabs", eContent).height(eContent.height()-80);
                        $(".rightSideBar .table-container", eContent).height(eContent.height()-121);

                        //Обработчик переключения вкладок
                        $(".branch-tab",eContent).click(function(){
                            $(".branch-tab",eContent).removeClass("selected");
                            $(this).addClass("selected");

                            var branchId = $(this).attr("branch-id");
                            $(".tab-tbody", eContent).hide();
                            $(".tab-tbody.tabcontent-"+branchId, eContent).show();

                            $(".headName", eContent).hide();
                            $(".headName.b_"+branchId, eContent).show();

                        });

                        //Обработчик выбора радиобаттона
                        $("input[type=checkbox]", eContent).change(function(){
                            var parentTr = $(this).parents("tr").eq(0);
                            if($(this).is(":checked")){
                                $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).show();
                                $(".start-block", parentTr).hide();
                            } else {
                                $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).hide();
                                $(".start-block", parentTr).show();
                            }
                        });

                        //Обработка кнопки сохранения
                        $(".btSave", eContent).click(function(){
                            if(type != "headWithoutP" && $("input[type=checkbox]:checked:visible",eContent).length == 0){
                                useTopHoverTitleError("Не выбрано программы для назначения");
                                return;
                            }

                            var data = {
                                applId: applId,
                                expId: expId,
                                type: type,
                                branchId: $(".branch-tab.selected", eContent).attr("branch-id")
                            }


                            if(type != "headWithoutP"){
                                var progs = [];
                                $("input[type=checkbox]:checked:visible", eContent).each(function(i, item){
                                    item = $(item);
                                    var progData = {
                                        idProg: item.attr("id").split("_")[1]
                                    };
                                    if(item.attr("member-id") != "null")
                                        progData.memberId = item.attr("member-id");

                                    progs.push(progData);
                                });
                                data.progs = progs;
                            }


                            //Отправляем запрос на сохранение
                            $.ajax({
                                type: 'POST',
                                dataType: "json",
                                data: data,
                                url: "/ron/declaration/add-expert",
                                success: function (answer) {
                                    //Если ошибка
                                    if(answer.result == "error"){
                                        useTopHoverTitleError("Ошибка! "+((answer.msg)?answer.msg:""));
                                        return;
                                    }
                                    //Если успех
                                    if(answer.result == "success"){
                                        useTopHoverTitle(answer.msg,2000);
                                        $(".dialog-add-expert").remove();
                                        //если успешно, то перегрузим вкладку Состав комиссии
                                        if(jQuery('#list_tabs a[tab="26"]').is('.active')){
                                            jQuery('#list_tabs a[tab="26"]').click();
                                        }
                                    }
                                }
                            });
                        });

                        //Обработчик кнопки отмена
                        $(".btCancel",eContent).click(function(){
                            console.log('закрыть тык 7');
                            $(".dialog-add-expert").remove();
                        });
                    }
                })
            }
        });
    }

    $("#bt_add_expert").click(showExpertDialog);

    $("#list_tabs").undelegate(".show_tab","click");
    $("#list_tabs").delegate(".show_tab", "click", function () {
        console.log("хотим переключить вкладки");
        var mes = $(this).attr('tab') ;
        console.log(mes);
        //if ((mes > max_show_tab && mes!=10)||(mes==10 &&max_show_tab<1)) {
        //    return false;
        // }
        //$(".show_tab").removeClass('active');
        //handleResponse(mes, 1);
        //showHideTabs(mes);
        hahdleResponse(mes)
    });

    function hahdleResponse(to){

        showHideTabs(to);
        if (to=='4'){
            getFilesAjax();
            //
        }
        if (to=='26'){
            getExpertsCommision();
        }
        if (to=='28'){
            getDocumentForExpert();
        }

    }
</script>

<script>

/*
 * получение списка загруженных файлов.
 */
function getFilesAjax(){
    $.ajax({
        url: '/ron/declaration/application-files/'+$("#id_application_val").val(),
        beforeSend: function () {
                $(".loading-overlay").show();
        },
        success: function(answer){
            $("#tab4").html(answer);
            $('#button_load_dop_docs').remove();
            var button = '<li class="filelink" id="button_load_dop_docs"><a id="help_button" href="javascript:;" onclick="loadDopDocs();"><div></div><span class="text" style="max-width:220px">Доп. документ</span></a></li>';
            $("#btActions-block","#but_wrap_child_right").append(button);
            if($(".importantFiles .maySent").length==0 && ($(".active_appl").attr('id_status') === undefined || $(".active_appl").attr('id_status') == '38D871AC-BF1D-469E-AFC1-7A6CD55EF1B6') ){
                //$("#sendform1").hide();
                //$("#but_wrap_child_right #btActions-block").prepend('<li class="filelink sendApplication"><a onclick="sendToSend()" href="javascript:;"><div></div><span class="text">Сохранить</span></a></li>');
            }else{
                //$(".maySent").parents('.containerWrapFile').css('border','1px solid red');
                //$(".maySent").focus();
                //$("#but_wrap_child_right #btActions-block .sendApplication").remove();
            }
            $(".loading-overlay").fadeOut(250);
            //jQuery('.MultiFile-wrap ').hide();
            jQuery('.MultiFile-wrap input').remove();
            jQuery('.MultiFile-remove').remove();
            jQuery('.FileListWrap').addClass('FileListWrapExprtise');
            jQuery("#tab4 .labelText").parent().css('vertical-align','middle');
            //убираем строчки, если нет на них файлов
            jQuery('.FileListWrap').each(function(ind,el){
                var colInBlock = jQuery(el).find('a').length;
                if(colInBlock==0){
                    jQuery(el).parent().parent().parent().remove();
                }
            });
        },
        error:function(e){
            useTopHoverTitleError("Возникла ошибка");
            $(".loading-overlay").fadeOut(250);
            console.log("Ошибка");
            console.log(e);
        }
    });
}

</script>

<script>
    //начальный тык на первой вкладке
    hahdleResponse(1);
</script>

<style>
    .FileListWrapExprtise{
        padding: 5px;
        margin: 5px;
    }

    .tabs-panel-view{
        height: 100%;
        margin-top: 10px;
        position: relative;
        top: -40px;
    }
</style>

<script>
/**
 * функция открытия окна Загрузки дополнительных документов
 */
function loadDopDocs(){
    var id_application = $("#id_application_val").val();

    //подгрузим форму для загрузки
    $.ajax({
        url: '/ron/declaration/application-dop-files/' + id_application,
        beforeSend: function () {
            $(".loading-overlay").show();
        },
        success: function(response){
            $(".loading-overlay").hide();
            $('.dialog').remove();
            $("<div class='dialog'></div>").html("<p class='segoe'>" + response + "</p>")
                .dialog({
                    autoOpen: false,
                    title: "Загрузка документа",
                    modal: true,
                    width: 600
                }).dialog("open")
        }
    });
}
</script>

<script>

function getExpertsCommision(){
console.log('хоти получить членов комисии');

    //var expertise = jQuery ('#popup_win #edit_declaration1 input[name="id"]').val();
    var expertise = jQuery('#tab1 input[name="expertiseId"]').val();

    var eContent = $('<div class="dialog-add-expert">'+
        '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
        +'</div>');

    var eContent = $("#tab26");
            $.ajax({
                type: 'POST',
                dataType: "html",
                data: {
                    'expertise': expertise
                },
                url: "/ron/index/get-expertise-exsperts-view",
                success: function (answer) {
                    eContent.html(answer);
                    //Обработчик выбора радиобаттона
                    $("input[type=radio]", eContent).change(function(){
                        var parentTr = $(this).parents("tr").eq(0);
                        $(".temp-block", eContent).hide();
                        $(".start-block", eContent).show();

                        $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).show();
                        $(".start-block", parentTr).hide();
                    });
                    //Обработчик кнопки отмена
                    $(".btCancel",eContent).click(function(){
                        console.log('закрыть тык 8');
                        $(".dialog-add-expert").remove();
                    });
                }
            })
 }

function getDocumentForExpert(){
console.log('хоти получить докумены для экспертов');

    //var expertise = jQuery ('#popup_win #edit_declaration1 input[name="id"]').val();
    var expertise = jQuery('#tab1 input[name="expertiseId"]').val();

    var eContent = $('<div class="dialog-add-expert">'+
        '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
        +'</div>');

    var eContent = $("#tab28");
            $.ajax({
                type: 'POST',
                dataType: "html",
                data: {
                    'expertise': expertise
                },
                url: "/ron/index/get-expertise-document-for-expert",
                success: function (answer) {
                    eContent.html(answer);
                    //Обработчик выбора радиобаттона
                    $("input[type=radio]", eContent).change(function(){
                        var parentTr = $(this).parents("tr").eq(0);
                        $(".temp-block", eContent).hide();
                        $(".start-block", eContent).show();

                        $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).show();
                        $(".start-block", parentTr).hide();
                    });
                    //Обработчик кнопки отмена
                    $(".btCancel",eContent).click(function(){
                        $(".dialog-add-expert").remove();
                    });
                }
            })
 }

</script>