<script>
    $(document).ready(function () {
        getEduProgramTypes(); 
        $('#popupWindow').undelegate("#licensed_programs","change");
         $('#popupWindow').delegate("#licensed_programs", "change", function () {
            $('#termEduProgram').val($("#licensed_programs option:selected").attr('year'));
        })
        $('#popupWindow').undelegate("#edu_levels","change");
        $('#edu_levels').change(function () {
            getEduProgramTypes();
        });
        $('#popupWindow').undelegate("#edu_program_types","change");
        $('#popupWindow').delegate("#edu_program_types", "change", function () {
            getDataUgs();
        });
        $('#popupWindow').undelegate("#ugs_name","change");
        $('#popupWindow').delegate("#ugs_name", "change", function () {
            setUGSCode();
            getEduProgram();
            

        });

        $(".send_edu_program").click(function () {
            data = $("#eduProgramForm").serialize();
            $.ajax({
                url: '/eo/declaration/save-application-program',
                type: "POST",
                data: data,
                success: function (answer) {
                    $('#popupWindow').hide();
                    changeFill();
                }
            });
        });

        $("#cboxClosePop").click(function () {
            $("#popupWindow").hide();
        });
    });

    function getEduProgramTypes() {
        $.ajax({
            url: '/eo/declaration/get-edu-program-types-by-id-level/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org'),
            type: "POST",
            success: function (answer) {
                if (answer !== 'empty') {
                    $("#edu_program_types_wrap").html(answer);
                    getDataUgs(); 
                }
            }
        });
    }

    function getDataUgs() {
        $.ajax({
            url: '/eo/declaration/get-data-ugs/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('#edu_program_types').val(),
            type: "POST",
            success: function (answer) {
                $(".ugs_info").remove();
                $("#ugs_app_table tr#tr_program_types").after(answer);
                setUGSCode();
                getEduProgram();
            }
        });
    }

    function setUGSCode() {
        $('#ugs_code').val($("select#ugs_name option:selected").attr('code'));
    }

    function getEduProgram() {
        $.ajax({
            url: '/eo/declaration/get-edu-program-by-id-ugs/'  + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('#edu_program_types').val() + '/' + $('#ugs_name').val(),
            type: "POST",
            success: function (answer) {
                if (answer !== 'empty') {
                    $("#edu_program_wrap").html(answer);
                    $('#termEduProgram').val($("#licensed_programs option:selected").attr('year'));
                }
            }
        });
    }
</script>

<div id="head_pop"><h2 id="title_pop">Образовательная программа</h2><div id="cboxClosePop"></div></div>
<form id="eduProgramForm">
    <table id="ugs_app_table">
        <tr>
            <td>Наименование ОО</td>
            <td><input type="hidden" name="fk_isgaApplication" value="<?= $id_application ?>"><input type="hidden" name="fk_isgaEOBranches" value="<?= $currOrganization->getField('Id') ?>"><input type="text" disabled="disabled" value="<?= $currOrganization->getField('RegularName') ?>"></td>
        </tr>
        <?php /*<tr>
            <td>Уровень ОП</td>
            <td>
                <select id="edu_levels">
                    <?php foreach ($eduLevels as $level) : ?>
                        <option value="<?= $level['Id'] ?>"> <?= $level['Name'] . ' (' . $level['ShortName'] . ')' ?></option>
                    <?php endforeach; ?>
                </select>
            </td>
        </tr> */?>
        <tr id="tr_program_types">
            <td>Уровень образования</td>
            <td id="edu_program_types_wrap"><input type="text" disabled="disabled"></td>
        </tr>
        <tr class="ugs_info">
            <td>Наименование УГС</td>
            <td><input type="text" disabled="disabled"></td>
        </tr>
        <tr class="ugs_info">
            <td>Код УГС</td>
            <td><input type="text" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Наименование ОП</td>
            <td id="edu_program_wrap"><input type="text" disabled="disabled"></td>
        </tr>
        <tr>
            <td>Год начала реализации ОП</td>
            <td><input type="text" name="yearStartEdu" value=""></td>
        </tr>
        <tr>
            <td>Срок получения образования </td>
            <td><input type="text" name="termEdu" id="termEduProgram" value=""></td>
        </tr>
        <tr>
            <td colspan="2"><div class="section-title">Количество обучающихся, завершающих обучение в текущем году</div></td>
        </tr>
        <tr>
            <td>Очная форма обучения</td>
            <td><input name="fullTimeCount" type="number" pattern="^\d{1,}$" title="Используйте только цифры" value=""></td>
        </tr>
        <tr>
            <td>Очно-заочная форма</td>
            <td><input name="partTimeCount" type="number" pattern="^\d{1,}$" title="Используйте только цифры" value=""></td>
        </tr>
        <tr>
            <td>Заочная</td>
            <td><input name="correspondenceCount" type="number" pattern="^\d{1,}$" title="Используйте только цифры" value=""></td>
        </tr>
        <tr>
            <td>Семейное образование</td>
            <td><input name="familyCount" type="number" pattern="^\d{1,}$" title="Используйте только цифры" value=""></td>
        </tr>
        <tr>
            <td colspan="2">
                <div><label>Использование сетевой формы реализации ОП</label><input name="networkForm" type="checkbox" value="1"></div>
                <div><label>Применение дистанционных технологий обучения</label><input name="remoteTechnology" type="checkbox"value="1"></div>
                <div><label>Наличие общественной аккредитации</label><input name="publicAccreditation" type="checkbox"value="1"></div>
            </td>
        </tr>

    </table>
</form>
<input type="button" value="Сохранить" class="send_edu_program">