<style>
    .progress {
        display: none;
    }

    .br > span {
        display: inline-block;
        position: relative;
    }

    .title_name {
        background: #f1f1f9 none repeat scroll 0 0;
        padding: 3px 10px 3px 0;
        z-index: 3;
    }

    .bord {
        border-bottom: 2px solid;
        top: -20px;
        width: 100%;
    }

    .br {
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px;
    }
</style>
<script src="/js/ron/declaration.page.js"></script>
<script src="/js/widget/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<script>
    if (typeof (activateFileUpload) == 'function') {
        activateFileUpload('/eo/declaration/save-one-file', '.multi');
        activateFileUpload('/eo/declaration/save-dop-files', '.multi_dop');
    }
</script>
<input type="hidden" value="<?= $id_appl ?>" sent="<?= $typeSend == 'sent' ? 1 : 0 ?>">
<form id="files_list_upload" enctype="multipart/form-data" target="hiddenframe" method="POST"
      action="/eo/declaration/save-file/<?= $id_appl ?>">
    <table class="TableFile">
        <?php

        //возрат
        $moreInfo = new \Model\Entities\isgaApplicationMoreInfo();
        $moreInfo = $moreInfo->getById($id_appl, 'fk_isgaApplication');
        $isReceived = 0;
        if (!empty($moreInfo)) {
            $isReceived = $moreInfo->getFieldSafe('Received');
        }

        if (count($arrayDocs) > 0) {
            $maySent = 1;
            $arr_type_doc = array('E2E290E1-55D8-4628-A69C-FB29E520B06C',
                '4DC63BC53-52DC-A436-7ACD-5435ACDE3452CC864', '04FDE43A-4583-6426-8510-FABC63438A10',
                'CE56BD54-35DB-23CD-2354-AC3452345325AC', 'ED545F23-3453-ABCD-2343-ACD459DCBB32');
            if ($typeSend != 'new') {
                ?>
                <tr class="tr-row-in-t-1">
                    <td colspan="2">
                        <div class="br"><span class="title_name">Уведомления</span><span class="bord"></span></div>
                <table>
                <?php foreach ($extra as $oneExtra){?>
                    <tr>
                        <td>
                            <p>Запрос дополнительных материалов</p>
                        </td>
                        <td>

                            <a href="/eo/declaration/getApplicationExtraDocumentFile/<?=$oneExtra['id']?>"><?=$oneExtra['RealName']?></a>
                        </td>
                    </tr>
                    <?php } ?>
                </table>
                    </td>
                </tr>
                <?php
                foreach ($arrayDocs as $oneDoc)
                    if (in_array(strtoupper($oneDoc['Id']), $arr_type_doc)) {
                        $idDoc = '0';
                        $check_cur = '';
                        $check_man = '';
                        ?>
                        <tr class="tr-row-in-t-2">
                            <td>
                                <span class="labelText"><?= $oneDoc['Name'] ?><?= ($oneDoc['Obligation'] == 1) ? '*' : ''; ?></span>
                            </td>
                            <td width="340">
                                <div class="containerWrapFile">
                                    <?php if ($typeSend != 'rectification') { ?>
                                        <input
                                                name="<?= $oneDoc['Id'] ?>"
                                                type="file"
                                                class="multi HrefLikeButt file-element-blok-1"
                                                codeType="<?= $oneDoc['Id'] ?>"
                                                multiple
                                                accept=".pdf.sig,.zip.sig"
                                        >
                                    <?php } ?>
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-success <?= $oneDoc['Id'] ?>"></div>
                                    </div>
                                    <!-- The container for the uploaded files -->
                                    <div class="FileListWrap <?= $oneDoc['Id'] ?> <?= ($oneDoc['Obligation'] == 1) ? 'importantFiles' : ''; ?>">
                                        <?php
                                        if (count($oldDoc) > 0) {
                                            $realCount = 0;
                                            $validCount = true;
                                            foreach ($oldDoc as $oneOldDoc) {
                                                if (!empty($oneOldDoc['HashName']) && !empty($oneOldDoc['RealName'])) {
                                                    if ($oneOldDoc['fk_isgaDocumentType'] == $oneDoc['Id']) {
                                                        if ($oneOldDoc['isArhive'] != '1') {
                                                            $delete_button = '';
                                                            if ($oneDoc['Id'] == 'E2E290E1-55D8-4628-A69C-FB29E520B06C') {
                                                                if ($oneOldDoc['ApprManager'] != '2' && $oneOldDoc['ApprCurator'] == '1') {
                                                                    $idDoc = $oneOldDoc['Id'];
                                                                    if ($oneOldDoc['ApprManager'] == '1')
                                                                        $check_man = 'checked="checked"';
                                                                }
                                                                if ($oneOldDoc['ApprCurator'] != '2') {
                                                                    $idDoc = $oneOldDoc['Id'];
                                                                    if ($oneOldDoc['ApprCurator'] == '1')
                                                                        $check_cur = 'checked="checked"';
                                                                }
                                                            }
                                                            if ($typeSend != 'sent' && $typeSend != 'rectification') {
                                                                $delete_button = '<span class="MultiFile-remove" onclick="window_delete_application_file(\'' . $oneOldDoc['Id'] . '\', 1)">x</span>';
                                                            }
                                                            $sign_info = '';
                                                            if (array_key_exists('sign_id', $oneOldDoc) && !empty($oneOldDoc['sign_id'])) {

                                                                $signInfo = '';
                                                                if (!empty($oneOldDoc['certificate_info'])) {
                                                                    $signInfoArray = json_decode($oneOldDoc['certificate_info']);
                                                                }

                                                                $img = ($oneOldDoc['valid'] == 1)
                                                                    ? "<img class='sign-icon-4' src='/img/ok-icon.png' "
                                                                    . " width='18' "
                                                                    . ">"
                                                                    : "<img src='/img/red-icon.png' width='18'>";
                                                                $title_sign_info = ($oneOldDoc['valid'] == 1) ? "Подпись валидна" : "Подпись невалидна";
                                                                $sign_info = '<span id="' . $oneOldDoc['sign_id'] . '" class="sign_info" title="' . $title_sign_info . '">' . $img . '</span>';
                                                                if ($oneOldDoc['valid'] == 0) $validCount = false;
                                                            }
                                                            $s = '<div id="' . $oneOldDoc['Id'] . '"  '
                                                                . '>'
                                                                . $sign_info
                                                                . $delete_button
                                                                /*.'<a target="_blank" href="/downloadfile.php?name='.$oneOldDoc['HashName'].'"  download="'.$oneOldDoc['RealName'].'">'*/
                                                                . '<a target="_blank" class="uploaded-files" href="/uploads/' . $oneOldDoc['HashName'] . '"  download="' . $oneOldDoc['RealName'] . '">'
                                                                . $oneOldDoc['RealName']
                                                                . '</a>'
                                                                . '</div>';
                                                            echo $s;
                                                            $realCount += 1;
                                                        }
                                                    }
                                                }
                                            }
                                            if ($realCount == 0 && $oneDoc['Obligation'] == 1 || !$validCount) {
                                                echo '<input type="hidden" class="maySent" value="0">';
                                                $maySent = 0;
                                            }
                                        } else {
                                            if ($oneDoc['Obligation'] == 1) {
                                                echo '<input type="hidden" class="maySent" value="0">';
                                                $maySent = 0;
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <?php if ($oneDoc['Id'] == 'E2E290E1-55D8-4628-A69C-FB29E520B06C' && $idDoc != '0') { ?>
                            <?php $curator = false;
                            $manager = false;
                            ?>
                            <tr class="agreed tr-row-in-t-3">
                                <td><span class="labelText">Согласовано с куратором</span></td>
                                <td width="340">
                                    <input type="checkbox"
                                           value="1" <?= $check_cur ?> <?= $curator ? 'name="Files[' . $idDoc . '_curator][ApprCurator]"' : 'disabled' ?> />
                                    <?= $curator ? '<input type="hidden" value="' . $idDoc . '" name="Files[' . $idDoc . '_curator][Id]" />' : '' ?>
                                </td>
                            </tr>
                            <tr class="agreed  tr-row-in-t-4">
                                <td><span class="labelText">Согласовано с менеджером кураторов</span></td>
                                <td width="340">
                                    <input type="checkbox"
                                           value="1" <?= $check_man ?> <?= $manager ? 'name="Files[' . $idDoc . '_manager][ApprManager]"' : 'disabled' ?> />
                                    <?= $manager ? '<input type="hidden" value="' . $idDoc . '" name="Files[' . $idDoc . '_manager][Id]" />' : '' ?>
                                </td>
                            </tr>
                        <?php } ?>
                    <?php }
            }
            if (count($application_types_without_reason) > 0) {
                ?>

                <?php foreach ($application_types_without_reason as $key => $type)
                    if (in_array(strtoupper($key), $arr_type_doc)) {
                        ?>
                        <tr class="tr-row-in-t-5">
                            <td><span class="labelText"><?= $type ?></td>
                            <td width="340">
                                <div class="containerWrapFile">
                                    <?php if ($typeSend != 'rectification') { ?>
                                        <input
                                                name="<?= $key ?>"
                                                type="file"
                                                class="multi HrefLikeButt  file-element-blok-2"
                                                codeType="<?= $key ?>"
                                                accept=".pdf.sig,.zip.sig"
                                        />
                                    <?php } ?>
                                    <div class="FileListWrap <?= $key ?>">
                                        <?php
                                        foreach ($oldDoc as $oneOldDoc) {
                                            if (!empty($oneOldDoc['HashName']) && !empty($oneOldDoc['RealName'])) {
                                                if ($oneOldDoc['isArhive'] != '1') {
                                                    if (mb_strtolower($oneOldDoc['fk_isgaDocumentType'], 'UTF-8') == $key) {
                                                        $delete_button = '';
                                                        $sign_info = '';
                                                        if (array_key_exists('sign_id', $oneOldDoc) && !empty($oneOldDoc['sign_id'])) {
                                                            $img = ($oneOldDoc['valid'] == 1) ? "<img class='sign-icon-1' src='/img/ok-icon.png' width='18'>" : "<img src='/img/red-icon.png' width='18'>";
                                                            $title_sign_info = ($oneOldDoc['valid'] == 1) ? "Подпись валидна" : "Подпись невалидна";
                                                            $sign_info = '<span id="' . $oneOldDoc['sign_id'] . '" class="sign_info" title="' . $title_sign_info . '">' . $img . '</span>';
                                                            if ($oneOldDoc['valid'] == 0) $validCount = false;
                                                        }
                                                        if ($typeSend != 'sent' && $typeSend != 'rectification') {
                                                            $delete_button = '<span class="MultiFile-remove" onclick="window_delete_application_file(\'' . $oneOldDoc['Id'] . '\', 1)">x</span>';
                                                        }

                                                        echo '<div  id="' . $oneOldDoc['Id'] . '"  '
                                                            . '>'
                                                            . $sign_info
                                                            . $delete_button
                                                            /*.'<a target="_blank" href="/downloadfile.php?name='.$oneOldDoc['HashName'].'" download="'.$oneOldDoc['RealName'].'"  >'*/
                                                            . '<a target="_blank" class="uploaded-files" href="/uploads/' . $oneOldDoc['HashName'] . '"  download="' . $oneOldDoc['RealName'] . '">'
                                                            . $oneOldDoc['RealName']
                                                            . '</a>'
                                                            . '</div>';
                                                    }
                                                }
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    <?php }
            } ?>
            <tr class="tr-row-in-t-6">
                <td colspan="2">
                    <div class="br"><span class="title_name">Документы к заявлению</span><span class="bord"></span>
                    </div>
                </td>
            </tr>
            <?php $maySent = 1;
            foreach ($arrayDocs as $oneDoc)
                if (!in_array(strtoupper($oneDoc['Id']), $arr_type_doc)) {
                    ?>
                    <tr class="tr-row-in-t-7">
                        <td>
                            <span class="labelText"><?= $oneDoc['Name'] ?><?= ($oneDoc['Obligation'] == 1) ? '*' : ''; ?></span>
                        </td>
                        <td width="340">
                            <div class="containerWrapFile">
                                <?php if (('new' == $typeSend) || ('rectification' == $typeSend && 2 == $isReceived)) { ?>
                                    <input
                                            name="<?= $oneDoc['Id'] ?>"
                                            type="file"
                                            class="multi HrefLikeButt   file-element-blok-3"
                                            codeType="<?= $oneDoc['Id'] ?>"
                                            multiple
                                            accept=".pdf.sig,.zip.sig"
                                    >
                                <?php } ?>
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success <?= $oneDoc['Id'] ?>"></div>
                                </div>
                                <!-- The container for the uploaded files -->
                                <div class="FileListWrap <?= $oneDoc['Id'] ?> <?= ($oneDoc['Obligation'] == 1) ? 'importantFiles' : ''; ?>">
                                    <?php
                                    if (count($oldDoc) > 0) {
                                        $realCount = 0;
                                        $validCount = true;
                                        foreach ($oldDoc as $oneOldDoc) {
                                            if (!empty($oneOldDoc['HashName']) && !empty($oneOldDoc['RealName'])) {
                                                if ($oneOldDoc['fk_isgaDocumentType'] == $oneDoc['Id']) {
                                                    if ($oneOldDoc['isArhive'] != '1') {
                                                        $delete_button = '';
                                                        if ($typeSend != 'sent' && $typeSend != 'rectification') {
                                                            $delete_button = '<span class="MultiFile-remove" onclick="window_delete_application_file(\'' . $oneOldDoc['Id'] . '\', 1)">x</span>';
                                                        }
                                                        $sign_info = '';
                                                        if (array_key_exists('sign_id', $oneOldDoc) && !empty($oneOldDoc['sign_id'])) {
                                                            $signInfo = '';
                                                            if (!empty($oneOldDoc['certificate_info'])) {
                                                                $signInfoArray = json_decode($oneOldDoc['certificate_info'], true);
                                                                if (empty($signInfoArray['SubjectName']['SN'])) {
                                                                    $signInfoArray['SubjectName']['SN'] = '';
                                                                }
                                                                if (empty($signInfoArray['SubjectName']['G'])) {
                                                                    $signInfoArray['SubjectName']['G'] = '';
                                                                }
                                                                $signInfo .= "Дата проверки " . $oneOldDoc['date_verify'] . "\n";
                                                                $signInfo .= "Результат проверки " . ($oneOldDoc['valid'] == 1) ? "Подпись валидна" : "Подпись невалидна" . "\n";
                                                                $signInfo .= "Данные Владелца\n" .
                                                                    $signInfo .= "ФИО " . $signInfoArray['SubjectName']['SN'] . ' ' . $signInfoArray['SubjectName']['G'] . "\n";
                                                                $signInfo .= "Место работы " . $signInfoArray['SubjectName']['CN'] . "\n";
                                                                $signInfo .= "Email " . $signInfoArray['SubjectName']['E'] . "\n";
                                                                $signInfo .= "Срод действия сертиффиката " . date('d.m.Y', strtotime($signInfoArray['NotBefore'])) . ' - ' . date('d.m.Y', strtotime($signInfoArray['NotAfter'])) . "\n";

                                                            }
                                                            $img = ($oneOldDoc['valid'] == 1)
                                                                ? "<img class='sign-icon-2' src='/img/ok-icon.png' width='18'>"
                                                                : "<img src='/img/red-icon.png' width='18'>";
                                                            $title_sign_info = $signInfo;
                                                            $sign_info = '<span id="' . $oneOldDoc['sign_id'] . '" class="sign_info" title="' . $title_sign_info . '">' . $img . '</span>';
                                                            if ($oneOldDoc['valid'] == 0) $validCount = false;
                                                        }
                                                        $s = '<div id="' . $oneOldDoc['Id'] . '"  '
                                                            . '>'
                                                            . $sign_info
                                                            . $delete_button
                                                            /*.'<a target="_blank" href="/downloadfile.php?name='.$oneOldDoc['HashName'].'"  download="'.$oneOldDoc['RealName'].'">'*/
                                                            . '<a target="_blank" class="uploaded-files" href="/uploads/' . $oneOldDoc['HashName'] . '"  download="' . $oneOldDoc['RealName'] . '">'
                                                            . $oneOldDoc['RealName']
                                                            . '</a>'
                                                            . '</div>';
                                                        echo $s;
                                                        $realCount += 1;
                                                    }
                                                }
                                            }
                                        }
                                        if ($realCount == 0 && $oneDoc['Obligation'] == 1 || !$validCount) {
                                            echo '<input type="hidden" class="maySent" value="0">';
                                            $maySent = 0;
                                        }
                                    } else {
                                        if ($oneDoc['Obligation'] == 1) {
                                            echo '<input type="hidden" class="maySent" value="0">';
                                            $maySent = 0;
                                        }
                                    }
                                    ?>
                                </div>
                            </div>
                        </td>
                    </tr>
                <?php }
            if (count($application_types_without_reason) > 0) {
                ?>

                <?php foreach ($application_types_without_reason as $key => $type)
                    if (!in_array(strtoupper($key), $arr_type_doc)) {
                        ?>
                        <tr class="tr-row-in-t-8">
                            <td><span class="labelText"><?= $type ?></td>
                            <td width="340">
                                <div class="containerWrapFile">
                                    <?php if (('new' == $typeSend) || ('rectification' == $typeSend && 2 == $isReceived)) { ?>
                                        <input
                                                name="<?= $key ?>"
                                                type="file"
                                                class="multi HrefLikeButt  file-element-blok-4"
                                                codeType="<?= $key ?>"
                                                accept=".sig"
                                        />
                                    <?php } ?>
                                    <div class="FileListWrap <?= $key ?>">
                                        <?php foreach ($oldDoc as $oneOldDoc) {
                                            if (!empty($oneOldDoc['HashName']) && !empty($oneOldDoc['RealName'])) {
                                                if ($oneOldDoc['isArhive'] != '1') {
                                                    if (mb_strtolower($oneOldDoc['fk_isgaDocumentType'], 'UTF-8') == $key) {
                                                        $delete_button = '';
                                                        if ($typeSend != 'sent' && $typeSend != 'rectification') {
                                                            $delete_button = '<span class="MultiFile-remove" onclick="window_delete_application_file(\'' . $oneOldDoc['Id'] . '\', 1)">x</span>';
                                                        }
                                                        $sign_info = '';
                                                        if (array_key_exists('sign_id', $oneOldDoc) && !empty($oneOldDoc['sign_id'])) {
                                                            $img = ($oneOldDoc['valid'] == 1) ? "<img class='sign-icon-3' src='/img/ok-icon.png' width='18'>" : "<img src='/img/red-icon.png' width='18'>";
                                                            $title_sign_info = ($oneOldDoc['valid'] == 1) ? "Подпись валидна" : "Подпись невалидна";
                                                            $sign_info = '<span id="' . $oneOldDoc['sign_id'] . '" class="sign_info" title="' . $title_sign_info . '">' . $img . '</span>';
                                                            if ($oneOldDoc['valid'] == 0) $validCount = false;
                                                        }
                                                        echo '<div  id="' . $oneOldDoc['Id'] . '"  '
                                                            . '>'
                                                            . $sign_info
                                                            . $delete_button
                                                            /*.'<a target="_blank" href="/downloadfile.php?name='.$oneOldDoc['HashName'].'" download="'.$oneOldDoc['RealName'].'"  >'*/
                                                            . '<a target="_blank" href="/uploads/' . $oneOldDoc['HashName'] . '"  download="' . $oneOldDoc['RealName'] . '">'
                                                            . $oneOldDoc['RealName']
                                                            . '</a>'
                                                            . '</div>';
                                                    }
                                                }
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    <?php }
            } ?>

            <?php echo '<input type="hidden" id="maySent" value="' . $maySent . '">';
        } else {
            echo '<tr  class="tr-row-in-t-9"><td class="bgcolor">Нет документов для этого типа заявки</td></tr>';
        }

        ?>
        <?php
        if (count($dop_docs) > 0):
            foreach ($dop_docs as $type_id => $dop_doc):
                if (array_key_exists($type_id, $application_document_types)):?>
                    <tr class="tr-row-in-t-10">
                        <td>
                            <span class="labelText"><?= (array_key_exists($type_id, $application_document_types)) ? $application_document_types[$type_id] : "" ?></span>
                        </td>
                        <td width="340">
                            <div class="containerWrapFile">
                                <?php if ($typeSend == 'rectification' && 2 == $isReceived) { ?>
                                    <input
                                            name="<?= $type_id ?>"
                                            type="file"
                                            class="multi_dop HrefLikeButt file-element-blok-5"
                                            codeType="<?= $type_id ?>"
                                            accept=".pdf.sig,.zip.sig"
                                    />
                                <?php } ?>
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-success <?= $type_id ?>"></div>
                                </div>
                                <div class="FileListWrap <?= $type_id ?>">
                                    <?php
                                    foreach ($dop_doc as $document):
                                        if (empty($document['FtpDirectoryUrl']) || empty($document['RealFileName']) || $document['isArhive'] == '1') {
                                            continue;
                                        }
                                        $document['FtpDirectoryUrl'] = preg_replace('/^\/public\/uploads\//', '', $document['FtpDirectoryUrl']);
                                        $document['FtpDirectoryUrl'] = preg_replace('/^public\/uploads\//', '', $document['FtpDirectoryUrl']);
                                        $document['FtpDirectoryUrl'] = preg_replace('/^\/uploads\//', '', $document['FtpDirectoryUrl']);
                                        $document['FtpDirectoryUrl'] = preg_replace('/^uploads\//', '', $document['FtpDirectoryUrl']);
                                        $delete_button = '';
                                        if ($typeSend != 'sent' && $typeSend != 'rectification') {
                                            $delete_button = ((strtolower($type_id) == '0b4b6324-5dae-4ab8-b973-86c4a39409e1')) ? '<span class="MultiFile-remove" onclick="window_delete_application_file(\'' . $document['Id'] . '\', 2)">x</span>' : '';
                                        } ?>
                                        <?php
                                        ?>
                                        <?= $delete_button ?>

                                        <a target="_blank" href="/uploads/<?= $document['FtpDirectoryUrl'] ?>"
                                           download="<?= $document['RealFileName'] ?>">
                                            <?= $document['RealFileName'] ?>
                                        </a> <br>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; endif; ?>

<!--        --><?php //foreach ($applicationExtraDocument as $value){?>
<!--            <tr>-->
<!--                <td>--><?//=$value->RealName?><!--</td>-->
<!--                <td><a href="--><?//=$this->url('eo/default',['controller'=>"declaration","action"=>"getApplicationExtraDocumentFile","id"=>$value->id])?><!--">Скачать</a></td>-->
<!--            </tr>-->
<!--        --><?php //}?>

    </table>
    <div id="result"></div>
</form>


<form id="extraDocumentForm2" enctype="multipart/form-data" method="POST">
    <table class="TableFile">


        <tr>
            <td style="width: 70%">
                <select style="width: 100%" name="program">
                    <option value="Образовательная программа"> Образовательная программа</option>
                    <option value="Расписания учебных занятий."> Расписания учебных занятий.</option>
                    <option value="Расписания промежуточных аттестаций, государственной итоговой аттестации (итоговой аттестации) (при наличии)."> Расписания промежуточных аттестаций, государственной итоговой аттестации (итоговой аттестации) (при наличии).</option>
                    <option value="Индивидуальные учебные планы обучающихся (при наличии)."> Индивидуальные учебные планы обучающихся (при наличии).</option>
                    <option value="Документы, содержащие информацию об индивидуальном учете результатов освоения обучающимися образовательной программы, предусмотренные локальными нормативными актами организации, осуществляющей образовательную деятельность."> Документы, содержащие информацию об индивидуальном учете результатов освоения обучающимися образовательной программы, предусмотренные локальными нормативными актами организации, осуществляющей образовательную деятельность.</option>
                    <option value="Документы и материалы о результатах научно-исследовательской работы обучающихся (патенты, свидетельства, научные статьи, дипломы выставок, конкурсов) (при наличии)."> Документы и материалы о результатах научно-исследовательской работы обучающихся (патенты, свидетельства, научные статьи, дипломы выставок, конкурсов) (при наличии).</option>
                    <option value="Отчетность обучающихся по практикам, оценочный материал и результаты аттестации по практикам (при наличии)."> Отчетность обучающихся по практикам, оценочный материал и результаты аттестации по практикам (при наличии).</option>
                    <option value="Выпускные квалификационные работы (при наличии)."> Выпускные квалификационные работы (при наличии).</option>
                    <option value="Протоколы заседаний государственной экзаменационной комиссии (при наличии)."> Протоколы заседаний государственной экзаменационной комиссии (при наличии).</option>
                    <option value="Отзывы руководителей выпускных квалификационных работ о работе обучающихся в период подготовки выпускной квалификационной работы (при наличии)."> Отзывы руководителей выпускных квалификационных работ о работе обучающихся в период подготовки выпускной квалификационной работы (при наличии).</option>
                    <option value="Рецензии на выпускные квалификационные работы по программам специалитета и магистратуры (при наличии)."> Рецензии на выпускные квалификационные работы по программам специалитета и магистратуры (при наличии).</option>
                    <option value="Документы, предусмотренные локальным нормативным актом, организации, осуществляющей образовательную деятельность, устанавливающим порядок и форму проведения итоговой аттестации по не имеющим государственной аккредитации образовательным программам (при наличии)."> Документы, предусмотренные локальным нормативным актом, организации, осуществляющей образовательную деятельность, устанавливающим порядок и форму проведения итоговой аттестации по не имеющим государственной аккредитации образовательным программам (при наличии).</option>
                    <option value="Договоры об организации и проведении практик, заключенные между организацией, осуществляющей образовательную деятельность, и организациями, осуществляющими деятельность по профилю, соответствующему образовательной программе (при наличии)."> Договоры об организации и проведении практик, заключенные между организацией, осуществляющей образовательную деятельность, и организациями, осуществляющими деятельность по профилю, соответствующему образовательной программе (при наличии).</option>
                    <option value="Договоры о сетевой форме реализации образовательной программы (при наличии)."> Договоры о сетевой форме реализации образовательной программы (при наличии).</option>
                    <option value="Штатное расписание, копии трудовых договоров (служебных контрактов) с педагогическими работниками, трудовых книжек, документов об образовании и (или) о квалификации."> Штатное расписание, копии трудовых договоров (служебных контрактов) с педагогическими работниками, трудовых книжек, документов об образовании и (или) о квалификации.</option>
                    <option value="Индивидуальные планы работы научно-педагогических работников."> Индивидуальные планы работы научно-педагогических работников.</option>
                    <option value="Документы, подтверждающие наличие (или право использования) в организации, осуществляющей образовательную деятельность, электроннобиблиотечной системы (электронной библиотеки) и электронной информационно- образовательной среды"> Документы, подтверждающие наличие (или право использования) в организации, осуществляющей образовательную деятельность, электроннобиблиотечной системы (электронной библиотеки) и электронной информационно- образовательной среды</option>
                    <option value="Документы, подтверждающие наличие в организации, осуществляющей образовательную деятельность, материально-технической базы, соответствующей требованиям ФГОС"> Документы, подтверждающие наличие в организации, осуществляющей образовательную деятельность, материально-технической базы, соответствующей требованиям ФГОС</option>
                    <option value="Договоры о создании в образовательной организации, реализующей образовательные программы высшего образования, научными организациями и иными организациями, осуществляющими научную (научно- исследовательскую) деятельность"> Договоры о создании в образовательной организации, реализующей образовательные программы высшего образования, научными организациями и иными организациями, осуществляющими научную (научно- исследовательскую) деятельность</option>
                    <option value="Договоры о создании организацией, реализующей образовательные программы высшего образования, в научных организациях и иных организациях, осуществляющих научную (научно-исследовательскую) деятельность, кафедр, осуществляющих образовательную деятельность (при наличии)."> Договоры о создании организацией, реализующей образовательные программы высшего образования, в научных организациях и иных организациях, осуществляющих научную (научно-исследовательскую) деятельность, кафедр, осуществляющих образовательную деятельность (при наличии).</option>
                    <option value="Договоры о создании образовательной организацией высшего образования кафедр и иных структурных подразделений, обеспечивающих практическую подготовку обучающихся, на базе иных организаций, осуществляющих деятельность по профилю соответствующей образовательной программы (при наличии)."> Договоры о создании образовательной организацией высшего образования кафедр и иных структурных подразделений, обеспечивающих практическую подготовку обучающихся, на базе иных организаций, осуществляющих деятельность по профилю соответствующей образовательной программы (при наличии).</option>
                    <option value="Документы, подтверждающие общественную аккредитацию организации, осуществляющей образовательную деятельность, в российских, иностранных и международных организациях и профессионально-общественную аккредитацию образовательных программ"> Документы, подтверждающие общественную аккредитацию организации, осуществляющей образовательную деятельность, в российских, иностранных и международных организациях и профессионально-общественную аккредитацию образовательных программ</option>
                    <option value="Результаты независимой оценки качества подготовки обучающихся (при наличии)."> Результаты независимой оценки качества подготовки обучающихся (при наличии).</option>
                    <option value="Локальные нормативные акты по основным вопросам организации и осуществления образовательной деятельности, в том числе регламентирующие"> Локальные нормативные акты по основным вопросам организации и осуществления образовательной деятельности, в том числе регламентирующие</option>
                    <option value="Распорядительные акты">Распорядительные акты</option>
                </select>
            </td>
            <td>
                <input id="qwe" class="extraDocumentFormButtom2" type="file" value="qwe" name="fileSelect"    accept=".pdf.sig,.zip.sig.docx.doc.txt.zip.rar">
            </td>


        </tr>


        <input type="hidden" name="app" value="<?= $cur_appl->getId() ?>">
        <input type="hidden" name="type" value="101">
        <input type="hidden" name="expert_id" value="<?= $userId ?>">
        <div class="br"><span class="title_name">Документы для проведения акредитационной экспертизы</span><span class="bord"></span></div>


        </tr>
    </table>

</form>
<table>
    <tr>
        <td>Файл</td>
        <td>Ссылка</td>
    </tr>

    <?php foreach (array_reverse($applicationExtraDocument)  as $value){ ?>
        <tr>
            <td>
                <?= $value['eduProgramSelectNew']?>
            </td>
            <td class="a-linkes-generate-database">
                <a href="/eo/declaration/getApplicationExtraDocumentFile/<?= $value['id']?>"><?= $value['RealName']?></a>
            </td>
        </tr>
    <?php } ?>
<!--    --><?php
//    $file_corrupts = $application_file_corrupt->toArray();
//    foreach ($file_corrupts as $file_corrupt){
//        $new = $file_corrupt;
//        ?>
<!--        <tr>-->
<!--            <td>--><?//=$file_corrupt['RealName']?><!--</td>-->
<!--            <td> <a href="/eo/declaration/getApplicationCurrupt/--><?//=$file_corrupt['id']?><!--">Скачать</a></td>-->
<!--        </tr>-->
<!--    --><?php //   };?>

</table>

<table class="TableFile">
    <?php if (!$cur_appl->isEmptyField("RecallApplicationScan")): ?>
        <tr class="tr-row-in-t-11">
            <td><span class="labelText">Заявление об отзыве</span></td>
            <td width="340">
                <div class="containerWrapFile">
                    <div class="FileListWrap ">
                        <div>
                            <span class="MultiFile-remove"
                                  onclick="window_delete_application_file('<?= $cur_appl->getField("Id") ?>', 3)">x</span>
                            <?php /*?><a href="/downloadfile.php?name=<?=$cur_appl->getField("RecallApplicationScan")?>" target="_blank" download="<?=$cur_appl->getField("RecallApplicationScanFileName")?>"><?=$cur_appl->getField("RecallApplicationScanFileName")?></a><?*/ ?>
                            <a target="_blank" href="/uploads/<?= $cur_appl->getField("RecallApplicationScan") ?>"
                               download="<?= $cur_appl->getField("RecallApplicationScanFileName") ?>"><?= $cur_appl->getField("RecallApplicationScanFileName") ?></a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>


    <?php endif; ?>
</table>
</div>

<?php
if ('2D675622-1E14-4063-AD11-B647B836746D' == $appStatus && 2 == $isReceived) {
    ?>
    <div id="back_win"></div>
    <div id="but_wrap_child_left">
        <ul class="nav_footer" id="footer_button_back">
            <li class="filelink" numb="1" id="unsendform1_3">
                <a id="back_button" class="isReceived9" href="javascript:;" onclick="backShow();">
                    <div></div>
                    <span class="text">Отозвать</span>
                </a>
            </li>
        </ul>
    </div>
<?php } ?>


<style>
    .TableFile td:first-child {
        padding-left: 15px;
    }
</style>

<script>


    var _MAX_COUNT_UPLOADED_FILES =  <?php echo $max_count_uploaded_files;?>;
    $("document").ready(function () {
        checkUploadFilesCount();
        $("input[type=file]").change(function (e) {
            checkUploadFilesCount();
        })
        $("body").on("click", ".MultiFile-remove", function () {
            checkUploadFilesCount();
        })
    })

    function checkUploadFilesCount() {
        var containerWrapFile = $(".containerWrapFile");
        containerWrapFile.each(function(i,elem) {
            console.log(i,"/",$(elem).find('.uploaded-files').length,"/",_MAX_COUNT_UPLOADED_FILES);
            //console.log($(elem).find('.uploaded-files').length);
            if ($(elem).find('.uploaded-files').length >= _MAX_COUNT_UPLOADED_FILES) {
                $(elem).find("input[type=file]").prop('disabled', true);
            } else {
                $(elem).find("input[type=file]").prop('disabled', false);
            }
        });

//        if ($(".uploaded-files").length > _MAX_COUNT_UPLOADED_FILES) {
//            $("input[type=file]").prop('disabled', true);
//        } else {
//            $("input[type=file]").prop('disabled', false);
//        }
    }

    /**
     * окно удаление документа
     * @param {Integer} file_id ид удаляемого файла
     * @param {Integer} table_flag value = 1 - удаляем из таблицы isga_ApplicationFiles, 2 - из таблицы isga_ApplicationDocumentGroups
     */
    function window_delete_application_file(file_id, table_flag) {
        var buttons = '<div class="nav_footer" style="float:right"><ul><li><a href="javascript:;" onclick="delete_application_file(\'' + file_id + '\', ' + table_flag + ')">Удалить</a></li><li><a href="javascript:;" onclick="$(\'.dialog\').dialog(\'close\');$(\'.dialog\').remove();">Отмена</a></li></ul></div>';
        $('.dialog').remove();
        $("<div class='dialog'></div>").html("<p class='message_for_user'>Удалить документ?</p>" + buttons)
            .dialog({
                autoOpen: false,
                title: "Уведомление",
                modal: true
            }).dialog("open");
    }

    /**
     * удаление документа
     * @param {Integer} file_id ид удаляемого файла
     * @param {Integer} table_flag value = 1 - удаляем из таблицы isga_ApplicationFiles, 2 - из таблицы isga_ApplicationDocumentGroups
     */
    function delete_application_file(file_id, table_flag) {
        $.ajax({
            type: "POST",
            url: "/eo/declaration/delete-application-files",
            dataType: 'json',
            beforeSend: function () {
                $(".loading-overlay").show();
            },
            data: ({file_id: file_id, table_flag: table_flag}),
            success: function (data) {
                $(".loading-overlay").hide();
                $('#list_tabs .show_tab.active').click();
                var message = "Документ успешно удален"
                if (data.response == 'error') {
                    message = data.message;
                }

                $('.dialog').dialog("close");
                $('.dialog').remove();
                var buttons = '<div class="nav_footer" style="float:right"><ul><li><a href="javascript:;" onclick="$(\'.dialog\').dialog(\'close\');$(\'.dialog\').remove();">Закрыть</a></li></ul></div>';
                $("<div class='dialog'></div>").html("<p>" + message + buttons + "</p>")
                    .dialog({
                        autoOpen: false,
                        title: "Уведомление",
                        modal: true
                    }).dialog("open")

            }
        });
    }
</script>