<div class="container">
    <div id="head_pop">
        <h2 id="title_pop">Заявление об отзыве</h2>
        <div id="back_close">
        </div>

    </div>
    <div class="viewzone">
        <!--<form id="back_declaration" method="POST" target="hiddenframe" action="/eo/declaration/back" enctype="multipart/form-data"> -->
        <form id="back_declaration" method="POST" target="hiddenframe" action="/eo/declaration/save-file/" enctype="multipart/form-data">
            <table >
                <tr>
                    <td colspan="2">
                        <?php  if(isset($applicationBack)){ ?>
                          Заявление об отзыве отправлено <?= date('d.m.Y',strtotime($applicationBack->getField('DateCreate'))) ?>
                        <?php }else { ?>
                        Заявление об отзыве должно быть оформлено на имя руководителя Рособрнадзора и содержать дату, подпись и печать ректора образовательной организации
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td class="title_form">
                        Скан заявления об отзыве
                    </td>
                    <td>
                        <?php  if(!empty($backFile)){ ?>
                        <a target="_blank"  href="/uploads/<?= $backFile->getField('HashName') ?>" download="<?= $backFile->getField('RealName') ?>"><?= $backFile->getField('RealName') ?>
                         </a>
                        <?php }else { ?>
                        <input style="border:none;" multuple="multiple" id="back_declaration_file" type="file" name="backReasonFile" />
                        <?php } ?>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div id="but_back_child_right">
    <ul class="nav_footer" id="back_button">

        <li class="filelink ic_sent"  id="back_cancel">
            <a id="back_button_cancel" href="javascript:;" onclick="$('#back_close').click();">
                <div></div>
                <span class="text">Отмена</span>
            </a>
        </li>
        <?php  if(!isset($applicationBack)){ ?>
        <li class="filelink" id="back_send">
            <a href="javascript:;" onclick="backSend('/eo/declaration/back/' + $('#id_application_val').val() + '/' + $('.active_fil').attr('id_org'))">
                <div></div>
                <span class="text">Отправить</span>
            </a>
        </li>
        <?php } ?>

    </ul>
</div>
<style>
    #back_declaration td {
        padding: 10px 5px;
	border: 0;
    }

#back_declaration td.title_form {
    width: 26%;
}
#back_declaration textArea{
    resize: none;
    width: 100%;
}
#back_win .viewzone {height: 160px!important;}
</style>



<style>
        #back_win{
            display:none;
            position:absolute;
            width:756px;
            height:220px;
            left:50%;
            top:50%;
			margin:-142px 0 0 -380px;
            padding:0;
            border: 2px solid #dcdce8;
            z-index:999;
            overflow-y: auto;
            background-color:white;
        }

</style>

<script>
//вносим данные в таблицу
function backSave(){
    var url='/eo/declaration/back/'+$("#id_application_val").val();
    var data=new FormData();
    //var name=jQuery('#back_declaration_text').attr('name');
    //var value=jQuery('#back_declaration_text').val();
    //data.append( name,value);
    data.append( 'action','save')
    $.ajax({
        type: 'POST',
        data:data,
        url: url,
        async:false,
        processData: false,
        contentType: false,
        dataType: 'text',
        error: function (obj, err) {
            useTopHoverTitleError('Ошибка связи');
        },
        success: function(answer) {
            if (answer==='Ok'){
                useTopHoverTitle('Cохранено');
                $('#back_close').click();
                console.log("надо перегрузить табличку с записями");
                var row=jQuery(".supplements .active_appl td");
                jQuery(row[6]).text('Подана заявка на отзыв');
                console.log("Закрываем карточку");
                $('#cboxClose').click();
            }else{
                useTopHoverTitleError('Ошибка при сохранении');
            }

        }
    });

}
        //записываем файл
function backSaveFile(){
    var url = '/eo/declaration/save-file/' + $("#id_application_val").val();
    var file = 'BC56DC56-C34A-4556-ABCD-AB45D6CD3CDA_0';
    $("#back_declaration_file").attr('name', file);
    $("#back_declaration").attr('action', url);
    //var test0 = $("#back_declaration_file");
    var fileData = $("#back_declaration_file")[0].files[0];
    var fd = new FormData();
    fd.append(file, fileData);
    $.ajax({
        type: 'POST',
        url: url,
        data: fd,
        async: false,
        processData: false,
        contentType: false,
        dataType: 'text',
        error: function (obj, err) {
            useTopHoverTitleError('Ошибка связи');
        },
        success: function (answer) {
            var i1 = answer.indexOf('{"error');
            if (i1 >= 0) {
                var i2 = answer.indexOf('"}');
                var jsstr = answer.substr(i1, i2 - i1 + 2);
                var jsdata = JSON.parse(jsstr);
                if (jsdata !== undefined && jsdata['error'] !== undefined) {
                    useTopHoverTitleError(jsdata['error']);
                    return false;
                }
                backSave();
            } else {
                backSave();
            }
        }
    });

}

function backSend(url) {
    //var reason;
    var file;
    file = $("#back_declaration_file").val();
    if (file == '') {
        useTopHoverTitleError('Нет скана заявления');
        return 0;
    }
    //сохраняем файл в хранилище
    backSaveFile();
    //$("#back_declaration").submit();
}

</script>