<? /**
 * url:  /eo/declaration/edit/ид-за-ния
 * path: /module/Eo/view/eo/declaration/edit.phtml
 */ ?>
<script>
    <?php if (!empty($max_show_tab)) : ?>
    max_show_tab = <?= $max_show_tab ?>;
    <?php endif; ?>
</script>

<?php 
$notBack=  new Model\Entities\isgaSettings();
$notBack = $notBack->getByWhere('name = "recallStatuses"');
$notBack = explode(',',$notBack->getField('value'));
$notBack = array_map('strtolower', $notBack);
$removal = empty($removal)?false:$removal;

$isReceived = 0;
if( !empty($moreInfo)){
    $isReceived = $moreInfo->getFieldSafe('Received');
}

?>
<?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
    <?php $status = $application->isEmptyField('fk_isgaApplicationStatus')?null:strtolower($application->getField('fk_isgaApplicationStatus')); ?>
<?php endif; ?>

<div class="container" style="height: 95%; ">
<div id="head_pop"><h2 id="title_pop">Заявление о государственной аккредитации</h2><div id="cboxClose"></div></div>
<div class="viewzone"  data-heightdelta="75">
<ul id="list_tabs">
    <li><a class="active show_tab" tab="1" href="javascript:;">Свойства заявления</a></li>
    <li><a class="show_tab" tab="2" href="javascript:;">Филиалы</a></li>
    <li><a class="show_tab" tab="3" href="javascript:;">Образовательные программы</a></li>
    <?php /* if($deprivation){?><li><a class="show_tab" style="" tab="deprivation" href="javascript:;">Образовательные программы для лишения</a></li><?php } */?>
        <li style="<?=($deprivation)?"":"display:none;";?>"><a class="show_tab" tab="deprivation" href="javascript:;">Образовательные программы для лишения</a></li>
        <li style="<?=($removal)?"":"display:none;";?>"  ><a class="show_tab" tab="removal" href="javascript:;">Исключаемые ОП</a></li>
    <li><a class="show_tab" tab="4" href="javascript:;">Документы</a></li>
    <li><a class="show_tab <?=/*($type=='rectification')?'':*/'hide'?>" tab="7" href="javascript:;" id="notify-tab">Несоответствия</a></li>
    

</ul>
<div class="idApplicationWrap"></div>
<div id="tab1" class="tabs-panel show-panel">
<form id="edit_declaration1" method="POST" target="hiddenframe" action="/eo/declaration/save-declaration">
<input type="hidden" value='add1' name='save_type'>
<input type="hidden" value="<?= $idorg ?>" name="0[fk_eiisEducationalOrganization]">
<?php
if (isset($application) && $application != NULL) {
    echo "<input type='hidden' name='0[Id]' value='" . $application->getField('Id') . "'>";
    echo " <input type='hidden' id='id_application_val' value='" . $application->getField('Id') . "'/>";
    echo " <input type='hidden' id='status_application' value='" . $application->getField('fk_isgaApplicationStatus') . "'/>";
}
?>
<table id="fields_form">
    <tr>
        <td class="title_form">Тип заявления</td>
        <td>
            <?php if( !isset($application) && !isset($currentType) ) { ?>
                <select required id="type_declaration">
                    <?php
                    foreach ($types as $type) {
                        ?>
                        <option  value="<?= $type->getField('Id') ?>"><?= $type->getField('Name') ?></option>
                    <?php } ?>
                </select>
            <?php } else {?>
                <input type="hidden" id="type_declaration" value="<?=empty($currentType)?'':$currentType->getField("Id")?>">
                <input type="text" value="<?=empty($currentType)?'':$currentType->getField("Name")?>" disabled="disabled">
            <?php } ?>
        </td>
    </tr>
    <tr>
        <td class="title_form">Основания заявления</td>
        <?php if( !isset($application) && !isset($currentReason) ) { ?>
            <td id="reason_td">
                <div><input style="display:none;" class="check_req" name="0[fk_isgaApplicationReason][]" checked="checked"  type="checkbox" groupe_id value="24e060cb-6384-4009-b9ce-93a775678732">-</div>
                <?php /*<select required id="reason_select" name="0[fk_isgaApplicationReason]">
                                    <option value="24e060cb-6384-4009-b9ce-93a775678732">-</option>
                                </select>*/ ?>
            </td>
        <?php } elseif($currentReason!=NULL) {
            $httpHost = $_SERVER['HTTP_HOST'];
            $testHost = '85.192.47.4';
            $notReason = array();
            /*if( $httpHost != $testHost && substr($httpHost,0,4) != 'f11.' ){
                $notReason = array('39788d86-0f59-489d-b43d-e4557aa6d466','512C17E5-CC59-4373-B6CB-C0C07F93DACF');
            }*/
            if($type=='new'){
                if($reasons!=NULL){?>
                    <td id="reason_td">
                        <?php foreach ($reasons as $reason) {
                            if(!in_array($reason->getField('Id'),$notReason)){
                                if (strtolower($reason->getField('fk_isgaApplicationType')) == "b30d724a-17d1-4792-8c75-8f9db2a6ce57") {
                                    ?>
                                    <div><input style="display:none;" class="check_req" name="0[fk_isgaApplicationReason][]" checked="checked"  type="checkbox" groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>">-</div>
                                <?php } elseif(is_array($currentReason)&&in_array($reason->getField('Name'),$currentReason)) { ?>
                                    <div><input class="check_req" name="0[fk_isgaApplicationReason][]" type="checkbox"  checked="checked" groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>"> - <?= $reason->getField('Name') ?></div>
                                <?php }elseif(!is_array($currentReason)&&$reason->getField('Name')==$currentReason){?>
                                    <div><input class="check_req" name="0[fk_isgaApplicationReason][]" type="checkbox"  checked="checked" groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>"> - <?= $reason->getField('Name') ?></div>
                                <?php }else{?>
                                    <div><input class="check_req" name="0[fk_isgaApplicationReason][]" type="checkbox"  groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>"> - <?= $reason->getField('Name') ?></div>
                                <?php }
                            }
                        }?>
                    </td>
                <?php } ?>
            <?php }else{ ?>
                <td>
                    <?php if(is_array($currentReason)){ ?>
                        <?php foreach($currentReason as $oneReason){?>
                            <input type="text" value="<?=$oneReason?>" disabled="disabled" class="inpmarg">
                        <?php } ?>
                    <?php }else{ ?>
                        <input type="text" value="<?=$currentReason?>" disabled="disabled" class="inpmarg">
                    <?php }?>
                </td>
            <?php } ?>
        <?php } ?>
    </tr>
    <?php if(!isset($application) && !isset($currentReorg) ) { ?>
        <tr id="full_name_reor">
            <td class="title_form">Полное наименование реорганизованной организации </td>
            <td><div ><input type="hidden" name="ListOfIdStruturs" id="ListOfReorgStruct"></div><textarea id="nameOfReorg" onclick="showPop('/eo/declaration/get-edu-org/0')" readonly="readonly" ></textarea><input type="button" id="reorg_butt" onclick="showPop('/eo/declaration/get-edu-org/0')" value="+"> </td>
        </tr>
    <?php } elseif($currentReorg!==NULL) { ?>
        <tr>
            <td class="title_form">Полное наименование реорганизованной организации </td>
            <td><textarea id="nameOfReorg" disabled="disabled" value=""><?=$currentReorg?></textarea><input type="hidden" name="ListOfIdStruturs" id="ListOfReorgStruct" value="<?=$idsReorg?>"></td>
        </tr>
    <?php } ?>

    <tr>
        <td class="title_form">Предыдущее свидетельство</td>
        <td id="cetificateWrap">
            <?php if(!isset($application) && !isset($currentCert) ) { ?>
                <select name="0[fk_isgaPreviousCertificate]">
                    <?php
                    foreach ($certificates as $certificate) {
                        var_dump($certificate->getField('fk_isgaCertificateStatus'));
                        if ($certificate->getField('fk_isgaCertificateStatus') == 'cba8e890-429a-4d6a-b81c-0f530a7970cc' || $certificate->getField('fk_isgaCertificateStatus') == 'CBA8E890-429A-4D6A-B81C-0F530A7970CC') {
                            ?>
                            <option selected value="<?= $certificate->getField('Id') ?>">№ <?= $certificate->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($certificate->getField('DateIssue'))) ?> (Действующее) </option>
                        <?php } else { ?>
                            <option value="<?= $certificate->getField('Id') ?>">№ <?= $certificate->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($certificate->getField('DateIssue'))) ?> (Недействующее) </option>
                        <?php
                        }
                    }
                    ?>
                </select>
            <?php } elseif($currentCert) {
                if ( ($currentCert->getField('fk_isgaCertificateStatus') == 'cba8e890-429a-4d6a-b81c-0f530a7970cc' || $currentCert->getField('fk_isgaCertificateStatus') == 'CBA8E890-429A-4D6A-B81C-0F530A7970CC')) { ?>
                    <input type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Действующее) ">
                <?php } else { ?>
                    <input type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Недействующее) ">
                <?php }
            } ?>
        </td>
    </tr>
    <tr>
        <td class="title_form">Действующая лицензия</td>
        <td>
            <?php if( !isset($application) && !isset($currentLicense) ) { ?>
                <select  name="0[fk_eiisLicense]">
                    <?php
                    foreach ($licenses as $license) {
                        $licensedStatus = $license->getLinkedItem('eiis_LicenseStates', array("Id" => $license->getField('fk_eiisLicenseState')));
                        if ($licensedStatus->getField('IsValid') == 1) {
                            ?>
                            <option selected value="<?= $license->getField('Id') ?>">№ <?= $license->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($license->getField('DateLicDoc'))) ?> (Действует) </option>
                        <?php } else { ?>
                            <option value="<?= $license->getField('Id') ?>">№ <?= $license->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($license->getField('DateLicDoc'))) ?> (Не действует) </option>
                        <?php
                        }
                    }
                    ?>
                </select>
            <?php } else {
                $licensedStatus = $currentLicense->getLinkedItem('eiis_LicenseStates', array("Id" => $currentLicense->getField('fk_eiisLicenseState')));
                if ($licensedStatus->getField('IsValid') == 1) { ?>
                    <input type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateLicDoc'))) ?> (Действует) ">
                <?php } else { ?>
                    <input type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateLicDoc'))) ?> (Не действует) ">
                <?php }
            } ?>
        </td>
    </tr>
    <?php
    if (isset($copyApplicationDoc)&&!empty($copyApplicationDoc))
    {
        $href = str_replace("/public","",$copyApplicationDoc['FtpDirectoryUrl']);
        if(strpos($href,'/uploads') === false){
            $href = '/uploads/'.$href;
        }?>
        <tr>
            <td class="title_form"> Копия заявления</td>
            <td><a href="<?=$href?>"><?=$copyApplicationDoc['RealFileName']?></a></td>
        </tr>
    <?php
    }
    /*
    ?>
    <tr>
        <td colspan="2"><div class="section-title">Лицензия на работу с государственной тайной</div></td>
    </tr>
    <tr>
        <?php
        if ( isset($moreInfo)&& $moreInfo != NULL ) {
            echo '<input type="hidden" name="1[Id]" value="' . $moreInfo->getField('Id') . '">';
        }
        ?>
        <td class="title_form">Регистрационный номер</td>
        <td><input name="1[RegNumber]" type="text" value="<?php
            if ( isset($moreInfo) && $moreInfo != NULL ) {
                echo $moreInfo->getField('RegNumber');
            }
            ?>"></td>
    </tr>
    <tr>
        <td class="title_form">Серия, номер бланка лицензии</td>
        <td><input name="1[SiriesNumber]" type="text" value="<?php
            if ( isset($moreInfo) && $moreInfo != NULL ) {
                echo $moreInfo->getField('SiriesNumber');
            }
            ?>"></td>
    </tr>
    <tr>
        <td class="title_form">Дата выдачи лицензии</td>
        <td><div style="position: relative;"><input name="1[DateReg]" class="input-date" type="text" value="<?php
                if ( isset($moreInfo) && $moreInfo != NULL && $moreInfo->getField('DateReg')!="0000-00-00" && $moreInfo->getField('DateReg')!="1970-01-01"&&$moreInfo->getField('DateReg')!=NULL) {
                    echo date('d.m.Y', strtotime($moreInfo->getField('DateReg')));
                }
                ?>"><span class="date-icon"></span></div></td>
    </tr>
    <tr>
        <td class="title_form">Срок действия лицензии</td>
        <td><div style="position: relative;"><input name="1[DateEnd]" class="input-date" type="text" value="<?php
                if ( isset($moreInfo) && $moreInfo != NULL && $moreInfo->getField('DateEnd')!="0000-00-00" && $moreInfo->getField('DateReg')!="1970-01-01"&&$moreInfo->getField('DateEnd')!=NULL) {
                    echo date('d.m.Y', strtotime($moreInfo->getField('DateEnd')));
                }
                ?>"><span class="date-icon"></span></div></td>
    </tr>
    <?*/?>
    <?php /*<tr>
                        <td class="title_form">Информировать о ходе процедуры аккредитации</td>
                        <td><input name="1[Information]" <?php
                            if ( isset($moreInfo) && $moreInfo != NULL && $moreInfo->getField('Information') == 1) {
                                echo 'checked';
                            }
                            ?> type="checkbox" value="1"></td>
                    </tr>
                    */ ?>
    <tr>
        <td colspan="2"><div class="section-title">Информирование о ходе процедуры</div></td>
    </tr>
    <tr>
        <td class="title_form">Уполномоченное лицо </td>
        <td><input class="required" name="1[Persona]" value="<?php
            if ( !empty($moreInfo)  ) {
                echo $moreInfo->getFieldHtml('Persona');
            }
            ?>" type="text"></td>
    </tr>
    <tr>
        <td class="title_form">Телефон</td>
        <td><input class="required" name="1[Number]" value="<?php
            if ( !empty($moreInfo) ) {
                echo $moreInfo->getFieldHtml('Number');
            }
            ?>" type="tel"></td>
    </tr>
    <tr>
        <td class="title_form">Email </td>
        <td><input class="required" name="1[Email]" value="<?php
            if ( !empty($moreInfo) ) {
                echo $moreInfo->getFieldHtml('Email');
            }
            ?>" type=email"></td>
    </tr>
</table>

<input style="display:none;" id="submitFirstForm" type="submit">
</form>
<?php /*if(isset($application) && $application->getField('fk_isgaApplicationStatus')=="2D675622-1E14-4063-AD11-B647B836746D") : */?>

<?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
    <?php if (isset($status)&& !in_array($status, $notBack)  && 2 == $isReceived ) : ?>
        <div id="but_wrap_child_left">
            <ul class="nav_footer" id="footer_button_back">
                <li class="filelink" numb="1" id="unsendform1_3" >
                    <a id="back_button" class="isReceived5" href="javascript:;" onclick="backShow();">
                        <div></div>
                        <span class="text">Отозвать</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="back_win">
        </div>
    <?php endif ?>
<?php endif ?>
</div>
<div id="tab2" class="tabs-panel">
    <form id="edit_declaration2" method="POST" target="hiddenframe" action="/eo/declaration/save-declaration-license">
        <input type="hidden" value='add2' name='save_type'>
        <table id="fillials_table_list">
        </table>
        <input style="display:none;" id="submit2Form" type="submit">
    </form>
    <div id="but_wrap_child_left">
        <ul class="nav_footer btn_filial_add_count" id="footer_button">
            <div id="btActions-block">
                <?php if($type != 'sent'){?>
                    <li class="filelink" >
                        <a href="javascript:;" onclick="showPop('/eo/declaration/get-application-fillials/' + $('#id_application_val').val(),1)">
                            <div></div>
                            <span class="text">Добавить</span>
                        </a>
                    </li>
                <?php }?>
                <?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
                    <?php if (isset($status)&& !in_array($status, $notBack)   && 2 == $isReceived) : ?>
                        <li class="filelink " numb="1" id="unsendform1_3" >
                            <a id="back_button" class=" isReceived6"  href="javascript:;" onclick="backShow();">
                                <div></div>
                                <span class="text">Отозвать</span>
                            </a>
                        </li>
                    <?php endif ?>
                <?php endif ?>
                <?php /*if(isset($application) && $application->getField('fk_isgaApplicationStatus')=="2D675622-1E14-4063-AD11-B647B836746D") : ?>
                    <li class="filelink" numb="1" id="unsendform1_3" >
                        <a id="back_button" href="javascript:;" onclick="backShow();">
                            <div></div>
                            <span class="text">Отозвать</span>
                        </a>
                    </li>
                <?php endif */ ?>
            </div>
        </ul>
    </div>
</div>
<div id="tab3" class="tabs-panel">
    <div class="leftSideBar"></div>
    <div class="rightSideBar"></div>

    <div id="but_wrap_child_left" class="tab-futer-left" >
        <ul class="nav_footer" >
            <div id="btActions-application" style="float: left;">
                <?php /*if($type == 'sent'){?>
                    <li class="filelink filelink" >
                        <a href="javascript:;" onclick="_addOpOrg()">
                            <div></div>
                            <span class="text">Добавить все ОП по организации</span>
                        </a>
                    </li>
                <?php } */?>
                <?php if (isset($application) && isset($moreInfo) && isset($currentType)   && 2 == $isReceived ): ?>
                    <?php if (isset($status)&& !in_array($status, $notBack)) : ?>
                        <li class="filelink " numb="1" id="unsendform1_3" >
                            <a id="back_button" class="isReceived1" href="javascript:;" onclick="backShow();">
                                <div></div>
                                <span class="text">Отозвать</span>
                            </a>
                        </li>
                    <?php endif ?>
                <?php endif ?>
            </div>
        </ul>
    </div>
<?php /*
    <div id="but_wrap_child_left">
        <ul class="nav_footer" id="footer_button">
            <div id="btActions-block">
                <?php if(isset($application) && $application->getField('fk_isgaApplicationStatus')=="2D675622-1E14-4063-AD11-B647B836746D") : ?>
                    <li class="filelink" numb="1" id="unsendform1_3" >
                        <a id="back_button" href="javascript:;" onclick="backShow();">
                            <div></div>
                            <span class="text">Отозвать</span>
                        </a>
                    </li>
                <?php endif ?>
            </div>
        </ul>
    </div>*/ ?>
</div>

<div id="tab4" class="tabs-panel">

</div>
<div id="tab7" class="tabs-panel">
    <?php if($type=='rectification'){?>
    <?php include "notify-tab.phtml" ?>
    <?php /*if(isset($application) && $application->getField('fk_isgaApplicationStatus')=="2D675622-1E14-4063-AD11-B647B836746D"){ $notifyTabEbable=1;} include "notify-tab.phtml" ?>
    <?php if(isset($application) && $application->getField('fk_isgaApplicationStatus')=="2D675622-1E14-4063-AD11-B647B836746D") : */ ?>
    <?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
        <?php if (isset($status)&& !in_array($status, $notBack)  && 2 == $isReceived ) : ?>
        <div id="but_wrap_child_left">
            <ul class="nav_footer " id="footer_button_back">
                <li class="filelink" numb="1" id="unsendform1_3" >
                    <a id="back_button" class=" isReceived2" href="javascript:;" onclick="backShow();">
                        <div></div>
                        <span class="text">Отозвать</span>
                    </a>
                </li>
            </ul>
        </div>
    <?php endif ?>
    <?php endif ?>
    <?php }?>
</div>
    <div id="tabdeprivation" class="tabs-panel">
        <div class="leftSideBarDeprivation"></div>
        <div class="rightSideBarDeprivation"></div>

        <div id="but_wrap_child_left" class="tab-futer-left" >
            <ul class="nav_footer" >
                <div id="btActions-application" style="float: left;">
                    <?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
                        <?php if (isset($status)&& !in_array($status, $notBack)  && 2 == $isReceived ) : ?>
                            <li class="filelink " numb="1" id="unsendform1_3" >
                                <a id="back_button" class=" isReceived3"  href="javascript:;" onclick="backShow();">
                                    <div></div>
                                    <span class="text">Отозвать</span>
                                </a>
                            </li>
                        <?php endif ?>
                    <?php endif ?>
                </div>
            </ul>
        </div>
    </div>
    <div id="tabremoval" class="tabs-panel">
        <div class="leftSideBarDeprivation"></div>
        <div class="rightSideBarDeprivation"></div>

        <div id="but_wrap_child_left" class="tab-futer-left" >
            <ul class="nav_footer" >
                <div id="btActions-application" style="float: left;">
                    <?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
                        <?php if (isset($status)&& !in_array($status, $notBack)  && 2 == $isReceived ) : ?>
                            <li class="filelink " numb="1" id="unsendform1_3" >
                                <a id="back_button" class=" isReceived4" href="javascript:;" onclick="backShow();">
                                    <div></div>
                                    <span class="text">Отозвать</span>
                                </a>
                            </li>
                        <?php endif ?>
                    <?php endif ?>
                </div>
            </ul>
        </div>
    </div>    



</div>
</div>
<iframe id="hiddenframe" style="width:0px; height:0px; border:0px" name="hiddenframe"></iframe>

<div id="but_wrap_child_right">
    <ul class="nav_footer" id="footer_button">
        <div id="btActions-block">
            <li class="filelink ic_sent"  id="filelink">
                <a id="help_button" href="javascript:;" onclick="$('#cboxClose').click();">
                    <div></div>
                    <span class="text">Отмена</span>
                </a>
            </li>
            <li class="filelink" numb="1" id="sendform1">
                <a href="javascript:;">
                    <div></div>
                    <span class="text">Сохранить</span>
                </a>
            </li>



            <?php if (isset($application) && isset($moreInfo) && isset($currentType)): ?>
                <?php $type = $currentType->getField('Code'); ?>
                <?php if ($type == 'Accreditation' || $type == 'Certificate' || $type == 'TempCertificate' || $type == 'DublicateCertificate'): ?>
                    <?php $urlPath='/eo/declaration/export-data/'; ?>
                        <?php /*php if (isset($status)&& $status!='A3B952BF-628E-446C-B865-E483503241E8') { */ ?>
                        <?php $url = $urlPath.'pdf/' . $application->getField('Id'); ?>
                        <li class="print_but">
                                <a href="javascript:;" onclick="declaration.printApplicationDialog('<?php echo $url; ?>')">Печать</a>
<!--                            <a  class="filelink" tab="5" target="_blank" href="<?php echo $url; ?>">
                                Печать
                            </a>-->
                        </li>
                    <?php /*
                        <li class="print_but">
                            <a  class="filelink" tab="5" target="_blank" href="<?php echo $url; ?>">
                                В PDF
                            </a>
                        </li>
                        <?php $url =  $urlPath.'xml/' . $application->getField('Id'); ?>
                        <li class="print_but">
                            <a  class="filelink" tab="5" target="_blank" href="<?php echo $url; ?>">
                                В XML
                            </a>
                        </li>*/ ?>
                    <?php /*php
                    } else {
                        $url =  $urlPath.'docx/' . $application->getField('Id');
                        ?>
                        <li>
                            <a class="filelink" id="printApplicationButton"  tab="5" target="_blank" href="<?php echo $url; ?>">
                                Печать
                            </a>
                        </li>
                    <?php
                    }*/
                    ?>
                <?php endif ?>
            <?php endif ?>
        </div>
    </ul>
</div>


<style>
    .inpmarg {margin-bottom: 5px;}
    .leftSideBarDeprivation .errorFillial {
    background: #2f5ca5;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 98%;
}
</style>

<script>
    $doUploadFile = $('body').on('change','.extraDocumentFormButtom2', function(){
        console.log('extraDocumentFormButtom');
        event.preventDefault();

        var data = new FormData();

        var extraDocument = $('input[name=fileSelect]');
        console.log((extraDocument[0].files[0]));
        if(extraDocument[0].files[0] != 'undefined') {
            data.append('file', extraDocument[0].files[0]);
            var form = $('#extraDocumentForm2').serialize();
            // var id = $(".form-app input[name=appId]").val();
            data.append('form', form);
            $.ajax({
                url: 'Declaration/setApplicationExtraDocument',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
//                        var obj = JSON.parse(JSON.stringify(data));
                    var linkes = document.getElementsByClassName('a-linkes-generate-database');
//                    var a = document.createElement('a');
//                    a.href(data.newfile);
//                    a.innerText = data.realName;
//                    linkes.appendChild(a);
                    $('.show_tab.active').click();
                    console.log('ok');
                },
                error: function (data) {
                    console.log('error');
                }
            });

        }

    });
</script>
