<?php /**
 * открытая = акредитация - заявления - карточка заявленгия - программы - табличка программ - заполняем уровки программ
 * 
 * url:  /eo/declaration/get-ugs-by-level/ид-за-ния/ид-орг-ции/ид-типа-прог-мы
 * path: /module/Eo/view/eo/declaration/get-ugs-by-level.phtml
 */ ?>
<div class="search-block" style="margin-bottom: 5px;overflow: hidden;">
<table width="100%">
<tr>
<td style="padding: 0 10px 0 0;border: 0;"><input style="height: 30px;width: 100%" type="text" id="searchUgs" class="search" placeholder="Введите код или название направления"></td>
<td style="padding: 0;border: 0;width: 300px">
    <span class="show_only_program_span">Показать введенные ОП</span>
    <input style="margin: 0 5px;" type="checkbox" id="show_only_program"  title="Показать только программы">
    <span class="show_all_program_span">Развернуть УГСН </span>
    <input style="margin: 0 5px;" type="checkbox" id="show_all_program"  title="Показать все направления">
    </td>
</tr>
</table>
    
    
</div>
<div class="edu_programs_table">
    <div class="edu_programs_table_header">
        <table>
            <thead>
                
            </thead>
        </table>
    </div>
    <div class="edu_programs_table_data" >
        <div class="edu_programs_table_overflow">
            <table id="edu_programs" class="crud" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="program-checked allhidden">Аккред.</th>
                        <?php if( !$appIsShortPath){  //если заявление по длинному оставляем, нет уберем столбец?>
                            <th class="th nameOpCol">Наименование основной ОП</th>
                        <?php } ?>
                        <th>Код</th>
                        <th>Наименование профессии, специальности и НП</th>
                        <?php //Добавляем по собственному стандарту ?>
                        <?php //prostoy://comment/23298300 ?>
                        <?php //prostoy://comment/23300586 ?>
                        <th>Собственный <br>стандарт</th>
                        <th>Год начала реализации</th>
                        <th>Срок получения образования</th>
                        <?php /*<th>Очная</th>
                        <th>Очно-заочная</th>
                        <th>Заочная</th>
                        <th>Семейное</th>*/ ?>
                        <th>Сетевая форма</th>
                        <th>Дист. образов.</th>
                        <th>Общ. аккред.</th>
                    </tr>
                </thead>
                    <?php 
                    $colSpanInName = 8;
                     if( $appIsShortPath){
                         //если заявление по длинному оставляем, нет уберем столбец
                        $colSpanInName = 7;
                     }
                    
                    $i=1;
                    if(!empty($enlargedGroupSpecialities)){
                    foreach ($enlargedGroupSpecialities as $oneUGS) {
                        $count = $applicationProgramsClass->getCount(array("fk_isgaApplication"=>$application,'fk_isgaEOBranches'=>$org,'fk_isgaEnlargedGroupSpecialities'=>$oneUGS['Id'],"fk_eiisEduProgramTypes"=>$programtype,"PrLish"=>0));
                        if($count>0){
                            $str_count = '('.$count.')';
                        }else{
                            $str_count = '';
                        }
                        $class = ($i==1)? ' active_ugs_row':'';
                        $code  = ($oneUGS['Code']!='NULL'&&$oneUGS['Code']!='Void')?$oneUGS['Code']:'' ;?>
                        <tbody class="ugs_row_tbody">
                            <tr>
                                <td class="program-checked allhidden"></td>
                                <td colspan="<?php echo $colSpanInName ; ?>"><a class="ugs_row <?=$class?>" ugs_id="<?=$oneUGS['Id']?>"><?=$code . '  ' . $oneUGS['Name']?><span> <?=$str_count?></span></a></td>
                                <td><?php if( !$sent ){ ?><button class="add_direct_butt" onclick="getDirectByUgs('<?=$oneUGS['Id']?>')" ></button><?php } ?></td>
                            </tr>
                        </tbody>
                        <tbody class="ugs_block"  ugs_id="<?=$oneUGS['Id']?>"></tbody>
                        <?php $i++;
                    } 
                    }else{ ?>                  
                        <tbody class="ugs_row_tbody" >
                            <tr>
                                <td class="program-checked allhidden"></td>
                                <td colspan="<?php echo $colSpanInName ; ?>" style="text-align: center;">В текущем приложении к лицензии не были найдены ОП, обратитесь в службу технической поддержки через форму обратной связи.</td>
                                <td></td>
                            </tr>
                        </tbody>
                    <?php 
                       }
                    ?>
            </table>
        </div>
    </div>
</div>

<style>
    .program-checked{
        ---display: none;
        text-align: center;
    }

    .edu_programs_table{
        height: 80%;
        -padding-top: 50px;
        -padding-bottom: 70px;
    }
    
    .edu_programs_table_overflow{
        height: 82%;
        overflow: auto;
    }
    
    .edu_programs_table_data{
        height: 100%;
        /*padding-bottom: 70px;*/
    }

    #edu_programs {
        margin-top: -66px;
    }    
    
    #edu_programs thead th{
        -position: absolute;
        height: 58px;
    }
    
    #edu_programs thead tr {
        -position: absolute;
    }
    .tabs-panel.show-panel {overflow: hidden;}
    .leftSideBar {
	height: 100%;
	overflow-y: auto;
    }
    .is-standart {text-align: center;}
</style>

 <script>
    //изменяем ширины полей шапки таблички
    function tableProgramsByUgsHeadering(){
        console.log( 'Выравниваем табличку' );
        var header=jQuery('#edu_programs thead').html();
        jQuery('.edu_programs_table_header thead').html('');
        jQuery('.edu_programs_table_header thead').append(header);

        jQuery('.edu_programs_table_header table').width( jQuery('#edu_programs').width());

        var header2 = jQuery('.edu_programs_table_header thead  th');
        //console.log(header2);
        jQuery('#edu_programs thead th').each(function(i,el){
            var h = jQuery(el).height();
           jQuery(header2[i]).height(h);

            var w = jQuery(el).innerWidth();
            w=Math.ceil(w);

            w = jQuery(el).width();
           jQuery(header2[i]).width(w);
           jQuery(el).width(w);

           var fs=jQuery(el).css('font-size');
           jQuery(header2[i]).css('font-size',fs);

        });
    }
 </script>


<script>
    //изменим шапку тблицы, если изменыется масштаб
    $(window).resize(function(){
        console.log('Изменен размер окна');
        tableProgramsByUgsHeadering();
    });
    $(document).ready(function(){
        $("#searchUgs").keyup(function(){
            var search_str = $("#searchUgs").val().toLowerCase();
            if(search_str==""){ $(".ugs_block tr").show(); return 1;}
            $(".programRow").each(function(i){
                var text = $(this).children("td.search_code").text().toLowerCase()+" "+$(this).children("td.search_name").text().toLowerCase();
                if(text.indexOf(search_str)===-1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
        tableProgramsByUgsHeadering();
    });
    
</script>
