<?php /**
 * акредитация - заявлени - карточка заявлени - образдовательные программы для лишения
 * акредитация - заявлени - карточка заявлени -  исключения ОП
 * 
 * сами программы
 * 
 * url:  /eo/declaration/get-program-by-ugs-deprivation/ид-чего-то
 * path: /module/Eo/view/eo/declaration/get-program-by-ugs-deprivation.phtml
 */
?>
<?php
if ($programs->buffer()->count() > 0) {
    foreach ($programs  as $program) {
        $accredPrograms = $program->getProgramInfoDeprivation($prLish);
        $applicationIsDeny = false;
        $startYear = (int) $program->getFieldSafe('yearStartEdu');
        if( empty($startYear) ){
            $startYear = (int) $accredPrograms->getFieldSafe('StartYear');
        }
        if( empty($startYear) ){
            $startYear = '';
        }
        $termEdu = $accredPrograms->getFieldSafe('EduNormativePeriod');
        if( empty($termEdu) ){
            $termEdu = $program->getFieldSafe('termEdu');
        }
        $programName = $program->getFieldHtml('Name');
        if( empty($programName) ){
            $programName = $accredPrograms->getFieldHtml('Name');
        }
        $licenseProgram = $accredPrograms->getLicensedProgram();
        if( empty($licenseProgram) ){
            $licenseProgramName = $accredPrograms->getFieldHtml('Name');   
        }
        else{
            $licenseProgramName = $licenseProgram->getName();
        }
        ?>
        <tr class="programRow" id_program="<?= $program->getFieldHtml('Id') ?>">
            <?php /*
            <td class="program-checked allhidden">
                <input
                    class="selectProgramCheck"
                    <?= !$applicationIsDeny?' onclick="sendEPChecked(this)" ' :' disabled="disabled" ' ?>
                    type="checkbox"
                    <?php if((!$applicationIsDeny)&&$program->getFieldHtml('Checked')==1){ echo 'checked';} ?>
                    value="<?=$program->getFieldHtml('Checked')?>"
                    name="Checked"
                    attr_id="<?=$program->getFieldHtml('Id')?>"
                >
            </td>
            */ ?>
            <td class="padd3" >
                <textarea 
                    rows="3" 
                    class="programCol paa5" 
                    name="Name" 
                    style="width:100%;" 
                ><?= $program->getFieldHtml('Name')?></textarea></td>            
            <td class="search_code tdcenter" width="60px">                
                <?php /*<div class="img"><img src="/img/arrow_down.png" class="up_programm" onclick="upProgramm($(this))"></div>*/ ?>
                <?=$accredPrograms->getFieldHtml('Code')?>
                <?php /*<div class="img"><img src="/img/arrow_top.png" class="down_programm" onclick="downProgramm($(this))"></div>*/ ?>
            </td>
            <td class="padd3 tdcenter" width="30%" tdcenter><?= $licenseProgramName ?></td>
            <td class="padd3" ><input class="programCol " type="text" name="yearStartEdu" value="<?= $startYear ?>"></td>
            <td class="padd3" ><input class="programCol " type="text" name="termEdu" value="<?= $termEdu ?>"></td>

            <td class="tdcenter" width="40px" ><input class="programCol" type="checkbox" name="networkForm" <?= ($program->getFieldHtml('networkForm') == 1) ? 'checked' : '' ?> value = 1></td>
            <td class="tdcenter" width="40px" ><input class="programCol" type="checkbox" name="remoteTechnology" <?= ($program->getFieldHtml('remoteTechnology') == 1) ? 'checked' : '' ?> value="1"></td>

            <td class="tdcenter" width="60px" >
                <input class="programCol checkmarg" type="checkbox" name="publicAccreditation" <?= ($program->getField('publicAccreditation') == 1) ? 'checked' : '' ?> value="1">
                <?php if(!$sent){?>
                    <button class="delete_direct_butt" onclick="deleteProgramApplDeprivation('<?= $program->getFieldHtml('Id') ?>')" ></button>
                <?php } ?>
            </td>
        </tr>
        <?php
    }
} else {
    echo '<tr><td colspan="7" style="text-align:center;">Нет выбранных программ</td><td></td></tr>';
}
?>
