<table width="100%">
    <tr>
        <td style="padding: 0;border: 0;"><input style="height: 30px;width: 100%;padding: 0 7px;" type="text" id="searchProg" class="search" placeholder="Введите код или наименование"></td>
    </tr>
</table>

<form id="direct_form" class="container">
    <table class="intable" width="100%">
        <thead>
        <tr>
            <th width="20"> </th>
            <th width="100">Код</th>
            <th>Наименование</th>
        </tr>
        </thead>

        <tbody class="ugs_row_tbody">
        <?php
        $i = 1;
        foreach ($licensedPrograms as $oneProgram) {
            $code = ($oneProgram['Code']!='NULL'&&$oneProgram['Code']!='Void')?$oneProgram['Code']:'' ; ?>
            <tr class="programModalDialog">
                <td><input id="direct<?=$i?>" type="checkbox" name="direct[<?=$i?>]" value="<?=$oneProgram['Id']?>"/></td>
                <td class="search_code"><?=$code?></td>
                <td class="search_name"><?= $oneProgram['Name']?></td>

            </tr>
            <?php $i++; } ?>
        </tbody>
    </table>
    <input type="hidden" name="ugs_id" value="<?=$id_egs?>">
    <div class="leftSideWrap" style="padding-left: 7px;"><input id="select_all_direct" type="checkbox" class="select_all_direct"  value="Выбрать" /><label for="select_all_direct">Выбрать все</label></div>
    <div class="rightSideWrap"><input type="button" class="button_blue" value="Выбрать" onclick="sendCheckDirect()" /></div>
</form>

<script>
    $(document).ready(function(){
        $("#searchProg").keyup(function(){
            var search_str = $("#searchProg").val().toLowerCase();
            if(search_str==""){ $(".ugs_row_tbody tr").show(); return 1;}
            $(".programModalDialog").each(function(i){
                var text = $(this).children("td.search_code").text().toLowerCase()+" "+$(this).children("td.search_name").text().toLowerCase();
                if(text.indexOf(search_str)===-1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
        $("body").delegate(".select_all_direct","click",function(){
            if($('#select_all_direct').is(":checked")){
                $(".programModalDialog input[type=checkbox]").prop('checked', true);
            }else{
                $(".programModalDialog input[type=checkbox]").prop('checked', false);
            }
        });
    });
</script>
<style>
#direct_form .intable {margin: 5px 0;}
</style>