<?php /**
 * причины заявления
 * 
 * path: /module/Eo/view/eo/declaration/get-application-reason.phtml
 * url:  /eo/declaration/get-application-reason/ид-чего-то
 * 
 */
foreach ($reasons as $reason) {
    if (strtolower($reason->getField('fk_isgaApplicationType')) == "b30d724a-17d1-4792-8c75-8f9db2a6ce57") { ?>
        <div><input style="display:none;" class="check_req" name="0[fk_isgaApplicationReason][]" checked="checked"  type="checkbox" groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>">-</div>
    <?php } else { ?>
        <div><input class="check_req" name="0[fk_isgaApplicationReason][]" type="checkbox" groupe_id="<?= $reason->getField('GroupSubtype') ?>" value="<?= $reason->getField('Id') ?>"> - <?= $reason->getField('Name') ?></div>  
    <?php }
}
?>
  