<style>
    .progress{
        display:none;
	margin-top: 8px;
	margin-bottom: 0;
    }
</style>
<script src="/js/widget/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/js/jquery.fileupload.js"></script>
<script>
    if(typeof (activateFileUpload)== 'function'){
        console.log( 'Загрузим фай л с подписью' );
        activateFileUploadSign('/eo/declaration/save-sign-file','.multi');
    }
</script>
<div id="wrapReorg"> 
<div id="head_pop"><h2 id="title_pop">ЗАГРУЗКА ПОДПИСАННОГО ЭП ЗАЯВЛЕНИЯ</h2><div id="cboxClosePop" class="updatePage"></div></div>
  <div style="padding: 20px 10px;">
    <p>Для завершения отправки заявления, <b>требуется</b> загрузить в систему подписанное электронной подписью заявление.</p>
    <?if($type != 'rectification'){?>
        <p>Система <b>автоматически сформировала</b> для Вас электронный документ заявления. Скачайте файл <a href="/eo/declaration/export-data/pdf/<?= $id_appl ?>">по ссылке</a> и после подписания электронной подписью загрузите его в систему.</p>
    <?}?>
    <form  id="form_signed" enctype="multipart/form-data" method="POST" target="hiddenframe" action="/eo/declaration/save-file-signed/<?= $id_appl ?>">
        <div class="containerWrapFile">
            <span style="float: left;margin: 3px 10px 0 0;">Заявление с ЭП (файл с расширением .sig): </span>
            <input accept=".sig" name="sign_file" type="file" class="multi HrefLikeButt" codeType="progress-bar-success.sign_file">
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success sign_file"></div>
            </div>
            <!-- The container for the uploaded files -->
            <div class="FileListWrap importantFiles" ></div>
        </div>                      
         <!--input type="file" name="signed" style="display: inline-block;clear: none;" /-->
    </form>
    <p style="margin-top: 7px"><b style="color: #f00;">ВНИМАНИЕ!</b> Рекомендуем <b>не составлять</b> документ заявления самостоятельно, а использовать файл сформированный системой! Расхождения между данными в электронном заявлении и подписанным документом являются причиной направления уведомления о несоответствии.</p>
  </div>
</div> 
<input class="send_edu_program left" onclick="$('#cboxClosePop').click()" type="button" value="Закрыть"/>
<?php /* Убираем, т.к. она не рациональна, на автомате форма отправляется, после загрузки файла<input class="send_edu_program right" onclick="$('#form_signed').submit()" type="button" value="Отправить"/>*/ ?>
<style>
#popupWindow {height: 330px;}
</style>