<form id="direct_form">
    <ul class="list_of_direct">
        <?php
        $i = 1;
        foreach ($licensedPrograms as $oneProgram) {
            $code = ($oneProgram['Code']!='NULL'&&$oneProgram['Code']!='Void')?$oneProgram['Code']:'' ;
            echo '<li><input id="direct'.$i.'" type="checkbox" name="direct['.$i.']" value="'. $oneProgram['IdProgram'] .'"/><label for="direct'.$i.'">' .$code . ' ' . $oneProgram['Name'] . '</label></li>';
            $i++;
        }
        ?> 
    </ul>
    <input type="hidden" name="ugs_id" value="<?=$id_egs?>">
    <div class="rightSideWrap"><input type="button" class="button_blue" value="Выбрать" onclick="declaration.deprivation.sendCheckDirect()" /></div>
</form>