<ul class="level-list">
    <?php  $i=1; foreach ($eduProgramTypes as $oneType) { 
        $count = $applicationProgramsClass->getCount(array('fk_eiisEduProgramTypes'=>$oneType['Id'],'fk_isgaEOBranches'=>$id_org,'fk_isgaApplication'=>$id_application,'PrLish'=>0));
        ?>
        <li class="level-elem <?=($i==1)?'active-level':''?>" id-level="<?=$oneType['Id']?>"><a class="level-name">-<?= $oneType['Name'] ?> </a><span class="level-programs-counter"><?=($count>0)? '( '.$count.' )':'' ?></span></li>
    <?php $i++; } ?>
</ul>