<?php if (count($licensedPrograms) > 0) {  ?>
    <select name="fk_eiisLicensedPrograms" id="licensed_programs">
        <?php foreach ($licensedPrograms as $program) : ?>
            <option value="<?= $program['Id'] ?>" year="<?= $program['Period'] ?>">
                <?= (isset($program['Code'])) ? $program['Code'] : ''; ?> - <?= $program['Name'] ?>
            </option>
        <?php endforeach; ?>
    </select>
<?php
} else {
    echo 'empty'; die;
}
?>