<script>
    $(document).ready(function () {
        $(".change_fill").click(function () {
            $(".change_fill").removeClass('active_fil');
            $(this).addClass('active_fil');
            <?php if($onlyEP!==NULL){?>
                changeFill();    
            <?php }else{?> 
                getEduLevel();
            <?php } ?>
            
        });
        
        // сделаем активной первый филиал
        $('.change_fill:first').trigger('click');
    });
    function deleteAplicationPrgram() {
        $.ajax({
            url: '/eo/declaration/delete-application-program/' + $('#edu_programs tbody tr.active_row').attr('edu_program_id'),
            type: "POST",
            success: function (answer) {
                changeFill();
            }
       });
    }
    function changeFill(){
         $.ajax({
                url: '/eo/declaration/get-educational-programs/' + $(".active_fil").attr('id_appl')+'/'+$(".active_fil").attr('id_org'),
                type: "POST",
                success: function (answer) {
                    $(".rightSideBar").html(answer);
                    var colPrograms=jQuery(".row_program",answer).length;
                    jQuery(".active_fil").parent().find(".anket-programs-counter").text(colPrograms.toString());
                }
            });
    }
</script>
<ul>
    <?php
    if($fillials)
        foreach ($fillials as $key => $fillial_id) {
            $fillial = $fillial_id->getLinkedItem('eiis_EducationalOrganizations', array('Id' => $fillial_id->getField("fk_eiisEOBranch")));
            if($fillial){
                $programs = new Model\Gateway\EntitiesTable('isga_ApplicationPrograms');
                $count = count($programs->getEntitiesByWhere(array('fk_isgaEOBranches' => $fillial_id->getField('fk_eiisEOBranch'), 'fk_isgaApplication' => $fillial_id->getField('fk_isgaApplication'),"PrLish"=>0)));
                ?>
                <li>
                    <a
                        class="change_fill"
                        href="javascript:;"
                        id_appl="<?= $fillial_id->getField('fk_isgaApplication') ?>"
                        id_org="<?= $fillial_id->getField('fk_eiisEOBranch') ?>"
                    >
                        <?php
                        if($fillial->isEmptyField('ShortName')){
                            $name = explode(',',$fillial->getField('RegularName'));
                            $name = $name[0];
                        }else{
                            $name = explode(',',$fillial->getField('ShortName'));
                            $name = $name[0];
                        }
                        echo $name;?>
                    </a>
                    (<span class="anket-programs-counter"><?=$count?></span>)
                </li>
            <?php } ?>
        <?php } ?>
</ul>

<script>
<?php if($applicationIsDeny){ ?>
    $(".dialog-orderDecument-add").append('<a class="right-close" type="button" onclick="changeStatus(\'0d5bdef0-8d14-46bb-8c8a-0e5f8c1f6d18\',0,0,1,0);" href="javascript:;"><span class="text">Закрыть</span></a>');
<?php }else{ ?>
    $(".dialog-orderDecument-add").append('<a class="right-close" type="button" onclick="changeStatus(\'AF475ADD-6ED4-43F1-9E66-C9C2BF4E2DB9\',0,\'changeBeforeAddOrderDocument()\',0,0,\'changeAfterAddOrderDocument()\');" href="javascript:;"><span class="text">Закрыть</span></a>');
<?php } ?>
</script>