<?php
/**
 * url:  /eo/declaration/get-program-by-ugs/ид-за-ния/ид-орг-ции/ид-типа-прог-мы/ид-угс
 * path: /module/Eo/view/eo/declaration/get-program-by-ugs.phtml
 */
if ($programs->buffer()->count() > 0) {
    foreach ($programs  as $program) {
        $licensedPrograms = $program->getLicensedProgram();
        if(!$licensedPrograms) continue;
        $applicationIsDeny = false;
        ?>
        <tr class="programRow" id_program="<?= $program->getFieldHtml('Id') ?>">
            <td class="program-checked allhidden">
                <input
                    class="selectProgramCheck"
                    <?= !$applicationIsDeny?' onclick="sendEPChecked(this)" ' :' disabled="disabled" ' ?>
                    type="checkbox"
                    <?php if((!$applicationIsDeny)&&$program->getFieldHtml('Checked')==1){ echo 'checked';} ?>
                    value="<?=$program->getFieldHtml('Checked')?>"
                    name="Checked"
                    attr_id="<?=$program->getFieldHtml('Id')?>"
                >
            </td>    
            <?php if( !$appIsShortPath){ //если заявление по длинному рисуем?>
                <td class="padd3 nameOpCol" >                  
                    <textarea 
                        rows="3" 
                        class="programCol paa5" 
                        name="Name" 
                        style="width:100%;" 
                    ><?= $program->getFieldHtml('Name')?></textarea></td>
            <?php } ?> 
            <td width="60px" class="search_code"><?= (@$licensedPrograms->getFieldHtml('Code')!='NULL'&&@$licensedPrograms->getFieldHtml('Code')!='Void')?$licensedPrograms->getFieldHtml('Code'):'' ?></td>
            <td class="search_name" width="30%"><?= $licensedPrograms?$licensedPrograms->getFieldHtml('Name'):'' ?></td>
            <?php //Добавляем по собственному стандарту ?>
            <?php //prostoy://comment/23298300 ?>
            <?php //prostoy://comment/23300586 ?>
            <td class="is-standart" width="30px"><input class="programCol" type="checkbox" name="ownStandart" <?= ($program->getFieldHtml('ownStandart') == 1) ? 'checked' : '' ?>  value="1" ></td>
            <td class="padd3" width="80"><input class="programCol " type="text" name="yearStartEdu" value="<?= $program->getFieldHtml('yearStartEdu') ?>"></td>
            <td class="padd3" width="80"><input class="programCol " type="text" name="termEdu" value="<?= $program->getFieldHtml('termEdu') ?>"></td>
            <?php /*<td class="padd3"><input class="programCol numberinp" type="text" name="fullTimeCount" value="<?= $program->getFieldHtml('fullTimeCount') ?>"></td>
            <td class="padd3"><input class="programCol numberinp" type="text" name="partTimeCount" value="<?= $program->getFieldHtml('partTimeCount') ?>"></td>
            <td class="padd3"><input class="programCol numberinp" type="text" name="correspondenceCount" value="<?= $program->getFieldHtml('correspondenceCount') ?>"></td>
            <td class="padd3"><input class="programCol numberinp" type="text" name="familyCount" value="<?= $program->getFieldHtml('familyCount') ?>"></td>*/ ?>
            <td class="tdcenter" width="40px" ><input class="programCol" type="checkbox" name="networkForm" <?= ($program->getFieldHtml('networkForm') == 1) ? 'checked' : '' ?> value = 1></td>
            <td class="tdcenter" width="40px" ><input class="programCol" type="checkbox" name="remoteTechnology" <?= ($program->getFieldHtml('remoteTechnology') == 1) ? 'checked' : '' ?> value="1"></td>
            <td width="60px">
                <input class="programCol checkmarg" type="checkbox" name="publicAccreditation" <?= ($program->getFieldHtml('publicAccreditation') == 1) ? 'checked' : '' ?> value="1">
                <?php if(!$sent){?>
                    <button class="delete_direct_butt" onclick="deleteProgramAppl('<?= $program->getFieldHtml('Id') ?>')" ></button>
                <?php } ?>
            </td>
        </tr>
        <?php
    }
} else {
    echo '<tr><td colspan="7" style="text-align:center;">Нет выбранных программ</td><td></td></tr>';
}
?>
