<?php  /**
 * 
 *  акредитация - карточка заявлени - образдовательные программы для лишения
 *  акредитация -заявлени - карточка заявлени -  исключения ОП
 * 
 *  получаем типы  программ у заявления
 * 
 *  url: /eo/declaration/get-edu-program-type-deprivation/ид-чего-то
 *  path: /module/Eo/view/eo/declaration/get-edu-program-type-deprivation.phtml 
 * 
*/ ?>
<ul class="level-list">
    <?php  $i=1; foreach ($eduProgramTypes as $oneType) { 
        $count = $applicationProgramsClass->getCount(array(
            'fk_eiisEduProgramTypes'    => $oneType['Id'],
            'fk_isgaEOBranches'         => $id_org,
            'fk_isgaApplication'        => $id_application,
            'PrLish'                    => $prLish,
        ));
        ?>
        <li class="level-elem-deprivation <?=($i==1)?'active-level-deprivation':''?>" id-level="<?=$oneType['Id']?>"><a class="level-name">-<?= $oneType['Name'] ?> </a><span class="level-programs-counter"><?=($count>0)? '( '.$count.' )':'' ?></span></li>
    <?php $i++; } ?>
</ul>