<?php /**
* открытая - акредитация - заявления - карточка заявления - филиалы
* url:  /eo/declaration/get-active-fillials/ид-заявлени
* path: /module/Eo/view/eo/declaration/get-active-fillials.phtml
* 
 */ ?>
<tr>
    <th>Организация и филиалы</th>
    <th>Адрес местонахождения из Устава</th>
    <th>Контакты</th>
</tr> 
<?php foreach ($fillials as $key => $fillial_id) {
    $fillial = $fillial_id->getLinkedItem('eiis_EducationalOrganizations', array('Id' => $fillial_id->getField("fk_eiisEOBranch")));
    if($fillial){
        $address = trim($fillial_id->getFieldHtml('ApplicationAdres'));
        //дергаем адрес почтовый через оргДата
        $orgData = new Model\Entities\isgaEducationalOrganizationData();
        $orgData = $orgData->getById( $fillial->getId() , 'fk_eiisEducationalOrganization' );
        $emailData = '';
        $phone = '';
        $fax = '';
        if( !empty($orgData) ){
           $emailData = $orgData->getFieldOrSpace('Emails'); 
           $phone = $orgData->getField('Phones');
           $fax = $orgData->getField('Faxes');
        }
        
        if( empty($emailData) ){
           $emailData =  $fillial->getField('Mails');
        }
        if (!$phone) {
            $phone = $fillial->getField('Phone');
        }
        if (!$fax) {
            $fax = $fillial->getField('Fax');
        }
        
    ?>
        <tr >
            <td><?= $fillial->getField('RegularName') ?></td>
            <td>
                <?php if(!$sent){?><textarea style="width:100%;padding: 5px;" id="<?=$fillial_id->getField('Id')?>" class="change_address"><?php } ?><?=$address?><?php if(!$sent){?></textarea><?php } ?>
                <?php /*= $fillial->getFieldHtml('LawAddress') */ ?>
            </td>
            <td>
                <p><?= $phone ?></p>
                <p><?= $fax ?></p>
                <p><?= $emailData ?></p>
            </td>
        </tr>
    <?php } ?>
<?php } ?>

<script>
    $('.change_address').change(function(){
        var id = $(this).attr('id');
        var val = $(this).val();
        if(id && val){
            $.post('/eo/declaration/set-new-address',{id:id,value:val});
        }else{
            return false;
        }
    })

    <?php if(empty($filialsCount)){$filialsCount=2;}?>
    <?php if($filialsCount>1){?>
        jQuery('.btn_filial_add_count').show();
    <?php }else{    ?>
        jQuery('.btn_filial_add_count').hide();
    <?php } ?>
</script>