<?php $mas = array('', 'Unknown', 'Void'); ?>
<tr class="ugs_info">
    <td>Наименование УГС</td>
    <td>
        <select id="ugs_name">
            <?php foreach ($enlargedGroupSpecialities as $data) : ?>
                <?php $code = (!in_array($data['Code'], $mas)) ? $data['Code'] : '';  ?>
                <option value="<?= $data['Id'] ?>" code="<?= $code ?>"><?= $data['Name'] ?></option>
            <?php endforeach; ?>
        </select>
    </td>
</tr>
<tr class="ugs_info">
    <td>Код УГС</td>
    <td><input type="text" id="ugs_code" value="" disabled="disabled"></td>
</tr>