<table id="edu_programs" class="crud">
    <thead>
        <tr>
            <th>Код УГС</th>
            <th>Образовательная программа</th>
            <th>Уровень ОП</th>
            <th>Год начала реализации</th>
            <th>Срок получения образования</th>
        </tr>
    </thead>
    <tbody>
    <?php $mas = array('', 'Unknown', 'Void'); ?>
    <?php if(count($applicationPrograms)>0) : ?>
    <?php foreach($applicationPrograms as $oneProgram) : ?>
        <?php $LicensedProgram=$oneProgram->getLinkedItem('eiis_LicensedPrograms', array('Id' => $oneProgram->getField("fk_eiisLicensedPrograms")));
        $eduProgramType=$LicensedProgram->getLinkedItem('eiis_EduProgramTypes', array('Id' => $LicensedProgram->getField("fk_eiisEduProgramType")));
        $eduProgram=$LicensedProgram->getLinkedItem('eiis_EduPrograms', array('Id' => $oneProgram->getField("fk_eiisEduProgram")));?>
        <tr  class="row_program" edu_program_id="<?=$oneProgram->getField('Id')?>">
            <td><?= (!in_array($ugs_codes[$oneProgram->getField('Id')], $mas)) ? $ugs_codes[$oneProgram->getField('Id')] : ''; ?></td>
            <td><?=$LicensedProgram->getField('Name')?></td>
            <td><?=$eduProgramType->getField('Name')?></td>
            <td><?=$oneProgram->getField('yearStartEdu')?></td>
            <td><?=$oneProgram->getField('termEdu')?></td>
        </tr>
    <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>