<script>
    jQuery("#type_declaration option").removeAttr('disabled');
</script>
<select name="0[fk_isgaPreviousCertificate]" class="certificate-chenger">
    <?php
    $certificates = $certificates->getObjectsArray();
    $hasEnabled = false;
    if(count($certificates)){
        foreach ($certificates as $certificate) {
            if ($certificate->getField('fk_isgaCertificateStatus') == 'cba8e890-429a-4d6a-b81c-0f530a7970cc' || $certificate->getField('fk_isgaCertificateStatus') == 'CBA8E890-429A-4D6A-B81C-0F530A7970CC') {
                $hasEnabled = true;
                ?>
                <option selected value="<?= $certificate->getField('Id') ?>">№ <?= $certificate->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($certificate->getField('DateIssue'))) ?> (Действующее) </option>
            <?php } else { ?>
                <option class="certificate-not-active" value="<?= $certificate->getField('Id') ?>">№ <?= $certificate->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($certificate->getField('DateIssue'))) ?> (Не действующее) </option>
                <?php
            }
        }
    }

    if(!count($certificates) ){ ?>
                <option class="certificate-not-active" value=""> Отсутствует </option>
    <?php }

    ?>
</select>
  

    <script>
        jQuery(".certificate-chenger").unbind('click');
        jQuery(".certificate-chenger").unbind('change');
        jQuery(".certificate-chenger").change(function(){
            console.log("выбираем другой сертификат");
            var isNot=$(".certificate-chenger option:selected").is('.certificate-not-active');
            jQuery("#type_declaration option").removeAttr('disabled');
            if (isNot){
                    jQuery("#type_declaration option").attr('disabled','disabled');
                    jQuery("#type_declaration option[code='Accreditation']").removeAttr('disabled');
                    jQuery("#type_declaration option[code='Certificate']").removeAttr('disabled');
                    jQuery("#type_declaration option:first").attr("selected", "selected");
            }
           // jQuery("#type_declaration").change();
        });
  
    </script>
  <script>
         jQuery(".certificate-chenger").change();
   </script>    