
<?php if($nextPage==1){ ?>
<div id="wrapReorg"> 
<div id="head_pop"><h2 id="title_pop">Выбор  реорганизованных организаций</h2><div id="cboxClosePop"></div></div>
<input id="filt_fillials" class="searchOrganization" placeholder="Введите название или ИНН для поиска организации" <?=($search!==' ')?'value="'.$search.'"' : ''?>>
<input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
<input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>">
<div style="height: 375px;margin: 0 13px 10px;overflow-y: auto;">
<table id ="filteredTable">
    <thead>
        <tr>
            <th>№</th>
            <th>Наименования</th>
            <th> </th>
        </tr>
    </thead>
    <?php
    $i = 1;
    if(count($orgs)>0){
       foreach ($orgs as $key => $org) {
        echo '<tr class="declaration_row"><td>' . $i . '</td><td id="reorg_' . $i . '">' . $org['FullName'] . '</td><td><input class="selected_reorg" name="reorg_' . $i . '" type="checkbox" value=' . $org['Id'] . '></td></tr>';
        $i++;
    } 
    }else{
        echo '<tr><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
    }
    if($nextPage<$maxPage){?>
    <tr>
        <td colspan="3"> 
            <a id="getNextResult" onclick="addOrgPage()" href="javascript:;">Загрузить еще результаты</a>
        </td>
    </tr>
    <?php } ?>
</table>
 </div>
    <input class="close_edu_program_dialog send_edu_program" type="button" value="Закрыть"/><input id="add_reorg_struct" class="send_edu_program" type="button" value="Добавить выбранные"/>
</div>
<script>
    $('body').append('<div class="ui-widget-overlay ui-front" style="z-index: 101;"></div>');

    $('.declaration_row').click(function () {
        if($('input:checkbox', this).is(':checked')){
            $('input:checkbox', this).prop('checked',false);
        }else{
            $('input:checkbox', this).prop('checked',true);
        }
    });

    $('.close_edu_program_dialog').click(function () {
        $('#popupWindow').hide();
        $(".ui-front").remove();
    });
    $('#cboxClosePop').click(function () {
        $(".ui-front").remove();
    });

     $(/*"#popupWindow"*/"#wrapReorg").undelegate("#add_reorg_struct","click");
     $(/*"#popupWindow"*/"#wrapReorg").delegate("#add_reorg_struct","click",function(){
     console.log('добавляем организации в реорганизованные организации');
     console.log($("#ListOfReorgStruct").val());
             var vals=$("#ListOfReorgStruct").val().split(',');
             if(vals[0]==''){
                 vals.shift();
             }
             var names=$("#nameOfReorg").val();
             $(".selected_reorg:checkbox:checked").each(function(indx, element){
                 console.log(indx);
                 console.log(element);
                 if(vals.indexOf($(element).val())==-1){
                     vals.push($(element).val());
                     names+=$('#'+$(element).attr('name')).text()+', ';
                 }
             });
             if(names == ''){
                useTopHoverTitleError('Выберите организации');
             }else{
                 console.log("Данные сбиты");
                 $("#nameOfReorg").val(names);
                 console.log(names);
                 $("#ListOfReorgStruct").val(vals.join(','));
                 console.log($("#ListOfReorgStruct").val());
                 $("#add_reorg_struct").addClass('clicked');
                 useTopHoverTitle('Организации добавлены');
                 console.log($(".check_req[value='f3923905-c349-4f87-af80-8660361537dc']").is(':checked'));
                 if($(".check_req[value='f3923905-c349-4f87-af80-8660361537dc']").is(':checked')){
                     getCertificateByIdOrg(vals);
                 }
             }
    })
</script>
  
<?php } else { ?>
<tr style="display:none;"><td><input id="nextPage" type="hidden" value="<?php echo $nextPage; ?>">
    <input id="maxPage" type="hidden" value="<?php echo $maxPage; ?>"></td></tr>
    <?php $i =($nextPage-1)*20 + 1;
    if(count($orgs)>0){
       foreach ($orgs as $key => $org) {
        echo '<tr><td>' . $i . '</td><td id="reorg_' . $i . '">' . $org['FullName'] . '</td><td><input class="selected_reorg" name="reorg_' . $i . '" type="checkbox" value=' . $org['Id'] . '></td></tr>';
        $i++;
    } 
    }else{
        echo '<tr><td colspan="3" style="text-align: center">Записи не найдены</td></tr>';
    }
    if($nextPage<$maxPage){?>
    <tr>
        <td colspan="3"> 
            <a id="getNextResult" onclick="addOrgPage()" href="javascript:;">Загрузить еще результаты</a>
        </td>
    </tr>
    <?php } 
}?>


