<?php /**
* открытая - акредитация - заявления - карточка заявления - филиалы
* url:  /eo/declaration/get-active-fillials/ид-заявлени
* path: /module/Eo/view/eo/declaration/get-active-fillials-new.phtml
* 
 */ ?>
<input type="hidden" name="idAppl" value="<?=$idAppl?>">
<?php
    $num=1;
    $eduOrgArr = [];
    $getHeadOrg;

    foreach ($fillials as $key => $fillial_id) {
        $filial = $fillial_id->getLinkedItem('eiis_EducationalOrganizations', array('Id' => $fillial_id->getField("fk_eiisEOBranch")));
        if($filial) {
            $eduOrgArr[] =  $filial->toArray();

        }
    }

    $eduOrgArr = array_filter($eduOrgArr);
    usort($eduOrgArr,
        function($a, $b) {
            $a = $a["RegularName"];
            $b = $b["RegularName"];
            if ($a == $b) {
                return 0;
            }
            return ($a < $b) ? -1 : 1;
        });

    foreach ($eduOrgArr as $key => $val){
        if(substr_count($val['RegularName'], 'филиал') === 0 ){
            $getHeadOrg = $key;
        }
    }

    $finalOrgArr = array();
    $finalOrgArr[] = $eduOrgArr[$getHeadOrg];
    unset($eduOrgArr[$getHeadOrg]);
    $finalOrgArr += $eduOrgArr;

?>

    <?php foreach ($finalOrgArr as $filial){

        $whereMore = array(
            'fk_isgaApplication' => $idAppl,
            'fk_eiisEducationalOrganization' => $filial['Id']
        );
        if ($filial['fk_eiisParentEducationalOrganization']) {
            $whereMore = array(
                'fk_isgaApplication' => $idAppl,
                '(fk_eiisEducationalOrganization = "0" OR fk_eiisEducationalOrganization = "' . $filial['Id'] . '")'
            );
        }
        $moreInfo = new \Model\Entities\isgaApplicationMoreInfo();
        $moreInfo = $moreInfo->getByWhere($whereMore);


        $orgData = new Model\Entities\isgaEducationalOrganizationData();
        $orgData = $orgData->getById($filial['Id'], 'fk_eiisEducationalOrganization');
        $emailData = '';
        $phone = '';
        $fax = '';
        if (!empty($orgData)) {
            $emailData = $orgData->getFieldOrSpace('Emails');
            $phone = $orgData->getField('Phones');
            $fax = $orgData->getField('Faxes');
        }

        if (empty($emailData)) {
            $emailData = $filial['Mails'];
        }
        if (!$phone) {
            $phone = $filial['Phones'];
        }
        if (!$fax) {
            $fax = $filial['Faxes'];;
        }


        $getAppBranches  = $fillialsApplication_class->getEntitiesByWhere(
                array(
                        'fk_isgaApplication' => $idAppl,
                        'fk_eiisEOBranch' => $filial['Id'],
                ));

        $arrAppBranches = [];
        foreach ($getAppBranches as $val){
            $arrAppBranches[] = $val->toArray();
        }

        $address = trim($arrAppBranches[0]['ApplicationAdres']);

        ?>

        <tr id="f_<?=$filial['Id']?>">
            <td style="padding-top: 5px;">
                <table class="BayanPerechen" width="100%">
                    <tbody style="overflow-y: visible;">
                    <tr class="BayanTitle" >
                        <td onclick="showHideDataFil(this)" style="background: #4b77be;color: #fff;">
                            <span class="BayanNumber"><?php echo $num;  ?>.</span>
                            <?php echo $filial["RegularName"]; ?>
                        </td>
                    </tr>
                    <tr class="BayanHiden" style="display:none;background-color: transparent;" >
                        <td style="background-color: transparent;padding: 10px 0 0 0px;">
                            <table class="BayanData fields-table" style="background-color: transparent;" width="100%">
                                <tbody style="overflow-y: visible;">
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;" width="40%">Название</td>
                                    <td style="background-color: transparent;">
                                        <?php echo $filial["RegularName"];?>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">Полное наименование</td>
                                    <td style="background-color: transparent;">
                                        <?php echo $filial["FullName"];?>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">Сокращенное наименование</td>
                                    <td style="background-color: transparent;">
                                        <?php echo $filial["ShortName"];?>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">Адрес местонахождения из Устава</td>
                                    <td style="background-color: transparent;">
<!--                                        --><?php //if(!$sent){?><!--<textarea style="width:100%;padding: 5px;" id="--><?php //=$fillial_id->getField('Id')?><!--" class="change_address">--><?php //} ?><!----><?php //=$address?><!----><?php //if(!$sent){?><!--</textarea>--><?php //} ?>
                                        <?php if(!$sent){?><textarea style="width:100%;padding: 5px;" id="<?=$arrAppBranches[0]['Id']?>" class="change_address"><?php } ?><?=$address?><?php if(!$sent){?></textarea><?php } ?>
                                    </td>
                                </tr>
                                <!--
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">КПП</td>
                                    <td style="background-color: transparent;">
                                        <?php if($isSended){
                                            echo $filial["Kpp"];
                                        }
                                        else{ ?>
                                            <input
                                                class="filial-item focus-show form-control"
                                                id="RequestOrganizationInfo[<?=$filial['Id']?>][kpp]"
                                                rows="3"
                                                value="<?php echo $filial["Kpp"]; ?>"
                                                >
                                        <?php } ?>
                                    </td>
                                </tr>-->

                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">Телефон (факс)</td>
                                    <td style="background-color: transparent;">
                                        <?php echo $phone.($fax?' ('.$fax.')':''); ?>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;">Адрес электронной почты</td>
                                    <td style="background-color: transparent;">
                                        <?php echo $emailData; ?>
                                    </td>
                                </tr>

                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;" colspan="2">
                                        <div class="section-title">Лицензия на работу с государственной тайной</div>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <?php
                                    if ( isset($moreInfo)&& $moreInfo != NULL ) {
                                        echo '<input type="hidden" name="license['.$filial['Id'].'][Id]" value="' . $moreInfo->getField('Id') . '">';
                                    }
                                    ?>
                                    <td class="title_form" style="background-color: transparent;">Регистрационный номер</td>
                                    <td style="background-color: transparent;">
                                        <input name="license[<?=$filial['Id']?>][RegNumber]" type="text" value="<?php
                                        if ( isset($moreInfo) && $moreInfo != NULL ) {
                                            echo $moreInfo->getField('RegNumber');
                                        }
                                        ?>">
                                    </td>
                                </tr>

                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;" class="title_form">Серия, номер бланка лицензии</td>
                                    <td style="background-color: transparent;">
                                        <input name="license[<?=$filial['Id']?>][SiriesNumber]" type="text" value="<?php
                                        if ( isset($moreInfo) && $moreInfo != NULL ) {
                                            echo $moreInfo->getField('SiriesNumber');
                                        }
                                        ?>">
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;" class="title_form">Дата выдачи лицензии</td>
                                    <td style="background-color: transparent;">
                                        <div style="position: relative;">
                                            <input name="license[<?=$filial['Id']?>][DateReg]" class="input-date" type="text" value="<?php
                                            if ( isset($moreInfo) && $moreInfo != NULL && $moreInfo->getField('DateReg')!="0000-00-00" && $moreInfo->getField('DateReg')!="1970-01-01"&&$moreInfo->getField('DateReg')!=NULL) {
                                                echo date('d.m.Y', strtotime($moreInfo->getField('DateReg')));
                                            }
                                            ?>"><span class="date-icon"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="background-color: transparent;">
                                    <td style="background-color: transparent;" class="title_form">Срок действия лицензии</td>
                                    <td style="background-color: transparent;">
                                        <div style="position: relative;">
                                            <input name="license[<?=$filial['Id']?>][DateEnd]" class="input-date" type="text" value="<?php
                                            if ( isset($moreInfo) && $moreInfo != NULL && $moreInfo->getField('DateEnd')!="0000-00-00" && $moreInfo->getField('DateReg')!="1970-01-01"&&$moreInfo->getField('DateEnd')!=NULL) {
                                                echo date('d.m.Y', strtotime($moreInfo->getField('DateEnd')));
                                            }
                                            ?>"><span class="date-icon"></span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <?php   $num++;  ?>
        </tr>
    <?php } ?>
<?php

//} ?>
<script>
    $('.change_address').change(function(){
        var id = $(this).attr('id');
        var val = $(this).val();
        if(id && val){
            $.post('/eo/declaration/set-new-address',{id:id,value:val});
        }else{
            return false;
        }
    })

    <?php if(empty($filialsCount)){$filialsCount=2;}?>
    <?php if($filialsCount>1){?>
        jQuery('.btn_filial_add_count').show();
    <?php }else{    ?>
        jQuery('.btn_filial_add_count').hide();
    <?php } ?>


    /**
     *
     * @param {type} element
     * @returns {undefined}
     */
    showHideDataFil = function(element){
        var batanHiden = jQuery(jQuery(element).parents('.BayanPerechen')[0]).find('.BayanHiden');
        var batanHidenIsHiden = jQuery(batanHiden).is(':hidden');
        if( batanHidenIsHiden ){
            jQuery('.BayanHiden').hide();
            jQuery(batanHiden).show();
        }
        else{
            jQuery(batanHiden).hide();
        }
    };


    $(document).ready(function() {
        $(".input-date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy",
        });
    });
</script>

<style>
    .focus-show:focus{
        background-color: #fff;
        color: #333!important;
        border: 1px solid #969696!important;
    }
    .focus-show:focus textarea {color: #333!important;}
    .intable tr:hover td.focus-show:focus {
        color: #333!important;
    }
    .BayanData textarea{
        width: 100%;
        padding-left: 5px;
    }
    .BayanData input{
        width: 100%;
    }
    .BayanData > tbody > tr > td{
        padding: 10px;
    }
    .BayanTitle > td {
        padding: 5px;
    }
</style>