<?php /**
 * рон-заявлени - карточка заявлени - образдовательные программы для лишения
 * рон-заявлени - карточка заявлени -  исключения ОП
 * 
 * дергаем филиалов
 * 
 * url:  /eo/declaration/get-fillials-programs-deprivation/ид-чегото
 * path: /module/Eo/view/eo/declaration/get-fillials-programs-deprivation.phtml
 * 
 * @return ViewModel
 */ ?>
<ul>
    <?php
    if($fillials){
        foreach ($fillials as $key => $fillialOne) {
            $fillial_id = $fillialOne['base'];
            $fillial = $fillialOne['org'];
            $programs = new Model\Gateway\EntitiesTable('isga_ApplicationPrograms');
            $count = count($programs->getEntitiesByWhere(array(
                'fk_isgaEOBranches' => $fillial->getId(), 
                'fk_isgaApplication'=> $applicationId,
                "PrLish"            => $prLish,
            )));
            if($fillial){
                
                ?>
                <li>
                    <a
                        class="change_fill_deprivation"
                        href="javascript:;"
                        id_appl="<?= $applicationId ?>"
                        id_org="<?= $fillial->getId() ?>"
                    >
                        <?php
                        if($fillial->isEmptyField('ShortName')){
                            $name = explode(',',$fillial->getField('RegularName'));
                            $name = $name[0];
                        }else{
                            $name = explode(',',$fillial->getField('ShortName'));
                            $name = $name[0];
                        }
                        echo $name;?>
                    </a>
                    (<span class="anket-programs-counter"><?=$count?></span>)
                </li>
            <?php } ?>
        <?php } ?>
    <?php } else {
            if($prLish == 2){?>
                <li class="errorFillial">В свидетельстве нет программ для исключения</li>
        <?php }else{?>
                <li class="errorFillial">В свидетельстве нет программ для лишения</li>
    <?php }
    } ?>

</ul>

<script>
<?php if($applicationIsDeny){ ?>
    $(".dialog-orderDecument-add").append('<a class="right-close" type="button" onclick="changeStatus(\'0d5bdef0-8d14-46bb-8c8a-0e5f8c1f6d18\',0,0,1,0);" href="javascript:;"><span class="text">Закрыть</span></a>');
<?php }else{ ?>
    $(".dialog-orderDecument-add").append('<a class="right-close" type="button" onclick="changeStatus(\'AF475ADD-6ED4-43F1-9E66-C9C2BF4E2DB9\',0,\'changeBeforeAddOrderDocument()\',0,0,\'changeAfterAddOrderDocument()\');" href="javascript:;"><span class="text">Закрыть</span></a>');
<?php } ?>
</script>
<style>
#tabdeprivation .leftSideBarDeprivation .errorFillial {
    background: #2f5ca5;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 98%;
}
</style>