<?php if (count($eduProgramTypes) > 0) { ?>
    <select id="edu_program_types">
        <?php foreach ($eduProgramTypes as $eduProgramType) : ?>
            <option value="<?= $eduProgramType['Id'] ?>"><?= $eduProgramType['Name'] ?></option>
        <?php endforeach; ?>
    </select>
<?php
} else {
    echo 'empty'; die;
}
?>