<?php /**
 * акредитация -заявлени - карточка заявлени - образдовательные программы для лишения
 * акредитация -заявлени - карточка заявлени -  исключения ОП
 * 
 * получаем усы по уровням
 * рисуем заготовку таблички
 * 
 * path: /module/Eo/view/eo/declaration/get-ugs-by-level-deprivation.phtml
 * url:  /eo/declaration/get-ugs-by-level-deprivation/ид-какой-то
 */ ?>
<div class="search-block" style="margin-bottom: 5px;overflow: hidden;">
    <table>
    <tr><td style="border: 0;padding-left: 0;"><input style="float:left;width:100%;height: 30px;" type="text" id="searchUgs" class="search" placeholder="Введите код или название направления"></td>
    <td width="296" style="border: 0;padding-left: 0;padding-right: 0;">
        <span class="show_only_program_span_deprivation">Показать введенные ОП</span>
        <input style="margin: 0 5px;" type="checkbox" id="show_only_program_deprivation"  title="Показать только программы">
        <span class="show_all_program_span_deprivation">Развернуть УГСН </span>
        <input style="margin: 0 5px;" type="checkbox" id="show_all_program_deprivation"  title="Показать все направления">
    </td>
    </tr></table>
</div>
<?php /*<div class="edu_programs_table-wraper">*/ ?>
<div class="edu_programs_table">
    <div class="edu_programs_table_header">
        <table>
            <thead>
                
            </thead>
        </table>
    </div>
    <div class="edu_programs_table_data" >
        <div class="edu_programs_table_overflow">
            <table id="edu_programs" class="crud" style="width: 100%;">
                <thead >
                    <tr>
                        <?php /*
                        <th class="th" class="program-checked allhidden">Аккред.</th>
                        */ ?>
                        <th>Наименование основной ОП</th>
                        <th>Код</th>
                        <th>Наименование профессии, специальности и НП</th>
                        <th>Год начала реализации</th>
                        <th>Срок получения образования</th>
                            <th>Сетевая форма</th>
                            <th>Дист. образов.</th>
                            <th>Общ. аккред.</th>
                        
                    </tr>
                </thead>
                    <?php 
                    $i=1;
                    if(!empty($enlargedGroupSpecialities)){
                    foreach ($enlargedGroupSpecialities as $oneUGS) {
                        $count = $applicationProgramsClass->getCount(array(
                            "fk_isgaApplication"                =>$application,
                            'fk_isgaEOBranches'                 =>$org,
                            'fk_isgaEnlargedGroupSpecialities'  =>$oneUGS['Id'],
                            "fk_eiisEduProgramTypes"            =>$programtype,
                            "PrLish"                            =>$prLish,
                        ));
                        if($count>0){
                            $str_count = '('.$count.')';
                        }else{
                            $str_count = '';
                        }
                        $class = ($i==1)? ' active_ugs_row':'';
                        $code  = ($oneUGS['Code']!='NULL'&&$oneUGS['Code']!='Void')?$oneUGS['Code']:'' ;?>
                        <tbody class="ugs_row_tbody" >
                            <tr>
                                <td class="program-checked allhidden"></td>
                                <td colspan="7"><a class="ugs_row_deprivation <?=$class?>" ugs_id="<?=$oneUGS['Id']?>"><?=$code . '  ' . $oneUGS['Name']?><span> <?=$str_count?></span></a></td>
                                <td><?php if( !$sent ){ ?><button class="add_direct_butt" onclick="declaration.deprivation.getDirectByUgs('<?=$oneUGS['Id']?>')" ></button><?php } ?></td>
                            </tr>
                        </tbody>
                        <tbody class="ugs_block"  ugs_id="<?=$oneUGS['Id']?>"></tbody>
                        <?php $i++;
                    }
                    }else{ ?>                  
                        <tbody class="ugs_row_tbody" >
                            <tr>
                                <td class="program-checked allhidden"></td>
                                <td colspan="7" style="text-align: center;">В текущем приложении к свидетельству не были найдены ОП, Обратитесь в службу технической поддержки через форму обратной связи</td>
                                <td></td>
                            </tr>
                        </tbody>
                    <?php 
                       }
                    ?> 
            </table>
        </div>
    </div>
</div>
<?php /*</div>*/ ?>
<style>
    .program-checked{
        ---display: none;
        text-align: center;
    }

    .edu_programs_table{
        height: 90%;
        -padding-top: 60px;
        -padding-bottom: 35px;
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
    }

    .edu_programs_table_overflow{
        -height: 82%;
        /*overflow: auto;*/
        overflow-x: hidden;
        overflow-y: auto;
        no-overflow: visible;
        width: 100%;
        position: absolute;
        top: 76px;
        bottom: 0;
    }

    .edu_programs_table_data{
        height: 100%;
        padding-bottom: 76px;
    }

    #edu_programs {
        margin-top: -76px;
    }

    #edu_programs thead th{
        -position: absolute;
        height: 76px;
        background-color: #dbe1f0;

    }
    #edu_programs thead tr {
        -position: absolute;
    }
    .edu_programs_table-wraper{
        height: 100%;
        -padding-top: 50px;
       padding-bottom: 35px;
        -overflow-x: auto;
        -overflow-y: hidden;
        position: relative;
        
    }
</style>


<script>
    //изменим шапку тблицы, если изменыется масштаб
    
    $(document).ready(function(){
        $("#searchUgs").keyup(function(){
            var search_str = $("#searchUgs").val().toLowerCase();
            if(search_str==""){ $(".ugs_block tr").show(); return 1;}
            $(".programRow").each(function(i){
                var text = $(this).children("td.search_code").text().toLowerCase()+" "+$(this).children("td.search_name").text().toLowerCase();
                if(text.indexOf(search_str)===-1){
                    $(this).hide();
                }else{
                    $(this).show();
                }
            });
        });
    });
    
</script>
