<script>

    function lameSubstri(needle, haystack) {
        var lower_needle = needle.toLowerCase();
        var lower_haystack = haystack.toLowerCase();
        if (lower_haystack.indexOf(lower_needle)>=0) {
            return true;
        }
        return false;
    }

    function detectPluralSubstringInclusions(needle, haystack) {
        var splited_needle  = needle.split(' ');

        var result = true;
        if (splited_needle.length>0) {
            for (var i=0; i<splited_needle.length; i++ ) {
                if (!lameSubstri(splited_needle[i],haystack)) {
                    result = false;
                }
            }
        }
        return result;
    }

    function showFailSearchNotification() {
        $('tr.notification_row').show();
    }

    function hideFailSearchNotification() {
        $('tr.notification_row').hide();
    }
    $(document).ready(function () {
        var flag = true;
        $('#filt_fillials').keyup(function () {
            $('#filteredTable tbody tr.reorg_string').hide();
            var s1 = $('#filt_fillials').val();
            if (s1 == '') {
                $('.no_record').hide();
                $('#filteredTable tbody tr.reorg_string').show();
                hideFailSearchNotification();
            } else {
                var something_was_found = false;
                $('#filteredTable td.name_org').each(function(i,item){
                    var text = $(item).html();
                    if (detectPluralSubstringInclusions(s1, text)) {
                        $(item).parent('tr').show();
                        something_was_found = true;
                    }
                });

                if (something_was_found) {
                    hideFailSearchNotification();
                    $('.no_record').hide();
                } else {
                    flag = false;
                    if(!flag){
                        $('.no_record').show();
                        showFailSearchNotification();
                    }
                }
                //because making registry independend search $('#filteredTable td.name_org:contains("' + s1 + '")').parent('tr').show();
            }
        });
        $("#save_fillials_but").click(function(){
            var data=$("#org_fillials").serialize();
            //Затычка
//            if(data.indexOf('save_type=add2&id_application=0B0F0A0C-0D0E-0D13-0E0D-0B130D100F1210110C0B&') == -1){
//                useTopHoverTitleError("Выберите, пожалуйста, филиал");
//            }
//            else {
            /* Не совсем понял зачем эта затычка, поэтому пока комментирую*/
                $.ajax({
                    url: '/eo/declaration/save-declaration',
                    type:"POST",
                    data:data,
                    success: function(answer){
                       if(answer==='ok'){
                            $("#popupWindow").hide();
                            $(".loading-overlay").hide();

                            $.ajax({
                                url: '/eo/declaration/get-active-fillials-new/'+$("#id_application").val(),
                                type:"POST",
                                data:data,
                                success: function(answer){
                                    $("#fillials_table_list").html(answer);
                                    $("#sendform1").attr('numb',2);
                                    $("#leftSideBar").html();
                                    $(".input-date").datepicker();
                                }
                            });
                            $.ajax({
                                url: '/eo/declaration/get-fillials-programs/'+$("#id_application").val(),
                                type:"POST",
                                data:data,
                                success: function(answer){
                                    $(".leftSideBar").html(answer);
                                }
                            });
                       }else{
                           useTopHoverTitleError('Произошла ошибка во время сохранения!');
                       }
                    }
                });
//            }
        })
        $("#cboxClosePop,#cancel_fillials_but").click(function(){
            $("#popupWindow").hide();
            $(".loading-overlay").hide();
        })
    });

</script>
<div id="head_pop"><h2 id="title_pop">Выбор филиалов</h2><div id="cboxClosePop"></div></div>
<input id="filt_fillials" style="margin-left: 10px; width: 628px;" >
<form id="org_fillials">
    <input name="save_type" type="hidden" value="add2">
    <input id="id_application" type="hidden" name="id_application" value="<?=$application?>">
    <div style="height: 380px;overflow-y: auto;margin-bottom: 5px;">
<table id="filteredTable">
    <thead>
    <tr>
        <th>Организация и филиалы</th>

        <th>Выбран</th>
    </tr>
    </thead>
    <tbody>
    <?php $use_array=array(); 
        foreach ($fillials as $key => $fillial) { 
        if(!in_array($fillial['Id'],$use_array)){
        $use_array[]=$fillial['Id'];
        ?>
        <tr class="reorg_string">
            <td class="name_org"><?= $fillial['Name'] ?></td>
            <?php if (in_array($fillial['Id'], $check_fill)) { ?>
                <td><input class="selected_reorg" type="checkbox" checked  name="<?= $key ?>" value='<?= $fillial['Id'] ?>'></td>
            <?php } else { ?>
                <td><input class="selected_reorg" type="checkbox" name="<?= $key ?>" value='<?= $fillial['Id'] ?>'></td>
            <?php } ?>
        </tr>
        <?php } } ?>
        <tr class="no_record" style="display: none;">
            <td colspan="2" style="text-align: center;color: #fff!important;background: #4b77be;">Записей не найдено</td>
        </tr>
    </tbody>
</table>   </div>
    <script>
//        обработчик тыка по строке
        jQuery("#popupWindow #filteredTable .reorg_string .name_org").off("click");
        jQuery("#popupWindow #filteredTable .reorg_string .name_org").on("click",function(){
            var val= jQuery(this).parent().find(".selected_reorg").prop("checked");
            jQuery(this).parent().find(".selected_reorg").prop("checked",!val);
        });
    </script>

    <input id="cancel_fillials_but" type="button" value="Отмена" style="margin-right: 0;"/>
    <input id="save_fillials_but" type="button" value="Выбрать"/>
</form>