<div class="route">
    <table class="route-table">
        <tr class="content_tr">
            <td class="steps_td">
	        <div class="toggleButton "></div>
                <ul class="steps_div nav">
                    <li class="btn btn-warning btn-lg" event="new" controller="declaration">
                        <a class="step_1" href="#new" >
                            <span>Новые заявления</span>
                            <div></div>
                            <span class="num" step="new"></span>
                        </a>
                    </li>

                    <li class="btn btn-warning" id="sentAppl" event="sent" controller="declaration">
                        <a class="errors" href="#sent" >
                            <span>Отправленные заявления</span>
                            <div></div>
                            <span class="num" step="sent"></span>
                        </a>
                    </li>
                    
                     <li class="btn btn-warning" id="rectificationAppl" event="rectification" controller="declaration">
                        <a class="step_7" href="#rectification" >
                            <span>Требующие исправления</span>
                            <div></div>
                            <span class="num" step="rectification"></span>
                        </a>
                    </li>

                    <li class="btn btn-warning" event="notification" controller="declaration">
                        <a class="step_3" href="#notification" >
                            <span>Уведомления</span>
                            <div></div>
                            <span class="num" step="notification"></span>
                        </a>
                    </li>
                    <?php if(\Eo\Model\Export::isTestServer()){ ?>
                     <li
                        class="btn btn-warning  "
                        controller="license"
                        event="excerpt/certificates/1"
                    >
                                <a href="#excerpt" class="step_4 ">
                                    <span>Выписки</span>
                                    <div></div>
                                    <span class="num " step="excerpt">
                                        
                                    </span>
                                </a>
                    </li>
                    <?php } ?>
                </ul>
            </td>
            <td class="content_td">
                <div class="content">

                </div>
            </td>
        </tr>
    </table>
</div>
<script>
    //bindIndexEvents();
</script>

<style>
    .route .steps_td .steps_div {
        margin-top: 76px; 
    }
    .route .steps_td.icons{
        width: 76px;
    }
    

</style>