                <?php if(count($applications)>0) : 
                        $i =($nextPage-1)*50 + 1;?>
                    <?php foreach( $applications as $key=>$application) : ?>
                        <?php
                            $type = $applicationTypes->getEntityById($application['fk_isgaApplicationType']);
                            $reason= $applicationReason->getEntityById($application['fk_isgaApplicationReason']);
                        ?>
                        <tr class="row_appl" id_appl="<?=$application['Id']?>">
                            <td><?=$i;?></td>
                            <td><?=date('d.m.Y', strtotime($application['DateCreate']));?></td>
                            <td><?=$type->getField("Name");?></td>
                            <td><?= (method_exists($reason, 'getField')) ? $reason->getField("Name") : ''; ?></td>
                            <td>
                                <?php
                                    if (array_key_exists($application['Id'], $applicationBranches)) {
                                        if (count($applicationBranches[$application['Id']]) > 3) {
                                            $mas = array_splice($applicationBranches[$application['Id']], 3);
                                            echo implode(', ', $mas) . '... ';
                                        } else {
                                            echo implode(', ', $applicationBranches[$application['Id']]);
                                        }
                                    }
                                ?>
                            </td>
                        </tr>
                    <?php $i++;
                        endforeach; 
                    if($nextPage<$allPage){?>
                        <tr id="nextDeclorationsHref"><td colspan="5"><div style="text-align: center;"><a id="nextPageHref" href="javascript:;" onclick="downloadNextDeclaration()" nextpage="<?=$nextPage?>">Загрузить еще результаты</a></div></td></tr>
                    <?php }?>    
                <?php else : ?>
                    <tr><td colspan="5"><div style="text-align: center;">Записи не найдены</div></td></tr>
                <?php endif; ?>
           