<div class="container">
    <div id ="filter">
        <table style="width: 100%">
            <tr>
                <td colspan="3" style="padding: 0; width: 100%;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;padding: 5px 0;width: 140px">Дата формирования от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                            class="date-field dtDateStart SearchDate createDateBegin"
                                            value="<?=isset($search['dateBegin'])?$search['dateBegin']:''?>"
                                            type="text"
                                            name="dateIssueBegin"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                            class="date-field dtDateEnd SearchDate createDateEnd"
                                            type="text"
                                            value="<?=isset($search['dateEnd'])?$search['dateEnd']:''?>"
                                            name="dateIssueEnd"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td width="100" style="padding: 0 0 0 5px;">
                                <span class="bt btApply" style="margin-right: 0;">Применить</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 0; width: 46%;">
                    <select class="status" style="width: 100%;height: 26px;padding: 0;" onchange="typeChange(this)">
                        <option value="" selected="selected" >Все статусы</option>
                        <?php foreach($applicationStatus as $id => $status ):?>
                                <option value="<?=$id?>"><?= $status?></option>
                        <?php endforeach;?>
                    </select>
                </td>
                <td style="text-align: left;padding: 8px 5px; width: 8%;">Рег. ногмер</td>
                <td style="padding 8px 0; width: 37%;">
                    <input
                            class="regNumber Search"
                            value=""
                            type="text"
                            name="regNumber"
                            onkeypress=""
                            style="width: 100%"
                    >
                </td>
            </tr>
        </table>
    </div>
    <div class="viewzone data-heightdelta='-27'">
         <table class="intable">
             <thead>
                <tr>
                    <th style="width: 58px">№</th>
                    <th style="width: 120px">Рег. номер</th>
                    <th style="width: 178px">№ уведомления</th>
                    <th style="width: 346px">Статус заявления</th>
                    <th style="width: 216px">Дата формирования</th>
                    <th style="width: 184px">Дата подписания</th>
                    <th style="width: 157px">Дата отправки</th>
                </tr>
             </thead>
            <tbody class="supplements intable_content">
               <?php
                if (count($applications) > 0) {
                    foreach ($applications as $key => $application) {
                        $docType = $applicationTamplets[strtoupper($application['fk_isgaNotificationTemplate'])];
                        ?>
                        <tr class="row_appl" id_appl="<?= $application['Id'] ?>">
                            <td><?= $key + 1; ?></td>
                            <td><?= (!empty($application['ApplicationNumber'])) ? $application['ApplicationNumber'] : ''; ?></td>
                            <td><a target="_blank" href="<?= isset($applicationFiles[strtoupper($application['Id'])][strtoupper($docType)])?'/uploads/'.$applicationFiles[strtoupper($application['Id'])][strtoupper($docType)]:'javascript:;'?>"><?= (!empty($application['NotifyNumber'])) ? $application['NotifyNumber'] : ''; ?></a></td>
                            <td><?= (!empty($application['fk_isgaApplicationStatus'])) ? $applicationStatus[strtoupper($application['fk_isgaApplicationStatus'])] : ''; ?></td>
                            <td> <?= (!empty($application['DateCreation'])) ? date('d.m.Y',strtotime($application['DateCreation'])) : ''; ?> </td>
                            <td> <?= (!empty($application['DateSigning'])) ? date('d.m.Y',strtotime($application['DateSigning'])) : ''; ?> </td>
                            <td> <?= (!empty($application['DateSending'])) ? date('d.m.Y',strtotime($application['DateSending'])) : ''; ?> </td>
                        </tr>
                        <?php
                    }
                } else {
                    ?>
                    <tr >
                        <td colspan="7" style="text-align: center">Записи не найдены</td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div>
    <div>Найдено записей: <span id="report-generate-count-span"><?= count($applications)?></span> </div>
</div>

<script>
    $('.viewzone').delegate('.row_appl','click',function(){
        $('.row_appl').removeClass('active_appl');
        $(this).addClass('active_appl');
    });
    jQuery('#footer_button').remove();
</script>
<script src="/js/eo/declaration/notification.js"></script>
<style>
    .leftSideWrap .select_all_direct {margin: -2px 4px 0;}
    .leftSideWrap label {font-weight: normal;}
    .supplements.intable_content{ position: relative;}
    .supplements.intable_content .loading-img {width: 80%; position: absolute;}
</style>