<?php if (!in_array($application->getField('fk_isgaApplicationStatus'), array('192660B9-977F-4CBD-9E5A-279097849359',))): ?>

    <script> jQuery('#popup_win').css('z-index','99');</script>
    <div>
        <?php //class="viewzone"  class="fields-table"?>
        <form id="notify-form">
            <table id="fields_form">
                <tr>
                    <td class="title_form">
                        Заявление номер
                    </td>
                    <td colspan="2">
                        <input type="text" value="<?= $application->getField('RegNumber') ?>" disabled="disabled">
                        <input type="hidden" value="" id="notify_type" />
                    </td>
                </tr>
                <tr>
                    <td class="title_form">
                        Тип заявления
                    </td>
                    <td colspan="2">
                        <input type="text" value="<?= $currentType->getField('Name'); ?>" disabled="disabled">
                    </td>
                </tr>
                <tr>
                    <td class="title_form">
                        Основание заявления
                    </td>
                    <td colspan="2">
                        <?php if (is_array($currentReason)) { ?>
                            <?php $i=1;?>
                            <input type="text" value="<?php foreach ($currentReason as $oneReason) {
                                if($i!=1){
                                    echo ', ';
                                }
                                if ($i>2){
                                    echo '...';
                                    break;
                                }
                                echo $oneReason;
                                $i++;
                            } ?>" disabled="disabled">
                        <?php } else { ?>
                            <input type="text" value="<?= $currentReason ?>" disabled="disabled">
                        <?php } ?>
                    </td>
                </tr>
                <tr>
                    <td class="title_form">
                        Номер уведомления
                    </td>
                    <td colspan="2">
                        <?php
                        //дергаем номер уведомления
                        $notifyClass = new \Model\Entities\isgaNotification();
                        $notifyTemplate='';
                        if (!empty($notifyType)){
                            if( $notifyType=='denied'){
                                $notifyTemplate = '5119B0BF-9DDF-4A6C-B9FE-B622001A2443';
                            }
                            if( $notifyType=='negativ'){
                                $notifyTemplate = '5C66BDA8-BD63-4962-91DB-BDCBA893D53F';
                            }
                        }
                        if(!empty($notifyTemplate)){
                            $notify = $notifyClass->getByWhere(array(
                                    'fk_isgaApplication'=>$application->getId(),
                                    'fk_isgaNotificationTemplate'=>$notifyTemplate
                                ));
                        }

                        $notifyNumber='';
                        if(!empty($notify)){
                            $notifyNumber=$notify->getFieldOrSpace('Number');
                        }
                        ?>
                        <input
                            class ="form-notify-number"
                            value="<?php  echo $notifyNumber ;?>"
                            >

                    </td>
                </tr>
                <tr>
                    <td class="title_form notify-reason-label" colspan="2">Причины несоответствия</td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        notifyLoadReasons();
    </script>
<?php endif; ?>