<?php
if (count($applications) > 0) {
    foreach ($applications as $key => $application) {
        $docType = $applicationTamplets[strtoupper($application['fk_isgaNotificationTemplate'])];
        ?>
        <tr class="row_appl" id_appl="<?= $application['Id'] ?>">
            <td><?= $key + 1; ?></td>
            <td><?= (!empty($application['ApplicationNumber'])) ? $application['ApplicationNumber'] : ''; ?></td>
            <td><a target="_blank" href="<?= isset($applicationFiles[strtoupper($application['Id'])][strtoupper($docType)])?'/uploads/'.$applicationFiles[strtoupper($application['Id'])][strtoupper($docType)]:'javascript:;'?>"><?= (!empty($application['NotifyNumber'])) ? $application['NotifyNumber'] : ''; ?></a></td>
            <td><?= (!empty($application['fk_isgaApplicationStatus'])) ? $applicationStatus[strtoupper($application['fk_isgaApplicationStatus'])] : ''; ?></td>
            <td> <?= (!empty($application['DateCreation'])) ? date('d.m.Y',strtotime($application['DateCreation'])) : ''; ?> </td>
            <td> <?= (!empty($application['DateSigning'])) ? date('d.m.Y',strtotime($application['DateSigning'])) : ''; ?> </td>
            <td> <?= (!empty($application['DateSending'])) ? date('d.m.Y',strtotime($application['DateSending'])) : ''; ?> </td>
        </tr>
        <?php
    }
} else {
    ?>
    <tr >
        <td colspan="7" style="text-align: center">Записи не найдены</td>
    </tr>
    <?php
}
?>
