<div class="container">
    <div id ="filter">
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="padding: 0;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;padding: 5px 0;width: 120px">Дата создания от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                        class="date-field dtDateStart SearchDate createDateBegin"
                                        value="<?=isset($search['dateBegin'])?$search['dateBegin']:''?>"
                                        type="text"
                                        name="dateIssueBegin"
                                        >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="date-field dtDateEnd SearchDate createDateEnd"
                                        type="text"
                                        value="<?=isset($search['dateEnd'])?$search['dateEnd']:''?>"
                                        name="dateIssueEnd"
                                        >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td width="100" style="padding: 0 0 0 5px;">
                                <span class="bt btApply" style="margin-right: 0;">Применить</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 0;padding-right: 5px;width: 50%;">
                    <select class="sState types" style="width: 100%;" onchange="typeChange(this)">
                        <option value="" selected="selected" >Все типы процедур</option>
                        <?php
                        if( !empty($applicationTypes) ){
                            $type = '';
                            if(isset($search['type'])) $type = $search['type'];
                            foreach ( $applicationTypes as $id => $applicationType ) {
                                ?>
                                <option value="<?=$id?>" <?=$type==$id?'selected':''?> ><?php echo $applicationType->getFieldHtml('ShortName'); ?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </td>
                <td style="padding-left: 5px;width: 50%;">
                    <select class="sState reasons" style="width: 100%;">
                        <option value="" selected="selected" >Все основания</option>
                        <?php
                        if( !empty($applicationReasons) ){
                            $reason = '';
                            if(isset($search['reason'])) $reason = $search['reason'];
                            foreach ( $applicationReasons as $id => $applicationReason ) {
                                ?>
                                <option
                                    value="<?=$id?>"
                                    <?=$reason==$id?'selected':''?>
                                    typeId=<?=$applicationReason->getFieldHtml('fk_isgaApplicationType');?>
                                    >
                                    <?=$applicationReason->getFieldHtml('Name'); ?>
                                </option>
                            <?php
                            }
                        }

                        ?>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewzone">
         <table class="intable">
            <tr>
                <th>№</th>
                <th>Дата регистрации</th>
                <th>Номер заявления</th>
                <th>Тип заявления</th>
                <th>Основание заявления</th>
                <th>Филиалы</th>
            </tr>
            <tbody class="supplements intable_content">
                <?php if(count($applications)>0) : ?>
                    <?php foreach( $applications as $key=>$application) : ?>
                        <?php
                            $currAppl = $applicationClass->getEntityById($application['Id']);
                            $reason = $currAppl->getNamesReasons();
                            if(!$reason){
                                continue;
                            }
                            $type         = $currAppl->getType();
                            if(!$type){
                                continue;
                            }
                        ?>
                        <tr class="row_appl" id_appl="<?=$application['Id']?>">
                            <td><?=$key+1;?></td>
                            <td><?=date('d.m.Y', strtotime($application['DateReg']));?></td>
                            <td><?=$application['RegNumber'];?></td>
                            <td><?=$type->getField("Name");?></td>
                            <td><?=(is_array($reason))? implode(',<br> ',$reason): $reason; ?></td>
                            <td>
                                <?php
                                    if (array_key_exists($application['Id'], $applicationBranches)) {
                                        if (count($applicationBranches[$application['Id']]) > 3) {
                                            $mas = array_splice($applicationBranches[$application['Id']], 3);
                                            echo implode(', ', $mas) . '... ';
                                        } else {
                                            echo implode(', ', $applicationBranches[$application['Id']]);
                                        }
                                    }
                                ?>
                            </td>
                        </tr>
                    <?php endforeach;
                    if($nextPage<$allPage){?>
                        <tr id="nextDeclorationsHref"><td colspan="5"><div style="text-align: center;"><a id="nextPageHref" href="javascript:;" onclick="downloadNextDeclaration()" nextpage="<?=$nextPage?>">Загрузить еще результаты</a></div></td></tr>
                    <?php }?>
                <?php else : ?>
                    <tr class="td_level"><td colspan="6"><div style="text-align: center;">Записи не найдены</div></td></tr>
                <?php endif; ?>
            </tbody>
        </table>
    </div>
</div>
<div id="popup_win">

</div>
<div class='loading-overlay' style="display:none;"><div class='windows8'><div class='wBall' id='wBall_1' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_2' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_3' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_4' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div>   <div class='wBall' id='wBall_5' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div></div><div class='loading-overlay-message'>Загрузка...</div></div>
<script>
$(document).ready(function(){
    max_show_tab = 10;
    $(".date-field").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd.mm.yy",
    });
    jQuery(".date-field").datepicker("option", "maxDate", '');
    jQuery(".date-field").datepicker("option", "minDate", '');
    $(".filter_wraper").delegate('#filter','change',function(){
        var event = $(".btn-warning").attr('event');
        var _this = $(".btn-warning");
        var controller = $(".btn-warning").attr('controller');
        var search = $("#filter").val();
        if (event) {
            searchDeclaration(_this, event,controller,search);
        }
    })
    $("#filter").delegate('.btApply','click',function(){
        var event = $(".btn-warning").attr('event');
        var _this = $(".btn-warning");
        var controller = $(".btn-warning").attr('controller');
        var search = {
            "type": $(".types", "#filter").val() || '',
            "reason": $(".reasons", "#filter").val() || '',
            "dateBegin": $(".createDateBegin", "#filter").val() || '',
            "dateEnd": $(".createDateEnd", "#filter").val() || ''

        };
        if (event) {
            searchDeclaration(_this, event,controller,search);
        }
    })
    $('.viewzone').delegate('.row_appl','click',function(){
        $('.row_appl').removeClass('active_appl');
        $(this).addClass('active_appl');
    });
    $('.viewzone').delegate('.active_appl','click',function(){
        openEdit();
    });
    $(".footer").remove();
    $("#wrapper").append('<div class="footer"><ul class="nav_footer" id="footer_button"><div id="btActions-block"><li class="filelink" id="filelink"><a id="help_button" onClick="openEdit()" href="javascript:;"><div></div><span class="text">Редактировать</span></a></li></div></ul></div>');

    $(".footer").delegate('#add_butt a',"click",function(){
        $.ajax({
            url: '/eo/declaration/edit',
            type: 'POST',
            data: {type:'rectification'},
            success: function(answer){
                max_show_tab = 10;
                $("#popup_win").html(answer);
                $("#popup_win").show();
                resizeContent($("#popup_win .container .viewzone"));
                $(".input-date").datepicker();
                $.ajax({
                    url: '/eo/declaration/get-application-reason/'+$(this).val(),
                    success: function(answer){
                        $("#reason_td").html(answer);
                    }
                });
            }
        });
   })

    $("#popup_win").delegate("#cboxClose","click",function(){
        $("#popup_win").hide();
        var event = $(".btn-warning").attr('event');
        var _this = $(".btn-warning");
        var controller = $(".btn-warning").attr('controller');
        var search = $("#filter").val();
        if (event) {
            searchDeclaration(_this, event,controller,search);
        }
    });

    $("#popup_win").delegate("#type_declaration","change",function(){
       $("#full_name_reor").hide();
        if($("#type_declaration").val()=='41152d9a-3e6a-4c6b-9a6b-53e246eb8638'){
            $('a[tab="2"]').parent('li').hide();
            $('a[tab="3"]').parent('li').hide();
        }else{
            $('a[tab="2"]').parent('li').show();
            $('a[tab="3"]').parent('li').show();
        }
        $.ajax({
            url: '/eo/declaration/get-application-reason/'+$(this).val(),
            success: function(answer){
                $("#reason_td").html(answer);

            }
        });
        if($("#type_declaration").val()=='550b5c08-99e0-4449-a242-b448e9b1b422'){
            $("#full_name_reor").show();
        }
    })
    $("#popup_win").delegate(".check_req", "click", function () {
        console.log('вешаем обработчики на тык причин 2 ');
        $("#full_name_reor").hide();
        if ($('#type_declaration').val()=="550b5c08-99e0-4449-a242-b448e9b1b422" || $('.check_req[value="f3923905-c349-4f87-af80-8660361537dc"]').is(":checked") || $('.check_req[value="64771BDC-27C5-4C83-B93D-CB725435658B"]').is(":checked") || $("#type_declaration").val()=='64771BDC-27C5-4C83-B93D-CB725435658B') {
            $("#full_name_reor").show();
        }
    });
    $("#full_name_reor").hide();
    if ($('#type_declaration').val()=="550b5c08-99e0-4449-a242-b448e9b1b422" || $('.check_req[value="f3923905-c349-4f87-af80-8660361537dc"]').is(":checked")|| $('.check_req[value="64771BDC-27C5-4C83-B93D-CB725435658B"]').is(":checked") ||$("#type_declaration").val()=='64771BDC-27C5-4C83-B93D-CB725435658B') {
        $("#full_name_reor").show();
    }
    $("#popup_win").delegate(".DeleteOldFile","click",function(){
        $.ajax({
            url: '/eo/declaration/delete-old-file/'+$(this).attr('iddoc'),
            success: function(answer){
                getFilesAjax()
            }
        });
    });



    $("#popup_win").delegate("#sendform1","click",function(){
        var call=0;
        var first=1;
        $(".required").each(function(i,elem){
            if($(this).val()==''){
               call=1;
               $(this).addClass('error_input');
               if(first==1){
                   $(this).focus();
                   first =0;
               }
            }else{
               $(this).removeClass('error_input');
            }
        });
        if(call==1){
            useTopHoverTitleError("Пожалуйста заполните обязательные поля");
            return false;
        }
        if($(this).attr('numb') == 1){
            $(".loading-overlay").show();
            $("#submitFirstForm").click();
            //$("#edit_declaration"+$(this).attr('numb')).submit();
        }else if($(this).attr('numb') == 2){
            $("#submit2Form").click();
            handleResponse($(this).attr('numb'), 1);
        }else{
           handleResponse($(this).attr('numb'), 1);
        }
    });

    $("#popup_win").delegate(".show_tab","click",function(){
        var mes = $(this).attr('tab') - 1;

        $(".show_tab").removeClass('active');
        handleResponse(mes, 1);
    });

    $("#popup_win").delegate("#unsendform1","click",function(){
        $(".show_tab").removeClass('active');
        if($("#type_declaration").val()=="41152d9a-3e6a-4c6b-9a6b-53e246eb8638"){
            handleResponse(0, 4);
        }else{
            handleResponse($('#sendform1').attr('numb') - 2, 1);
        }

    });

    $("#popupWindow").delegate(".searchOrganization","change",function(){
        if($("#add_reorg_struct").hasClass('clicked')){
            showPop('/eo/declaration/get-edu-org/0/'+$(".searchOrganization").val());
        }else{
            if($(".selected_reorg:checkbox:checked").length>0){
                if (confirm("Вы уверены что хотите начать поиск ? Вы не добавили варианты с этой страницы.")) {
                    showPop('/eo/declaration/get-edu-org/0/'+$(".searchOrganization").val());
                }
            }else{
                showPop('/eo/declaration/get-edu-org/0/'+$(".searchOrganization").val());
            }
        }
    });
    $("#popupWindow").delegate("#cboxClosePop","click",function(){
        $("#popupWindow").hide();
        if($(this).hasClass('updatePage')){
            $('.btn-warning').click();
        }
    });

    $("#popupWindow").delegate(".DeleteOldFile","click",function(){
        getFilesAjax();
    });
    //обработчик тыков по галчкам причин/оснований заявлений
    $("body").delegate(".check_req","click",function(){
        if($(".check_req:checked").length>0){
            var isset = true;
        }else{
            var isset = false;
        }
        if(isset === false){
            $(".check_req").prop('disabled',false);
        }else{
            $(".check_req").prop('disabled',true);
            $(".check_req[groupe_id='"+$(this).attr('groupe_id')+"']").prop('disabled',false);
        }
        //если забанена тип дупликата, то нельзя выбрать пирчины
        //(нет предыдущего свидетельства)
        //баним доокредитацию и переоформление
        var appDuplicatType=jQuery("#type_declaration option[code='DublicateCertificate']").attr('disabled');
        if(appDuplicatType !== undefined){
            jQuery('#reason_td .check_req[groupe_id="1"]').attr('disabled','disabled');
            jQuery('#reason_td .check_req[groupe_id="3"]').attr('disabled','disabled');
        }

    });
    $('body').delegate('.level-elem', 'click', function () {
            $('.level-elem').removeClass('active-level');
            $(this).addClass('active-level');
            getUgsList();

        });
        $('body').delegate('.programCol', 'change', function () {
            saveProgramField(this);
        });
        $('body').delegate('.ugs_row', 'click', function () {
            $('.ugs_row').removeClass('active_ugs_row');
            $(this).addClass('active_ugs_row');
            getProgramsByUgs();
        });
    $('body').undelegate('#show_all_program', 'click');
    $('body').delegate('#show_all_program', 'click', function () {
        setTimeout(function () {
            if ($("#show_all_program").is(":checked")) {
                $('.ugs_row').each(function (i) {
                    $(this).click();
                });
            } else {
                if ($("#show_only_program").is(":checked")) {
                    $("#show_only_program").click();
                }
                $('.ugs_row:first').click();
            }
        },100);
    });
    $('body').undelegate('#show_only_program', 'click');
    $('body').delegate('#show_only_program', 'click', function () {
        if ($("#show_only_program").is(":checked")) {
            $('.ugs_row_tbody').hide();
            /*if (!$("#show_all_program").is(":checked")) {
                $("#show_all_program").click();
            }*/
            $(".ugs_block tr:not('.programRow')").parent("tbody.ugs_block").removeClass("active_ugs_block");
        }else{
            $('.ugs_row_tbody').show();
            $(".ugs_block tr:not('.programRow')").parent("tbody.ugs_block").addClass("active_ugs_block");
        }
    });

});

function typeChange(element){
    var typeId = jQuery(element).val();
    if( 'undefined' == typeof(typeId) || '' ==  typeId ){
        jQuery('.reasons option').show();
    }
    else {
        jQuery('.reasons option').removeProp('selected');
        jQuery('.reasons option').hide();
        jQuery('.reasons option[typeId="'+typeId+'"]').show();
        jQuery('.reasons option[value=""]').show();
    }
}
 function searchDeclaration(_this, event ,keep_selector,search){
    if (!event) return false;
     if(search === ''||search==undefined){
         var destination_link = '/eo/'+keep_selector+'/' + event;
     }else{
         var destination_link = '/eo/'+keep_selector+'/' + event+'/0';
     }
    $.ajax({
        type: 'POST',
        url: destination_link,
        data: search,
        beforeSend: function(){
            //ресайзимблок с контентом
            resizeContent($(".content_td .content"));
            $(".content_td .content .viewzone .intable_content").html("").append($("<div class='loading-img'><img src='/img/loading.gif' /></div>")).fadeIn(500);
        },
        success: function(answer) {
            $(".content_td .content .loading-img").fadeOut(500, function(){
                answer = $(answer)
                $(".content_td .content .viewzone .intable_content").html("").append(answer.find(".intable_content").html());
                resizeContent($(".viewzone", answer));
            })
        }
    });
 }
 function getCertificateByIdOrg(id) {
    $.ajax({
        url: '/eo/declaration/get-certificates-by-org/' + id,
        success: function (answer) {
            $("#cetificateWrap").html(answer);
        }
    });
}
 /*
  * Окно редактирования/создания заявки
  */
 function openEdit(){
    if($('.row_appl').is('.active_appl')){
        $.ajax({
            url: '/eo/declaration/edit/'+$('.row_appl.active_appl').attr('id_appl'),
            type: 'POST',
            data: {type:'rectification'},
            success: function(answer){
                $("#popup_win").html(answer);
                $("#popup_win").show();
                resizeContent($("#popup_win .container .viewzone"));
                if($("#type_declaration").val()=='41152d9a-3e6a-4c6b-9a6b-53e246eb8638'){
                    $('a[tab="2"]').parent('li').hide();
                    $('a[tab="3"]').parent('li').hide();
                }
                $(".input-date").datepicker();
            }
        });
    }else{
        useTopHoverTitleError("Пожалуйста, выберите запись");
    }
};

/*
 * Максимально число активных вкладок( Для перехода по уже заполнеым вкладкам)
 */
function setMaxShowTab(mes) {
    if (mes > max_show_tab) {
        max_show_tab = mes;
    }
}

/*
 * Оброботчик возврощаемых значений при сохранений данных на вкладках
 */
function handleResponse(mes, id) {
    console.log('module/Eo/view/eo/declaration/rectification.phtml');
    $(".sendApplication").remove();
    console.log(mes);
    if (id == "error") {
        $('#res').html("Возникли ошибки при добавлении заявки: " + mes.errors);
    }else {
        if(mes <= 0){
            showHideTabs(1,0);
            setMaxShowTab(mes);
        }
        if(mes==1){
            if($("#type_declaration").val()=='41152d9a-3e6a-4c6b-9a6b-53e246eb8638'){
                $("#edit_declaration1").append("<input type='hidden' name=\"0[Id]\" id='id_application_val' value='"+id+"'/>");
                showHideTabs(4,1);
                getFilesAjax()
                setMaxShowTab(mes);
            }else{
                $("#edit_declaration1").append("<input type='hidden' name=\"0[Id]\" id='id_application_val' value='"+id+"'/>");
                setMaxShowTab(mes);
                $.ajax({
                    url: '/eo/declaration/get-active-fillials-new/'+$("#id_application_val").val(),
                    type:"POST",
                    beforeSend: function () {
                        $(".loading-overlay").show();
                    },
                    success: function(answer){
                        $("#fillials_table_list").html(answer);

                        $(".loading-overlay").fadeOut(250);
                        $(".input-date").datepicker();
                    }
                });
                showHideTabs(2,1);
            }
        }
        if(mes==2){
            showHideTabs(3,2);
            setMaxShowTab(mes);
            getFillialsPrograms()
        }
        if(mes==3){
            getFilesAjax();
            showHideTabs(4,3);
            setMaxShowTab(mes);
            //$(".viewzone").append('<div class="footer"><ul class="nav_footer" id="footer_button"><div id="btActions-block"><li class="filelink" id="getDocs"><a href="javascript:;" onclick="DownloadApplication()"><div></div><span class="text">Скачать</span></a></li></div></ul></div>');
        }
        if(mes==4){
            SendFile();
            setMaxShowTab(mes);
        }
        if(mes==5){
            getFilesAjax();
        }
        if (mes == 6) {
            setMaxShowTab(mes);
            console.log("рисуем табс несоответствия");
            showHideTabs(7, $('#list_tabs li a.active').attr('tab'));
        }
        if (mes == 7) {
            setMaxShowTab(mes);
            if (blockedNotifyComents == 0) {
                console.log("табс несоответствия сохранить");
                var notifyAlertAfterSave = function () {
                    useTopHoverTitle($('#tab7 .notify-reason-label').text()+" записаны");
                }
                notifyCommentsSend(notifyAlertAfterSave);
            }
        }
    }
 }

 /*
  * Загрузка документов
  */
 function DownloadApplication(){
   location.href='/eo/declaration/export-data/docx/'+$("#id_application_val").val();
 }

 /*
  * ОТправка заявки на вкладку отправленные
  */
 function sendToSend(){
     if($(".importantFiles .maySent").length>0){
         useTopHoverTitleError("Вы не загрузили один из обязательных документов.");
         $(".maySent").parents('.containerWrapFile').css('border','1px solid red');
         $(".maySent").focus();
     }else{
        $.ajax({
            type: 'POST',
            data: {type:'rectification'},
            url: '/eo/declaration/send-to-send/'+$("#id_application_val").val(),
            beforeSend: function () {
                $(".loading-overlay").show();
            },
            success: function(answer){
                console.log(answer);
                if ( answer == 'Ok' ) {
                    console.log(answer);
                    var dContent = $(
                        '<div class="dialog-send-to-send">'+
                            '<div style="padding:25px;">'+
                            '<p style="font-size:17px;">После подачи заявления в электронном виде на процедуру государственной аккредитации образовательной деятельности подача на бумажном носителе НЕ ТРЕБУЕТСЯ (п.15 Постановления Правительства РФ от 18.11.2013 N 1039 "О государственной аккредитации образовательной деятельности")</p>'+
                            '</div>'+
                            '</div>');
                    $(dContent).dialog({
                        title: "УВЕДОМЛЕНИЕ",
                        width: 600,
                        modal: true,
                        buttons: [
                            {
                                text: "Закрыть",
                                click: function() {
                                    $(".dialog, .dialog-send-to-send").remove();
                                }
                            }
                        ],
                        close: function() {
                            $(".dialog, .dialog-send-to-send").remove();
                            useTopHoverTitle("Заявка отправлена",2000);
                        }
                    });
                    $('#sentAppl').click();
                    $(".loading-overlay").fadeOut(250);
                }
                if ( answer == 'Unsigned') {
                    showPop('/eo/declaration/get-form-signed/'+$("#id_application_val").val()+'/rectification');
                    $(".loading-overlay").show();
                }

            }
        });
     }
 }

 /*
  * Ajax отправка файлов на сервер
  */
 function SendFile() {
    //отправка файла на сервер
    $(".loading-overlay").show();
    $("#files_list_upload").submit();
}

/*
 * переход по вкладкам на форме редактирования
 */
function showHideTabs(show,hide){
    $(".show_tab.active").removeClass('active');
    $(".show_tab[tab='"+show+"']").addClass("active");
    $(".tabs-panel").removeClass("show-panel");
    $("#tab"+show+"").addClass('show-panel');
    $("#sendform1").attr('numb',show);
    $("#unsendform1").show();
}

function downloadNextDeclaration(){
                if($("#filter").val()==''){
                    var url='/eo/declaration/new/'+$("#nextPageHref").attr('nextpage');
                }else{
                    var url='/eo/declaration/new/'+$("#nextPageHref").attr('nextpage')+'/'+$("#filter").val();
                }
                $.ajax({
                    url: url,
                    beforeSend: function (xhr) {
                     $(".loading-overlay").show();
                       $("#nextDeclorationsHref").remove();
                    },
                    success: function(answer){
                        $(".loading-overlay").fadeOut(250, function(){
                            $(".route-table tbody.intable_content").append(answer);
                        })
                    }
                });
}
/*
 * получение списка загруженных файлов.
 */
function getFilesAjax(){
    $.ajax({
        url: '/eo/declaration/application-files/'+$("#id_application_val").val(),
        data: {type:'rectification'},
        beforeSend: function () {
                $(".loading-overlay").show();
        },
        success: function(answer){
            $("#tab4").html(answer);
            if($(".importantFiles .maySent").length==0){
                $("#but_wrap_child_right #btActions-block").prepend('<li class="filelink sendApplication"><a onclick="sendToSend()" href="javascript:;"><div></div><span class="text">Отправить</span></a></li>');
            }else{
                $(".maySent").parents('.containerWrapFile').css('border','1px solid red');
                $(".maySent").focus();
                $("#but_wrap_child_right #btActions-block .sendApplication").remove();
            }
            $(".loading-overlay").fadeOut(250);
        }
    });
}

/*
 * скрыть окно #popupWindow
 */
function hidePopupWin(){
    $("#popupWindow").hide();
}
function getFillialsPrograms(){
            $.ajax({
                url: '/eo/declaration/get-fillials-programs/' + $("#id_application_val").val(),
                type: "POST",
                beforeSend: function () {
                    $(".loading-overlay").show();
                },
                success: function (answer) {
                    $(".leftSideBar").html(answer);
                    $(".loading-overlay").fadeOut(250);
                },
                error:function(e){
                    useTopHoverTitleError("Возникла ошибка");
                    $(".loading-overlay").fadeOut(250);
                    console.log("Ошибка");
                    console.log(e);
                }
            });
}
function getEduLevel() {
    $.ajax({
        url: '/eo/declaration/get-edu-program-type/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org'),
        type: "POST",
        success: function (answer) {
            $('.level-list').addClass('old-level-list');
            $('.old-level-list').remove();
            $('.active_fil').parent('li').append(answer);
            $('.level-list').show(250);
            getUgsList();
        }
    });
}
function getUgsList() {
    $.ajax({
        url: '/eo/declaration/get-ugs-by-level/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org')+'/'+$(".level-elem.active-level").attr('id-level'),
        type: "POST",
        success: function (answer) {
            $('.rightSideBar').html(answer);
            getProgramsByUgs();
        }
    });
}
function getDirectByUgs(id){
    $('.ugs_row').removeClass('active_ugs_row');
    $('.ugs_row[ugs_id="'+id+'"]').addClass('active_ugs_row');
    var dContent = $(
        '<div class="dialog-directugs-info">' +
        "<div style='text-align: center;margin-top:100px'><div class='loading-img'><img src='/img/loading.gif' /></div></div>"+
        '</div>');
    $(dContent).dialog({
        title: "Направление подготовки",
        width: 600,
        modal: true,
        close: function() {
            $(".dialog, .dialog-directugs-info").remove();
        },
        open: function() {
            //Отсылаем запрос на получение инфо по заявлению
            $.ajax({
                type: 'POST',
                dataType: "html",

                url: '/eo/declaration/get-direct-by-ugs/'  + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('.active-level').attr('id-level') + '/' + id,
                success: function(answer) {
                    $(".loading-img", dContent).fadeOut(500, function() {
                        dContent.html("").append($(answer));
                        //Вешаем обработчики

                        //Устанавливаем высоту
                        $(".dialog-content",dContent).height($(dContent).height()-20);
                    });
                }
            });
        }
    });
}
function sendCheckDirect(){
    $.ajax({
        type: 'POST',
        data:$("#direct_form").serialize()+"&appl="+ $(".active_fil").attr('id_appl')+"&org="+$(".active_fil").attr('id_org')+"&level="+$('.active-level').attr('id-level'),
        url: '/eo/declaration/save-checked-direct',
        success: function (answer) {
             $(".dialog, .dialog-directugs-info").remove();
             getProgramsByUgs();
        }
    });
}
function getProgramsByUgs() {
    $.ajax({
        type: 'POST',
        dataType: "html",
        url: '/eo/declaration/get-program-by-ugs/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('.active-level').attr('id-level') + '/' + $('.active_ugs_row').attr('ugs_id'),
        success: function (answer) {
            /*$('.ugs_block').removeClass('active_ugs_block');
            $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').html(answer);
            $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').addClass('active_ugs_block');*/

            if(!$("#show_all_program").is(":checked")){
                $('.ugs_block').removeClass('active_ugs_block');
            }
            if($("#show_only_program").is(":checked")&&answer.indexOf("Нет выбранных программ")==-1){
                console.log(1);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').html(answer);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').addClass('active_ugs_block');
            }
            if(!$("#show_only_program").is(":checked")){
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').html(answer);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').addClass('active_ugs_block');
            }
            tableProgramsByUgsHeadering();
        }
    });
}
function saveProgramField(elem) {
    console.log('рон - акредитация - канрточка заявления - программы - тык по флажку - 2');
    var id = $(elem).parent().parent().attr('id_program');
    var fieldName = $(elem).attr('name');
    var fieldVal = $(elem).val();
    
    if( jQuery(elem).is('[type="checkbox"]') ){
        if( jQuery(elem).is(':checked') ){
            fieldVal = 1;
        }
        else{
            fieldVal = 0;
        }
    }
    
    $.ajax({
        type: 'POST',
        dataType: "html",
        data: fieldName+"="+fieldVal,
        url: '/eo/declaration/save-field-program-application/'+id,
    });
}
function deleteProgramAppl(id){
     $.ajax({
        type: 'POST',
        dataType: "html",
        url: '/eo/declaration/delete-program-application/'+id,
        success:function(){
             getProgramsByUgs()
        }
    });
}

</script>
<style>
#popup_win{height: 99%;}
.tabs-panel.show-panel {height:86%;}
</style>