<div class="container">
    <div id ="filter">
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="padding: 0;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: left;padding: 5px 0;width: 120px">Дата создания от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                        class="date-field dtDateStart SearchDate createDateBegin"
                                        value="<?=isset($search['dateBegin'])?$search['dateBegin']:''?>"
                                        type="text"
                                        name="dateIssueBegin"
                                        >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="date-field dtDateEnd SearchDate createDateEnd"
                                        type="text"
                                        value="<?=isset($search['dateEnd'])?$search['dateEnd']:''?>"
                                        name="dateIssueEnd"
                                        >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td width="100" style="padding: 0 0 0 5px;">
                                <span class="bt btApply" style="margin-right: 0;">Применить</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 0;padding-right: 5px;width: 50%;">
                    <select class="sState types" style="width: 100%;" onchange="typeChange(this)">
                        <option value="" selected="selected" >Все типы процедур</option>
                        <?php
                        if( !empty($applicationTypes) ){
                            $type = '';
                            if(isset($search['type'])) $type = $search['type'];
                            foreach ( $applicationTypes as $id => $applicationType ) {
                                ?>
                                <option value="<?=$id?>" <?=$type==$id?'selected':''?> ><?php echo $applicationType->getFieldHtml('ShortName'); ?></option>
                            <?php
                            }
                        }
                        ?>
                    </select>
                </td>
                <td style="padding-left: 5px;width: 50%;">
                    <select class="sState reasons" style="width: 100%;">
                        <option value="" selected="selected" >Все основания</option>
                        <?php
                        if( !empty($applicationReasons) ){
                            $reason = '';
                            if(isset($search['reason'])) $reason = $search['reason'];
                            foreach ( $applicationReasons as $id => $applicationReason ) {
                                ?>
                                <option
                                    value="<?=$id?>"
                                    <?=$reason==$id?'selected':''?>
                                    typeId=<?=$applicationReason->getFieldHtml('fk_isgaApplicationType');?>
                                    >
                                    <?=$applicationReason->getFieldHtml('Name'); ?>
                                </option>
                            <?php
                            }
                        }

                        ?>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewzone"  data-heightdelta="-27">
         <table class="intable">
            <tr>
                <th>№</th>                
                <th>Рег. номер</th>
                <th>Дата регистрации</th>
                <th>Тип заявления</th>
                <th>Основание заявления</th>
                <th>Филиалы</th>
                <th>Статус</th>
            </tr>
            <tbody class="supplements intable_content">
               <?php
               if(count($applications)>0){
                    foreach ($applications as $key => $application) {
                        $currAppl = $applicationClass->getEntityById($application['Id']);
                        $reason   = $currAppl->getNamesReasons();
                        if (!$reason) {
                            continue;
                        }
                        $type = $currAppl->getType();
                        if (!$type) {
                            continue;
                        }
                    ?>
                    <tr class="row_appl" id_appl="<?=$application['Id']?>">
                        <td><?=$key+1;?></td>
                        <td><?=(!empty($application['RegNumber'])) ? $application['RegNumber'] : '';?></td>
                        <td><?=(!empty($application['DateReg'])) ? date('d.m.Y', strtotime($application['DateReg'])): ' ';?></td>
                        <td><?= (method_exists($type, 'getField')) ? $type->getField("Name") : ' ';?></td>
                        <td><?= (is_array($reason))? implode(',<br> ',$reason): $reason; ?></td>
                        <td>
                            <?php
                                if (array_key_exists($application['Id'], $applicationBranches)) {
                                    if (count($applicationBranches[$application['Id']]) > 3) {
                                        $mas = array_splice($applicationBranches[$application['Id']], 3);
                                        echo implode(', ', $mas) . '... ';
                                    } else {
                                        echo implode(', ', $applicationBranches[$application['Id']]);
                                    }
                                }
                            ?>
                        </td>
                        <td>
                            <?php 
                               echo (isset($applicationStatuses[$application['fk_isgaApplicationStatus']])) ? $applicationStatuses[$application['fk_isgaApplicationStatus']] : ' ';
                            ?> 
                        </td>
                    </tr>
               <?php } 
               }else{ ?>
                    <td colspan="7" style="text-align: center" class="td_level">Записи не найдены</td>
               <?php } ?>
            </tbody>
        </table>
    </div>
</div>
<div id="popup_win">
    
</div>
<script>
$(document).ready(function(){
    $(".date-field").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd.mm.yy",
    });
    jQuery(".date-field").datepicker("option", "maxDate", '');
    jQuery(".date-field").datepicker("option", "minDate", '');

    $("#filter").delegate('.btApply','click',function(){
        var event = $(".btn-warning").attr('event');
        var _this = $(".btn-warning");
        var controller = $(".btn-warning").attr('controller');
        var search = {
            "type": $(".types", "#filter").val() || '',
            "reason": $(".reasons", "#filter").val() || '',
            "dateBegin": $(".createDateBegin", "#filter").val() || '',
            "dateEnd": $(".createDateEnd", "#filter").val() || ''

        };
        if (event) {
            searchDeclaration(_this, event,controller,search);
        }
    })
    $('.viewzone').delegate('.row_appl','click',function(){
        $('.row_appl').removeClass('active_appl');
        $(this).addClass('active_appl');
         
    });

    $('.viewzone').delegate('.active_appl','click',function(){
        openEdit();
    });
   $(".footer").remove();
   $("#wrapper").append('<div class="footer"><ul class="nav_footer" id="footer_button"><div id="btActions-block"><li class="filelink" id="add_butt"><a onClick="openEdit()" href="javascript:;"><div></div><span class="text">Просмотр</span></a></li></div></ul></div>'); 
   $("#popup_win").delegate("#cboxClose","click",function(){
        $("#popup_win").hide();
    });
   
    $("#popup_win").delegate("#type_declaration","change",function(){
        
        
        $.ajax({
            url: '/eo/declaration/get-application-reason/'+$(this).val(),
            success: function(answer){
                $("#reason_td").html(answer);
                 $("#full_name_reor").hide();
            }
        });
    })
   
  
    $("#popup_win").delegate(".show_tab","click",function(){
        var mes = $(this).attr('tab');
        if( "deprivation" == mes ){
            declaration.deprivation.openTabDeprivation('', 'sent');
        }
        else if( "removal" == mes ){
            declaration.deprivation.openTabDeprivation('removal', 'sent');
        }
        else{
            mes=mes - 1;
            $(".show_tab").removeClass('active');
            handleResponse(mes, 1,'show_tab');
            $('#unsendform1').remove();
            $('#sendform1').remove();
        }
    });

     $('body').delegate('.level-elem', 'click', function () {
            $('.level-elem').removeClass('active-level');
            $(this).addClass('active-level');
            getUgsList();

        });
    /*$('body').delegate('.programCol', 'change', function () {
        saveProgramField(this);
    });*/
    $('body').undelegate('.ugs_row', 'click');
    $('body').delegate('.ugs_row', 'click', function () {
        $('.ugs_row').removeClass('active_ugs_row');
        $(this).addClass('active_ugs_row');
        getProgramsByUgs();
    });
    $('body').undelegate('#show_all_program', 'click');
    $('body').delegate('#show_all_program', 'click', function () {
        setTimeout(function () {
            if ($("#show_all_program").is(":checked")) {
                $('.ugs_row').each(function (i) {
                     $(this).click();
                    });
                } else {
                    if ($("#show_only_program").is(":checked")) {
                        $("#show_only_program").click();
                    }
                    $('.ugs_row:first').click();
                }
            },100);
        });
    $('body').undelegate('#show_only_program', 'click');
    $('body').delegate('#show_only_program', 'click', function () {
        if ($("#show_only_program").is(":checked")) {
            $('.ugs_row_tbody').hide();
           /* if (!$("#show_all_program").is(":checked")) {
                $("#show_all_program").click();
            }*/
            $(".ugs_block tr:not('.programRow')").parent("tbody.ugs_block").removeClass("active_ugs_block");
        }else{
            $('.ugs_row_tbody').show();
            $(".ugs_block tr:not('.programRow')").parent("tbody.ugs_block").addClass("active_ugs_block");
        }
    });
    $("body").delegate(".change_fill_deprivation","click",function(){
        console.log('карточка заявления - исключение - тык по филиалу');
        $(".change_fill_deprivation").removeClass("active_fill_deprivation");
        $(this).addClass("active_fill_deprivation");
        declaration.deprivation.getEduLevel();
    })
    
});

function typeChange(element){
    var typeId = jQuery(element).val();
    if( 'undefined' == typeof(typeId) || '' ==  typeId ){
        jQuery('.reasons option').show();
    }
    else {
        jQuery('.reasons option').removeProp('selected');
        jQuery('.reasons option').hide();
        jQuery('.reasons option[typeId="'+typeId+'"]').show();
        jQuery('.reasons option[value=""]').show();
    }
}
function searchDeclaration(_this, event ,keep_selector,search){
    if (!event) return false;
    if(search === ''||search==undefined){
        var destination_link = '/eo/'+keep_selector+'/' + event;
    }else{
        var destination_link = '/eo/'+keep_selector+'/' + event+'/0';
    }
    $.ajax({
        type: 'POST',
        data: search,
        url: destination_link,
        beforeSend: function(){
            //ресайзимблок с контентом
            resizeContent($(".content_td .content"));
            $(".content_td .content .viewzone .intable_content").html("").append($("<div class='loading-img'><img src='/img/loading.gif' /></div>")).fadeIn(500);
        },
        success: function(answer) {
            $(".content_td .content .loading-img").fadeOut(500, function(){
                answer = $(answer)
                $(".content_td .content .viewzone .intable_content").html("").append(answer.find(".intable_content").html());
                resizeContent($(".viewzone", answer));
            })
        }
    });
}
function openEdit(){
    if($('.row_appl').is('.active_appl')){
        $.ajax({
            url: '/eo/declaration/edit/'+$('.row_appl.active_appl').attr('id_appl'),
            type:"POST",
            data: {type:'sent'},
            success: function(answer){
                $("#popup_win").html(answer);
                $("#popup_win").show();
                resizeContent($("#popup_win .container .viewzone"));
                if($("#type_declaration").val()=='41152d9a-3e6a-4c6b-9a6b-53e246eb8638'){
                    $('a[tab="2"]').parent('li').hide();
                    $('a[tab="3"]').parent('li').hide();
                }
                $(".input-date").datepicker();  
                $('#unsendform1').remove();
                $('#sendform1').remove();
                /*$('#but_wrap_child_left').remove();*/
                $("#popup_win input").attr('disabled','disabled');
            }
        }); 
    }else{
        useTopHoverTitleError("Пожалуйста, выберите запись");
    }
    
};
function handleResponse(mes, id) {
    console.log('/module/Eo/view/eo/declaration/sent.phtml');
    console.log(mes,id);
    if (mes == "error") {
        $('#res').html("Возникли ошибки при добавлении заявки: " + mes.errors);
    }else {
        if(mes <= 0){
            $(".show_tab[tab='1']").addClass("active");
            $(".tabs-panel").removeClass("show-panel");
            $("#tab1").addClass('show-panel');
            $("#sendform1").attr('numb',1);
            $("#unsendform1").hide();
        }
        if(mes==1){
            if($("#type_declaration").val()=='41152d9a-3e6a-4c6b-9a6b-53e246eb8638'){
                $("#edit_declaration1").append("<input type='hidden' name=\"0[Id]\" id='id_application_val' value='"+id+"'/>");
                $.ajax({
                    url: '/eo/declaration/application-files/'+$("#id_application_val").val(),
                    data: {type:'sent'},
                    success: function(answer){
                        $("#tab4").html(answer);
                    }
                });
                $(".show_tab").removeClass('active');
                $(".show_tab[tab='4']").addClass("active");
                $(".tabs-panel").removeClass("show-panel");
                $("#tab4").addClass('show-panel');
                $("#sendform1").attr('numb',4);
                $("#unsendform1").show();
            }else{
                $(".show_tab").removeClass('active');
                $(".show_tab[tab='2']").addClass("active");
                $(".tabs-panel").removeClass("show-panel");
                $("#tab2").addClass('show-panel');
                $("#sendform1").attr('numb',2);
                $("#edit_declaration1").append("<input type='hidden' name=\"0[Id]\" id='id_application_val' value='"+id+"'/>");
                $("#unsendform1").show();
                $.ajax({
                    url: '/eo/declaration/get-active-fillials-new/'+$("#id_application_val").val(),
                    type:"POST",
                    data: {sent:1},
                    success: function(answer){
                        $("#fillials_table_list").html(answer);
                        $(".input-date").datepicker();
                    }
                });
            }

        }
        if(mes==2){
            $(".show_tab").removeClass('active');
            $(".show_tab[tab='3']").addClass("active");
            $(".tabs-panel").removeClass("show-panel");
            $("#tab3").addClass('show-panel');
            $("#sendform1").attr('numb',3);
            $("#unsendform1").show();
            getFillialsPrograms()
        }
        if(mes==3){
            $.ajax({
                url: '/eo/declaration/application-files/'+$("#id_application_val").val(),
                data: {type:'sent'},
                success: function(answer){
                    $("#tab4").html(answer);
                    $(".multi").remove();
                }
            });

            $(".show_tab").removeClass('active');
            $(".show_tab[tab='4']").addClass("active");
            $(".tabs-panel").removeClass("show-panel");
            $("#tab4").addClass('show-panel');
            $("#sendform1").attr('numb',4);
            $("#unsendform1").show();
        }
        if(mes==4){
            $(".show_tab").removeClass('active');
            $(".show_tab[tab='5']").addClass("active");
            $('#files_list_upload').submit();
            sendToSend();
        }
    }
 }
function openTabDeprivation ( tabName ) {
    if( 'undefined' == typeof(tabName) || '' == tabName){
        tabName = 'deprivation';
    }
    else{
        tabName = tabName;
    }
    $(".show_tab").removeClass("active");
    $(".tabs-panel").removeClass("show-panel");
    if( 'removal' == tabName){
        $(".show_tab[tab='removal']").addClass("active");
        $("#tabremoval").addClass("show-panel").show();
    }
    else{
        $(".show_tab[tab='deprivation']").addClass("active");
        $("#tabdeprivation").addClass("show-panel").show();
    }
    declaration.deprivation.getFillialsPrograms();
}
 function DownloadApplication(){
   location.href='/eo/declaration/export-data/'+$("#id_application_val").val();
 }
 function sendToSend(){
     $.ajax({
        url: '/eo/declaration/sendToSend/'+$("#id_application_val").val(),
        success: function(answer){
            useTopHoverTitle("Заявка отправлена");
        }
    });
 }
 function getFillialsPrograms(){
            $.ajax({
                url: '/eo/declaration/get-fillials-programs/' + $("#id_application_val").val(),
                type: "POST",
                beforeSend: function () {
                    $(".loading-overlay").show();
                },
                success: function (answer) {
                    $(".leftSideBar").html(answer);
                    $(".loading-overlay").fadeOut(250);
                },
                error:function(e){
                    useTopHoverTitleError("Возникла ошибка");
                    $(".loading-overlay").fadeOut(250);
                    console.log("Ошибка");
                    console.log(e);                        
                }
            });
}
function getEduLevel() {
    $.ajax({
        url: '/eo/declaration/get-edu-program-type/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org'),
        type: "POST",
        success: function (answer) {
            $('.level-list').addClass('old-level-list');
            $('.old-level-list').remove(); 
            $('.active_fil').parent('li').append(answer);
            $('.level-list').show(250); 
            getUgsList();
        }
    });
}
function getUgsList() {
    $.ajax({
        url: '/eo/declaration/get-ugs-by-level/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org')+'/'+$(".level-elem.active-level").attr('id-level'),
        type: "POST",
        data: {sent:1},
        success: function (answer) {
            $('.rightSideBar').html(answer);
            getProgramsByUgs();
        }
    });
}
function getDirectByUgs(id){
    $('.ugs_row').removeClass('active_ugs_row');
    $('.ugs_row[ugs_id="'+id+'"]').addClass('active_ugs_row');
    var dContent = $(
        '<div class="dialog-directugs-info">' +
        "<div style='text-align: center;margin-top:100px'><div class='loading-img'><img src='/img/loading.gif' /></div></div>"+
        '</div>');
    $(dContent).dialog({
        title: "Направление подготовки",
        width: 600,
        modal: true,
        close: function() {
            $(".dialog, .dialog-directugs-info").remove();
        },
        open: function() {
            //Отсылаем запрос на получение инфо по заявлению
            $.ajax({
                type: 'POST',
                dataType: "html",
                
                url: '/eo/declaration/get-direct-by-ugs/'  + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('.active-level').attr('id-level') + '/' + id,
                success: function(answer) {
                    $(".loading-img", dContent).fadeOut(500, function() {
                        dContent.html("").append($(answer));
                        //Вешаем обработчики

                        //Устанавливаем высоту
                        $(".dialog-content",dContent).height($(dContent).height()-20);
                    });
                }
            });
        }
    });
}
function sendCheckDirect(){
    $.ajax({
        type: 'POST',
        data:$("#direct_form").serialize()+"&appl="+ $(".active_fil").attr('id_appl')+"&org="+$(".active_fil").attr('id_org')+"&level="+$('.active-level').attr('id-level'),
        url: '/eo/declaration/save-checked-direct',
        success: function (answer) {
             $(".dialog, .dialog-directugs-info").remove();
             getProgramsByUgs();
        }
    });
}
function getProgramsByUgs() {
    $.ajax({
        type: 'POST',
        dataType: "html",
        async: false,
        data: {sent:1},
        url: '/eo/declaration/get-program-by-ugs/' + $(".active_fil").attr('id_appl') + '/' + $(".active_fil").attr('id_org') + '/' + $('.active-level').attr('id-level') + '/' + $('.active_ugs_row').attr('ugs_id'),
        success: function (answer) {
            if(!$("#show_all_program").is(":checked")){
                $('.ugs_block').removeClass('active_ugs_block');
            }
            if($("#show_only_program").is(":checked")&&answer.indexOf("Нет выбранных программ")==-1){
                console.log(1);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').html(answer);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').addClass('active_ugs_block');
            }
            if(!$("#show_only_program").is(":checked")){
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').html(answer);
                $('.ugs_block[ugs_id="'+$('.active_ugs_row').attr('ugs_id')+'"]').addClass('active_ugs_block');
            }
            tableProgramsByUgsHeadering();
        }
    });
}
/*function saveProgramField(elem) {
    var id = $(elem).parent().parent().attr('id_program');
    var fieldName = $(elem).attr('name');
    var fieldVal = $(elem).val();
    $.ajax({
        type: 'POST',
        dataType: "html",
        data: fieldName+"="+fieldVal,
        url: '/eo/declaration/save-field-program-application/'+id,
    });
}
function deleteProgramAppl(id){
     $.ajax({
        type: 'POST',
        dataType: "html",
        url: '/eo/declaration/delete-program-application/'+id,
        success:function(){
             getProgramsByUgs()
        }
    });
}*/
</script>
<style>
#popup_win{height: 99%;}
.tabs-panel.show-panel {height:83%;}
#tabdeprivation .leftSideBarDeprivation .errorFillial {
    background: #2f5ca5;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 98%;
}
</style>