<?php
echo $this->doctype();
$this->plugin('basePath')->setBasePath('/equeue_res');
?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?=$this->headTitle('Запись в электронную очередь')?>

        <?=$this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- styles -->
        <?=$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath() . '/css/style.css')
            ->prependStylesheet($this->basePath() . '/css/jquery.loadmask.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap-datepicker3.min.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ?>

        <!-- scripts -->
        <?=$this->headScript()
            ->prependFile($this->basePath() . '/js/main.js')
            ->prependFile($this->basePath() . '/js/jquery.maskedinput.min.js')
            ->prependFile($this->basePath() . '/js/jquery.loadmask.min.js')
            ->prependFile($this->basePath() . '/js/jquery.form.min.js')
            ->prependFile($this->basePath() . '/js/bootstrap-datepicker.ru.min.js')
            ->prependFile($this->basePath() . '/js/bootstrap-datepicker.min.js')
            ->prependFile($this->basePath() . '/js/bootstrap-typeahead.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
        ?>
    </head>
    <body>
        <div class="container">
            <?=$this->content?>
        </div>
        <?=$this->inlineScript()?>
    </body>
</html>
