<?php
echo $this->doctype();
$this->plugin('basePath')->setBasePath('/equeue_res');
?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?=$this->headTitle('Панель управления электронной очередью')?>

    <?=$this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <!-- styles -->
    <?=$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/jquery.loadmask.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap-datepicker3.min.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/css/jquery-ui-1.10.4.custom.min.css')
    ?>

    <!-- scripts -->
    <?=$this->headScript()
        ->prependFile($this->basePath() . '/js/main.js')
        ->prependFile($this->basePath() . '/js/jquery.maskedinput.min.js')
        ->prependFile($this->basePath() . '/js/jquery.loadmask.min.js')
        ->prependFile($this->basePath() . '/js/jquery.form.min.js')
        ->prependFile($this->basePath() . '/js/bootstrap-datepicker.ru.min.js')
        ->prependFile($this->basePath() . '/js/bootstrap-datepicker.min.js')
        ->prependFile($this->basePath() . '/js/bootstrap-typeahead.js')
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery-ui-1.10.4.custom.min.js')
        ->prependFile($this->basePath() . '/js/jquery.min.js')
    ?>
</head>
<body>
<div class="container">
    <?php if ($this->current_action != 'login'): ?>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li<?php if($this->current_action=='index'):?> class="active"<?php endif; ?>><a href="/equeue/manage/">Журнал</a></li>
                <li<?php if($this->current_action=='vacations'):?> class="active"<?php endif; ?>><a href="/equeue/manage/vacations/">Выходные</a></li>
                <li<?php if($this->current_action=='entries'):?> class="active"<?php endif; ?>><a href="/equeue/manage/entries/">Заявки</a></li>
                <li<?php if($this->current_action=='managers'):?> class="active"<?php endif; ?>><a href="/equeue/manage/managers/">Менеджеры</a></li>
                <li><a href="/equeue/?no_min_time_check">Запись</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
                <li><a href="/equeue/manage/logout">Выйти</a></li>
            </ul>
        </nav>
    <?php endif; ?>
    <?=$this->content?>
</div>
<?=$this->inlineScript()?>
</body>
</html>
