<?php echo $this->doctype(); ?>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-language" content ="ru">
        <?php
        echo $this->headTitle('Поиск аккредитаций', 'SET');
        ?>
        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
        echo $this->headLink()
                ->prependStylesheet($this->basePath('css/reestr/style.css'))
                ->prependStylesheet($this->basePath('css/reestr/QapTcha.jquery.css'))
                ->prependStylesheet($this->basePath('js/jquery.ui/chosen.css'))
                ->prependStylesheet($this->basePath('css/reestr/bootstrap.min.css'));
        echo $this->headScript()
                ->prependFile($this->basePath('js/reestr/QapTcha.jquery.min.js'))
                ->prependFile($this->basePath('js/jquery.ui/chosen.jquery.min.js'))
                ->prependFile($this->basePath('js/reestr/jquery.ui.touch.js'))
                ->prependFile($this->basePath('js/reestr/jquery-ui.js'))
                ->prependFile($this->basePath('js/reestr/bootstrap.min.js'))
                ->prependFile($this->basePath('js/reestr/utils.js'))
                ->prependFile($this->basePath('js/reestr/jquery.min.js'))
                ->prependFile($this->basePath('js/reestr/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath('js/reestr/html5shiv.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',));
        ?>
    </head>
    <body>

        <div class="container">
            <div class="header">

            </div>


            <?php echo $this->content; ?>


        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
