<div class="frame-container">
    <input type="hidden" id="filial_orgId" eprst="3" value="<?=$orgId?>">
    <table class="intable" style="width:100%">
        <tr>
            <th style="width:110px"></th>
            <th style="width:200px">Полное наименование</th>
            <th>Место нахождения</th>
            <th>КПП</th>
            <th>Сокращенное наименование</th>
            <th>Телефон</th>
            <th>Email</th>
            <th style="width:50px"></th>
        </tr>
        <tbody class="filials-content tbody-content">
        <?php
        foreach($filials as $orgId => $filialsObj){
            ?>
                <tr class="edit-title" id="f_<?=$orgId?>">
                    <td colspan="7">Филиал: <?=$filialsObj["edit_from"]->getField("shortTitle")?></td>
                    <td style="width:50px;text-align: center"><span class="btRemove minus-icon" id="f_<?=$orgId?>"><span>-</span></span></td>
                </tr>
                <tr class="form-block">
                    <?php $filialChangeFrom = $filialsObj["edit_from"]; ?>
                    <td style="width:110px">
                        <span class="grey-span exclude">Исключить</span>
                        <input class="dataField" name="id" value="<?=$filialChangeFrom->getId()?>" fType="val" type="hidden" />
                        <input class="dataField" name="additionalInfo" value="edit_from" fType="val" type="hidden" />
                    </td>
                    <td style="width:200px"><?=$filialChangeFrom->getField("fullTitle")?></td>
                    <td><?=$filialChangeFrom->getField("address")?></td>
                    <td><?=$filialChangeFrom->getField("kpp")?></td>
                    <td><?=$filialChangeFrom->getField("shortTitle")?></td>
                    <td><?=$filialChangeFrom->getField("licenseePhone")?></td>
                    <td><?=$filialChangeFrom->getField("licenseeEmail")?></td>
                    <td style="width:50px;text-align: center"></td>
                </tr>

                <tr class="form-block">
                    <?php $filialChangeTo = $filialsObj["edit_to"];
                    if(!isset($filialChangeTo))
                        $filialChangeTo = $filialsObj["edit_from"];
                    ?>
                    <td style="width:110px">
                        <span class="grey-span change-to">Заменить на</span>
                        <input class="dataField" name="id" value="<?=$filialChangeTo->getId()?>" fType="val" type="hidden" />
                        <input class="dataField" name="orgId" value="<?=$filialChangeTo->getField("orgId")?>" fType="val" type="hidden" />
                        <input class="dataField" name="requestId" value="<?=$filialChangeTo->getField("requestId")?>" fType="val" type="hidden" />
                        <input class="dataField" name="additionalInfo" value="edit_to" fType="val" type="hidden" />
                    </td>
                    <td  style="width:200px"><textarea style="height: 100px; width:180px" class="dataField" name="fullTitle"  fType="val"><?=$filialChangeTo->getField("fullTitle")?></textarea></td>
                    <td><input type="text" class="dataField" name="address"  fType="val" value="<?=$filialChangeTo->getField("address")?>" /></td>
                    <td><input type="text" class="dataField" name="kpp"  fType="val" value="<?=$filialChangeTo->getField("kpp")?>" /></td>
                    <td><input type="text" class="dataField" name="shortTitle"  fType="val" value="<?=$filialChangeTo->getField("shortTitle")?>" /></td>
                    <td><input type="text" class="dataField" name="licenseePhone"  fType="val" value="<?=$filialChangeTo->getField("licenseePhone")?>" /></td>
                    <td><input type="text" class="dataField" name="licenseeEmail"  fType="val" value="<?=$filialChangeTo->getField("licenseeEmail")?>" /></td>
                    <td style="width:50px;"></td>
                </tr>
        <?php } ?>
        </tbody>
    </table>
</div>