<?php
/**
 * сборник фреймов
 * 
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/choise-supp.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>


<tbody id="choise-supp-frame">
    <tr class="license_title">
        <td class="separator_td" colspan="2">
            <a>
                Лицензия
            </a>
        </td>
    </tr>
    <?php foreach($licensesData as $licenseData){
        $license = $licenseData["license"];
        $supplements = $licenseData["supplements"];
    ?>
    <tr><td colspan="2">

    <table width="100%">
    <tr data-lic="<?=$license->getId()?>" class="lic_<?=$license->getId()?> license_title_org">
        <td class="" colspan="2">
            <div style="background-color: #e5e5e5; padding:5px 10px; border: 1px solid #c2c2c2;">
                <?=$license->getField("EOName")?>
            </div>
        </td>
    </tr>

    <tr data-lic="<?=$license->getId()?>" class="lic_<?=$license->getId()?> license_row">
        <td class="left">
            <div class="left-title">
                Лицензия
            </div>
        </td>
        <td class="right">
            <?php if($license!=null){
                //Проверяем, если нужно показывать галочку с дубликатом
                //Если это главная орг заявления + у заявления есть причина
                $isDuplicate = false;
                if($license->getField("fk_eiisEducationalOrganization") == $request->getField("organizationId") && ($request->hasReasonById('1c3acd333a204d5288277d2c2fd3509b') || $request->hasReasonById('efb3b9bf460c4a8aae48b9dd5e5d5d84'))){
                    $isDuplicate = true;
                }
                ?>

            <div class="requestData">
                <?php if($isDuplicate){ ?>
                    <input style="float: left; margin-left: -18px;height: 16px!important;margin-top:0" type="checkbox" class="dataField" name="isDuplicate"  fType="cb" <?php echo ($request->getField("isDuplicate") == 1) ? "checked" : ""; ?> />
                <?php } ?>
            </div>

            <div class="right-value" onclick="javascript:license._get_license_info('<?=$license->getId()?>');">

                <span class="license_link" id="l_<?=$license->getId()?>">
                    <?php
                    if(!empty($license->getField("LicenseRegNum")))
                        echo "№ ".$license->getField("LicenseRegNum")." ";
                    if(!empty($license->getDate("DateLicDoc")))
                        echo "от ".$license->getDate("DateLicDoc")."г. ";
                    if(!empty($license->getField("SerDoc")) || !empty($license->getField("NumDoc")))
                        echo "серия ";
                    if(!empty($license->getField("SerDoc")))
                        echo $license->getField("SerDoc")." ";
                    if(!empty($license->getField("NumDoc")))
                        echo "№ ".$license->getField("NumDoc");
                    ?>
                </span>
            </div>
            <?php } else {?>
                Данные по лицензии не найдены
            <?php } ?>
        </td>
    </tr>
    <tr data-lic="<?=$license->getId()?>" class="lic_<?=$license->getId()?> supplements">
        <td class="left">
            <div class="left-title">
                Приложения
            </div>
        </td>
        <td class="right">
            <div class="right-value">
                <div class="supps-container">
                    <?php
                        if( empty($supplements) ){
                            $supplements = array();
                        }
                        else{
                            uasort(
                                $supplements,
                                function($a, $b){
                                    $a1 = $a->getFieldSafe('Number');
                                    $b1 = $b->getFieldSafe('Number');
                                    return strnatcmp($a1, $b1);
                                }
                            );
                        }
                    ?>                    
                    <?php foreach($supplements as $supplement){
                        $org = $supplement->getEducationalOrganization();
                        ?>
                        <div class="supp-row" id="s_<?=$supplement->getId() ?>">
                            <?php if( !$isSended ){ ?>
                                <div 
                                    class=" remove-supp" 
                                    id="s_<?=$supplement->getId()?>"
                                ></div>
                            <?php } ?>
                            <div class="title">Приложение №<?=$supplement->getField("Number") ?> <?=($org!=null)?$org->getField("RegularName"):""?> (от <?=$supplement->getDate("DateLicDoc")?> № <?=$supplement->getField("NumLicDoc")?>)</div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </td>
    </tr>
    <?php if( !$isSended ){ ?>
        <tr data-lic="<?=$license->getId()?>" class="lic_<?=$license->getId()?> buttonSelect">
            <td colspan="2">
                <div style="text-align: right">
                    <div class="btButton btChoiseSupplement">
                        Выбрать приложение
                    </div>
                </div>
            </td>
        </tr>
    <?php } ?>
    </table>
    </td></tr>
    <?php } ?>
</tbody>