<div class="frame-container">
    <div class="leftSideBar">
        <ul>
            <?php
            foreach ($filials as $filial) { ?>
                <li>
                    <a class="change_fill" id_org="<?= $filial->getId() ?>" id_req="<?=$request->getId()?>" >
                        <?= ($filial->isEmptyField('shortTitle'))?$filial->getField('fullTitle'):$filial->getField('shortTitle') ?>
                    </a>
                    (<span class="filial-programs-counter">  <?=$filial->getCountRequestEducationProgram("current-op")?>  </span>)
                </li>
            <?php } ?>
        </ul>
    </div>
    <div class="rightSideBar">

    </div>
</div>