<?php
/**
 * сборник фреймов
 * открытая - лицензирование - заявления - карточка заявления - документы - вьюшка
 *
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/document.phtml
 *
 */
    //уже отправлено
    $isSended = $request->isSended( true );     //
    $isSendedNew = $request->isSended( false );
    //определяемся к какому раделу относиться заявление
    $isReqiestNew       = !$isSended && !$isSendedNew;  // новое заялвен
    $isReqiestSended    =  $isSended &&  $isSendedNew;  // отослано
    $isReqiestHasCheck  = !$isSended &&  $isSendedNew;  // на исправлении

    if( $isReqiestHasCheck ){//если на исправлении то найдем дату когда отправлено на исправление
        $lastStatus = $request->getLastStatus('WAITING_REPLY');
        $reqiestStatusDate = $lastStatus->getFieldSafe('changeDate');
        unset ($lastStatus);
    }

?>

<div class="frame-container" >
    <input type="hidden" id="filial_orgId" eprst="1" value="<?=$orgId?>">
    <table class="TableFile" style="width:100%;border-spacing: 0 0px;border-collapse:separate;">
        <tbody class="tbody-content document-type-table">
	    <tr><td colspan="2"><div class="br"><span class="title_name">Документы к заявлению</span><span class="bord"></span></div></td></tr>
            <?php
            foreach( $documentNeed as $documentOne ){
            ?>
                <tr DocumentTypeId=<?php echo $documentOne->getFieldSafe( 'DocumentTypeId' );  ?> >
                    <td><?php echo $documentOne->getDocumentTypeName()  ?></td>
                    <td width="340">
                        <div class="containerWrapFile" <?php echo $documentOne->isRequired()?' style="border: 1px solid red;" ':''?>>
                            <!-- <input type="file"> -->
                            <?php if( $isReqiestNew || $isReqiestHasCheck ){ ?>
                                <img
                                    alt="Загрузить документ"
                                    title="Загрузить документ"
                                    onclick="request.sendDocumentInput('<?php echo $request->getId(); ?>',this);"
                                    class="request-document-send request-document-send-add"
                                    src="/img/islod/pencil.png"
                                    onmouseover="this.src='/img/islod/pencil_color.png';"
                                    onmouseout ="this.src='/img/islod/pencil.png';"
                                    disabled="disabled"
                                    <?php /* fileId="<?php echo empty($fileId )?'new file':$fileId; ?>"*/ ?>
                                    ownerClassCode="RequestFile"
                                    doAftert="1"
                                    docTypeId="<?php echo $documentOne->getFieldSafe('DocumentTypeId'); ?>"
                                    docExtention="<?php echo $documentOne->getExtentionString(); ?>"
                                    checkSign="<?php echo $documentOne->isCheckSign()?'1':'0'; ?>"
                                >
                            <?php } ?>

                            <div id="progress" class="progress" style="display:none">
                                <div class="progress-bar progress-bar-success " ></div>
                            </div>


                            <div class="FileListWrap " >
                                <?php
                                    $docAll = $documentOne -> getLicenseRequestDocumentAll( $request->getId() );

                                    $fileOwnerIdArray = array();
                                    foreach( $docAll as $docKey => $docOne ){
                                        $fileOwnerIdArray[] = $docOne->getId();
                                    }
                                    if( !empty( $fileOwnerIdArray) ){
                                        $fileAll = new \Model\LodEntities\EiFile();
                                        $fileAll = $fileAll->getAllByWhereParseId( array(
                                            'ownerId' => $fileOwnerIdArray,
                                            'ownerClassCode' => 'RequestFile',
                                        ) );

                                        uasort(
                                            $fileAll ,
                                            function( $aObj , $bObj ){
                                                $adate = $aObj->getFieldOrSpace( 'created' );
                                                $bdate = $bObj->getFieldOrSpace( 'created' );
                                                return -strcmp( $adate , $bdate );
                                            }
                                        );
                                        foreach( $fileAll as $fileOne ){
                                            $fileId =  $fileOne->getId();
                                            $unicId = uniqid( 'doc-file-' );
                                            $uniqIdRow = uniqid( 'doc-row-' );
                                ?>
                                            <div id="<?php echo $uniqIdRow; ?>">
                                                <a
                                                    id="<?php echo $unicId; ?>"
                                                    href="<?php echo $fileOne->getUrl(); ?>"
                                                    download="<?php echo $fileOne->getFileName(); ?>"
                                                ><?php echo $fileOne->getFileName(); ?> (<?php echo $fileOne->getDate( 'created' ); ?>)</a>
                                                <?php
                                                    ///если на исправлении то порделим дату, когда залит файл
                                                    $isReqiestHasCheckValid = false;
                                                    if( $isReqiestHasCheck ){
                                                        $fileDateIt = $fileOne->getFieldSafe( 'created' );
                                                        //если файл позде чем произошла замена то менять можно
                                                        if( $fileDateIt >= $reqiestStatusDate ){
                                                            $isReqiestHasCheckValid = true;
                                                        }
                                                    }
                                                ?>
                                                <?php if( $isReqiestNew || $isReqiestHasCheckValid ){ ?>
                                                    <img
                                                        alt="Заменить документ"
                                                        title="Заменить документ"
                                                        onclick="request.sendDocumentInput('<?php echo $request->getId(); ?>',this);"
                                                        class="request-document-send "
                                                        src="/img/islod/pencil.png"
                                                        onmouseover="this.src='/img/islod/pencil_color.png';"
                                                        onmouseout ="this.src='/img/islod/pencil.png';"
                                                        disabled="disabled"
                                                        fileId="<?php echo empty($fileId )?'':$fileId; ?>"
                                                        ownerClassCode="RequestFileChange"
                                                        elementToChange ="a#<?php echo $unicId; ?>"
                                                        docExtention="<?php echo $documentOne->getExtentionString(); ?>"
                                                        deleteElement="div#<?php echo $uniqIdRow; ?>"
                                                        doAftert="change"
                                                        checkSign="<?php echo $documentOne->isCheckSign()?'1':'0'; ?>"
                                                    >
                                                    <img
                                                        alt="Удалить документ"
                                                        title="Удалить документ"
                                                        src="/img/islod/delete.png"
                                                        onmouseover="this.src='/img/islod/delete_color.png';"
                                                        onmouseout="this.src='/img/islod/delete.png';"
                                                        class="iconFile request-document-delete"
                                                        onclick="licenseDeleteFileAsk( this );"
                                                        fileId="<?php echo empty($fileId )?'':$fileId; ?>"
                                                        elementToDelete ="div#<?php echo $uniqIdRow; ?>"
                                                        doAftert="delete"
                                                        elementToChange ="noneIt"
                                                    >
                                                <?php } ?>
                                                <?php if( $documentOne->isCheckSign() ){ ?>
                                                <?php $unicSign = uniqid( 'doc-sig-' ); ?>
                                                    <img
                                                        id="<?php echo $unicSign; ?>"
                                                        alt="проверка подписи"
                                                        title='проверка подписи'
                                                        onclick="request.chekSignFileAction('<?php echo $fileId; ?>', this);"
                                                        class="request-sign-check "
                                                        src="/img/grey-icon.png"
                                                        disabled="disabled"
                                                        style="display:none;margin-left: 10px;"
                                                    >
                                                <?php } ?>
                                            </div>
                                <?php
                                        }
                                    }
                                ?>
                            </div>
                        </div>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>

<style>
.dialog-request-edit .TableFile tr:nth-child(2n) td {
    background: #f8f8fa none repeat scroll 0 0;
}
.dialog-request-edit .TableFile td {
    padding: 0 0 10px 20px;
}
.br {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
}
.br > span {
    display: inline-block;
    position: relative;
}
.title_name {
    background: #f1f1f9 none repeat scroll 0 0;
    padding: 3px 10px 3px 0;
    z-index: 3;
}
.bord {
    border-bottom: 2px solid;
    top: -20px;
    width: 100%;
}
</style>


<script>
    //открытая  - карточка заявления - документы - дополнительные документы - типы документов
    documentTypeAll={
        <?php

            $licenseReasonDocument = new \Model\LodEntities\LicenseReasonDocument();
            $selectDoc = new \Zend\Db\Sql\Select();
            $selectDoc->from( $licenseReasonDocument->getTableName() );
            $selectDoc->group( 'DocumentTypeId' );
            $licenseReasonDocument = $licenseReasonDocument->getAllByWhereParseId($selectDoc, 'DocumentTypeId' );
            unset( $selectDoc );

            $licenseReasonDocument = array_keys( $licenseReasonDocument );

            $docTypeAll = new \Model\Entities\isgaDocumentTypes();
            $docTypeAll = $docTypeAll->getAllByWhere( array( $docTypeAll->getIdName() => $licenseReasonDocument ) );
            $s = array();
            uasort(
                $docTypeAll,
                function( $aOb , $bOb ){
                    $aStr = $aOb->getFieldSafe('Name');
                    $bStr = $bOb->getFieldSafe('Name');
                    return strcmp( $aStr , $bStr );
                }
            );
            foreach( $docTypeAll as $value ){
                $s[] ='"'.$value->getId().'":"'.$value->getFieldSafe('Name').'"';
            }
            echo implode(',', $s);
            unset($docTypeAll);
            unset($sl);
            unset( $licenseReasonDocument );

        ?>
    }
</script>



