<?php
/**
 * сборник фреймов
 * 
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/filial.phtml
 * 
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>

<div class="frame-container" >
    <input type="hidden" id="filial_orgId" eprst="1" value="<?=$orgId?>">
    <table class="" style="width:100%;border-spacing: 0 0px;border-collapse:separate;">
        <tbody class="tbody-content">
            <?php
            $num = 1;
            foreach($filials as $filial){
                ?>
                <?php /* //алтернативный метод
                <tr id="ff_<?=$filial->getId()?>">
                    <td style="width:28%;">  <textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]fullTitle"     ><?=$filial->getFieldSafe("fullTitle")?>    </textarea></td>
                    <td style="width:21%;">  <textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]address"       ><?=$filial->getFieldSafe("address")?>      </textarea></td>
                    <td style="width: 8%;">  <textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]kpp"           ><?=$filial->getFieldSafe("kpp")?>          </textarea></td>
                    <td style="width:14%;">  <textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]shortTitle"    ><?=$filial->getFieldSafe("shortTitle")?>   </textarea></td>
                    <td style="width:11%;">  <textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]licenseePhone" ><?=$filial->getFieldSafe("licenseePhone")?></textarea></td>
                    <td style="width:190px;"><textarea style ="width: 100%;resize: vertical;" rows="4" name="[RequestOrganizationInfo][<?php echo $filial->getId() ?>]licenseeEmail" ><?=$filial->getFieldSafe("licenseeEmail")?></textarea></td>
                    <td style="width:5%;text-align: center;padding-top: 4px;"><span class="btRemove minus-icon" id="f_<?=$filial->getId()?>"><span>-</span></span></td>
                </tr>
                */ ?>
                <tr id="f_<?=$filial->getId()?>">
                    <td style="padding-top: 5px;">
                        <table class="BayanPerechen" width="100%">
                            <tbody style="overflow-y: visible;">
                                <tr class="BayanTitle" >
                                    <td onclick="request.showHideData(this)" style="background: #4b77be;color: #fff;">
                                        <span class="BayanNumber"><?php echo $num;  ?>.</span>
                                        <?php echo $filial->getFieldHtml("fullTitle"); ?>
                                    </td>
                                </tr>
                                <tr class="BayanHiden" style="display:none;background-color: transparent;" >
                                    <td style="background-color: transparent;padding: 10px 0 0 0px;">
                                         <table class="BayanData fields-table" style="background-color: transparent;" width="100%">
                                            <tbody style="overflow-y: visible;">                                             
                                                 <tr style="background-color: transparent;">
                                                    <td style="background-color: transparent;" width="40%">Название</td>
                                                    <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("regularName"); 
                                                        } 
                                                        else{ ?>
                                                        <textarea
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][regularName]"
                                                            rows="3"                                                            
                                                            required
                                                        ><?php echo $filial->getFieldHtml("regularName"); ?></textarea>
                                                        <?php } ?>
                                                    </td>
                                                 </tr>                                                      
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">Полное наименование</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("fullTitle"); 
                                                        } 
                                                        else{ ?>
                                                        <textarea
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][fullTitle]"
                                                            rows="3"
                                                            required
                                                        ><?php echo $filial->getFieldHtml("fullTitle"); ?></textarea>
                                                        <?php } ?>
                                                     </td>
                                                 </tr>                                    
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">Сокращенное наименование</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("shortTitle"); 
                                                        } 
                                                        else{ ?>
                                                        <textarea
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][shortTitle]"
                                                            rows="3"
                                                        ><?php echo $filial->getFieldHtml("shortTitle"); ?></textarea>
                                                        <?php } ?>
                                                     </td>
                                                 </tr>                                    
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">Место нахождения</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("address"); 
                                                        } 
                                                        else{ ?>
                                                        <textarea
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][address]"
                                                            rows="3"
                                                            required
                                                        ><?php echo $filial->getFieldHtml("address"); ?></textarea>
                                                        <?php } ?>
                                                     </td>
                                                 </tr>                                    
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">КПП</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("kpp"); 
                                                        } 
                                                        else{ ?>
                                                        <input
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][kpp]"
                                                            rows="3"
                                                            value="<?php echo $filial->getFieldHtml("kpp"); ?>"
                                                        >
                                                        <?php } ?>
                                                     </td>
                                                 </tr>                                    
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">Телефон (факс)</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("licenseePhone"); 
                                                        } 
                                                        else{ ?>
                                                        <input
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][licenseePhone]"
                                                            rows="3"
                                                            value="<?php echo $filial->getFieldHtml("licenseePhone"); ?>"
                                                        >
                                                        <?php } ?>
                                                     </td>
                                                 </tr>                                    
                                                 <tr style="background-color: transparent;">
                                                     <td style="background-color: transparent;">Адрес электронной почты</td>
                                                     <td style="background-color: transparent;">
                                                        <?php if($isSended){
                                                             echo $filial->getFieldHtml("licenseeEmail"); 
                                                        } 
                                                        else{ ?>
                                                        <input
                                                            class="filial-item focus-show form-control" 
                                                            id="RequestOrganizationInfo[<?=$filial->getId()?>][licenseeEmail]"
                                                            rows="3"
                                                            value="<?php echo $filial->getFieldHtml("licenseeEmail"); ?>"
                                                        >
                                                        <?php } ?>
                                                     </td>
                                                 </tr>        
                                            </tbody>
                                         </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <?php   $num++;  ?>
                    <?php if( !$isSended ){ ?>
                        <td style="width:40px;text-align: center;padding-top: 10px;vertical-align: top;"><span class="btRemove minus-icon" id="f_<?=$filial->getId()?>"><span>-</span></span></td>
                    <?php } ?>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>

<style>
    .focus-show:focus{
        background-color: #fff;
	color: #333!important;
        border: 1px solid #969696!important;        
    }
    .focus-show:focus textarea {color: #333!important;}
    .intable tr:hover td.focus-show:focus {
        color: #333!important;
    }
    .BayanData textarea{
        width: 100%;  
	padding-left: 5px;
    }
    .BayanData input{
        width: 100%;  
    }    
    .BayanData > tbody > tr > td{
        padding: 10px;
    }
    .BayanTitle > td {
        padding: 5px;
    }
</style>

