<?php
/**
 * сборник фреймов
 * 
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/FramesDialog.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>

<div class="dialog-request-edit">
    <input type="hidden" id="requestId" value="<?=$request->getId()?>" />
    <input type="hidden" id="isTest" value="<?=$isTest?>" />
    <div class="tabs-container">
        <?php
            foreach($frames as $frame){
                if(!$frame->isVisible())
                    continue;
        ?>
            <div class="tab <?php if($startFrame == $frame->getTag()){echo "active";} ?>" tab-container="<?=$frame->getTag()?>"><?=$frame->getTitle()?></div>
        <?php } ?>
    </div>

    <div class="content-container container" style="overflow-y: auto">
        <?php
            $isFirst = true;
            foreach($frames as $frame){
        ?>
            <div class="content-block <?=$frame->getTag()?>" <?php if($startFrame != $frame->getTag()) echo "style='display:none'" ?>>
                <?php
                    echo $frame->getView();
                ?>
            </div>
        <?php } ?>
    </div>

    <div class="buttons-container">
        <div class="frames-buttons">
            <?php
            $isFirst = true;
            foreach($frames as $frame){
                if(!$frame->isVisible())
                    continue;
            ?>
            <div class="buttons-block <?=$frame->getTag()?>" <?php if($startFrame != $frame->getTag()) echo "style='display:none'" ?>>
                <?php echo $isSended ? '' : $frame->getButtonsList() ; ?>
            </div>
            <?php } ?>
        </div>
        <div class="dialog-buttons">
            <!-- <div class="btButton ">Печать</div> -->
            <?php  if( !$isSended){ ?>
                <div class="btButton btSaveAll">Сохранить</div>
            <?php } ?>
            <div class="btButton btClose">Закрыть</div>
            <?php 
                if ( !$isSended ){
            ?>
            <div class="btButton" onclick="newRequestSendAction('<?php echo $request->getId(); ?>')">Отправить</div>
            <?php
                }
            ?>
            
        </div>
    </div>
</div>
<script>
    RequestFrames.setData("pTypesByLevel", <?=json_encode($pTypesByLevel)?>);
    RequestFrames.setData("eProgramsByType", <?=json_encode($eProgramsByType)?>);
</script>