<?php
/**
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/general.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
    $isNewRequest = !$request->isSended( false );
    $isReRequest = !$isNewRequest && !$isSended;
?>

<div class="frame-container">
    <table class="fields-table">
        <tbody class="requestData">
            <tr>
                <td class="separator_td" colspan="2">
                    <div class="section-title">
                        Заявление
                    </div>
                    <input
                        type="hidden"
                        value="<?= $request->getId() ?>"
                        class="dataField"
                        name="id"
                        fType="val"
                        <?php
                            echo $isSended?'disabled="disabled"':'';
                        ?>
                    />
                    <?php if( $isReRequest ){ ?>
                        <input
                            type="hidden"
                            value="1"
                            class="helperField"
                            name="isReRequest"
                            fType="val"
                            <?php
                                echo $isSended?'disabled="disabled"':'';
                            ?>
                        />
                    <?php } ?>
                </td>
            </tr>
            <?php
            /*
              <tr>
              <td class="left">
              <div class="left-title">
              Номер заявления
              </div>
              </td>

              <td class="right">
              <div class="right-value" style="width: 100%;">
              <input type="text" value="<?=$request->getField("number")?>" class="dataField" name="number"  fType="val" />
              </div>
              </td>
              </tr>
             */
            ?>
            <!--
            <tr>
                <td class="left">
                    <div class="left-title">Дата заполнения заявления</div></td>
                <td class="right">
                    <div class="right-value relative_block" style="width: 100%;">
                        <input
                            type="text"
                            value="<?= $request->getDate("fillingDate") ?>"
                            class="dataField date-field"
                            name="fillingDate"
                            fType="date"
                        />
                        <span class="date-icon"></span>
                    </div>
                </td>
            </tr>
            -->
            <?php
            /*
              <tr>
              <td>Предписания</td>
              <td>
              <div id="prescriptions-container">
              <?php if(!isset($prescriptions)){ ?>
              Не выбрана организация
              <?php } else { ?>
              <?php if($prescriptions == 0){ ?>
              <div>
              <img src="/img/ok-green.png"> Неснятые с контроля предписания отсутствуют
              <a
              target="_blank"
              class="bt btPrintPrescription"
              href="<?=
              $this->url('eo/default',[
              'controller' => 'index',
              'action'     => 'print-no-prescription',
              'id' => $org->getId()
              ]);
              ?>"
              style="float: right"
              >
              Печать
              </a>
              </div>
              <?php } else { ?>
              <div>
              <img src="/img/alert-red.png"> По данным ИС АКНД ОУ организация имеет <?=$prescriptions?> неснятых предписания.
              <div class="btIn btShowPrescriptions" onclick="javascript:dialog_showPrescriptions('<?=$org->getId()?>');">Посмотреть</div>
              </div>
              <?php } ?>
              <?php } ?>
              </div>
              </td>
              </tr>
             */
            ?>
            <?php
            /*
              <tr>
              <td class="left"><div class="left-title">Тип поступления</div></td>
              <td>
              <div class="right-value">
              <?=$request->getAdmissionTypeName()?>
              </div>
              </td>
              </tr>
             */
            ?>
            <tr>
                <td class="left"><div class="left-title">Тип процедуры</div></td>
                <td>
                    <div class="right-value">
                        <?= $request->getLicensingProcedureName() ?>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Причина обращения</div></td>
                <td>
                    <div class="right-value">
                        <?= $request->getLicenseReasonsList() ?>
                    </div>
                </td>
            </tr>
            <?php if( !$isSended ){ ?>
                <tr>
                    <td class="left"><div class="left-title">Макет заявления</div></td>
                    <td>
                        <div class="right-value">
                            <a  class="add_link"
                                href="/eo/license/make-document/requestmaket/<?php echo $request->getId(); ?>"
                                target="_blank"
                            >Скачать</a>
                        </div>
                    </td>
                </tr>

            <?php } ?>
            <?php    /*
            <tr>
                <td class="left"><div class="left-title">Файл подписанного эл. подписью заявления</div></td>
                <td>
                    <div class="right-value">
                        <?php
                            $scanFile = $request->getDocumentFile()
                        ?>
                        <a
                            href="<?php echo empty($scanFile)?'':$scanFile ->getUrl(); ?>"
                            download="<?php echo empty($scanFile)?'':$scanFile->getFileName(); ?>"
                            class="request-document-link  element-link '.<?php echo (empty($scanFile)?'hiden':''); ?>"
                            title="Скачать скан заявления"
                            _target="_blank"
                        ><?php echo empty($scanFile)?'':$scanFile->getFileName(); ?></a>
                        <?php if( !$isSended ){ ?>
                            <img
                                alt="Загрузить скан копию"
                                value="Загрузить скан копию"
                                onclick="request.sendDocumentInput('<?php echo $request->getId(); ?>')"
                                class="request-docement-send "
                                src="/img/islod/pencil.png"
                                disabled="disabled"
                            >
                        <?php } ?>
                    </div>
                </td>
            </tr>
            */ ?>
            <tr>
                <td class="left"><div class="left-title">Файл подписанного эл. подписью заявления</div></td>
                <td>
                    <div class="right-value">
                        <?php
                            $scanFileAll = $request->getSignFileAll( null, true );
                            if(  !$isSended && !$request->hasSignFileEditable() ){
                                $eiFile =  new \Model\LodEntities\EiFile();
                                $eiFile->setField('isEditable',1);
                                $scanFileAll[] = $eiFile;
                                unset( $eiFile );
                                //$scanFileAll[] = false;
                            }
                            foreach ( $scanFileAll as $scanFileKey => $scanFile ) {
                                $fileId = $scanFile->getId();
                                empty($fileId )?'':$fileId;
                         ?>
                                <?php
                                    //$scanFile = $request->getSigntFile()
                                ?>

                                    <?php if( !empty($scanFile) && !$scanFile->isEmptyField('isEditable') ){ ?>
                                        <img
                                            alt="Загрузить подписанное заявление"
                                            title="Загрузить подписанное заявление"
                                            onclick="request.sendSignInput('<?php echo $request->getId(); ?>',this);"
                                            class="request-sign-send "
                                            src="/img/islod/pencil.png"
                                            disabled="disabled"
                                            fileId="<?php echo empty($fileId )?'new file':$fileId; ?>"
                                        >

                                    <?php } ?>
                                    <a
                                        id=""
                                        href="<?php echo empty($scanFile)?'':$scanFile ->getUrl(); ?>"
                                        download="<?php echo empty($scanFile)?'':$scanFile->getFileName(); ?>"
                                        class="request-sign-link  element-link <?php echo (empty($scanFile)?'hiden':''); ?>"
                                        title="Скачать подписанное заявление"
                                        _target="_blank"
                                        uniqId="<?php echo uniqid('uniq-prefix-'); ?>"
                                    ><?php
                                        $dateSend = $scanFile->getDate('created');
                                        $dateSend = empty( $dateSend )?'':' ('.$dateSend .')';
                                        echo empty($scanFile)?
                                            '':
                                            $scanFile->getFileName().$dateSend;
                                        unset( $dateSend );
                                    ?></a>
                                    <img
                                        alt="проверка подписи"
                                        title='проверка подписи'
                                        onclick="request.chekSignFileAction('<?php echo $fileId; ?>', this);"
                                        class="request-sign-check "
                                        src="/img/grey-icon.png"
                                        disabled="disabled"
                                        style="display:none;"
                                    >

                            <?php unset( $fileId )  ?>
                        <?php } ?>
                    </div>
                </td>
            </tr>
            <?php
                $scanFileAll = $request->getScanFileAll();
                //if( !empty($scanFile) ){
            ?>
                <tr>
                    <td class="left"><div class="left-title">pdf-файл подписанного заявления</div></td>
                    <td>
                        <div class="right-value">
                                <?php if( !empty($scanFileAll) ){ ?>
                                    <?php     foreach( $scanFileAll as $key => $scanFile ){ ?>
                                        <a
                                            href="<?php echo empty($scanFile)?'':$scanFile ->getUrl(); ?>"
                                            download="<?php echo empty($scanFile)?'':$scanFile->getFileName(); ?>"
                                            class="request-scan-link  element-link <?php echo (empty($scanFile)?'hiden':''); ?>"
                                            title="Скачать подписанное заявление"
                                            _target="_blank"
                                        >
                                            <?php echo empty($scanFile)?'':$scanFile->getFileName(); ?>
                                        </a>
                                    <?php } ?>
                                <?php } ?>
                        </div>
                    </td>
                </tr>
            <?php
                //}
            ?>



            <!--
            <tr>
                <td class="left">
                    <div class="left-title">
                        Представитель
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
            <?= $request->getField("requestRepresentativeLastName") ?>
            <?= $request->getField("requestRepresentativeFirstName") ?>
            <?= $request->getField("requestRepresentativeMiddleName") ?>
                    </div>
                </td>
            </tr>
            -->
        </tbody>

        <tr>
            <td class="separator_td" colspan="2">
                <div class="section-title">
                    Организация
                </div>
            </td>
        </tr>
        <tbody class="orgInfoData">
            <tr>
                <td class="left">
                    <div class="left-title">
                        Полное наименование
                    </div>
                </td>
                <td class="right">
                    <?php echo $orgInfo->isEmptyField("fullTitle")?'hase-error':'' ;?>
                    <div class="right-value <?php echo $orgInfo->isEmptyField("fullTitle")?'hase-error':'' ;?>" style="width: 100%;">
                        <?php if ( !$orgInfo->isEmptyField("id") ) { ?>
                            <input
                                type="hidden"
                                value="<?= $orgInfo->getId() ?>"
                                class="dataField"
                                name="id"
                                fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                            />
                        <?php } ?>
                        <input
                            type="hidden"
                            value="<?= $orgInfo->getField("requestId") ?>"
                            class="dataField"
                            name="requestId"
                            fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                        <input type="hidden" value="<?= $orgInfo->getField("orgId") ?>" class="dataField" name="orgId" fType="val" />
                        <?php /* <input type="text" value="<?=$orgInfo->getField("fullTitle")?>" class="dataField" name="fullTitle"  fType="val" /> */ ?>
                        <?php if( $isSended ){ ?>
                            <?= $orgInfo->getFieldSafe("fullTitle") ?>
                        <?php }
                        else{ ?>
                            <textarea
                                style ="width: 100%;resize: vertical!important;"
                                rows="3"
                                class="dataField form-control"
                                name="fullTitle"
                                fType="val"
                                required
                            ><?= $orgInfo->getFieldSafe("fullTitle") ?></textarea>
                        <?php } ?>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Сокращенное наименование
                    </div>
                </td>
                <td class="right">
                    <div class="right-value" style="width: 100%;">
                        <?php /*
                          <input type="text" value="<?=htmlspecialchars($orgInfo->getField("shortTitle"))?>" class="dataField" name="shortTitle"  fType="val" />
                         */ ?>
                        <textarea
                            style ="width: 100%;resize: vertical!important;"
                            class="dataField form-control"
                            name="shortTitle"
                            rows="2"
                            fType="val"
                            required
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        ><?= $orgInfo->getFieldSafe("shortTitle") ?></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Наименование
                    </div>
                </td>
                <td class="right">
                    <div class="right-value" style="width: 100%;">
                        <?php /*
                          <input type="text" value="<?=htmlspecialchars($orgInfo->getField("shortTitle"))?>" class="dataField" name="shortTitle"  fType="val" />
                         */ ?>
                        <textarea
                            style ="width: 100%;resize: vertical!important;"
                            class="dataField form-control"
                            name="regularName"
                            rows="2"
                            fType="val"
                            required
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        ><?= $orgInfo->getFieldSafe("regularName") ?></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Местонахождения лицензиата
                    </div>
                </td>
                <td class="right">
                    <div class="right-value" style="width: 100%;">
                        <textarea
                            class="dataField form-control"
                            rows="2"
                            style ="width: 100%;resize: vertical!important;"
                            name="address"
                            fType="val"
                            required
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        ><?= $orgInfo->getField("address")?></textarea>
                    </div>
                </td>
            </tr>


            <tr>
                <td class="left">
                    <div class="left-title">
                        Организационно-правовая форма
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <select
                            class="dataField form-control"
                            fType="val"
                            name="fk_eiisEducationalOrganizationProperties"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        >
                            <?php foreach ( $propertiesList as $prop ) { ?>
                                <option <?= (($prop->getId() == $orgInfo->getField("fk_eiisEducationalOrganizationProperties")) ? "selected" : "") ?> value="<?= $prop->getId() ?>"><?= $prop->getField("Name") ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        ОГРН
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            value="<?= $orgInfo->getField("ogrn") ?>"
                            class="dataField form-control"
                            name="ogrn"
                            fType="val"
                            required
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        ИНН
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            value="<?= $orgInfo->getField("inn") ?>"
                            class="dataField form-control"
                            name="inn"
                            fType="val"
                            required
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        КПП
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            value="<?= $orgInfo->getField("kpp") ?>"
                            class="dataField form-control"
                            name="kpp"
                            fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">
                        Номер телефона (факс)
                    </div>
                </td>
                <td class="right">
                    <div class="right-value" style="width: 100%;">
                        <input
                            type="text"
                            value="<?= $orgInfo->getField("licenseePhone") ?>"
                            class="dataField form-control"
                            name="licenseePhone"
                            fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Адрес электронной почты
                    </div>
                </td>
                <td class="right">
                    <div class="right-value" style="width: 100%;">
                        <input
                            type="text"
                            value="<?= $orgInfo->getField("licenseeEmail") ?>"
                            class="dataField form-control"
                            name="licenseeEmail"
                            fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>
        </tbody>

        <?php
        if ( isset($subframes["ChoiseSupp"]) )
            echo $subframes["ChoiseSupp"];
        ?>

        <?php if ( $procedureTypeId == "d13f3a96d6a94f1685469a6b0b61cc4c" && in_array("0ba32b48a6384b5c95dcb630f34c930d", $reasonIds) ) { ?>
            <tbody class="requestData">
                <tr>
                    <td class="left">
                        <div class="left-title">
                            Дата прекращения осуществления образовательной деятельности по адресам
                        </div>
                    </td>
                    <td class="right">
                        <div class="right-value relative_block" style="width: 100%;">
                            <input
                                type="text"
                                value="<?= $request->getDate("educationalActivitiesStoppingDate") ?>"
                                class="dataField date-field form-control"
                                name="educationalActivitiesStoppingDate"
                                fType="date"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                            />
                            <span class="date-icon"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        <?php } ?>

        <tr>
            <td class="separator_td">
                <div class="section-title">
                    Оплата госпошлины
                </div>
            </td>
            <?php if( !$isSended ){ ?>
                <td>
                    <span class="add-payment">Добавить платеж</span>
                </td>
            <?php } ?>
        </tr>

        <tbody class="payments-list">
            <?php
            foreach ( $payments as $payment ) {
                ?>
                <tr id="p_<?= $payment->getId() ?>">
                    <td>Платежное поручение</td>
                    <td>
                        <?php
                        $paymentArray = array();
                        $paymentNum = $payment->getFieldSafe("NumDoc");
                        if(!empty($paymentNum)){
                            $paymentArray['num'] = '№ '.$paymentNum;
                        }
                        $paymentNum = $payment->getDate("Date");
                        if(!empty($paymentNum)){
                            $paymentArray['date'] = 'от '.$paymentNum. ' г.';
                        }
                        $paymentNum = $payment->getFieldSafe("Sum");
                        if(!empty($paymentNum)){
                            $paymentArray['sum'] = 'на  '.$paymentNum. ' руб.';
                        }
                        $paymentNum = $payment->getFieldSafe("Comment");
                        if(!empty($paymentNum)){
                            $paymentArray['coment'] = $paymentNum;
                        }
                        $paymentStr = implode( ' ', $paymentArray );
                        ?>
                        <?= $paymentStr ?>

                        <?php
                            $file = $payment->getScanFile();
                            $fileName = '';
                            $fileUrl = '';
                            if( !empty($file) ){
                                $fileName = $file->getFileName();
                                $fileUrl = $file->getUrl();
                            }
                        ?>
                        <?php if( !empty($fileUrl) ){ ?>
                            <a
                                href="<?php echo $fileUrl; ?>"
                                download="<?php echo $fileName; ?>"
                                target="_blank"
                            ><img src="/img/islod/file_expand.png"></a>
                        <?php } ?>

                        <?php if( !$isSended ){ ?>
                            <span style="background: none;float: right;" class="btRemove minus-icon" id="p_<?= $payment->getId() ?>"><span style="margin-left: -15px;"><img class="iconFile removeFileType" onmouseover="this.src = '/img/islod/delete.png';" onmouseout="this.src = '/img/islod/delete.png';" src="/img/islod/delete.png"></span></span>
                            <span style="background: none;float: right;" class="btEdit minus-icon" id="p_<?= $payment->getId() ?>" ><span style="margin-left: -15px;"><img class=" iconFile newFileType" onmouseover="this.src = '/img/islod/pencil.png';" onmouseout="this.src = '/img/islod/pencil.png';"src="/img/islod/pencil.png"></span></span>
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
            <?php unset($paymentArray) ?>
            <?php unset($paymentStr) ?>
            <?php unset($paymentNum) ?>
        </tbody>
        <?php
        $head = $org->getHead();
        ?>
        <tbody class="requestData">
            <tr>
                <td class="separator_td" colspan="2">
                    <div class="section-title">
                        Заявление подписал
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Дата заполнения
                    </div>
                </td>
                <td class="right">
                    <div class="right-value relative_block">
                        <input
                            type="text"
                            value="<?= $request->getDate("fillingDate") ?>"
                            class="dataField date-field form-control"
                            name="fillingDate"
                            fType="date"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                        <span class="date-icon"></span>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Фамилия
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            class="dataField form-control"
                            name="requestSignerLastName"
                            fType="val"
                            value="<?= (($request->getField("requestSignerLastName") == null) ? $head->getField("lastName") : $request->getField("requestSignerLastName")) ?>"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Имя
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            class="dataField form-control"
                            name="requestSignerFirstName"
                            fType="val"
                            value="<?= (($request->getField("requestSignerFirstName") == null) ? $head->getField("firstName") : $request->getField("requestSignerFirstName")) ?>"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Отчество
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input
                            type="text"
                            class="dataField form-control"
                            name="requestSignerMiddleName"
                            fType="val"
                            value="<?= (($request->getField("requestSignerMiddleName") == null) ? $head->getField("patronymic") : $request->getField("requestSignerMiddleName")) ?>"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        />
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Должность
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <?php
                        $postId = "";
                        if ( $request->getField("requestSignerPosition") == null )
                            $postId = $head->getField("postId");
                        else
                            $postId = $request->getField("requestSignerPosition")
                            ?>
                        <select
                            class="dataField form-control"
                            name="requestSignerPosition"
                            class="requestSignerPosition"
                            fType="val"
                                <?php
                                    echo $isSended?'disabled="disabled"':'';
                                ?>
                        >
                            <option value="">Не выбрано</option>
                            <?php foreach ( $posts as $post ) { ?>
                                <option value="<?= $post->getId() ?>"
                                <?= (($post->getId() == $postId) ? "selected" : "") ?>
                                        ><?= $post->getField("title") ?></option>
                                    <?php } ?>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left">
                    <div class="left-title">
                        Направлять информацию в электронной форме
                    </div>
                </td>
                <td class="right">
                    <div class="right-value">
                        <input style="width: 16px;height: 16px;"
                            type="checkbox"
                            value="1"
                            <?php echo ($request->getField("notificationRequired") == 1) ? "checked" : ""; ?>
                            class="dataField form-control"
                            name="notificationRequired"
                            fType="cb"
                            disabled="disabled"
                            />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="text-align: right;position: absolute;bottom: 18px;" class="but_edit">
    <?php  if( !$isSended){ ?>
        <div class="btButton btChangeRequest"
             id="rq_<?= $request->getId() ?>"
        >Редактировать</div>
    <?php } ?>
</div>
<style>

    .dialog-request-edit .content-container.container {overflow-y: auto!important;}
</style>


<script >
    //переподтягиваем клас реквеста, а то отваливаеться
    if( jQuery('script[src="/js/islod/namespace/request.js"]').length ){
        console.log('убираем рек жс');
        jQuery('script[src="/js/islod/namespace/request.js"]').remove();
    }
    jQuery('html head').append('<script src ="/js/islod/namespace/request.js"></'+'script>');

</script>


<style>
    .form-control-error-flash{
        display:none;
        color: #f00;
    }

    .has-error .form-control-error-flash{
        display:block;
    }
</style>