<div class="frame-container">
    <input type="hidden" id="filial_orgId" eprst="2" value="<?=$orgId?>">
    <table class="intable" style="width:100%">
        <tr>
            <th>Филиал</th>
            <th>Место нахождения</th>
            <th>КПП</th>
            <th>Сокращенное название</th>
            <th>Телефон</th>
            <th>Email</th>
            <th style="width:50px"></th>
        </tr>
        <tbody class="filials-content tbody-content">
        <?php
        foreach($filials as $filial){
            ?>
            <tr id="f_<?=$filial->getId()?>">
                <td><?=$filial->getField("fullTitle")?></td>
                <td><?=$filial->getField("address")?></td>
                <td><?=$filial->getField("kpp")?></td>
                <td><?=$filial->getField("shortTitle")?></td>
                <td><?=$filial->getField("licenseePhone")?></td>
                <td><?=$filial->getField("licenseeEmail")?></td>
                <td style="width:50px;text-align: center"><span class="btRemove minus-icon" id="f_<?=$filial->getId()?>"><span>-</span></span></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>