<div class="frame-container">
    <div class="leftSideBar">
        <ul>
            <?php
            foreach ($filials as $filial) { ?>
                <li>
                    <a class="filial" id_org="<?= $filial->getId() ?>">
                        <?= ($filial->isEmptyField('shortTitle'))?$filial->getField('fullTitle'):$filial->getField('shortTitle') ?>
                    </a>
                    (<span class="anket-programs-counter">  <?=$filial->getCountODPlaces("open")?>  </span>)
                </li>
            <?php } ?>
        </ul>
    </div>
    <div class="rightSideBar">
        <table class="intable" style="width:100%">
            <tr>
                <th>Индекс</th>
                <th>Адрес</th>
            </tr>
            <tbody class="level-op-content tbody-content">
            </tbody>
        </table>
    </div>
</div>