<div class="frame-container">
    <div class="leftSideBar">
        <ul>
            <?php
            foreach ($filials as $filial) { ?>
                <li>
                    <a class="filial" id_org="<?= $filial->getId() ?>" id_eiis_org = "<?=$filial->getField("orgId")?>">
                        <?= ($filial->isEmptyField('shortTitle'))?$filial->getField('fullTitle'):$filial->getField('shortTitle') ?>
                    </a>
                    (<span class="anket-programs-counter">  <?=$filial->getCountODPlaces("places")?>  </span>)
                </li>
            <?php } ?>
        </ul>
    </div>
    <div class="rightSideBar">
    </div>
</div>