<div class="frame-container">
    <table class="fields-table" id="fields_form">
        <tr>
            <td class="left level-title" colspan="2">
                <a>
                    Реорганизованный лицензиат
                </a>
                <div class="hidden-fields">
                    <input class="dataField idField" fType="val" type="hidden" value="<?=(($reorg->getId()!=null)?$reorg->getId():"")?>" name="id" />
                    <input class="dataField" fType="val" type="hidden" value="<?=(($reorg->getId()!=null)?$reorg->getField("organizationId"):$org->getId())?>" name="organizationId" />
                    <input class="dataField" fType="val" type="hidden" value="<?=$request->getId()?>" name="requestId" />
                </div>
            </td>
        </tr>

        <tr>
            <td>Наименование реорганизованного лицензиата</td>
            <td>
                <script>
                    //Функция обработчик
                    var callbackFunc = function(idOrg, orgName, lawAddress){
                        console.log("callback");
                        $("#Id_organization",".content-block.reorg-lic").val(idOrg);
                        $("#nameOrganization",".content-block.reorg-lic").val(orgName);
                        $(".LawAddress",".content-block.reorg-lic").text(lawAddress);
                        //подгружаем инфо по лицензии
                        $(".reorglic-license-data",".content-block.reorg-lic").text("Обновление...");
                        $.ajax({
                            type: 'POST',
                            dataType: "html",
                            url: "/eo/requests/get-license-data-by-org/"+idOrg,
                            success: function(answer) {
                                $(".reorglic-license-data",".content-block.reorg-lic").html(answer);
                            }
                        });
                    }
                </script>
                <input type="hidden"  class="dataField" fType="val"  name="reorganizedOrganizationId" id="Id_organization" value="<?=(($reorg->getId()!=null)?$reorg->getField("organizationId"):"") ?>">
                    <textarea class="error-back" id="nameOrganization"  onclick="request.selectOrgDialog(callbackFunc);" readonly="readonly" style="width:96%"><?php
                        if($reorg->getId() && !$reorg->isEmptyField("organizationId")){
                            $org = $reorg->getReorganizedOrganization();
                            echo $org->getField("FullName");
                        }
                        ?></textarea>
                <input type="button" id="org_butt" onclick="request.selectOrgDialog(callbackFunc)" value="+">
                <div class="error-text">
                    Организация должна быть выбрана
                </div>
            </td>
        </tr>


        <tr>
            <td class="left"><div class="left-title">Место нахождения лицензиата</div></td>
            <td class="right">
                <div class="right-value relative_block" style="width: 100%;">
                    <div class="LawAddress">
                        <?php
                        if($reorg->getId() && !$reorg->isEmptyField("organizationId")){
                            $org = $reorg->getReorganizedOrganization();
                            echo $org->getField("LawAddress");
                        }
                        ?>
                    </div>
                </div>
            </td>
        </tr>

        <tr class="license_row">
            <td class="left">
                <div class="left-title">
                    Лицензия
                </div>
            </td>
            <td class="right">
                <div class="reorglic-license-data">
                    <?php if(isset($license) && $license!=null){ ?>
                        <div class="right-value" onclick="javascript:license._get_license_info('<?=$license->getId()?>');">
                    <span class="license_link" id="l_<?=$license->getId()?>">
                        № <?=$license->getField("LicenseRegNum") ?> от <?=$license->getDate("DateLicDoc") ?>г. серия <?=$license->getField("SerDoc")?> № <?=$license->getField("NumDoc")?>
                    </span>
                        </div>
                    <?php } else {?>
                        Данные по лицензии не найдены
                    <?php } ?>
                </div>
            </td>
        </tr>

    </table>
</div>