<div class="frame-container">
    <input type="hidden" id="dealId" value="<?=$request->getField("dealId")?>" />
    <input type="hidden" id="orgId" value="<?=$request->getField("organizationId")?>" />
    <table class="intable" style="width:100%">
        <tr>
            <th style="width:50px;">№</th>
            <th style="">Реорганизованная организация</th>
            <th style="width: 10%;">Город</th>
            <th style="width: 30%;">Лицензия</th>
            <th style="width:50px"></th>
        </tr>
        <tbody class="reorgs-content tbody-content">
            <?php
            $i = 1;
            foreach($reorgs as $reorg){
                $reOrg = $reorg->getReorganizedOrganization();
                $license = null;
                if($reOrg != null)
                    $license = $reOrg->getLicense();
            ?>
                <tr class="form-block">
                    <td style="width:50px;">
                        <?=$i++?>
                        <input type="hidden" name="id" value="<?=$reorg->getId()?>" class="dataField" fType="val" />
                        <input type="hidden" name="organizationId" value="<?=$reorg->getField("organizationId")?>" class="dataField" fType="val" />
                        <input type="hidden" name="organizationId" value="<?=$reorg->getField("organizationId")?>" class="dataField" fType="val" />
                    </td>
                    <td><?=($reOrg!=null)?$reOrg->getField("FullName"):""?></td>
                    <td style="width: 10%">
                        <?= $reOrg->getSettlementLocations() ?>
                    </td>
                    <td style="width: 30%">
                        <?php if($license!=null){ ?>
                            <div class="right-value" onclick="javascript:license._get_license_info('<?=$license->getId()?>');">
                <span class="license_link" id="l_<?=$license->getId()?>">
                    № <?=$license->getField("LicenseRegNum") ?> от <?=$license->getDate("DateReg") ?>г. серия <?=$license->getField("SerDoc")?> № <?=$license->getField("NumDoc")?>
                </span>
                            </div>
                        <?php } else {?>
                            Данные по лицензии не найдены
                        <?php } ?>
                    </td>
                    <td style="width:50px;text-align:center">
                        <span class="btRemove minus-icon" id="r_<?=$reorg->getId()?>"><span>-</span></span>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>