<?php
/**
 * сборник фреймов
 * 
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/filial.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>

<div class="frame-container">
    <div class="leftSideBar">
        <ul>
            <?php
            foreach ($filials as $filial) { ?>
                <li>
                    <a class="change_fill" id_org="<?= $filial->getId() ?>" id_req="<?=$request->getId()?>" >
                        <?= ($filial->isEmptyField('shortTitle'))?$filial->getField('fullTitle'):$filial->getField('shortTitle') ?>
                    </a>
                    (<span class="anket-programs-counter">  <?=$filial->getCountRequestEducationProgram("stop-op")?>  </span>)
                </li>
            <?php } ?>
        </ul>
    </div>
    <div class="rightSideBar">

    </div>
</div>
<style>
@media only screen and (max-width: 1380px) {
.leftSideBar {height: 365px;overflow-y: auto;}
.content-container.container {overflow-y:hidden!important;}
}
</style>