<?php
/**
 * сборник фреймов
 * 
 * url:  /eo/requests/edit/ид_заявления
 * path: /module/Eo/view/eo/requests/frames/filial.phtml
 */
    //уже отправлено
    $isSended = $request->isSended( true );
?>


<div class="frame-container">
    <div class="leftSideBar">
        <ul>
            <?php
            foreach ($filials as $filial) { ?>
                <li>
                    <a class="filial" id_org="<?= $filial->getId() ?>" id_eiis_org = "<?=$filial->getField("orgId")?>">
                        <?= ($filial->isEmptyField('shortTitle'))?$filial->getField('fullTitle'):$filial->getField('shortTitle') ?>
                    </a>
                    (<span class="anket-programs-counter">  <?=$filial->getCountODPlaces("close")?>  </span>)
                </li>
            <?php } ?>
        </ul>
    </div>
    <div class="rightSideBar">
        <table class="intable" style="width:100%">
            <tr>
                <th>Индекс</th>
                <th>Адрес</th>
            </tr>
            <tbody class="level-op-content tbody-content">
            </tbody>
        </table>
    </div>
</div>