<p>Здравствуйте!</p>
<p>Вами было сформировано платежное поручение, файл прикреплен во вложении</p>
<p>Для изменения суммы платежного поручения перейдите по <a href="<?=$this->link?>">ссылке</a>.</p>
<p>Внимание! Возможность редактировать доступна до даты приема заявления. В день приема возможность изменений будет закрыта.</p>