<p>Здравствуйте!</p>
<p>Вами была осуществлена запись на лицензирование (аккредитацию) образовательной деятельности образовательных организаций.</p>
<p>Запись на прием <?=$this->date_day?> в <?=$this->date_time?> (кабинет №<?=$this->stepData2['audienceRoom']?>)</p>
<p>Продолжительность приема составит приблизительно <?=$this->stepData1['audienceLength']?> минут.</p>
<p>Процедура: <?=$this->appeal_type?></p>
<p>Дата осуществления записи: <?=$this->date_register?></p>
<p>Внимание! Для потверждения регистрации вам необходимо пройти по <a href="<?=$this->link?>">ссылке</a>.</p>
<p>При отсутствии подтверждения ваша запись будет отменена в течение 1 дня.</p>
<p>Если вы хотите отменить заявку, перейдите по <a href="<?=$this->cancel_link?>">ссылке для отмены</a>.</p>
<?php if($this->payment_notification):?>
    <p>Если вы не сформировали платежное уведомление после записи в эл.очередь, рекомендуем вам воспользоваться калькулятором гос.пошлины, расположенным по <a href="<?=$this->payment_notification?>">ссылке</a>.</p>
<?php endif; ?>
