<p>Здравствуйте!</p>
<p>Вами была подтверждена запись на прием <?=$this->date_day?> в <?=$this->date_time?> (кабинет №<?=$this->audienceRoom?>)</p>
<p>Продолжительность приема составит приблизительно <?=$this->audienceLength?> минут.</p>
<p>Процедура: <?=$this->appeal_type?></p>
<p>Дата осуществления записи: <?=$this->date_register?></p>
<p>Если Вы хотите отменить заявку, перейдите по <a href="<?=$this->cancel_link?>">ссылке для отмены</a>.</p>