<p>Запись на прием <?=$this->date_day?> в <?=$this->date_time?> (кабинет №<?=$this->audienceRoom?>)</p>
<p>Продолжительность приема составит приблизительно <?=$this->audienceLength?> минут.</p>
<p>Процедура: <?=$this->procedure?></p>
<p>Основание услуги: <?=$this->service_reason?></p>
<?php
if (count($this->appeal_reasons)) {
    ?>
    <p>
        Причина обращения:<br/>
        <?php
        foreach ($this->appeal_reasons as $r) {
            ?>
            - <?=$r?><br/>
            <?php
        }
        ?>
    </p>
    <?php
}
?>
<p><?=$this->name?></p>
<p><?=$this->org?></p>
<p>Дата осуществления записи: <?=$this->date_register?></p>