.btn-edit {
    color: #fff;
    background: #2f5ca5;
    height: 26px;
    width: 120px;
    text-align: center;
    padding: 1px 0;
    line-height: 15px;
    border-radius: 2px;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
    font-size: 13px;
}
.edit-dialog{
    width: 100%;
    position: relative;
    text-align: center;
}
.edit-dialog div{
    width: 90%;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
.edit-dialog div input{
    display: inline-block;
}
.edit-dialog div textarea{
    padding: 5px;
}