
<div class="dialog-request-add" style="height: 100%;width: 100%;">
    <div class="content-block request" style="overflow:auto; height: 100%;width: 100%;">
        <table class="fields-table" id="fields_form" style="width: 100%;">
            <tr>
                <td>Дата заполнения заявления</td>
                <td class="right">
                    <div class="right-value relative_block" style="width: 100%;">
                        <?php if($isEdit){ ?>
                            <input 
                                type="hidden" 
                                class="dataField" 
                                name="id" 
                                value="<?=$request->getId()?>" 
                                fType="val"/>
                        <?php } ?>

                        <input
                            type="text"
                            class="dataField date-field error-back"
                            name="fillingDate"
                            fType="date"
                            value="<?=(($isEdit)?$request->getDate("fillingDate"):date('d.m.Y'))?>"
                        />
			<span class="date-icon"></span>
                    </div>
                    <div class="error-text">
                        Дата должна быть задана
                    </div>
                </td>
            </tr>
            <tr>
                <td>Выбор организации</td>
                <td>
                    <?php
                        if( !empty($startOrg) ){
                    ?>
                        <input 
                            type="hidden"  
                            class="dataField" 
                            fType="val"  
                            name="organizationId" 
                            id="Id_organization" 
                            value="<?=$startOrg->getId()?>"
                        >
                    <?php } ?>
                    <textarea
                        class="error-back"
                        id="nameOrganization"

                        style="width:100%;padding-left: 5px;"
                    ><?php
                        if( !empty($startOrg) ){
                            echo $startOrg->getFieldHtml("FullName");
                        }
                    ?></textarea>
                </td>
            </tr>

            <tr>
                <td>Тип процедуры</td>
                <td>
                    <?php if(isset($dealId) && isset($dealLicensingProcedureId)){ ?>
                        <input type="hidden" class="dataField" name="licensingProcedureId" value="<?=$dealLicensingProcedureId?>" fType="val"/>
                        <?=$licensingProcedureName?>
                    <?php } else { ?>
                    <select class="dataField" fType="val" name="licensingProcedureId" id="licensingProcedure">
                        <?php foreach($propertiesData["LicensingProcedures"] as $lProc) {
                            ?>
                            <option value="<?=$lProc->getId()?>" <?=(($isEdit && $request->getFieldHtml("licensingProcedureId")==$lProc->getId())?"selected":"") ?> ><?=$lProc->getFieldHtml("title")?></option>
                        <?php } ?>
                    </select>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <td>Причина обращения</td>
                <td>
                    <div class="reasons-container dataField error-back" fType="reasons">
                    <?php foreach($propertiesData["reasonsByProcedure"] as $procedureId => $reasonsList ){?>
                        <div class="reasons-block" id="lp_<?=$procedureId?>" <?php
                            if(isset($dealLicensingProcedureId)){
                                if($procedureId !== $dealLicensingProcedureId)
                                    echo "style='display:none'";
                            } else {
                                if(!$isEdit && $procedureId!=$propertiesData["firstProcedure"]->getId())
                                    echo "style='display:none'";
                                else if($isEdit && $procedureId != $request->getFieldSafe("licensingProcedureId"))
                                    echo "style='display:none'";
                            }
                            ?>
                        >
                            <?php
                                if($isEdit) {
                                    $requestReasons = $request->getLicenseReasons();
                                    $reasonsIdList = [];
                                    foreach ($requestReasons as $reason) {
                                        $reasonsIdList[] = $reason->getId();
                                    }
                                }
                                foreach($reasonsList as $reason){
                            ?>
                                <div class="reason-block">
                                    <input
                                        type="checkbox"
                                        class="cbField"
                                        value="<?=$reason->getId()?>"
                                        id="rcb_<?=$reason->getId()?>"
                                        <?=(($isEdit && in_array($reason->getId(), $reasonsIdList))?"checked":"")?>
                                        style="width: auto;height: auto;margin-top: 0;"
                                    >
                                    <label for="rcb_<?=$reason->getId()?>"><?=$reason->getFieldHtml("title")?></label>
                                </div>
                            <?php } ?>
                        </div>
                    <?php } ?>
                    </div>
                    <div class="error-text">
                        Причина должна быть выбрана
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <!--
    <div class="buttons-container">
        <div class="buttons-block" style="">
            <div class="btButton btAdd"><?=((!$isEdit)?"Добавить":"Сохранить")?></div>
            <div class="btButton btCancel">Отмена</div>
        </div>
    </div>
    -->

</div>

<script>
    console.log('пригрузка скриптов');
    //пространство имен
    var licRequest = {
        container: $(".dialog-request-add")
    };

    //фкнкция что вешает обработчики
    licRequest.initHandlers = function(){
        //Обработчик селекта смены типа процедуры
        $("#licensingProcedure",licRequest.container).change(function(){
            console.log("Обработчик селекта смены типа процедуры");
            var licProcedureId = $(this).val();
            $(".reasons-container .reasons-block", licRequest.container).hide();
            $(".reasons-container .reasons-block[id=lp_"+licProcedureId+"]", licRequest.container).show();
        });

        //Обработчик селекта смены типа поступления
        $("#admissionType",licRequest.container).change(function(){
            if($(this).val()=="feb3633090b54d709c7a476f0982c3d6"){
                $(".requestReprezentator", licRequest.container).show();
                request.getFioFromEqueue($('#Id_organization[name="organizationId"]').val());
            } else {
                $(".requestReprezentator", licRequest.container).hide();
            }
        });

        //Обработчик по кнопке закрытия
        $(".buttons-container .btCancel", licRequest.container).click(function(){
            console.log('закрыть тык 1');
            $(".dialog-request-edit").remove();
        });

        //Обработчик по кнопке Сохранить
        //$(".buttons-container .btAdd", licRequest.container).click(function(){
        licRequest.OkAction = function (element){
            $(".loading-overlay").show();

            console.log("лицензия - добавить заявление - Обработчик добавления");
            //Проверяем заполнены ли все необходимые поля
            $(".isError", licRequest.container).removeClass("isError");
            var isError = false;
            //дата
            var dField = $("input[name=creationDate]", licRequest.container);
            if($(dField).val()==""){
                dField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            //организация
            var oField = $("input[name=organizationId]", licRequest.container);
            if($(oField).val()==""){
                oField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            //причины
            var rField = $(".reasons-container", licRequest.container);
            if($("input[type=checkbox]:visible:checked", rField).length == 0){
                rField.parents("td").eq(0).addClass("isError");
                isError = true;
            }
            if(isError) {
                $(".loading-overlay").hide();
                return;
            }

            //Собираем объект с данными для добавления
            var fd = new FormData();
            var test = [];
            $(".dataField", licRequest.container).each(function(i, item){
                var iName = $(item).attr("name");
                var fType = $(item).attr("fType");
                switch(fType){
                    case "val":
                        var iValue = $(item).val();
                        fd.append(iName,iValue);
                        test.push({name:iName,val:iValue});
                        break;
                    case "reasons":
                        var rContainer = $(".reasons-container .reasons-block:visible", licRequest.container);
                        var reasons = [];
                        $(".cbField:checked",rContainer).each(function(i, item){
                            var rId = $(item).attr("id").split("_")[1];
                            reasons.push(rId);
                        });
                        fd.append("reasons",reasons);
                        test.push({name:"reasons",val:reasons});
                        break;
                    case "date":
                        var iValue = $(item).val();
                        var date = moment(iValue,"DD.MM.YYYY").format("YYYY-MM-DD");
                        fd.append(iName,date);
                        break;
                }
            });
            console.log(test);


            $.ajax({
                type: 'POST',
                dataType: "json",
                data: fd,
                processData: false,
                contentType: false,
                url: "/eo/license/add-request",
                success: function(answer) {
                    $(".loading-overlay").hide();
                    //Проверяем если ошибка
                    if(answer.result && answer.result=="error"){
                        useTopHoverTitleError(answer.error);
                        return;
                    }
                    //Если все хорошо
                    if(answer.result && answer.result=="success"){
                        //перегрузим страничку - перегрузить пагинацию
                        var itPage = jQuery('#pagination .current-page').text();
                        _serverQuery(itPage);
                        //закроем это окно и откроем редактирование
                        var reqId = answer.id;
                        jQuery($(licRequest.container).parents('.ui-dialog-content')[0]).dialog('close');
                        request.openEdit(reqId);
                    }
                }
            });
        };

        $(".date-field", licRequest.container).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd.mm.yy"
        });


        //задаем начальную дату если поле пустое
        if($("input[name=creationDate]", licRequest.container).val() == "") {
            var today = new Date();
            if (today.getDay() == 5) {
                var d = new Date();
                d.setDate(d.getDate() + (1 + 7 - d.getDay()) % 7);
                d = moment(d).format("DD.MM.YYYY");
                $("input[name=creationDate]", licRequest.container).val(d);
            }
        }

        if($("input[name=creationDate]", licRequest.container).val() == "") {
            $(".date-field", licRequest.container).datepicker("setDate", new Date());
        }
    };

    $(document).ready(function(){
        console.log("document ready");
        //Устанавливаем высоту блока с контентом
        //$(".content-block", licRequest.container).height($(".dialog-request-edit.ui-dialog-content").height()-60);
        //$(".content-block", licRequest.container).height($(licRequest.container).parent().height());

        //инициализация обработчиков
        licRequest.initHandlers();
    });
</script>

<script>

    //очередь проверять не надо
    //dialogRequestAddGetFioFromEqueue();

    /**
     * делаем запрос на есть ли чего в очереди и заполняем поля если там чегото залежалось
     * выдернуто из
     * /trunk/public/js/islod/namespace/request.js
     * request.getFioFromEqueue
     *
     * @returns {undefined}
     */
    function dialogRequestAddGetFioFromEqueue(){
        //дергать очередь не надо
        return 0;
        console.log('загрузим сведения из очереди');
        var id = jQuery('.dialog-request-add input#Id_organization').val();
        console.log(id);
        if( 'string' == typeof (id) && '' != id ){
            $.ajax({
                url: '/islod/requests/get-fio-from-equeue/' + id,
                dataType: 'json',
                type: 'POST',
                success: function (answer) {
                    var doResult = function(i){
                        //answer = jQuery.parseJSON(answer);
                        if ( 'undefined' != typeof (answer['data']) ){
                            if ( "feb3633090b54d709c7a476f0982c3d6" == jQuery('#admissionType.dataField[name="admissionType"]').val() ){
                                if ( 'undefined' != typeof (answer['data'][i]) ){
                                    if ( 'undefined' != typeof (answer['data'][i]['lastName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeLastName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeLastName"]').val(answer['data'][i]['lastName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['firstName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeFirstName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeFirstName"]').val(answer['data'][i]['firstName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['middleName'])
                                        &&
                                        '' == jQuery('.dataField[name="requestRepresentativeMiddleName"]').val()
                                        ){
                                        jQuery('.dataField[name="requestRepresentativeMiddleName"]').val(answer['data'][i]['middleName']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['phone'])
                                        &&
                                        '' == jQuery('.dataField[name="mobilePhoneNumber"]').val()
                                        ){
                                        jQuery('.dataField[name="mobilePhoneNumber"]').val(answer['data'][i]['phone']);
                                    }
                                    if ( 'undefined' != typeof (answer['data'][i]['email'])
                                        &&
                                        '' == jQuery('.dataField[name="eMail"]').val()
                                        ){
                                        jQuery('.dataField[name="eMail"]').val(answer['data'][i]['email']);
                                    }
                                }
                            }

                            // если из очереди приехала процедура, по выберем ее
                            if ( 'undefined' != typeof (answer['data'][i])){
                                if ( 'undefined' != typeof (answer['data'][i]['lisensingProcedureId'])){
                                        //проставим галочки по причинам, если есть
                                        if ( 'undefined' != typeof (answer['data'][i]['licenseReasonAllId']) ){
                                            for (var i in answer['data'][i]['licenseReasonAllId']){
                                                if( jQuery('.cbField[type="checkbox"][value="'+answer['data'][i]['licenseReasonAllId'][i]+'"]').length){
                                                    jQuery('.cbField[type="checkbox"][value="'+answer['data'][i]['licenseReasonAllId'][i]+'"]').prop('checked','checked');
                                                }
                                            }
                                        }
                                }
                            }
                        }
                    }
                    request.getFioFromEqueueParse(answer, doResult);

                }
            });
        }
    }

</script>

<style>
    .cbField {
        width: auto;
        height: auto;
    }
  #fields_form span.date-icon {right: 10px;}
</style>

<script src="/js/eo/license/namespace/request.js" > </script>