<?php
/*
 * лицензирование - новые
 * url:  /eo/license/all-deal
 * path: /module/Eo/view/eo/license/all-deal.phtml
 */
?>
    <div id ="filter" class="license-filter">
        <table style="width: 100%">
	<tr>
                <td colspan="2" style="padding: 0;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: right;padding: 5px 0;/*width: 120px*/">№ Дела</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="dtDealNumber  fillingDealNumber"
                                        type="text"
                                        value=""
                                        name="dealNumber"
                                        style="width: 100%"
                                    >                                    
                                </div>
                            </td>
                            
                            <td style="text-align: right;padding: 5px 0;/*width: 120px*/">Дата регистрации от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                        class="date-field dtDateStart SearchDate fillingDateBegin"
                                        value=""
                                        type="text"
                                        name="dateIssueBegin"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="date-field dtDateEnd SearchDate fillingDateEnd"
                                        type="text"
                                        value=""
                                        name="dateIssueEnd"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            
                            <td style="text-align: right;padding: 5px 0; /*width: 120px*/">Статус дела</td>
                            <td style="padding-left: 0;padding-right: 5px;/*width: 50%;*/">
                                <select class="sState  fillingDealStatus" style="width: 100%;" onchange="">
                                    <option value="" selected="selected" >Все типы процедур</option>
                                    <?php
                                        if( !empty($dealstatusAll) ){
                                            foreach ( $dealstatusAll as $licenseProcedureKey => $licenseProcedureOne ) {
                                                ?>
                                                <option value="<?php echo $licenseProcedureOne->getFieldHtml( 'origin_name' ); ?>"  ><?php echo $licenseProcedureOne->getFieldHtml('russian_name'); ?></option>
                                                <?php
                                            }
                                        }

                                    ?>
                                </select>
                            </td>
                            
                            
                            <td width="100" style="padding: 0 0 0 5px;">
                              <span class="bt btApply" style="margin-right: 0;">Применить</span>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
            <tr>
                <td style="padding-left: 0;padding-right: 5px;width: 50%;">
                    <select class="sState  licenseProcedure" style="width: 100%;" onchange="licenseProcedureChange(this)">
                        <option value="" selected="selected" >Все типы процедур</option>
                        <?php
                            if( !empty($licenseProcedureAll) ){
                                foreach ( $licenseProcedureAll as $licenseProcedureKey => $licenseProcedureOne ) {
                                    ?>
                                    <option value="<?php echo $licenseProcedureOne->getId(); ?>"  ><?php echo $licenseProcedureOne->getFieldHtml('title'); ?></option>
                                    <?php
                                }
                            }

                        ?>
                    </select>
                </td>
                <td style="padding-left: 5px;width: 50%;">
                    <select class="sState licenseReason license-reason" style="width: 100%;">
                        <option value="" selected="selected" >Все причины обращения</option>
                        <?php
                            if( !empty($licenseReasonAll) ){
                                foreach ( $licenseReasonAll as $licenseReasonKey => $licenseReasonOne ) {
                                    ?>
                                    <option
                                        value="<?php echo $licenseReasonOne->getId(); ?>"
                                        licensingProcedureId=<?php echo  $licenseReasonOne->getFieldHtml('licensingProcedureId');?>
                                    >
                                        <?php echo $licenseReasonOne->getFieldHtml('title'); ?>
                                    </option>
                                    <?php
                                }
                            }

                        ?>
                    </select>
                </td>
	  </tr>
        </table>
    </div>
    <div class="viewzone" data-heightdelta="-27" style="overflow-y: hidden;">
        
        <table class="intable license_table license-table-content">
            <thead>
                <tr>
                    <th style="width: 150px;" class="sortable sort_both" field-name="fillingDate" >Дата регистрации</th>
                    <th style="width: 20%;"   class="sortable sort_desc" field-name="DateLicDoc"  >№ дела </th>
                    <th style="width: 20%;"   class="sortable sort_both" field-name="NumLicDoc"   >Тип процедуры</th>
                    <th style="width: 20%;"    class="sortable sort_both" field-name="NumLicDoc"   >Причина обращения</th>
                    <th                       class="sortable sort_both" field-name="NumLicDoc"   >Статус дела</th>
                    <th style="width: 25px;border: 0;"></th>
                </tr>
            </thead>
            <tbody class="content">
                <?php
                    if( true ){
                ?>
                    <tr><td colspan="3" ></td></tr>
                    <tr><td colspan="3" align="center" >Нет данных</td></tr>
                    <tr><td colspan="3" ></td></tr>
                <?php
                    }
                    else{
                        foreach ($requestsAll as $requestsKey => $requestsOne){
                            $creationDate = $requestsOne->getDate('fillingDate');
                            $procedureTypeType =  $requestsOne->getLicensingProcedureName();
                            $licenseReasonsList =  $requestsOne->getLicenseReasonsList();
                ?>
                    <tr >
                        <td style="width: 150px"><?php echo $creationDate;?></td>
                        <td style="width: 30%"><?php echo $procedureTypeType;?></td>
                        <td><?php echo $licenseReasonsList;?></td>
                    </tr>
                    
                <?php                                                        
                        }
                    }                                                               
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( 1, 1 );
        ?>
    </div>

    <?php /*
        <div class="button-block">
            <div class="bt custom-button" onclick="licenseNewRequestClick(this)" >Новое заявление</div>
            <div class="bt custom-button" onclick="newRequestOpenAction(this)" >Редактировать</div>
            <div class="bt custom-button" onclick="newRequestDeleteAction(this)" >Удалить</div>
        </div>
    */ ?>
    <div style="float:left;margin-top: 24px;">Найдено записей: <span id="report-generate-count-span">0</span> </div>

<style>div.content {height: auto!important}</style>

<script src="/js/eo/license/all-deal.js"> </script>



