<?php
if(
  $status == 'VALID' ||
  $status == 'RECEIVED_BY_APPLICANT' ||
  $status == 'SEND_BY_MAIL' ||
  $status == 'SENT_INTO_RON' ||
  $status == 'NOT_VALID' ||
  $status == 'SUSPENDED' ||
  $status == 'SUSPENDED_BRANCHES' ||
  $status == 'READY_TO_ISSUE' ||
  $status == 'SIGNED' ||
  $status == 'ANNULLED'
){
    $rights['supplementEdit'] = false;
}
?>
<div>  <input type="text" class="serach-edu-program" placeholder="Поиск по коду и наименованию образовательной программы" style="margin-top: 0;background: url(/img/lupa.png) #fff no-repeat 100% 50%" /></div>
<div class="left left-education-programs-level-menu">
    <ul>
        <li class="" >
            <a onclick="" class="education-super-level-button selectable" super-level-id="ALL">
                Показать все уровни&nbsp;(<?= $parentLevelCount['all']; ?>)
            </a>
        </li>
    <?php
    foreach($parentLevel as $programId => $name){ ?>
        <?php if( isset($parentLevelCount[ strtoupper($programId)])){?>
            <li class="" >
                <a onclick="" class="education-super-level-button selectable" super-level-id="<?= $programId; ?>">
                    <?= $name; ?>&nbsp;(<?= $parentLevelCount[ strtoupper($programId)]; ?>)
                </a>
            </li>
        <?php } } ?>
    </ul>
</div>

<div class="right right-education-programs-level-menu viewzone" data-heightdelta="-130">
    <table class="intable">
        <thead>
            <tr>
                <th style="width:7%;">№ п.п.</th>
                <th style="width:11%;">Код</th>
                <th style="width:37%;">Название</th>
                <th style="width:22%;">Уровень образования</th>
                <th style="width:19%;border-radius: 0 5px 5px 0">Квалификация</th>
		<th style="width: 0%"></th>
            </tr>
        </thead>
        <tbody class="content">
            <?php
            if( count($parentLevel) == 0){ ?> <tr class="level"><td class="center">Записей не найдено</td></tr> <?php } ?>

                <?php foreach($eduProgramsUsed as $programId => $programArr){ ?>
                    <?php $counter = 1; ?>

                    <tr class="program-title-block"  parent-level="<?= $programArr['programsByLevel'][0]['parentlevel'];?>" >
                        <td><p><?= $programArr['LodTitle']; ?></p></td>
                    </tr>
                    
                         <?php foreach($programArr['programsByLevel'] as  $eduProgram){ ?>
                            <tr parent-level="<?= $eduProgram['parentlevel']; ?>">
                                <td style="width:7%;"><?= $counter; ?></td>
                                <td style="width:11%;"><?= $eduProgram['Code']; ?></td>
                                <td style="width:37%;"><?= $eduProgram['Name']; ?></td>
                                <td style="width:22%;"><?= $eduProgram['ShortName']; ?></td>
                                <td style="width:19%;"><?= $eduProgram['QualificationName']; ?></td>
                                <?php if($rights['supplementEdit']){ ?>
                                <td style="width:4%;" ><span class="remove-program x-button" programid="<?= $eduProgram['Id']; ?>"><img onmouseover="this.src='/img/islod/delete_color.png';" onmouseout="this.src='/img/islod/delete.png';" class="iconFile removeFileType" src="/img/islod/delete.png"></span></td>
                                <?php } ?>
                                <?php $counter++; ?>
                            </tr>
                        <?php } ?>
                        <?php if($counter<=0){ ?>
                            <tr class="level"><td>Записей не найдено</td></tr>
                        <?php } ?>
                <?php } ?>
        </tbody>
    </table>
</div>
<style>
.ui-dialog .supplement-info-dialog {height: 100%;}
.serach-edu-program {width:100%;float: none;margin-bottom: 5px;margin-right: 0;}
td.center {text-align: center}
.content-block.block-licenses {overflow-y: hidden;}
.program-title-block p {font-weight: normal;}
</style>