<?php
    function paginator( $count,  $onPage, $current){
        $str = '';
        $lastPage = 0;
        $pageCount = ceil($count/$onPage);
        $left = false;
        $right = false;

        for($page=1; $page<$pageCount+1; $page++){
            if(($page<4 || ($page>$current-3 && $page<$current+3) || $page>$pageCount-3) && $page != $lastPage){
                
                if($current == $page){
                     $str .= '<span class="unactive-page" >'.$page.'</span>';
                }else{
                    $str .= '<a class="page-excert" href="#" >'.$page.'</a>';
                }
            }elseif($page != $lastPage && !$left && $page<$current ){
                 $str .= '...';
                 $left = true;
            }elseif($page != $lastPage && !$right && $page>$current ){
                 $str .= '...';
                 $right = true;
            }
            $lastPage = $page;
        }
        return $str;
    }
?>
<div class="excerpt-content" style="height: 100%;width: 100%;">
    <div class="content-block " style="">
    <div class="viewzone" data-heightdelta="0">
        <table class="intable">
        <thead>
            <tr>
                <th style="width:25%;">Дата запроса</th>
                <th>
                    <?
                        if($type=='licenses'){
                            echo 'Лицензия';
                        }
                        if($type=='certificates'){
                            echo 'Сертификат';
                        }
                    ?>
                </th>
                <th style="width:35%;">Документ выписки</th>
            </tr>
        </thead>
        <tbody class="content">
            <?php
            if( count($excerpts) == 0){ ?> <tr class="level"><td class="center">Записей не найдено</td></tr> <?php } ?>

                <?php foreach($excerpts as $exc){ ?>

                    <tr class="row-excerpt" >
                        <td style="width: 25%" ><p><?= $exc->getDate('date_request') ?></p></td>
                        <td style="" ><p><?= $exc->getFieldOrSpace('title') ?></p></td>
                        <td style="width: 35%"><p><?php
                            if($type=='licenses'){
                                $licenseDocument = $exc->getFieldDefault('licenseDocument');

                                if(!empty($licenseDocument)){
                                    $title = "Документ лицензии";
                                    $href = $licenseDocument->getUrl();
                                    $download = $licenseDocument->getFileName();
                                    $alt = 'Скачать документ лицензии';
                                    $cls = 'license-document-link';
                                    echo "<a href='$href' download='$download' class='$cls' title='$title' _target='_blank'>$download</a>";
                                }
                            }
                            if($type=='certificates'){
                                    echo '<div class="right-value fileLink SignDcumentCertificate">';
                                    
                                    if(!empty($exc->getField('docFileUrl'))){
                                        echo "<a target='_blank' href='".$exc->getField('docFileUrl')."'>"
                                            .$exc->getField('docFileName')
                                            ."</a><br>";
                                    }
                                    echo '</div>';
                            }
                        ?></p></td>
                    </tr>
                <?php } ?>
        </tbody>
    </table>
    </div>
        <div class="excerpt-list-data">
            <div class="pagination">
                <?= paginator( $pages, 20, $page  ) ?>
            </div>
            
            <div class='button-block'>
                <div class='button excerpt-this bt' etype='<?= $type ?>' title='<?= $title ?>'> Запросить выписку </div>
		<div style="display: inline-block;margin: 5px 10px;">
                Всего записей: <?= $pages ?>
            </div>
            </div>
        </div>
        <div class="excerpt-dial"></div>
    </div>
</div>