<?php 
/**
 * отдает отсортированый перечень приложений
 * url:  /eo/license/get-license-supplement-sort
 * path: /module/Eo/view/eo/license/get-license-supplement-sort.phtml
 * <script scr="/js/islod/namespace/license.js"></script>
 */ 
?>

<?php foreach ($supplements as $supplement) { ?>
<tr supplementId="<?= $supplement->getFieldSafe("Id"); ?>">
        <td style="width: 4%;"><?= $supplement->getFieldSafe("Number"); ?></td>
        <td ><?= $supplement->getFieldSafe("EOName"); ?></td>
        <td style="width: 11%;padding-left: 0;text-align: center;">
            <span class="supplementStatus <?= \Eo\View\Render\Elements::getColorClassFromStatus($supplement->getFieldSafe("fk_eiisLicenseSupplementState")) ?>"><?= $supplement->getFieldSafe("stateCode"); ?></span>
        </td>
        <td style="width: 18%;"><?= $supplement->getFieldSafe("basisForLicensing"); ?></td>
        <td style="width: 6%;"><?= $supplement->getFieldSafe("dealNumber"); ?></td>
    </tr>
<?php } ?>
