<?php

use \Islod\View\Render\Elements;

if(
  $status == 'VALID' ||
  $status == 'RECEIVED_BY_APPLICANT' ||
  $status == 'SEND_BY_MAIL' ||
  $status == 'SENT_INTO_RON' ||
  $status == 'NOT_VALID' ||
  $status == 'SUSPENDED' ||
  $status == 'SUSPENDED_BRANCHES' ||
  $status == 'READY_TO_ISSUE' ||
  $status == 'SIGNED' ||
  $status == 'ANNULLED'
){
    $rights['supplementEdit'] = false;
}

?>
    <input type="text" class="search-education-location" placeholder="Введите адрес для поиска" style="width: 100%;margin-bottom: 5px;" />
<div class="education-location-container viewzone" data-heightdelta="-130">
    <table class="intable" >
        <thead>
             <th width="80">
               № п/п
            </th>
            <th width="100">
               Индекс
            </th>
            <th>
                Адрес
            </th>
        </thead>
        <tbody class="content">
            
            <?php 
            $count = 0;
            foreach( $location as $adress){
            ?>
             <tr>
                 <td  width="80">
                      <?= $count+1 ?>
                 </td>
                 <td width="100">
                      <?= $adress->getField('postcode') ?>
                 </td>
                 <td>
                    <?= $adress->getField('address') ?>
                 </td>
<?php if( $rights['DelLicProgAdres'] && $rights['supplementEdit']){ ?>
                 <td style="width:4%;" >
                     <span class="remove-education-location x-button" locationid="<?= $adress->getField('organizationLocationLink') ?>">
                         <img onmouseover="this.src='/img/islod/delete_color.png';" onmouseout="this.src='/img/islod/delete.png';" class="iconFile removeFileType" src="/img/islod/delete.png">
                     </span>
                 </td>
<?php }?>
             </tr>
            <?php
                  $count++;
                }
            ?>
            <?php if( $count<=0){ ?>
                <tr class="level">
                    <td>
                        Записей не найдено
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
