 <?php
use \Eo\View\Render\Elements;

//макет лицензии
$licensePrint = false;
if(!empty($license)){
    $licensePrint = $license->getPrintFile();
}
//скан копия
$licenseScan = false;
if(!empty($license)){
    $licenseScan = $license->getScanFile();
}

$licenseDocument = false;
if(!empty($license)){
    $licenseDocument = $license->getDocumentFile();
}

$licenseSign = false;
if(!empty($license)){
    $licenseSign = $license->getSignFile();
}


if(
  $license->getFieldOrSpace('lod_signStateCode') == 'VALID' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'RECEIVED_BY_APPLICANT' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'SEND_BY_MAIL' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'SENT_INTO_RON' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'NOT_VALID' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'SUSPENDED' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'SUSPENDED_BRANCHES' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'READY_TO_ISSUE' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'SIGNED' ||
  $license->getFieldOrSpace('lod_signStateCode') == 'ANNULLED'
){
    $rights['LicenseEdit'] = false;
    $rights['changeLicensePostDate'] = false;
}


$printDocLink_2 = array(
                'type'      => 'link',
                'editable'  => true,
                'href'      => 'javascript:;',
                //'href'      => '#',
                //'download'  => 'Макет лицензии.doc',
                'alt'       => (empty($licensePrint)?'Сформировать макет':'Переформировать макет'),
                'value'     => (empty($licensePrint)?'Сформировать макет':'Переформировать макет'),
                'inNew'     => true,
                'onclick'   => 'licenseMaketReMakeAction(\''.$license->getId().'\');',
                'class'     => 'license-print-remake ',
            );
$scanFilelink_2 = array(
                'type'      => 'link',
                "editable"  => false,
                'href'      => 'javascript:;',
                //'href'      => '#',
                'alt'       => 'Загрузить скан лицензии',
                'value'     => 'Загрузить скан лицензии',
                'onclick'   => 'licenseSendFileAction(\''.$license->getId().'\');',
                'class'     => 'license-scan-file ',
            );

$ButtStrState="";
$ButtStrSign="";

if ( $Buttons ) {
    foreach ($Buttons as $key => $Button) {
        $buttonPosition = 'right';
        if($Button->getFieldOrSpace("ButtonType")=='prev'){
            $buttonPosition = 'left';
        }
        $access = false;
        $rightsName = $Button->getFieldOrSpace("FromGroup").'Button';

        if( isset($rights[ $rightsName ])){
            if( $rights[ $rightsName ] == '1'){
                 $access = true;
            }
        }

        if($Button->getField("TypeCode")=="stateCode"){
            if($access){
                    $onClick = $Button->getFieldHtml('OnClick');

                    $ButtStrState.=
                        "<a class='buttonReestr ".$buttonPosition."' "
                        . "data-id='" . $license->getField("Id") . "'"
                        . "data-element-type='License'"
                        . "data-comment='" . $Button->getField("comm") . "'  "
                        . "data-next-status='" . $Button->getField("NextStatus") . "' "
                        . "data-type-code='" . $Button->getField("TypeCode") . "' "
                        . "data-message='" . $Button->getField("Message") . "'"
                        . "data-button-id='" . $Button->getId() . "'  "
                        .( empty($onClick)?'':' onclick="'.$onClick.'" ')
                        . ">"
                        . $Button->getField("Name")
                        . "</a>";
                    unset($onClick);
            }
        }else{
            if($access){
                $ButtStrSign.=
                    "<a class='buttonReestr ".$buttonPosition."' "
                    . "data-id='" . $license->getField("Id") . "'"
                    . "data-element-type='License'"
                    . "data-comment='" . $Button->getField("comm") . "'  "
                    . "data-next-status='" . $Button->getField("NextStatus") . "' "
                    . "data-type-code='" . $Button->getField("TypeCode") . "' "
                    . "data-message='" . $Button->getField("Message") . "'>"
                    . $Button->getField("Name")
                    . "</a>";
            }
        }
    }
}


$array_to_render     = [
    'isDuplicate' => [
        "type" => ($license->getFieldOrSpace('Duplicate')=='1') ? 'div' : '',
        "title" => "",
        "class" => 'is-duplicate',
        "value" => ($license->getFieldOrSpace('Duplicate')=='1') ? 'Дубликат' : '',
    ],
    'title_1' => [
        "type" => 'title',
        "value" => 'Сведения о лицензии',
    ],

//    'fk_eiisLicenseState' => [
//        "type" => 'select+empty+reverse',
//        "disabled" => "disabled",
//        "title" => "Состояние",
//        "options" => $LicenseState,
//        "value" => $license->getField('fk_eiisLicenseState')
//    ],
    'LICENSE_SATE' => [
        "type" => 'div',
        "title" => "Состояние",
        "value" => isset($LicenseState[$license->getField('fk_eiisLicenseState')]) ? $LicenseState[$license->getField('fk_eiisLicenseState')] : ''
    ],
    'ButtStrSign' => [
        "type" => 'div',
        "title" => "",
        "class" => 'document-unselected-row',
        "value" => $ButtStrState,
    ],

    'LICENSE_SIGN_STATE' => [
        "type" => 'div',
        "title" => "Cтатус оформления",
        "value" =>  isset($licenseSignStates[$license->getField('lod_signStateCode')]) ? $licenseSignStates[$license->getField('lod_signStateCode')] : ''
    ],

    'ButtStrState' => [
        "type" => 'div',
        "title" => "",
        "class" => 'document-unselected-row',
        "value" => $ButtStrSign,
    ],

    'DateSending' => [
        "type" => 'date',
        "class" => 'input-date',
        "editable" => ( $rights['changeLicensePostDate'] || $rights['LicenseEdit'] ),
        "title" => "Дата отправки по почте"
    ],

    "DateOnHands" => array(
        "type" => "date",
        "class" => 'input-date',
        "editable" =>  ( $rights['changeLicenseHandleDate'] || $rights['LicenseEdit']),
        "title" => "Дата вручения"
    ),
    "fk_eiisControlOrgan"  => [
        "type" => "select+empty+reverse",
        "options" => $controlOrgans,
        "editable" => $rights['LicenseEdit'],
        "title" => "Лицензирующий орган"
       ],
    "LicenseRegNum"        => [
        "type" => "text",
        "editable" => $rights['LicenseEdit'],
        "title" => "Регистрационный номер"
       ],
    'DateLicDoc' => [
        "type" => 'date',
        "class" => 'input-date',
        "editable" => $rights['LicenseEdit'],
        "title" => "Дата лицензии"
    ],
    "EONameDatCase"    => [
        "type" => "textarea",
        "editable" => $rights['LicenseEdit'],
        "title" => "Лицензия предоставлена",
        "value" => $licenseIsGranted
       ],
    "DateEnd"             => [
        "type" => "date",
        'if_empty' => ($rights['LicenseEdit']) ? "-" : 'Бессрочно',
        "editable" => $rights['LicenseEdit'],
        "title" => "Срок действия",
        "class" => 'input-date',
       ],
    "dateEndCheckbox"             => [
        "type" => ($rights['LicenseEdit']) ? "checkbox" : '',
        "etditable" => $rights['LicenseEdit'],
        "title" => '',
        "text" => "Бессрочно",
        "class" => 'forever-date-end',
       ],
    'title_2' => [
        "type" => 'title',
        "value" => 'Реквизиты организации',
    ],
    "EOGosRegNum"         => [
        "type" => "text",
        "editable" => false,
        "title" => "ОГРН"
       ],
    'EOInn' => [
        "type" => 'text',
        "editable" => false,
        "title" => "ИНН"
    ],
    "EOLawAddress"        => [
        "type" => "text",
        "editable" => false,
        "title" => "Место нахождения"
       ],
    'title_3' => [
        "type" => 'title',
        "value" => 'Распорядительный документ',
    ],
    'documentsOnDelivery' => [
        "type" => 'div',
        "title" => "Распорядительный документ о выдаче",
        "value" => $documentsOnDelivery.
                ' <a href="'.$urlHandDoc['url'].'">'.
                        ( !empty( $urlHandDoc['url']) ? ' <img src="/img/islod/file_expand.png" />' : '').
                '</a> '.
                ( ( $deal ) ? 'Дело №'.'<span  name="dealNumber" dealid="'.$deal->getField('id').'">'.$deal->getFieldOrSpace('number').'</span>' : ''),
    ],

    'endDocument' => [
        "type" => 'div',
        "title" => "Документ о прекращении действия",
        "value" => $licenseEndDocument.
                        ' <a href="'.$urlEndDoc['url'].'" >'.
                                    ( !empty( $urlEndDoc['url']) ? ' <img src="/img/islod/file_expand.png" />' : '') .
                        '</a> '.
                        ( ( $dealFromEndDoc ) ? 'Дело №'.'<span  name="dealNumber" dealid="'.$dealFromEndDoc->getField('id').'">'.$dealFromEndDoc->getFieldOrSpace('number').'</span>' : ''),
    ],
    'otherDocument' => [
        "type" => 'list+text',
        "editable" => false,
        "title" => "Прочие документы",
        "value" => $licenseOtherDocument,
    ],
//    'dealNumber' => [
//        "type" => 'link',
//        "dealid" => ( $deal) ? $deal->getFieldOrSpace('id') : '',
//        "title" => "Дело",
//        "value" => ( $deal) ? $deal->getFieldOrSpace('number') : '',
//    ],
     'lod_authorizedPersonId' => [
        "type" => 'select+empty+reverse',
        "editable" => $rights['LicenseEdit'],
        "title" => "Уполномоченное лицо",
        "options" => $authorizedPersons
    ],
    'SerDoc' => [
        "type" => 'text',
        "editable" => $rights['LicenseEdit'],
        "title" => "Серия бланка"
    ],
    'NumDoc' => [
        "type" => 'text',
        "editable" => $rights['LicenseEdit'],
        "title" => "Номер бланка",
    ],
    /*
    'PrintFile' => array(
        "title"     => "Печатный документ",
        "type"      => 'TableRow',
        'row' => array(
            array(
                "type"      => 'link',
                "editable"  => true,
                'href'      => empty($licensePrint)?'':$licensePrint->getUrl(),
                'download'  => empty($licensePrint)?'':$licensePrint->getFileName(),
                'alt'       => 'Скачать макет лицензии',
                'value'     => empty($licensePrint)?'':$licensePrint->getFileName(),
                'inNew'     => true,
                'class'     => 'license-print-link '.(empty($licensePrint)?'hiden':''),
            ),
            //кнопки переформирования
            $printDocLink_2,
            array(
                "type"      => 'img',
                "editable"  => false,
                //'href'      => '#',
                'alt'       => 'Загрузить макет лицензии',
                'value'     => 'Загрузить макет лицензии',
                'inNew'     => true,
                //'onclick'   => 'licenseSupplement.sendScanCopy("'.$supplement->getId().'")',
                'onclick'   => 'licenseSendMaketInput(\''.$license->getId().'\')',
                'class'     => 'license-maket-send ',
                'onmouseover'=>"this.src='/img/islod/pencil_color.png';",
                'onmouseout'=> "this.src='/img/islod/pencil.png';",
                'src'       => "/img/islod/pencil.png",
            ),  
            
        ),
    ),
    */
    'SendLisenseFile' => array(
        "title"     => "Скан-копия",
        "type"      => 'TableRow',
        'row' => array(
            array(
                "type"      => 'link',
                "editable"  => true,
                'href'      => empty($licenseScan)?'':$licenseScan->getUrl(),
                'download'  => empty($licenseScan)?'':$licenseScan->getFileName(),
                'alt'       => 'Скачать макет лицензии',
                'value'     => empty($licenseScan)?'':$licenseScan->getFileName(),
                'inNew'     => true,
                'class'     => 'license-scan-link ',
            ),
            /* кнопки загрузки
            array(
                "type"      => 'img',
                "editable"  => false,
                //'href'      => '#',
                'alt'       => 'Загрузить скан копию',
                'value'     => 'Загрузить скан копию',
                'inNew'     => true,
                //'onclick'   => 'licenseSupplement.sendScanCopy("'.$supplement->getId().'")',
                'onclick'   => 'licenseSendScanInput(\''.$license->getId().'\')',
                'class'     => 'license-scancopy-send ',
                'onmouseover'=>"this.src='/img/islod/pencil_color.png';",
                'onmouseout'=> "this.src='/img/islod/pencil.png';",
                'src'       => "/img/islod/pencil.png",
            ),             
             */
        ),
    ),
 ];

    // выведем ссылку подписанный документ
    $host = $_SERVER['HTTP_HOST'];
    if( 'f11' == substr($host, 0, 3) || $host =='85.192.47.4' ){
        /*
        $array_to_render[ 'signMaketPrint'] =             
            array(
                "title"     => "Макет для подписания",
                "type"      => 'img',
                "editable"  => false,
                'href'      => 'javascript:;',
                //'href'      => '/islod/index/exportDocument/licenseEp/'.$license->getId(),
                //'download'  => empty($licenseScan)?'':$licenseScan->getFileName(),
                'alt'       => 'Макет для подписания',
                'value'     => 'Сформировать макет для подписания',
                'class'     => 'maket-sign-link ',
                //'target'    => '_blank',
                'onclick'   => 'licenseMaketReMakeAction(\''.$license->getId().'\',\'licensetosign\');',
		'onmouseover'=>"this.src='/img/islod/update.png';",
                'onmouseout'=> "this.src='/img/islod/update_grey.png';",
                'src'       => '/img/islod/update_grey.png'
            );
        */
        //подписаный файл
        $array_to_render[ 'licenseDocumentFile'] =
            array(
                "title"     => "Документ лицензии",
                "type"      => 'link',
                "editable"  => false,
                'href'      => empty($licenseDocument)?'':$licenseDocument->getUrl(),
                //'download'  => empty($licenseScan)?'':$licenseScan->getFileName(),
                'download'  => empty($licenseDocument)?'':$licenseDocument->getFileName(),
                'alt'       => 'Скачать документ лицензии',
                'value'     => 'Скачать документ лицензии',
                'class'     => 'license-document-link '.(empty($licenseDocument)?'hiden':''),
                'target'    => '_blank',
            );
        $array_to_render[ 'licenseSignFile'] =
            array(
                "title"     => "Подпись",
                "type"      => 'link',
                "editable"  => false,
                'href'      => empty($licenseSign)?'':$licenseSign->getUrl(),
                //'download'  => empty($licenseScan)?'':$licenseScan->getFileName(),
                'download'  => empty($licenseSign)?'':$licenseSign->getFileName(),
                'alt'       => 'Скачать подпись',
                'value'     => 'Скачать подпись',
                'class'     => 'license-sign-link '.(empty($licenseSign)?'hiden':''),
                'target'    => '_blank',
            );
        //ссылка на подписание
        /*
        $sId   = empty($license)?'':($license->getId());
        $sLink = '/islod/index/sign-dialog/first';
        $array_to_render[ 'signMaketDialog'] =
            array(
                "title"     => "Подписать",
                "type"      => 'link',
                "editable"  => true,
                'href'      => 'javascript:licenseSignDialogAction(\''.$sId.'\',{\'url\':\''.$sLink.'\'})',
                //'download'  => empty($licenseScan)?'':$licenseScan->getFileName(),
                'alt'       => 'Подписать',
                'value'     => 'Подписать',
                'class'     => 'maket-sign-link ',
                'target'    => '_blank',
            );
        */
    }

$access_name     = "LicenseEdit";
$all_class_field = "licData";
?>


<div class="dialog-certificate-info-container" style="height: inherit; overflow: hidden;">  
    <style>
        .dialog-license-info.ui-dialog-content.ui-widget-content{
                overflow: hidden;
        }
    </style>
    <div class="tabs-container">
        <div class="tab active" tab-container="license">Лицензия</div>
        <div class="tab" tab-container="supplements">Приложения</div>
    </div>
    <div class="hidden-block">
        <input type="hidden" class="license-dialog-title"   value="<?= $licenseTitle ?>" />
        <input type="hidden" class="rights-edit-license"    value="<?= $rights['LicenseEdit'] ?>" />
        <input type="hidden" class="rights-edit-license-post-date"    value="<?= $rights['changeLicensePostDate'] ?>" />
        <input type="hidden" class="rights-edit-license-hand-date"    value="<?= $rights['changeLicenseHandleDate'] ?>" />
        <input type="hidden" class="rights-view-org"        value="<?= empty($rights['viewOrganizations'])?0:1 ?>" />
    </div>

    <div class="content-container container" style="height: inherit; ">
         <span class="copy zeroclipboard-is-hover" title="Скопировать ИНН"><?= $license->getField("EOInn") ?></span>

        <div class="content-block license viewzone " style="height: inherit; ">

            <form id="licenseForm">
                <input id="LicenseId" type="hidden" name="Id" value="<?= $license->getField("Id") ?>">
                <input id="organizationId" type="hidden"  value="<?= $license->getFieldOrSpace("fk_eiisEducationalOrganization") ?>">
                <table class="fields-table">

<?php
    foreach ( $array_to_render as $key => $one) {
        if( !($one['type'] == 'div' && empty($one['value'])) ){
?>
                        <tr>
                            <?php  if( $one['type'] != 'title'){ ?>
                            <td class="left" style="vertical-align: middle;">
                                <div class="left-title">

                                    <?= $one["title"] ?>
                                    <?php unset( $one["title"]); ?>

                                </div>
                            </td>
                            <?php

                            } else {
                                echo '<td class="left level-title">'.$one['value'].'<td>';
                            }
?>
<?php

?>
                            <td class="right-nopadding">
                                <div class="right-value">
<?php
                                    if( isset( $one['class'])){
                                          $one['class'] .= ' '.$all_class_field;
                                    }else{
                                          $one['class'] = $all_class_field;
                                    }

                                    $one['name'] = $key;

                                    if( !isset( $one['value'])){
                                         $one['value'] = $license->getField($key);
                                    }

                                    if( $one['type'] == 'title' ){

                                    }else{
                                        if( $one['type'] == 'date'){
                                            echo '<div class="relative_block">';
                                        }

                                        echo Elements::fromType( $one);

                                        if( $one['type'] == 'date' && $one['editable']){
                                            echo '<span class="date-icon"></span></div>';
                                        }
                                    }

?>
                                </div>
                            </td>
                        </tr>

<?php
        }  }
?>

                </table>
            </form>
        </div>
        <div class="content-block supplements" style="display:none"  data-heightdelta="-10">
            <input type="text" class="search-supplement-from-organization" placeholder="Поиск по номеру приложения или названию организации" style="width: 100%;margin-bottom: 5px;height: 26px;background: url(/img/lupa.png) #fff no-repeat 100% 50%;"/>
            <table class="intable license_supplement_table" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 4%;" class="sortable sort_asc" field-name="Number" >№</th>
                        <th class="sortable sort_both" field-name="EOName">Организация</th>
                        <th style="width: 11%;padding-left: 0;text-align: center;"  class="sortable sort_both" field-name="fk_eiisLicenseSupplementState" >Состояние</th>
                        <th style="width: 18%;" class="" field-name="">Распорядительный документ</th>
                        <th style="width: 6%;" class="" field-name="">Дело</th>
                    </tr>
                </thead>
                <tbody class="content">
                    <?php foreach ($supplements as $supplement) { ?>
                    <tr supplementId="<?= $supplement->getField("Id"); ?>">
                            <td style="width: 4%;"><?= $supplement->getField("Number"); ?></td>
                            <td ><?= $supplement->getField("EOName"); ?></td>
                            <td	style="width: 11%;padding-left: 0;text-align: center;">
                              <span class="supplementStatus <?= Elements::getColorClassFromStatus($supplement->getField("fk_eiisLicenseSupplementState")) ?>"><?= $supplement->getField("stateCode"); ?></span>
                            </td>
                            <td style="width: 18%;"><?= $supplement->getField("basisForLicensing"); ?></td>
                            <td style="width: 6%;"><?= $supplement->getField("dealNumber"); ?></td>
                        </tr>
                    <?php } ?>
                    <tr colspan="5" align="center" class="td_level" ><td>Записи не найдены</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
.licData {padding: 0 0 3px 10px;min-height: 26px;}
img.licData {min-height: 1px;}
a.licData, a.licData:hover {color: #01aaaf;display: block;width: 100%;}
a.licData {display: block;width: 100%;}
a.hiden {display:none;}
.content-block.license {overflow-y: auto;}
.document-unselected-row.licData {padding-left: 0;}
.document-unselected-row.licData .right {clear: left}
.fields-table td.left {width: 30%}
.fields-table td.right-nopadding {width: 70%;}
</style>

<script>
    countingRecords('.license_supplement_table tbody tr');

    $(document).ready(function(){
        console.log("document ready");
        jQuery('.dialog-certificate-info-container').parent().css('overflow', 'hidden');
        $(".dialog-certificate-info-container .content-container.container").height($(".dialog-certificate-info-container .content-container.container").height()-20);
        //Устанавливаем высоту блока с контентом        
        $(".content-block", ".dialog-certificate-info-container").height($(".dialog-license-info.ui-dialog-content").height()-40);
    });


</script>
<style>
.copy {position: absolute;right: 12px;top: 10px;}
.intable thead {width: calc(100% - 17px);}
</style>