<div class="route">
    <table class="route-table">
        <tr class="content_tr">
            <td class="steps_td  ">
                <div class="toggleButton "></div>
                <ul class="steps_div nav "> 
                    <?php $btLgBeeUse = false; ?>
                    <li
                        class="btn btn-warning <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                        controller="license"
                        event="new"
                    >
                                <a href="#new" 
                                   class="step_1 "
                                >
                                    <span>Новые заявления</span>
                                    <div></div>
                                    <span class="num <?=@$_COOKIE['menu']?>" step="new" ></span>
                                </a>
                    </li>
                    <li
                        class="btn btn-warning btnsent <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                        controller="license"
                        event="sended"
                    >
                                <a href="#sended" class="errors ">
                                    <span>Отправленные заявления</span>
                                    <div></div>
                                    <span class="num " step="sended">
                                        
                                    </span>
                                </a>
                    </li>
                    <li
                        class="btn btn-warning <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                        controller="license"
                        event="Reply"
                    >
                                <a href="#reply" class="step_7 ">
                                    <span>Заявления с выявленными нарушениями</span>
                                    <div></div>
                                    <span class="num " step="reply">
                                        
                                    </span>
                                </a>
                    </li>
                    <li
                        class="btn btn-warning <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                        controller="license"
                        event="Notify"
                    >
                                <a href="#notify" class="step_3 ">
                                    <span>Уведомления</span>
                                    <div></div>
                                    <span class="num " step="notify">
                                        
                                    </span>
                                </a>
                    </li>
                    <?php if(\Eo\Model\Export::isTestServer()){ ?>
                    <li
                        class="btn btn-warning <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                        controller="license"
                        event="excerpt/licenses/1"
                    >
                                <a href="#excerpt" class="step_4 ">
                                    <span>Выписки</span>
                                    <div></div>
                                    <span class="num " step="excerpt">
                                        
                                    </span>
                                </a>
                    </li>
                    <?php } ?>
                    <?php
                    /*
                    $btLgBeeUse = false;
                    foreach ($this->steps as $oneStep) {
                        $currentRightName = $oneStep->getField("Show");
                        if( $role->getFieldOrSpace($currentRightName) == '1'){

                        ?>
                            <li class="btn btn-warning 
                                <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php }?>"
                                controller="license"
                                event="<?=$oneStep->getField("Event")?>"
                            >
                                <a href="#<?=$oneStep->getField("Event")?>"
                                     class="<?=str_replace('/','_',$oneStep->getField("Event"))?> "
                                >
                                    <span><?=$oneStep->getField("Name")?></span>
                                    <div></div>
                                    <span class="num "
                                          step="<?=$oneStep->getField("Id")?>">
                                        <?=$oneStep->getCount();?>
                                    </span>
                                </a>
                            </li>
                        <?php
                        }
                        ?>
                    <?php
                    }
                    */
                    ?>
                    <?php if( \Eo\Model\Export::isTestServer() ){ ?>
                        <li
                            class="btn btn-warning <?php if(!$btLgBeeUse){ $btLgBeeUse=true; ?>btn-lg<?php } ?> "
                            controller="license"
                            event="all-deal"
                        >
                                    <a href="#all-deal" class="step_3 ">
                                        <span>Все дела</span>
                                        <div></div>
                                        <span class="num " step="all-deal">

                                        </span>
                                    </a>
                        </li>
                    <?php } ?>                    
                </ul>
            </td>
            <td class="content_td">
                <div class="content">

                </div>
            </td>
        </tr>
    </table>
</div>

<script>
    //bindIndexEvents();
    /*засуну еще сюда, на всякий случай
    * */
    $(document).ready(function(){
        $(".steps_td").on('click','.toggleButton',function(){
            $('body').toggleClass('icons');
            $('#head').toggleClass('icons');
            $('.route .steps_td').toggleClass('icons');
            $('.steps_td .nav li').toggleClass('icons');
            $('.steps_td .nav li a').toggleClass('icons');
            $('.steps_td .nav li a span.num').toggleClass('icons');
            $(this).toggleClass('icons');
            if($(this).hasClass('icons')){
                setCookie('menu','icons');
            }else{
                setCookie('menu','');
            }
        });
    })
</script>

<style>
    .route .steps_td .steps_div {
        margin-top: 76px; 
    }
    .route .steps_td.icons{
        width: 76px;
    }
   #content .steps_td .nav li:nth-child(3) a{
     padding-right: 25px;
     height: 58px;
     }
   #content .steps_td .nav li:nth-child(3) {height: 58px;}
</style>
