<?php
/*
 * url:      /eo/license/new-page
 * filepath: /module/Eo/view/eo/license/new-page.phtml
 */
?>
<div>
    <div class="viewzone" data-heightdelta="-80" style="overflow-y: hidden;">
        <table class="intable license_table license-table-content">
            <thead>
                <tr>
                    <th style="width: 150px;" class="sortable sort_both" field-name="LicenseRegNum" >Дата заполнения</th>
                    <th style="width: 30%;" class="sortable sort_desc" field-name="DateLicDoc">Тип процедуры </th>
                    <th class="sortable sort_both" field-name="NumLicDoc">Причина обращения</th>
                </tr>
            </thead>
            <tbody class="content">
                <?php
                    if( empty($requestsAll) ){
                ?>
                    <tr colspan="3" align="center" ><td class="td_level">Записи не найдены</td></tr>
                <?php
                    }
                    else{
                        $isFirst = true;
                        foreach ($requestsAll as $requestsKey => $requestsOne){
                            $creationDate = $requestsOne->getDate('fillingDate');
                            $procedureTypeType =  $requestsOne->getLicensingProcedureName();
                            $licenseReasonsList =  $requestsOne->getLicenseReasonsList();
                ?>
                    <tr 
                        requetsId="<?php echo $requestsOne->getId();?>"
                        <?php echo $isFirst?'class="select"':''; ?>
                    >
                        <td style="width: 150px;" ><?php echo $creationDate;?></td>
                        <td style="width: 30%;" ><?php echo $procedureTypeType;?></td>
                        <td                     ><?php echo $licenseReasonsList;?></td>
                    </tr>
                <?php
                        $isFirst = false;
                        }
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( $pagesCount, $currentPage );
        ?>
    </div>

    <span id="report-generate-count-span"><?php echo $requestsCount;?></span>

</div>



