<?php
/*
 * лицензирование - выявленые нарушения
 * url:      /eo/license/notify
 * filepath: /module/Eo/view/eo/license/notify.phtml
 */
?>

    <div id ="filter" class="license-filter">
        <table style="width: 100%">
            <tr>
                <td width="100">№ документа</td>
                <td style="padding-right: 10px;">
                            
                                    <input
                                        class="registrationNumber Search"
                                        value=""
                                        type="text"
                                        name="registrationNumber"
                                        onkeypress=""
					style="width: 100%"
                                    >
                            
                </td>
                <td width="100">Тип документа</td>
                <td style="padding-right: 10px;">
                                <select class="sState  documentTypeCatalog" style="width: 100%;" onchange="">
                                    <option value="" selected="selected" >Не выбрано</option>
                                    <?php
                                        if( !empty($documentTypeCatalogAll) ){
                                            foreach ( $documentTypeCatalogAll as $licenseProcedureKey => $licenseProcedureOne ) {
                                                ?>
                                                <option value="<?php echo $licenseProcedureOne->getId(); ?>"  ><?php echo $licenseProcedureOne->getFieldHtml('title'); ?></option>
                                                <?php
                                            }
                                        }
                                    ?>
                                </select>                                
                            </td>
                <td width="100" style="padding: 0 0 0 5px;">
                  <span class="bt btApply" style="margin-right: 0;">Применить</span>
                </td>                
            </tr>
        </table>
    </div>

    <div class="viewzone" data-heightdelta="0" style="overflow-y: hidden;">

        <table class="intable license_table license-table-content">
            <thead>
                <tr>
                    <th style="width: 26%;" class="sortable sort_both" field-name="DocumentTypeCatalogItem.title"  >Тип документа</th>
                    <th style="width: 19%;" class="sortable sort_both" field-name="CatalogItem.title"              >Причина</th>
                    <th style="width: 10%;"  class="sortable sort_desc" field-name="registrationNumber"             >Рег №</th>
                    <th style="width: 9%;"  class="sortable sort_both" field-name="registrationDate"               >Дата регистрации</th>
                    <th style="width: 9%"   class="sortable sort_both" field-name="sendDate"                       >Дата отправки</th>
                    <th style="width: 6%"   class="sortable sort_both" field-name="Deal.number"                    >№ дела</th>
                    <th style="width: 10%"  class="sortable sort_both" field-name="catalog_deal.russian_name"      >Статус дела </th>
                    <?php /*
                    <th style="width: 11%;"              class=""                   field-name=""                               >Файл</th>
                    */ ?>
                </tr>
            </thead>
            <tbody class="content">
                <?php
                    if( true ){
                ?>
                    <!--<tr><td colspan="3" ><div class='loading-img'><img src='/img/loading.gif' /></div></td></tr>-->
                    <tr colspan="3" align="center" class="td_level" ><td>нет данных</td></tr>
                <?php
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( 1, 1 );
        ?>
    </div>


    <div class="button-block">
        <!-- <div class="bt custom-button" onclick="" ></div> -->
    </div>
    <div style="float:left;margin-top: 24px;">Найдено записей: <span id="report-generate-count-span">0</span> </div>

<style>div.content {height: auto!important}</style>

<script src="/js/eo/license/notify.js"> </script>



<style>
.route .route-table .license-filter td {
  vertical-align: middle;
  }
.intable.license_table.license-table-content td a {
  display: inline-block;
  word-break: break-all;
   }
</style>