<?php
/*
 * url:      /eo/license/notify-page
 * filepath: /module/Eo/view/eo/license/notify-page.phtml
 * 
 */
?>

<div>
    <div class="viewzone" data-heightdelta="-80" style="overflow-y: hidden;">
        <table class="intable license_table license-table-content">
            <?php /*
            <thead>
                <tr>
                    <th style="width: 80px;" class="sortable sort_both" field-name="LicenseRegNum" >Дата заполнения</th>
                    <th style="width: 80px;" class="sortable sort_both" field-name="number" >№ заявления</th>
                    <th style="width: 20%;"  class="sortable sort_desc" field-name="DateLicDoc">Тип процедуры </th>
                    <th			     class="sortable sort_both" field-name="NumLicDoc">Причина обращения</th>
                    <th style="width: 80px"  class="sortable sort_both" field-name="DateSubmission">Дата отправки</th>
                    <th style="width: 70px"  class="sortable sort_both" field-name="Deal.number">№ дела</th>
                    <th style="width: 120px" class="sortable sort_both" field-name="DateSubmission">Статус дела</th>
                </tr>
            </thead>
            */ ?>
            <tbody class="content">
                <?php
                    if( empty($requestsAll) ){
                ?>
                    <tr class="level" colspan="8" align="center" ><td>Записи не найдены</td></tr>
                <?php
                    }
                    else{
                        $isFirst = true;
                        foreach ($requestsAll as $requestsKey => $requestsOne){
                            $fileClass = $requestsOne->getFileScanCopy();
                            $fileName = '';
                            $fileLink = '';
                            if( !empty($fileClass) ){
                                $fileName = $fileClass->getFileName();
                                $fileLink = $fileClass->getUrl();
                            }
                ?>
                    <tr 
                        requetsId="<?php echo $requestsOne->getId();?>"
                        <?php echo $isFirst?'class=""':''; ?>
                    >
                        <td style="width: 26%;" >
                            <?php if( empty($fileLink) ){ ?>
                                <?php echo $requestsOne->getFieldHtml('DocumentTypeCatalogItem.title'); ?>
                            <?php }else{ ?>
                                <a 
                                    href="<?php echo $fileLink; ?>" 
                                    target="_blank" 
                                    download="<?php echo $fileName; ?>"                                
                                ><?php echo $requestsOne->getFieldHtml('DocumentTypeCatalogItem.title'); ?></a>
                            <?php } ?>                            
                        </td>
                        <td style="width: 19%;" ><?php echo $requestsOne->getFieldHtml('CatalogItem.title'); ?></td>
                        <td style="width: 10%;"  ><?php echo $requestsOne->getFieldHtml('registrationNumber'); ?></td>
                        <td style="width: 9%;" ><?php echo $requestsOne->getDate('registrationDate'); ?></td>
                        <td style="width: 9%"  ><?php echo $requestsOne->getDate('sendDate'); ?></td>
                        <td style="width: 6%"  ><?php echo $requestsOne->getFieldHtml('Deal.number'); ?></td>
                        <td style="width: 10%" ><?php echo $requestsOne->getFieldHtml('catalog_deal.russian_name'); ?></td>
                        <?php /*
                        <td style="width: 11%;" >
                            <a 
                                href="<?php echo $fileLink; ?>" 
                                target="_blank" 
                                download="<?php echo $fileName; ?>"
                            ><?php echo $fileName; ?></a>                            
                        </td> 
                        */ ?>
                    </tr>
                <?php
                            $isFirst = false;
                        }
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( $pagesCount, $currentPage );
        ?>
    </div>
    <span id="report-generate-count-span"><?php echo $requestsCount;?></span>
</div>



