<?php
/*
 * лицензирование - выявленые нарушения
 * url:      /eo/license/reply
 * filepath: /module/Eo/view/eo/license/reply.phtml
 */
?>

    <div id ="filter" class="license-filter">
        <table style="width: 100%">
	<tr>
                <td colspan="2" style="padding: 0;">
                    <table width="100%">
                        <tr>
                            <td style="text-align: right; padding: 5px 5px 5px 0;width: 120px">Дата заполнения от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                        class="date-field dtDateStart SearchDate fillingDateBegin"
                                        value=""
                                        type="text"
                                        name="dateIssueBegin"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="date-field dtDateEnd SearchDate fillingDateEnd"
                                        type="text"
                                        value=""
                                        name="dateIssueEnd"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            
                            <td style="text-align: right;padding: 5px 5px 5px 0;width: 120px">Дата отправки от</td>
                            <td style="padding: 0;">
                                <div class="relative_block relative_block ">
                                    <input
                                        class="date-field dtDateStart SearchDate SubmissionDateBegin"
                                        value=""
                                        type="text"
                                        name="dateSubmissionBegin"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
                            <td style="text-align: center;padding: 5px;width: 30px">до</td>
                            <td style="padding: 0;">
                                <div class="relative_block">
                                    <input
                                        class="date-field dtDateEnd SearchDate SubmissionDateEnd"
                                        type="text"
                                        value=""
                                        name="dateSubmissionEnd"
                                    >
                                    <span class="date-icon"></span>
                                </div>
                            </td>
			    <td width="100" style="padding: 0 0 0 5px;">
                              <span class="bt btApply" style="margin-right: 0;">Применить</span>
                            </td>
                            
                        </tr>
                    </table>
                </td>
                </tr>
            <tr>
                <td style="padding-left: 0;padding-right: 5px;width: 50%;">
                    <select class="sState  licenseProcedure" style="width: 100%;" onchange="licenseProcedureChange(this)">
                        <option value="" selected="selected" >Все типы процедур</option>
                        <?php
                            if( !empty($licenseProcedureAll) ){
                                foreach ( $licenseProcedureAll as $licenseProcedureKey => $licenseProcedureOne ) {
                                    ?>
                                    <option value="<?php echo $licenseProcedureOne->getId(); ?>"  ><?php echo $licenseProcedureOne->getFieldHtml('title'); ?></option>
                                    <?php
                                }
                            }

                        ?>
                    </select>
                </td>
                <td style="padding-left: 5px;width: 50%;">
                    <select class="sState licenseReason license-reason" style="width: 100%;">
                        <option value="" selected="selected" >Все причины обращения</option>
                        <?php
                            if( !empty($licenseReasonAll) ){
                                foreach ( $licenseReasonAll as $licenseReasonKey => $licenseReasonOne ) {
                                    ?>
                                    <option
                                        value="<?php echo $licenseReasonOne->getId(); ?>"
                                        licensingProcedureId=<?php echo  $licenseReasonOne->getFieldHtml('licensingProcedureId');?>
                                    >
                                        <?php echo $licenseReasonOne->getFieldHtml('title'); ?>
                                    </option>
                                    <?php
                                }
                            }
                        ?>
                    </select>
                </td>
	  </tr>
        </table>
    </div>
    <div class="viewzone" data-heightdelta="-27" style="overflow-y: hidden;">
        
        <table class="intable license_table license-table-content">
            <thead>
                <tr>
                    <th style="width: 80px;" class="sortable sort_both" field-name="LicenseRegNum" >Дата заполнения</th>
                    <th style="width: 80px;" class="sortable sort_both" field-name="number" >№ заявления</th>
                    <th style="width: 20%;"  class="sortable sort_desc" field-name="DateLicDoc">Тип процедуры </th>
                    <th style=""   class="sortable sort_both" field-name="NumLicDoc">Причина обращения</th>
                    <th style="width: 80px"  class="sortable sort_both" field-name="DateSubmission">Дата отправки</th>
                    <th style="width: 70px"  class="sortable sort_both" field-name="DateSubmission">№ дела</th>
                    <th style="width: 120px" class="sortable sort_both" field-name="DateSubmission">Статус дела </th>
                </tr>
            </thead>
            <tbody class="content">
                <?php
                    if( true ){
                ?>
                    <!--<tr><td colspan="3" ><div class='loading-img'><img src='/img/loading.gif' /></div></td></tr>-->                    
                    <tr colspan="3" align="center" class="td_level" ><td>нет данных</td></tr>

                    
                <?php
                    }                                                             
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( 1, 1 );
        ?>
    </div>


    <div class="button-block">
        <div class="bt custom-button" onclick="newRequestOpenAction(this)" >Открыть</div>
    </div>
    <div style="float:left;margin-top: 24px;">Найдено записей: <span id="report-generate-count-span">0</span> </div>

<style>div.content {height: auto!important}</style>

<script src="/js/eo/license/new.js"> </script>
<script src="/js/eo/license/reply.js"> </script>

 



