<?php
/*
 * url:      /eo/license/sended-page
 * filepath: /module/Eo/view/eo/license/sended-page.phtml
 * 
 */
?>

<div>
    <div class="viewzone" data-heightdelta="-80" style="overflow-y: hidden;">
        <table class="intable license_table license-table-content">
            <?php /*
            <thead>
                <tr>
                    <th style="width: 80px;" class="sortable sort_both" field-name="LicenseRegNum" >Дата заполнения</th>
                    <th style="width: 80px;" class="sortable sort_both" field-name="number" >№ заявления</th>
                    <th style="width: 20%;"  class="sortable sort_desc" field-name="DateLicDoc">Тип процедуры </th>
                    <th			     class="sortable sort_both" field-name="NumLicDoc">Причина обращения</th>
                    <th style="width: 80px"  class="sortable sort_both" field-name="DateSubmission">Дата отправки</th>
                    <th style="width: 70px"  class="sortable sort_both" field-name="Deal.number">№ дела</th>
                    <th style="width: 120px" class="sortable sort_both" field-name="DateSubmission">Статус дела</th>
                </tr>
            </thead>
            */ ?>
            <tbody class="content">
                <?php
                    if( empty($requestsAll) ){
                ?>
                    <tr colspan="7" align="center" class="level" ><td>Записи не найдены</td></tr>
                <?php
                    }
                    else{
                        $isFirst = true;
                        foreach ($requestsAll as $requestsKey => $requestsOne){
                            $creationDate       = $requestsOne->getDate('fillingDate');
                            $procedureTypeType  = $requestsOne->getFieldHtml('LicensingProcedure.title');
                            $licenseReasonsList = $requestsOne->getFieldHtml('LicenseReasonCatalogItem.title');;
                            $number             = $requestsOne->getFieldHtml('number'); 
                            $dateSubmission     = $requestsOne->getDate('DateSubmission');
                            $dealNum            = $requestsOne->getFieldHtml('Deal.number');
                            $dealStatusName     = $requestsOne->getFieldHtml('catalog_deal.russian_name');
                ?>
                    <tr 
                        requetsId="<?php echo $requestsOne->getId();?>"
                        <?php echo $isFirst?'class="select"':''; ?>
                    >
                        <td style="width: 80px;" ><?php echo $creationDate;?></td>
                        <td style="width: 80px;" ><?php echo $number;?></td>
                        <td style="width: 20%;"  ><?php echo $procedureTypeType;?></td>
                        <td                      ><?php echo $licenseReasonsList;?></td>
                        <td style="width: 80px"  ><?php echo $dateSubmission;?></td>
                        <td style="width: 70px"  ><?php echo $dealNum;?></td>
                        <td style="width: 120px" ><?php echo $dealStatusName;?></td>
                    </tr>

                <?php
                            $isFirst = false;
                        }
                    }
                ?>
            </tbody>
        </table>
    </div>

    <div id="pagination">
        <?php
            //echo $this->pagesIslod($pagesCount, $currentPage);
            echo $this->pages( $pagesCount, $currentPage );
        ?>
    </div>

    <span id="report-generate-count-span"><?php echo $requestsCount;?></span>

</div>



