<?php

use \Eo\View\Render\Elements;

if(
  $supplement->getFieldOrSpace('lod_signStateCode') == 'VALID' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'RECEIVED_BY_APPLICANT' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'SEND_BY_MAIL' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'SENT_INTO_RON' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'NOT_VALID' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'SUSPENDED' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'SUSPENDED_BRANCHES' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'READY_TO_ISSUE' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'SIGNED' ||
  $supplement->getFieldOrSpace('lod_signStateCode') == 'ANNULLED'
){
    $rights['supplementEdit'] = false;
    $rights['supplementEdit'] = false;
    $rights['supplementEdit'] = false;
}

$ButtStrState="";
$ButtStrSign="";

if ( $Buttons ) {
    foreach ($Buttons as $key => $Button) {
        $access = false;
        $rightsName = $Button->getFieldOrSpace("FromGroup").'Button';

        if( isset($rights[ $rightsName ])){
            if( $rights[ $rightsName ] == '1'){
                 $access = true;
            }
        }

        $onClick = $Button->getFieldSafe('OnClick');
        if( !empty($onClick) ){
            $onClick = ' onClick ="'.$onClick.'" ';
        }

        if($Button->getField("TypeCode")=="stateCode"){
            $buttonPosition = 'right';
            if($Button->getFieldOrSpace("ButtonType")=='prev'){
                $buttonPosition = 'left';
            }
            if($access){
                $ButtStrState.=
                    "<a class='buttonReestr ".$buttonPosition."' "
                    . "data-id='" .$supplement->getField("Id") . "'"
                    . "data-element-type='Supplement'"
                    . "data-comment='" . $Button->getField("comm") . "'  "
                    . "data-next-status='" . $Button->getField("NextStatus") . "' "
                    . "data-type-code='" . $Button->getField("TypeCode") . "' "
                    . "data-message='" . $Button->getFieldHtml("Message") . "' "
                    . "button-id='" . $Button->getId() . "' "
                    . $onClick
                    . "'>"
                    . $Button->getField("Name")
                    . "</a>";
            }
        }else{
            $buttonPosition = 'right';
            if($Button->getFieldOrSpace("ButtonType")=='prev'){
                $buttonPosition = 'left';
            }
            if($access){
                $ButtStrSign.=
                    "<a class='buttonReestr ".$buttonPosition."' "
                    . "data-id='" . $supplement->getField("Id") . "'"
                    . "data-element-type='Supplement'"
                    . "data-comment='" . $Button->getField("comm") . "'  "
                    . "data-next-status='" . $Button->getField("NextStatus") . "' "
                    . "data-type-code='" . $Button->getField("TypeCode") . "' "
                    . "data-message='" . $Button->getFieldHtml("Message") . "' "
                    . "button-id='" . $Button->getId() . "' "
                    . $onClick
                    . "'>"
                    . $Button->getField("Name")
                    . "</a>";
                }
        }

    }
    }

//\Zend\Debug\Debug::dump($supplement->toArray());
?>
<div class="dialog-supplement-info-container" style="height: inherit; overflow: hidden;">
    <script>
        //jQuery().pare
    
    </script>
    <style>
        .supplement-info-dialog.ui-dialog-content.ui-widget-content{
                overflow: hidden;
        }
    </style>
    <div class="tabs-container">
        <div class="tab active" tab-container="basic-information">Основные сведения</div>
        <div class="tab" tab-container="education-programs">Образовательные программы</div>
        <div class="tab" tab-container="education-location-list">Список мест осуществления ОД</div>
    </div>

    <div class="hidden-supplement-data" >
        <input type="hidden" class="supplement-dialog-title" value="<?= $supplementTitle; ?>"/>
        <input type="hidden" class="current-supplement-dialog-id" value="<?= $supplement->getFieldOrSpace('Id') ?>"/>
    </div>

    <div class="content-container container" style="height: inherit;">
      <div class="content-block block-licenses" style="height: inherit;">
        <div class="tab-block basic-information" style="height: inherit;">

            <form id="supplementInfoForm">
                <input name="Id"  type="hidden" value="<?= $supplement->getFieldOrSpace('Id'); ?>" />
                <table class="fields-table">
                    <tr>
                        <td></td>
                        <td class="right-value" style="font-weight: bold;text-align: right">
                            <div class="is-duplicate"><?= ($supplement->getFieldOrSpace('Duplicate')=='1') ? 'Дубликат' : '' ?></div>
                        </td>
                    </tr>
		    <tr>
                            <td class="left level-title">Сведения о приложении</td>
			    <td class="right-nopadding">
                                <div class="right-value">
                                </div>
                            </td>
                        </tr>
                    <tr>
                        <td class="left-title">
                            Состояние
                        </td>
                        <td class="right-nopadding">
                            <?=
                                isset($supplementStatus[$supplement->getFieldOrSpace('fk_eiisLicenseSupplementState')]) ?
                                    $supplementStatus[$supplement->getFieldOrSpace('fk_eiisLicenseSupplementState')] : '';
                            ?>
                        </td>
                    </tr>
		    <tr class="document-unselected-row">
                        <td style="text-align: right;" colspan="5">
                            <?=$ButtStrState?></td></tr>
                    <tr>
                        <td class="left-title">
                            Статус оформления
                        </td>
                        <td class="right-nopadding">
                              <?=
                                isset($licensesSignStates[$supplement->getFieldOrSpace('lod_signStateCode')]) ?
                                    $licensesSignStates[$supplement->getFieldOrSpace('lod_signStateCode')] : '';
                            ?>
                        </td>
                    </tr><tr class="document-unselected-row">
                        <td colspan="5" style="text-align: right;">
                            <?=$ButtStrSign?>
                        </td>
                    </tr>
		    <tr>
                        <td class="left-title">
                            Номер приложения
                        </td>
                        <td class="right-nopadding">
                            <?=
                            Elements::fromType([
                                    'type' => 'text',
                                    'name' => 'Number',
                                    'editable' => $rights['supplementEdit'],
                                    'value' => $supplement->getFieldOrSpace('Number')
                                ]);
                            ?>
                        </td>
                    </tr>

                     <tr>
                        <td class="left-title">
                            Серия бланка
                        </td>
                        <td class="right-nopadding">
                            <?=
                            Elements::fromType([
                                    'type' => 'text',
                                    'name' => 'SerDoc',
                                    'editable' => $rights['supplementEdit'],
                                    'value' => $supplement->getFieldOrSpace('SerDoc')
                                ]);
                            ?>
                        </td>
                    </tr>
                     <tr>
                        <td class="left-title">
                            Номер бланка
                        </td>
                        <td class="right-nopadding">
                            <?=
                            Elements::fromType([
                                    'type' => 'text',
                                    'name' => 'NumDoc',
                                    'editable' => $rights['supplementEdit'],
                                    'value' => $supplement->getFieldOrSpace('NumDoc')
                                ]);
                            ?>
                        </td>
                    </tr>
		    <tr>
                        <td class="left-title">
                            Уполномоченное лицо
                        </td>
                        <td class="right-nopadding">
                             <?=
                                Elements::fromType([
                                    'type' => 'select+empty+reverse',
                                    'name' => 'lod_authorizedPersonId',
                                    'editable' => $rights['supplementEdit'],
                                    'options' => $personArr,
                                    'value' => $supplement->getFieldOrSpace('lod_authorizedPersonId')
                                ]);
                            ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-title">
                            Дата отправки по почте
                        </td>
                        <td class="right-nopadding">
			<div class="relative_block">
                            <?=
                                Elements::fromType([
                                    'type' => 'date',
                                    'name' => 'DateSendingMail',
                                    'editable' => $rights['supplementEdit'],
                                    'class' => 'hasDataPicker input-date-supplement',
                                    'value' => $supplement->getFieldOrSpace('DateSendingMail')
                                ]);
                            ?>
			    <!--span class="date-icon"></span-->
			    </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-title">
                            Дата вручения
                        </td>
                        <td class="right-nopadding">
			<div class="relative_block">
                        <?=
                                Elements::fromType([
                                    'type' => 'date',
                                    'name' => 'DateOnHands',
                                    'editable' => $rights['supplementEdit'],
                                    'class' => 'hasDataPicker input-date-supplement',
                                    'value' => $supplement->getFieldOrSpace('DateOnHands')
                                ]);
                            ?>
			    <!--span class="date-icon"></span-->
			    </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-title">
                            Лицензирующий орган
                        </td>
                        <td class="right-nopadding">
                            <?=
                               Elements::fromType([
                                   'editable' => $rights['supplementEdit'],
                                    'type' => 'select+empty+reverse',
                                    'name' => 'fk_eiisControlOrgan',
                                    'options' => $govermentOrganization,
                                    'value' => $supplement->getFieldOrSpace('fk_eiisControlOrgan')
                                ]);
                            ?>
                        </td>
                    </tr>
		    <tr>
                            <td class="left level-title">Сведения об организации</td>
			    <td class="right-nopadding">
                                <div class="right-value">
                                </div>
                            </td>
                        </tr>
                    <tr>
                        <td class="left-title">
                            Образовательная организация
                        </td>
                        <td class="right-nopadding">
                            <div>
                                <?=
                            Elements::fromType([
                                    'type' => 'textarea',
                                    'name' => 'EOName',
                                    'editable' => $rights['supplementEdit'],
                                    'value' => $supplement->getFieldOrSpace('EOName')
                                ]);
                            ?>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="left-title">
                            Сокращенное наименование
                        </td>
                        <td class="right-nopadding">
                            <div>
                             <?=
                            Elements::fromType([
                                    'type' => 'text',
                                    'name' => 'EOShortName',
                                    'editable' => $rights['supplementEdit'],
                                    'value' => $supplement->getFieldOrSpace('EOShortName')
                                ]);
                            ?>
                            </div>
                        </td>
                    </tr>
		    <tr>
                            <td colspan="2" class="left level-title">Распорядительные документы</td>

                        </tr>
                    <tr>
                        <td class="left-title">
                            Рапорядительный документ о выдаче
                        </td>
                        <td class="right-nopadding">
                            <div>
                                <?= $adminDocument; ?>
				<?= ' <a href="'.$urlHandDoc['url'].'">'. ( !empty( $urlHandDoc['url']) ? ' <img src="/img/islod/file_expand.png" />' : '').'</a> '?>
                                <?= ( ( $deal) ? 'Дело №'.'<span  name="dealNumber" dealid="'.$deal->getField('id').'">'.$deal->getFieldOrSpace('number').'</span>' : '') ?>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-title">
                            Документ о прекращении действия
                        </td>
                        <td class="right-nopadding">
                            <div>
                                <?= $endDocument; ?>
				<?= ' <a href="'.$urlEndDoc['url'].'" >'.( !empty( $urlEndDoc['url']) ? ' <img src="/img/islod/file_expand.png" />' : '') . '</a> ' ?>
                                <?= ( ( $dealFromEndDoc) ? 'Дело №'.'<span  name="dealNumber" dealid="'.$dealFromEndDoc->getField('id').'">'.$dealFromEndDoc->getFieldOrSpace('number').'</span>' : '') ?>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left-title">
                            Прочие документы
                        </td>
                        <td class="right-nopadding">
                            <div>
                                <?= Elements::fromType([
                                    "type" => 'list+text',
                                    'editable' => $rights['supplementEdit'],
                                    "title" => "",
                                    "value" => $otherDocument,
                                ]) ?>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="left-title">
                           Скан копия
                        </td>
                        <td class="right-nopadding">
                            <div>
                                <table class="element-table">
                                    <tr class="element-table-row">
                                        <td class="element-table-cell">
                                            <?php
                                                $supplementScan = false;
                                                if(!empty($supplement)){
                                                    $supplementScan = $supplement->getScanFile();
                                                }
                                                echo Elements::fromType(array(
                                                    "type"      => 'link',
                                                    "editable"  => false,
                                                    "title"     => "",
                                                    'href'      => empty($supplementScan)?'':$supplementScan->getUrl(),
                                                    'download'  => empty($supplementScan)?'':$supplementScan->getFileName(),
                                                    'alt'       => 'Скачать макет лицензии',
                                                    'value'     => empty($supplementScan)?'':$supplementScan->getFileName(),
                                                    'inNew'     => true,
                                                    'class'     => 'supplement-scan-link '.((empty($supplementScan) || !$supplementScan->getUrl())?'hiden':''),
                                                ));
                                            ?>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <?php
                        // выведем ссылку подписанный документ
                        $host = $_SERVER['HTTP_HOST'];
                        if( 'f11' == substr($host, 0, 3) || $host =='85.192.47.3' ){
                    ?>




                            <tr>
                                <td class="left-title">
                                   Документ приложения
                                </td>
                                <td class="right-nopadding">
                                    <div>
                                                    <?php
                                                        $supplementDocument = false;
                                                        if(!empty($supplement)){
                                                            $supplementDocument = $supplement->getDocumentFile();
                                                        }
                                                        echo Elements::fromType(array(
                                                            "type"      => 'link',
                                                            "editable"  => false,
                                                            "title"     => "",
                                                            'href'      => empty($supplementDocument)?'':$supplementDocument->getUrl(),
                                                            'download'  => empty($supplementDocument)?'':$supplementDocument->getFileName(),
                                                            'alt'       => 'Скачать документ приложения',
                                                            'value'     => 'Скачать документ приложения',
                                                            'inNew'     => true,
                                                            'class'     => 'supplement-document-link '.((empty($supplementDocument) || !$supplementDocument->getUrl())?'hiden':''),
                                                        ));
                                                    ?>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="left-title">
                                   Подпись
                                </td>
                                <td class="right-nopadding">
                                    <div>
                                                    <?php
                                                        $supplementSign = false;
                                                        if(!empty($supplement)){
                                                            $supplementSign = $supplement->getSignFile();
                                                        }
                                                        echo Elements::fromType(array(
                                                            "type"      => 'link',
                                                            "editable"  => false,
                                                            "title"     => "",
                                                            'href'      => empty($supplementSign)?'':$supplementSign->getUrl(),
                                                            'download'  => empty($supplementSign)?'':$supplementSign->getFileName(),
                                                            'alt'       => 'Скачать Подпись',
                                                            'value'     => 'Скачать Подпись',
                                                            'inNew'     => true,
                                                            'class'     => 'supplement-sign-link '.((empty($supplementSign) || !$supplementSign->getUrl())?'hiden':''),
                                                        ));
                                                    ?>
                                    </div>
                                </td>
                            </tr>

                    <?php
                        }
                    ?>
                </table>
            </form>
        </div>
<!--        education-programs в нем идет проверка на пустоту, вставляя что либо сюда - меняйте js-->
        <div class="tab-block education-programs"></div>
        <div class="tab-block education-location-list"></div>
    </div>
  </div>
</div>
<style>
.dialog-supplement-info-container .intable tbody {}
</style>


<style>
.content-container.container {overflow-y: none;}
.content-block.block-licenses {
    overflow-y: auto;
    height: inherit;
}
</style>
<script>

//$(document).ready(function(){
        console.log("document ready");
        //$(".content-block.block-licenses").height($(".content-block.block-licenses").height()-10);
        //Устанавливаем высоту блока с контентом
        $(".content-block.block-licenses", ".dialog-supplement-info-container").height($(".supplement-info-dialog.ui-dialog-content").height()-50);

//    });
</script>

<style>
    a.hiden {display:none;}
    @media only screen and (max-width: 1380px) {
      .left.left-education-programs-level-menu {height: 331px;overflow-y: auto;}
    }
</style>

