/*region registrationForm */
#registration label{
    display: block;
}
#registration ul{
}
#registration input{
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #a6caf0;
}
/* endregion */
/*region loginForm */
#login label{
    display: block;
}
#login input{
    display: block;
    width: 300px;
    height: 30px;
    border: 1px solid #a6caf0;
}
/* endregion */
