<div class="equeue-container">
    <div class="header">
        <table class="filter">
            <tr>
                <td>Процедура</td>
                <td>
                    <select id="equeue_reason" class="form-control">
                        <?php foreach ($this->serviceReasons as $reason) { ?>
                            <option value="<?=$reason->getId()?>"><?=$reason->getName()?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
        </table>
        <div class="date"><?=$this->currentDate->format('d F Y')?></div>
        <div class="toolbar">
            <div class="pull-right">
                <input type="radio" id="equeue_day" name="equeue_mode" class="equeue_mode" checked="checked" />
                <label for="equeue_day">День</label>
                &nbsp;
                <input type="radio" id="equeue_week" name="equeue_mode" class="equeue_mode" />
                <label for="equeue_week">Неделя</label>
            </div>
            <button id="equeue_prev">&lt;&lt;</button>
            <button id="equeue_next">&gt;&gt;</button>
            <button id="equeue_today">Сегодня</button>
            <input type="radio" id="equeue_active" name="equeue_status" class="equeue_status" checked="checked" style="margin-left: 50px" />
            <label for="equeue_active">Активные</label>
            &nbsp;
            <input type="radio" id="equeue_inactive" name="equeue_status"class="equeue_status"  />
            <label for="equeue_inactive">Отмененные</label>
        </div>
        <table class="equeue-calendar equeue-day">
            <thead>
            <tr>
                <td width="5%">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </thead>
        </table>
        <table class="equeue-calendar equeue-week hidden">
            <thead>
            <tr>
                <td width="5%">&nbsp;</td>
                <?php foreach ($this->receptionDays as $day) { ?>
                    <td width="<?=(95/count($this->receptionDays))?>%"><?=ucfirst($day)?></td>
                <?php } ?>
            </tr>
            </thead>
        </table>
    </div>
    <div class="viewzone">
        <table class="equeue-calendar equeue-day" id="equeue-tbl-day">
            <thead>
            <tr>
                <td width="5%"></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <?php
            $t = clone $this->startReceptionTime;
            while ($t < $this->endReceptionTime) {
                ?>
                <tr>
                    <td><?=$t->format('H:i')?></td>
                    <td data-column="1"></td>
                </tr>
                <?php
                $t->modify('+' . $this->baseReceptionTime . ' minutes');
            }
            ?>
            </tbody>
        </table>
        <table class="equeue-calendar equeue-week hidden" id="equeue-tbl-week">
            <thead>
            <tr>
                <td width="5%"></td>
                <?php foreach ($this->receptionDays as $day) { ?>
                    <td width="<?=(95/count($this->receptionDays))?>%"></td>
                <?php } ?>
            </tr>
            </thead>
            <tbody>
            <?php
            $t = clone $this->startReceptionTime;
            while ($t < $this->endReceptionTime) {
                ?>
                <tr>
                    <td><?=$t->format('H:i')?></td>
                    <?php for ($i = 0; $i < count($this->receptionDays); $i++) { ?>
                        <td data-column="<?=($i+1)?>"></td>
                    <?php } ?>
                </tr>
                <?php
                $t->modify('+' . $this->baseReceptionTime . ' minutes');
            }
            ?>
            </tbody>
        </table>
    </div>
    <!--div class="footer">
        <a href="#" class="equeue-print">Печать расписания</a>
    </div-->
</div>
<script>
    $(document).ready(function() {
        $('.viewzone').height($(window).height() - $('.viewzone').offset().top - 20);
        $(window).resize(function() {
            $('.viewzone').height($(window).height() - $('.viewzone').offset().top - 20);
        });
    });
    var dateToStr = function(date) {
        return date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2);
    };
    var dateToPretty = function(date) {
        var monthes = ['января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'];
        return date.getDate() + ' ' + monthes[date.getMonth()] + ' ' + date.getFullYear();
    };
    var startDate = new Date(<?=$this->currentDate->format('Y, n-1, j')?>);
    var currentDayDate = new Date(<?=$this->currentDate->format('Y, n-1, j')?>);
    var currentWeekDate = new Date(<?=$this->currentDate->format('Y, n-1, j')?>);
    var allowedDays = [<?=implode(',', $this->receptionDaysJs)?>];
    var getStartDay = function(date, reverse) {
        if (allowedDays.length) {
            var result = new Date(date.getTime());
            while (allowedDays.indexOf(result.getDay()) == -1) {
                result.setDate(result.getDate() + (reverse ? -1 : 1));
            }
            return result;
        } else return date;
    };
    var getStartWeek = function(date, reverse) {
        if (allowedDays.length) {
            var result = new Date(date.getTime());
            if (allowedDays.indexOf(result.getDay()) != -1) {
                result.setDate(result.getDate() - (result.getDay() - allowedDays[0]));
                return result;
            } else {
                while (allowedDays.indexOf(result.getDay()) == -1) {
                    result.setDate(result.getDate() + (reverse ? -1 : 1));
                }
                return result;
            }
        } else return date;
    };
    var rebuildRequested = false;
    var rebuildTable = function(data, table) {
        var step = data.step;
        var tmp = data.start.split(':');
        var start = new Date(0, 0, 0, tmp[0], tmp[1], 0);
        tmp = data.end.split(':');
        var end = new Date(0, 0, 0, tmp[0], tmp[1], 0);
        var tbody = table.find('TBODY');
        var columnsCount = tbody.find('TR').first().find('TD').length - 1;
        tbody.empty();
        while (start.getTime() < end.getTime()) {
            var h = start.getHours();
            if (h < 10) h = '0' + h;
            var m = start.getMinutes();
            if (m < 10) m = '0' + m;
            var tr = '<tr><td>' + h + ':' + m + '</td>';
            for (var i = 0; i < columnsCount; i++) {
                tr = tr + '<td data-column="' + (i + 1) + '"></td>';
            }
            tr = tr + '</tr>';
            tbody.append(tr);
            start.setMinutes(start.getMinutes() + step);
        }
    };
    var loadCalendar = function(reasonId, date, table, column) {
        //console.log('Load', reasonId, date);
        $.ajax({
            url: '/equeue/manage/entries/calendar',
            data: {
                reasonId: reasonId,
                date: date,
                cancelled: $('#equeue_inactive').is(':checked')
            },
            dataType: 'json',
            success: function(data) {
                if (data.success) {
                    //console.log('response', data);
                    if (rebuildRequested) {
                        rebuildTable(data, table);
                        rebuildRequested = false;
                    }
                    //reset column
                    table.find('TBODY TR').each(function () {
                        $(this).find('TD[data-column="' + column + '"]').remove();
                        $(this).append('<td data-column="' + column + '"></td>');
                        var els = $(this).find('TD');
                        els.sort(function (a, b) {
                            var va = $(a).attr('data-column');
                            var vb = $(b).attr('data-column');
                            if (va > vb) return 1;
                            else if (va < vb) return -1;
                            return 0;
                        });
                        $(this).append(els);
                    });
                    for (var i = 0; i < data.events.length; i++) {
                        var e = data.events[i];
                        var s = 0;
                        table.find('TBODY TR').each(function () {
                            if (s > 0) {
                                $(this).find('TD[data-column="' + column + '"]').remove();
                                s = s - 1;
                            } else {
                                var time = $(this).find('TD').first().text();
                                if (time == e.startTime) {
                                    var currentText = $(this).find('TD[data-column="' + column + '"]').text();
                                    if (currentText != '') {
                                        $(this).find('TD[data-column="' + column + '"]').append('<br/><br/>');
                                    }

                                    var text = e.name;
                                    if (e.status == 'cancelled') {
                                        text = '<strong>' + e.startTime + '-' + e.endTime + '</strong> ';
                                        if (e.wasConfirmed) {
                                            text += '<i>Запись подтверждена</i> ';
                                        } else {
                                            text += '<i>Запись не подтверждена</i> ';
                                        }
                                        text += e.name + '<br/>' + e.human;
                                    }

                                    $(this).find('TD[data-column="' + column + '"]')
                                        .append(text)
                                        .attr('rowspan', e.status == 'cancelled' ? 1 : e.span)
                                        .addClass('equeue-entry')
                                        .addClass(e.status)
                                        .attr('data-entry-id', e.id);
                                    if (e.reasonId == 'fb80f7c6613e458aaddf7dd0b1ca9b5d') {
                                        $(this).find('TD[data-column="' + column + '"]').addClass('delivery');
                                    }
                                    if (e.status != 'cancelled') s = e.span - 1;
                                }
                            }
                        });
                    }
                }
            }
        });
    };
    var loadDay = function(date) {
        loadCalendar($('#equeue_reason').val(), dateToStr(date), $('#equeue-tbl-day'), 1);
        $('.equeue-container .header .date').text(dateToPretty(date));
    };
    var loadWeek = function (date) {
        var startWeek = getStartWeek(date, true);
        var dWeek = new Date();
        for (var d = 0; d < allowedDays.length; d++) {
            dWeek.setFullYear(startWeek.getFullYear());
            dWeek.setMonth(startWeek.getMonth());
            dWeek.setDate(date.getDate() + allowedDays[d] - allowedDays[0]);
            loadCalendar($('#equeue_reason').val(), dateToStr(dWeek), $('#equeue-tbl-week'), d + 1);
        }
        $('.equeue-container .header .date').text(dateToPretty(date) + ' - ' + dateToPretty(dWeek));
    };
    $('#equeue_reason').change(function() {
        rebuildRequested = true;
        if ($('#equeue_day').is(':checked')) {
            loadDay(currentDayDate);
        } else {
            loadWeek(currentWeekDate);
        }
    });
    $('#equeue_prev').click(function() {
        if ($('#equeue_day').is(':checked')) {
            currentDayDate.setDate(currentDayDate.getDate() - 1);
            currentDayDate = getStartDay(currentDayDate, true);
            loadDay(currentDayDate);
        } else {
            currentWeekDate.setDate(currentWeekDate.getDate() - 7);
            loadWeek(currentWeekDate);
        }
    });
    $('#equeue_next').click(function() {
        if ($('#equeue_day').is(':checked')) {
            currentDayDate.setDate(currentDayDate.getDate() + 1);
            currentDayDate = getStartDay(currentDayDate);
            loadDay(currentDayDate);
        } else {
            currentWeekDate.setDate(currentWeekDate.getDate() + 7);
            loadWeek(currentWeekDate);
        }
    });
    $('#equeue_today').click(function() {
        if ($('#equeue_day').is(':checked')) {
            currentDayDate = new Date(startDate.getTime());
            currentDayDate = getStartDay(currentDayDate);
            loadDay(currentDayDate);
        } else {
            currentWeekDate = new Date(startDate.getTime());
            currentWeekDate = getStartWeek(currentWeekDate);
            loadWeek(currentWeekDate);
        }
    });
    $('#equeue_day').click(function() {
        $('.equeue-day').removeClass('hidden');
        $('.equeue-week').addClass('hidden');
        loadDay(currentDayDate);
    });
    $('#equeue_week').click(function() {
        $('.equeue-week').removeClass('hidden');
        $('.equeue-day').addClass('hidden');
        loadWeek(currentWeekDate);
    });
    $('.equeue_status').click(function() {
        $('.equeue_mode:checked').trigger('click');
    });
    $('#equeue-tbl-day, #equeue-tbl-week').on('click', 'TD', function() {
        if ($(this).attr('data-entry-id') && !$(this).hasClass('cancelled')) {
            var entryId = $(this).attr('data-entry-id');
            var name = $(this).text();
            $.ajax({
                url: '/equeue/manage/entries/calendarForm',
                data: {
                    entryId: entryId
                },
                dataType: 'html',
                success: function(data) {
                    $(data).dialog({
                        modal: true,
                        title: name,
                        width: 1000,
                        height: 720,
                        resizable: false,
                        create: function() {
                            var dialog = $(this);
                            var reasonsRow;
                            dialog.find('#serviceReasonSelect').change(function() {
                                var value = $(this).val();
                                var code = $(this).find('OPTION[value="' + value + '"]').attr('data-code');
                                $('#serviceReasonRow').after(reasonsRow);
                                var cont = dialog.find('#appealReasonsContainer');
                                cont.find('DIV').addClass('hidden')
                                    .find('INPUT').attr('disabled', 'disabled');
                                cont.find('DIV[data-reason="' + code + '"]').removeClass('hidden')
                                    .find('INPUT').removeAttr('disabled');
                                if (cont.find('DIV').length == cont.find('DIV.hidden').length) {
                                    reasonsRow = $('#appealReasonsRow').detach();
                                }
                            }).trigger('change');
                        },
                        buttons: [{
                            text: 'Платежное уведомление',
                            click: function() {
                                window.open("/equeue/payment-notification/" + entryId,'_blank');
                            }
                        },{
                            text: 'Сохранить',
                            click: function() {
                                var dialog = $(this);
                                dialog.find('FORM').ajaxSubmit({
                                    dataType: 'json',
                                    url: '/equeue/manage/entries/applyCalendarForm',
                                    success: function(response, status, xhr, form) {
                                        if (response.success) {
                                            var entry = $('.equeue-entry[data-entry-id="' + response.entryId + '"')
                                            entry.removeClass('confirmed appeared notappeared');
                                            entry.addClass(response.status);
                                        }
                                        dialog.dialog('close');
                                    }
                                });
                            }
                        }, {
                            text: 'Закрыть',
                            click: function() {
                                $(this).dialog('close');
                            }
                        }]
                    });
                }
            });
        }
    });
    currentDayDate = getStartDay(currentDayDate);
    currentWeekDate = getStartWeek(currentWeekDate);
    loadDay(currentDayDate);
</script>