<div class="equeue-form">
    <form action="/ron/equeue/applyCalendarForm" method="POST">
        <input type="hidden" name="id" value="<?=$this->entry->getId()?>" />
        <table>
            <tr>
                <td>Полное наименование организации</td>
                <td><?=$this->entry->getOrganizationName()?></td>
            </tr>
            <tr>
                <td>ИНН</td>
                <td><?=$this->entry->getOrganizationInn()?></td>
            </tr>
            <tr>
                <td>Тип услуги</td>
                <td><?=$this->entryReason->getServiceType()?></td>
            </tr>
            <tr>
                <td>Тип обращения</td>
                <td><?=$this->entryReason->getName()?></td>
            </tr>
            <tr id="serviceReasonRow">
                <td>Основание услуги</td>
                <td>
                    <select id="serviceReasonSelect" name="serviceReason" style="padding:0;height:26px">
                        <?php foreach($this->serviceReasons as $reason) {
                            $selectedAttr = ($reason->getId() == $this->currentServiceReason ? ' selected="selected"' : '');
                            ?>
                            <option value="<?=$reason->getId()?>" data-code="<?=$reason->getCode()?>"<?=$selectedAttr?>><?=$reason->getName()?></option>
                            <?php
                        } ?>
                    </select>
                </td>
            </tr>
            <tr id="appealReasonsRow">
                <td>Причина обращения</td>
                <td id="appealReasonsContainer">
                    <?php
                    foreach ($this->reasons as $reason) {
                        $checked = in_array($reason->getId(), $this->selectedReasons);
                        $checkedAttr = ($checked ? ' checked="checked"' : '');
                        ?>
                        <div data-reason="<?=$reason->getServiceReasonCode()?>">
                            <input type="checkbox" name="appeal_reasons[]" id="r_<?=$reason->getId()?>" value="<?=$reason->getId()?>"<?=$checkedAttr?> />
                            <label for="r_<?=$reason->getId()?>"><?=$reason->getName()?></label>
                        </div>
                    <?php } ?>
                </td>
            </tr>
            <tr>
                <td>Запись на прием</td>
                <td>
                    <?php
                    $startTime = $this->entry->getStartReceptionTime();
                    $endTime = $this->entry->getEndReceptionTime();
                    echo $startTime->format('d.m.Y H:i') . '-' . $endTime->format('H:i');
                    ?>
                </td>
            </tr>
            <?php if($this->entry->getFilialAmount() != ''): ?>
                <tr>
                    <td>Количество филиалов</td>
                    <td><?=$this->entry->getFilialAmount()?></td>
                </tr>
            <?php endif; ?>
            <?php if($this->entry->getNumberOfProgramCatalogId() != ''): ?>
                <tr>
                    <td>Количество программ</td>
                    <td>
                        <?php
                        foreach($this->programs as $p) {
                            if ($p->getId() == $this->entry->getNumberOfProgramCatalogId()) {
                                echo $p->getName();
                                break;
                            }
                        }
                        ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if($this->entry->getNumberOfDocumentsId() != ''): ?>
                <tr>
                    <td>Количество документов для сверки</td>
                    <td>
                        <?php
                        foreach($this->documents as $p) {
                            if ($p->getId() == $this->entry->getNumberOfDocumentsId()) {
                                echo $p->getName();
                                break;
                            }
                        }
                        ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if($this->entry->getIssueDocumentsAmountId() != ''): ?>
                <tr>
                    <td>Количество выдаваемых документов</td>
                    <td>
                        <?php
                        foreach($this->issueDocuments as $p) {
                            if ($p->getId() == $this->entry->getIssueDocumentsAmountId()) {
                                echo $p->getName();
                                break;
                            }
                        }
                        ?>
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td>Фамилия</td>
                <td><input type="text" name="lastName" value="<?=$this->entry->getLastName()?>" /></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td><input type="text" name="firstName" value="<?=$this->entry->getFirstName()?>" /></td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td><input type="text" name="middleName" value="<?=$this->entry->getMiddleName()?>" /></td>
            </tr>
            <tr>
                <td>Телефон</td>
                <td><input type="text" name="phoneNumber" value="<?=$this->entry->getPhoneNumber()?>" /></td>
            </tr>
            <tr>
                <td>Мобильный телефон</td>
                <td><input type="text" name="mobilePhoneNumber" value="<?=$this->entry->getMobilePhoneNumber()?>" /></td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td><input type="text" name="email" value="<?=$this->entry->getEMail()?>" /></td>
            </tr>
            <tr>
                <td>Статус записи</td>
                <td>
                    <select name="status" style="padding:0;height:26px">
                        <option value="cancelled"<?php if($this->entry->getStatus() == 'cancelled'):?> selected="selected"<?php endif; ?>>Отменена</option>
                        <option value="unapproved"<?php if($this->entry->getStatus() == 'unapproved'):?> selected="selected"<?php endif; ?>>Не подтверждена</option>
                        <option value="confirmed"<?php if($this->entry->getStatus() == 'confirmed'):?> selected="selected"<?php endif; ?>>Подтверждена</option>
                        <option value="appeared"<?php if($this->entry->getStatus() == 'appeared'):?> selected="selected"<?php endif; ?>>Явился</option>
                        <option value="notappeared"<?php if($this->entry->getStatus() == 'notappeared'):?> selected="selected"<?php endif; ?>>Не явился</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>