<?php

$currentDay = null;

foreach ($this->logs as $l) {
    $day = $l->getDoneAt()->format('Y-m-d');
    if ($currentDay != $day) {
        $currentDay = $day;
        ?>
        <h3><?=$day?></h3>
        <?php
    }
    ?>
    <div>
        <strong><?=$l->getDoneAt()->format('H:i:s')?></strong>
        <?=$l->getManager()?>
        <?php
        switch($l->getAction()) {
            case \Application\Entity\ElectronicQueueLog::ACTION_MANAGER_ADD:
                echo 'создал менеджера ' . $l->getPayload();
                break;
            case \Application\Entity\ElectronicQueueLog::ACTION_MANAGER_REMOVE:
                echo 'удалил менеджера ' . $l->getPayload();
                break;
            case \Application\Entity\ElectronicQueueLog::ACTION_MANAGER_REMOVE_ROOT_ATTEMPT:
                echo 'попытался удалить главного менеджера';
                break;
            case \Application\Entity\ElectronicQueueLog::ACTION_VACATION_ADD:
                $p = explode('::', $l->getPayload());
                $reason = $this->em->getRepository(\Application\Entity\ElectronicQueueReason::class)->find($p[3]);
                echo 'создал новые выходные #' . $p[0] . ': с ' . $p[1] . ' по ' . $p[2] . ' для "' . ($reason ? $reason->getName() : $p[3]) . '"';
                break;
            case \Application\Entity\ElectronicQueueLog::ACTION_VACATION_REMOVE:
                $p = explode('::', $l->getPayload());
                $reason = $this->em->getRepository(\Application\Entity\ElectronicQueueReason::class)->find($p[3]);
                echo 'удалил выходные #' . $p[0] . ': с ' . $p[1] . ' по ' . $p[2] . ' для "' . ($reason ? $reason->getName() : $p[3]) . '"';
                break;
        }
        ?>
    </div>
    <?php
}