<div class="col-md-4 col-md-offset-4" style="margin-top: 100px">
    <div class="panel panel-default">
        <div class="panel-heading">Авторизация</div>
        <div class="panel-body">
            <form method="POST" action="/equeue/manage/login">
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input class="form-control" type="text" id="login" name="login" placeholder="Логин" />
                </div>
                <div class="form-group">
                    <label for="login">Пароль</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Пароль" />
                </div>
                <div>
                    <input type="submit" value="Войти" />
                </div>
            </form>
        </div>
    </div>
</div>