<h3>Список менеджеров</h3>
<div class="current-vacations">
    <?php
    if (count($this->managers)) {
        foreach ($this->managers as $m) {
            ?>
            <div>
                <?=$m->getLogin()?>
                <?php if ($m->getId() != 1): ?>
                    :: <a href = "/equeue/manage/managers/remove/<?=$m->getId()?>" > Удалить</a>
                <?php endif; ?>
            </div>
            <?php
        }
    } else {
        ?>
        <div class="no-managers">Пока нет ни одного менеджера.</div>
        <?php
    }
    ?>
</div>
<h3>Добавить менеджера</h3>
<div class="col-md-4" style="padding-left: 0">
    <form class="new-manager" method="POST" action="/equeue/manage/managers/add">
        <div class="form-group">
            <label for="login">Логин</label>
            <input class="form-control" type="text" id="login" name="login" placeholder="Логин" />
        </div>
        <div class="form-group">
            <label for="login">Пароль</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Пароль" />
        </div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </form>
</div>