<h3>Календарь неприемных дней</h3>
<div class="current-vacations">
    <?php
    if (count($this->vacations)) {
        foreach ($this->vacations as $v) {
            $reason = null;
            foreach ($this->reasons as $r) {
                if ($r->getId() == $v->getReasonId()) {
                    $reason = $r;
                    break;
                }
            }
            ?>
            <div><?=$reason->getName()?>: <?=$v->getFrom()->format('Y-m-d')?> - <?=$v->getTo()->format('Y-m-d')?>  :: <a href="/equeue/manage/vacations/remove/<?=$v->getId()?>">Удалить</a></div>
            <?php
        }
    } else {
        ?>
        <div class="no-vacations">Пока не запланировано никаких выходных.</div>
        <?php
    }
    ?>
</div>
<h3>Добавить неприемный период</h3>
<form class="new-vacation" method="POST" action="/equeue/manage/vacations/add">
    <div>
        <label for="date_from">Дата начала</label><br/>
        <div class="input-group date col-sm-2 date-from">
            <input class="form-control" type="text" name="date_from" id="date_from" readonly="readonly" />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    <div>
        <label for="date_to">Дата завершения</label><br/>
        <div class="input-group date col-sm-2 date-to">
            <input class="form-control" type="text" name="date_to" id="date_to" readonly="readonly" />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
    </div>
    <div>
        <label for="reason_id">Очередь</label><br/>
        <select name="reason_id" id="reason_id">
            <?php
            foreach ($reasons as $r) {
                ?>
                <option value="<?=$r->getId()?>"><?=$r->getName()?></option>
                <?php
            }
            ?>
        </select>
    </div>
    <br/>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
<script type="text/javascript">
    $('.date').datepicker({
        language: 'ru',
        orientation: 'bottom',
        autoclose: true
    });
    $('.date-from').on('changeDate', function(e) {
        $('.date-to').datepicker('setStartDate', e.date);
    });
</script>