<div class="container">
    <table style="width: 100%">
        <tr>
            <td style="width:100px;padding: 10px">Филиал</td>
            <td style="padding: 10px 0px">
                <select id="affilates" style="width: 100%">
                    <?php
                    $count = 0;
                    $firstAff = null;
                    foreach($affilates as $affilate){
                        if(!$affilate->isValidLicenseSupplement())
                            continue;
                        ?>
                        <option value="<?=$affilate->getField("Id")?>"><?=$affilate->getField("FullName")?></option>
                        <?php
                        if($count == 0) $firstAff = $affilate;
                        $count++;
                    }
                    ?>
                </select>
            </td>
        </tr>
    </table>


    <div class="viewzone" data-heightdelta="-40">
        <?php if($count>0){ ?>

            <table>
                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Наименование
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="left"><div class="left-title">Полное наименование образовательной организации</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField('FullName')?></div></td>
                </tr>
                <tr>
                    <td class="left"><div class="left-title">Сокращенное наименование образовательной организации</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField('ShortName')?></div></td>
                </tr>
                <tr>
                    <td class="left"><div class="left-title">Вид организационно-правовой формы</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getOrgFormName()?></div></td>
                </tr>
                <tr>
                    <td class="left"><div class="left-title">Учредитель</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getFounderName() ?></div></td>
                </tr>

                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Место нахождения
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Страна</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getCountryName()?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Регион</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getRegionName()?></div></td>
                </tr>

<?php /* Мало ли что взбредет в голову, поэтому пока комментим, если что восстановим
                <tr>
                    <td class="left"><div class="left-title">Субъект РФ</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getFedOkrName()?></div></td>
                </tr>

*/?>
                <tr>
                    <td class="left"><div class="left-title">Город</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("TownName")?></div></td>
                </tr>

<?php /* Мало ли что взбредет в голову, поэтому пока комментим, если что восстановим
                <tr>
                    <td class="left"><div class="left-title">Улица</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("Street")?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дом/корпус/строение</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("House")?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Индекс</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("PostIndex")?></div></td>
                </tr>

*/?>
                <tr>
                    <td class="left"><div class="left-title">Место нахождения</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getAddressLaw()?></div></td>
                </tr>
                <?php
                $places = $firstAff->getEOPlacesLod();
                if($places){
                ?>
                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Адреса мест осуществления образовательной деятельности
                        </div>

                    </td>
                </tr>
                <?php
                $i = 1;
                foreach($places as $place){
                    ?>
                    <tr>
                        <td class="left"><div class="left-title">Адрес <?=$i++?></div></td>
                        <td class="right"><div class="right-value"><?=($place->isEmptyField('postcode')?'':($place->getField('postcode').', ')).$place->getField('address')?></div></td>
                    </tr>
                <?php } ?>
                <?php } ?>

                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Реквизиты организации
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">КПП</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("Kpp")?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дата постановки на налоговый учет</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getDate("taxAccountDate")?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Номер свидетельства о постановке на налоговый учет</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getField("taxAccountCertificateNumber")?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дата свидетельства о постановке на налоговый учет</div></td>
                    <td class="right"><div class="right-value"><?=$firstAff->getDate("taxAccountCertificateDate")?></div></td>
                </tr>

                <?php
                $orgData = $firstAff->getEducationalOrganizationData();
                if($orgData == false){
                    $orgData = array(
                        "Phones" => $firstAff->getField("Phones"),
                        "Faxes" => $firstAff->getField("Faxes"),
                        "Emails" => $firstAff->getField("Mails"),
                        "Site" => $firstAff->getField('Www'),
                        "ChiefSurname" => $firstAff->getField('ContactSecondName'),
                        "ChiefName" => $firstAff->getField('ContactFirstName'),
                        "ChiefPatronymic" => $firstAff->getField('ContactLastName'),
                        "ChiefPosition" => $firstAff->getField('ChargePosition'),
                        "ChiefPhones" => "",
                        "ChiefFax"  => "",
                        "ChiefEmail" => "",
                        "PubAccr" => array(
                            array(
                                'organization' => "",
                                'date' => ""
                            )
                        ),
                        "ProfPubAccr" => array(
                            array(
                                'organization' => "",
                                'date' => ""
                            )
                        ),
                        "IntPubAccr" => array(
                            array(
                                'organization' => "",
                                'date' => ""
                            )
                        ),
                        "fk_isgaEducationalOrganizationSpecific" => "0"
                    );
                } else {
                    $orgData = $orgData->getFields();
                }
                ?>

                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Контактные данные
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Телефон(ы)</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="Phones" value="<?=$orgData['Phones']?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Факс(ы)</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="Faxes" value="<?=$orgData['Faxes']?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">E-mail</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="Emails" value="<?=$orgData['Emails']?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Веб-сайт</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="Site" value="<?=$orgData['Site'] ?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Руководитель организации
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Фамилия</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefSurname" value="<?=$orgData['ChiefSurname'] ?>"/>
                        </div></td>
                </tr>
                <tr>
                    <td class="left"><div class="left-title">Имя</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefName" value="<?=$orgData['ChiefName'] ?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Отчество</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefPatronymic" value="<?=$orgData['ChiefPatronymic']?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Должность</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <?php
                            $chaifAll = new \Model\LodEntities\employeepost();
                            $chaifAll = $chaifAll->getAllByWhereParseId();
                            uasort(
                                $chaifAll,
                                function($aO, $bO){
                                    $aF = $aO->getFieldHtml('title');
                                    $bF = $bO->getFieldHtml('title');
                                    $aS = mb_strtolower($aF);
                                    $bS = mb_strtolower($bF);
                                    return strcmp($aS, $bS);
                                }
                            );
                            ?>
                            <select
                                        class="data-field"
                                        name="ChiefPosition"
                            >
                                <option value="" >Не указано</option>
                                <?php                                
                                foreach ($chaifAll as $chaifKey=>$chaifOne){
                                    ?>
                                    <option
                                        <?php /*value="<?php echo $chaifOne->getId();?>" */ ?>
                                        <?php echo
                                            ( $chaifOne->getId() == $orgData['ChiefPosition']
                                            || mb_strtolower($chaifOne->getField('title')) == mb_strtolower($orgData['ChiefPosition']) )
                                                ?'selected="selected"'
                                                :'';
                                        ?>
                                    >
                                            <?php echo $chaifOne->getFieldHtml('title');?>
                                    </option>
                                    <?php
                                }
                                ?>
                            </select>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Тел. руководителя</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefPhones" value="<?=$orgData['ChiefPhones'] ?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Факс руководителя</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefFax" value="<?=$orgData['ChiefFax'] ?>"/>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">E-mail руководителя</div></td>
                    <td class="right-nopadding"><div class="right-value">
                            <input type="text" class="data-field" name="ChiefEmail" value="<?=$orgData['ChiefEmail'] ?>"/>
                        </div></td>
                </tr>
            </table>
        <?php } ?>

    </div>
</div>