<div class="container">
    <div class="viewzone">
        <table style="width: 100%">
            <tr>
                <td colspan="2" style="width:100px;padding: 10px">
                    <div style="width:260px">Вид пошлины</div>
                </td>
                <td colspan="3" style="padding: 10px 0px">
                    <select id="paymentType" style="width: 100%">
                        <option value="1" >Выдача свидетельства о государственной аккредитации</option>
                        <option value="2" >Переоформление свидетельства о государственной аккредитации</option>
                        <option value="3" >Выдача временного свидетельства</option>
                        <option value="4" >Предоставление дубликата свидетельства</option>
                    </select>
                </td>
            </tr>            
            <tr class="baseSelectRow" style="display:none">
                <td colspan="2" style="width:100px;padding: 10px">
                    Основание
                </td>
                <td colspan="3" style="padding: 10px 0px">
                    <select id="baseType" style="width: 100%">
                        <option value="1" >
                        государственная аккредитация в отношении ранее не аккредитованных образовательных программ
                        </option>
                        <option value="2" >
                        реорганизация организации, осуществляющей образовательную деятельность, в форме преобразования
                        </option>
                        <option value="3" >
                        изменение места нахождения
                        </option>
                        <option value="4" >
                        изменение наименования
                        </option>
                        <option value="5" >
                        лишение государственной аккредитации в отношении отдельных уровней образования, укрупненных групп профессий, специальностей и направлений подготовки либо образовательных программ 
                        </option>
                        <option value="6" >
                        изменение кодов и наименований укрупненных групп профессий, специальностей и направлений подготовки профессионального образования 
                        </option>
                    </select>
                </td>
            </tr>
            <tr class="infoText">
                <td colspan="5">
                    <div>
                        Укажите уровень образования и аккредитируемые основные образовательные программы
                    </div>
                </td>
            </tr>
            <tbody class="calculator-options">
                <tr>
                    <td class="calc-td-1">
                        <div class="calc-td-div-1">
                            Уровень
                        </div>
                    </td>
                    <td class="calc-td-2">
                        <div class="calc-td-div-2">
                            <select class="selectEduProgramTypes">
                                <option value="7E6176CC-0E8B-40E5-806F-4DB3559DE9FC" >Начальное общее образование</option>
                                <option value="18737366-D87A-4D7B-9D09-54533BE6A265" >Основное общее образование</option>
                                <option value="5E30E928-A3B9-A62E-2D6B-53DCB80F8D2B" >Среднее общее образование</option>
                                <option value="A113E1BF-E7C0-1B4F-6698-CDD3446F8AAE" >Среднее профессиональное образование – программы подготовки квалифицированных рабочих, служащих</option>
                                <option value="FC8E716E-07E2-325E-3174-FD83E19590FF" >Среднее профессиональное образование – программы подготовки специалистов среднего звена</option>
                                <option value="C420030B-0B27-CE31-BAB4-CA5DDC09231E" selected>Высшее образование – бакалавриат</option>
                                <option value="DEEE7F04-1B7E-F674-C33F-DE54E4BF3FE8">Высшее образование – специалитет</option>
                                <option value="11B8054B-2D5F-1438-B505-F2D5BF9E860E">Высшее образование – магистратура</option>
                                <option value="6AD5D02F-3C03-CB68-7A54-2F39861347C3">Высшее образование – программы подготовки научно-педагогических кадров в аспирантуре </option>
                                <option value="682A57F0-8BDA-BC62-7B50-EB03E85797BD">Высшее образование – программы подготовки научно-педагогических кадров в адъюнктуре</option>
                                <option value="18A29655-FBF3-FE51-9AEC-02F7FA8DDD99">Высшее образование – программы ординатуры</option>
                            </select>
                        </div>  
                    </td>
                    <td class="calc-td-3">
                        <div class="calc-td-div-3">
                            ОП
                        </div>
                    </td>
                    <td class="calc-td-4">
                        <div class="calc-td-div-4">
                            <select class="selectEduPrograms">
                                <?php 
                                    foreach ($firstPrograms as $program) {
                                        ?>
                                        <option value="<?=$program->getField("Id") ?>" 
                                        data-Code="<?=$program->getField("Code") ?>" 
                                        data-Name="<?=$program->getField("Name") ?>" 
                                        data-ParentEGSId="<?=$program->getParentEGSId() ?>"
                                        ><?=$program->getField("Code") ?> <?=$program->getField("Name") ?>
                                        </option>
                                        <?php
                                    }
                                ?>
                            </select>
                        </div>
                    </td>
                    <td class="calc-td-5">
                        <div class="calc-td-div-5">
                            <div class="bt-add-line ui-state-default ui-corner-all ui-state-hover"  title="+">
                                <span class="ui-icon ui-icon-plusthick"></span>
                            </div>
                            <div class="bt-remove-line ui-state-default ui-corner-all" style="display:none" title="-">
                                <span class="ui-icon ui-icon-minusthick"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody class="calculator-info">
                <tr>
                    <td colspan="5">
                        <table class="info-table intable">
                            <tr>
                                <th>
                                    Уровень образования
                                </th>

                                <th>
                                    УГС
                                </th>

                                <th>
                                    Сумма гос. пошлины
                                </th>
                            </tr>
                            <tbody class="info-content">

                            </tbody>
                        </table>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>
</div>