<div class="container">
    <div class="viewzone calculator">
        <table style="width: 100%">
            <tr>
                <td class="left">
                    <div class="left-title">Тип заявления</div>
                </td>
                <td class="right-nopadding">
                    <div class="right-value">
                        <select class="appType" style="width: 100%">
                            <?php foreach($appTypes as $appType){ ?>
                                <option <?=
                                ($appType->getField("Id") == $firstTypeId)?"selected":""
                                ?> value="<?=$appType->getField("Id")?>"><?=$appType->getField("Name")?></option>
                            <?php } ?>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">
                    <div class="left-title">Основание заявления</div>
                </td>
                <td class="right-nopadding">
                    <div class="right-value reasons-block">
                        <?php foreach($appTypes as $appType){?>
                            <select id="reason_<?=$appType->getField("Id")?>"  style="width: 100%;<?=($appType->getField("Id") != $firstTypeId)?"display:none":""?>" class="appReasons" >
                                <?php foreach($appType->getReasons() as $appReason){ ?>
                                    <option value="<?=$appReason->getField("Id")?>"><?=$appReason->getField("Name")?></option>
                                <?php } ?>
                            </select>
                        <?php } ?>
                    </div>
                </td>
            </tr>
            <tr class="hide-block">
                <td class="left">
                    <div class="left-title">Организация (филиал)</div>
                </td>
                <td class="right-nopadding">
                    <div class="right-value">
                        <select id="shortName" style="width: 100%">
                            <?php foreach($eos as $eo){ ?>
                                <option value="<?=$eo->getField("Id")?>"><?=$eo->getField("RegularName")?></option>
                            <?php } ?>
                        </select>
                    </div>
                </td>
            </tr>
            <tbody class="hide-block">
                <tr>
                    <td colspan="2">
                        <div class="section-title">
                            Перечень аккредитуемых укрупненных групп специальностей
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <div class="left-title">
                            <input type="checkbox" class="cb-type" id="cb-midNum" />
                            <label for="cb-midNum">Укрупненных групп профессий и специальностей СПО</label>
                        </div>
                    </td>
                    <td class="right-nopadding">
                        <div class="right-value">
                            <input type="text" id="midNum" class="spinner" value="0"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <div class="left-title">
                            <input type="checkbox" class="cb-type" id="cb-highNum" />
                            <label for="cb-highNum">Укрупненных групп и направлений подготовки ВО</label>
                        </div>
                    </td>
                    <td class="right-nopadding">
                        <div class="right-value">
                            <input type="text" id="highNum" class="spinner" value="0"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="left">
                        <div class="left-title">
                            <input type="checkbox" class="cb-type" id="cb-lowNum" />
                            <label for="cb-lowNum">Основные образовательные программы начального общего, основного общего и среднего общего образования</label>
                        </div>
                    </td>
                    <!-- td class="right-nopadding">
                        <div class="right-value">

                        </div>
                    </td -->
                </tr>
            </tbody>
            <tr>
                <td colspan="2">
                    <div class="mid-row">
                        <div class="button btCount hide-block" style="margin-left: 0px;">Рассчитать</div>
                        <div style="display: inline-block; margin-right: 15px;">
                            ПРОМЕЖУТОЧНАЯ СУММА ГОСПОШЛИНЫ:
                            <span class="sum">0</span>
                            <span>руб</span></div>
                        <div style="float: right"><div class="button btSave">Сохранить</div>
                        <div class="button btClear hide-block">Очистить</div></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="intable">
                        <tr>
                            <th style="width:30px">№</th>
                            <th>Образовательное учреждение (филиал)</th>
                            <th colspan="2" style="width:150px">Промежуточная сумма</th>
                        </tr>
                        <tbody class="calculator-rows">
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>