<div class="container">
    <div class="viewzone">
        <?php if($certificates->count() > 0){ ?>
            <table>
                <tr>
                    <td style="width:100px;padding: 10px">Свидетельство</td>
                    <td style="padding: 10px 0px">
                        <select id="certificates" class="info-select" style="width: 100%">
                            <?php
                            $firstCert = null;
                            $certArray = $certificates->getObjectsArray();

                            usort($certArray, function($a_obj, $b_obj){
                                $a = strtotime($a_obj->getDate("DateIssue"));
                                $b = strtotime($b_obj->getDate("DateIssue"));
                                if ($a == $b) {
                                    return 0;
                                }
                                return ($a > $b) ? -1 : 1;
                            });
                            //Выводим в селект
                            foreach($certArray as $certificate){
                                ?>

                                <option value="<?=$certificate->getFieldHtml("Id")?>"> № <?=$certificate->getFieldhtml("RegNumber")." от ".$certificate->getDate("DateIssue")." - ".$certificate->getStatusName()?></option>
                                <?php
                                if($firstCert == null) $firstCert = $certificate;
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                <tbody class="certificate">
                    <tr>
                        <td class="left"><div class="left-title">Регистрационный номер</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getFieldHtml("RegNumber")?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Вид свидетельства</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getTypeName()?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getDate("DateIssue")?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Срок действия свидетельства</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getDate("DateEnd")?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Текущий статус свидетельства</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getStatusName()?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Серия, номер бланка</div></td>
                        <td class="right"><div class="right-value"><?=$firstCert->getFieldHtml("SerialNumber")." ".$firstCert->getFieldHtml("FormNumber")?></div></td>
                    </tr>
                    <tr>
                        <td class="left"><div class="left-title">Наименование органа, выдавшего свидетельство</div></td>
                        <td class="right"><div class="right-value">
                            <?php
                            $control = new Model\Entities\eiisControlOrgans($settings->getFieldHtml('fk_eiisControlOrgan'));
                            ?>
                            <?=$control->getFieldHtml('Name')?>
                        </div></td>
                    </tr>

                    <?php
                    $supplements = $firstCert->getSupplements();
                    if($supplements->count() > 0){ ?>
                        <tr>
                            <td colspan="2">

                                <div class="section-title">
                                    Приложение к свидетельству
                                </div>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="padding: 10px">
                            <span style="float: left;width: 170px;">Приложение</span>
                            <div style="overflow: hidden;">
                                <select id="certificate-supplements" class="info-select" style="width: 100%">
                                    <?php
                                    $firstSupp = null;
                                    $suppArray = $supplements->getObjectsArray();
                                    usort($suppArray, function($a_obj, $b_obj){
                                        $a = $a_obj->getField("Number");
                                        $b = $b_obj->getField("Number");
                                        if ($a == $b) {
                                            return 0;
                                        }
                                        return ($a < $b) ? -1 : 1;
                                    });
                                    //Выводим в селект
                                    $num = 1;
                                    foreach($suppArray as $supplement){
                                        $eo = $supplement->getEducationalOrganization();
                                        ?>

                                        <option value="<?=$supplement->getFieldHtml("Id")?>"><?="№ ".$num." ".(($eo != null)?$eo->getFieldHtml("FullName"):"")?></option>
                                        <?php
                                        $num++;
                                        if($firstSupp == null) $firstSupp = $supplement;
                                    }
                                    ?>
                                </select>
				</div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="supp-state" style="padding:10px">
                                <span style="width: 170px; float:left;">Статус</span>
                                <span><?=$firstSupp->getStatusName()?></span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <table class="intable">
                                    <tr>
                                        <th>Код УГС</th>
                                        <th>Наименование УГС</th>
                                        <th>Код ОП</th>
                                        <th>Наименование ОП</th>
                                        <th>Уровень образования</th>
                                    </tr>
                                    <tbody class="supplements intable_content">
                                    <?php
                                        // $programs = $firstSupp->getAccreditedPrograms()->getObjectsArray();
                                        //программы выбираем как и везде в модуле 
                                        //prostoy://comment/23269693
                                        $programsPrint = Eo\Controller\IndexController::certificatesSortByCodeAndLevel( $firstSupp );
                                        include 'get-print-certificate-table.phtml';
                                    ?>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
            </table>
        <?php } ?>
    </div>
</div>

<script>
    jQuery( document ).ready(function() {
        console.log( 'открытая = главняая - свидетельства - все загружено' );
    });    
</script>

