<link href="/css/eo/index/equeue.css" rel="stylesheet">
<?php
/*
 * Экспертная очередь
 * url:      /eo/#equeue
 * filepath: /module/Eo/view/eo/index/equeue.phtml
 */
?>

<div class="container">
    <div id ="filter">
        <table style="width: 100%">
        <tr>
            <td style="width: 170px;"><span class="text">Тип услуги</span></td>
            <td >
                <select name="queType" class="sState  licenseProcedure" style="width: 100%;">
                    <option  value="" selected="selected" >Все типы услуг</option>
                    <option  value="license" >Лицензирование</option>
                    <option  value="accreditation" >Аккредитация</option>
                </select>
            </td>

            <td style="width: 140px;"><span class="text">Тип обращения</span></td>
            <td >
                <select name="typeTreatment" class="sState  licenseProcedure" style="width: 100%;">
                    <option value="" selected="selected" >Все типы обращений</option>
                    <? foreach ($selectOption['arrTypeTreatment'] as $key => $value):?>
                        <option value="<?= $key;?>"><?= $value;?></option>
                    <? endforeach;?>
                </select>
            </td>
            <td style="width: 100px;" class="filter-btn">
                <span class="bt btApply" style="margin-right: 0;">Применить</span>
            </td>
        </tr>

        <tr >
            <td style="width: 170px;"><span class="text">Основание обращения</span></td>
            <td >
                <select name="basisTreatment" class="sState  licenseProcedure" style="width: 100%;">
                    <option value="" selected="selected" >Все типы услуг</option>
                    <? foreach ($selectOption['arrBasisTreatment'] as $key => $value):?>
                        <option value="<?=$key ?>"><?=$value?></option>
                    <? endforeach;?>
                </select>
            </td>

            <td style="width: 140px;"><span class="text">Причина обращения</span></td>
            <td >
                <select name="licenseReasonCatalogItem" class="sState  licenseProcedure" style="width: 100%;">
                    <option value="" selected="selected" >Все типы обращений</option>
                    <? foreach ($selectOption['arrlicenseReasonCatalogItem'] as $key => $value):?>
                        <option value="<?=$key?>"><?=$value?></option>
                    <? endforeach;?>
                </select>
            </td>
            <td style="width: 100px;" class="filter-btn">
                <span class="bt btApply btReset" style="margin-right: 0;">Сбросить</span>
            </td>
        </tr>
	</table>
    </div>
    <div class="viewzone" data-heightdelta="-65">
        <table class="intable license_table license-table-content">
            <thead>
            <tr>
                <th style="width: 4%;"   class="sortable sort_both" field-name="fieldNumber" >№</th>
                <th style="width: 6%;"   class="sortable sort_both" field-name="fieldDate" >Дата</th>
                <th style="width: 12%;"     class="sortable sort_desc" field-name="fieldTypeService">Тип услуги</th>
                <th style="width: 23%;"     class="sortable sort_desc" field-name="fieldTypeTreatment">Тип обращения</th>
                <th style="width: 23%;"     class="sortable sort_desc" field-name="fieldBasisTreatment">Основание обращения</th>
                <th style="width: 23%;"     class="sortable sort_desc" field-name="fieldReasonTreatment">Причина обращения</th>
                <th style="width: 9%;"     class="sortable sort_desc" field-name="fieldStatus">Статус</th>
            </tr>
            </thead>
            <tbody class="content supplements intable_content">
            <? if (!$entities):?>
                <tr><td colspan="3" ></td></tr>
                <tr><td colspan="7" align="center" >Нет данных</td></tr>
            <? else:?>
                <? foreach ($entities as $entity):?>
                    <tr class="equeue_row" equeueid="<?=$entity['id']?>">
                        <td style="width: 4%;"><?= $i += 1;?></td>
                        <td style="width: 6%;"><?= $entity['startReceptionTime'];?></td>
                        <td style="width: 12%;"><?= $entity['TypeService'];?></td>
                        <td style="width: 23%;"><?= $entity['TypeTreatment'];?></td>
                        <td style="width: 23%;"><?= $entity['BasisTreatment'];?></td>
                        <td style="width: 23%;"><?= $entity['ReasonTreatment'];?></td>
                        <td style="width: 9%;"><?= $entity['status'];?></td>
                    </tr>
                <? endforeach;?>
            <? endif;?>
            </tbody>
        </table>
        <div class="button-block">
            <div class="bt custom-button" onclick="NewQueueClick()" >Записаться</div>
        </div>
    </div>


    <div id="popup_win">
    </div>
</div>

<style>div.content {height: auto!important}
#filter table tr td {display: table-cell;padding-right: 5px;}
</style>

<script src="/js/eo/index/queue.js"> </script>
