<?php
////печатает табличку аккредитационных пронрамм в разделе "Свидетельстве об аккредитации"
//$programsPrint = array();
//foreach ($programs as $accrProg) {
//
//    //Если нет связи с ГС, то пропускаем обработку такой аккр программы.
//    //if($accrProg->isEmptyField("fk_isgaGroupSpeciality"))
//    // continue;
//
//    $ugs = $accrProg->getEnlargedGroupSpeciality();
//    $eduLevel = $accrProg->getEduLevel();
//    $programsData = array(
//        "Id" => $accrProg->getField("Id"),
//        "Код УГС" => ($ugs!=null)?$ugs->getField("Code"):"",
//        "Наименование УГС" =>($ugs!=null)? $ugs->getField("Name"):"",
//        "Код ОП" => $accrProg->getField("Code"),
//        "Наименование ОП" => $accrProg->getField("Name"),
//        "Уровень образования" => ($eduLevel!=null)?$eduLevel->getField("Name"):""
//    );
//    $programsPrint[] = $programsData;
//}
//$programsPrint = array_filter($programsPrint);
//usort($programsPrint,
//    function($a, $b) {
//        $a = $a["Код ОП"];
//        $b = $b["Код ОП"];
//        if ($a == $b) {
//            return 0;
//        }
//        return ($a < $b) ? -1 : 1;
//    });
//?>


<tr class="cert_supp_state" style="display:none">
    <td colspan="2" class="left">
        <span style="width: 170px; float:left;">Статус</span>
        <span><?=$firstSupp->getStatusName()?></span>
    </td>
</tr>
    <?php 
        //перепилка выводилки
        //prostoy://comment/23261359
    ?>
    <?php if( empty( $programsPrint ) ) { ?>
        <tr >
            <td colspan="5" ></td>
        </tr>
        <tr >
            <td colspan="5" style="text-align: center">Записей на найдено</td>
        </tr>
        <tr >
            <td colspan="5"></td>
        </tr>
    <?php } else { ?>
        <?php foreach ($programsPrint as $pd) { ?>
            <tr id="<?= htmlentities( $pd["Id"] ) ?>">
                <td><?= htmlentities( $pd["Код УГС"] ) ?></td>
                <td><?= htmlentities( ($pd["Наименование УГС"] != "") ? $pd["Наименование УГС"] : "Без деления на гс/направления" ) ?></td>
                <td><?= htmlentities( $pd["Код ОП"] ) ?></td>
                <td><?= htmlentities( $pd["Наименование ОП"] ) ?></td>
                <td><?= htmlentities( $pd["Уровень образования"] ) ?></td>
            </tr>
        <?php } ?>
    <?php } ?>
