<?= $this->headTitle('Справочная информация'); ?>
<div>
    <?if($tab == '2'){?>
        <p>Включение головной организации или ее филиалов в заявление осуществляется по следующему алгоритму:</p>
        <br />
        <p>1.	Нажать кнопку «Добавить» в левом нижнем углу карточки заявления;</p>
        <p>2.	В открывшемся окне выбрать организацию и/или ее филиалы, которые нужно добавить в заявление;</p>
        <p>3.	Нажать кнопку «Выбрать»;</p>
        <p>4.	Ввести адрес местонахождения организации из Устава в соответствующем поле;</p>
        <p>5.	Нажать кнопку «Сохранить».</p>
    <?}elseif($tab == '3'){?>
        <p>Добавьте образовательные программы, используя следующий алгоритм:</p>
        <br />
        <p>1.	На вкладке выбрать филиал слева и уровень образования; </p>
        <p>2.	В таблице выбрать направление подготовки, нажать <img src="/img/plus_help.png" />;</p>
        <p>3.	Отметить галочками наименования образовательных программ, нажать кнопку «Выбрать»;</p>
        <p>4.	Ввести наименование образовательной программы;</p>
        <p>5.	Указать год начала реализации и срок получения образования;</p>
        <p>6.	Ввести количество студентов по данной программе по разным формам обучения.</p>
        <p>7.	Отметить галочками (при необходимости) наличие сетевой формы или дистанционного образования.</p>
        <p>При аккредитации одной образовательной программы с разной формой обучения, разным количеством студентов или разным сроком подготовки, ее можно добавить на вкладке необходимое количество раз, указав требующиеся сведения.</p>
        <p>Для удаления образовательной программы из списка в заявлении можно нажать кнопку <img src="/img/minus_help.png" />.</p>
        <p>Переход на вкладку «Документы» осуществляется с помощью кнопки «Сохранить».</p>
    <?}elseif($tab == '4'){?>
        <p>Добавьте документы, используя следующий алгоритм.</p>
        <br />
        <p>1)	Документы для добавления предварительно необходимо подписать электронной цифровой подписью заявителя. Для системы КИС ГА используются электронно-цифровые подписи стандарта ФРДО. </p>
        <p>2)	Нажать кнопку «Выберите файл».</p>
        <p>После загрузки обязательных документов на вкладке отобразится кнопка «Отправить».</p>
    <?}else{?>
        <p>Заполнение свойств заявления осуществляется по следующему алгоритму:</p>
        <br />
        <p>1.	Указать тип заявления из выпадающего списка;</p>
        <p>2.	Выбрать основание заявления;</p>
        <p>3.   Выбрать свидетельство для переоформления;</p>
        <p>4.	Выбрать действующую лицензию на ведение образовательной деятельности;</p>
        <p>5.	Указать реквизиты лицензии на работу с государственной тайной (при наличии);</p>
        <p>6.	Указать контактное лицо заявителя;</p>
        <p>7.	Указать контактный номер телефона;</p>
        <p>8.	Указать электронный адрес заявителя;</p>
        <p>9.	Нажать кнопку «Сохранить»</p>
    <?}?>
</div>
