<div class="route">
    <table class="route-table">
        <tr class="content_tr">
            <td class="steps_td">
		<div class="toggleButton "></div>
                <ul class="steps_div nav" style="z-index:20;">
                    <li class="btn btn-warning btn-lg" event="info" controller="index">
                        <a href="#info" class="user-requests ">
                            <span>Общие сведения</span>
                            <div></div>
                        </a>
                    </li>
                    <?php
                    if(@$eo->getAffilatesNumber() != ""){ ?>
                        <li class="btn btn-warning" controller="index" event="affiliates">
                            <a href="#affiliates" class="branches">
                                <span>Филиалы</span>
                                <div></div>
                                <span class="num"><?= $eo->getAffilatesNumber(); ?></span>
                                
                            </a>
                        </li>
                    <?php } ?>

                    <li class="btn btn-warning" controller="index" event="license">
                        <a href="#license" class="orders ">
                            <span>Лицензия</span>
                            <div></div>
                        </a>
                    </li>

                    <li class="btn btn-warning" controller="index" event="certificates">
                        <a href="#certificates" class="certificates ">
                            <span>Свидетельство об аккредитации</span>
                            <div></div>
                        </a>
                    </li>

                    <li class="btn btn-warning" controller="index" event="calculator">
                        <a href="#calculator" class="calculator">
                            <span>Калькулятор</span>
                            <div></div>
                        </a>
                    </li>

                    <?php if ($isTest):?>
                    <li class="btn btn-warning" controller="index" event="equeue">
                        <a href="#equeue" class="equeue">
                            <span>Электронная очередь</span>
                            <div></div>
                        </a>
                    </li>
                    <?php endif;?>
                </ul>
            </td>
            <td class="content_td">
                <div class="content" data-heightdelta="">

                </div>
                <div class="buttons-container">
                    <div class="button btPubAccr dropup" style="display:none">Аккредитация<span class="caret"></span></div>
                    <div class="button btSave" style="display:none">Сохранить</div>
                    <div class="button btClearAll" style="display:none">Начать заново</div>
                    <div class="button btFromApplication" style="display:none">Из заявления</div>
                    <div class="button btPaymentPrint" style="display:none; "><a style=" color:#FFF;" target="_blank">Печать</a></div>
                    <div class="sumField">Общая сумма: <span class="sum">0</span> руб.</div>
                    <div class="button btLight btSendError">Сообщить об ошибке</div>
                </div>
            </td>
        </tr>
    </table>
    <div id="dialog-sendError" style="display:none">
        <div class="info-text">
            Для уточнения сведений, введите описание ошибки и правильное значение показателя в поле для сообщения и укажите электронный адрес для ответа
        </div>
        <form id = "errorForm" method="post" action="/eo/index/send-error">
            <table>
                <tr>
                    <!-- td class="left-td">
                        
                    </td -->
                    <td class="right-td" colspan="2">
		        <div style="float:left;width: 131px;padding-top: 6px;" class="left-div">E-mail</div>
                        <div class="right-div" style="float:left;width: 76.8%;">
                            <input type="text" class="field tbEmail" name="data[tbEmail]" placeholder="E-mail">
                        </div>
                    </td>
                </tr>

                <tr>
                    <!--td class="left-td">
                        <div class="left-div">Файл (Скриншот проблемы)</div>
                    </td-->
                    <td colspan="2" style="border: 0;padding: 10px;">
                        <div class="right-div">
                            <input type="file" class="field fFile" name="data[fFile]" accept="image/jpeg,image/png,image/gif" style="color: #2a6496;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <!-- td class="left-td">
                        <div class="left-div">Сообщение</div>
                    </td -->
                    <td colspan="2" class="right-td">
                        <div class="right-div">
                            <textarea placeholder="Текст сообщения" class="field taText"  name="data[taText]"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left-td">
                        <div class="left-div" style="padding-top: 3px">Введите символы с картинки</div>
                    </td>
                    <td class="right-td">
                        <div class="captcha-div">
                            <input type="hidden" class="captcha-id" name="data[captcha-id]">
                            <input class="captcha-value" class="field captcha-value" name="data[captcha-value]" placeholder="Код" style="margin-right:19px!important;">
                            <img class="captcha-img" />
                            <div >
                                <span class="refresh-span">Обновить</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="buttons">                                                      
			    <div class="button btCancel" style="margin-right:0px!important;">Отмена</div>
			    <div class="button btSend">Отправить</div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    //bindIndexEvents();
</script>
<style>
    .route .steps_td .steps_div {
        margin-top: 76px; 
    }
    .route .steps_td.icons{
        width: 76px;
    }
   #errorForm div.buttons .button {float: right;}
</style>