<div class='loading-overlay' style="display:none;z-index: 100;"><div class='windows8'><div class='wBall' id='wBall_1' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_2' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_3' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div><div class='wBall' id='wBall_4' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div>   <div class='wBall' id='wBall_5' style='width: 32px; height: 32px;'><div class='wInnerBall' style='width: 4.71428571428571px; height: 4.71428571428571px;'></div></div></div><div class='loading-overlay-message'>Загрузка...</div></div>
<div class="container">
    <div class="hidden-data" >
        <input type="hidden" class="current-organization-id" value="<?=@$eo->getField('Id')?>"/>
    </div>
    <div class="viewzone">
        <table>
            <tr>
                <td colspan="2">

                    <div style="margin-top: 0;" class="section-title">
                        Наименование организации
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Полное наименование образовательной организации</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField('FullName')?></div></td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Сокращенное наименование образовательной организации</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField('ShortName')?></div></td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Название</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField('RegularName')?></div></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right" class="left"> 
                    <a class="show-hide-case" >Показать склонения</a>
                    <a class="getCaseValue" onclick="morphyOrgName()" >Просклонять</a>
                </td>
            </tr>
            <tr class="case" style="display:none;" >
                <td class="left"><div class="left-title">Наименование организации в родительном падеже</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="NameGenCase" value='<?=@$orgData['NameGenCase']?>'/>
                    </div>
                </td>
            </tr>
            <tr class="case" style="display:none;" >
                <td class="left"><div class="left-title">Наименование организации в винительном падеже</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="NameAccCase" value='<?=@$orgData['NameAccCase']?>'/>
                    </div>
                </td>
            </tr>
            <tr class="case" style="display:none;" >
                <td class="left"><div class="left-title">Наименование организации в дательном падеже</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="NameDatCase" value='<?=@$orgData['NameDatCase']?>'/>
                    </div>
                </td>
            </tr>
            <tr class="case" style="display:none;" >
                <td class="left"><div class="left-title">Наименование организации в творительном падеже</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="NameInstrCase" value='<?=@$orgData['NameInstrCase']?>'/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Вид организационно-правовой формы</div></td>
                <td class="right"><div class="right-value"><?=$eo->getOrgFormName()?></div></td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Учредитель</div></td>
                <td class="right"><div class="right-value"><?=$eo->getFounderName() ?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Специфика организации</div></td>
                <td class="right-nopadding">
                    <div class="right-value">
                        <select class="data-field select" name="fk_isgaEducationalOrganizationSpecific">
                            <?php 
                                foreach ($specifics as $spec) {
                                    echo '<option value="'.$spec->getField("Id").'" '.(($orgData['fk_isgaEducationalOrganizationSpecific'] == $spec->getField("Id"))?"selected":"").' >'.$spec->getField("Name").'</option>';
                                }
                            ?>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Местонахождение
                    </div>
                    
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Страна</div></td>
                <td class="right"><div class="right-value"><?=$eo->getCountryName()?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Регион</div></td>
                <td class="right"><div class="right-value"><?=$eo->getRegionName()?></div></td>
            </tr>

            <?php /* Мало ли что взбредет в голову, поэтому пока комментим, если что восстановим
            <tr>
                <td class="left"><div class="left-title">Федеральный округ</div></td>
                <td class="right"><div class="right-value"><?=$eo->getFedOkrName()?></div></td>
            </tr>
            */?>

            <tr>
                <td class="left"><div class="left-title">Город</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("TownName")?></div></td>
            </tr>

            <?php /* Мало ли что взбредет в голову, поэтому пока комментим, если что восстановим
            <tr>
                <td class="left"><div class="left-title">Улица</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("Street")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Дом/корпус/строение</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("House")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Индекс</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("PostIndex")?></div></td>
            </tr>
*/?>
            <tr>
                <td class="left"><div class="left-title">Место нахождения</div></td>
                <td class="right"><div class="right-value"><?=$eo->getAddressLaw()?></div></td>
            </tr>
<?php
$places = $eo->getEOPlacesLod();
if($places){?>
            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Адреса мест осуществления образовательной деятельности
                    </div>
                    
                </td>
            </tr>
<?php
$i = 1;
foreach($places as $place){
?>
            <tr>
                <td class="left"><div class="left-title">Адрес <?=$i++?></div></td>
                <td class="right"><div class="right-value"><?=($place->isEmptyField('postcode')?'':($place->getField('postcode').', ')).$place->getField('address')?></div></td>
            </tr>
<?php } ?>
<?php } ?>
            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Банковские реквизиты организации
                    </div>

                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Номер счета организации</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="BankAccountNumber" value="<?=@$orgData['BankAccountNumber']?>"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Наименование банка</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="BankName" value="<?=@$orgData['BankName']?>"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Корреспондентский счет банка</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="BankCorrespondentAccount" value="<?=@$orgData['BankCorrespondentAccount']?>"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">БИК банка</div></td>
                <td class="right-nopadding"><div class="right-value">
                        <input type="text" class="data-field" name="BankBik" value="<?=@$orgData['BankBik']?>"/>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Реквизиты организации
                    </div>
                    
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">ИНН</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("Inn")?></div></td>
            </tr>
            
            <tr>
                <td class="left"><div class="left-title">КПП</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("Kpp")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Дата постановки на налоговый учет</div></td>
                <td class="right"><div class="right-value"><?=$eo->getDate("taxAccountDate")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Номер свидетельства о постановке на налоговый учет</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("taxAccountCertificateNumber")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Дата свидетельства о постановке на налоговый учет</div></td>
                <td class="right"><div class="right-value"><?=$eo->getDate("taxAccountCertificateDate")?></div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">ОГРН</div></td>
                <td class="right"><div class="right-value"><?=$eo->getField("GosRegNum")?></div></td>
            </tr>

            <tr>
                <td class="left">
		  <div class="left-title">
                    № свидетельства о государственной регистрации
		  </div>
                </td>
                <td class="right"><div class="right-value"><?=$eo->getField("stateRegistrationCertificateNumber")?></div></td>   
            </tr>

                    <tr>
                        <td class="left">
			  <div class="left-title">
                            Дата свидетельства о государственной регистрации
			  </div>
                        </td>
                        <td class="right"><div class="right-value"><?=$eo->getDate("stateRegistrationCertificateDate")?></div></td>
                    </tr>

                    <tr>
                        <td class="left">
			  <div class="left-title">
                            Адреса места нахождения органа, осуществившего государственную регистрацию
			  </div>
                        </td>
                        <td class="right"><div class="right-value"><?=$eo->getField("stateRegistrationCertificateAuthorityAddress")?></div></td>
                    </tr>

            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Контактные данные
                    </div>
                    
                </td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Телефон(ы)</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <?php /*<input type="text" class="data-field" name="Phones" value="<?=$orgData['Phones']?>"/>*/?>
                    <input type="text" class="data-field" name="Phones" value="<?=$orgData['Phones']?$orgData['Phones']:$eo->getField('Phones')?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Факс(ы)</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="Faxes" value="<?=$orgData['Faxes']?$orgData['Faxes']:$eo->getField('Faxes')?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">E-mail</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="Emails" value="<?=$orgData['Emails']?$orgData['Emails']:$eo->getField('Mails')?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Веб-сайт</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="Site" value="<?=$orgData['Site']?$orgData['Site']:$eo->getField('Www') ?>"/>
                </div></td>
            </tr>

            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Руководитель организации
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Фамилия</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefSurname" value="<?=$orgData['ChiefSurname']?>"/>
                </div></td>
            </tr>
            <tr>
                <td class="left"><div class="left-title">Имя</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefName" value="<?=$orgData['ChiefName'] ?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Отчество</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefPatronymic" value="<?=$orgData['ChiefPatronymic']?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Должность</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefPosition" value="<?=$orgData['ChiefPosition'] ?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Тел. руководителя</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefPhones" value="<?=$orgData['ChiefPhones'] ?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">Факс руководителя</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefFax" value="<?=$orgData['ChiefFax'] ?>"/>
                </div></td>
            </tr>

            <tr>
                <td class="left"><div class="left-title">E-mail руководителя</div></td>
                <td class="right-nopadding"><div class="right-value">
                    <input type="text" class="data-field" name="ChiefEmail" value="<?=$orgData['ChiefEmail'] ?>"/>
                </div></td>
            </tr>
            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Сведения об общественной аккредитации
                    </div>
                    
                </td>
            </tr>
            <tbody class="PubAccr firstTbody tbody-block">
                <tr>
                    <td class="left"><div class="left-title">Организация, проводившая общественную аккредитацию.</div></td>
                    <td class="right-nopadding"><div class="right-value">
                        <?php $orgData['PubAccr'] = empty( $orgData['PubAccr'] ) ? array() : $orgData['PubAccr'] ;?>
                        <?php $orgData['PubAccr'][0] = empty( $orgData['PubAccr'][0] ) ? array() : $orgData['PubAccr'][0] ;?>
                        <?php $orgData['PubAccr'][0]['organization'] = empty($orgData['PubAccr'][0]['organization'])?'':$orgData['PubAccr'][0]['organization']?>
                            <textarea><?= htmlentities( $orgData['PubAccr'][0]['organization'] ) ?></textarea>
                    </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                     <?php $orgData['PubAccr'][0]['date'] = empty( $orgData['PubAccr'][0]['date'] ) ? '' : $orgData['PubAccr'][0]['date']  ; ?>
                    <td class="right-nopadding"><div class="right-value"><input type="text" class="date-field" value="<?= htmlentities( @$orgData['PubAccr'][0]['date'] ) ?>"/><span class="date-icon"></span></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                    <?php $orgData['PubAccr'][0]['requisite'] = empty($orgData['PubAccr'][0]['requisite'])?'':$orgData['PubAccr'][0]['requisite']?>
                    <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities( @$orgData['PubAccr'][0]['requisite'] ) ?>"/></div></td>
                </tr>
            </tbody>
            <?php 
                if(count($orgData['PubAccr']) > 1)
                    for($i=1; $i < count($orgData['PubAccr']); $i++){
                        $accrData = $orgData['PubAccr'][$i];
                        ?>
                        <tbody class="PubAccr tbody-block">
                            <tr>
                                <td class="left"><div class="left-title">Организация, проводившая общественную аккредитацию</div></td>
                                <td class="right-nopadding"><div class="right-value">
                                    <?php $accrData['organization'] = empty($accrData['organization'])?'':$accrData['organization']?>
                                    <textarea><?= htmlentities( @$accrData['organization'] ) ?></textarea>
                                </div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                                <?php $accrData['date'] = empty($accrData['date'])?'':$accrData['date']?>
                                <td class="right-nopadding"><div class="right-value"><input class="date-field" type="text" value="<?= htmlentities( @$accrData['date'] ) ?>"/><span class="date-icon"></span></div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                                <?php $accrData['requisite'] = empty($accrData['requisite'])?'':$accrData['requisite']?>
                                <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities(  @$accrData['requisite'] ) ?>"/></div></td>
                            </tr>
                        </tbody>
                    <?php } ?>
            <tr>
                <td colspan="2">

                    <div class="section-title">
                        Сведения о профессионально-общественной аккредитации
                    </div>
                    
                </td>
            </tr>

            <tbody class="ProfPubAccr firstTbody tbody-block">
                <tr>
                    <td class="left"><div class="left-title">Организация, проводившая профессионально-общественную аккредитацию</div></td>
                    <td class="right-nopadding"><div class="right-value">
                        <?php $orgData['ProfPubAccr']  = empty( $orgData['ProfPubAccr']  ) ?  array() : $orgData['ProfPubAccr'] ?>
                        <?php $orgData['ProfPubAccr'][0]  = empty( $orgData['ProfPubAccr'][0]  ) ?  array() : $orgData['ProfPubAccr'][0] ?>
                        <?php $orgData['ProfPubAccr'][0]['organization']  = empty( $orgData['ProfPubAccr'][0]['organization']  )?'':$orgData['ProfPubAccr'][0]['organization'] ?>
                        <textarea><?= htmlentities( @$orgData['ProfPubAccr'][0]['organization'] ) ?></textarea>
                    </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                    <td class="right-nopadding"><div class="right-value">
                        <?php $orgData['ProfPubAccr'][0]['date']  = empty( $orgData['ProfPubAccr'][0]['date']  )?'':$orgData['ProfPubAccr'][0]['date'] ?>
                        <input class="date-field" type="text" value="<?= htmlentities( @$orgData['ProfPubAccr'][0]['date'] ) ?>"/>
                        <span class="date-icon"></span>
                    </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                    <?php @$orgData['ProfPubAccr'][0]['requisite']  = empty( @$orgData['ProfPubAccr'][0]['requisite'] )?'':@$orgData['ProfPubAccr'][0]['requisite'] ?>
                    <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities( @$orgData['ProfPubAccr'][0]['requisite'] ) ?>"/></div></td>
                </tr>
            </tbody>
            <?php 
                if(count($orgData['ProfPubAccr']) > 1)
                    for($i=1; $i < count($orgData['ProfPubAccr']); $i++){
                        $accrData = $orgData['ProfPubAccr'][$i];
                        ?>
                        <tbody class="ProfPubAccr tbody-block">
                            <tr>
                                <td class="left"><div class="left-title">Организация, проводившая профессионально-общественную аккредитацию</div></td>
                                <td class="right-nopadding"><div class="right-value">
                                    <?php @$accrData['organization']  = empty( $accrData['organization'] )? '' : $accrData['organization'] ; ?>
                                    <textarea><?= htmlentities(  @$accrData['organization'] ) ?></textarea>
                                </div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                                <?php @$accrData['date']  = empty( $accrData['date'] )? '' : $accrData['date'] ; ?>
                                <td class="right-nopadding"><div class="right-value"><input class="date-field" type="text" value="<?= htmlentities(  @$accrData['date'] ) ?>"/><span class="date-icon"></span></div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                                <?php @$accrData['requisite']  = empty( $accrData['requisite'] )? '' : $accrData['requisite'] ; ?>
                                <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities( @$accrData['requisite'] ) ?>"/></div></td>
                            </tr>
                        </tbody>
                        <?php
                    }
            ?>

            <tr>
                <td colspan="2">
                    <div class="section-title">
                        Сведения о международной общественной аккредитации
                    </div>
                    
                </td>
            </tr>

            <tbody class="IntPubAccr firstTbody tbody-block">
                <tr>
                    <td class="left"><div class="left-title">Организация, проводившая международную общественную аккредитацию</div></td>
                    <td class="right-nopadding"><div class="right-value">
                        <?php @$orgData['IntPubAccr']  = empty( @$orgData['IntPubAccr'] )? array() : @$orgData['IntPubAccr'] ; ?>
                        <?php @$orgData['IntPubAccr'][0]  = empty( @$orgData['IntPubAccr'][0] )? array() : @$orgData['IntPubAccr'][0] ; ?>
                        <?php @$orgData['IntPubAccr'][0]['organization']  = empty( $orgData['IntPubAccr'][0]['organization'] )? '' : $orgData['IntPubAccr'][0]['organization'] ; ?>
                        <textarea><?= htmlentities(  @$orgData['IntPubAccr'][0]['organization'] ) ?></textarea>
                    </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                    <?php @$orgData['IntPubAccr'][0]['date']  = empty( $orgData['IntPubAccr'][0]['date'] )? '' : $orgData['IntPubAccr'][0]['date'] ; ?>
                    <td class="right-nopadding"><div class="right-value"><input type="text" class="date-field" value="<?= htmlentities(  @$orgData['IntPubAccr'][0]['date'] ) ?>"/><span class="date-icon"></span></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                    <?php @$orgData['IntPubAccr'][0]['requisite']  = empty( $orgData['IntPubAccr'][0]['requisite'] )? '' : $orgData['IntPubAccr'][0]['requisite'] ; ?>
                    <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities(  @$orgData['IntPubAccr'][0]['requisite'] ) ?>"/></div></td>
                </tr>
            </tbody>
            <?php 
                if(count($orgData['IntPubAccr']) > 1)
                    for($i=1; $i < count($orgData['IntPubAccr']); $i++){
                        $accrData = $orgData['IntPubAccr'][$i];
                        ?>
                        <tbody class="IntPubAccr tbody-block">
                            <tr>
                                <td class="left"><div class="left-title">Организация, проводившая международную общественную аккредитацию</div></td>
                                <td class="right-nopadding"><div class="right-value">
                                    <?php @$accrData['organization']  = empty( $accrData['organization'] )? '' : $accrData['organization'] ; ?>
                                    <textarea><?= htmlentities(  @$accrData['organization'] ) ?></textarea>
                                </div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Дата выдачи свидетельства</div></td>
                                <?php @$accrData['date']  = empty( $accrData['date'] )? '' : $accrData['date'] ; ?>
                                <td class="right-nopadding"><div class="right-value"><input class="date-field" type="text" value="<?= htmlentities(  @$accrData['date'] ) ?>"/><span class="date-icon"></span></div></td>
                            </tr>

                            <tr>
                                <td class="left"><div class="left-title">Реквизиты свидетельства</div></td>
                                <?php @$accrData['requisite']  = empty( $accrData['requisite'] )? '' : $accrData['requisite'] ; ?>
                                <td class="right-nopadding"><div class="right-value"><input type="text" class="requisite-field" value="<?= htmlentities(  @$accrData['requisite'] ) ?>"/></div></td>
                            </tr>
                        </tbody>
                        <?php
                    }
            ?>

        </table>
    </div>
</div>
<style>
.right-value textarea {padding-top: 4px!important;}
</style>

<script>
    $('.date-field').on("paste",function(e) {
        e.preventDefault();
    });
</script>