<div class="equeue_info">
    <table>
        <tr>
            <td class="left_part">Полное наименование организации</td>
            <td class="org_name"><?= $this->equeue->getField('organizationName')?></td>
        </tr>
        <tr>
            <td class="left_part">ИНН</td>
            <td><?= $this->equeue->getField('organizationInn')?></td>
        </tr>
        <tr>
            <td class="left_part">Тип услуги</td>
            <td><?= $this->equeueReason->getField('serviceType')?></td>
        </tr>
        <tr>
            <td class="left_part">Тип обращения</td>
            <td><?= $this->equeueReason->getField('name')?></td>
        </tr>
        <tr id="serviceReasonRow">
            <td>Основание услуги</td>
            <td><?= $this->serviceReason->getField('name')?></td>
        </tr>
        <?php if(!empty($reasons)):?>
        <tr>
            <td>Причина обращения</td>
            <td>
                <?php
                foreach ($reasons as $reason) {?>
                    <ul class="reason">
                        <li><?=$reason?></li>
                    </ul>
                <?php } ?>
            </td>
        </tr>
        <?php endif; ?>
        <tr>
            <td class="left_part">Запись на прием</td>
            <td>
                <?php
                $startTime = new \DateTime($this->equeue->getField('startReceptionTime'));
                $endTime = new \DateTime($this->equeue->getField('endReceptionTime'));
                echo $startTime->format('d.m.Y H:i') . '-' . $endTime->format('H:i');
                ?>
            </td>
        </tr>
        <tr>
        <?php if($this->equeue->getField('filialAmount') !== null): ?>
            <td class="left_part">Количество филиалов</td>
            <td><?=$this->equeue->getField('filialAmount')?></td>
        <?php endif; ?>
        </tr>
        <?php if($this->equeue->getField('numberOfProgramCatalogId') !== null): ?>
            <tr>
                <td class="left_part">Количество программ</td>
                <td><?=$this->numberProgramCatalog->getField('name')?></td>
            </tr>
        <?php endif; ?>

        <?php if($this->equeue->getField('numberOfDocumentsId') !== null): ?>
            <tr>
                <td class="left_part">Количество документов для сверки</td>
                <td><?=$this->numberDocumentCatalog->getField('name')?></td>
            </tr>
        <?php endif; ?>
        <?php if($this->equeue->getField('issueDocumentsAmountId') !== null): ?>
            <tr>
                <td class="left_part">Количество выдаваемых документов</td>
                <td><?=$this->issueDocumentsAmount->getField('name')?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Фамилия</td>
            <td><input type="text" readonly name="lastName" value="<?=$this->equeue->getField('lastName')?>" /></td>
        </tr>
        <tr>
            <td>Имя</td>
            <td><input type="text" readonly name="firstName" value="<?=$this->equeue->getField('firstName')?>" /></td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td><input type="text" readonly name="middleName" value="<?=$this->equeue->getField('middleName')?>" /></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><input type="text" readonly name="phoneNumber" value="<?=$this->equeue->getField('phoneNumber')?>" /></td>
        </tr>
        <tr>
            <td>Мобильный телефон</td>
            <td><input type="text" readonly name="mobilePhoneNumber" value="<?=$this->equeue->getField('mobilePhoneNumber')?>" /></td>
        </tr>
        <tr>
            <td>Электронная почта</td>
            <td><input type="text" readonly name="email" value="<?=$this->equeue->getField('eMail')?>" /></td>
        </tr>
        <tr>
    </table>
</div>

<style>

    .equeue_info{
        padding: 5px;
    }
    .left_part{
        width: 339px;
    }
    .equeue_info table tr{
        line-height: 1.428571429;
    }
    .equeue_info table td{
        padding:5px;
        vertical-align: baseline;
        font-family: Segoe UI,Arial,sans-serif;
        color: #000!important;
    }
    .equeue_info table td:first-child {
        width: 35%;
    }
    .equeue_info table input[type="text"] {
        width: 100%;
    }
</style>
