<div class="container">
    <div class="viewzone">
        <?php if($license != null){ ?>
        <input type="hidden" class="input-license-id" value="<?=$license->getField('Id')?>" />
            <table>
                <tr>
                    <td class="left"><div class="left-title">Регистрационный номер лицензии</div></td>
                    <td class="right"><div class="right-value"><?=$license->getField('LicenseRegNum')?></div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Серия, номер бланка</div></td>
                    <td class="right"><div class="right-value">
                            <?=$license->getField('SerDoc')." ".$license->getField('NumDoc')?>
                        </div></td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Решение о выдаче</div></td>
                    <td class="right">
                        <div class="right-value">
                            <?php
                                if(
                                    $license->getField("NumLicDoc") == ""
                                    && $license->getField("DateLicDoc") == ""
                                    ){
                                    echo "Нет данных";
                                } else {
                                    if($license->getField("NumLicDoc") != "")
                                        echo "Распоряжение ".$license->getField("NumLicDoc")." ";
                                    if($license->getDate("DateLicDoc") != "")
                                        echo "от ".$license->getDate("DateLicDoc");
                                }
                            ?>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Срок действия</div></td>
                    <td class="right">
                        <div class="right-value">
                        <?php
                            //Проверяем если бессрочная
                            if($license->getField("IsTermless") == 1 || $license->getDate("DateEnd") != ""){
                                echo "Бессрочная";
                            } else if($license->getDate("DateEnd") != ""){
                                echo "До ".$license->getDate("DateEnd");
                            }
                        ?>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Текущий статус лицензии</div></td>
                    <td class="right"><div class="right-value"><?=$license->getStatusName()?></div></td>
                </tr>


                <?php  if($supplements->count() > 0){ ?>
                <tr>
                    <td colspan="2">

                        <div class="section-title">
                            Приложение к лицензии
                        </div>

                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding: 10px"><span style="float:left;width: 170px;">Приложение</span>
		        <div style="overflow: hidden;">
                        <select id="license-supplements" class="info-select" style="width: 100%">
                            <?php
                            $firstSupp = null;
                            $suppArray = $supplements->getObjectsArray();
                            //Сортируем по номеру
                            function cmp($a_obj, $b_obj){
                                $a = $a_obj->getField("Number");
                                $b = $b_obj->getField("Number");
                                if ($a == $b) {
                                    return 0;
                                }
                                return ($a < $b) ? -1 : 1;
                            }

                            usort($suppArray, "cmp");
                            //Выводим в селект
                            foreach($suppArray as $supplement){
                                $eo = $supplement->getEducationalOrganization();
                                ?>

                                <option value="<?=$supplement->getField("Id")?>" status="<?=$supplement->getStatus()?>">
                                <?=$supplement->getField("Number")." ".
                                $eo->getField("LawTown")." ".$eo->getField("FullName")?></option>
                                <?php
                                if($firstSupp == null) $firstSupp = $supplement;
                            }
                            ?>
                        </select>
			</div>
                    </td>
                </tr>

                    <tr>
                        <td colspan="2" class="lic-state" style="padding:10px">
                            <span style="width: 170px; float:left;">Статус</span>
                            <span class="status"><?=$firstSupp->getStatus()?></span>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <table class="intable">
                                <tr>
                                    <th>Код</th>
                                    <th>Наименование</th>
                                    <th>Уровень образования</th>
                                    <th>Квалификация</th>
                                </tr>
                                <tbody class="supplements intable_content">
                                    <?php include "licenseSuplementProhramm.phtml"; ?>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                <?php } ?>

            </table>
        <?php } ?>
    </div>
</div>
<style>
.supplements.intable_content .td_level {
    border-radius: 5px!important;
}
</style>