<?php 
/*
 * отрисуем строки таблички с программами в приложении
 * url:  /eo/index/license
 * url:  /eo/index/get-licensesupplement-info/ид-приложения
 * path: /module/Eo/view/eo/index/licenseSuplementProhramm.phtml
 * 
 * отдергивает из
 * /module/Eo/view/eo/index/get-licensesupplement-info.phtml
 * /module/Eo/view/eo/index/license.phtml
 * 
 */

?>
                                <?php 
                                    //Сортировка
                                    $lodProgAll = $firstSupp->getLodPrograms();
                                    $epArray=array();
                                    foreach ( $lodProgAll as $lodProgKey => $lodProgOne ) {
                                        $edProg = $lodProgOne->getEduProgram();
                                        $edProgId = $edProg->getId();
                                        $epArray[$edProgId] = $edProg;
                                        $qvalToProgId[$edProgId] = implode('; ', $lodProgOne->getQualificationsName());
                                    }
                                    $epArray = array_filter($epArray);

                                    //Далее дублирование get-licensesupplement-info.phtml
                                    //Сортируем по номеру
                                    uasort($epArray, function($a_obj, $b_obj){
                                        $a = $a_obj->getField("Code");
                                        $b = $b_obj->getField("Code");                                    
                                        return strnatcmp($a, $b);
                                    });
                                    $newArr = array();
                                    foreach($epArray as $program){
                                        $newArr[$program->getFieldhtml("fk_eiisEduProgramType")][] = $program;
                                    }
                                    foreach($ep as $key => $level){
                                        if(isset($newArr[$key])){
                                            $levelName = $level->isEmptyField("PrintName")?$level->getField('Name'):$level->getField('PrintName');?>
                                            <tr>
                                                <td colspan="4" class="td_level"><?=$levelName?></td>
                                            </tr>
                                            <?php 
                                            foreach($newArr[$key] as $program){ 
                                                ?>
                                                <tr>
                                                    <td><?=$program->getField("Code")?></td>
                                                    <td><?=$program->getField("Name")?></td>
                                                    <td><?=$levelName?></td>
                                                    <td><?= $qvalToProgId[$program->getId()] ?></td>
                                                </tr>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php }        

