<link href="/css/eo/index/new-queue.css" rel="stylesheet">

<?php
$serviceType = $this->genericForm->get('service_type');
$appealType = $this->genericForm->get('appeal_type');
$serviceReason = $this->genericForm->get('service_reason');
$appealReason = $this->genericForm->get('appeal_reason');
$branchNumber = $this->genericForm->get('branches_number');
$checkNeeded = $this->genericForm->get('check_needed');
$issueDocumentsNumber = $this->genericForm->get('issue_documents_number');
$documentsNumber = $this->genericForm->get('documents_number');
$checkBranchesOnly = $this->genericForm->get('check_branches_only');
$programsNumber = $this->genericForm->get('programs_number');
$dateDay = $this->genericForm->get('date_day');
$dateTime = $this->genericForm->get('date_time');
$firstName = $this->genericForm->get('first_name');
$lastName = $this->genericForm->get('last_name');
$middleName = $this->genericForm->get('middle_name');
$phone = $this->genericForm->get('phone');
$cellPhone = $this->genericForm->get('cell_phone');
$email = $this->genericForm->get('email');


?>
<div class="container" style="height: 100%;overflow: hidden;">
    <div id="head_pop"><h2 id="title_pop">ПОДАТЬ ЗАЯВКУ В ЭЛЕКТРОННУЮ ОЧЕРЕДЬ</h2><div id="cboxClose"></div></div>
    <form class="form-horizontal dynamic" method="POST" action="/equeue/checkStep1">
    <div class="viewzone" data-heightdelta="-125" style="min-height: 82%;height: 560px;overflow-y:auto;">
            <div class="form-group">
                <label class="col-md-offset-1 col-md-2">Полное наименование организации</label>
                <div class="col-md-offset-1 col-md-7">
                    <span><?= $nameOrg?></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-offset-1  col-md-2">ИНН</label>
                <div class="col-md-offset-1   col-md-7">
                    <span><?= $inn?></span>
                </div>
            </div>

            <div class="step-1">
                <!--Тип услуги-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$serviceType->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-service-type">
                        <?=$this->formRadio($serviceType)?>
                    </div>
                </div>

                <!--Тип обращения-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$appealType->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-appeal-type">
                        <?=$this->formSelect($appealType)?>
                    </div>
                </div>

                <!--Основание услуги-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$serviceReason->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-service-reason">
                        <?=$this->formSelect($serviceReason)?>
                    </div>
                </div>

                <!--Причина обращения-->
                <div class="appeal-reason-row form-group only-reception">
                    <label class="col-md-offset-1 col-md-2"><?=$appealReason->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-appeal-reason">
                        <?php
                        $options = $appealReason->getValueOptions();
                        $selectedOptions = (array)$appealReason->getValue();
                        $invisibles = ['a382cea16f1c4cf9a729d4f8d0d8a8a0', '24e060cb-6384-4009-b9ce-93a775678732'];
                        foreach ($options as $o) {
                            $selected = in_array($o['value'], $selectedOptions);
                            $selectedAttr = ($selected ? ' checked="checked"' : '');
                            //hide option
                            $invisible = in_array($o['value'], $invisibles);
                            $invisibleAttr = ($invisible ? ' style="display: none"' : '');
                            ?>
                            <div class="checkbox" data-code="<?=$o['attributes']['data-code']?>" data-reason-code="<?=$o['attributes']['data-reason-code']?>"<?=$invisibleAttr?>>
                                <label>
                                    <input type="checkbox" name="<?=$appealReason->getName()?>[]" value="<?=$o['value']?>"<?=$selectedAttr?> />
                                    <?=$o['label']?>
                                </label>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>

                <!-- Количество выдаваемых документов-->
                <div class="form-group only-delivery">
                    <label class="col-md-offset-1 col-md-2"><?=$issueDocumentsNumber->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formSelect($issueDocumentsNumber)?>
                    </div>
                </div>

    <!--        Количество филиалов -->
                <div class="form-group only-reception">
                    <label class="col-md-offset-1 col-md-2"><?=$branchNumber->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-branches-number">
                        <?=$this->formNumber($branchNumber)?>
                    </div>
                </div>

    <!--        Перечень заявленных организаций -->
                <div class="form-group only-reception group-check-branches-only hidden-by-option">
                    <label class="col-md-offset-1 col-md-2"><?=$checkBranchesOnly->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-check-branches-only">
                        <?php
                        $options = $checkBranchesOnly->getValueOptions();
                        $selectedOptions = (array)$checkBranchesOnly->getValue();
                        foreach ($options as $o) {
                            $selected = in_array($o['value'], $selectedOptions);
                            ?>
                            <div class="checkbox <?=$o['attributes']['class']?>">
                                <label>
                                    <input type="checkbox" name="<?=$checkBranchesOnly->getName()?>" value="<?=$o['value']?>"<?php if($selected) echo ' checked="checked"'; ?> />
                                    <?=$o['label']?>
                                </label>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>

    <!--        Количество программ -->
                <div class="form-group only-reception">
                    <label class="col-md-offset-1 col-md-2"><?=$programsNumber->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-programs-number">
                        <?=$this->formSelect($programsNumber)?>
                    </div>
                </div>

    <!--        Требуется ли сверка? -->
                <div class="form-group only-reception">
                    <label class="col-md-offset-1 col-md-2"><?=$checkNeeded->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-check-needed">
                        <?php
                        $options = $checkNeeded->getValueOptions();
                        $selectedOptions = (array)$checkNeeded->getValue();
                        foreach ($options as $o) {
                            $selected = in_array($o['value'], $selectedOptions);
                            ?>
                            <div class="checkbox <?=$o['attributes']['class']?>">
                                <label>
                                    <input type="checkbox" name="<?=$checkNeeded->getName()?>" value="<?=$o['value']?>"<?php if($selected) echo ' checked="checked"'; ?> />
                                    <?=$o['label']?>
                                </label>
                            </div>
                            <?php
                        }
                        ?>
                    </div>
                </div>

    <!--        Количество документов для сверки -->
                <div class="form-group group-documents-number only-reception">
                    <label class="col-md-offset-1 col-md-2"><?=$documentsNumber->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-documents-number">
                        <?=$this->formSelect($documentsNumber)?>
                    </div>
                </div>
                <div id="loadmask-1">
                </div>
            </div>

            <div class="step-2">
                <!-- Время записи-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$dateDay->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7">
                        <div class="form-group row">
                            <div class="col-sm-8" style="padding-right: 0;">
			        <span class="date-icon" style="top: 9px;"></span>
                                <div class="date field-date-day">
                                    <?=$this->formText($dateDay)?>
                                    <div class="input-group-addon" style="display: none;">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-offset-1 field-date-time">
                                <?=$this->formSelect($dateTime)?>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Фамилия -->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$lastName->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($lastName)?>
                    </div>
                </div>

                <!-- Имя-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$firstName->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($firstName)?>
                    </div>
                </div>

                <!--Отчество-->
                <div class="form-group ">
                    <label class="col-md-offset-1 col-md-2"><?=$middleName->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($middleName)?>
                    </div>
                </div>

                <!--Телефон-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$phone->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($phone)?>
                    </div>
                </div>

                <!--Моб. телефон-->
                <div class="form-group field-cell-phone">
                    <label class="col-md-offset-1 col-md-2"><?=$cellPhone->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($cellPhone)?>
                    </div>
                </div>

                <!--Эл. почта-->
                <div class="form-group">
                    <label class="col-md-offset-1 col-md-2"><?=$email->getOption('label')?></label>
                    <div class="col-md-offset-1 col-md-7 field-issue-documents-number">
                        <?=$this->formText($email)?>
                    </div>
                </div>
                <div id="loadmask-2">
                </div>
            </div>

            
        

    </div> 
    <div class="form-group">
                <div class="col-md-offset-4 col-md-7 field-issue-documents-number">
		    <div class="btn_new">
                        <div id="btn-close" class="bt custom-button" onclick="">Закрыть</div>
                    </div>
                    <div class="btn_new">
                        <div id="btn-continue"  class="bt custom-button " onclick="">Продолжить</div>
                        <div id="btn-save"      class="bt custom-button" onclick="">Сохранить</div>
                    </div>
                    <div class="btn_new" style="float:left;margin-left: -42%;">
                        <div id="btn-back" class="bt custom-button" onclick="">Назад</div>
                    </div>
                    
                </div>
            </div> 
    </form>
</div>

<script type="text/javascript" src="/equeue_res/js/jquery.maskedinput.min.js"></script>
<script src="/js/eo/index/new-queue.js"> </script>

<style>
.field-issue-documents-number {text-align: right;}
.btn_new {float: right;margin: 10px 30px 0 0px;}
.form-horizontal {height: 100%;}
.form-control {height: 26px;}
</style>

