.search-result-block{
    margin-bottom: 10px;
    width: 100%;
}
.search-document td{
    width: 32%;
}
.search-document td select{
    display: inline-block;
    max-width: 60%;
    margin-left: 5px;
	height: 28px;
	padding: 0;
}
.search-document td span{
     display: inline-block;
     min-width: 10%;
}
.search-result td{
    margin-right: 5px;
    display: inline-block;
}
.search-result td select{
     display: inline-block;
     width: 60%;
}
.search-result td span{
    display: inline-block;
    width: 35%;
    margin-left: 5px;
}
