<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <title>Система государственной аккредитации</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" content ="ru">
    <!-- Le styles -->
    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
	->prependStylesheet($this->basePath() . '/css/color_blue.css')
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
        ->prependStylesheet($this->basePath() . '/js/jquery.ui/jquery-ui.min.css')
        ->prependStylesheet($this->basePath() . '/js/jquery.ui/jquery.ui.combobox.css')
        ->prependStylesheet($this->basePath() . '/css/our.css')
        ->prependStylesheet($this->basePath() . '/css/headcutoff.css')
        ->prependStylesheet($this->basePath() . '/themes/default/easyui.css')
        ->prependStylesheet($this->basePath() . '/themes/icon.css')
        ->appendStylesheet($this->basePath() . '/css/windows8load.css')
        ->prependStylesheet($this->basePath() . '/css/general.css')?>

    <!-- Scripts -->
    <?php echo $this->headScript()
        ->prependFile($this->basePath() . '/js/sessiondrop/sessiondrop.js')
        ->prependFile($this->basePath() . '/js/jquery.formstyler.min.js')
        ->prependFile($this->basePath() . '/js/jquery.ui/jquery.ui.combobox.js')
        ->prependFile($this->basePath() . '/js/jquery.ui/ru.jquery-ui.js')
        ->prependFile($this->basePath() . '/js/jquery.ui/jquery-ui.min.js')


        ->prependFile($this->basePath() . '/js/jquery.min.js')
        ->appendFile($this->basePath() . '/js/resize/resize.js')
        ->appendFile($this->basePath() . '/js/jquery.MultiFile.js')
    ?>
</head>
<body>
<div id="wrapper">
    <div id="head">
        <div class="title1">КИС ГА </div>
            <!--div class="title2" >Сведения об эксперте</div-->
            <ul class="nav">
                <li <?=($this->controllerName()=="Ron\Controller\Index")?"class='active'":"" ?>>
                    <a class='first'  href="<?=$this->url('ron') ?>">Главная</a>
                    <div></div>
                </li>
                <li <?=($this->controllerName()=="Ron\Controller\Expertise")?"class='active'":"" ?>>
                    <a class='first' href="/ron/expertise" style="width: 140px;">Текущая экспертиза</a>
                    <div></div>
                </li>
            </ul>
            <div class="filter_wraper">
                <!--input placeholder="Поиск..." name="filt"  id="search" onkeyup="filter(this, 'search')" style="width:200px;" type="text"  /-->
            </div>


            <div class="credentials">
                <div class="name"><?= (isset($identityUser))?$identityUser->getField("Name"):' ' ?></div>
                <div class="logout" style="color:white">
                    | <a href="<?php echo $this->url('auth/default', array('controller' => 'authorization', 'action' => 'logout'));?>"><img src="/img/but_exit.png" width="24" height="24" alt="Выход" title="Выход" /></a>
                </div>
            </div>
    </div>
    <div class="container" id="content">
        <?php echo $this->content; ?>
    </div>
    <div id="popupWindow">
        
    </div>
</div>
</body>
</html>
