<?php if ($this->pageCount): ?>
    <ul class="pagination pull-right">
        <?php if (isset($this->previous)): ?>
            <li>
                <a href="#" data-page="<?php echo $this->previous; ?>">
                    &laquo;
                </a>
            </li>
        <?php else: ?>
            <li class="disabled">
                <a href="#">
                    &laquo;
                </a>
            </li>
        <?php endif; ?>
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li>
                    <a href="#" data-page="<?php echo $page; ?>">
                        <?php echo $page; ?>
                    </a>
                </li>
            <?php else: ?>
                <li class="active">
                    <a href="#"><?php echo $page; ?></a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if (isset($this->next)): ?>
            <li>
                <a href="#" data-page="<?php echo $this->next; ?>">
                    &raquo;
                </a>
            </li>
        <?php else: ?>
            <li class="disabled">
                <a href="#">
                    &raquo;
                </a>
            </li>
        <?php endif; ?>
        <?php
     endif; 