<span class="glyphicon glyphicon-arrow-down hidden"></span>
<span class="glyphicon glyphicon-arrow-up hidden"></span>
<hr>
<?php if ($total > 0): ?>
    <h3>Результаты (<?php echo $total ?>)</h3>
    <table class="search-result table table-hover">
        <thead>
            <tr>
                <th></th>
                <th class="sortable col-md-7" data-column="Name">Наименование организации/ФИО индивидуального предпринимателя, указанные на бланке свидетельства</th>
                <th class="sortable col-md-1" data-column="Reg">Рег. номер</th>
                <th class="sortable col-md-1" data-column="Serial">Серия, номер бланка</th>
                <th class="sortable col-md-1" data-column="IssueDate">Дата выдачи</th>
                <th class="sortable col-md-1" data-column="EndDate">Срок действия</th>
                <th class="sortable col-md-1" data-column="Status">Статус</th>
            </tr>
        </thead>
        <tbody>


            <?php foreach ($certificates as $certificate): ?>
                <tr data-id="<?php echo $certificate->Guid ?>" data-organization="<?php echo (int) $organization ?>">
                    <?php
                    $imageSources = [
                        'active' => [
                            'image' => 'ok-icon.png',
                            'description' => 'Все приложения, которые содержит данное свидетельство, имеют статус "Действующее"',
                        ],
                        'inactive' => [
                            'image' => 'cancel-icon.png',
                            'description' => 'Присутствует одно/несколько приложений, которые имеют статус "Недействующее"',
                        ],
                        'attainted' => [
                            'image' => 'red-icon.png',
                            'description' => 'Присутствует одно/несколько приложений, которые имеют статус "Лишено в отношении отдельных уровней укрупненных групп специальностей и направлений подготовки". Кроме того некоторые приложения могут иметь статус: "Приостановлено в отношении отдельных уровней образования, укрупненных групп специальностей и направлений подготовки"',
                        ],
                        'suspended' => [
                            'image' => 'yellow-icon.png',
                            'description' => 'Присутствует одно/несколько приложений, которые имеют статус "Приостановлено в отношении отдельных уровней образования, укрупненных групп специальностей и направлений подготовки"',
                        ],
                    ];

                    $key = 'active';


                    if ((int)$certificate->Inactive === (int)$certificate->Total) {
                        $key = 'inactive';
                    } elseif ((int)$certificate->Attainted > 0) {
                        $key = 'attainted';
                    } elseif ((int)$certificate->Suspended > 0) {
                        $key = 'suspended';
                    } else {
                        $key = 'active';
                    }
                    //Начало блока с костылями
                    if((int)$certificate->Total === 0){
                        $key = 'active';
                    }
                    if($certificate->CertificateStatusName === 'Недействующее'){
                        $key = 'inactive';
                    }
                    //Конец блока с костылями
                    ?>
                    <td><img src="<?php echo $this->basePath("img/{$imageSources[$key]['image']}") ?>" title="<?php echo $this->escapeHTML($imageSources[$key]['description']) ?>"></td>
                    <?php if ($organization): ?>
                        <td><?php echo $this->escapeHTML($certificate->EduOrgFullName) ?></td>
                    <?php else: ?>
                        <td><?php
                        echo $this->escapeHTML(
                                sprintf('%s %s %s', $certificate->IndividualEmployeeLastName, $certificate->IndividualEmployeeFirstName, $certificate->IndividualEmployeeMiddleName))
                        ?></td>
                        <?php endif; ?>
                    <td><?php echo $this->escapeHTML($certificate->RegNumber) ?></td>
                    <td><?php echo $this->escapeHTML(sprintf('%s %s', $certificate->SerialNumber, $certificate->FormNumber)) ?></td>
                    <td>
                        <?php
                        if (!empty($certificate->IssueDate)) {
                            echo date('d.m.Y', strtotime($certificate->IssueDate));
                        }
                        ?>
                    </td>
                    <td>
                        <?php
                        if (!empty($certificate->EndDate)) {
                            echo date('d.m.Y', strtotime($certificate->EndDate));
                        }
                        ?>
                    </td>
                    <td><?php echo $this->escapeHTML($certificate->CertificateStatusName) ?></td>
                </tr>
            <?php endforeach; ?>

        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
            $paginator, 'sliding', 'partial/paginator', [
        'route' => 'accredreestr/search',
    ]);
    ?>
<?php else: ?>
    <h3>Ничего не найдено</h3>
<?php endif; ?>
<script>
    var column = '<?php echo $column ?>';
    var type = '<?php echo $type ?>';
    var templateDown = $('.glyphicon-arrow-down').clone().removeClass('hidden');
    var templateUp = $('.glyphicon-arrow-up').clone().removeClass('hidden');
    $('th[data-column="' + column + '"]').attr('data-type', type);
    $('th[data-column="' + column + '"]').prepend(type === 'ASC' ? templateUp : templateDown);
</script>
