<style>@media print {
  .bordered .paddings .form-horizontal, .bordered .paddings small, span[data-control], img.img-responsive {display:none;}
  .table-bordered, .row .table-filled {border-collapse: collapse;}
  .table-bordered tbody tr td, .table-bordered thead tr th, .hidden thead tr th {border: 1px solid #000; border-spacing:0px; padding:2px;}
  .row .table-filled {width:100%; margin-top:10px;}
  .search-result tbody td .table-bordered {width:100%;}
  .search-result thead:first-child tr th {display: none;}
  .search-result tbody .td_bord {padding-top:20px;}
  .bordered {border: 1px solid #fff;}
  .search-result .name_bold td {font-weight:bold;}
}
</style>
<script>
    $(function () {

    $('[data-control]').on('click', function () {
    var target = $(this).attr('data-target');
    if ($(this).is('[data-load]')) {
    $.ajax({
    url: '<?php echo $this->url('accredreestr/supplement'); ?>' + target + '/',
            type: 'POST',
            dataType: 'html',
            success: function (data) {
            onLoadSuccess(data, target);
            },
            error: function (error) {
            console.log(error);
            }
    });
    } else {
    $('[data-name="' + target + '"]').toggleClass('hidden');
    }
    return false;
    });
    function onLoadSuccess(data, target) {
    $('[data-name="' + target + '"] > td').html(data);
    $('[data-name="' + target + '"]').toggleClass('hidden');
    }
    function onSearchSuccess(data) {

    if (data.status === 'OK'){
    for (var id of data.found){
    $('[data-target=' + id + ']').addClass('found');
    }
    }
    }

    function searchAjax(supplements, code, level, success) {
    var urlParams = '?code=' + code + '&level=' + level;
    for (var id of supplements){
    urlParams += '&supplements[]=' + id;
    }
    $.ajax({
    url: '<?php echo $this->url('accredreestr/details', ['action' => 'search']); ?>' + urlParams,
            type: 'get',
            dataType: 'json',
            success: function (data) {
            success(data);
            },
            error: function (error) {
            console.error(error);
            }
    });
    }
    $('button[data-action=search').on('click', function () {
    var code = $('#code').val();
    var level = $('#level').val();
    $('[data-load]').removeClass('found');
    var supplements = [];
    $('[data-load]').each(function(k, v){
    var id = $(v).attr('data-target');
    supplements.push(id);
    });
    searchAjax(supplements, code, level, onSearchSuccess);
    return false;
    });
    });
</script>

<div class="row">
    <div class="col-sm-2">
        <a href="http://www.obrnadzor.gov.ru/" target="_blank">
            <img class="img-responsive" src="<?php echo $this->basePath('img/logo_old.gif') ?>"/>
        </a>
    </div>
    <div class="col-sm-10">
        <h1>Сведения о выбранном свидетельстве</h1>
    </div>

</div>
<div class="row">
    
   
    <?php if ($organization): ?>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Сведения об образовательной организации или организации, осуществляющей обучение</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Субъект РФ</td>
                    <td><?php echo $this->escapeHTML($details->RegionName) ?></td>
                </tr>
                <tr>
                    <td>Полное наименование образовательной организации или организации, осуществляющей обучение</td>
                    <td><?php echo $this->escapeHTML($details->FullName) ?></td>
                </tr>
                <tr>
                    <td>Сокращённое наименование образовательной организации или организации, осуществляющей обучение</td>
                    <td><?php echo $this->escapeHTML($details->ShortName) ?></td>
                </tr>
                <tr>
                    <td>Место нахождения образовательной организации или организации, осуществляющей обучение</td>
                    <td><?php echo $this->escapeHTML($details->PostAddress) ?></td>
                </tr>
                <tr>
                    <td>ИНН</td>
                    <td><?php echo $this->escapeHTML($details->INN) ?></td>
                </tr>
                <tr>
                    <td>ОГРН</td>
                    <td><?php echo $this->escapeHTML($details->OGRN) ?></td>
                </tr>
                <!--tr>
                    <td>ФИО руководителя</td>
                    <td><?php echo $this->escapeHTML($details->HeadName) ?></td>
                </tr>
                <tr>
                    <td>Должность руководителя</td>
                    <td><?php echo $this->escapeHTML($details->HeadPost) ?></td>
                </tr>
                <tr>
                    <td>Телефон(ы)</td>
                    <td><?php echo $this->escapeHTML($details->Phone) ?></td>
                </tr>
                <tr>
                    <td>Факс(ы)</td>
                    <td><?php echo $this->escapeHTML($details->Fax) ?></td>
                </tr>
                <tr>
                    <td>Электронная почта</td>
                    <td><?php echo $this->escapeHTML($details->Email) ?></td>
                </tr>
                <tr>
                    <td>Веб-сайт</td>
                    <td><?php echo $this->escapeHTML($details->WebSite) ?></td>
                </tr-->
                <tr>
                    <th colspan="2">Общие сведения о государственной аккредитации</th>
                </tr>
                <tr>
                    <td>Дата выдачи свидетельства</td>
                    <td>
                        <?php
                        if (!empty($certificate->IssueDate)) {
                            echo date('d.m.Y', strtotime($certificate->IssueDate));
                        }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td>Регистрационный номер свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->RegNumber) ?></td>
                </tr>
                <tr>
                    <td>Серия, номер бланка свидетельства</td>
                    <td><?php echo $this->escapeHTML(sprintf('%s %s', $certificate->SerialNumber, $certificate->FormNumber)) ?></td>
                </tr>
                <tr>
                    <td>Срок действия свидетельства</td>
                    <td>
                        <?php
                        if (!empty($certificate->EndDate)) {
                            echo date('d.m.Y', strtotime($certificate->EndDate));
                        }
                        ?>
                    </td>
                <tr>
                    <td>Вид свидетельства (свидетельство, временное свидетельство)</td>
                    <td><?php echo $this->escapeHTML($certificate->TypeName) ?></td>
                </tr>
                </tr>
                <tr>
                    <td>Текущий статус свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->StatusName) ?></td>
                </tr>
                <tr>
                    <td>Наименование аккредитационного органа, выдавшего свидетельство</td>
                    <td><?php echo $this->escapeHTML($certificate->ControlOrgan) ?></td>
                </tr>
                <tr>
                    <td>Дата публикации сведений в сводном реестре</td>
                    <td>
                        <?php
                        if (!empty($certificate->GISDate)) {
                            echo date('d.m.Y', strtotime($certificate->GISDate));
                        }
                        ?>
                    </td>
                </tr>
                <!--tr>
                    <td>Полное наименование образовательной организации или организации, осуществляющей обучение, указанное на бланке свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->EduOrgFullName) ?></td>
                </tr>
                <tr>
                    <td>Сокращённое наименование образовательной организации или организации, осуществляющей обучение, указанное на бланке свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->EduOrgShortName) ?></td>
                </tr>
                <tr>
                    <td>Местонахождение образовательной организации или организации, осуществляющей обучение, указанное на бланке свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->PostAddress) ?></td>
                </tr>
                <tr>
                    <td>ИНН, указанный на бланке свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->EduOrgINN) ?></td>
                </tr>
                <tr>
                    <td>ОГРН, указанный на бланке свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->EduOrgOGRN) ?></td>
                </tr-->
            </tbody>
        </table>
    <?php else: ?>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="2">Сведения об индивидуальном предпринимателе</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ФИО индивидуального предпринимателя</td>
                    <td><?php
                        echo $this->escapeHTML(
                                sprintf('%s %s %s', $details->LastName, $details->FirstName, $details->MiddleName))
                        ?></td>
                </tr>
                <tr>
                    <td>Место жительства индивидуального предпринимателя</td>
                    <td><?php echo $this->escapeHTML($details->PostAddress) ?></td>
                </tr>
                <tr>
                    <td>ИНН</td>
                    <td><?php echo $this->escapeHTML($details->INN) ?></td>
                </tr>
                <tr>
                    <td>Номер государственной регистрации в ЕГРИП</td>
                    <td><?php echo $this->escapeHTML($details->EGRIP) ?></td>
                </tr>
                <tr>
                    <th colspan="2">Общие сведения о государственной аккредитации</th>
                </tr>
                <tr>
                    <td>Регистрационный номер свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->RegNumber) ?></td>
                </tr>
                <tr>
                    <td>Вид свидетельства (свидетельство, временное свидетельство)</td>
                    <td><?php echo $this->escapeHTML($certificate->TypeName) ?></td>
                </tr>
                <tr>
                    <td>Дата выдачи свидетельства</td>
                    <td><?php
                        if (!empty($certificate->IssueDate)) {
                            echo date('d.m.Y', strtotime($certificate->IssueDate));
                        }
                        ?></td>
                </tr>
                <tr>
                    <td>Срок действия свидетельства</td>
                    <td><?php
                        if (!empty($certificate->EndDate)) {
                            echo date('d.m.Y', strtotime($certificate->EndDate));
                        }
                        ?></td>
                </tr>
                <tr>
                    <td>Текущий статус свидетельства</td>
                    <td><?php echo $this->escapeHTML($certificate->StatusName) ?></td>
                </tr>
                <tr>
                    <td>Серия, номер бланка свидетельства</td>
                    <td><?php echo $this->escapeHTML(sprintf('%s %s', $certificate->SerialNumber, $certificate->FormNumber)) ?></td>
                </tr>
                <tr>
                    <td>Наименование аккредитационного органа, выдавшего свидетельство</td>
                    <td><?php echo $this->escapeHTML($certificate->ControlOrgan) ?></td>
                </tr>
                <tr>
                    <td>Дата публикации сведений в сводном реестре</td>
                    <td><?php
                        if (!empty($certificate->GISDate)) {
                            echo date('d.m.Y', strtotime($certificate->GISDate));
                        }
                        ?></td>
                </tr>
                <tr>
                    <td>ФИО индивидуального предпринимателя, указанное на бланке свидетельства</td>
                    <td><?php
                        echo $this->escapeHTML(
                                sprintf('%s %s %s', $certificate->IndividualEmployeeLastName, $certificate->IndividualEmployeeFirstName, $certificate->IndividualEmployeeMiddleName))
                        ?></td>
                </tr>
            </tbody>
        </table>
    <?php endif; ?>
</div>
<div class="row">
    <span data-target="additional-info" data-control>Показать/Скрыть дополнительную информацию</span>
    <a class="button button1" href="/eo/index/certificate-excerpt/<?= $certificate->Id ?>">Выписка с ОП</a> 
    <a class="button button1" href="/eo/index/certificate-excerpt-no-program/<?= $certificate->Id ?>">Выписка</a> 
    <table class="table table-filled hidden" data-name="additional-info">
        <thead>
            <tr>
                <th>Тип решения</th>
                <th>Основание решения</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($decisions as $decision): ?>
                <?php
                if (empty($decision)) {
                    continue;
                }
                ?>
                <tr>
                    <td><?php echo $this->escapeHTML($decision->Name) ?></td>
                    <td><?php
                        if (!empty($decision->Date)) {
                            echo $this->escapeHTML(sprintf('%s от %s №%s', $decision->Kind, date('d.m.Y', strtotime($decision->Date)), $decision->Number));
                        }
                        ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<div class="row bordered">
    <div class="paddings">
        <h3>Приложения к свидетельству</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <span class="col-sm-6 control-label">Код образовательной программы:</span>              
                <div class="col-sm-5"> 
                    <input type="text" class="form-control" id="code">                                    
                </div>
            </div>
            <div class="form-group">
                <span class="col-sm-6 control-label">Уровень образования:</span>              
                <div class="col-sm-5"> 
                    <select class="form-control" id="level">
                        <?php foreach ($eduLevels as $key => $value): ?>
                            <option value="<?php echo $key ?>"><?php echo $this->escapeHTML($value) ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="form-group">            
                <div class="col-sm-offset-6 col-sm-5"> 
                    <button class="btn btn-default" data-action="search">Искать</button>                            
                </div>
            </div>
        </div>
        <small>Для просмотра перечня аккредитованных образовательных программ перейдите по ссылке в приложение</small>
    </div>
    <table class="table table-filled table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование образовательной организации (филиала) или организации, осуществляющей обучение (филиала)/ФИО индивидуального предпринимателя</th>
                <th>Распорядительный акт о выдаче</th>
                <th>Текущий статус</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($supplements as $supplement): ?>
                <?php
                if (empty($supplement)) {
                    continue;
                }
                ?>
                <tr data-target="<?php echo $supplement->_id ?>" data-control data-load class="name_bold clickable">
                    <td class="td_bord"><?php echo $this->escapeHTML($supplement->OrderNumber) ?></td>
                    <td class="td_bord"><?php echo $this->escapeHTML(empty($supplement->Name) ? ($organization ? $details->FullName : sprintf('%s %s %s', $details->LastName, $details->FirstName, $details->MiddleName)) : $supplement->Name) ?></td>
                    <td  class="td_bord" data-name="decision" data-issue-date="<?php //echo $supplement->IssueDate?>" ><?php
                        if (!empty($supplement->Date)) {
                            echo $this->escapeHTML(sprintf('%s от %s №%s', $supplement->Kind, date('d.m.Y', strtotime($supplement->Date)), $supplement->Number));
                        }
                        ?></td>
                    <td class="td_bord"><?php echo $this->escapeHTML($supplement->StatusName) ?></td>
                </tr>
                <tr class="hidden" data-name="<?php echo $supplement->_id ?>">
                    <td colspan="4">
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<script>
//	$(function(){
//
//		$('[data-name="decision"]').each(function(k,v){
//			var item = $(v);
//			if(item.text() === ''){
//				item.text(findByDate(item.attr('data-issue-date')));
//			}
//		});
//
//		function findByDate(date){
//			var value = '';
//			$('[data-issue-date="' + date + '"]').each(function(k,v){
//				var item = $(v);
//				if(item.text() !== '' && item.attr('data-issue-date') === date){
//					value = item.text();
//				}
//			});
//			return value;
//		}
//
//	});
</script>