<h4>Содержимое приложения</h4>

<?php if (!empty($branch)): ?>

    <table class="table table-bordered">
        <caption>Сведения о филиале образовательной организации или организации, осуществляющей обучение</caption>
        <tbody>
            <tr>
                <td>Полное наименование образовательной организации или организации, осуществляющей обучение</td>
                <td><?php echo $this->escapeHTML($branch->FullName); ?></td>
            </tr>
            <tr>
                <td>Сокращённое наименование образовательной организации или организации, осуществляющей обучение</td>
                <td><?php echo $this->escapeHTML($branch->ShortName); ?></td>
            </tr>
            <tr>
                <td>Место нахождения образовательной организации или организации, осуществляющей обучение</td>
                <td><?php echo $this->escapeHTML($branch->PostAddress); ?></td>
            </tr>
            <!--tr>
                <td>ФИО руководителя</td>
                <td><?php echo $this->escapeHTML($branch->HeadName); ?></td>
            </tr>
            <tr>
                <td>Должность руководителя</td>
                <td><?php echo $this->escapeHTML($branch->HeadPost); ?></td>
            </tr>
            <tr>
                <td>Телефон(ы)</td>
                <td><?php echo $this->escapeHTML($branch->Phone); ?></td>
            </tr>
            <tr>
                <td>Факс(ы)</td>
                <td><?php echo $this->escapeHTML($branch->Fax); ?></td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td><?php echo $this->escapeHTML($branch->Email); ?></td>
            </tr>
            <tr>
                <td>Веб-сайт</td>
                <td><?php echo $this->escapeHTML($branch->WebSite); ?></td>
            </tr-->
        </tbody>
    </table>
<?php endif; ?>
<table class="table table-bordered">
    <caption>Сведения о приложении</caption>
    <tbody>
        <tr>
            <td>Серия, номер бланка приложения</td>
            <td><?php echo $this->escapeHTML(sprintf('%s %s', $supplement->SerialNumber, $supplement->FormNumber)); ?></td>
        </tr>
        <tr>
            <td>Текущий статус приложения</td>
            <td><?php echo $this->escapeHTML($supplement->StatusName); ?></td>
        </tr>
        <?php if (!empty($branch)): ?>
            <!--tr>
                <td>Полное наименование филиала образовательной организации или организации, осуществляющей обучение, указанное на бланке приложения</td>
                <td><?php echo $this->escapeHTML($supplement->EduOrgFullName); ?></td>
            </tr>
            <tr>
                <td>Сокращённое наименование филиала образовательной организации или организации, осуществляющей обучение, указанное на бланке приложения</td>
                <td><?php echo $this->escapeHTML($supplement->EduOrgShortName); ?></td>
            </tr>
            <tr>
                <td>Место нахождения филиала образовательной организации или организации, осуществляющей обучение, указанное на бланке приложения</td>
                <td><?php echo $this->escapeHTML($supplement->EduOrgAddress); ?></td>
            </tr-->
        <?php endif; ?>
        <tr>
            <td>Дополнительные сведения</td>
            <td><?php echo $this->escapeHTML($supplement->Note); ?></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-filled">
    <caption>Сведения о принятых решениях по приложению</caption>
    <thead>
        <tr>
            <th>Тип решения</th>
            <th>Основание решения</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($decisions as $decision): ?>
            <?php
            if (empty($decision)) {
                continue;
            }
            ?>
            <tr>
                <td><?php echo $this->escapeHTML($decision->Name); ?></td>
                <td><?php
                    if (!empty($decision->Date)) {
                        echo $this->escapeHTML(sprintf('%s от %s №%s', $decision->Kind, date('d.m.Y', strtotime($decision->Date)), $decision->Number));
                    }
                    ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<table class="table table-bordered table-filled cells-centered" data-supplement-id="<?php echo $supplement->id ?>">
    <caption>Аккредитованные образовательные программы</caption>
    <thead>
        <tr>
            <th>Код УГС</th>
            <th>Наименование УГС</th>
            <th>Код</th>
            <th>Наименование</th>
            <!--th>Наименование квалификации</th-->
            <th>Уровень образования</th>
            <?php if($supplement->StatusName !== 'Недействующее') :?>
            <th>Приостановление</th>
            <th>Лишение</th>
            <?php endif; ?>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($programms as $programm): ?>
            <?php
            if (empty($programm)) {
                continue;
            }
            ?>
            <tr data-pcode="<?php echo $this->escapeHTML($programm->ProgrammCode); ?>" 
                data-plevel="<?php echo $this->escapeHTML($programm->edulevel_id); ?>"
                data-source="programms">
                <td data-column="UGSCode"><?php echo $this->escapeHTML($programm->UGSCode); ?></td>
                <td data-column="UGSName"><?php echo $this->escapeHTML($programm->UGSName); ?></td>
                <td><?php echo $this->escapeHTML($programm->ProgrammCode); ?></td>
                <td><?php echo $this->escapeHTML($programm->ProgrammName); ?></td>
                <!--td><?php echo $this->escapeHTML($programm->Qualification); ?></td-->
                <td data-column="LevelName"><?php echo $this->escapeHTML($programm->LevelName); ?></td>
                <?php if($supplement->StatusName !== 'Недействующее') :?>
                <td data-colored><?php echo (int) $programm->Suspended ? 'Да' : 'Нет'; ?></td>
                <td data-colored><?php echo (int) $programm->Canceled ? 'Да' : 'Нет'; ?></td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script>

    $('td[data-colored]').each(function(k,v){
        if($(v).text() === 'Да'){
            $(v).css('background','#F8BBD0');
        }
    });
    var programmRows = $('[data-supplement-id="<?php echo $supplement->id ?>"] [data-source="programms"]');
    mergeEqualCells(programmRows);
</script>