<style>
    .br > span {
        display: inline-block;
        position: relative;
    }
    .title_name {
        background: #f1f1f9 none repeat scroll 0 0;
        padding: 3px 10px 3px 0;
        z-index: 3;
    }
    .bord {
        border-bottom: 2px solid;
        top: -20px;
        width: 100%;
    }
    .br {
        font-size: 15px;
        font-weight: bold;
        padding: 10px 20px;
    }
</style>

<div>
<input type="hidden" value="<?=$id_appl?>">
<form id="files_list_upload"  enctype="multipart/form-data" target="hiddenframe" method="POST" action="/ron/declaration/save-file/<?=$id_appl?>" >
<table class="TableFile">
    <tr  class="tr-row-in-t-6"><td colspan="2"><div class="br"><span class="title_name">Первичные документы</span><span class="bord"></span></div></td></tr>
    <?php 
        if(count($arrayDocs)>0){
            $maySent=1;
            foreach($arrayDocs as $oneDoc){
    ?>
                <tr>
                    <td><span class="labelText"><?=$oneDoc['Name']?><?=($oneDoc['Obligation']==1)? '*' : '' ; ?></span></td>
                    <td width="340" style="word-break: break-all;">
                        <div class="containerWrapFile">
                            <div class="FileListWrap <?=$oneDoc['Id']?> <?=($oneDoc['Obligation']==1)? 'importantFiles' : '' ; ?>" >
                            <?php 
                                if(count($oldDoc)>0){
                                    $realCount=0;
                                    foreach($oldDoc as $oneOldDoc){
                                        if(!empty($oneOldDoc['HashName'])&&!empty($oneOldDoc['RealName'])){
                                            if($oneOldDoc['fk_isgaDocumentType']==$oneDoc['Id']){
                                               
                                                echo '<div style="min-height:34px;" id="'.$oneOldDoc['Id'].'"><a style="float: left;    max-width: 255px;" target="_blank" href="/uploads/'.$oneOldDoc['HashName'].'"  download="'.$oneOldDoc['RealName'].'">'.$oneOldDoc['RealName'].'</a>
                                                <button style="float: right; margin-right: 5px; vertical-align: top;" onclick="correctForm($(this))">Добавить</button>
        
                                                </div>';
                                                $realCount+=1;
                                            }
                                        }
                                    }
                                    if($realCount==0&&$oneDoc['Obligation']==1){
                                        echo '<input type="hidden" class="maySent" value="0">';
                                        $maySent=0;
                                    }
                                }else{
                                    if($oneDoc['Obligation']==1){
                                        echo '<input type="hidden" class="maySent" value="0">';
                                        $maySent=0;
                                    }
                                }
                            ?>
                        </div>
                        </div>
                    </td>
                </tr>
    <?php   }
            if(count($application_types_without_reason) > 0){
                
                foreach($application_types_without_reason as $key => $type){?>
                <tr> 
                    <td><span class="labelText"><?=$type?></td>
                    <td width="340" style="word-break: break-all;">
                        <div class="containerWrapFile">
                            <div class="FileListWrap <?=$key?>" >
                                <?php foreach($oldDoc as $oneOldDoc){ 
                                    if(!empty($oneOldDoc['HashName'])&&!empty($oneOldDoc['RealName'])){
                                        if(mb_strtolower($oneOldDoc['fk_isgaDocumentType'], 'UTF-8') == $key){
                                            echo '<div id="'.$oneOldDoc['Id'].'"><a target="_blank" href="/uploads/'.$oneOldDoc['HashName'].'" download="'.$oneOldDoc['RealName'].'">'.$oneOldDoc['RealName'].'</a></div>';
                                        }
                                    }
                                }
                                ?>
                            </div>
                        </div>
                     </td>
                </tr>
                     
                    <?php }
            }?>
              
        <?php    echo '<input type="hidden" id="maySent" value="'.$maySent.'">';
        }else{
            if(count($dop_docs) <= 0){
                echo '<tr><td class="bgcolor">Нет документов для этого типа заявки</td></tr>';
            }
        }
    
    ?>  
   
    
</table>
     <div id="result"></div>
 </form>

<form id="form_dop_files_list_upload"  enctype="multipart/form-data" target="hiddenframe" method="POST" action="/ron/declaration/save-dop-files/<?=$id_appl?>" >
    <table class="TableFile">
        <?php if(count($dop_docs) > 0){
        foreach($dop_docs as $type_id => $dop_doc):?>
            <tr>
                <td><span class="labelText"><?=(array_key_exists($type_id, $application_document_types))?$application_document_types[$type_id] : ""?></span></td>
                <td width="340" style="text-align: left; word-break: break-all;">
                    <div class="containerWrapFile">
                        <!--div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success <?=$type_id?>"></div>
                        </div-->
                        <div class="FileListWrap <?=$type_id?>" >
                            <?php foreach($dop_doc as $document):
                                if (empty($document['FtpDirectoryUrl']) || empty($document['RealFileName'])) {
                                    continue;
                                }
                                ?>
                            <div><a href="/uploads/<?=$document['FtpDirectoryUrl']?>" target="_blank" download="<?=$document['RealFileName']?>"><?=$document['RealFileName']?></a></div>
                            <?php endforeach;?>
                        </div>
                    </div>
                </td>
            </tr>
        <?php endforeach;
        }?>
    </table>
</form>
<table>
    <tr  class="tr-row-in-t-6"><td colspan="2"><div class="br"><span class="title_name">Документы для проведения аккредитационной экспертизы</span><span class="bord"></span></div></td></tr>

    <?php foreach ($applicationExtraDocument as $value){ ?>
        <tr>
            <td>
                <?= $value['eduProgramSelectNew']?>
            </td>
            <td>
                <a href="/eo/declaration/getApplicationExtraDocumentFile/<?= $value['id']?>"><?= $value['RealName']?></a>
            </td>
        </tr>
    <?php } ?>

</table>
<table>
    <tr  class="tr-row-in-t-6"><td colspan="2"><div class="br"><span class="title_name">Запросы дополнительных материалов</span><span class="bord"></span></div></td></tr>
</table>
    <button id="request-extra-doc-btn">Запрос дополнительных материалов</button>
    <table>
        <tr>
            <td>Файл</td>
            <td>Ссылка</td>
        </tr>
        <?php
        $file_corrupts = $application_file_corrupt->toArray();
        foreach (array_reverse($file_corrupts) as $file_corrupt){
            $new = $file_corrupt;
            ?>
            <tr>
    <td><?=$file_corrupt['RealName']?></td>
    <td> <a href="<?=$file_corrupt['HashName']?>">Скачать</a></td>
    </tr>
        <?php    };?>

    </table>
    <table class="TableFile">
        <?php if(!$cur_appl->isEmptyField("RecallApplicationScan")):?>
            <tr>
                <td><span class="labelText">Заявление об отзыве</span></td>
                <td width="340" style="word-break: break-all;">
                    <div class="containerWrapFile">
                        <div class="FileListWrap " >
                            <div>
                                <span class="MultiFile-remove" >x</span>
                                <a href="/uploads/<?=$cur_appl->getField("RecallApplicationScan")?>" target="_blank" download="<?=$cur_appl->getField("RecallApplicationScanFileName")?>"><?=$cur_appl->getField("RecallApplicationScanFileName")?></a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <?php  endif; ?>
    </table>
</div>

<div class="loading-overlay" style="display: none;"><div class="windows8"><div class="wBall" id="wBall_1" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_2" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_3" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_4" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div>   <div class="wBall" id="wBall_5" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div></div><div class="loading-overlay-message">Загрузка...</div></div>


<div class="popup" id="extra-doc-request-form">


    <?php echo $this->partial('popup/popup-extra-doc-request.phtml', [
        'data' => [
            'oop'           => $oop,
            'expertise_id' => $expertise_id,
            'programm-id' => $id_appl,
            'ugs' => 22,
            'organization' => $educationOrganization,
            'application' => $cur_appl,
            'chairman' => $chairman
        ], 'model' => 'Ron']); ?>


</div>

<div class="popup" id="correct-document-form">

    <?php echo $this->partial('popup/popup-extra-doc-correct.phtml', [
        'data' => [
            'expertise_id' => $expertise_id,
            'programm-id' => $id_appl,
            'ugs' => 22,
            'organization' => $educationOrganization,
            'application' => $cur_appl,
            'chairman' => $chairman
        ], 'model' => 'Ron']); ?>
</div>


<script>

    function correctForm() {
        $('#correct-document-form').show();

    }
    $(".popup").delegate(".cboxClose_end", "click", function () {
        $("#correct-document-form").hide();
    });


$(".popup").delegate(".cboxClose_end", "click", function () {
    $("extra-doc-request-form").hide();
});
</script>