<style>
    .progress{
        display:none;
    }
</style>
<div class="tab-content-overflow">
<table class="TableFile">
    <?php 
        if(count($arrayDocs)>0){
            $maySent=1;
            foreach($arrayDocs as $oneDoc){
    ?>
                <tr>
                    <td><span class="labelText"><?=$oneDoc['Name']?><?=($oneDoc['Obligation']==1)? '*' : '' ; ?></span></td>
                    <td width="340">
                        <div class="containerWrapFile">
                            <?php
                                    if (count($oldDoc) > 0) {
                                        $realCount = 0;
                                        foreach ($oldDoc as $oneOldDoc) {
                                            $path = str_replace("/public", "", $oneOldDoc['HashName']);
                                            $path = str_replace("/uploads", "", $path);
                                            $full_path =str_replace('//','/','/uploads/'.$path);
                                            if (!empty($oneOldDoc['HashName']) && file_exists($_SERVER['DOCUMENT_ROOT'] . "/public" . $full_path)) {
                                                if ($oneOldDoc['fk_isgaDocumentType'] == $oneDoc['Id']) {
                                                    echo '<div id="' . $oneOldDoc['Id'] . '"><a target="_blank" href="' . $full_path . '"  download="' . $oneOldDoc['RealName'] . '">' . $oneOldDoc['RealName'] . '</a></div>';
                                                    $realCount+=1;
                                                }
                                            }
                                        }
                                        if ($realCount == 0)
                                            echo '<div>Документ не загружен</div>';
                                    }
                                    
                                    ?>
                        </div>
                        </div>
                    </td>
                </tr>
    <?php   }
            if(count($application_types_without_reason) > 0){
               // var_dump($application_document_types);die;
                foreach($application_types_without_reason as $key => $type){?>
                <tr> 
                    <td><span class="labelText"><?=$type?></td>
                    <td width="340">
                        <div class="containerWrapFile">
                            <div class="FileListWrap <?=$key?>" >
                                <?php
                                $realCount=0;
                                
                                foreach($oldDoc as $oneOldDoc){
                                    $path = str_replace("/public", "", $oneOldDoc['HashName']);
                                    $path = str_replace("/uploads", "", $path);
                                    $full_path =str_replace('//','/','/uploads/'.$path);
                                    if(!empty($oneOldDoc['HashName']) && file_exists($_SERVER['DOCUMENT_ROOT'] ."/public" . $full_path)){
                                        if(mb_strtolower($oneOldDoc['fk_isgaDocumentType'], 'UTF-8') == $key){
                                            echo '<div id="'.$oneOldDoc['Id'].'"><a target="_blank" href="'.$full_path.'" download="'.$oneOldDoc['RealName'].'">'.$oneOldDoc['RealName'].'</a></div>';
                                            $realCount+=1;
                                        }
                                    }
                                }
                                if($realCount == 0)
                                    echo '<div>Документ не загружен</div>';
                                ?>
                            </div>
                        </div>
                     </td>
                </tr>
                     
                    <?php }
            }?>

        <?php
        }else{
            echo '<tr><td class="bgcolor">Нет документов для этого типа заявки</td></tr>';
        }
    
    ?>  
</table>
</div>