<div class="container">
        <table class="intable ron-certificates">
            <tr>
                <th>№ процедуры</th>
                <th>Тип процедуры</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Организация</th>
                <th>Роль</th>
            </tr>
            <tbody class="content">
            <?php if(empty($expertises)){ ?>
                <tr class="td_level">
                    <td colspan="6" style="text-align: center;">
                        Записи не найдены
                    </td>
                </tr>
            <?php }else{
                foreach($expertises as $expertise){
                    $exp_inst = $orgs->getEntityById($expertise['organization_id']);
                    ?>
                    <tr id="cert_<?=$expertise["id"]?>" class="row_appl">
                        <td><?= $expertise["accreditation_number"] ?></td>
                        <td><?= $expertise["accreditation_procedure_type"]=='FullAccreditation'?'Аккр.':'ООП' ?></td>
                        <td><?= date('d.m.Y',strtotime($expertise['create_timestamp']))?></td>
                        <td><?= date('d.m.Y',strtotime($expertise["end_timestamp"])) ?></td>
                        <td><?= $exp_inst?$exp_inst->getField("FullName"):'' ?></td>
                        <td><?= isset($chairmans[$expertise["id"]])?'Руководитель':'Эксперт' ?></td>
                    </tr>
                <?php } ?>
            <?php } ?>
            </tbody>
        </table>
</div>
<div id="popup_win"></div>
<iframe id="hiddenframe" style="width:0px; height:0px; border:0px" name="hiddenframe"></iframe>
<style>
    .viewzone {overflow: hidden;}
    .viewzone .viewzone {overflow-y: auto;}
</style>
<script>
    $(document).ready(function(){
        $("#wrapper").append('<div class="footer"><ul class="nav_footer" id="footer_button"><div id="btActions-block"><li class="filelink" id="filelink"><a id="help_button" onClick="view_expertise()" href="javascript:;"><div></div><span class="text">Открыть</span></a></li></div></ul></div>');
        $('body').on('click', '#request-extra-doc-btn', function () {
            $('#extra-doc-request-form').show();
        });
        $('body').on('click', '#extra-doc-request-form .cboxClose_end', function () {
            $('#extra-doc-request-form').hide();
        });
    });

</script>

<script src="/js/generateDocumentAjaxPhp.js"></script>