<?php
    $id = "";
    $number ="";
    $date = "";
    $fileName="";
    $fileHash = "";
    $fileId ='';
    $file=null;
    $comment = '';  
    $fileDate = date('d.m.Y');
    $docTypeId = '';
    if(!empty($expertiseDocument)){
        $id = $expertiseDocument->getId();
        $number = $expertiseDocument->getFieldOrSpace('document_number');
        $date = $expertiseDocument->getDate('open_date');
        $file = $expertiseDocument->getDocumentFile();
        $comment = $expertiseDocument->getFieldOrSpace('comments');
        $expertiseId = $expertiseDocument->getFieldOrSpace('expertise_id');
        $expertId = $expertiseDocument->getFieldOrSpace('expert_id');
        $docTypeId = $expertiseDocument->getFieldOrSpace('document_type_id');
    }
    if(!empty($file)){
        $fileName = $file->getFieldOrSpace('RealName');
        $fileHash = $file->getFieldOrSpace('HashName');
        $fileDate = $file->getDate('date_create');
        $fileId = $file->getId();
    }
                //ищем какие типы низя выбирать
                $isSelectType = false;
                //$expTypeNotString = \Model\ExpertEntities\options::getOption('expertise_documents_type_not_free');
                //$expTypeNotArray = explode(',', $expTypeNotString);
                //$expTypeNotArray = array_filter($expTypeNotArray);
                $expTypeNotArray = array(1,2,9,10,8,57,11,61,27,37,52,63,64,71,29);
                $expTypeArray = array();
                if(  !in_array($docTypeId, $expTypeNotArray)){
                    $docType = new \Model\ExpertEntities\documenttype();
                    $docTypeAll = $docType->getAllBywhere(array(
                        new \Zend\Db\Sql\Predicate\NotIn('id', $expTypeNotArray),
                        ));
                    //if(!empty($docTypeAll)){
                    //    foreach ( $docTypeAll as $docTypeOne ) {
                    //        $expTypeArray[] = 
                    //    }
                    // }      
                }
    if(!empty($docTypeAll)){
        uasort($docTypeAll,function($a_obj, $b_obj){
            $a = $a_obj->getField('name');
            $b = $b_obj->getField('name');
            if ($a == $b) {
                return 0;
            }
            return ($a < $b) ? -1 : 1;
        });
    }
                
    if(empty($id)){    
                //надо создать новый документ
                
    }
    
?>
<div style="position: relative;height: 100%;" class="order-include-dialog-parent">
    <form class="order-include-dialog-form" 
          method="post" 
          target="hiddenframe"
          enctype="multipart/form-data"
          aaction="/ron/expertise/save-expertise-order-document"
          action="/ron/expertise/save-expertise-upload-document"
          >
        <table>
            <tr>
                <td colspan="2" style="white-space: nowrap;">
                    <?php if(!empty($id)){ ?>
                        <input style="display:none;" name="id" type="text" value ="<?= $id ?>">                                        
                    <?php } ?>
                    <?php if(!empty($expertiseId)){ ?>
                        <input style="display:none;" name="expertise_id" type="text" value ="<?= $expertiseId ?>">                    
                    <?php } ?>
                    <?php if(!empty($expertId)){ ?>
                        <input style="display:none;" name="expert_id" type="text" value ="<?= $expertId ?>">                    
                    <?php } ?>
                    <?php if(!empty($docTypeId) && empty($docTypeAll)){ ?>
                        <input style="display:none;" name="document_type_id" type="text" value ="<?= $docTypeId ?>">                    
                    <?php } ?>
                    <?php /*<input name="document_number" type="text" value="<?= $number ?>">*/?>
                    <input style="display:none;" class ="order-include-dialog-form-submit" type="submit" >                    

                     Тип документа
                </td>
                <td style="position:relative;">
                    <select class='document_type' style="margin-left: 10px;width: 97%"
                        
                        <?php   if(empty($docTypeAll) ){ ?>
                            disabled="disabled"
                        <?php } ?>
                            name="document_type_id"
                        >
                        <!-- required="required"-->
                        <?php if (empty($docTypeAll) && !empty($docTypeId) ){ 
                            $expTypeOne= new \Model\ExpertEntities\documenttype($docTypeId);
                            ?>
                            <option ><?php echo $expTypeOne->getFieldOrSpace('name');?></option>                                                   
                        <?php } else {?> 
                        <option value="">Выберите тип</option>
                        <?php } ?> 
                        <?php if(!empty($docTypeAll)){
                            foreach ( $docTypeAll as $expTypeOne ) {?>
                                <option 
                                    value="<?php echo $expTypeOne->getId();?>"
                                    <?php   if(!empty($docTypeId) && $docTypeId==$expTypeOne->getId()){ ?>
                                              selected="selected"                                    
                                    <?php } ?>                                
                                    >
                                    <?php echo $expTypeOne->getFieldOrSpace('name');?>
                                </option>
                            <?php }?>
                        <?php }?>
                    </select>
                </td>
            </tr>              
            <tr>
                <td colspan="2">
                     Дата загрузки
                </td>
                <td style="position:relative;">
                    <input class="field-date" required="required"  name="file_date" type="text" value="<?= $fileDate ?>"  style="padding: 0 5px;height: 30px;width: 97%" >
                    <span class="date-icon " style="right: 10px;"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                     Примечание
                </td>
                <td>
                    <input  name="comments" type="text" value="<?= $comment ?>" style="padding: 0 5px;height: 30px;width: 97%" >
                </td>
            </tr>
            <tr>
                <td>
                    Файл
                </td>
                <td class="info-file"></td>
                <td>
                    <input onchange="doChangeFile($(this));" accept="application/pdf,  application/zip, .sig, .zNN, .rNN"  name="file" type="file" style="width: 97%" >
                    <?php  if(!empty($file)){?>
                        <a style="margin-left: 10px;display: inline-block;" href="/downloadfile.php?name=/uploads/<?= $fileHash ?>" download="<?= $fileName ?>" target="_blank"><?= $fileName ?></a>
                    <?php } ?>

                    <script>

//                        $(function(){
//                            $('body').on('change',".order-include-dialog-form input[type=file]",function(){
//                                var  url = '<?//=$this->url('ron/default',['controller'=>"expertise","action"=>"saveTempReport"])?>//';
//                                console.log(url);
//                                var data = new FormData();
//                                if($('.order-include-dialog-form input[name="file"]')[0].files[0] != 'undefined') {
//                                    data.append('file', $('.order-include-dialog-form input[name="file"]')[0].files[0]);
//                                    $(".loading-overlay").show();
//                                    $.ajax({
//                                        url: url,
//                                        data: data,
//                                        processData: false,
//                                        contentType: false,
//                                        cache: false,
//                                        type: 'POST',
//                                        success: function (data) {
//                                            var obj = JSON.parse(JSON.stringify(data));
//                                            console.log(obj);
//                                            $(".loading-overlay").hide();
//                                            if (obj['answer'] == "error") {
//                                                useTopHoverTitleError(obj['status']);
//
//                                                var nameFile = obj['name'];
//                                                var isError = $('span').hasClass("error-alert");
//                                                if (!isError) {
//                                                    //$(".info-file").html("<span class='error-alert'></span>");
//                                                    $(".info-file").html("<span class='error-alert'></span>");
//                                                }
//                                                /*GOTO Удалить строку*/
//                                                //$(".commission-button.order-include-dialog-ok").removeClass("notActive");
//
//                                            } else {
//                                                //obj['tmp']
//                                                $(".commission-button.order-include-dialog-ok").removeClass("notActive");
//
//                                                var nameFile = obj['name'];
//                                                if (!$('span').hasClass("MultiFile-remove")) {
//                                                    $(".file-loaded").html("<span class='MultiFile-remove'></span> " + nameFile);
//                                                }
//                                                if (!$('span').hasClass("ok-greene")) {
//                                                    $(".file-loaded").html("<span class='ok-green'></span> " + nameFile);
//                                                }
//
//                                            }
//                                        }
//                                    });
//                                }
//
//                            });
//
//                        });
                    </script>
                </td>
            </tr>
        </table>
    </form>
    <div style="float: right;position: absolute;right: 0;bottom: 10px;">
        <div  class="documented-button order-include-dialog-ok">
            Сохранить
        </div>
        <div  class="documented-button order-include-dialog-cancel">
            Отмена
        </div>
    </div>
</div>

<script>

    jQuery(".order-include-dialog-cancel").click(function(){
        jQuery(".order-include-dialog-parent").parent().remove();
    });

    jQuery(".order-include-dialog-ok").click(function(){
        if($('.document_type').val() == "" || $('input[name="file"]').val() == ""){
            useTopHoverTitleError("Заполните обязательные поля");
            if($('.document_type').val() == ""){
                $('.document_type').css({'border':'1px solid red'});
            }else{
                $('.document_type').css({'border':'none'});
            }
            if($('input[name="file"]').val() == ""){
                $('input[name="file"]').css({'border':'1px solid red'});
            }else{$('input[name="file"]').css({'border':'none'});}
        }else{
            jQuery(".order-include-dialog-form-submit").click();
        }
    });

    //Вешаем обработчики на календари
    $(".field-date", ".order-include-dialog-parent").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd.mm.yy",
    });
    $(".date-icon", ".order-include-dialog-parent").click(function () {
        $(this).parent().find("input").focus();
    })

    function expertiseUploadDocumentSaveOk(){
        //var document_type_id = jQuery('form.order-include-dialog-form input[name="document_type_id"]').val();
        useTopHoverTitle("Данные записаны",2000);
        jQuery('.order-include-dialog-cancel').click();
        jQuery('#list_tabs a[tab="30"]').click();
        //var dContent =jQuery('.docdialog');
        //jQuery(dContent).html('');        
        //expertContractEditDialogLoad(dContent);        
        //jQuery(".order-include-dialog-cancel").click();
        //jQuery('.tab-expertise-for-document').show();
        //обновить вкладку Документы для эксперт, если изменен договор с экспертом
        //if((document_type_id == "9" || document_type_id == 9) && jQuery('#list_tabs .tab-expertise-for-document').is('.active')){
        //    jQuery('#list_tabs .tab-expertise-for-document').click();
        //}
    }

</script>

<style>

.order-include-dialog-parent span.date-icon {
    background-image: url("/js/jquery.ui/images/ui-icons_ef5f48_256x240.png");
    background-position: -112px -112px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: 10px;
    cursor: pointer;
}

.order-include-dialog-parent input{
    width: 100%;
    margin-left: 10px;
}
.order-include-dialog-parent td{
    padding-bottom:  5px;
    padding-top:   5px;
}
</style>
