<?php /**
 *   url:  /ron/expertise/get-expertise-expert-documented-dialog/ид-чего-то
 *   path: /module/Ron/view/ron/expertise/get-expertise-expert-documented-dialog.phtml
*/ ?>
<div class="docdialog">
    <div class="docdialog-viewzone">
        <div class="container">
            <div class="table-container">
                <input type="hidden" name="expert_id" value="<?= $expertId ?>">
                <table class="intable" width="100%">
                    <thead>
                        <tr>
                            <th>Тип документа</th>
                            <th>От</th>
                            <th>Номер</th>
                            <th>Имя файла</th>
                            <th>Примечание</th>
                            <th>Загружено</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if(!empty($expertiseDocument)):
                            //отсортирауем
                            $sortOrder = \Model\ExpertEntities\options::getOption('expertise_documents_dialog_sort_order');
                            $sortOrder = explode(',',$sortOrder);
                            $sortOrder = array_filter($sortOrder);

                            $expDocTypeSort = array_merge(array(0),$sortOrder);
                            $expDocTypeSort = array_flip($expDocTypeSort );
                            foreach ( $expertiseDocument as $key=>$expDoc ) {
                                $docTypeId=$expDoc->getFieldOrSpace('document_type_id');
                                $sortKey = empty($expDocTypeSort[$docTypeId])?100:$expDocTypeSort[$docTypeId];
                                $expertiseDocument[$key]->setField('sortKey',$sortKey);
                            }
                            usort($expertiseDocument, function($a_obj, $b_obj){
                                $a = $a_obj->getField('sortKey');
                                $b = $b_obj->getField('sortKey');
                                if ($a == $b) {
                                    return 0;
                                }
                                return ($a < $b) ? -1 : 1;
                            });
                        ?>
                        <?php  //выводим документы
                                foreach ( $expertiseDocument as $key=>$expDoc ) {
                                    //$expDoc = null;
                                    //if(!empty($expertiseDocument[$docTypeId])){
                                    //    $expDoc = $expertiseDocument[$docTypeId];
                                    //}

                                    $expDocTypeId = $expDoc->getField('document_type_id');
                                    $docType=null;
                                    if(!empty($expDocTypeId) && !empty($expertiseDocumentType[$expDocTypeId])){
                                        $docType = $expertiseDocumentType[$expDocTypeId];
                                    }

                                    //if(!empty($expertiseDocumentType[$docTypeId])){
                                    //    $docType = $expertiseDocumentType[$docTypeId];
                                    //}

                                    //$type = $document->getDocumentType();
                                    $typeName = '';
                                    if(!empty($docType)){
                                        $typeName = $docType->getFieldOrSpace('name');
                                    }

                                    $expDocId = null;
                                    $expDocDate = '';
                                    $expDocNumber = '';
                                    $expDocFile = null;
                                    $expDocComment ='';
                                    $expDocLoad ='';
                                    $expDocFileName = '';
                                    $expDocFileHash = '';
                                    $expDocFileDate = '';
                                    $isForAll = false;
                                    $expDocTypeId = null;
                                    if(!empty($expDoc)){
                                        $expDocId = $expDoc->getId();
                                        $expDocDate = $expDoc->getDate('open_date');
                                        $expDocNumber = $expDoc->getFieldOrSpace('document_number');
                                        //$expDocFile = $expDoc->getFieldOrSpace('document_source');
                                        $expDocComment = $expDoc->getFieldOrSpace('comments');
                                        //$expDocLoad = $expDoc->getDate('notification_date');
                                        $isForAll = $expDoc->getField('isForAll');
                                        $expDocTypeId = $expDoc->getField('document_type_id');
                                    }

                                    if(!empty($expDocId) && !empty($expertiseDocumentFile[$expDocId])){
                                        $expDocFile = $expertiseDocumentFile[$expDocId];
                                        $expDocFileName = $expDocFile->getFieldOrSpace('RealName');
                                        $expDocFileHash = $expDocFile->getHashName();
                                        $expDocFileDate = $expDocFile->getDate('date_create');
                                    } else{
                                        //если нет то не выводим                                        //если нет то проходим мимо
                                        continue;
                                    }
                                ?>

                                <tr class="docdialog-one-record"
                                    <?php
                                        if(!empty($expDocId)){
                                           echo ' expertise_document_id ="'.$expDocId.'" ';
                                        }
                                        if(!empty($isForAll)){
                                            echo ' isForAll="1" ';
                                        }
                                        if(!empty($expDocTypeId)){
                                            echo ' document_type_id="'.$expDocTypeId.'" ';
                                        }

                                    ?>
                                >
                                    <td>
                                        <?php echo $typeName;?>
                                    </td>
                                    <td>
                                        <?php echo $expDocDate;?>
                                    </td>
                                    <td>
                                        <?php echo $expDocNumber;?>
                                    </td>
                                    <td>
                                        <a
                                            href="/uploads/<?= $expDocFileHash ?>"
                                            download="<?= $expDocFileName ?>"
                                            target="_blank"
                                        >
                                            <?= $expDocFileName?>
                                        </a>
                                    </td>
                                    <td>
                                        <?php echo $expDocComment;?>
                                    </td>
                                    <td>
                                        <?php echo $expDocFileDate;?>
                                    </td>
                                </tr>
                            <?php }?>
                        <?php else: ?>
                            <tr> <td>   </td> </tr>
                            <tr>
                                <td colspan="6" style="text-align: center;">
                                    Нет данных
                                </td>
                            </tr>
                        <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>
     </div>
   
</div>	 <div class="docdialog-block-button-right">
        <div class="documented-button docdialog-expert-contract-cancel">
            Закрыть
        </div>
    </div>

<style>

    .docdialog{
        height: 100%;
        position: relative;
        overflow: none;
        padding-bottom: 50px;
    }

    .docdialog .docdialog-viewzone{
        height: inherit;
        padding-bottom: 0px;
/*        overflow-y: auto;*/
    }

    .documented-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline;
        min-width: 100px;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 0px;
	font-size: 13px;
	font-family: Tahoma;
    }

    .docdialog-block-button-left{
        position: absolute;
        bottom: 5px;
    }

    .docdialog-block-button-right{
        position: absolute;
        bottom: 5px;
        right: 0;
    }

    .docdialog-one-record.select td{
        background-color: #DBE1F0 !important;
    }

    .documented-button-disabled{
        background-color: #8C7B4C; 
        cursor: not-allowed;
    }

    .documented-button-static{
/*        background-color: red;	*/
    }
    #tab28 {
        -display: block;
        -overflow-y: auto;
        -position: absolute;
        -min-height: 100px;
        -top: 90px;
        -bottom: 15px;
        -left: 5px;
        -right: 5px;        
    }

</style>

<script>
  /**
    open_date - дата создания договора,
    traffic_date - отправки эксперту,
    checked_date - дата подписания
    */

    /**
     * обработчик тык по табличке
     * @returns {undefined}
     */
    function docdialogOneRecordAction(){
        jQuery('tr.docdialog-one-record td').click(function(){
            jQuery('tr.docdialog-one-record.select').removeClass('select');
            console.log(jQuery(this).parent());
            jQuery(this).parent().addClass('select');
            jQuery('.docdialog-upload-button').removeClass('documented-button-disabled');
            jQuery('.docdialog-upload-button').removeClass('documented-button-static');
            var isforall = jQuery(this).parent().attr('isforall');
            if(isforall=='1'){
                //jQuery('.docdialog-upload-button').addClass('documented-button-disabled');
                jQuery('.docdialog-upload-button').addClass('documented-button-static');
            }
        });
    }


    function docdialogInit(){
        docdialogOneRecordAction();
        docdialogExpertContractMakeDialogAction();
        docdialogExpertContractCancel();
        docdialogExpertContractUpload();
        docdialogExpertContractAddUpload();
    }


    docdialogInit();

    function docdialogExpertContractMakeDialogAction(){

        jQuery('.docdialog-expert-contract-make-dialog').click(function(){

            console.log('hhh');
            var dContent = $(
                    '<div class="expert-contract-edit-dialog">'
                    + '</div>'
                );

            $(dContent).dialog({
                    title: "Договор с экспертом",
                    width: 1000,
                    height: 550,
                    modal: true,
                    close: function() {
                        $(".dialog, .expert-contract-edit-dialog").remove();
                    },
                    open: function() {
                        expertContractEditDialogLoad(dContent);
                        /*
                        //Вешаем обработчики на календари
                        $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                            changeMonth: true,
                            changeYear: true,
                            dateFormat: "dd.mm.yy",
                        });
                        $(".date-icon", ".dialog-certificate-edit").click(function () {
                            $(this).parent().find("input").focus()
                        })
                        jQuery('.commission-comment-dialog .cancel').click(function(){
                            $(".dialog, .commission-comment-dialog").remove();
                        });
                        jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                            var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                            var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                            saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                            */
                    }
            });
        });
    }
        function expertContractEditDialogLoad(dContent){
            var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
            var expertId = jQuery('.docdialog input[name="expert_id"]').val();
            console.log('rrrr');
                        $.ajax({
                            type: 'POST',
                            //timeout: 5000,
                            //dataType: "html",
                            //data: data,
                            url: "/ron/expertise/get-expert-contract-edit-dialog/"+expertiseId+'/'+expertId,
                            success: function(answer) {
                                jQuery(dContent).html('');
                                jQuery(dContent).append(answer);
                                var dContentOutput= jQuery('.documented-expert-contract-dialog');
                                jQuery(dContentOutput).html('');
                                showExpertDocumentedDialogLoad(dContentOutput);
                                //jQuery('',answer)
                            },
                            error:function(e){
                                console.log('ошибка при загрузке панели добавления  документа');
                                console.log(e);
                                useTopHoverTitleError('Ошибка связи',1500);
                            }

                        });

        }

    function docdialogExpertContractCancel(){
        jQuery('.docdialog-expert-contract-cancel').click(function(){
            //jQuery('.docdialog').parent().remove();
            jQuery('#cboxClose').click();
        });
    }

    /**
     * обработка кнопки загрузить
     *
     * @returns {undefined}
     */
    function docdialogExpertContractUpload(){
        jQuery('.documented-button.docdialog-upload-button').click(function(){

            var expertiseDocumentId = jQuery('.docdialog-one-record.select').attr('expertise_document_id');
            if(expertiseDocumentId===undefined || expertiseDocumentId==''){
                useTopHoverTitleError('Не выбран документ',2000);
                return 0;
            }

            var docTypeId = jQuery('.docdialog-one-record.select').attr('document_type_id');
            docTypeId = parseInt(docTypeId);
            console.log(docTypeId);
            if(!isNaN(docTypeId) ){
                if(docTypeId == 57
                  || docTypeId == 11
                  || docTypeId == 27
                  || docTypeId == 61
                  ){
                    //рисуим диалог изменения общего документа
                    getChangeStaticDocumentDialog();
                    return 0;
                }
            }

            if( jQuery(this).is('.documented-button-disabled')){
                //alert('Нельзя');
                return 0;
            }


                var dContent = $(
                        '<div class="docdialog-upload-dialog">'
                        + '</div>'
                    );

                $(dContent).dialog({
                        title: "Выберите файл для загрузки",
                        width: 600,
                        height: 360,
                        modal: true,
                        close: function() {
                            $(".dialog, .docdialog-upload-dialog").remove();
                        },
                        open: function() {
                            $.ajax({
                                type: 'POST',
                                //timeout: 5000,
                                //dataType: "html",
                                //data: data,
                                url: "/ron/expertise/get-expertise-document-upload-dialog/"+expertiseDocumentId,
                                success: function(answer) {
                                    jQuery(dContent).append(answer);
                                    jQuery('',answer)
                                },
                                error:function(e){
                                    console.log('ошибка при загрузке панели добавления  документа');
                                    console.log(e);
                                    useTopHoverTitleError('Ошибка связи',1500);
                                }

                            });
                            //Вешаем обработчики на календари
                            $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: "dd.mm.yy",
                            });
                            $(".date-icon", ".dialog-certificate-edit").click(function () {
                                $(this).parent().find("input").focus()
                            })
                            jQuery('.commission-comment-dialog .cancel').click(function(){
                                $(".dialog, .commission-comment-dialog").remove();
                            });
                            jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                                var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                                var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                                saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                            });
                        }
                });

        });
    }


    function docdialogExpertContractAddUpload(){
        jQuery('.documented-button.docdialog-upload-add-button').click(function(){
                var expertiseDocumentId = 0;
                var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
                var expertId = jQuery('.docdialog input[name="expert_id"]').val();
                console.log(expertId );
                console.log(expertiseId);
                var dContent = $(
                        '<div class="docdialog-upload-dialog">'
                        + '</div>'
                    );

                $(dContent).dialog({
                        title: "Добавить дополнительный документ",
                        width: 520,
                        height: 360,
                        modal: true,
                        close: function() {
                            $(".dialog, .docdialog-upload-dialog").remove();
                        },
                        open: function() {
                            $.ajax({
                                type: 'POST',
                                //timeout: 5000,
                                //dataType: "html",
                                //data: data,
                                url: "/ron/expertise/get-expertise-document-upload-dialog/"
                                        + expertiseDocumentId
                                        +'/'+expertiseId
                                        +'/'+expertId ,
                                success: function(answer) {
                                    jQuery(dContent).append(answer);
                                    jQuery('',answer)
                                },
                                error:function(e){
                                    console.log('ошибка при загрузке панели добавления  документа');
                                    console.log(e);
                                    useTopHoverTitleError('Ошибка связи',1500);
                                }
                            });
                            //Вешаем обработчики на календари
                            $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: "dd.mm.yy",
                            });
                            $(".date-icon", ".dialog-certificate-edit").click(function () {
                                $(this).parent().find("input").focus()
                            })
                            jQuery('.commission-comment-dialog .cancel').click(function(){
                                $(".dialog, .commission-comment-dialog").remove();
                            });
                            jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                                var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                                var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                                saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                            });
                        }
                });

        });
    }

    /**
     * хотим диолог замены статичного документа
     *
     * @returns {undefined}
     */
    function getChangeStaticDocumentDialog(){

                //var expertiseDocumentId = 0;
                var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
                //var expertId = jQuery('.docdialog input[name="expert_id"]').val();
                //console.log(expertId );
                var docTypeId = jQuery('.docdialog-one-record.select').attr('document_type_id');

                console.log(expertiseId);
                console.log(docTypeId);
                var dContent = $(
                        '<div class="docdialog-change-static-dialog">'
                        + '</div>'
                    );

                $(dContent).dialog({
                        title: "Изменить статичный документ",
                        width: 600,
                        height: 260,
                        modal: true,
                        close: function() {
                            $(".dialog, .docdialog-change-static-dialog").remove();
                        },
                        open: function() {
                            $.ajax({
                                type: 'POST',
                                //timeout: 5000,
                                //dataType: "html",
                                //data: data,
                                url: "/ron/expertise/get-expertise-document-change-static-dialog/"
                                        +docTypeId
                                        +'/'+expertiseId ,
                                success: function(answer) {
                                    jQuery(dContent).append(answer);
                                    jQuery('.dialog-cancel',dContent).click(function(){
                                        $(dContent).dialog('close');
                                    });
                                },
                                error:function(e){
                                    console.log('ошибка при загрузке панели добавления  документа');
                                    console.log(e);
                                    useTopHoverTitleError('Ошибка связи',1500);
                                }
                            });
                            //Вешаем обработчики на календари
                            $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: "dd.mm.yy",
                            });
                            $(".date-icon", ".dialog-certificate-edit").click(function () {
                                $(this).parent().find("input").focus()
                            })
                            jQuery('.commission-comment-dialog .cancel').click(function(){
                                $(".dialog, .commission-comment-dialog").remove();
                            });
                            jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                                var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                                var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                                saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                            });
                        }
                });

    }


    jQuery('.documented-button-print').click(function(){
            var expertiseDocumentId = jQuery('.docdialog-one-record.select').attr('expertise_document_id');
            if(isNaN(expertiseDocumentId)){
                useTopHoverTitleError('Не то',1000);
                return 0;
            }
            console.log(expertiseDocumentId);
            window.open('/ron/expertise/expertise-document-contract/'+expertiseDocumentId, '_blank');
    });
</script>