<?php
    $id = "";
    $number ="";
    $date = "";
    $fileName="";
    $fileHash = "";
    $fileId ='';
    $file=null;
    $comment = '';
    if(!empty($expertiseDocument)){
        $id = $expertiseDocument->getId();
        //$number = $expertiseDocument->getFieldOrSpace('document_number');
        $date = $expertiseDocument->getDate('open_date');
        $file = $expertiseDocument->getDocumentFile();        
        $comment = $expertiseDocument->getFieldOrSpace('comments');
    }
    if(!empty($file)){
        $fileName = $file->getFieldOrSpace('RealName');
        $fileHash = $file->getFieldOrSpace('HashName');
        $fileId = $file->getId();
    }
?>

<div style="position: relative;    height: 100%;" class="order-include-dialog-parent">
    <form class="order-include-dialog-form"
          method="post"
          target="hiddenframe"
          enctype="multipart/form-data"
          action="/ron/expertise/save-expertise-upload-document"
          >


        <table style="width: 97%">
            <?php if($flag == 1){?>
            <tr style="display: none;">
                <td colspan="2" style="line-height: 10px;padding: 0;height: 10px;">
                    <p onclick='UploadConclusion("<?=$expertiseId?>");' style="float: right; color:#428bca;">Скачать шаблон</p>
                </td>
            </tr>
            <?}?>
            <?php if($flag == 2){?>
            <tr style="display: none;">
                <td colspan="2" style="line-height: 10px;padding: 0;height: 10px;">
                    <a href="/ron/expertise/expert-report/<?= $expertiseId ?>/<?= $expertiseProgramId ?>" style="float: right;color: #2A64A7;">Скачать шаблон</a>
                </td>
            </tr>
            <?}?>

            <tr>
                <td colspan="2">
                     Примечание
                </td>
                <td>
                    <input style="display:none;" name="id" type="text" value ="<?= $id ?>">
                    <input style="display:none;" name="organization_id" type="text" value ="<?= $organization_id ?>">
                    <input style="display:none;" name="expertise_id" type="text" value ="<?= $expertiseId ?>">
                    <input style="display:none;" name="document_type_id" type="text" value ="<?= $documentTypeId ?>">
                    <input style="display:none;" name="expertise_program_id" type="text" value ="<?= $expertiseProgramId ?>">
                    <input style="display:none;" class ="order-include-dialog-form-submit" type="submit" >
                    <input name="comments" type="text" value="<?= $comment ?>" style="height: 30px;padding: 0 5px" >
                </td>
            </tr>
            <tr>
                <td>
                    Файл
                </td>
                <td class="info-file">

                </td>
                <td>
                    <input onchange="doChangeFile($(this));" accept="application/pdf,  application/zip, .sig, .zNN, .rNN" multiple  name="file" type="file">
                    <?php  if(!empty($file)){?>
                        <div class="loadfile<?=$expertiseId?>">
                        <a class="file-loaded" style="line-height: 25px;" href="/uploads/<?= $fileHash ?>" download="<?= $fileName ?>" target="_blank"><?= $fileName ?></a>
                            <span fileid="<?=$fileId?>" class='ok-green'></span>
                            <span class="MultiFile-remove" onclick="window_delete_expertise_document_file('<?=$id?>')"></span>
                        </div>
                    <?php } ?>
                </td>
            </tr>
        </table>
    </form>
    <div style="position: absolute;right: 0px;bottom: 10px;">
        <div  class="commission-button order-include-dialog-ok notActive" onclick="expertiseUploadDocumentSaveAction();">
            Сохранить
        </div>
        <div  class="commission-button button-cancel">
            Отмена
        </div>
    </div>
</div>
<div class="loading-overlay" style="display: none;"><div class="windows8"><div class="wBall" id="wBall_1" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_2" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_3" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div><div class="wBall" id="wBall_4" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div>   <div class="wBall" id="wBall_5" style="width: 32px; height: 32px;"><div class="wInnerBall" style="width: 4.71428571428571px; height: 4.71428571428571px;"></div></div></div><div class="loading-overlay-message">Загрузка...</div></div>

<script>


    function UploadConclusion(expertiseId) {
        var expertiseId = expertiseId;
        window.open('/ron/expertise/generation-word-temp-conclusion/'+expertiseId, '_blank');
    }


    function expertiseUploadDocumentSaveAction(){
        if($('input[name="file"]').val() == ""){
            useTopHoverTitleError("Выберите файл");
        }else{
            jQuery('.order-include-dialog-form input[type="submit"]').click();
        }
    }
    
    function expertiseUploadDocumentSaveOk(file_Id = 0){
        var fileId = file_Id;
        if(file_Id == 0){
             fileId = '<?= $fileId ? $fileId : 0 ?>';
        }

        console.log(answer);
        console.log("fileId= ",fileId);
        if(answer['answer']=='ok'){
            var url='<?=$this->url('ron/default',['controller'=>"expertise","action"=>"saveExpertiseDocumentFileCertificates"])?>';;
            $.ajax({
                url: url,
                data: {
                    LocalSigningTime:answer['certificate_info']['LocalSigningTime'],
                    NotAfter:answer['certificate_info']['NotAfter'],
                    NotBefore:answer['certificate_info']['NotBefore'],
                    SerialNumber:answer['certificate_info']['SerialNumber'],
                    CN:answer['certificate_info']['SubjectName']['CN'],
                    E:answer['certificate_info']['SubjectName']['E'],
                    G:answer['certificate_info']['SubjectName']['G'],
                    INN:answer['certificate_info']['SubjectName']['INN'],
                    OGRN:answer['certificate_info']['SubjectName']['OGRN'],
                    SN:answer['certificate_info']['SubjectName']['SN'],
                    STREET:answer['certificate_info']['SubjectName']['STREET'],
                    T:answer['certificate_info']['SubjectName']['T'],
                    SNILS:answer['certificate_info']['SubjectName']['SNILS'],
                    fileId:fileId

                },
//                processData: false,
//                contentType: false,
                cache: false,
                type: 'POST',
                success: function (data) {
                    var obj = JSON.parse(JSON.stringify(data));
                    console.log("saveExpertiseDocumentFileCertificates");
//                    console.log(obj);
                    infoCertificate = obj['result'];


                }
            });
        }

        console.log(' документ создан ' + fileId);


        var expertiseId = jQuery('#tab1 input[name="expertiseId"]').val();
        useTopHoverTitle("Данные записаны",2000);
        //jQuery('.order-include-dialog-parent .button-cancel').click();
        getUploadDialog($('.uploadExpertise71'), 2,1);
        console.log("expert_id= ",expert_id );
        getUploadDialog($('.uploadExpertise29-'+expert_id), 2,1);



        /*
        //дергаем досоздание нужных документов экспертов
                        $.ajax({
                            type: 'POST',
                            url: "/ron/expertise/expertise-document-check-on-create/"+expertiseId,
                            success: function(answer) {
                                if(answer=='Ok'){
                                    alert("Данные записаны");
                                    jQuery(".order-include-dialog-cancel").click();
                                    jQuery('.tab-expertise-for-document').show();                                    
                                }else{
                                    alert("ошибка при записи");
                                    console.log(answer);
                                }

                            },
                            error:function(e){
                                console.log('ошибка при загрузке панели добавления  документа');
                                console.log(e);
                                alert('Ошибка связи');
                            }

                        });
                        */
        
    }            

</script>


<style>

.order-include-dialog-parent span.date-icon {
    background-image: url("/js/jquery.ui/images/ui-icons_ef5f48_256x240.png");
    background-position: -112px -112px;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: 10px;
    cursor: pointer;
}

.order-include-dialog-parent input{
    width: 100%;
    margin-left: 10px;
}
.order-include-dialog-parent td{
    padding-bottom:  5px;
    padding-top:   5px;
}
</style>
