<?php //<link href="/css/documented-tab.css" rel="stylesheet"> ?>
<div id = 'tab-documented'>
    <div class="documented-viewzone">
        <div class="table-container">
                <table class="intable" width="100%">
                    <thead>
                        <tr>
                            <th>Тип документа</th>
                            <th>Файл</th>
                            <th>Примечание</th>
                            <th>Загружено</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if(empty($expertiseDocumentAll)){ ?>

                            <tr>
                                <td class="active active_appl" style="text-align: center;" colspan="5">Нет данных</td>
                            </tr>
                        <?php
                        }else{
                            foreach ( $expertiseDocumentAll as $expertiseDocumentOne ) {
                                $expert = $expertiseDocumentOne->getExpert();
                                $docType = $expertiseDocumentOne->getDocumentType();
                                $docTypeName = '';
                                if(!empty($docType)){
                                    $docTypeName = $docType->getField('name');
                                }
                                $docNumber = $expertiseDocumentOne->getFieldOrSpace('document_number');
                                $docComent = $expertiseDocumentOne->getFieldOrSpace('comments');
                                
                                $appProgramId = $expertiseDocumentOne->getField('expertise_program_id');
                                $appProgramName = '';
                                //$appProgramLevel = '';
                                $expertiseDocumentFile = null;
                                //if(!empty($appProgramId)){
                                //    $appProgram = new \Model\Entities\isgaApplicationPrograms();
                                //    $appProgram = $appProgram->getById($appProgramId);
                                //    if(!empty($appProgram)){
                                //        $appProgramName = $appProgram->getName();
                                //        $appProgramLicense = $appProgram->getLicensedProgram();
                               //        $appProgramLevel = $appProgramLicense ->getEduProgramLevel()->getFieldOrSpace('Name');
                                 //   }
                                //}
                                $expertiseDocumentFile = $expertiseDocumentOne->getDocumentFile();
                                $fileDate = '';
                                if(!empty($expertiseDocumentFile)){
                                    $fileHash = $expertiseDocumentFile->getFieldOrSpace('HashName');
                                    $fileName = $expertiseDocumentFile->getFieldOrSpace('RealName');
                                    $fileDate = $expertiseDocumentFile->getDate('date_create');
                                }
                                
                                
                                ?>
                             <tr id="doc_<?=$expertiseDocumentOne->getFieldOrSpace('id')?>" class="row_doc">
                                <td>
                                    <?= $docTypeName ?>
                                </td>
                                <td>
                                    <?php
                                    if(!empty($fileHash) && !empty($fileName)){
                                        ?>
                                        <a href="/uploads/<?= $fileHash ?>" download="<?= $fileName ?>" target="_blank"> <?= $fileName  ?></a>
                                    <?php
                                        
                                    }
                                    
                                    ?>
                                </td>
                                <td>
                                    <?= $docComent ?>
                                </td>
                                <td>
                                    <?= $fileDate ?>
                                </td>
                            </tr>


                        <?php
                            }
                        }

                        ?>
                    </tbody>
                </table>
        </div>
    </div>

        
</div>
<div class="docdialog-block-button-right" style="float:left;left: 15px;">
    <div class="documented-button docdialog-upload-add-button">
        Доп. документы
    </div>
    <div class="documented-button docdialog-delete-button">
        Удалить
    </div>
</div>
    
<div class="docdialog-block-button-right">
    <div class="documented-button docdialog-expert-contract-cancel">
        Закрыть
    </div>
</div>
<style>
    #tab30{
        overflow: visible;
    }

    #tab-documented{
        height: 100%;
        position: relative;
        overflow: none;
    }

    #tab-documented .documented-viewzone{
        height: inherit;
        padding-bottom: 0px;
/*        overflow-y: auto;    */
    }
    .documented-button{
        background: #435870;
        color: #fff !important;
        padding: 5px 0 ;
	text-align: center;
	border-radius: 3px;
        cursor: pointer;
        display: inline;
        min-width: 100px;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 0px;
	font-size: 13px;
	ont-family: Tahoma;
    }

    .documented-block-button{
        position: absolute;
        -bottom: -40px;
        bottom: 5px;
    }

    .documented-one-record.select td{
        background-color: #DBE1F0 !important;
    }

    .row_doc.select td{
        background-color: #DBE1F0 !important;
    }
    
    .docdialog-block-button-right{
        position: absolute;
        bottom: 5px;
        right: 0;
    }    
</style>

<script>

    /**
     * обработчик тык по табличке
     * @returns {undefined}
     */
    function documentedOneRecordAction(){
        jQuery('tr.row_doc').click(function(){
            jQuery('tr.row_doc').removeClass('select');
            jQuery(this).addClass('select');
        });
    }


    jQuery('.documented-select-open').click(function(){
        var isSelect = jQuery('tr.documented-one-record.select').length;
        console.log(isSelect);
        if(!isSelect ){
            useTopHoverTitleError("Выберите эксперта",1000);
            return 0;
        }
        showExpertDocumentedDialog();
    });

    function showExpertDocumentedDialog(){
        var dContent = $(
                '<div class="documented-expert-contract-dialog">'
                + '</div>'
            );
        var title = jQuery('tr.documented-one-record.select .documented-one-record-name').text();

        $(dContent).dialog({
                title: title,
                width: 1000,
                height: 600,
                modal: true,
                close: function() {
                    $(".dialog, .documented-expert-contract-dialog").remove();
                },
                open: function() {
                    showExpertDocumentedDialogLoad(dContent);
                    /*
                    //Вешаем обработчики на календари
                    $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                        changeMonth: true,
                        changeYear: true,
                        dateFormat: "dd.mm.yy",
                    });
                    $(".date-icon", ".dialog-certificate-edit").click(function () {
                        $(this).parent().find("input").focus()
                    })
                    jQuery('.commission-comment-dialog .cancel').click(function(){
                        $(".dialog, .commission-comment-dialog").remove();
                    });
                    jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                        var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                        var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                        saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                    });

                    */
                }
        });
    }

    function showExpertDocumentedDialogLoad(dContent){
        var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
        var expertId = jQuery('tr.documented-one-record.select').attr('expert_id');

                    $.ajax({
                        type: 'POST',
                        //timeout: 5000,
                        //dataType: "html",
                        //data: data,
                        url: "/ron/expertise/get-expertise-expert-documented-dialog/"+expertiseId+'/'+expertId,
                        success: function(answer) {
                            jQuery(dContent).html('');
                            jQuery(dContent).append(answer);
                            //jQuery('',answer)
                        },
                        error:function(e){
                            console.log('ошибка при загрузке панели добавления  документа');
                            console.log(e);
                            useTopHoverTitleError('Ошибка связи',1000);
                        }
                    });
    }


/**
 * удаляем дополнитлеьный документ
 * 
 * @returns {undefined}
 */
    function docdialogExpertContractDelete(){
        jQuery('.documented-button.docdialog-delete-button').click(function(){
            if(jQuery('tr.row_doc').hasClass('select')){
                var expertiseDocumentId = jQuery('tr.row_doc.select').attr('id').split('_')[1];
                if(expertiseDocumentId){
                    if(confirm('Документ будет безвозвратно удалено, Вы желаете продолжить?')){
                        $.ajax({
                            type: 'POST',
                            url: "/ron/expertise/delete-expert-document/"
                            + expertiseDocumentId,
                            success: function(answer) {
                                if(answer == 'ok'){
                                    $('#doc_'+expertiseDocumentId).remove();
                                    useTopHoverTitle('Документ успешно удален',2000);
                                }else{
                                    useTopHoverTitle('По каким то причинам не удалось удалить документ',2000);
                                }
                            },
                            error:function(e){
                                useTopHoverTitleError('Ошибка связи',1000);
                            }
                        });
                    }
                }else{
                    useTopHoverTitle('Выберите запись',1500);
                }
            }else{
                useTopHoverTitleError("Пожалуйста, выберите запись");
            }
        });
    }


/**
 * добавляем дополнитлеьный документ
 *
 * @returns {undefined}
 */
    function docdialogExpertContractAddUpload(){
        jQuery('.documented-button.docdialog-upload-add-button').click(function(){
                var expertiseDocumentId = 0;
                //var expertiseId = jQuery('#edit_declaration1 input[name="id"]').val();
                var expertiseId = jQuery('#tab1 input[name="expertiseId"]').val();
                var expertId = jQuery('.docdialog input[name="expert_id"]').val();
                console.log(expertId );
                console.log(expertiseId);
                var dContent = $(
                        '<div class="docdialog-upload-dialog">'
                        + '</div>'
                    );

                $(dContent).dialog({
                        title: "Добавить дополнительный документ",
                        width: 530,
                        height: 270,
                        modal: true,
                        close: function() {
                            $(".dialog, .docdialog-upload-dialog").remove();
                        },
                        open: function() {
                            $.ajax({
                                type: 'POST',
                                //timeout: 5000,
                                //dataType: "html",
                                //data: data,
                                url: "/ron/expertise/get-expertise-document-upload-dialog/"
                                        + expertiseDocumentId
                                        +'/'+expertiseId,
                                success: function(answer) {
                                    jQuery(dContent).append(answer);
                                    jQuery('',answer)
                                },
                                error:function(e){
                                    console.log('ошибка при загрузке панели добавления  документа');
                                    console.log(e);
                                    useTopHoverTitleError('Ошибка связи',1000);
                                }
                            });
                            //Вешаем обработчики на календари
                            $(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: "dd.mm.yy",
                            });
                            $(".date-icon", ".dialog-certificate-edit").click(function () {
                                $(this).parent().find("input").focus()
                            })
                            jQuery('.commission-comment-dialog .cancel').click(function(){
                                $(".dialog, .commission-comment-dialog").remove();
                            });
                            jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                                var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                                var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();

                                saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                            });
                        }
                });

        });
    }
    
    function docdialogExpertContractCancel(){
        jQuery('.docdialog-expert-contract-cancel').click(function(){
            //jQuery('.docdialog').parent().remove();
            jQuery('#cboxClose').click();
        });
    }

    function documentedInit(){
       documentedOneRecordAction();
       docdialogExpertContractAddUpload();
       docdialogExpertContractDelete();
       docdialogExpertContractCancel();
    }

    documentedInit();



</script>



