<link href="/css/commission-tab.css" rel="stylesheet">

<script>
var expert_id;

    function getUploadDialog(element, flag, close = 0){
        console.log("getUploadDialog");
        console.log(element);
        console.log($(element).attr('document-type'));

        var expertiseId = jQuery('#tab1 input[name="expertiseId"]').val();
        var docType = jQuery(element).attr('document-type');

        if (docType === undefined){
            //alert ('ошибка не определен тип документа')
            return 0;
        }
        var title = '';
        if (docType == 29){
            title = "Загрузить отчет";
        }
        if (docType == 40){
            title = "Загрузить заключение";
        }
        if (docType == 71){
            title = "Загрузить заключение";
        }
        if (title == ''){
            alert ('ошибка не разрешенный тип документа')
            return 0;
        }

        var url = "/ron/expertise/get-expertise-upload-document-include-dialog/"+expertiseId+'/'+docType+'/'+flag;
        var programId = jQuery(element).attr('programm-id');
        if(programId === undefined){
            //alert ('ошибка не программы')
            //return 0;
        } else {
            url = url +'/'+programId;
        }
        var dContent = $(
            '<div class="commission-upload-include-dialog">'
            + '</div>'
        );

        $(dContent).dialog({
            title: title,
            width: 480,
            height: 200,
            modal: true,
            close: function() {
                $(".dialog, .commission-upload-include-dialog").remove();
            },
            open: function() {
                if(close == 1){
                    $(dContent).dialog('close');
                }

                $.ajax({
                    type: 'POST',
                    //timeout: 5000,
                    //dataType: "html",
                    data: {organization_id:'<?=$appId?>'},//851EDC73D1A3FA8E3ADBC942FBF37345
                    url:  url,
                    success: function(answer) {
                        jQuery(dContent).append(answer);
                        if(close == 1){
                            //console.log("answer = ",answer);
                            var aFile = $(answer).find('.loadfile'+expertiseId);
                            $(".fileLoaded"+docType).html(aFile);
                            $("#zakluchenie").html(aFile);
                            //$(dContent).dialog('close');
                        }

                        //jQuery('',answer) ;
                        jQuery(dContent).find('.button-cancel').click(function(){
                            $(dContent).dialog('close');
                        });
                    },
                    error:function(e){
                        console.log('ошибка при загрузке панели добавления  документа');
                        console.log(e);
                        //alert('Ошибка связи');
                    }

                });
                //Вешаем обработчики на календари
                //$(".commission-comment-dialog-date", ".commission-comment-dialog").datepicker({
                //    changeMonth: true,
                //    changeYear: true,
                //    dateFormat: "dd.mm.yy",
                //});
                //$(".date-icon", ".dialog-certificate-edit").click(function () {
                //    $(this).parent().find("input").focus()
                //})
                //jQuery('.commission-comment-dialog .ok-save-comment').click(function(){
                //    var commentValue = jQuery('.commission-comment-dialog .commission-comment-dialog-comment').val();
                //    var commentDate = jQuery('.commission-comment-dialog .commission-comment-dialog-date').val();
                //    saveComentToContacting(expertiseId,expertId,commentValue,'afterSaveComentToContacting(expertId, comment")');
                //});
            }
        });
    }


</script>


<div id = 'tab-commision'>
    <div class="head">
        <?php $org2 = $organization->getEducationalOrganizationData();?>
        <div class="headName">
            <p><b>Наименование организации:</b>
                <span class="head-name" id="<?=$appId?>"><?=$organization->getField('FullName')?></span>
            </p>
            <p><b>Место нахождения:</b>
                <span class="head-name">
                    <?php
                    $address = $organization->getField('LawAddress');
                    /*if($org2){
                        if(!$org2->isEmptyField('ChiefPosition')){
                            $address = $org2->getField('ChiefPosition');
                        }
                    }*/
                    ?>
                    <?=$address?>
                </span>
            </p>
            <p><b>Руководитель образовательной организации:</b>
                <span class="head-name">
                    <?php 
                    $rect = $organization->getField('ChargeFio');
                    if($org2){
                    if(!$org2->isEmptyField('ChiefSurname')){
                        $rect = $org2->getField('ChiefSurname').' '.$org2->getField('ChiefName').' '.$org2->getField('ChiefPatronymic');
                    }
                    }
                    ?>
                    <?=$rect?>
                </span>
            </p>
            <p><b>Контактные данные:</b>
                <span class="head-name">
                    <?php
                    $email = $organization->getField('Mails');
                    if($org2){
                    if(!$org2->isEmptyField('ChiefEmail')){$email = $org2->getField('ChiefEmail');}
                    }
                    $phone = $organization->getField('Phones');
                    if($org2){
                    if(!$org2->isEmptyField('ChiefPhones')){$phone = $org2->getField('ChiefPhones');}
                    }
                    ?>
                    <?=$phone.', '.$email?>
                </span>
            </p>
            <p>
                <b>Куратор:</b> <?php echo  empty($curator)?($curator=='0'?'отсутствует':''):$curator->getField('Name'); ?>
            </p>
           <?php
           if(!empty($expert) && $expert->isEmptyField('parent_id')){
           ?>           
                <p>
                    <b>Договор:</b> <?php echo ($expertise_document)?$expertise_document->getFieldOrSpace('document_number'):'' ?>
                </p>
            <?php
           }
            ?>            
            <p>
                <b>Руководитель экспертной группы:</b>
                <span class="head-name"><?php
                    if (empty($chairmansByInstitution[$appId])){
                        echo "Не задано";
                    } else {
                        echo $chairmansByInstitution[$appId];
                    }
                    ?>
                </span>
                <?php if($isExpertChairMain){ ?>
                    <a class="js-btn-popup-expertise-conclusion" document-type="71"  onclick="//getUploadDialog(this, 1);">Сформировать заключение</a>
                <span id="zakluchenie"></span>
                <?php } ?>
            </p>
        </div>
    </div>

    <div  class="commission-viewzone" data-heightdelta="0">
        <div class="table-container">
            <table class="intable" width="100%">
                <thead>
                    <tr>
                        <th>Код УГС</th>
                        <th>Наименование УГС</th>
                        <th>Код направления</th>
                        <th>Направление подготовки</th>
                        <th>Уровень ОП</th>
                        <th>Отчет</th>
                    </tr>
                </thead>
                <tbody class="tab-tbody">
                    <?php if($commission){
                        $flagFirst = false;
                        foreach($commission as $commiss){
                            $application = $commiss->getApplicationProgram();
                            if($application){
                                $ugs = $application->getEGS();
                                $programm = $application->getLicensedProgram();
                                $programmType = $application->getEduProgramType();
                                //$user = $commiss->getUser();?>
                                <tr>
                                    <td><?=$ugs?$ugs->getField('Code'):'-'?></td>
                                    <td><?=$ugs?$ugs->getField('Name'):'-'?></td>
                                    <td><?=$programm?$programm->getCode():''?></td>
                                    <td><?=$application->isEmptyField('Name')?($programm?$programm->getName():''):$application->getField('Name')?></td>
                                    <td><?=!empty($programmType)?$programmType->getField('PrintName'):''?></td>
                                    <td>
                                        <a document-type="29" programm-id="<?= $application->getId()?>" class="js-btn-pop p<?=$commiss->getField('expert_id')?>"" onclick="//getUploadDialog(this, 2);">Сформировать отчет</a>
                                        <?php
                                        $programmId = $application->getId();
//                                        $userFile[$programmId]['RealName']
//                                        $userFile[$programmId]['HashName']
//                                        $userFile[$programmId]['expertise_document_id']
//                                        $userFile[$programmId]['expertise_document_file_id']

                                        ?>




                                        <div class="popup p<?=$commiss->getField('expert_id')?>">
                                            <?php echo $this->partial('popup/popup-expertise.phtml', [
                                                'data' => [
                                                        'nameDirectory' => $nameDirectory,
                                                    'documentData' => $documentData,
                                                   'eduProgram' => $eduProgram,
                                                    'adress' => $address,
                                                    'licensedProgram' => $licensedProgram,
                                                    'fullName' => $expert->getField('last_name').' '.$expert->getField('name').' '.$expert->getField('middle_name'),
                                                    'implAdress' => $organization->getField('ImplAddr'),
                                                    'eduLevel' => $programmType->getField('PrintName'),
                                                    'orgName' => $organization->getField('RegularName'),
                                                    'userId' => $userId,
                                                    'programm-id' => $application->getId(),
                                                    'ugs' => $ugs,
                                                    'organization' => $organization,
                                                    'application' =>  $application,
                                                    'expert_id' => $commiss->getField('expert_id')

                                                ], 'model' => 'Ron']); ?>
                                        </div>
                                        <?php if(!$flagFirst){?>
                                        <div class="popup-expertise-conclusion">
                                            <?php echo $this->partial('popup/popup-expertise-conclusion.phtml', [

                                                'data' => [
                                                    'nameDirectory' => $nameDirectory,
                                                    'documentData' => $documentData,
                                                    'eduProgram' => $eduProgram,
                                                    'adress' => $address,
                                                    'licensedProgram' => $licensedProgram,
                                                    'fullName' => $expert->getField('last_name').' '.$expert->getField('name').' '.$expert->getField('middle_name'),
                                                    'implAdress' => $organization->getField('ImplAddr'),
                                                    'eduLevel' => $programmType->getField('PrintName'),
                                                    'orgName' => $organization->getField('RegularName'),
                                                    'userId' => $userId,
                                                    'programm-id' => $application->getId(),
                                                    'ugs' => $ugs,
                                                    'organization' => $organization,
                                                    'application' =>  $application


                                                ], 'model' => 'Ron']); ?>
                                        </div>
                                    <?php $flagFirst= true; } ?>

                                        <script>
                                            $(function () {


                                                $(".js-btn-pop.p<?=$commiss->getField('expert_id')?>").on("click", function (event) {
//                                                    var id = event.target.attributes['document-type'].value;
//                                                    expert_id = '<?//=$commiss->getField('expert_id')?>//';

                                                    $(".popup.p<?=$commiss->getField('expert_id')?>").show();


//                                                    $(".popup.p<?//=$commiss->getField('expert_id')?>// .btn-pop-up-document-generate").attr("data-x", id);
//                                                    $(".popup.p<?//=$commiss->getField('expert_id')?>// form").attr("id", "form-pop-up-document-" + id);
                                                });


                                                $(".popup").delegate(".cboxClose_end", "click", function () {
                                                    $(".popup.p<?=$commiss->getField('expert_id')?>").hide();
                                                });


                                                $(".ok-green").on('click', function () {
                                                    console.log(".ok-green");
                                                    var html = "";

                                                    html += "<div class='viewzone'><div class='section-title'>Результат проверки</div>";
                                                    html += "<table id='fields_form'>";
                                                    html += "<tr><td class='title_form'>Дата проверки:</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td class='title_form'>Результат</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td colspan=\"2\"><div class=\"section-title\">Данные владельца сертификата подписи</div></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td class=\"title_form\">ФИО</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td class=\"title_form\">Место работы</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td class=\"title_form\">Email</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "<tr>";
                                                    html += "<td class=\"title_form\">Срок действия сертификата</td>";
                                                    html += "<td></td>";
                                                    html += "</tr>";
                                                    html += "</table></div>";


                                                    $('.dialog_sign_info').remove();
                                                    $("<div class='dialog_sign_info'></div>").html(html)
                                                        .dialog({
                                                            autoOpen: false,
                                                            title: "Информация о проверке подписи файла",
                                                            modal: true,
                                                            width: 800,
                                                            buttons: {
                                                                "Закрыть": function () {
                                                                    $(this).dialog("close");
                                                                }
                                                            }
                                                        }).dialog("open")


                                                });
                                            });

                                        </script>
                                    </td>
                                </tr>
                            <?php }?>

                        <?php } ?>

                        <script>

//                            function getFile(programId) {
//                                var expertiseId = jQuery('#tab1 input[name="expertiseId"]').val();
//                                var url = "/ron/expertise/get-expertise-upload-document-include-dialog/"+expertiseId+'/29/2/'+programId;
//                                $.ajax({
//                                    type: 'POST',
//                                    data: {organization_id:programId},
//                                    url:  url,
//                                    success: function(answer) {
//                                        jQuery(dContent).append(answer);
//
//                                            //console.log("answer = ",answer);
//                                            //var aFile = $(answer).find('.loadfile'+expertiseId);
//                                            console.log(answer);
//                                            //$("#zakluchenie").html(aFile);
//
//
//
//                                    },
//                                    error:function(e){
//                                        console.log('ошибка при загрузке панели добавления  документа');
//                                        console.log(e);
//                                        //alert('Ошибка связи');
//                                    }
//
//                                });
//                            }

                            $(function () {
                                $.ajax({
                                    type: 'get',
                                    dataType: "json",
                                    data: {
                                        'expertise': '<?=$expertiseId?>'
                                    },
                                    url: "/ron/expertise/getExpertiseDocumentFile/<?=$expertiseId?>",
                                    success: function (answer) {

                                        var obj = JSON.parse(JSON.stringify(answer));
                                        //console.log(obj);
                                        if (obj['answer'] == "ok") {
                                            console.log(obj['HashName']);
                                            var html = "<a class=\"file-loaded\" style=\"line-height: 25px;\" href=\"/uploads/"+obj['HashName']+"\">";
                                            html+= obj['RealName']+"</a>";
                                            html+= "<span fileid=\""+obj['expertise_document_file_id']+"\" class=\"ok-green\"></span>";
                                            html+= "<span class=\"MultiFile-remove\" onclick=\"window_delete_expertise_document_file('"+obj['expertise_document_id']+"')\"></span>";
                                            $("#zakluchenie").html(html);
                                        }
                                    }
                                });
                            });

                            $(".js-btn-popup-expertise-conclusion").on("click", function (event) {
                                //console.dir(event.target.attributes['document-type'].value);
                                var id2 = event.target.attributes['document-type'].value;
                                $(".popup-expertise-conclusion").show();
                                $(".popup-expertise-conclusion .btn-pop-up-document-generate").attr("data-x", id2);
                                $(".popup-expertise-conclusion form").attr("id", "form-pop-up-document-" + id2);
                            });


                            $(".popup-expertise-conclusion").delegate(".cboxClose_end", "click", function () {

                                $(".popup-expertise-conclusion").hide();

                            });

                            function doChangeFile(el){
                                var  url = '<?=$this->url('ron/default',['controller'=>"expertise","action"=>"saveTempReport"])?>';
                                //console.log(url);
                                var data = new FormData();

                                //console.log("el = ", el);
                                if(el[0].files[0] != 'undefined') {
                                    data.append('file', el[0].files[0]);
                                    $(".loading-overlay").show();
                                    $.ajax({
                                        url: url,
                                        data: data,
                                        processData: false,
                                        contentType: false,
                                        cache: false,
                                        type: 'POST',
                                        success: function (data) {
                                            var obj = JSON.parse(JSON.stringify(data));
                                            console.log(obj);
                                            $(".loading-overlay").hide();
                                            if (obj['answer'] == "error") {
                                                useTopHoverTitleError(obj['status']);

                                                var nameFile = obj['name'];
                                                var isError = $('span').hasClass("error-alert");
                                                if (!isError) {
                                                    //$(".info-file").html("<span class='error-alert'></span>");
                                                    $(".info-file").html("<span class='error-alert'></span>");
                                                }
                                                /*GOTO Удалить строку*/
                                                //$(".commission-button.order-include-dialog-ok").removeClass("notActive");

                                            } else {
                                                if(obj['answer'] == "ok"){
                                                //obj['tmp']
                                                $(".commission-button.order-include-dialog-ok").removeClass("notActive");
                                                $(".order-include-dialog-form").find("ok-greene").remove();

                                                var nameFile = obj['name'];
                                                if (!$('span').hasClass("MultiFile-remove")) {
                                                    $(".file-loaded").html("<span class='MultiFile-remove'></span> " + nameFile);
                                                }
                                                if (!$('span').hasClass("ok-greene")) {
                                                    $(".file-loaded").html(nameFile);
                                                }
                                                $(".info-file").html("<span class='ok-green'></span>");
                                                answer = obj;
                                                }else{
                                                    console.log("Not ok");
                                                }
                                            }
                                        }
                                    });
                                }
                            }

                            $(function () {

//                                $(".js-btn-pop").on("click", function () {
//                                    $(".popup.<?//=$application->getId()?>//").show();
////                                    var id = event.target.attributes['document-type'].value;
////                                    $(".popup.<?////=$application->getId()?>//// .btn-pop-up-document-generate").attr("data-x", id);
////                                    $(".popup.<?////=$application->getId()?>//// form").attr("id", "form-pop-up-document-" + id);
//
//                                });


//                                $(".popup").delegate(".cboxClose_end", "click", function () {
//                                    $(".popup.<?//=$application->getId()?>//").hide();
//                                });


//                                $(".js-btn-popup-expertise-conclusion").on("click", function () {
//                                    $(".popup-expertise-conclusion.<?//=$application->getId()?>//").show();
////                                    console.dir(event.target.attributes['document-type'].value);
////                                    let id2 = event.target.attributes['document-type'].value;
////                                    $(".popup-expertise-conclusion .btn-pop-up-document-generate").attr("data-x", id2);
////                                    $(".popup-expertise-conclusion form").attr("id", "form-pop-up-document-" + id2);
//
//                                });
//
//
//                                $(".popup-expertise-conclusion").delegate(".cboxClose_end", "click", function () {
//                                    $(".popup-expertise-conclusion.<?//=$application->getId()?>//").hide();
//                                });



                                $("body").on("click",'.ok-green', function () {
                                    //GoTo загрузить инфу о проверке подписи
                                    console.log("GoTo");
                                    console.log($(this).attr("fileid"));
                                    var url='<?=$this->url('ron/default',['controller'=>"expertise","action"=>"getExpertiseDocumentFileCertificates"])?>';;
                                    $.ajax({
                                        url: url,
                                        data: {
                                            fileId:$(this).attr("fileid"),
                                        },
                                        cache: false,
                                        type: 'POST',
                                        success: function (data) {
                                            var obj = JSON.parse(JSON.stringify(data));
                                            console.log(obj);
                                            var $NotAfter,
                                                $NotBefore,
                                                $cn_work,
                                                $email,
                                                $g_name,
                                                $local_signing_time,
                                                $sn_name,
                                                $street
                                                $valid= "Не валидна";
                                            ;

                                            if(obj['answer']=='ok'){
                                                $valid="Подпись валидна";
                                                $NotAfter = obj['result'][0]['NotAfter'];
                                                $NotBefore= obj['result'][0]['NotBefore'];
                                                $cn_work= obj['result'][0]['cn_work'];
                                                $email= obj['result'][0]['email'];
                                                $g_name= obj['result'][0]['g_name'];
                                                $local_signing_time= obj['result'][0]['verification_date']=="null"?"":obj['result'][0]['verification_date'];
                                                $sn_name= obj['result'][0]['sn_name'];
                                                $street= obj['result'][0]['street'];
                                            }

                                            var html = "";

                                            html += "<div class='viewzone'><div class='section-title'>Результат проверки</div>";
                                            html += "<table id='fields_form'>";
                                            html += "<tr><td class='title_form'>Дата проверки:</td>";
                                            html += "<td>"+$local_signing_time+"</td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td class='title_form'>Результат</td>";
                                            html += "<td>"+$valid+"</td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td colspan=\"2\"><div class=\"section-title\">Данные владельца сертификата подписи</div></td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td class=\"title_form\">ФИО</td>";
                                            html += "<td>"+$sn_name+" "+$g_name+"</td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td class=\"title_form\">Место работы</td>";
                                            html += "<td>"+$cn_work+"</td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td class=\"title_form\">Email</td>";
                                            html += "<td>"+$email+"</td>";
                                            html += "</tr>";
                                            html += "<tr>";
                                            html += "<td class=\"title_form\">Срок действия сертификата</td>";
                                            html += "<td>"+$NotBefore+" - "+$NotAfter+"</td>";
                                            html += "</tr>";
                                            html += "</table></div>";


                                            $('.dialog_sign_info').remove();
                                            $("<div class='dialog_sign_info'></div>").html(html)
                                                .dialog({
                                                    autoOpen: false,
                                                    title: "Информация о проверке подписи файла",
                                                    modal: true,
                                                    width: 800,
                                                    buttons: {
                                                        "Закрыть": function () {
                                                            $(this).dialog("close");
                                                        }
                                                    }
                                                }).dialog("open")


                                        }
                                    });




                                });



                            });

                        </script>

                    <?php } else {

                    ?>
                        <tr class="td_level"><td colspan="6" style="text-align: center;">Нет программ</td></tr>
                    <?php 
                    }?>
                </tbody>
            </table>
        </div>        
    </div>    
      
</div><div class="docdialog-block-button-right">
        <div class="documented-button" onclick="jQuery('#cboxClose').click();">
            Закрыть
        </div>
    </div>

<script>
    /**
     * окно удаление документа
     * @param {Integer} file_id ид удаляемого файла
     * @param {Integer} table_flag value = 1 - удаляем из таблицы isga_ApplicationFiles, 2 - из таблицы isga_ApplicationDocumentGroups
     */
    function window_delete_expertise_document_file(file_id){
        var buttons = '<div class="nav_footer" style="float:right"><ul><li><a href="javascript:;" onclick="delete_expertise_file(\'' + file_id +'\')">Удалить</a></li><li><a href="javascript:;" onclick="$(\'.dialog\').dialog(\'close\');$(\'.dialog\').remove();">Отмена</a></li></ul></div>';
        $('.dialog').remove();
        $("<div class='dialog'></div>").html("<p class='message_for_user'>Удалить документ?</p>" + buttons)
            .dialog({
                autoOpen:false,
                title: "Уведомление",
                modal:true
            }).dialog("open");
    }
    function delete_expertise_file(file_id){
        console.log("delete_application_file= ",file_id);
        $.ajax({
            type: "POST",
            url: "/ron/expertise/delete-expert-document/"+file_id,
            dataType: 'html',
            beforeSend: function () {
                console.log("success2");
                $(".loading-overlay").show();
            },
            data: ({file_id : file_id}),
            success: function(data){
                console.log("success1");
                $(".loading-overlay").hide();
                //$('#list_tabs .show_tab.active').click();
                var message = "Документ успешно удален"
                if(data.response == 'error'){
                    message = data.message;
                }
                //$(".dialog, .commission-upload-include-dialog").remove();
                $('.dialog').dialog("close");$('.dialog').remove();
                $('.file-loaded').remove();
                $('.MultiFile-remove').remove();
                $('.error-alert').remove();
                $('.ok-green').remove();
                $(".commission-button.order-include-dialog-ok").addClass("notActive");
                var buttons = '<div class="nav_footer" style="float:right"><ul><li><a href="javascript:;" onclick="$(\'.dialog\').dialog(\'close\');$(\'.dialog\').remove();">Закрыть</a></li></ul></div>';
                $("<div class='dialog'></div>").html("<p>" + message + buttons + "</p>")
                    .dialog({
                        autoOpen:false,
                        title: "Уведомление",
                        modal:true
                    }).dialog("open")

            }
        });
    }
</script>