<link href="/css/commission-tab.css" rel="stylesheet">
<div id = 'tab-commision'>
    <div  class="commission-viewzone" data-heightdelta="0">
        <div class="table-container">
            <table class="intable" width="100%">
                <thead>
                    <tr>
                        <th>Эксперт</th>
                        <th>Роль</th>
                        <?if($isChairman){?>
                            <th>ЭО</th>
                        <?}?>
                        <th>Место работы</th>
                        <th>Должность</th>
                        <th>Телефон</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody class="tab-tbody">
                    <?php
                    if($chairmans){
                        $expert = $chairmans->getExpert();
                        if($expert){
                            $contact = $expert->getContact();
                            $work = $expert->getEducationalOrganizationWorkNow();
							if($work){
								$id_org = $work->getField('organization_id');
								if(!$id_org){
									$work = $work->getField('text');
								}else{
									$eduOrg=$work->getEducationalOrganization();
									$work = $eduOrg->getField('FullName');
								}
                            }
                        }?>
                        <tr>
                            <td><?=($expert?$expert->getField('last_name'):'').' '.($expert?$expert->getField('name'):'').' '.($expert?$expert->getField('middle_name'):'')?></td>
                            <td>Руководитель</td>
                            <?if($isChairman){?>
                                <td><?=$expert->getParentOrganizationName()?></td>
                            <?}?>
                            <td><?=$work?$work:''?></td>
                            <td><?=$expert?$expert->getField('post'):''?></td>
                            <td><?=$contact?$contact->getField('phone'):''?></td>
                            <td><?=$contact?$contact->getField('email'):''?></td>
                        </tr>
                    <?php }
                    if($members){
                        foreach($members as $member){
                            $expert = $member->getExpert();
                            if($expert){
                                $contact = $expert->getContact();
                                $work = $expert->getEducationalOrganizationWorkNow();
								if($work){
									$id_org = $work->getField('organization_id');
									if(!$id_org){
										$work = $work->getField('text');
									}else{
										$eduOrg=$work->getEducationalOrganization();
										$work = $eduOrg->getField('FullName');
									}
                                }
                            }?>
                            <tr>
                                <td><?=($expert?$expert->getField('last_name'):'').' '.($expert?$expert->getField('name'):'').' '.($expert?$expert->getField('middle_name'):'')?></td>
                                <td>Эксперт</td>
                                <?if($isChairman){?>
                                    <td><?=$expert->getParentOrganizationName()?></td>
                                <?}?>
                                <td><?=$work?$work:''?></td>
                                <td><?=$expert?$expert->getField('post'):''?></td>
                                <td><?=$contact?$contact->getField('phone'):''?></td>
                                <td><?=$contact?$contact->getField('email'):''?></td>
                            </tr>
                        <?php }?>
                    <?php }?>
                </tbody>
            </table>
        </div>        
    </div>    
       
</div>	  <div class="docdialog-block-button-right">
        <div class="documented-button" onclick="jQuery('#cboxClose').click();">
            Закрыть
        </div>
    </div> 