<?php
    $expertise_id = $expertise->getField('id');
?>
<iframe id="hiddenframe" style="width:0px; height:0px; border:0px" name="hiddenframe"></iframe>
<div class="container" style="height: 94%;">
    <?php  $orgShortName = $org->getField("ShortName");    ?>
    <?php  $orgShortName = empty($orgShortName)?$org->getField("RegularName"):$orgShortName;?>
    <?php  $orgShortName = explode(',',$orgShortName);?>
    <?php  $orgShortName = current($orgShortName);?>
    <div id="head_pop"><h2 id="title_pop">Аккредитация №<?=$expertise->getField('accreditation_number')?> <?=$orgShortName?>.</h2><div id="cboxClose"></div></div>
    <div class="expertise-box" >
        <ul id="list_tabs">
            <li><a class="active show_tab" tab="1" href="javascript:;" >Свойства заявления</a></li>
            <li><a class="show_tab" tab="24" href="javascript:;">Состав группы</a></li>
            <li><a class="show_tab" tab="26" href="javascript:;">Задание</a></li>
            <li><a class="show_tab tab-expertise-for-document" tab="28" href="javascript:;">Документы для эксперта</a></li>
            <li><a class="show_tab tab-expertise-for-document-answer" tab="30" href="javascript:;">Документы от эксперта</a></li>            
            <li><a class="show_tab" tab="4" href="javascript:;">Документы заявления</a></li>
        </ul>
        <div class="idApplicationWrap"></div>
        <!--<div class="tabs-panel-view">-->
            <div id="tab1" class="tabs-panel show-panel tab-no-overflow">
                <input type="hidden" name="expertiseId" value="<?php echo $expertise_id; ?>">
                <table id="fields_form">
                    <tr>
                        <td class="title_form">Экспертиза №</td>
                        <td><input type="text" disabled="disabled" name="accreditation_number" value="<?=$expertise->getField('accreditation_number')?>"></td>
                    </tr>
                    <tr>
                        <td>Организация</td>
                        <td>
                            <?php
                            if(isset($org)){ ?>
                                <textarea class="disabled" id="nameOrganization" disabled="disabled"><?php echo $org->getField('FullName');?></textarea>
                            <?php
                            }else{?>
                                <textarea class="disabled" id="nameOrganization" disabled="disabled">Старый тип заявки, организация не указана!</textarea>
                            <?php
                            }?>
                        </td>
                    </tr>
                    <tr>
                        <td class="title_form">Экспертиза без выезда</td>
                        <td style="text-align: center;"><input style="width: auto" type="checkbox" disabled="disabled" name="no_leav" value="1" <?=$expertise->getField('no_leav')=='1'?'checked':''?> /></td>
                    </tr>
                    <tr>
                        <td class="title_form">Дата начала экспертизы</td>
                        <td><div style="position: relative;">
                                <input disabled="disabled" name="create_timestamp" type="text" value="<?=date('d.m.Y',strtotime($expertise->getField('create_timestamp')))?>"></div></td>
                    </tr>
                    <tr>
                        <td class="title_form">Дата окончания экспертизы</td>
                        <td><div style="position: relative;">
                                <input disabled="disabled" name="end_timestamp" type="text" value="<?=date('d.m.Y',strtotime($expertise->getField('end_timestamp')))?>"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="section-title">Содержание заявления</div></td>
                    </tr>
                    <tr>
                        <td class="title_form">Номер заявления</td>
                        <td>
                            <?php if (!Empty($application)){ ?>
                                <input type="hidden" id="id_application_val" value="<?= $application->getId() ?>">
                              <input class="disabled" type="text" value="<?=$application->getField("RegNumber")?> от <?=$application->getDate("DateReg")?>" disabled="disabled">
                            <?php }?>
                        </td>
                    </tr>
                    <tr>
                        <td class="title_form"> Копия заявления</td>
                        <td>
                            <?php if (isset($copyApplicationDoc)&&!empty($copyApplicationDoc))
                            { ?>
                                <a 
                                    href="/uploads/<?=$copyApplicationDoc['FtpDirectoryUrl']?>"   
                                    target="_blank" 
                                    download="<?=$copyApplicationDoc['RealFileName']?>"
                                >
                                    <?=$copyApplicationDoc['RealFileName']?>
                                </a>
                            <?php }?>
                        </td>
                    </tr>

                    <tr>
                        <td class="title_form">Тип заявления</td>
                        <td>
                            <?php if( isset($application) && !empty($currentType) ) { ?>
                                <input type="hidden" id="type_declaration" value="<?=$currentType->getField("Id")?>">
                                <input class="disabled" type="text" value="<?=$currentType->getField("Name")?>" disabled="disabled">
                            <?php } ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="title_form">Основание заявления</td>
                        <?php if( isset($application) && isset($currentReason) ) { ?>
                            <td>
                                <?php if(is_array($currentReason)){ ?>
                                    <?php foreach($currentReason as $oneReason){?>
                                        <input class="disabled" type="text" value="<?=$oneReason?>" disabled="disabled">
                                    <?php } ?>
                                <?php }else{ ?>
                                    <input class="disabled" type="text" value="<?=$currentReason?>" disabled="disabled">
                                <?php }?>
                            </td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <td class="title_form">Предыдущее свидетельство</td>
                        <td id="cetificateWrap">
                            <?php if(!isset($application) && !isset($currentCert) ) { } else {
                                if ($currentCert) {?>
                                    <span style="display:none;" idcert="<?=$currentCert->getField('Id')?>" id="CertificateValue"></span>
                                    <?php if ($currentCert->getField('fk_isgaCertificateStatus') == 'cba8e890-429a-4d6a-b81c-0f530a7970cc' || $currentCert->getField('fk_isgaCertificateStatus') == 'CBA8E890-429A-4D6A-B81C-0F530A7970CC') { ?>
                                        <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Действующее) ">
                                    <?php } else { ?>
                                        <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentCert->getField('RegNumber') ?> от <?= date('d.m.Y', strtotime($currentCert->getField('DateIssue'))) ?> (Недействующее) ">
                                    <?php }
                                }else{?>
                                    <input class="disabled" type="text" disabled="disabled" value=" ">
                                <?php }
                            } ?>
                        </td>
                    </tr>
                    <tr>
                        <td class="title_form">Действующая лицензия</td>
                        <td id="licensedWrap">
                            <?php if( empty($application) || empty($currentLicense) ) {} else {
                                $licensedStatus = $currentLicense->getLinkedItem('eiis_LicenseStates', array("Id" => $currentLicense->getField('fk_eiisLicenseState')));
                                if ($licensedStatus->getField('IsValid') == 1) { ?>
                                    <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateLicDoc'))) ?> (Действующая) ">
                                <?php } else { ?>
                                    <input class="disabled" type="text" disabled="disabled" value="№ <?= $currentLicense->getField('LicenseRegNum') ?> от <?= date('d.m.Y', strtotime($currentLicense->getField('DateLicDoc'))) ?> (Не действующая) ">
                                <?php }
                            } ?>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="section-title">Контактные данные</div></td>
                    </tr>
                    <tr>
                        <td class="title_form">Место нахождения</td>
                        <td><input class="disabled" disabled="disabled" value="<?php
                            if ( isset($org) && $org != NULL ) {
                                echo $org->getLAddress();
                            }
                            ?>" type="text"></td>
                    </tr>
                    <tr>
                        <td class="title_form">Телефон</td>
                        <td><input class="disabled" disabled="disabled" value="<?php
                            if(!empty($eduOrgDataByOrgId)){
                                echo $eduOrgDataByOrgId['Phones'];
                            }elseif( isset($org) && $org != NULL ) {
                                echo $dataByFkEduOrd['Phones'];
                            }
                            ?>" type="text"></td>
                    </tr>
                    <tr>
                        <td class="title_form">Факс(ы)</td>
                        <td><input class="disabled" disabled="disabled" value="<?php
                            if(!empty($eduOrgDataByOrgId)){
                                echo $eduOrgDataByOrgId['Faxes'];
                            }elseif ( isset($org) && $org != NULL ) {
                                echo $org->getField('Faxes');
                            }
                            ?>" type="text"></td>
                    </tr>
                    <tr>
                        <td class="title_form">E-mail</td>
                        <td><input class="disabled" disabled="disabled" value="<?php
                            if(!empty($eduOrgDataByOrgId)){
                                echo $eduOrgDataByOrgId['Emails'];
                            }elseif ( isset($org) && $org != NULL ) {
                                echo $org->getField('Mails');
                            }
                            ?>" type="text"></td>
                    </tr>
                    <tr>
                        <td class="title_form">Сайт</td>
                        <td><input class="disabled" disabled="disabled" value="<?php
                            if(!empty($eduOrgDataByOrgId)){
                                echo $eduOrgDataByOrgId['Site'];
                            }elseif ( isset($org) && $org != NULL ) {
                                echo $org->getField('Www');
                            }
                            ?>" type="text"></td>
                    </tr>

                    <?php /*
                    <tr>
                        <td class="title_form">Руководитель</td>
                        <td><input disabled="disabled" value="<?=
                            empty($org)  ?'':
                                $org->getField('ChargePosition').' '.$org->getField('ChargeFio');
                            ?>" type="text"></td>
                    </tr>
                    */ ?>

                <tr>
                    <td colspan="2">
                        <div class="section-title" >
                            Руководитель организации
                        </div>
                    </td>
                </tr>

                <?php $orgData=$org->getEducationalOrganizationData();
                    if(empty($orgData)){
                        $orgData=new \Model\Entities\isgaEducationalOrganizationData();
                    }
                    $orgData=$orgData->getFields();

                    if(!empty($org)){
                        $foi      = explode(' ', $org->getField('ChargeFio'));
                        $famaly   = empty($foi[0])?'':$foi[0];
                        $name     = empty($foi[1])?'':$foi[1];
                        $father   = empty($foi[2])?'':$foi[2];
                        $position = $org->getField('ChargePosition');
                    }
                    $famaly   = empty($orgData['ChiefSurname'])   ?$famaly  :$orgData['ChiefSurname'];
                    $name     = empty($orgData['ChiefName'])      ?$name    :$orgData['ChiefName'];
                    $father   = empty($orgData['ChiefPatronymic'])?$father  :$orgData['ChiefPatronymic'];
                    $position = empty($orgData['ChiefPosition'])  ?$position:$orgData['ChiefPosition'];
                //Руководитель
                $organizationHeadEmployeeModel = new \Model\LodEntities\OrganizationHeadEmployee();
                $organizationHeadEmployee = $organizationHeadEmployeeModel->getByWhere(array('organizationId'=>$org->getField('Id')));
                if($organizationHeadEmployee){
                    $famaly = $organizationHeadEmployee->getField('lastName');
                    $name = $organizationHeadEmployee->getField('firstName');
                    $father = $organizationHeadEmployee->getField('patronymic');
                    $post = $organizationHeadEmployee->getEmployeePost();
                    if($post){
                        $position = $post->getField('title');
                    }
                }
                ?>
                <tr>
                    <td class="left"><div class="left-title">Фамилия</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefSurname" value="<?=$famaly?>">
                            </div>
                        </td>

                </tr>
                <tr>
                    <td class="left"><div class="left-title">Имя</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefName" value="<?=$name?>">
                            </div>
                        </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Отчество</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPatronymic" value="<?=$father?>">
                            </div>
                        </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Должность</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPosition" value="<?=$position?>">
                            </div>
                        </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Тел. руководителя</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefPhones" value="<?=$orgData['ChiefPhones']?>">
                            </div>
                        </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">Факс руководителя</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled"  disabled="disabled" class="orgInfo" name="orgData.ChiefFax" value="<?=$orgData['ChiefFax']?>">
                            </div>
                        </td>
                </tr>

                <tr>
                    <td class="left"><div class="left-title">E-mail руководителя</div></td>
                        <td class="right-nopadding">
                            <div class="right-value">
                                <input class="disabled" disabled="disabled" class="orgInfo" name="orgData.ChiefEmail" value="<?=$orgData['ChiefEmail']?>">
                            </div>
                        </td>
                </tr>

                </table>
            </div>
        <div id="tab4" class="tabs-panel show-panel tab-no-overflow">

        </div>
        <div id="tab24" class="tabs-panel show-panel tab-no-overflow">

        </div>
        <div id="tab26" class="tabs-panel show-panel tab-no-overflow">

        </div>
        <div id="tab28" class="tabs-panel show-panel tab-no-overflow">

        </div>
        <div id="tab30" class="tabs-panel show-panel tab-no-overflow">

        </div>

    <!--</div>-->
</div>
<script>
$(document).ready(function(){
    $("#popup_win").delegate("#cboxClose","click",function(){
        console.log("Закрываем всплывающее окошко");
        $("#popup_win").hide();
    });
});

function showHideTabs(show) {
    console.log('перекрасим вклаадки');
    //var hide=$('#list_tabs li a.active').attr('tab');
    console.log(show);
    //console.log(hide);
    //$(".show_tab[tab='" + hide + "']").removeClass('active');
    $(".show_tab.active").removeClass('active');
    $(".show_tab[tab='" + show + "']").addClass("active");
    $(".tabs-panel").removeClass("show-panel");
    $("#tab" + show + "").addClass('show-panel');
    $("#sendform1").attr('numb', show);
    if(show == 1){$('#save_button').show();}
    else{$('#save_button').hide();}
    if(show != 4){$("#button_load_dop_docs").remove(); }
    if(show == 26) $("#bt_add_expert").show()
    else $("#bt_add_expert").hide()
}

$("#list_tabs").undelegate(".show_tab","click");
$("#list_tabs").delegate(".show_tab", "click", function () {
    console.log("хотим переключить вкладки");
    var mes = $(this).attr('tab') ;
    console.log(mes);
    hahdleResponse(mes)
});

function hahdleResponse(to){

    showHideTabs(to);
    if (to=='4'){
        getFilesAjax();
        //
    }
    if (to=='24'){
        getExpertsGroup();
    }
    if (to=='26'){
        getExpertsCommision();
    }
    if (to=='28'){
        getDocumentForExpert();
    }
    if (to=='30'){
            getDocumentForExpertAnswer();
    }

}

function getExpertsCommision(){
    console.log('Задание');

    var eContent = $('<div class="dialog-add-expert">'+
        '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
        +'</div>');

    var eContent = $("#tab26");
    $.ajax({
        type: 'POST',
        dataType: "html",
        data: {
            'expertise': '<?=$expertise_id?>'
        },
        url: "/ron/expertise/get-expertise-exsperts-view",
        success: function (answer) {
            eContent.html(answer);
        }
    });

    $.ajax({
        type: 'POST',
        dataType: "html",
        data: {
            'expertise': '<?=$expertise_id?>'
        },
        url: "/ron/expertise/get-expertise-exsperts-view",
        success: function (answer) {
            eContent.html(answer);
        }
    });


}

function getExpertsGroup(){
    console.log('хотим получить состав группы');

    var eContent = $('<div class="dialog-add-expert">'+
        '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
        +'</div>');

    var eContent = $("#tab24");
    $.ajax({
        type: 'POST',
        dataType: "html",
        data: {
            'expertise': '<?=$expertise_id?>'
        },
        url: "/ron/expertise/get-expertise-exsperts-group",
        success: function (answer) {
            eContent.html(answer);
        }
    })
}

/**
 * получение списка загруженных файлов.
 */
function getFilesAjax(){
    $.ajax({
        url: '/ron/expertise/application-files/'+$("#id_application_val").val()+'/<?=$expertise_id?>',
        beforeSend: function () {
            $(".loading-overlay").show();
        },
        success: function(answer){
            $("#tab4").html(answer);
            $(".loading-overlay").fadeOut(250);
            jQuery("#tab4 .labelText").parent().css('vertical-align','middle');
        },
        error:function(e){
            alert("Возникла ошибка");
            $(".loading-overlay").fadeOut(250);
            console.log("Ошибка");
            console.log(e);
        }
    });
}

/**
 * Заливаем документы для эксперта
 *
 * @returns {undefined}
 */
function getDocumentForExpert(){
console.log('хоти получить докумены для экспертов');

    //var expertise = jQuery ('#popup_win #edit_declaration1 input[name="id"]').val();
    var expertiseId = jQuery('#tab1 input[name="expertiseId"]').val();
    //var expertId = jQuery('tr.documented-one-record.select').attr('expert_id');

    //var eContent = $('<div class="dialog-add-expert">'+
    //    '<div class="content-block"><div class="loading-img"><img src="/img/loading.gif" /></div></div></div>'
    //    +'</div>');

    var eContent = $("#tab28");
            $.ajax({
                type: 'POST',
                dataType: "html",
                //data: {
                //    'expertise': expertise
                //},
                //url: "/ron/expertise/get-expertise-document-for-expert",
                url: "/ron/expertise/get-expertise-expert-documented-dialog/"+expertiseId,
                success: function (answer) {
                    eContent.html(answer);
                    //Обработчик выбора радиобаттона
                    //$("input[type=radio]", eContent).change(function(){
                    //    var parentTr = $(this).parents("tr").eq(0);
                    //    $(".temp-block", eContent).hide();
                    //    $(".start-block", eContent).show();

                    //    $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).show();
                    //    $(".start-block", parentTr).hide();
                    //});
                    //Обработчик кнопки отмена
                    //$(".btCancel",eContent).click(function(){
                    //    $(".dialog-add-expert").remove();
                    //});
                }
            })
 }

/**
 * Запролняет вкладку Документы от экспертов
 *
 * @returns {undefined}
 */
function getDocumentForExpertAnswer(){
console.log('хоти получить докумены для экспертов');

    var expertise = jQuery('#tab1 input[name="expertiseId"]').val();

    var eContent = $("#tab30");
            $.ajax({
                type: 'POST',
                dataType: "html",
                data: {
                    'expertise': expertise
                },
                url: "/ron/expertise/get-expertise-document-for-expert-answer",
                success: function (answer) {
                    eContent.html(answer);
                    //Обработчик выбора радиобаттона
                    $("input[type=radio]", eContent).change(function(){
                        var parentTr = $(this).parents("tr").eq(0);
                        $(".temp-block", eContent).hide();
                        $(".start-block", eContent).show();

                        $(".temp-block", parentTr).text($('.results-content tr.selected .expert-name', ".dialog-selectexperts-info").text()).show();
                        $(".start-block", parentTr).hide();
                    });
                    //Обработчик кнопки отмена
                    $(".btCancel",eContent).click(function(){
                        console.log('закрыть тык 4');
                        $(".dialog-add-expert").remove();
                    });
                }
            })
 }

</script>
    <script>
        //начальный тык на первой вкладке
        //hahdleResponse(1);
    </script>

<style>
    .FileListWrapExprtise{
        padding: 5px;
        margin: 5px;
    }

    .tabs-panel-view{
        height: 100%;
        margin-top: 10px;
        position: relative;
        top: -40px;
    }
    #head_pop #title_pop {
      margin-top: -20px!important;
      padding-right: 20px;
        overflow: hidden;
        height: 33px;
    }
   .docdialog-block-button-right {bottom: -20px!important;right: 15px;}
    @media only screen and (max-width: 1360px) {
      #head_pop #title_pop {
        top: -8px!important;
	position: relative;
        }
      }
     #tab1 {height: 100%;}
</style>
