<div class="overlay">
</div>
<img class="loading" src="<?php echo $this->basePath('img/loading.gif') ?>">
<div class="row">
    <h2 class="text-center">Информация о ходе рассмотрения лицензионных дел в Рособрнадзоре</h2>
</div>
<hr>
<div class="col-sm-6 center-block">
    <p class="text-muted text-center">
        <small>Для получения информации по делу заполните ИНН, либо номер и год регистрации лицензионного дела</small>
    </p>
    <p>
        <small id="error-message" class="text-danger"></small>
    </p>
    <?php echo $this->form()->openTag($form); ?>

    <div class="form-group">
        <?php echo $this->formLabel($form->get('inn')); ?>
        <?php echo $this->formElement($form->get('inn')); ?>
        <small class="help-block hidden"></small>
    </div>
    <div class="form-group">
        <h3>ИЛИ</h3>
    </div>
    <div class="form-group">
        <?php echo $this->formLabel($form->get('number')); ?>
        <?php echo $this->formElement($form->get('number')); ?>
        <small class="help-block hidden"></small>
    </div>

    <div class="form-group">
        <?php echo $this->formLabel($form->get('year')); ?>
        <?php echo $this->formElement($form->get('year')); ?>
        <small class="help-block hidden"></small>
    </div>

    <div class="form-group">
        <label for="description">Переместите ползунок</label>
        <div class="QapTcha"></div>
        <small class="help-block hidden"></small>
    </div>

    <div class="form-group">
        <?php echo $this->formElement($form->get('submit')); ?>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
<hr>
<div class="row hidden" id="results">
    <h2 id="results-header">Результаты</h2>
    <table id="results-table" class="table table-hover" style="display: none;">
        <thead>
            <tr>
                <th class="col-md-4 col-xs-4">Лицензиат</th>
                <th class="col-md-1 col-xs-1">Регистрационный номер</th>
                <th class="col-md-1 col-xs-1">Дата регистрации</th>
                <th class="col-md-5 col-xs-5">Причина обращения</th>
                <th class="col-md-1 col-xs-1">Статус</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script>
    $(function () {
        var captcha = new Captcha();
        captcha.setUrl('<?php echo $this->url('rlic', ['action' => 'captcha']); ?>');
        captcha.setCaptcha($('.QapTcha'));
        captcha.reset();


        function fillTable(deals) {
            var cols = ['name', 'number', 'date', 'reasons', 'state'];
            for (var i = 0; i < deals.length; i++) {
                var tr = $('<tr/>');
                $.each(cols, function (key, value) {
                    tr.append($('<td/>').html(deals[i][value]));
                });
                $('#results-table > tbody').append(tr);
            }
        }

        function onSuccess(response) {
            if (response.state === 'fail') {
                $('#error-message').text(response.message);
            } else {
                $('#results.hidden').removeClass('hidden');
                if (response.found) {
                    $('#results-header').text('Результаты');
                    fillTable(response.deals);
                    $('#results-table').fadeIn('slow');
                } else {
                    $('#results-header').text('Не найдено');
                }
            }
        }
        function onStart() {
            $('.overlay, .loading').fadeIn('slow');
            $('#results-table').fadeOut('slow');
            $('#results-table > tbody').empty();
            $('#error-message').text('');
        }
        function onEnd() {
            $('.overlay, .loading').fadeOut('slow');
        }
        function onError(error) {
            console.error(error);
            alert('Произошла ошибка, перезагрузите страницу');
        }

        var engine = new SearchEngine();
        engine.setUrl('<?php echo $this->url('rlic', ['action' => 'search-deal']); ?>');
        engine.setDataType('json');
        engine.setOnError(onError);
        engine.setOnSuccess(onSuccess);
        engine.setOnStart(onStart);
        engine.setOnEnd(onEnd);


        $('#checkForm').on('submit', function () {
            try {
                engine.setFormData($(this).serialize());
                engine.processSearch();
            } catch (e) {
                console.error(e);
            } finally {
                captcha.reset();
                return false;
            }
        });
    });


</script>