<?php
$this->prepare($license, LicensesReestr\View\Helper\PrepareHelper::LICENSE_DETAILS);
?>
<script>
    'use strict';
    $(function () {
        $('tr.clickable').on('click', function () {
            var guid = $(this).attr('data-target');
            var target = $('tr[data-id="' + guid + '"]');

            if (!target.hasClass('hidden')) {
                target.toggleClass('hidden');
                return false;
            }

            var url = '<?= $this->url('rlic', ['action' => 'supplement']) ?>' + guid + '/';
            $.get(url, function (response) {
                $('td:first', target).html(response);
                target.toggleClass('hidden');
                $('table.sortable th', target).eq(0).trigger('click');
            });
            return false;
        });

        $(document).on('click', 'table.sortable th', function () {
            var index = $(this).index(),
                    table = $(this).closest('table.sortable'),
                    rows = $('tbody > tr', table),
                    order = $(table).attr('data-order') || 1,
                    icon = $('<span/>');

            if (parseInt(table.attr('data-index')) === index) {
                order *= -1;
            } else {
                order = 1;
            }

            rows.sort(function (a, b) {
                var $a = $(a).children('td').eq(index).text().toLowerCase();
                var $b = $(b).children('td').eq(index).text().toLowerCase();
                return ($a < $b ? -1 : ($a > $b ? 1 : 0)) * order;
            });

            $.each(rows, function (i, row) {
                $('tbody', table).append(row);
            });

            $('.glyphicon', table).remove();
            icon.addClass('glyphicon glyphicon-arrow-' + (order > 0 ? 'up' : 'down'));
            $(this).prepend(icon);
            table.attr('data-order', order);
            table.attr('data-index', index);
        });
    });
</script>

<span class="glyphicon glyphicon-arrow-down hidden"></span>
<span class="glyphicon glyphicon-arrow-up hidden"></span>
<div class="row">
    <h2>Лицензия</h2>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">ОГРН</td>
                <td class="col-md-8"><?= $this->escapeHtml($license->eoOgrn) ?></td>
            </tr>
            <tr>
                <td>Решение о выдаче</td>
                <td><?= $this->escapeHtml($license->inoutDecision) ?></td>
            </tr>
            <tr>
                <td>Текущий статус лицензии</td>
                <td><?= $this->escapeHtml($license->state) ?></td>
            </tr>
            <tr>
                <td>Полное наименование организации (ФИО индивидуального предпринимателя)</td>
                <td><?= $this->escapeHtml($license->eoName) ?></td>
            </tr>
            <?php if (!empty($license->reorganization)): ?>
                <tr>
                    <td>Правопреемник</td>
                    <td><?= $this->escapeHtml($license->reorganization) ?></td>
                </tr>
            <?php endif; ?>
            <?php if (!empty($license->reorganizationType)): ?>
                <tr>
                    <td>Форма реорганизации</td>
                    <td><?= $this->escapeHtml($license->reorganizationType) ?></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td>Наименование органа, выдавшего лицензию</td>
                <td><?= $this->escapeHtml($license->organ) ?></td>
            </tr>
            <tr>
                <td>Срок действия</td>
                <td><?= $this->escapeHtml($license->endDate) ?></td>
            </tr>
            <tr>
                <td>Субьект РФ</td>
                <td><?= $this->escapeHtml($license->region) ?></td>
            </tr>
            <tr>
                <td>Место осуществления образовательной деятельности</td>
                <td>Место (места) осуществления образовательной деятельности указано (указаны) в приложении (приложениях) к настоящей лицензии.</td>
            </tr>
            <tr>
                <td>Сокращенное наименование организации</td>
                <td><?= $this->escapeHtml($license->eoShortName) ?></td>
            </tr>
            <tr>
                <td>Серия, номер бланка</td>
                <td><?= $this->escapeHtml($license->serieAndNumber) ?></td>
            </tr>
            <tr>
                <td>ИНН</td>
                <td><?= $this->escapeHtml($license->eoInn) ?></td>
            </tr>
            <tr>
                <td>КПП</td>
                <td><?= $this->escapeHtml($license->eoKpp) ?></td>
            </tr>
            <tr>
                <td>Регистрационный номер лицензии</td>
                <td><?= $this->escapeHtml($license->number) ?></td>
            </tr>
            <tr>
                <td>Место нахождения организации</td>
                <td><?= $this->escapeHtml($license->eoAddress) ?></td>
            </tr>
            <tr>
                <td>Решения лицензирующего органа о приостановлении действия</td>
                <td><?= $this->escapeHtml($license->suspensionDecision) ?></td>
            </tr>
            <tr>
                <td>Решения лицензирующего органа о возобновлении действия</td>
                <td><?= $this->escapeHtml($license->renewalDecision) ?></td>
            </tr>
            <tr>
                <td>Основание и дата прекращения действия</td>
                <td><?= $this->escapeHtml($license->terminationDecision) ?></td>
            </tr>
            <tr>
                <td>Решения суда об аннулировании лицензии</td>
                <td><?= $this->escapeHtml($license->revocationDecision) ?></td>
            </tr>
            <?php  if(\Eo\Model\Export::isTestServer() && !empty($license->fileSign) ){  ?>
                <tr>
                    <td>Файл подписи</td>
                    <td>
                            <a href="<?= $this->escapeHtml($license->fileSign) ?>" target="_blank" >Скачать</a>
                    </td>
                </tr>
            <?php } ?>
            <?php  if(\Eo\Model\Export::isTestServer() && !empty($license->fileXml) ){  ?>
                <tr>
                    <td>XML-документ</td>
                    <td>
                            <a href="<?= $this->escapeHtml($license->fileXml) ?>" target="_blank" >Скачать</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>
<div class="row">
    <h2 style="display: inline-block;">Приложения к лицензии</h2>
    <a class="button" href="/eo/index/license-excerpt/<?= $guid ?>">Выписка с ОП</a>
    <a class="button" href="/eo/index/license-excerpt-no-program/<?= $guid ?>">Выписка</a>
    <table class="table table-bordered table-filled table-hover cells-centered">
        <thead>
            <tr>
                <th>№</th>
                <th class="col-md-8">Организация</th>
                <th class="col-md-3">Основание и дата принятого решения о выдаче</th>
                <th class="col-md-1">Статус</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($license->supplements as $supplement):
                if (empty($supplement)) {
                    continue;
                }
                $this->prepare($supplement, LicensesReestr\View\Helper\PrepareHelper::SUPPLEMENT_LIST);
                ?>
                <tr class="clickable" data-target="<?= $this->escapeHtml($supplement->guid) ?>">
                    <td><?= $this->escapeHtml($supplement->number) ?></td>
                    <td><?= $this->escapeHtml($supplement->eoName) ?></td>
                    <td><?= $this->escapeHtml($supplement->decision) ?></td>
                    <td><?= $this->escapeHtml($supplement->state) ?></td>
                </tr>
                <tr data-id="<?= $this->escapeHtml($supplement->guid) ?>" class="hidden">
                    <td colspan="4" class="td_b_none">

                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>