<?php /**
 * path: /module/LicensesReestr/view/licenses-reestr/index/search.phtml
 * url:  /rlic/search/?page=1
 */ ?>
<span class="glyphicon glyphicon-arrow-down hidden"></span>
<span class="glyphicon glyphicon-arrow-up hidden"></span>
<hr>
<?php if ($count > 0): ?>
    <h3>Результаты (<?php echo $count ?>)</h3>
    <table class="search-result table table-hover">
        <thead>
            <tr>
                <th class="sortable col-md-6" data-column="eoName">Наименование организации</th>
                <th class="sortable col-md-1" data-column="number">Рег. номер</th>
                <th class="sortable col-md-1" data-column="docSerie">Серия и номер бланка</th>
                <th class="sortable col-md-2" data-column="decDate">Решение о выдаче</th>
                <th class="sortable col-md-1" data-column="endDate">Срок действия</th>
                <th class="sortable col-md-1" data-column="state">Статус</th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach ($paginator->getCurrentItems() as $license):
                $this->prepare($license, LicensesReestr\View\Helper\PrepareHelper::LICENSE_SEARCH);
                ?>
                <tr data-guid="<?php echo $license->guid ?>">
                    <td><?php echo $this->escapeHTML($license->eoName) ?></td>
                    <td><?php echo $this->escapeHTML($license->number) ?></td>
                    <td><?php echo $this->escapeHTML($license->serieAndNumber) ?></td>
                    <td><?php echo $this->escapeHTML($license->decision) ?></td>
                    <td><?php echo $this->escapeHTML($license->endDate) ?></td>
                    <td><?php echo $this->escapeHTML($license->state) ?></td>
                </tr>
            <?php endforeach; ?>

        </tbody>
    </table>
    <?php
    echo $this->paginationControl(
      $paginator, 'sliding', 'licenses-reestr/partial/paginator', [
        'route' => 'rlick/search',
    ]);
    ?>
<?php else: ?>
    <h3>Ничего не найдено</h3>
<?php endif; ?>
<script>
    var column = '<?php echo $column ?>';
    var type = '<?php echo $type ?>';
    var templateDown = $('.glyphicon-arrow-down').clone().removeClass('hidden');
    var templateUp = $('.glyphicon-arrow-up').clone().removeClass('hidden');
    $('th[data-column="' + column + '"]').attr('data-type', type);
    $('th[data-column="' + column + '"]').prepend(type === 'ASC' ? templateUp : templateDown);    
</script>

