<?php
$this->prepare($supplement, LicensesReestr\View\Helper\PrepareHelper::SUPPLEMENT_DECISIONS);
?>

<table class="table table-bordered cells-centered">
    <tbody>
        <tr>
            <td class="col-md-4">Полное наименование организации (ФИО индивидуального предпринимателя)</td>
            <td class="col-md-8"><?= $this->escapeHtml($supplement->eoName) ?></td>
        </tr>
        <tr>
            <td>Сокращенное наименование</td>
            <td><?= $this->escapeHtml($supplement->eoShortName) ?></td>
        </tr>
        <tr>
            <td>Место нахождения организации</td>
            <td><?= $this->escapeHtml($supplement->eoAddress) ?></td>
        </tr>
        <?php if (!empty($supplement->reorganization)): ?>
            <tr>
                <td>Правопреемник</td>
                <td><?= $this->escapeHtml($supplement->reorganization) ?></td>
            </tr>
        <?php endif; ?>
        <?php if (!empty($supplement->reorganizationType)): ?>
            <tr>
                <td>Форма реорганизации</td>
                <td><?= $this->escapeHtml($supplement->reorganizationType) ?></td>
            </tr>
        <?php endif; ?>
        <tr>
            <td>Места осуществления образовательной деятельности</td>
            <td><?= $supplement->addresses ?></td>
        </tr>
        <tr>
            <td>Решение о выдаче приложения</td>
            <td><?= $this->escapeHtml($supplement->inoutDecision) ?></td>
        </tr>
        <tr>
            <td>Основание и дата прекращения действия</td>
            <td><?= $this->escapeHtml($supplement->terminationDecision) ?></td>
        </tr>
        <tr>
            <td>Решения лицензирующего органа о приостановлении действия</td>
            <td><?= $this->escapeHtml($supplement->suspensionDecision) ?></td>
        </tr>
        <tr>
            <td>Решения лицензирующего органа о возобновлении действия</td>
            <td><?= $this->escapeHtml($supplement->renewalDecision) ?></td>
        </tr>
        <?php  if(\Eo\Model\Export::isTestServer() &&  !empty($supplement->fileSign) ){  ?>
            <tr>
                <td>Файл подписи</td>
                <td>
                        <a href="<?= $this->escapeHtml($supplement->fileSign) ?>" target="_blank" >Скачать</a>
                </td>
            </tr>

        <?php } ?>
        <?php  if(\Eo\Model\Export::isTestServer() &&  !empty($supplement->fileXml) ){  ?>
            <tr>
                <td>XML-документ</td>
                <td>
                        <a href="<?= $this->escapeHtml($supplement->fileXml) ?>" target="_blank" >Скачать</a>
                </td>
            </tr>
        <?php } ?>

    </tbody>
</table>

<table class="table table-bordered table-filled cells-centered clear-bottom sortable">
    <thead>
        <tr>
            <th class="col-md-1">Код</th>
            <th class="col-md-3">Наименование</th>
            <th class="col-md-3">Вид ОП</th>
            <th class="col-md-2">Уровень</th>
            <th class="col-md-3">Квалификация</th>
        </tr>
    </thead>
    <tbody>
        <?php
        foreach ($supplement->programs as $program):
            if (empty($program)) {
                continue;
            }
            ?>
            <tr>
                <td><?= $this->escapeHtml($program->code) ?></td>
                <td><?= $this->escapeHtml($program->name) ?></td>
                <td><?= $this->escapeHtml($program->type) ?></td>
                <td><?= $this->escapeHtml($program->level) ?></td>
                <td><?= $this->escapeHtml($program->qualification) ?></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>