<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <title>Получение согласия эксперта</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" content ="ru">
    <!-- Le styles -->
    <?php

    echo $this->headLink()

    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()

    ?>
</head>
<body style="height: 100vh ; ">
     <div style="float: left ; width: 30% ; height: 100%"></div>
        <div id="wrapper" style="width: 40% ;     margin-left: 30%;">           
        <div class="top-block">
            <div class="text">
                <b>Получение согласия эксперта</b>
            </div>
            <div class="icon">

            </div>
        </div>
            <div><br></div>
        <div class="container" id="content">
            <?php echo $this->content; ?>
        </div>
        <div class="footer">
            <div class="bottom-block"></div>
        </div>
    </div>
</body>
</html>
