<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <title>Система государственной аккредитации</title>
    <meta charset="utf-8">
    <META HTTP-EQUIV="Content-language" content ="ru">
    <!-- Le styles -->
    <?php

    echo $this->headLink()

    ?>

    <!-- Scripts -->
    <?php echo $this->headScript()

    ?>
</head>
<body>
<div id="wrapper">
    <div class="top-block">
        <div class="text">
            ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ В СФЕРЕ ОБРАЗОВАНИЯ И НАУКИ
        </div>
        <div class="icon">

        </div>
    </div>
    <div class="container" id="content">
        <?php echo $this->content; ?>
    </div>
    <div class="footer">
        <div class="bottom-block"></div>
    </div>
</div>
</body>
</html>
